.bank-advantages {

   //background-image: url('/images/projects/smartkeeper/bank-advantages.jpg')
   padding: 90px 0px;
   position relative
   margin-bottom: 81px
   background-color: rgba(236, 97, 84, 1);
   /*     &:before{
           content: ''
           position absolute
           left 0px
           right 0px
           top 0px
           bottom 0px
       } */
   .block-wrapper {
      &:before {
         content: url('../images/projects/smartkeeper/gray_circlex2.png')
         position absolute
         top: -8%;
         left: 9%;
      }
   }
   &__title {
      font-size: 60px;
      color: #FFFFFF;
      line-height: 1.2;
      letter-spacing: 1px;
      font-weight: 700;
      font-family $font-title
      margin-bottom: 70px;
      display inline-block
      position: relative
      &:before {
         content ''
         background url(../images/projects/smartkeeper/dots.png)
         width 140px
         height 140px
         background-size cover
         position: absolute
         left: 91%;
         top: -23%;
      }
   }

}

.bank-advantage {
   border 2px solid rgba(255, 255, 255, 0.2);
   font-size 16px
   color #FFFFFF
   padding 41px 30px
   min-height 215px
   position relative
   &_low {
      min-height 240px
      box-sizing border-box
   }
   &__desc {
      max-width 230px
      &_max-width_none {
         max-width none
      }
   }
   &__title {
      &_highlight {
         margin-bottom 30px
         font-family $font-title
         font-size 18px
         line-height (28 / 18)
         max-height ((28 / 18) * 2em)
         overflow hidden
         text-overflow ellipsis
      }
   }
   &--one {
      &:before {
         content: ''
         svg('one', 40px)
         position absolute
         right -2px
         bottom -2px
         opacity 0.2
      }
   }
   &--two {
      &:before {
         content: ''
         svg('two', 75px)
         position absolute
         right -2px
         bottom -2px
         opacity 0.2
      }
   }
   &--three {
      &:before {
         content: ''
         svg('three', 75px)
         position absolute
         right -2px
         bottom -2px
         opacity 0.2
      }
   }
   &--four {
      &:before {
         content: ''
         svg('four', 75px)
         position absolute
         right -2px
         bottom -2px
         opacity 0.2
      }
   }
   &--five {
      &:before {
         content: ''
         svg('five', 75px)
         position absolute
         right -2px
         bottom -2px
         opacity 0.2
      }
   }
}
+do(750) {
   .bank-advantage {
      &__desc {
         max-width 100%
      }
   }
}

.bank-advantage_white {
   &.bank-advantage {
      flex 1 1 auto
      &__desc {
         max-width 230px
      }
      &--one {
         &:before {
            content: ''
            svg('1xxx', 40px, $color-white)
            position absolute
            right -2px
            bottom -2px
            opacity 1
         }
         &_snowy-blue {
            &:before {
               svg('1xxx', 40px, $color-blue-like-postamat)
            }
         }
      }
      &--two {
         &:before {
            content: ''
            svg('2xxx', 75px, $color-white)
            position absolute
            right -4px
            bottom -2px
            opacity 1
         }
         &_snowy-blue {
            &:before {
               svg('2xxx', 75px, $color-blue-like-postamat)
            }
         }
      }
      &--three {
         &:before {
            content: ''
            svg('3xxx', 75px, $color-white)
            position absolute
            right -2px
            bottom -2px
            opacity 1
         }
      }
      &--four {
         &:before {
            content: ''
            svg('4xxx', 75px, $color-white)
            position absolute
            right -2px
            bottom -2px
            opacity 1
         }
      }
      &--five {
         &:before {
            content: ''
            svg('5xxx', 75px, $color-white)
            position absolute
            right -2px
            bottom -2px
            opacity 1
         }
      }
      &--six {
         &:before {
            content: ''
            svg('6xxx', 75px, $color-white)
            position absolute
            right -2px
            bottom -2px
            opacity 1
         }
      }
      &--seven {
         &:before {
            content: ''
            svg('7xxx', 75px, $color-white)
            position absolute
            right -1px
            bottom -1px
            opacity 1
         }
      }
      &--eight {
         &:before {
            content: ''
            svg('8xxx', 75px, $color-white)
            position absolute
            right -3px
            bottom -3px
            opacity 1
         }
      }
      &--nine {
         &:before {
            content: ''
            svg('9xxx', 75px, $color-white)
            position absolute
            right -3px
            bottom -3px
            opacity 1
         }
      }
      &--ten {
         &:before {
            content: ''
            svg('10xxx', 140px, $color-white)
            position absolute
            right -3px
            bottom -3px
            opacity 1
         }
      }
   }
}

.bank-advantage_orange {
   border 2px solid rgba(255, 255, 255, 0.2)
   &.bank-advantage {
      flex 1 1 auto
      &__desc {
         max-width 230px
      }
      &--one {
         &:before {
            content: ''
            svg('1xxx', 40px, #FA7A1D)
            position absolute
            right -2px
            bottom -2px
            opacity 1
         }
      }
      &--two {
         &:before {
            content: ''
            svg('2xxx', 75px, #FA7A1D)
            position absolute
            right -4px
            bottom -2px
            opacity 1
         }
      }
   }
}

.bank-advantage_purple{
   border 2px solid rgba(255, 255, 255, 0.2)
   &.bank-advantage {
      flex 1 1 auto
      &__desc {
         max-width 230px
      }
      &--one {
         &:before {
            content: ''
            svg('1xxx', 40px, #882DE2)
            position absolute
            right -2px
            bottom -2px
            opacity 1
         }
      }
      &--two {
         &:before {
            content: ''
            svg('2xxx', 75px, #882DE2)
            position absolute
            right -4px
            bottom -2px
            opacity 1
         }
      }
   }
}

.bank-advantage_yellow {
   border 2px solid rgba(255, 255, 255, 0.2)
   &.bank-advantage {
      flex 1 1 auto
      &__desc {
         max-width 230px
      }
      &--one {
         &:before {
            content: ''
            svg('1xxx', 40px, #EFBB35)
            position absolute
            right -2px
            bottom -2px
            opacity 1
         }
      }
      &--two {
         &:before {
            content: ''
            svg('2xxx', 75px, #EFBB35)
            position absolute
            right -4px
            bottom -2px
            opacity 1
         }
      }
   }
}

.bank-advantage_blue-xdark {
   border 2px solid rgba(255, 255, 255, 0.2)
   min-height 0
   &.bank-advantage {
      flex 1 1 auto
      &--one {
         &:before {
            content: ''
            svg('1xxx', 40px, #241A94)
            position absolute
            right -2px
            bottom -2px
            opacity 1
         }
      }
      &--two {
         &:before {
            content: ''
            svg('2xxx', 75px, #241A94)
            position absolute
            right -4px
            bottom -2px
            opacity 1
         }
      }
   }
}

.bank-advantage_light_green{
   border 2px solid rgba(255, 255, 255, 0.2)
   &.bank-advantage {
      flex 1 1 auto
      &__desc {
         max-width 230px
      }
      &--one {
         &:before {
            content: ''
            svg('1xxx', 40px, #37C497)
            position absolute
            right -2px
            bottom -2px
            opacity 1
         }
      }
      &--two {
         &:before {
            content: ''
            svg('2xxx', 75px, #37C497)
            position absolute
            right -4px
            bottom -2px
            opacity 1
         }
      }
   }
}

.bank-advantage_height-small {
   min-height 100px
}

.bank-advantages-slider {
   .owl-carousel .owl-stage-outer {
      overflow: visible
   }
   .owl-item {
      opacity 0
   }
   .owl-item.active {
      opacity 1
      transition: .3s
      & ~ .owl-item {
         opacity: 1
      }
   }

}

+do(767) {
   .bank-advantages__title {
      font-size: 32px;
   }
}
