.requirements {
   padding 75px 0 124px
   &-info {
      display flex
      justify-content: space-between
      &__item {
         margin-bottom 63px
         max-width 420px
         font-family $font-manrope
         font-size 20px
         &_desktop {
            +do(980) {
               display none
            }
         }
         &_mobile {
            display none
            +do(980) {
               display block
            }
         }
      }
   }
   &-levels {
      position relative
      .gray-dots {
         top 50%
         left 0
         transform translateY(-50%)
      }
      &__wrap {
         display flex
         flex-wrap wrap
      }
   }
   &-level {
      width calc(100% / 3 - 40px)
      margin-right 30px
      padding 47px 50px
      border 2px solid rgba(226, 227, 234, 0.5)
      box-sizing border-box
      max-width 420px
      position relative
      background #fff
      &:nth-child(2) {
         margin-right 70px
         &:after {
            content: ''
            width 2px
            height 100%
            position absolute
            top 0
            right -38px
            background: rgba(226, 227, 234, 0.5)
         }
      }
      &:last-child {
         margin-right 0
      }
   }
}

+do(1080) {
   .requirements-level {
      width calc(100% / 3 - 20px)
      &:nth-child(2) {
         margin-right 30px
         &:after {
            display none
         }
      }
   }

}

+do(980) {
   .requirements-level {
      width: 100%
      margin-right 0
      padding: 25px 25px
      margin-bottom 20px
      max-width initial
      &:nth-child(2) {
         margin-right 0

      }
   }
   .requirements-info {
      flex-direction column
      &__item {
         margin-bottom 30px
      }

   }

}

+do(767) {
   .requirements {
      padding 30px 0 30px
   }
   .requirements-info {
      padding 30px 0 30px
      &__item {
         font-size 16px
      }
   }
}