{% extends "common/base.twig" %}
{% block header %}
    {% include 'common/header.twig' with {customClass:customClass} %}
{% endblock %}
{% block body %}
    <div class="error-404 block">
        <div class="error-404__wrapper block-wrapper">
            <div class="error-404__content">
                <div class="error-404__main">
                    <div class="error-404__title">
                        Страница <br> не найдена
                    </div>
                </div>
                <div class="error-404__side">
                    <div class="error-404__action">
                        <a href="/" class="error-404__action-link">
                            Вернуться на главную
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="error-404__img"></div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('.header-top').classList = 'header-top'
        document.querySelector('.body').classList.add('error_404')
        console.log(document.querySelector('.social'))
        document.querySelector('.social').classList.remove('social_dark')

        var logo = document.querySelector('.header-top__logo-img')
        var src = logo.getAttribute('src').replace('blue', 'white')
        logo.setAttribute('src', src)
      })
    </script>
{% endblock %}
{% block footer %}
    {% include 'common/footer.twig' %}
{% endblock %}
