{% extends "common/base.twig" %}

{% block javascripts %}
    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="//yastatic.net/share2/share.js"></script>
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="list-section">

        <div class="section">
            <div class="article__breadcrumbs-wrapper block-wrapper">
                {% set breadcrumbs = [{
                    url:'/',
                    name:'Главная',
                    isCurrent: false
                }, {
                    url:'news.html',
                    name:'Новости',
                    isCurrent: false
                }, {
                    url:'',
                    name:'Релиз новой версии электронного кошелька SmartKeeper для Expressbank',
                    isCurrent: true
                }] %}

                {% include 'modules/breadcrumbs.twig' with {breadcrumbs:breadcrumbs} %}
            </div>
        </div>

        <div class="section section_article-header">
            <div class="article__header-wrapper block-wrapper">
                <div class="article__header-caption">Релиз новой версии электронного кошелька SmartKeeper для Expressbank</div>
                <div class="article__info-wrapper">
                    <div class="article__info-tags">
                        <div class="article__info-date">11.09.2018</div>
                        <div class="article__info-tag">
                            <span>SmartKeeper</span>
                        </div>
                    </div>
                    <div class="article__info-share">
                        <div class="ya-share2" data-services="facebook,twitter,vkontakte,odnoklassniki,moimir"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section_article-widgets">
            <div class="article-widgets">
                <div class="article-widget article-widget_image">
                    <div class="article-img">
                        <img src="images/widget-image.png" alt="" class="article-img_photo">
                    </div>
                </div>
                <h2>Электронный кошелек SmartKeeper для Expressbank</h2>
                <p>Компания Soft-logic сообщает о выпуске обновленной мобильной версии Электронного кошелька SmartKeeper, внедренного в банке Expressbank.</p>
                <p>Expressbank является одним из ведущих банков Азербайджана, имеет широкую сеть филиалов - 16 отделений. Банк поддерживает работу 4000 POS-терминалов, владеет самой обширной сетью банковских терминалов самообслуживания в регионе, работающих на программном обеспечении Pay-logic,
                    также клиенты активно используют электронный кошелек ExpressPay E-wallet, являющийся разработкой на базе Электронного кошелька SmartKeeper. Данные инструменты приема платежей и оказания услуг всегда готовы к операционной деятельности для бизнеса и рядовых клиентов в режиме
                    24/7.</p>
                <div class="article-widget article-widget_image">
                    <div class="article-img">
                        <img src="images/widget-image2.png" alt="" class="article-img_photo">
                    </div>
                    <div class="article-explanation">
                        Обновленный ExpressPay E-wallet позволяет пополнять счет банковской картой, картой сдачи, ваучером или через банковские терминалы самообслуживания, переводить средства другим пользователям, оплачивать услуги различных поставщиков
                    </div>
                </div>
                <h3>Электронный кошелек SmartKeeper для Expressbank</h3>
                <p>При пополнении картой пользователь указывает номер телефона, к которому привязан кошелек, выбирает тип карты и сумму, система также позволяет сохранить карту для быстрого пополнения в дальнейшем. При выборе пополнения через терминал демонстрируется географическая карта и
                    список ближайших банковских терминалов самообслуживания, имеется возможность прокладки маршрута через сторонние навигаторы.</p>
                <p>Приложение содержит удобный функционал шаблонов и автоплатежей, уведомлений через различные каналы, позволяет настраивать пользовательские лимиты, предоставляет исчерпывающую информацию об истории транзакций.</p>
                <div class="article-widget article-widget_slider">
                    <div js-article-list class="article-slider">
                        <div class="article-slider__wrapper">
                            <div class="widget-slider-nav">
                                <div class="widget-slider-nav__wrapper" js-slider-nav>
                                </div>
                            </div>
                            <div js-article-slider class="article-slider__list">
                                {% set slides = [{
                                    src: 'images/slide1.png',
                                    alt: 'slide1',
                                    description: 'При пополнении картой пользователь указывает номер телефона, к которому привязан кошелек, выбирает тип карты и сумму, система также позволяет сохранить карту для быстрого пополнения в дальнейшем.'
                                },{
                                    src: 'images/slide2.png',
                                    alt: 'slide2',
                                    description: 'При пополнении картой пользователь указывает номер телефона, к которому привязан кошелек, выбирает тип карты и сумму, система также позволяет сохранить карту для быстрого пополнения в дальнейшем.'
                                },{
                                    src: 'images/slide1.png',
                                    alt: 'slide3',
                                    description: 'При пополнении картой пользователь указывает номер телефона.'
                                }] %}

                                {% for slide in slides %}
                                    <div class="article-slider__list-item">
                                        <div class="article-slider__item">
                                            <div class="article-slider__item-slide">
                                                <img src="{{ slide.src }}" alt="{{ slide.alt }}"/>
                                            </div>
                                            <div class="article-slider__description">
                                                <div class="article-slider__description-counter">
                                                    {{ loop.index }}/{{ slides.length }}</div>
                                                <div class="article-slider__description-text">
                                                    {{ slide.description }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article-widget article-widget_slider">
                    <div js-article-list class="article-slider">
                        <div class="article-slider__wrapper">
                            <div class="widget-slider-nav">
                                <div class="widget-slider-nav__wrapper" js-slider-nav>
                                </div>
                            </div>
                            <div js-article-slider class="article-slider__list">
                                {% set slides = [{
                                    src: 'images/slide1.png',
                                    alt: 'slide1',
                                    description: 'При пополнении картой пользователь указывает номер телефона, к которому привязан кошелек, выбирает тип карты и сумму, система также позволяет сохранить карту для быстрого пополнения в дальнейшем.'
                                },{
                                    src: 'images/slide2.png',
                                    alt: 'slide2',
                                    description: 'При пополнении картой пользователь указывает номер телефона, к которому привязан кошелек, выбирает тип карты и сумму, система также позволяет сохранить карту для быстрого пополнения в дальнейшем.'
                                },{
                                    src: 'images/slide1.png',
                                    alt: 'slide3',
                                    description: 'При пополнении картой пользователь указывает номер телефона.'
                                }] %}

                                {% for slide in slides %}
                                    <div class="article-slider__list-item">
                                        <div class="article-slider__item">
                                            <div class="article-slider__item-slide">
                                                <img src="{{ slide.src }}" alt="{{ slide.alt }}"/>
                                            </div>
                                            <div class="article-slider__description">
                                                <div class="article-slider__description-counter">
                                                    {{ loop.index }}/{{ slides.length }}</div>
                                                <div class="article-slider__description-text">
                                                    {{ slide.description }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <p>Компания Soft-logic сообщает о выпуске обновленной мобильной версии Электронного кошелька SmartKeeper, внедренного в банке Expressbank.</p>
                <p>Expressbank является одним из ведущих банков Азербайджана, имеет широкую сеть филиалов - 16 отделений. Банк поддерживает работу 4000 POS-терминалов, владеет самой обширной сетью банковских терминалов самообслуживания в регионе, работающих на программном обеспечении Pay-logic,
                    также клиенты активно используют электронный кошелек ExpressPay E-wallet, являющийся разработкой на базе Электронного кошелька SmartKeeper. Данные инструменты приема платежей и оказания услуг всегда готовы к операционной деятельности для бизнеса и рядовых клиентов в режиме
                    24/7.</p>
                <div class="article-widget article-widget_video">
                    <div class="article-video" js-article-video data-video-id="VYOjWnS4cMY">
                        <div class="article-video__preview" style="background-image: url('images/preview.png')">
                            <div class="article-video__preview-icon"></div>
                        </div>
                    </div>
                </div>
                <p>При пополнении картой пользователь указывает номер телефона, к которому привязан кошелек, выбирает тип карты и сумму, система также позволяет сохранить карту для быстрого пополнения в дальнейшем. При выборе пополнения через терминал демонстрируется географическая карта и
                    список ближайших банковских терминалов самообслуживания, имеется возможность прокладки маршрута через сторонние навигаторы.</p>
                <p>Приложение содержит удобный функционал шаблонов и автоплатежей, уведомлений через различные каналы, позволяет настраивать пользовательские лимиты, предоставляет исчерпывающую информацию об истории транзакций.</p>
                <h2>Обновленный ExpressPay E-walle</h2>
                <p>Компания Soft-logic сообщает о выпуске обновленной мобильной версии Электронного кошелька SmartKeeper, внедренного в банке Expressbank.</p>
                <p>Expressbank является одним из ведущих банков Азербайджана, имеет широкую сеть филиалов - 16 отделений. Банк поддерживает работу 4000 POS-терминалов, владеет самой обширной сетью банковских терминалов самообслуживания в регионе, работающих на программном обеспечении Pay-logic,
                    также клиенты активно используют электронный кошелек ExpressPay E-wallet, являющийся разработкой на базе Электронного кошелька SmartKeeper. Данные инструменты приема платежей и оказания услуг всегда готовы к операционной деятельности для бизнеса и рядовых клиентов в режиме
                    24/7.</p>
                <ul>
                    <li>Приложение содержит удобный функционал шаблонов и автоплатежей, уведомлений через различные каналы, позволяет настраивать пользовательские лимиты, предоставляет исчерпывающую информацию об истории транзакций.</li>
                    <li>Приложение содержит удобный функционал шаблонов и автоплатежей, уведомлений через различные каналы, позволяет настраивать пользовательские лимиты, предоставляет исчерпывающую информацию об истории транзакций.</li>
                    <li>Приложение содержит удобный функционал шаблонов и автоплатежей, уведомлений через различные каналы, позволяет настраивать пользовательские лимиты, предоставляет исчерпывающую информацию об истории транзакций.</li>
                </ul>
                <p>При пополнении картой пользователь указывает номер телефона, к которому привязан кошелек, выбирает тип карты и сумму, система также позволяет сохранить карту для быстрого пополнения в дальнейшем. При выборе пополнения через терминал демонстрируется географическая карта и
                    список ближайших банковских терминалов самообслуживания, имеется возможность прокладки маршрута через сторонние навигаторы.</p>
                <div class="article-widget article-widget_quote">
                    <div class="article-quote_text">
                        Успешность реализации данной задачи означает значительное упрощение работы для наших специалистов. Сокращение ресурсных и временных затрат на ее выполнение трудно переоценить внедрение нового продукта продемонстрировало отличные показатели эффективности для нашего банка, а
                        высокий уровень профессионализма наших подрядчиков, компании Soft-logic, позволил реализовать эти масштабные задачи в объективно сжатый срок
                    </div>
                    <div class="article-quote_author">Оксана Воробьева</div>
                    <div class="article-quote_description">Руководитель проекта «Платежный Хаб» МТС-банка</div>
                </div>
                <p class="article-text_paragraph">Компания Soft-logic сообщает о выпуске обновленной мобильной версии Электронного кошелька SmartKeeper, внедренного в банке Expressbank.</p>
                <p class="article-text_paragraph">Expressbank является одним из ведущих банков Азербайджана, имеет широкую сеть филиалов - 16 отделений. Банк поддерживает работу 4000 POS-терминалов, владеет самой обширной сетью банковских терминалов самообслуживания в регионе, работающих на
                    программном обеспечении Pay-logic, также клиенты активно используют электронный кошелек ExpressPay E-wallet, являющийся разработкой на базе Электронного кошелька SmartKeeper. Данные инструменты приема платежей и оказания услуг всегда готовы к операционной деятельности для
                    бизнеса и рядовых клиентов в режиме 24/7.</p>
            </div>
        </div>

        <div class="section section_same-articles half-background half-left-border">
            <div class="article__same-wrapper block-wrapper">
                <div class="article__same-header">
                    <div class="article__same-caption">Читать также</div>
                    <div class="link-wrapper">
                        <a href="#" class="article__same-link">К списку новостей</a>
                    </div>
                </div>

                <div class="article__same-slider">
                    <div js-articles-slider class="article">
                        <div js-articles-slider-list class="article__wrapper article__wrapper_same">
                            {% set articles = [{
                                title:'Релиз новой версии электронного кошелька SmartKeeper для Expressbank',
                                context:'ого кошелька SmartKeeper для банка Expressbank.',
                                data:'21.11.2018'
                            },{
                                title:'Релиз новой верс',
                                context:'Компания Soft-logic сообщает о релизе новой версии платформы электронного кошелька SmartKeeper для банка Expressbank. Компания Soft-logic сообщает о релизе',
                                data:'21.11.2018'
                            },{
                                title:'Релиз новой версии электронного кошелька SmartKeeper для Expressbank',
                                context:'Компания Soft-logic сообщает о релизе новой версии платформы электронного кошелька SmartKeeper для банка Expressbank. Компания Soft-logic сообщает о релизе Компания Soft-logic сообщает о релизе Компания Soft-logic сообщает о релизе Компания Soft-logic сообщает о релизе Компания Soft-logic сообщает о релизеs',
                                data:'21.11.2018'
                            },{
                                title:'Релиз новой версии электронного кошелька SmartKeeper SmartKeeper SmartKeeper SmartKeeper SmartKeeper для Expressbank',
                                context:'Компания Soft-logic сообщает о релизе новой версии платформы электронного кошелька SmartKeepe электронного кошелька SmartKeepe электронного кошелька SmartKeepe электронного кошелька SmartKeepe электронного кошелька SmartKeepe электронного кошелька SmartKeepe электронного кошелька SmartKeepe электронного кошелька SmartKeepe r для банка Expressbank. Компания Soft-logic сообщает о релизе',
                                data:'21.11.2018'
                            },{
                                title:'Релиз новой версии электронного кошелька SmartKeeper для Expressbank',
                                context:'Компания Soft-logic сообщает о релизе новой версии платформы электронного кошелька SmartKeeper для банка Expressbank.',
                                data:'21.11.2018'
                            },{
                                title:'Релиз новой версии электронного кошелька SmartKeeper для Expressbank',
                                context:'Компания Soft-logic сообщает о релизе новой версии платформы электронного кошелька SmartKeeper для банка Expressbank.',
                                data:'21.11.2018'
                            }] %}

                            {% for article in articles %}
                                <a href="#" class="article__item article__item_same">
                                    <div class="article__item-caption">
                                        {{ article.title }}
                                    </div>
                                    <div class="article__text-wrapper">
                                        <div class="article__item-text">
                                            {{ article.context }}
                                        </div>
                                    </div>
                                    <div class="article__tag-wrapper">
                                        <div class="article__tag-date">{{ article.data }}</div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div js-socials-badge class="socials-badge block">
        <div class="socials-badge__wrapper block-wrapper">
            <div class="socials-badge__main">
                <div class="ya-share2" data-services="facebook,twitter,linkedin,viber,whatsapp,skype,telegram" data-lang="ru"></div>
            </div>
            <div class="socials-badge__side">
                <div js-socials-badge-icon class="socials-badge__icon"></div>
            </div>
        </div>
    </div>

{% endblock %}
