{% extends "common/base.twig" %}
{% block body_mod %}{% endblock %}
{% block body %}
    <div class="basic-page block">
        <div class="basic-page__wrapper block-wrapper">
            <div class="basic-page__breadcrumbs">
                {% set breadcrumbs = [{
                    url:'/',
                    name:'Главная',
                    isCurrent: false
                }, {
                    url:'#',
                    name:'Кейсы',
                    isCurrent: true
                }] %}
                {% include 'modules/breadcrumbs.twig' with {breadcrumbs:breadcrumbs} %}
            </div>
            <div class="basic-page__body">
                <div class="case-widgets">
                    <div class="case-widgets__item">
                        <div class="case-intro">
                            <div class="case-intro__wrapper">
                                <div class="case-intro__main">
                                    <h1 class="basic-page__title case-intro__title">
                                        МТС Банк
                                    </h1>
                                    <div class="case-intro__desc">
                                        Изначально в МТС-Банке были внедрены программные решения большого количества различных поставщиков услуг, что осложняло управление и оптимизацию работы с ними, поскольку каждый поставщик предлагал собственное решение управления бизнес-процессами, собственный
                                        интерфейс, собственные процедуры. Это обстоятельство вызвало определенные трудности в дальнейшем развитии платежных инструментов банка и уменьшало их возможности по извлечению прибыли из всех процессов.
                                    </div>
                                </div>
                                <div class="case-intro__side">
                                    <div class="case-intro__logo">
                                        <img src="images/case/mts-bank-logo.svg" alt="">
                                    </div>
                                    <div class="case-intro__img" style="background-image: url('images/case/mts-case.jpg')"></div>
                                    <div class="case-intro__caption">
                                        <img src="images/case/mts-bank-caption.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="case-widgets__item">
                        <div class="case-desc">
                            <div class="case-desc__item">
                                <div class="case-text">
                                    <div class="case-text__item case-text__item_half">
                                        <p>
                                            По результатам тендера «Платежный Хаб» компания Soft-logic была объявлена победителем, а продукт «Процессинговый центр Pay-logic» признан наиболее подходящим решением для поставленных задач.
                                        </p>
                                        <p>
                                            Первым этапом внедрения стал трудоемкий процесс формирования требований между банком и компанией, который длился около 3 месяцев. На данном этапе специалисты компании совместно с большой командой заказчика провели слаженную работу по формированию
                                            требований
                                            и составили планы внедрения проекта, включающие определенные сроки и дальнейшие действия по их реализации.  
                                        </p>
                                    </div>
                                    <div class="case-text__item">
                                        <ul>
                                            <li>
                                                Внедрение платежного хаба в пассивном режиме. Хаб интегрировался с двумя информационными системами банка: процессинговый центр (для осуществления платежей и переводов) и подключение к ДБО (для осуществления платежей к внешним поставщикам услуг)
                                            </li>
                                            <li>
                                                Внедрение платежного хаба в пассивном режиме. Хаб интегрировался с двумя информационными системами банка: процессинговый центр (для осуществления платежей и переводов) и подключение к ДБО (для осуществления платежей к внешним поставщикам услуг)
                                            </li>
                                            <li>
                                                Внедрение платежного хаба в пассивном режиме. Хаб интегрировался с двумя информационными системами банка: процессинговый центр (для осуществления платежей и переводов) и подключение к ДБО (для осуществления платежей к внешним поставщикам услуг)
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="case-widgets__item">
                        <div class="case-quote">
                            <div class="case-quote__wrapper">
                                <div class="case-quote__side">
                                    <div class="case-quote__info">
                                        Успешность реализации данной задачи означает значительное упрощение работы для наших специалистов. Сокращение ресурсных и временных затрат на ее выполнение трудно переоценить внедрение нового продукта продемонстрировало отличные показатели эффективности для
                                        нашего
                                        банка, а высокий уровень профессионализма наших подрядчиков, компании Soft-logic, позволил реализовать эти масштабные задачи в объективно сжатый срок
                                    </div>
                                </div>
                                <div class="case-quote__main">
                                    <div class="case-quote__title">
                                        Оксана Воробьева
                                    </div>
                                    <div class="case-quote__desc">
                                        Руководитель проекта «Платежный Хаб» МТС-банка
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="case-widgets__item">
                        <div class="case-statistics">
                            <div class="case-statistics__side">
                                <div class="case-statistics__title">
                                    Ключевые метрики
                                </div>
                            </div>
                            <div class="case-statistics__main">
                                <div class="list-metric">
                                    <div class="list-metric__list">
                                        <div class="list-metric__list-item">
                                            <div class="list-metric__item">
                                                <div class="list-metric__item-side">
                                                    <div class="list-metric__item-title">
                                                        x 2
                                                    </div>
                                                </div>
                                                <div class="list-metric__item-main">
                                                    <div class="list-metric__item-desc">
                                                        В последний день первого операционного года решение Процессинговый центр Pay-logic обработало вдвое больше операций, в сравнении с предыдущей системой
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-metric__list-item">
                                            <div class="list-metric__item">
                                                <div class="list-metric__item-side">
                                                    <div class="list-metric__item-title">
                                                        + 60%
                                                    </div>
                                                </div>
                                                <div class="list-metric__item-main">
                                                    <div class="list-metric__item-desc">
                                                        В последний день первого операционного года решение Процессинговый центр Pay-logic обработало вдвое больше операций, в сравнении с предыдущей системой
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-metric__list-item">
                                            <div class="list-metric__item">
                                                <div class="list-metric__item-side">
                                                    <div class="list-metric__item-title">
                                                        + 300
                                                    </div>
                                                </div>
                                                <div class="list-metric__item-main">
                                                    <div class="list-metric__item-desc">
                                                        В последний день первого операционного года решение Процессинговый центр Pay-logic обработало вдвое больше операций, в сравнении с предыдущей системой
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="case-widgets__item">
                        <div class="case-next">
                            <div class="case-next__wrapper">
                                <div class="case-next__side">
                                    <div class="case-next__title">
                                        Следующий кейс
                                    </div>
                                </div>
                                <a href="#" class="case-next__main">
                                    <div class="case-next__overlay" style="background-color: #b20932;"></div>
                                    <div class="case-next__background" style="background-image: url('images/case/russian-bank-wrapper.jpg')"></div>
                                    <div class="case-next__content">
                                        <div class="case-next__content-logo">
                                            <img src="images/case/russian-standart.png" alt="">
                                        </div>
                                        <div class="case-next__content-title">
                                            Банк Русский Стандарт
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'modules/callback-tile.twig' with {title:'Хотите также?',desc:'Оставьте заявку и наши специлисты свяжутся с вами
в ближайшее время'} %}
        </div>
    </div>
{% endblock %}
