{% extends "common/base.twig" %}
{% block header %}
    {% set customClass = "half-background" %}
    {% include 'common/header.twig' with {customClass:customClass} %}
{% endblock %}
{% block body %}
    <div class="list-section">
        <div class="section section_products">
            <div class="section__wrapper">
                <div class="section-content">
                    <div class="section-content__main">
                        <div class="section__header half-background">
                            <div class="section-header">
                                <div class="section-header__wrapper block-wrapper">
                                    <div class="section-header__breadcrumbs">
                                        {% set breadcrumbs = [{
                                            url:'/',
                                            name:'Главная',
                                            isCurrent: false
                                        }, {
                                            url:'#',
                                            name:'Кейсы',
                                            isCurrent: true
                                        }] %}

                                        {% include 'modules/breadcrumbs.twig' with {breadcrumbs:breadcrumbs} %}
                                    </div>
                                    <div class="section-header__title section-header__title_with-border half-left-border">
                                        Кейсы
                                    </div>
                                    <div class="section-header__tags">
                                        <form js-tags action="#" method="get" class="tags">
                                            <div class="tags__wrapper">
                                                {% set tags = [{
                                                    name:'tags',
                                                    value:'smartkeeper',
                                                    caption:'SmartKeeper'
                                                },{
                                                    name:'tags',
                                                    value:'pc',
                                                    caption:'ПЦ Pay-Logic'
                                                },{
                                                    name:'tags',
                                                    value:'another1',
                                                    caption:'Еще один тег'
                                                },{
                                                    name:'tags',
                                                    value:'another2',
                                                    caption:'Еще один тег'
                                                }] %}

                                                {% for tag in tags %}
                                                    <label js-tags-item class="toggle-tag">
                                                        <input js-filtertag-item type="checkbox" value="{{ tag.value }}"
                                                               name="{{ tag.name }}" class="toggle__input">
                                                        <div class="tags__item">
                                                            <span class="tags__item-caption">{{ tag.caption }}</span>
                                                        </div>
                                                    </label>
                                                {% endfor %}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section__content">
                            <div class="cases">
                                <div class="cases__wrapper block-wrapper">
                                    <div class="cases-content">
                                        <div class="cases-content__wrapper">
                                            <div class="cases__content">
                                                <div class="cases__case-wrapper">
                                                    <div class="case">
                                                        <div class="case__wrapper">
                                                            {% set cases = [{
                                                                img: 'images/cases/mts-bank-logo.svg',
                                                                description: 'Краткое тематическое описание предположительно в две строки',
                                                                tags: 'SmartKeeper',
                                                                bg: 'rgba(225, 8, 17, 1)'
                                                            },{
                                                                img: 'images/cases/russian-standart.png',
                                                                description: 'Краткое тематическое описание предположительно в две строки',
                                                                tags: 'Процессинговый центр Pay-logic',
                                                                bg: 'rgba(178, 9, 50, 1)'
                                                            },{
                                                                img: 'images/cases/kiev-star-logo.png',
                                                                description: 'Краткое тематическое описание предположительно в две строки',
                                                                tags: 'Платежный хаб Pay-logic',
                                                                bg: 'rgba(0, 159, 254, 1)'
                                                            },{
                                                                img: 'images/cases/mts-bank-logo.svg',
                                                                description: 'Краткое тематическое описание предположительно в две строки',
                                                                tags: 'SmartKeeper',
                                                                bg: 'rgba(225, 8, 17, 1)'
                                                            },{
                                                                img: 'images/cases/russian-standart.png',
                                                                description: 'Краткое тематическое описание предположительно в две строки',
                                                                tags: 'Процессинговый центр Pay-logic',
                                                                bg: 'rgba(178, 9, 50, 1)'
                                                            },{
                                                                img: 'images/cases/kiev-star-logo.png',
                                                                description: 'Краткое тематическое описание предположительно в две строки',
                                                                tags: 'Платежный хаб Pay-logic',
                                                                bg: 'rgba(0, 159, 254, 1)'
                                                            },{
                                                                img: 'images/cases/mts-bank-logo.svg',
                                                                description: 'Краткое тематическое описание предположительно в две строки',
                                                                tags: 'SmartKeeper',
                                                                bg: 'rgba(225, 8, 17, 1)'
                                                            },{
                                                                img: 'images/cases/russian-standart.png',
                                                                description: 'Краткое тематическое описание предположительно в две строки',
                                                                tags: 'Процессинговый центр Pay-logic',
                                                                bg: 'rgba(178, 9, 50, 1)'
                                                            },{
                                                                img: 'images/cases/kiev-star-logo.png',
                                                                description: 'Краткое тематическое описание предположительно в две строки',
                                                                tags: 'Платежный хаб Pay-logic',
                                                                bg: 'rgba(0, 159, 254, 1)'
                                                            },{
                                                                img: 'images/cases/mts-bank-logo.svg',
                                                                description: 'Краткое тематическое описание предположительно в две строки',
                                                                tags: 'SmartKeeper',
                                                                bg: 'rgba(225, 8, 17, 1)'
                                                            },{
                                                                img: 'images/cases/russian-standart.png',
                                                                description: 'Краткое тематическое описание предположительно в две строки',
                                                                tags: 'Процессинговый центр Pay-logic',
                                                                bg: 'rgba(178, 9, 50, 1)'
                                                            },{
                                                                img: 'images/cases/kiev-star-logo.png',
                                                                description: 'Краткое тематическое описание предположительно в две строки',
                                                                tags: 'Платежный хаб Pay-logic',
                                                                bg: 'rgba(0, 159, 254, 1)'
                                                            }] %}

                                                            {% for case in cases %}
                                                                <a href="#" class="case-item">
                                                                    <div class="case-item__shadow"
                                                                         style="color: {{ case.bg }}"></div>
                                                                    <div class="case-item__wrapper"
                                                                         style="background-color: {{ case.bg }}">
                                                                        <div class="case-item__header">
                                                                            <div class="case-item__image-background"
                                                                                 style="background-image: url({{ case.img }})"></div>
                                                                        </div>
                                                                        <div class="case-item__description-wrapper">
                                                                            <div class="case-item__description">{{ case.description }}</div>
                                                                        </div>
                                                                        <div class="case-item__tag-wrapper">
                                                                            <div class="case-item__tag">{{ case.tags }}</div>
                                                                            <?xml version="1.0" encoding="utf-8"?>
                                                                            <!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                                            <svg width="26" height="18"
                                                                                 viewBox="0 0 26 18" fill="none"
                                                                                 class="case-item__tag-arrow"
                                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                                <path fill-rule="evenodd"
                                                                                      clip-rule="evenodd"
                                                                                      fill="red"
                                                                                      d="M20.783 10.244L15.0082 16.2956L16.6346 18L25.2 9.02418L23.5736 7.3198L23.568 7.32562L16.5773 0L14.9509 1.70438L20.7999 7.83366H0V10.244H20.783Z"/>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cases__more-btn">
                                                    {% set isHaveMore = true %}
                                                    {% if isHaveMore %}
                                                        <form action="#" method="post" class="cases__btn-wrapper">
                                                            <input type="hidden">
                                                            <button class="article__btn"><span class="cases__btn-text">Показать еще</span>
                                                            </button>
                                                        </form>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
