{% extends "common/base.twig" %}
{% block javascripts %}
    <script src="https://api-maps.yandex.ru/2.0-stable/?apikey=7279ff52-8cf6-46ef-9f49-043703363ac3&load=package.standard&lang=ru-RU" type="text/javascript"></script>
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="basic-page block">
        <div class="basic-page__wrapper block-wrapper">
            <div class="basic-page__breadcrumbs">
                {% set breadcrumbs = [{
                    url:'/',
                    name:'Главная',
                    isCurrent: false
                }, {
                    url:'#',
                    name:'Кейсы',
                    isCurrent: true
                }] %}
                {% include 'modules/breadcrumbs.twig' with {breadcrumbs:breadcrumbs} %}
            </div>
            <div class="basic-page__body">
                <div class="company-widgets">
                    <div class="company-widgets__item">
                        <div class="company-intro">
                            <div class="company-intro__wrapper">
                                <div class="company-intro__main">
                                    <h1 class="basic-page__title company-intro__title">
                                        Soft-Logic
                                    </h1>
                                    <div class="company-intro__desc">
                                        Компания Soft-logic является разработчиком программного обеспечения для платежных систем, банков и сферы коммунального хозяйства с 2008 года. В настоящее время компанией осуществлено свыше 70 внедрений собственных программных решений в 20 странах мира.
                                    </div>
                                </div>
                                <div class="company-intro__side">
                                    <div class="company-intro__logo">
                                        <img src="images/company/company-hub.png" alt="">
                                    </div>
                                    <div class="company-intro__img"></div>
                                    <div class="company-intro__caption">
                                        <img src="images/company/soft-logic.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="company-widgets__item">
                        <div class="company-section company-section_map">
                            <div class="company-section__side">
                                <div class="company-section__title">
                                    Статистика внедрения
                                </div>
                            </div>
                            <div class="company-section__main">
                                <div class="company-map">
                                    <img src="images/company/map.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="company-widgets__item">
                        <div class="company-section company-section_row_medium">
                            <div class="company-section__side">
                                <div class="company-section__title">
                                    Общее описание
                                </div>
                            </div>
                            <div class="company-section__main">
                                <div class="company-text">
                                    <div class="company-text__item company-text__item_half">
                                        Основная деятельность компании затрагивает внедрение инновационных платежных решений в различных коммерческих, промышленных отраслях и финансовом секторе, включающих внедрение собственных технологических разработок:
                                    </div>
                                </div>
                                <div class="company-articles"></div>
                            </div>
                        </div>
                        <div class="company-section company-section_articles company-section_row_medium">
                            <div class="company-section__main">
                                <div class="company-articles">
                                    <div class="company-articles__list">
                                        {% for item in 1..5 %}
                                            <div class="company-articles__list-item">
                                                <a href="#" class="article-card article-card_hover_simple">
                                                    <div class="article-card__wrapper">
                                                        <div class="article-card__header">
                                                            Электронный кошелек
                                                            Smart Keeper
                                                        </div>
                                                        <div class="article-card__body">
                                                            <div class="article-card__desc">
                                                                SmartKeeper — технологичная платформа интернет-платежей позволяющая выполнять оплату товаров и услуг с помощью различных платежных средств: интернет-деньги, банковские карты, платежные терминалы
                                                            </div>
                                                        </div>
                                                        <div class="article-card__footer">
                                                            <div class="article-card__tag">
                                                                Payment, + дополнительный тег
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="company-section company-section">
                            <div class="company-section__main">
                                <div class="company-cols">
                                    <div class="company-cols__list">
                                        <div class="company-cols__list-item">
                                            <div class="company-text">
                                                <div class="company-text__item">
                                                    Наши технологические возможности и накопленный опыт позволяют удовлетворить потребности заказчиков любого масштаба, от единичных терминалов и небольшого количества устройств до крупных объединенных платежных сетей, совмещающих устройства в рамках
                                                    региона или страны.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="company-cols__list-item">
                                            <div class="company-text">
                                                <div class="company-text__item">
                                                    Мы предоставляем как готовые коробочные продукты, так и полностью кастомизированные решения, разработанные в соответствии с уникальными требованиями заказчика, включающие широчайшие возможности индивидуальной кастомизации, аппаратных и программных
                                                    доработок. Помимо внедрения программного обеспечения наша компания оказывает услуги по подбору и приобретению оборудования, консультационные услуги и техническую поддержку.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="company-widgets__item">
                        <div class="company-statistics">
                            <div class="company-statistics__side">
                                <div class="company-statistics__title">
                                    Достижения
                                </div>
                            </div>
                            <div class="company-statistics__main">
                                <div class="list-metric">
                                    <div class="list-metric__list">
                                        <div class="list-metric__list-item">
                                            <div class="list-metric__item">
                                                <div class="list-metric__item-side">
                                                    <div class="list-metric__item-title">
                                                        70+
                                                    </div>
                                                </div>
                                                <div class="list-metric__item-main">
                                                    <div class="list-metric__item-desc">
                                                        Платежных систем в различных странах мира
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-metric__list-item">
                                            <div class="list-metric__item">
                                                <div class="list-metric__item-side">
                                                    <div class="list-metric__item-title">
                                                        10 000 +
                                                    </div>
                                                </div>
                                                <div class="list-metric__item-main">
                                                    <div class="list-metric__item-desc">
                                                        Устройств самообслуживания под управлением
                                                        нашего ПО
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-metric__list-item">
                                            <div class="list-metric__item">
                                                <div class="list-metric__item-side">
                                                    <div class="list-metric__item-title">
                                                        1 млн +
                                                    </div>
                                                </div>
                                                <div class="list-metric__item-main">
                                                    <div class="list-metric__item-desc">
                                                        Операций в день, сотни миллионов записей в базе данных ПЦ, опыт работы с большими обьемами данных
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="company-widgets__item company-widgets__item_row-bottom_none">
                        <div js-team-slider class="team-slider">
                            <div class="team-slider__wrapper">
                                <div class="team-slider__main">
                                    <div class="team-slider__title">
                                        Команда
                                    </div>
                                    <div class="team-slider__desc">
                                        Штат компании составляют 40 сотрудников, включающих 18 разработчиков, 8 специалистов технической поддержки, 6 специалистов отдела тестирования и аналитики, 4 архитектора и менеджера проектов. Большинство специалистов компании работают в данной сфере с начала
                                        2000-х годов, с момента возникновения терминального бизнеса в РФ.

                                        Все сотрудники компании профессионалы в своей отрасли, имеют колоссальный опыт и компетенции для разработки коммерческих продуктов.
                                    </div>
                                </div>
                                <div class="team-slider__side">
                                    <div js-team-list class="team-slider__persons">
                                        <div js-team-list-item class="team-slider__person is-active">
                                            <div class="team-slider__person-info">
                                                <div class="team-slider__person-title">Александр Воробьев 1</div>
                                                <div class="team-slider__person-desc">Основатель компании,
                                                    ведущий разработчик
                                                </div>
                                            </div>
                                            <div class="team-slider__person-image" style="background-image: url('images/company/unit.png')"></div>
                                        </div>
                                        <div js-team-list-item class="team-slider__person">
                                            <div class="team-slider__person-info">
                                                <div class="team-slider__person-title">Александр Воробьев 2</div>
                                                <div class="team-slider__person-desc">Основатель компании,
                                                    ведущий разработчик
                                                </div>
                                            </div>
                                            <div class="team-slider__person-image" style="background-image: url('images/company/unit.png')"></div>
                                        </div>
                                        <div js-team-list-item class="team-slider__person">
                                            <div class="team-slider__person-info">
                                                <div class="team-slider__person-title">Александр Воробьев 3</div>
                                                <div class="team-slider__person-desc">Основатель компании,
                                                    ведущий разработчик
                                                </div>
                                            </div>
                                            <div class="team-slider__person-image" style="background-image: url('images/company/unit.png')"></div>
                                        </div>
                                        <div js-team-list-item class="team-slider__person">
                                            <div class="team-slider__person-info">
                                                <div class="team-slider__person-title">Александр Воробьев 4</div>
                                                <div class="team-slider__person-desc">Основатель компании,
                                                    ведущий разработчик
                                                </div>
                                            </div>
                                            <div class="team-slider__person-image" style="background-image: url('images/company/unit.png')"></div>
                                        </div>
                                        <div js-team-list-item class="team-slider__person">
                                            <div class="team-slider__person-info">
                                                <div class="team-slider__person-title">Александр Воробьев 5</div>
                                                <div class="team-slider__person-desc">Основатель компании,
                                                    ведущий разработчик
                                                </div>
                                            </div>
                                            <div class="team-slider__person-image" style="background-image: url('images/company/unit.png')"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="team-slider__nav">
                                <div js-team-nav class="simple-nav">
                                    <div class="simple-nav__wrapper">
                                        <div js-team-prev class="simple-nav__item simple-nav__item_prev"></div>
                                        <div js-team-next class="simple-nav__item simple-nav__item_next"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="company-widgets__item company-widgets__item_row-top_none">
                        <div class="company-hr">
                            <div class="company-hr__wrapper">
                                <a href="#" class="company-hr__main">
                                    <div class="company-hr__overlay" style="background-color: #274DAB;"></div>
                                    <div class="company-hr__background" style="background-image: url('images/company/company-hr.jpg');"></div>
                                    <div class="company-hr__content">
                                        <div class="company-hr__content-title">
                                            Хочешь в команду?
                                        </div>
                                        <div class="company-hr__content-desc">
                                            Если ты компетентный, мотивированный, имеешь активную жизненую позицию то мы ждем тебя в команде!
                                        </div>
                                        <div class="company-hr__content-action">
                                            <div class="company-hr__link">
                                                Отправить резюме
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="vacancies vacancies_row_top">
                            <div class="vacancies__list">
                                {% for item in 1..5 %}
                                    <div class="vacancies__list-item">
                                        <div class="vacancy">
                                            <div class="vacancy__wrapper">
                                                <div class="vacancy__title">
                                                    Java-boy # {{ loop.index }}
                                                </div>
                                                <div class="vacancy__desc">
                                                    Знание J2EE технологий (JSP/ Servlets, JSF, JPA)
                                                    Владение OOP Java (Java SE, JDBC, JSP+JSTL, Servlets, JSF, Hibernate)
                                                    Опыт работы с многопоточными приложениями
                                                </div>
                                                <div class="vacancy__tag">
                                                    Барнаул
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="company-widgets__item company-widgets__item_row-bottom_none">
                        <div class="company-section company-section_row_medium">
                            <div class="company-section__side">
                                <div class="company-section__title">
                                    Сертификаты
                                </div>
                            </div>
                            <div class="company-section__main">
                                <div class="company-text">
                                    <div class="company-text__item company-text__item_half">
                                        Основная деятельность компании затрагивает внедрение инновационных платежных решений в различных коммерческих, промышленных отраслях и финансовом секторе, включающих внедрение собственных технологических разработок:
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="company-section">
                            <div class="company-section__main">
                                <div js-certificates class="certificates">
                                    <div class="certificates__main">
                                        <div js-certificates-list class="certificates__list">
                                            {% for item in 1..9 %}
                                                <div class="certificates__list-item">
                                                    <a data-fancybox="1" href="http://placehold.it/720x1204" class="certificates__item" style="background-image: url('images/company/cer1.png')"></a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="certificates__side">
                                        <div js-certificates-nav class="certificates__nav"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="company-widgets__item">
                        <div class="company-section">
                            <div class="company-section__main">
                                <div class="contacts-cols">
                                    <div class="contacts-cols__side">
                                        <div class="contacts-cols__title">
                                            Контакты
                                        </div>
                                    </div>
                                    <div class="contacts-cols__main">
                                        <div class="contacts-cols__list">
                                            <div class="contacts-cols__list-item">
                                                <div class="contacts-cols__phones">
                                                    <div class="contacts-cols__phones-item">
                                                        <a href="tel:+7465654465" class="contacts-cols__phone">
                                                            <div class="contacts-cols__phone-city">Москва</div>
                                                            <div class="contacts-cols__phone-number">
                                                                +7(495) 760-45-99
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="contacts-cols__phones-item">
                                                        <a href="tel:+7465654465" class="contacts-cols__phone">
                                                            <div class="contacts-cols__phone-city">Барнаул</div>
                                                            <div class="contacts-cols__phone-number">
                                                                +7(495) 760-45-99
                                                            </div>
                                                            <div class="contacts-cols__phone-desc">
                                                                (с 6:00 до 15:00 по московскому времени)
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="contacts-cols__list-item">
                                                <div class="contacts-cols__additional-list">
                                                    <div class="contacts-cols__additional-item">
                                                        <a href="#" class="contacts-cols__additional-link contacts-cols__additional-link_mail">info@soft-logic.ru</a>
                                                    </div>

                                                    <div class="contacts-cols__additional-item">
                                                        <a href="#" class="contacts-cols__additional-link contacts-cols__additional-link_telegram">@softlogic</a>
                                                    </div>

                                                    <div class="contacts-cols__additional-item">
                                                        <a href="#" class="contacts-cols__additional-link contacts-cols__additional-link_skype">soft-logic</a>
                                                    </div>

                                                    <div class="contacts-cols__additional-item">
                                                        <a href="#" class="contacts-cols__additional-link contacts-cols__additional-link_whatsapp">+7 903 947 9447</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'modules/callback-tile.twig' with {map:true} %}
        </div>
    </div>
{% endblock %}
