{% extends "common/base.twig" %}
{% block header %}
    {% set headerTop = "is-side-light is-tablet-dark" %}
    {% include 'common/header.twig' with {headerTop:headerTop} %}
{% endblock %}
{% block body_mod %}{% endblock %}
{% block body %}
    <div class="products-sections">
        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="product-intro">
                    <div class="product-intro__wrapper">
                        <div class="product-intro__main">
                            <h1 class="product-intro__title product-intro__title_tablet_small">
                                Архитектура программного обеспечения платежного киоска
                            </h1>
                        </div>
                        <div class="product-intro__side">
                            <div class="product-intro__billboard" style="background-image: url('images/core/intro-core.png')"></div>
                            <div class="product-intro__logo">
                                <img src="images/pay-logic.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_bg_medium-size products-sections__item_vertical-padding products-sections__item_gap-large block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-main">
                    <div class="product-informer">
                        <div class="product-informer__side">
                            <div class="product-informer__title">
                                Платежный киоск самообслуживания
                            </div>
                        </div>
                        <div class="product-informer__main">
                            <div class="product-informer__desc">
                                Платежный киоск - это программно аппаратный комплекс с сенсорным управлением, позволяющий клиентам самостоятельно формировать корзины товаров или услуг и оплачивать их. Возможности, необходимые для заказчика, реализуются в специализированном программном обеспечении
                                Pay-logic Kiosk, которое может быть установлено на киоск под управлением ОС Windows или ОС Linux. Доступны варианты исполнения киосков в вандалозащитном корпусе.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-main">
                    <div class="product-informer">
                        <div class="product-informer__side">
                            <div class="product-informer__desc">
                                Производители на российском и зарубежном рынке используют разные термины для устройств со схожим функционалом:
                            </div>
                        </div>
                        <div class="product-informer__main">
                            <div class="support-wrap">
                                <div class="support-wrap__item">
                                    <ul class="support-item support-item_green support-item_dark">
                                        <li>Терминал самообслуживания</li>
                                        <li>Платежный терминал</li>
                                        <li>Киоск самообслуживания</li>
                                    </ul>
                                </div>
                                <div class="support-wrap__item">
                                    <ul class="support-item support-item_green support-item_dark">
                                        <li>Платежный киоск</li>
                                        <li>Электронный кассир</li>
                                        <li>Self-service payment kiosk</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_dark products-sections__item_vertical-padding products-sections__item_padding-bottom_none products-sections__item_gap-large block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__item-subtitle products-sections__item-subtitle_white">
                        Классификация киосков по типу:
                    </div>
                </div>
                <div class="products-sections__item-main">
                    {% set grid_list_scenarios = [
                        { title: 'Платежные киоски с&nbsp;возможностью наличной оплаты' },
                        { title: 'Платежные киоски с&nbsp;возможностью безналичной оплаты' },
                        { title: 'Платежные киоски с&nbsp;наличной и&nbsp;безналичной оплатой' },
                        { title: 'Платежные киоски с&nbsp;функцией рециркуляции наличности' },
                        { mod: 'info-grid__item_3x', title: 'Информационно-платежные киоски&nbsp;&mdash; как правило характеризуются наличием второго рекламного дисплея или основным широкоформатным дисплеем с&nbsp;портретным расположением' },
                    ] %}
                    <div class="info-grid">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                {% for item in grid_list_scenarios %}
                                    <div class="info-grid__item {% if item.mod %}{{ item.mod }}{% endif %}">
                                        <div class="info-grid-card info-grid-card_dark info-grid-card_min-height_none">
                                            <div class="info-grid-card__wrapper">
                                                <div class="info-grid-card__count info-grid-card__count_green">{{ loop.index }}</div>
                                                <div class="info-grid-card__title">{{ item.title }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="terminal-list">
                        <div class="terminal-list__list">
                            {% set terminals = [{
                                title:'А — 33',
                                img:'images/core/terminal-1.png'
                            }, {
                                title:'А — 72',
                                img:'images/core/terminal-2.png'
                            }, {
                                title:'Q — 72',
                                img:'images/core/terminal-3.png'
                            }] %}

                            {% for terminal in terminals %}
                                <div class="terminal-list__list-item">
                                    <div class="terminal-list__item {{ 'terminal-list__item_' ~ loop.index }}">
                                        <div class="terminal-list__item-side">
                                            <div class="terminal-list__item-img">
                                                <img src="{{ terminal.img }}" alt="">
                                            </div>
                                        </div>
                                        <div class="terminal-list__item-main">
                                            <div class="terminal-list__item-caption">
                                                {{ terminal.title }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            {% set possibilitys = [
                {
                    number:'one',
                    title: 'Замена кассира',
                    text:'Путем полной автоматизации рутинной работы по&nbsp;приему оплаты от&nbsp;клиентов. Переход к&nbsp;реализации товаров и&nbsp;услуг в&nbsp;современном формате',
                    img: '/images/core/core-step-1.png'
                },{
                    number:'two',
                    title: 'Экономический эффект',
                    text:'Снижение затрат на&nbsp;содержание персонала. Киоск самообслуживания позволяет отказаться от&nbsp;необходимости повышения квалификации сотрудников, устранить снижение эффективности по&nbsp;причине отпусков, болезней, зависимость от&nbsp;текучести кадров',
                    img: '/images/core/core-step-2.png'
                },{
                    number:'three',
                    title: 'Дополнительный функционал',
                    text:'Информирование клиента, демонстрация рекламы,
в&nbsp;том числе видеороликов, на&nbsp;основном экране платежного киоска и&nbsp;втором мониторе при его наличии',
                    img: '/images/core/core-step-3.png'
                }
            ] %}
            <div class="block">
                <div class="block-wrapper block-wrapper--possibilitys">
                    <div class="possibilitys ">
                        <div class="block-wrapper possibilitys-title title title-h1">
                            Назначение <br> киоска
                        </div>
                        <div class="possibilitys-list">
                            {% for item in possibilitys %}
                                <div class="possibilitys-item {{ item.mod }} possibilitys-item--{{ item.number }}">
                                    <div class="possibilitys-item__text possibilitys-item__text--{{ item.number }}">
                                        <div class="possibilitys-item__text-number possibilitys-item__text-number--{{ item.number }}"></div>
                                        <div class="possibilitys-item__text-layout">
                                            <div class="possibilitys-item__text-title">
                                                {{ item.title }}
                                            </div>
                                            <div class="possibilitys-item__text-description">
                                                {{ item.text }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="possibilitys-item__img possibilitys-item__img--{{ item.number }}">
                                        {% if item.number == 'four' %}
                                            <div class="four-map"></div>
                                        {% endif %}
                                        {% if item.img %}
                                            <img src="{{ item.img }}">
                                        {% endif %}
                                        {% if item.number == 'six' %}
                                            <div class="btn">Оплатить через SmartKeeper</div>
                                        {% endif %}
                                        {% if item.number == 'eight' %}
                                            <div class="step-eight">
                                                <div class="step-eight__logo">
                                                    <img src="/images/projects/smartkeeper/eight_logo.svg">
                                                </div>
                                                <div class="step-eight__arrow">
                                                    <img src="/images/projects/smartkeeper/eight_arrow.svg">
                                                </div>
                                                <div class="step-eight__bank">
                                                    <img src="/images/projects/smartkeeper/eight_bank.svg">
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item">
            <div class="section-map section-map_dark block">
                <div class="section-map__wrapper block-wrapper">
                    <div class="section-map__side">
                        <div class="section-map__title">
                            Архитектура программного обеспечения киоска самообслуживания
                        </div>
                    </div>
                    <div class="section-map__main">
                        <div class="section-map__img">
                            <div class="section-map__img-box">
                                <img src="images/core/map.png" alt="">
                                <?xml version="1.0" encoding="utf-8"?>
                                <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 940 1200" enable-background="new 0 0 940 1200" xml:space="preserve">
                                    <g id="Слой_2">
                                        <circle class="map-point" opacity="0" fill="#FFFFFF" cx="368.8" cy="248.4" r="38.5"/>
                                        <circle class="map-point" opacity="0" fill="#FFFFFF" cx="589.3" cy="268.8" r="52.8"/>
                                        <circle class="map-point" opacity="0" fill="#FFFFFF" cx="677.6" cy="500.2" r="35.5"/>
                                        <circle class="map-point" opacity="0" fill="#FFFFFF" cx="268" cy="500.2" r="37.4"/>
                                        <circle class="map-point" opacity="0" fill="#FFFFFF" cx="446.7" cy="600" r="44.3"/>
                                        <circle class="map-point" opacity="0" fill="#FFFFFF" cx="497" cy="665.3" r="12.2"/>
                                        <circle class="map-point" opacity="0" fill="#FFFFFF" cx="497" cy="698.9" r="12.6"/>
                                        <circle class="map-point" opacity="0" fill="#FFFFFF" cx="222.6" cy="875.3" r="24"/>
                                        <circle class="map-point" opacity="0" fill="#FFFFFF" cx="313.9" cy="871.8" r="20.5"/>
                                        <circle class="map-point" opacity="0" fill="#FFFFFF" cx="411.6" cy="874.1" r="25.2"/>
                                        <circle class="map-point" opacity="0" fill="#FFFFFF" cx="525" cy="875.3" r="28"/>
                                        <circle class="map-point" opacity="0" fill="#FFFFFF" cx="624.1" cy="875.3" r="22.9"/>
                                        <circle class="map-point" opacity="0" fill="#FFFFFF" cx="708.4" cy="871.8" r="20.5"/>
                                        <circle class="map-point" opacity="0" fill="#FFFFFF" cx="326.6" cy="1060.6" r="30.8"/>
                                        <circle class="map-point" opacity="0" fill="#FFFFFF" cx="591.7" cy="1062.2" r="32.4"/>
                                        <circle class="map-point" opacity="0" fill="#FFFFFF" cx="545.1" cy="126.7" r="17.8"/>
                                        <circle class="map-point" opacity="0" fill="#FFFFFF" cx="638.3" cy="126.7" r="16.2"/>
                                        <circle class="map-point" opacity="0" fill="#FFFFFF" cx="246.6" cy="126.7" r="42.8"/>
                                        <circle js-map-point data-target="core-web" class="map-point is-visible" opacity="0" fill="#FFFFFF" cx="446.7" cy="411.7" r="53"/>
                                    </g>
</svg>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_bg_blue products-sections__item_vertical-padding block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__item-title products-sections__item-title_phone_small">
                        Процессинговый центр <br> Pay-logic
                    </div>
                    <div class="section-desc">
                        <div class="section-desc__wrapper">
                            Центральный сервер системы с&nbsp;установленными СУБД,
                            набором веб-ориентированных и&nbsp;фоновых приложений, обеспечивающий:
                        </div>
                    </div>
                </div>
                <div class="products-sections__item-main">
                    <div class="rows-info">
                        <div class="rows-info__wrapper">
                            <div class="rows-info__main">
                                <div class="rows-info__content rows-info__content_max-width_large">
                                    <div class="support-wrap">
                                        <div class="support-wrap__item">
                                            <ul class="support-item">
                                                <li>Ведение базы клиентов, платежных киосков, услуг</li>
                                                <li>Удаленное управление сетью платежных киосков</li>
                                                <li>Процессирование платежей в адрес получателей</li>
                                                <li>Мониторинг работы платежной сети</li>
                                            </ul>
                                        </div>
                                        <div class="support-wrap__item">
                                            <ul class="support-item">
                                                <li>Уведомление о нештатных ситуациях ответственных лиц</li>
                                                <li>Формирование финансовой и технической отчетности</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rows-info__side">
                                <div class="rows-info__actions">
                                    <div class="rows-info__actions-item">
                                        <a href="" target="_blank" class="link-arrow">Процессинговый центр</a>
                                    </div>
                                    <div class="rows-info__actions-item">
                                        <a href="" target="_blank" class="link-arrow">Платежный хаб</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-delimiter block-wrapper"></div>
        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__item-title">
                        Сервер обновлений <br> Pay-logic
                    </div>
                    <div class="section-desc">
                        <div class="section-desc__wrapper">
                            Является структурированным файловым хранилищем, доступ к&nbsp;которому осуществляется через сеть Интернет по&nbsp;протоколу https. При получении сигнала от&nbsp;центрального сервера о&nbsp;необходимости обновления, киоск:
                        </div>
                    </div>
                </div>
                <div class="products-sections__item-main">
                    <div class="info-grid">
                        <div class="info-grid__wrapper">

                            {% set grid_list_scenarios = [
                                { title: 'Запрашивает специальный файл-дескриптор со&nbsp;списком актуальных файлов на&nbsp;сервере' },
                                { title: 'Выполняет сверку локальных файлов с&nbsp;файлами на&nbsp;сервере и&nbsp;формирует список изменившихся файлов' },
                                { title: 'Скачивает только изменившиеся файлы. При этом поддерживается алгоритм докачки после разрыва соединения и&nbsp;выполняется несколько попыток для полной загрузки каждого файла' },
                                { title: 'После успешной загрузки всех файлов и&nbsp;проверки их&nbsp;контрольных сумм запускается процедура обновления, в&nbsp;результате которой все программные модули останавливаются, скачанные файлы копируются в&nbsp;рабочие каталоги' }
                            ] %}

                            <div class="info-grid__list">
                                {% for item in grid_list_scenarios %}
                                    <div class="info-grid__item {% if item.mod %}{{ item.mod }}{% endif %}">
                                        <div class="info-grid-card">
                                            <div class="info-grid-card__wrapper">
                                                <div class="info-grid-card__count info-grid-card__count_green">{{ loop.index }}</div>
                                                <div class="info-grid-card__title">{{ item.title }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-delimiter block-wrapper"></div>
        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="section-cols section-cols_bg_grey section-cols_offset">
                    <div class="section-cols__list">
                        <div class="section-cols__list-item">
                            <div class="products-img">
                                <img src="images/core/terminal-connect.png" alt="">
                            </div>
                        </div>
                        <div class="section-cols__list-item">
                            <p>
                                Киоск непрерывно передает на&nbsp;сервер информацию о&nbsp;текущей стадии обновления, позволяя контролировать процесс обновления сети
                            </p>
                            <p>
                                Система обновлений Pay-logic является высокоэффективной системой, позволяющей быстро, надежно и&nbsp;с&nbsp;минимальными расходами интернет-трафика обновлять сеть киосков самообслуживания любого масштаба
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-delimiter block-wrapper"></div>
        <div class="products-sections__item products-sections__item_bg_black_notebook products-sections__item_vertical-padding block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__item-title products-sections__item-title_phone_small">
                        Каркас <br> веб-приложения
                    </div>
                    <div class="section-desc">
                        <div class="section-desc__wrapper">
                            Представляет из&nbsp;себя набор веб-страниц, обеспечивающих <br> общие бизнес-процессы. К&nbsp;ним относятся:
                        </div>
                    </div>
                </div>
                <div class="products-sections__item-main">
                    <div class="rows-info">
                        <div class="rows-info__wrapper">
                            <div class="rows-info__main rows-info__main_row_none">
                                <div class="rows-info__content rows-info__content_max-width_large">
                                    <div class="support-wrap">
                                        <div class="support-wrap__item">
                                            <ul class="support-item">
                                                <li>Страница загрузки приложения</li>
                                                <li>Страница ошибки платежного киоска</li>
                                                <li>Главный экран с выбором приложений
                                                    <br>
                                                    <span class="additional-li">(точка входа для пользователя) </span>
                                                </li>
                                                <li>Различные экраны подтверждений выбранных покупок</li>
                                                <li>Платежные экраны</li>
                                            </ul>
                                        </div>
                                        <div class="support-wrap__item">
                                            <ul class="support-item">
                                                <li>Выбор варианта оплаты  </li>
                                                <li> Экраны финализации платежа
                                                    <br>
                                                    <span class="additional-li">(успешный платеж, ошибка и т. д.) </span>
                                                </li>
                                                <li>Диалог с 1 кнопкой, диалог с 2 кнопками, кастомные диалоги</li>
                                                <li> Экраны финализации платежа
                                                    <br>
                                                    <span class="additional-li">(успешный платеж, ошибка и т. д.) </span>
                                                </li>
                                                <li> Экраны ожидания
                                                    <br>
                                                    <span class="additional-li">(ожидание онлайн-запросов, экраны ожидания данных и т. д.) </span>
                                                </li>
                                                <li>Экраны сервисного меню</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-delimiter block-wrapper"></div>
        <div js-map-target="core-web" class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__item-title products-sections__item-title_phone_small">
                        Ядро <br> веб-приложения
                    </div>
                    <div class="section-desc">
                        <div class="section-desc__wrapper">
                            Представляет из себя набор js-скриптов, обеспечивающих:
                        </div>
                    </div>
                </div>
                <div class="products-sections__item-main">
                    <div class="rows-info">
                        <div class="rows-info__wrapper">
                            <div class="rows-info__main rows-info__main_row_none">
                                <div class="rows-info__content rows-info__content_max-width_xlarge">
                                    <div class="support-wrap">
                                        <div class="support-wrap__item">
                                            <ul class="support-item support-item_green support-item_dark">
                                                <li>Общие принципы функционирования и навигации веб-приложения</li>
                                                <li>Получение глобального статуса киоска и реакция на него
                                                    <br>
                                                    <span class="additional-li">(блокировка точки, неисправность оборудования, отсутствие связи) </span>
                                                </li>

                                                <li>Специализированное API оплаты для внешних модулей</li>
                                                <li>Верхнеуровневую бизнес-логику, связанную с оплатой
                                                    <br>
                                                    <span class="additional-li">(инициация оплаты, прослушивание данных от <br> фонового приложения и т. д.) </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="support-wrap__item">
                                            <ul class="support-item support-item_green support-item_dark">
                                                <li> Переключение языка</li>
                                                <li> Работу сервисного меню киоска</li>
                                                <li> Воспроизведение рекламы и сбор статистики по ее показам</li>
                                                <li> Работу с мультимедийным оборудованием
                                                    <br>
                                                    <span class="additional-li">(Веб-камера, микрофон, динамики)</span>
                                                </li>
                                                <li>Работу специализированных модулей
                                                    <br>
                                                    <span class="additional-li">(почтоматы, валютообменные терминалы и т. д.)</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-delimiter block-wrapper"></div>
        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__item-title">
                        Pay-logic Kiosk API
                    </div>
                    <div class="section-desc">
                        <div class="section-desc__wrapper">
                            Публичный набор бизнес-методов, которые служат для передачи управления киоску с&nbsp;целью
                        </div>
                    </div>
                </div>
                <div class="products-sections__item-main">
                    <div class="info-grid info-grid_3x">
                        <div class="info-grid__wrapper">

                            {% set grid_list_scenarios = [
                                { title: 'Обеспечения процесса оплаты' },
                                { title: 'Взаимодействия с другими видами оборудования' },
                                { title: 'Выполнения типовых бизнес-задач, например, подтверждения номера телефона по одноразовому коду' },
                            ] %}

                            <div class="info-grid__list">
                                {% for item in grid_list_scenarios %}
                                    <div class="info-grid__item {% if item.mod %}{{ item.mod }}{% endif %}">
                                        <div class="info-grid-card">
                                            <div class="info-grid-card__wrapper">
                                                <div class="info-grid-card__count info-grid-card__count_green">{{ loop.index }}</div>
                                                <div class="info-grid-card__title">{{ item.title }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-delimiter block-wrapper"></div>
        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="section-cols section-cols_offset">
                    <div class="section-cols__list">
                        <div class="section-cols__list-item">
                            <p>
                                Возможно добавление любых других методов, которые потребуются для реализации бизнес-процесса конечного заказчика
                            </p>
                            <p>
                                Компания Soft-logic гарантирует неизменность публичного API. Это означает, что однажды разработанное приложение будет работать
                                на&nbsp;любых версиях программного обеспечения Pay-logic Kiosk. Полное описание Pay-logic Kiosk API предоставляется заказчику по&nbsp;запросу.
                            </p>
                            <p>
                                <a href="#" target="_blank" class="link-arrow link-arrow_github link-arrow_github_green link-arrow_green">Посмотреть на GitHub</a>
                            </p>
                        </div>
                        <div class="section-cols__list-item section-cols__list-item_align_center">
                            <div class="products-img">
                                <img src="images/kiosk-api.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-delimiter block-wrapper"></div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-main">
                    <div class="product-informer product-informer_max-width_none">
                        <div class="product-informer__side">
                            <div class="product-informer__title">
                                После обращения к Pay-logic Kiosk API:
                            </div>
                        </div>
                        <div class="product-informer__main">
                            <div class="support-wrap">
                                <div class="support-wrap__item">
                                    <ul class="support-item support-item_green support-item_dark">
                                        <li>Происходит переход на страницу с выбором варианта оплаты</li>
                                        <li>После выбора варианта оплаты вызывается необходимый сценарий оплаты
                                            <br>
                                            <span class="additional-li"> (безналичная оплата, наличная оплата)  </span>
                                        </li>
                                        <li> После успешного завершения оплаты киоск фискализирует платеж <br>
                                            и выдает печатный чек
                                        </li>
                                    </ul>
                                </div>
                                <div class="support-wrap__item">
                                    <ul class="support-item support-item_green support-item_dark">
                                        <li>Генерируется объект платежа с указанием всех атрибутов платежной операции</li>
                                        <li>Сгенерированный объект отправляется в информационную систему заказчика, <br>
                                            тем самым подтверждая факт оплаты 
                                        </li>
                                        <li>Веб-приложение переходит в точку входа (главное меню) для обслуживания <br> очередного клиента</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_bg_black products-sections__item_vertical-padding block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__item-title products-sections__item-title_phone_small">
                        Бизнес-приложения
                    </div>
                    <div class="section-desc">
                        <div class="section-desc__wrapper">
                            Бизнес-приложение&nbsp;&mdash; это приложение реализующее формирование
                            и&nbsp;оплату заказа для конечного пользователя. Приложения условно делятся на&nbsp;два вида:
                        </div>
                    </div>
                </div>
                <div class="products-sections__item-main">
                    <div class="rows-info">
                        <div class="rows-info__wrapper">
                            <div class="rows-info__main rows-info__main_row_none">
                                <div class="rows-info__content rows-info__content_max-width_medium">
                                    <div class="stages-list stages-list_2x stages-list_between">
                                        <div class="stages-list__list">
                                            <div class="stages-list__list-item">
                                                <div class="stage-item stage-item_1">
                                                    <div class="stage-item__wrapper">
                                                        <div class="stage-item__side">
                                                            <div class="stage-item__icon"></div>
                                                        </div>
                                                        <div class="stage-item__main">
                                                            <div class="stage-item__desc">
                                                                Веб-приложения, работающие через REST-API
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="stages-list__list-item">
                                                <div class="stage-item stage-item_2">
                                                    <div class="stage-item__wrapper">
                                                        <div class="stage-item__side">
                                                            <div class="stage-item__icon"></div>
                                                        </div>
                                                        <div class="stage-item__main">
                                                            <div class="stage-item__desc">
                                                                Веб-сайты, открывающиеся внутри фрейма
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large products-sections__item_bg_small-size products-sections__item_vertical-padding block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__item-title products-sections__item-title_small">
                        Веб-приложение
                    </div>
                    <div class="section-desc section-desc_offset-top_small section-desc_max-width_none">
                        <div class="section-desc__wrapper">
                            <div class="section-cols section-cols_border-bottom">
                                <div class="section-cols__list">
                                    <div class="section-cols__list-item">
                                        <p>
                                            В данном варианте разрабатываемое приложение реализует всю логику работы, необходимую для формирования и/или оплаты заказа.
                                            Для формирования атрибутного состава операции приложение может самостоятельно взаимодействовать с необходимыми веб-сервисами.
                                        </p>
                                        <p>
                                            Разработка веб-приложения может быть произведена как заказчиком самостоятельно, так и нами, включая проработку бизнес-процессов
                                            и проектирование пользовательских интерфейсов.
                                        </p>
                                    </div>
                                    <div class="section-cols__list-item section-cols__list-item_align_bottom">
                                        <div class="products-img">
                                            <img src="images/core/web-app.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-sections__item-main">
                    <div class="support-wrap">
                        <div class="support-wrap__item">
                            <div class="support-title support-title_dark">К преимуществам данного подхода относится:</div>
                            <ul class="support-item support-item_green support-item_dark">
                                <li>К&nbsp;преимуществам данного подхода относится:</li>
                                <li>Скорость реакции платежного интерфейса. Любое взаимодействие <br> по&nbsp;сети предполагает обмен небольшими порциями информации
                                </li>
                                <li> В&nbsp;некоторых случаях&nbsp;&mdash; возможность работы в&nbsp;оффлайне или <br> на&nbsp;нестабильных каналах связи
                                </li>
                            </ul>
                        </div>
                        <div class="support-wrap__item">
                            <div class="support-title support-title_dark">К недостаткам данного подхода можно отнести:</div>
                            <ul class="support-item support-item_green support-item_dark">
                                <li>Сравнительно высокие затраты на&nbsp;разработку приложения</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__item-title products-sections__item-title_small">Внешний сайт</div>
                    <div class="section-desc section-desc_offset-top_small">
                        <div class="section-desc__wrapper">
                            В данном варианте предполагается открытие на киоске уже существующего веб-сайта. При этом заказчик должен решить несколько относительно простых задач:
                        </div>
                    </div>
                </div>
                <div class="products-sections__item-main">
                    <div class="info-grid info-grid_3x">
                        <div class="info-grid__wrapper">
                            {% set grid_list_scenarios = [
                                { title: 'Обеспечить возможность оплаты через механизмы киоска (вызвать нужный метод Pay-logic Kiosk API)' },
                                { title: 'Обеспечить возможность ввода данных с&nbsp;помощью виртуальных клавиатур' },
                                { title: 'Для удобства работы на&nbsp;сенсорном киоске использовать другие стили (укрупненный шрифт, увеличенные отступы между элементами и&nbsp;т.&nbsp;д.)' },
                            ] %}
                            <div class="info-grid__list">
                                {% for item in grid_list_scenarios %}
                                    <div class="info-grid__item {% if item.mod %}{{ item.mod }}{% endif %}">
                                        <div class="info-grid-card">
                                            <div class="info-grid-card__wrapper">
                                                <div class="info-grid-card__count info-grid-card__count_green">{{ loop.index }}</div>
                                                <div class="info-grid-card__title">{{ item.title }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="section-cols section-cols_border-bottom section-cols_stretches">
                                    <div class="section-cols__list">
                                        <div class="section-cols__list-item">
                                            <div class="support-wrap">
                                                <div class="support-wrap__item">
                                                    <div class="support-title support-title_dark">Компания Soft-logic уже позаботилась о некоторых аспектах решения этих задач:</div>
                                                    <ul class="support-item support-item_green support-item_dark">
                                                        <li>Возможно использовать встроенные в&nbsp;ядро виртуальные клавиатуры&nbsp;&mdash; при клике в&nbsp;поле ввода будет открыта стандартная буквенно-цифровая клавиатура, которую клиент сможет использовать для ввода данных</li>
                                                        <li>Встроенный механизм защиты системы киоска предотвращает открытие новых окон или вкладок, переходы на&nbsp;сторонние сайты</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section-cols__list-item section-cols__list-item_align_bottom">
                                            <div class="products-img">
                                                <img src="images/core/terminal-connect-2.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_server-api products-sections__item_bg-left-offset-grey products-sections__item_vertical-padding block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__item-title">
                        Pay-logic Server API
                    </div>
                    <div class="section-desc">
                        <div class="section-desc__wrapper">
                            Это набор методов, которыми ПО платежного киоска общается с сервером Pay-logic. К ним относится:
                        </div>
                    </div>
                </div>
                <div class="products-sections__item-main">
                    <div class="section-delimiter"></div>
                    <div class="info-grid info-grid_4x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_min-height_none info-grid-card_offset-top_none info-grid-card_grey">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count info-grid-card__count_green">1</div>
                                            <div class="info-grid-card__title">
                                                Запрос справочников, необходимых для работы киоска
                                                <br>
                                                <span class="transparent">(данные&nbsp;юр. лица, данные платежной точки, контакты и&nbsp;режим работы службы поддержки и&nbsp;другие)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_min-height_none info-grid-card_offset-top_none info-grid-card_grey">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count info-grid-card__count_green">2</div>
                                            <div class="info-grid-card__title">
                                                Передача информации:
                                                <br>
                                                <ul class="green-mark -offset-top-small">
                                                    <li>О типах и состоянии оборудования </li>
                                                    <li>О совершенных платежах</li>
                                                    <li>О произведенной инкассации</li>
                                                    <li>О системе</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_min-height_none info-grid-card_offset-top_none info-grid-card_grey">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count info-grid-card__count_green">3</div>
                                            <div class="info-grid-card__title">
                                                Передача различных технических событий
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_min-height_none info-grid-card_offset-top_none info-grid-card_grey">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count info-grid-card__count_green">4</div>
                                            <div class="info-grid-card__title">
                                                Пакетная передача статистики
                                                по показам рекламы
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-delimiter"></div>
        <div class="products-sections__item products-sections__item_bg_black products-sections__item_vertical-padding block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__item-title products-sections__item-title_phone_small">
                        Pay-logic Daemon <br> (PaylogicD)
                    </div>
                    <div class="section-desc">
                        <div class="section-desc__wrapper">
                            Это фоновое приложение, обеспечивающее:
                        </div>
                    </div>
                </div>
                <div class="products-sections__item-main">
                    <div class="rows-info">
                        <div class="rows-info__wrapper">
                            <div class="rows-info__main rows-info__main_row_none">
                                <div class="rows-info__content rows-info__content_max-width_none">
                                    <div class="stages-list stages-list_3x stages-list_between">
                                        <div class="stages-list__list">
                                            <div class="stages-list__list-item stages-list__list-item_1">
                                                <div class="stage-item stage-item_offset stage-item_offset_1">
                                                    <div class="stage-item__wrapper">
                                                        <div class="stage-item__side">
                                                            <div class="stage-item__icon"></div>
                                                        </div>
                                                        <div class="stage-item__main">
                                                            <div class="ul-list">
                                                                <div class="ul-list__list">
                                                                    <div class="ul-list__list-item">
                                                                        <div class="ul-list__item">
                                                                            <div class="ul-list__item-side">
                                                                                <div class="ul-list__item-title">
                                                                                    Устройства по работе с наличностью
                                                                                </div>
                                                                            </div>
                                                                            <div class="ul-list__item-main">
                                                                                <div class="ul-list__children">
                                                                                    <div class="ul-list__children-item">— Купюроприемники</div>
                                                                                    <div class="ul-list__children-item">— Рециклеры банкнот</div>
                                                                                    <div class="ul-list__children-item">— Диспенсеры банкнот</div>
                                                                                    <div class="ul-list__children-item">— Монетоприемники</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ul-list__list-item">
                                                                        <div class="ul-list__item">
                                                                            <div class="ul-list__item-side">
                                                                                <div class="ul-list__item-title">
                                                                                    Устройства по оплате банковскими картами
                                                                                </div>
                                                                            </div>
                                                                            <div class="ul-list__item-main">
                                                                                <div class="ul-list__children">
                                                                                    <div class="ul-list__children-item">— POS-терминалы
                                                                                        <br>
                                                                                        <span class="transparent">(Сбербанк, ARCUS 2, INPAS DC и другие)</span>
                                                                                    </div>
                                                                                    <div class="ul-list__children-item">— Специализированные платежные модули, включающие пин-пад и карт-ридер</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ul-list__list-item">
                                                                        <div class="ul-list__item">
                                                                            <div class="ul-list__item-side">
                                                                                <div class="ul-list__item-title">
                                                                                    Устройства фискализации операции
                                                                                </div>
                                                                            </div>
                                                                            <div class="ul-list__item-main">
                                                                                <div class="ul-list__children">
                                                                                    <div class="ul-list__children-item">— Онлайн-кассы</div>
                                                                                    <div class="ul-list__children-item">— Сервисы фискализации, в том числе наш собственный фискальный сервер</div>
                                                                                    <div class="ul-list__children-item">— Диспенсеры банкнот</div>
                                                                                    <div class="ul-list__children-item">— Монетоприемники</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ul-list__list-item">
                                                                        <div class="ul-list__item">
                                                                            <div class="ul-list__item-side">
                                                                                <div class="ul-list__item-title">
                                                                                    Устройства печати документов
                                                                                </div>
                                                                            </div>
                                                                            <div class="ul-list__item-main">
                                                                                <div class="ul-list__children">
                                                                                    <div class="ul-list__children-item">— Термопринтеры</div>
                                                                                    <div class="ul-list__children-item">— Билетные принтеры</div>
                                                                                    <div class="ul-list__children-item">— IPP принтеры <span class="transparent">(CUPS и Windows printing)</span></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ul-list__list-item">
                                                                        <div class="ul-list__item">
                                                                            <div class="ul-list__item-side">
                                                                                <div class="ul-list__item-title">
                                                                                    Устройства по автоматизации
                                                                                    ввода реквизитов
                                                                                </div>
                                                                            </div>
                                                                            <div class="ul-list__item-main">
                                                                                <div class="ul-list__children">
                                                                                    <div class="ul-list__children-item">— Сканеры штрихкодов</div>
                                                                                    <div class="ul-list__children-item"> — Считыватели проводных
                                                                                        и беспроводных смарт-карт и RFID меток
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ul-list__list-item">
                                                                        <div class="ul-list__item">
                                                                            <div class="ul-list__item-side">
                                                                                <div class="ul-list__item-title">
                                                                                    Другие устройства:
                                                                                </div>
                                                                            </div>
                                                                            <div class="ul-list__item-main">
                                                                                <div class="ul-list__children">
                                                                                    <div class="ul-list__children-item">— Диспенсеры карт</div>
                                                                                    <div class="ul-list__children-item">— Устройства управления замками (почтоматные локеры, реле и т. д.) </div>
                                                                                    <div class="ul-list__children-item">— Сторожевые таймеры </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="stages-list__list-item stages-list__list-item_2">
                                                <div class="stage-item stage-item_offset stage-item_offset_2">
                                                    <div class="stage-item__wrapper">
                                                        <div class="stage-item__side">
                                                            <div class="stage-item__icon"></div>
                                                        </div>
                                                        <div class="stage-item__main">
                                                            <div class="stage-item__desc">
                                                                Асинхронную загрузку и сохранение справочной информации
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="stages-list__list-item stages-list__list-item_3">
                                                <div class="stage-item stage-item_offset stage-item_offset_3">
                                                    <div class="stage-item__wrapper">
                                                        <div class="stage-item__side">
                                                            <div class="stage-item__icon"></div>
                                                        </div>
                                                        <div class="stage-item__main">
                                                            <div class="stage-item__desc">
                                                                Возможность работы киоска на нестабильных, медленных каналах связи, путем сохранения платежных и других данных на диск и их дальнейшей отправки на сервер.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="stages-list__list-item stages-list__list-item_4">
                                                <div class="stage-item stage-item_offset stage-item_offset_4">
                                                    <div class="stage-item__wrapper">
                                                        <div class="stage-item__side">
                                                            <div class="stage-item__icon"></div>
                                                        </div>
                                                        <div class="stage-item__main">
                                                            <div class="stage-item__desc">
                                                                Асинхронную загрузку и сохранение справочной информации
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="stages-list__list-item stages-list__list-item_5">
                                                <div class="stage-item stage-item_offset stage-item_offset_5">
                                                    <div class="stage-item__wrapper">
                                                        <div class="stage-item__side">
                                                            <div class="stage-item__icon"></div>
                                                        </div>
                                                        <div class="stage-item__main">
                                                            <div class="stage-item__desc">
                                                                Асинхронную загрузку и сохранение справочной информации
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large products-sections__item_bg-center products-sections__item_vertical-padding block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__item-title">
                        Системные <br> требования
                    </div>
                </div>
                <div class="products-sections__item-main">
                    <div class="rows-info">
                        <div class="rows-info__wrapper">
                            <div class="rows-info__main rows-info__main_row_none">
                                <div class="rows-info__content">
                                    <div class="support-wrap">
                                        <div class="support-wrap__item support-wrap__item_flex-1">
                                            <div class="support-title support-title_dark">
                                                Минимальные системные требования:
                                            </div>
                                            <ul class="support-item support-item_green support-item_dark">
                                                <li>Процессор Intel® Celeron® G1820 со встроенным графическим ядром или аналогичный </li>
                                                <li>Оперативная память 1 Gb  Диск 16 Gb </li>
                                                <li>Экран с диагональю 17″ и разрешением 1280x1024</li>
                                            </ul>
                                        </div>
                                        <div class="support-wrap__item support-wrap__item_flex-1">
                                            <div class="support-title support-title_dark">
                                                Рекомендуемые системные требования:
                                            </div>
                                            <ul class="support-item support-item_green support-item_dark">
                                                <li> Процессор Intel® Celeron® G3900 со встроенным графическим ядром или аналогичный </li>
                                                <li> Оперативная память от 2 Gb  Диск от 64 Gb </li>
                                                <li> Воспроизведение рекламы и сбор статистики по ее показам</li>
                                                <li> Экран с диагональю 22″ - 55″ и разрешением 1920x1080 <br> или 2550x1440</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rows-info__additional">
                                <div class="rows-list">
                                    <div class="rows-list__list">
                                        <div class="rows-list__list-item">
                                            + Операционная система Windows 10 x64 или Pay-logic Linux 29 (на базе Fedora 29)
                                        </div>
                                        <div class="rows-list__list-item rows-list__list-item_dark">
                                            Список поддерживаемого периферийного оборудования доступен на <a href="#" class="link link_green"> странице </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-desc info-desc_raspberry-pi">
                        <div class="info-desc__wrapper">
                            <div class="info-desc__side">
                                <div class="info-desc__title">
                                    Требуется бюджетное решение?
                                </div>
                            </div>
                            <div class="info-desc__main">
                                <p>Программное обеспечение Pay-logic Kiosk успешно эксплуатируется
                                    на&nbsp;платформе Raspberry Pi&nbsp;3, предоставляя возможность создания сверхдешевых решений для приема платежей.</p>

                                <p>Ядро приложения написано на&nbsp;Java, позволяя по&nbsp;требованию заказчика при относительно невысоких затратах адаптировать&nbsp;ПО для работы
                                    в&nbsp;окружении ОС&nbsp;Android. Что, в&nbsp;свою очередь, открывает возможности создания компактных и&nbsp;полнофункциональных решений с&nbsp;использованием множества различных POS-терминалов и&nbsp;планшетов на&nbsp;базе ОС&nbsp;Android.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__item-title">
                        Каков результат?
                    </div>
                </div>
                <div class="products-sections__item-main">
                    <div class="info-desc info-desc_pay-logic">
                        <div class="info-desc__wrapper">
                            <div class="info-desc__main">
                                <p>Используя программное обеспечение Pay-logic Kiosk, заказчик получает готовое, протестированное программное ядро для платежных киосков
                                    с&nbsp;широчайшими возможностями.</p>

                                <p>Заказчику остается реализовать самостоятельно или делегировать реализацию специалистам компании Soft-logic только одну задачу&nbsp;&mdash; создать интерфейс, который позволит предоставить доступ для конечного пользователя ко&nbsp;всему функционалу киоска
                                    самообслуживания.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                {% include 'modules/callback-tile.twig' with {
                    map:false,
                    title:'Остались вопросы?',
                    desc:'Оставьте заявку и наши специлисты свяжутся с вами в ближайшее время',
                    modifier:'callback-tile__side_green'} %}
            </div>
        </div>
    </div>
{% endblock %}