{% extends "common/base.twig" %}

{% block header %}
    {% set headerTop = "is-dark is-side-light is-tablet-dark" %}
    {% include 'common/header.twig' with { headerTop: headerTop } %}
{% endblock %}

{% block body %}
    <div class="products-sections -relative">
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="product-intro product-intro_depozit">
                    <div class="product-intro__wrapper">
                        <div class="product-intro__main">
                            <div class="product-intro__tag"></div>
                            <h1 class="product-intro__title">
                                Автоматические<br>
                                депозитные<br>
                                машины
                            </h1>
                            <div class="product-intro__desc">
                                <p>
                                    Готовое программное обеспечение для депозитных машин
                                </p>
                            </div>
                        </div>
                        <div class="product-intro__side">
                            <div class="product-intro__billboard"></div>
                            <div class="product-intro__image">
                                <img src="images/depozit/main.png" alt="">
                            </div>
                            <div class="product-intro__logo">
                                <img src="images/soft-logic.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="offer block-wrapper block_padding-top_xlarge">
                <div class="offer__wrapper">
                    <div class="offer__title block-left block_gap_medium">
                        <div class="title-h3">Наша компания предлагает:</div>
                    </div>
                    <div class="offer__list">
                        <div class="offer-list">
                            <div class="offer-list__list">
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Готовое программно-аппаратное решение, включающее наше
                                                    специализированное ПО
                                                    и АДМ от наших партнеров
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img offer-card__img_medium">
                                                        <img src="images/depozit/t1.png" alt="ticket-transport">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Поставку специализированного софта для имеющегося у заказчика
                                                    оборудования,
                                                    с возможностью адаптации, доработки
                                                    и кастомизации
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img offer-card__img_medium">
                                                        <img src="images/digital/t2.png" alt="ticket-transport">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        {% set list = [
            { img: '/images/depozit/i1.svg', title: 'Онлайн-зачисление денежных средств на расчетный счет в режиме самоинкассации' },
            { img: '/images/depozit/i2.svg', title: 'Сокращение затрат за счет снижения издержек на персонал' },
            { img: '/images/depozit/i3.svg', title: 'Автоматизация операционных процессов' },
            { img: '/images/depozit/i4.svg', title: 'Повышение безопасности за счет проверки денежных средств при внесении и сокращения количества инкассаций' },
            { img: '/images/depozit/i5.svg', title: 'Возможность оплаты регулярных платежей' }
        ] %}

        <div class="products-sections__item products-sections__item_gap-xxxxlarge block">
            <div class="block-wrapper">

                <div class="offer__title block_gap_xlarge">
                    <div class="title-h3">Ключевые преимущества:</div>
                </div>

                <div class="list-metric list-metric_simple list-metric_fast-food">
                    <div class="list-metric__list">
                        {% for item in list %}
                            <div class="list-metric__list-item">
                                <div class="list-metric__item">
                                    <div class="list-metric__item-side">
                                        <div class="list-metric__item-icon">
                                            <img src="{{ item.img }}" alt="">
                                        </div>
                                    </div>
                                    <div class="list-metric__item-main">
                                        <div class="list-metric__item-desc">
                                            {{ item.title }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="develop-biz products-sections__item -index-1">
            <div class="develop-biz__block block">
                <div class="develop-biz__wrapper block-wrapper">
                    <div class="develop-biz__content">
                        <div class="develop-biz__main">
                            <div class="develop-biz__title">
                                Бизнес-цель
                            </div>
                            <div class="develop-biz__description block-left">
                                <p>
                                    Наше специализированное ПО для автоматических
                                    депозитных машин совместно с современными моделями
                                    устройств позволяет банку или иной кредитно-финансовой
                                    организации предоставить своим клиентам качественно новый
                                    уровень сервиса по депонированию наличности.
                                </p>
                                <p>
                                    При этом, благодаря оптимизации расходов и росту эффективности,
                                    заказчик может предложить пользователям более конкурентоспособные
                                    тарифы и привлечь еще больше клиентов-юридических лиц.
                                </p>
                            </div>
                        </div>
                        <div class="develop-biz__side develop-biz__side_end">
                            <div class="develop-biz__side-img">
                                <img src="/images/depozit/bc.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            'Отслеживание операций по депонированию банкнот в режиме реального времени, персональный учет операций для каждого пользователя',
            'Зачисление внесенной наличности на банковский счет в режиме онлайн',
            'Печать данных по транзакции <span>(количество внесенных банкнот, номинал, итоговая сумма внесенной наличности)<span>',
            'Интеграция с АБС банка',
            'Гибкая настройка и модификация сценариев внесения наличности',
            'Технический онлайн-мониторинг работы устройств и компонентов, наполненности боксов',
            'Внедрение стилизованного, фирменного интерфейса',
            'Использование АДМ в качестве платежного терминала — прием наличных и безналичных платежей в пользу различных поставщиков услуг'
        ] %}

        <div class="products-sections__item products-sections__item_gap-large block -index-2">
            <div class="block-wrapper">
                <div class="title-h3 block_gap_medium">Преимущества внедрения:</div>
                <div class="info-grid info-grid_3x">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_depozit">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count info-grid-card__count_green-light">{{ loop.index }}</div>
                                            <div class="info-grid-card__title">{{ item }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block -index-2">
            <div class="iot-steps">
                <div class="iot-steps__wrapper">
                    <div class="iot-steps__content">
                        <div class="iot-steps__content-side block-wrapper">
                            <div class="iot-steps__title ">
                                <div class="iot-title-2">
                                    Технические<br> особенности
                                </div>
                            </div>
                        </div>
                        <div class="iot-steps__content-main block-wrapper">
                            <div class="iot-steps__list">

                                <div class="iot-steps__list-item">
                                    <div class="iot-step iot-step_depozit iot-step_1">
                                        <div class="iot-step__wrapper">
                                            <div class="iot-step__side">
                                                <div class="iot-step__number iot-step__number_1"></div>
                                            </div>
                                            <div class="iot-step__main">
                                                <div class="iot-step__content">
                                                    <div class="iot-step__content-side">
                                                        <div class="iot-step__content-desc">
                                                            <p>
                                                                Поддержка сортировщиков и купюроприемников
                                                                с различными вариантами скорости обработки банкнот,
                                                                проверкой подлинности по машиночитаемым признакам <span>(2CIS, UV, MG, IR, FIT, S/N)</span>,
                                                                с полным исключением риска приема поддельных купюр
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="iot-step__content-main">
                                                        <div class="iot-step__content-img iot-step__content-img_1"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="iot-steps__list-item">
                                    <div class="iot-step iot-step_depozit iot-step_2">
                                        <div class="iot-step__wrapper">
                                            <div class="iot-step__side">
                                                <div class="iot-step__number iot-step__number_2"></div>
                                            </div>
                                            <div class="iot-step__main">
                                                <div class="iot-step__content">
                                                    <div class="iot-step__content-side">
                                                        <div class="iot-step__content-desc">
                                                            <p>Применение денежных кассет и инкассаторских
                                                                самозапирающихся боксов с механическими замками
                                                                различной емкости</p>
                                                        </div>
                                                    </div>
                                                    <div class="iot-step__content-main">
                                                        <div class="iot-step__content-img iot-step__content-img_2"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="iot-steps__list-item">
                                    <div class="iot-step iot-step_depozit iot-step_3">
                                        <div class="iot-step__wrapper">
                                            <div class="iot-step__side">
                                                <div class="iot-step__number iot-step__number_3"></div>
                                            </div>
                                            <div class="iot-step__main">
                                                <div class="iot-step__content">
                                                    <div class="iot-step__content-side">
                                                        <div class="iot-step__content-desc">
                                                            <p>Использование сейфов 1 класса взломостойкости с сейфовыми
                                                                и электронными замками</p>
                                                        </div>
                                                    </div>
                                                    <div class="iot-step__content-main">
                                                        <div class="iot-step__content-img iot-step__content-img_3"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="iot-steps__list-item">
                                    <div class="iot-step iot-step_depozit iot-step_4">
                                        <div class="iot-step__wrapper">
                                            <div class="iot-step__side">
                                                <div class="iot-step__number iot-step__number_4"></div>
                                            </div>
                                            <div class="iot-step__main">
                                                <div class="iot-step__content">
                                                    <div class="iot-step__content-side">
                                                        <div class="iot-step__content-desc">
                                                            <p>Опциональная установка сканера штрихкодов и QR-кодов,
                                                                камеры видеонаблюдения, POS-терминала, карт-ридера,
                                                                криптованной PIN-клавиатуры</p>
                                                        </div>
                                                    </div>
                                                    <div class="iot-step__content-main">
                                                        <div class="iot-step__content-img iot-step__content-img_4"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="iot-steps__list-item">
                                    <div class="iot-step iot-step_depozit iot-step_5">
                                        <div class="iot-step__wrapper">
                                            <div class="iot-step__side">
                                                <div class="iot-step__number iot-step__number_5"></div>
                                            </div>
                                            <div class="iot-step__main">
                                                <div class="iot-step__content">
                                                    <div class="iot-step__content-side">
                                                        <div class="iot-step__content-desc">
                                                            <p>Поддержка возможности возврата банкнот после пересчета в
                                                                случае отмены операции клиентом (система escrow)</p>
                                                        </div>
                                                    </div>
                                                    <div class="iot-step__content-main">
                                                        <div class="iot-step__content-img iot-step__content-img_5"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper attention attention_depozit block_gap_xlarge">
                <div class="attention__wrapper attention__wrapper_ticket-booth attention__wrapper_info">
                    <div class="attention__text">
                        Наше программное обеспечение поддерживает большое количество платежного и сопутствующего
                        оборудования, применяемого для различных АДМ. В случае необходимости мы готовы выполнить
                        кастомную интеграцию периферийных устройств в составе имеющихся у заказчика моделей депозитных
                        машин.
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="offer__title block_gap_xlarge">
                    <div class="title-h1">Дополнительные <br> возможности</div>
                </div>
                <div class="depozit-cols">
                    <div class="depozit-cols__list">
                        <div class="depozit-cols__list-item">
                            <div class="depozit-col">
                                <div class="depozit-col__icon">
                                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4.53778 36.1819C6.85451 37.4222 10.0352 38 14.5469 38C18.2178 38 20.9807 37.6196 23.1273 36.8108C23.7404 37.5373 24.6569 38 25.6797 38H34.6602C36.5017 38 38 36.5017 38 34.6602C38 33.8055 37.6767 33.025 37.1468 32.4336C37.677 31.8422 38 31.0617 38 30.207C38 29.3524 37.6767 28.5719 37.1468 27.9805C37.677 27.389 38 26.6086 38 25.7539C38 24.8992 37.6767 24.1188 37.1468 23.5273C37.677 22.9359 38 22.1555 38 21.3008C38 19.4592 36.5017 17.9609 34.6602 17.9609H25.6797C25.5713 17.9609 25.464 17.9664 25.3582 17.9769C24.2408 16.6236 22.9316 15.4888 21.4889 14.6185C22.0175 14.0276 22.3398 13.248 22.3398 12.3945C22.3398 11.0641 21.5576 9.91313 20.429 9.3765L22.285 3.68513C22.3955 3.34593 22.3369 2.97455 22.1276 2.68608C21.918 2.39732 21.5832 2.22656 21.2266 2.22656H17.6954C17.2356 0.930634 15.9982 0 14.5469 0C13.0953 0 11.8573 0.930634 11.3978 2.22656H7.86719C7.51059 2.22656 7.17574 2.39732 6.96613 2.68608C6.75681 2.97455 6.69824 3.34593 6.8087 3.68513L8.66475 9.3765C7.5361 9.91313 6.75391 11.0641 6.75391 12.3945C6.75391 13.2486 7.07658 14.0288 7.60597 14.6199C3.13922 17.3159 0 22.4361 0 27.9805C0 31.8106 1.5267 34.5697 4.53778 36.1819ZM35.7734 25.7539C35.7734 26.3677 35.2739 26.8672 34.6602 26.8672H25.6797C25.0659 26.8672 24.5664 26.3677 24.5664 25.7539C24.5664 25.1402 25.0659 24.6406 25.6797 24.6406H34.6602C35.2739 24.6406 35.7734 25.1402 35.7734 25.7539ZM35.7734 30.207C35.7734 30.8208 35.2739 31.3203 34.6602 31.3203H25.6797C25.0659 31.3203 24.5664 30.8208 24.5664 30.207C24.5664 29.5933 25.0659 29.0938 25.6797 29.0938H34.6602C35.2739 29.0938 35.7734 29.5933 35.7734 30.207ZM34.6602 35.7734H25.6797C25.0659 35.7734 24.5664 35.2739 24.5664 34.6602C24.5664 34.0464 25.0659 33.5469 25.6797 33.5469H34.6602C35.2739 33.5469 35.7734 34.0464 35.7734 34.6602C35.7734 35.2739 35.2739 35.7734 34.6602 35.7734ZM35.7734 21.3008C35.7734 21.9145 35.2739 22.4141 34.6602 22.4141H25.6797C25.0659 22.4141 24.5664 21.9145 24.5664 21.3008C24.5664 20.687 25.0659 20.1875 25.6797 20.1875H34.6602C35.2739 20.1875 35.7734 20.687 35.7734 21.3008ZM18.9681 13.5078H10.1259C10.1161 13.5075 10.1062 13.5078 10.0964 13.5078H10.0938C9.48 13.5078 8.98047 13.0083 8.98047 12.3945C8.98047 11.7819 9.47797 11.2833 10.0903 11.2815H10.0935C10.0961 11.2815 10.0987 11.2812 10.1013 11.2812H18.9922C18.9948 11.2812 18.9977 11.2815 19.0003 11.2815H19.0035C19.6158 11.2833 20.1133 11.7819 20.1133 12.3945C20.1133 13.0083 19.6138 13.5078 19 13.5078H18.9965C18.9872 13.5078 18.9777 13.5075 18.9681 13.5078ZM12.3203 4.45312C12.9352 4.45312 13.4336 3.95476 13.4336 3.33984C13.4336 2.72609 13.9331 2.22656 14.5469 2.22656C15.1606 2.22656 15.6602 2.72609 15.6602 3.33984V5.56641C15.6602 6.18132 16.1585 6.67969 16.7734 6.67969C17.3884 6.67969 17.8867 6.18132 17.8867 5.56641V4.45312H19.6926L18.192 9.05469H10.9017L9.40114 4.45312H12.3203ZM10.3109 15.7344H18.7785C20.4644 16.4386 22.0009 17.5475 23.2824 18.9788C22.6996 19.5804 22.3398 20.3991 22.3398 21.3008C22.3398 22.1555 22.6631 22.9359 23.1931 23.5273C22.6631 24.1188 22.3398 24.8992 22.3398 25.7539C22.3398 26.6086 22.6631 27.389 23.1931 27.9805C22.6631 28.5719 22.3398 29.3524 22.3398 30.207C22.3398 31.0617 22.6631 31.8422 23.1931 32.4336C22.6631 33.025 22.3398 33.8055 22.3398 34.6602C22.3398 34.6831 22.341 34.7057 22.3416 34.7283C20.4583 35.4395 17.9499 35.7734 14.5469 35.7734C10.4161 35.7734 7.56944 35.2794 5.58873 34.2189C3.29491 32.9908 2.22656 31.0087 2.22656 27.9805C2.22656 22.7295 5.54089 17.7255 10.3109 15.7344Z"
                                              fill="#65BDC6"/>
                                    </svg>
                                </div>
                                <div class="depozit-col__title">
                                    Высоко-ценовой ритейл
                                </div>
                                <div class="depozit-col__desc">
                                    <p>
                                        Помимо использования в&nbsp;банковском секторе для сдачи и&nbsp;депонирования
                                        наличности,
                                        АДМ могут применяться для полноценной замены кассовых узлов, например, в
                                        автосалонах. В&nbsp;таком случае клиент вносит крупные суммы наличных через
                                        устройство, получает сдачу с&nbsp;платежа также наличными или прямо на&nbsp;банковскую
                                        карту.
                                    </p>
                                    <p>
                                        АДМ позволяет исключить серьезные затраты на&nbsp;ежемесячное содержание
                                        обслуживаемого банком кассового узла в&nbsp;автосалоне, делает
                                        автоматизированный
                                        прием платежей на&nbsp;крупные суммы доступным
                                        для более широкого круга компаний и&nbsp;бизнес-сфер.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="depozit-cols__list-item">
                            <div class="depozit-col">
                                <div class="depozit-col__icon">
                                    <svg width="44" height="29" viewBox="0 0 44 29" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4.53119 0H32.7999C38.9757 0 44 5.02432 44 11.2001V20.108C44 22.4475 42.097 24.3509 39.7575 24.3509H38.6517C38.0626 26.7863 35.8655 28.6014 33.2514 28.6014C30.6374 28.6014 28.4406 26.7863 27.8511 24.3509H16.1489C15.5594 26.7863 13.3626 28.6014 10.7486 28.6014C8.09155 28.6014 5.86523 26.7262 5.3204 24.2303C2.29346 23.6456 0 20.9771 0 17.782V4.53152C0 2.03262 2.03262 0 4.53119 0ZM2.61203 4.53152V10.8694H13.796V2.61203H4.53119C3.47308 2.61203 2.61203 3.47308 2.61203 4.53152ZM16.408 10.8694H27.592V2.61203H16.408V10.8694ZM32.7999 2.61203H30.204V10.8694H32.8489C35.0074 10.8694 37.1347 11.4441 38.9998 12.5308L41.388 13.9219V11.2001C41.388 6.46445 37.5356 2.61203 32.7999 2.61203ZM30.3071 23.0447C30.3071 24.6684 31.628 25.989 33.2514 25.989C34.8752 25.989 36.1961 24.6684 36.1961 23.0447C36.1961 21.4209 34.8752 20.1 33.2514 20.1C31.628 20.1 30.3071 21.4209 30.3071 23.0447ZM10.7486 25.989C12.372 25.989 13.6929 24.6684 13.6929 23.0447C13.6929 21.4209 12.372 20.1 10.7486 20.1C9.12482 20.1 7.80386 21.4209 7.80386 23.0447C7.80386 24.6684 9.12482 25.989 10.7486 25.989ZM5.39459 21.5606C6.0455 19.2151 8.1983 17.4879 10.7486 17.4879C13.3626 17.4879 15.5594 19.3027 16.1489 21.7385H27.8511C28.4406 19.3027 30.6374 17.4879 33.2514 17.4879C35.8655 17.4879 38.0626 19.3027 38.6517 21.7385H39.7575C40.6565 21.7385 41.388 21.007 41.388 20.108V16.9451L37.6849 14.7876C36.2183 13.9333 34.5462 13.4818 32.8489 13.4818H2.61203V17.782C2.61203 19.5551 3.78427 21.0594 5.39459 21.5606Z"
                                              fill="#65BDC6"/>
                                    </svg>
                                </div>
                                <div class="depozit-col__title">
                                    Автоматизация транспортных предприятий
                                </div>
                                <div class="depozit-col__desc">
                                    <p>
                                        Депозитные машины эффективно решают задачу автоматизированной сдачи выручки,
                                        полученной в&nbsp;виде оплаты за&nbsp;проезд. АДМ на&nbsp;ряду с&nbsp;модулем
                                        приема бумажных
                                        наличных дополнительно оснащаются специализированными модулями для приема и
                                        автоматического пересчета (со&nbsp;скоростью до&nbsp;1000 монет в&nbsp;минуту)
                                        большого
                                        количества монет для дальнейшего депонирования.
                                    </p>
                                    <p>
                                        Наше ПО&nbsp;уже сейчас поддерживает интеграцию с&nbsp;большим количеством
                                        моделей
                                        купюроприемников и&nbsp;несколькими монетоприемниками
                                        с&nbsp;функционалом пересчета и&nbsp;депонирования монет. В&nbsp;случае
                                        необходимости мы&nbsp;готовы
                                        обеспечить интеграцию с&nbsp;более сложными устройствами по&nbsp;обработке
                                        монет, в&nbsp;том
                                        числе с&nbsp;пересчетом и&nbsp;сортировкой по&nbsp;номиналу.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% set list = [
            { img: '/images/depozit/adm-1.svg', title: 'Мониторинг и диагностику депозитных машини всех внутренних компонентов' },
            { img: '/images/depozit/adm-2.svg', title: 'Отслеживание операций внесения, оплаты услуг(при наличии функционала) и инкассации в режиме онлайн' },
            { img: '/images/depozit/adm-3.svg', title: 'Передачу данных о наполненности(денежные боксы, чековая лента, билетные бланки)' },
            { img: '/images/depozit/adm-4.svg', title: 'Уведомление о событиях по SMS,E-mail, Telegram' },
            { img: '/images/depozit/adm-5.svg', title: 'Логирование и хранение данныхо всех действиях и событиях' }
        ] %}

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">

                <div class="offer__title block_gap_xlarge">
                    <div class="title-h1">Управление сетью АДМ</div>
                </div>
                <div class="offer__title block_gap_xlarge">
                    Все устройства объединяются в&nbsp;едином бэк-офисе с&nbsp;настраиваемым <br> разграничением функционала и
                    доступа в&nbsp;зависимости от&nbsp;ролей сотрудников. <br> Система управления позволяет:
                </div>
                <div class="list-metric list-metric_simple list-metric_fast-food">
                    <div class="list-metric__list">
                        {% for item in list %}
                            <div class="list-metric__list-item">
                                <div class="list-metric__item">
                                    <div class="list-metric__item-side">
                                        <div class="list-metric__item-icon">
                                            <img src="{{ item.img }}" alt="">
                                        </div>
                                    </div>
                                    <div class="list-metric__item-main">
                                        <div class="list-metric__item-desc">
                                            {{ item.title }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="block-wrapper block_padding-top_large">
                <div class="title-medium">
                    Система обновлений
                </div>

                <div class="update-system">
                    <div class="update-system__wrapper">
                        <div class="update-system__side">
                            <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                                Встроенная система обновлений позволяет оперативно вносить любые изменения
                                в ПО и загружать их на киоски по заданному расписанию.
                            </div>
                        </div>
                        <div class="update-system__main">
                            <div class="update-system__img">
                                <img src="/images/update-arrow.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="section-color section-color_blue-dark section-color_red section-color_bg-right section-color_sea block-wrapper block_padding-top_xlarge block_padding-bottom_large">
                <div class="section-color__wrapper">
                    <div class="title-medium title-medium_white">
                        Варианты<br> приобретения ПО
                    </div>
                    <div class="possibilitys-subtitle block-left block_gap_medium">
                        В зависимости от масштабов автоматизации, размеров заказчика и конечной цели применения решения,
                        возможны:
                    </div>
                    <div class="info-grid info-grid_2x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_white bank-advantage_low bank-advantage--one">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">
                                                    Покупка лицензии
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_white bank-advantage_low bank-advantage--two">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">
                                                    Использование ПО в облачном формате по ежемесячной/годовой подписке
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-color__line"></div>
                    <div class="possibilitys-subtitle possibilitys-subtitle_wide block-left block_gap_medium">
                        Благодаря различным вариантам приобретения ПО Pay-logic, наше решение подходит не только
                        розничным торговым точкам среднего масштаба и крупным торговым сетям, но и небольшим частным
                        магазинам любой площади.
                    </div>
                </div>
            </div>
        </div>
        {% set list = [
            { img: '/images/depozit/d-1.svg', title: 'Стилизацию платежного интерфейса
в фирменные цвета или применение white label концепции' },
            { img: '/images/depozit/d-2.svg', title: 'Интеграцию системы киосков с внешней учетной системой' },
            { img: '/images/depozit/d-3.svg', title: 'Зачисление сдачи на телефон в киосках самообслуживания
' },
            { img: '/images/depozit/d-4.svg', title: 'Разработку рекламных баннеров' },
            { img: '/images/depozit/d-6.svg', title: 'Адаптацию к новой валюте и языку, включая создание мультиязычных интерфейсов' },
        ] %}

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="title-medium">
                    Доработки решения
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Типовые доработки решения для заказчика включают:
                </div>
                <div class="info-grid info-grid_gap-medium info-grid_3x block_gap_small">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_orange">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__img">
                                                <img src="{{ item.img }}" alt="">
                                            </div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="attention attention_sea block_gap_xlarge">
                    <div class="attention__wrapper attention__wrapper_info">
                        <div class="attention__text attention__text_center">По требованию заказчика возможны любые доработки программного обеспечения!</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item">
            <div class="block section-with-image section-with-image_sea">
                <div class="block-wrapper section-with-image__wrapper">
                    <div class="section-with-image__content-wrapper">
                        <div class="section-with-image__main">
                            <div class="section-with-image__title">
                                Поставка<br>программно-аппаратного решения под ключ
                            </div>
                            <div class="section-with-image__desc-wrapper">
                                <div class="section-with-image__desc">
                                    За длительный период деятельности на рынке платежного ПО мы установили прочные партнерские связи с проверенными производителями оборудования
                                    и готовы предложить комплексное решение в формате ПО + киоски самообслуживания для различных сфер бизнеса
                                </div>
                            </div>
                        </div>
                        <div class="section-with-image__side">
                            <div class="section-with-image__side-image section-with-image__side-image_postmat-retail"></div>
                        </div>
                    </div>
                    <div class="section-with-image__delimiter section-with-image__delimiter_mobile"></div>
                    <div class="section-with-image__link">
                        <a href="#" class="section-with-image__link-arrow">
                            Перейти на сайт партнера
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item">
            <div class="block additionally-resources">
                <div class="block-wrapper additionally-resources__wrapper">
                    <div class="additionally-resources__title">Дополнительные<br>ресурсы</div>
                    <div class="additionally-resources__list-wrapper">
                        <a href="#" class="resource-item resource-item_green">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_white-terminal"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Выбрать киоск</span>
                            </div>
                        </a>
                        <a href="#" class="resource-item resource-item_blue">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_clouds"></div>
                                    <div class="resource-item__image resource-item__image_cloud"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Облачный сервис</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                {% include 'modules/callback-tile.twig' with {
                    map: false,
                    title: 'Остались вопросы?',
                    desc: 'Оставьте заявку и наши специлисты свяжутся с вами в ближайшее время',
                    modifier: 'callback-tile__side_sea'
                } %}
            </div>
        </div>
    </div>
{% endblock %}
