{% extends "common/base.twig" %}

{% block header %}
    {% set headerTop = "is-dark is-side-light is-tablet-dark" %}
    {% include 'common/header.twig' with { headerTop: headerTop } %}
{% endblock %}

{% block body %}
    <div class="products-sections -relative">
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="product-intro product-intro_develop">
                    <div class="product-intro__wrapper">
                        <div class="product-intro__main">
                            <div class="product-intro__tag"></div>
                            <h1 class="product-intro__title product-intro__title_medium">
                                Разработка ПО для<br>
                                смарт-терминалов
                            </h1>
                            <div class="product-intro__desc">
                                <p>
                                    Разрабатываем программные решения для онлайн-касс<br>
                                    — смарт-терминалов и POS-терминалов на Android
                                </p>
                            </div>
                        </div>
                        <div class="product-intro__side">
                            <div class="product-intro__billboard"
                                 style="background-image: url('images/development/promo.png')"></div>
                            <div class="product-intro__logo">
                                <img src="images/soft-logic.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            {
                img: '/images/development/a-1.svg',
                content: 'Внедрение современной товароучетной системы'
            },
            {
                img: '/images/development/a-2.svg',
                content: 'Функционал от лидирующего разработчика платежного ПО'
            },
            {
                img: '/images/development/a-3.svg',
                content: 'Поддержка работы смарт-терминалов в онлайн и офлайн режиме'
            },
            {
                img: '/images/development/a-4.svg',
                content: 'Современный интерфейс, кастомизация внешнего вида'
            },
            {
                img: '/images/development/a-5.svg',
                content: 'Интеграция со сторонними информационными системами'
            },
        ] %}
        <div class="products-sections__item">
            <div class="develop-advantages block">
                <div class="develop-advantages__wrapper block-wrapper">
                    <div class="develop-advantages__title">
                        Ключевые приемущества:
                    </div>
                    <div class="develop-advantages__content">
                        <div class="develop-advantages__list">
                            {% for item in list %}
                                <div class="develop-advantages__item">

                                    <div class="develop-advantages-card">
                                        <div class="develop-advantages-card__wrapper">
                                            <div class="develop-advantages-card__icon">
                                                <img src="{{ item.img }}" alt="">
                                            </div>
                                            <div class="develop-advantages-card__content">
                                                {{ item.content|raw }}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="develop-biz products-sections__item -index-1">
            <div class="develop-biz__block block">
                <div class="develop-biz__wrapper block-wrapper">
                    <div class="develop-biz__content">
                        <div class="develop-biz__main">
                            <div class="develop-biz__title">
                                Бизнес-цель
                            </div>
                            <div class="develop-biz__description block-left">
                                <p>
                                    Smart-терминалы и POS-терминалы на Android являются современной,
                                    эффективной альтернативой привычным автономным кассам при организации
                                    приема платежей в соответствии с региональными законами о передаче
                                    фискальных данных <span>(54-ФЗ для России, условия применения РРО для Украины,
                                СКНО для Республики Беларусь и т. д.).</span>
                                </p>

                                <p>
                                    Мы готовы предложить разработку специализированного программного
                                    обеспечения для применения в мобильных и стационарных устройствах для
                                    самых разных коммерческих сфер, с соблюдением всех законодательных
                                    требований по передаче данных о платежах в налоговые органы
                                    государства, в котором осуществляется внедрение.
                                </p>
                            </div>
                        </div>
                        <div class="develop-biz__side">
                            <div class="develop-biz__side-img">
                                <img src="/images/development/terminal.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            {
                title: 'Терминалы самообслуживания',
                count: '01',
                content: 'Продажа товаров <span>(предустановленная, свободная цена)</span>, печать чеков, оформление возврата'
            },
            {
                title: 'Управление терминалом',
                count: '02',
                content: 'Редактирование групп товаров, цен, условий реализации'
            },
            {
                title: 'Отслеживание складских остатков',
                count: '03',
                content: 'Учет движения товаров, инвентаризация'
            },
            {
                title: 'Формирование финансовых отчетов',
                count: '04',
                content: 'Данные в режиме онлайн, отправка регулярных отчетов'
            },
            {
                title: 'Маркетинговый функционал',
                count: '05',
                content: 'Скидочные программы по условиям, программы лояльности для постоянных покупателей'
            },
            {
                title: 'Поддержка внешнего оборудования',
                count: '06',
                content: 'PIN-пады, торговые весы, сканеры, принтеры этикеток, денежные ящики'
            },
            {
                title: 'Дополнительные возможности',
                count: '07',
                content: 'Функционал добавления отзывов клиентов, чаевые в счет сотрудников и т. д.'
            },
        ] %}

        <div class="products-sections__item -index-2">
            <div class="develop-cap-grid block">
                <div class="develop-cap-grid__wrapper block-wrapper">
                    <div class="develop-cap-grid__title">
                        Возможности:
                    </div>
                    <div class="develop-cap-grid__content">
                        <div class="develop-cap-grid__list">
                            {% for item in list %}
                                <div class="develop-cap-grid__item">

                                    <div class="develop-cap-grid-card">
                                        <div class="develop-cap-grid-card__wrapper">
                                            <div class="develop-cap-grid-card__header">
                                                <div class="develop-cap-grid-card__title">
                                                    {{ item.title|raw }}
                                                </div>
                                                <div class="develop-cap-grid-card__count">
                                                    {{ item.count }}
                                                </div>
                                            </div>
                                            <div class="develop-cap-grid-card__content">
                                                {{ item.content|raw }}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item -index-1">
            <div class="develop-back block">
                <div class="develop-back__wrapper block-wrapper">
                    <div class="develop-back__content">
                        <div class="develop-back__side">
                            <div class="develop-back__side-img">
                                <img src="/images/development/terminal3.png" alt="">
                            </div>
                        </div>
                        <div class="develop-back__main">
                            <div class="develop-back__number"></div>
                            <div class="develop-back__title">
                                Бэк-офис для управления сетью POS-терминалов
                            </div>
                            <div class="develop-back__description">
                                <p>
                                    Единое окно для контроля всей сети устройств, которое позволит редактирование
                                    товарной витрины
                                    <span>(цены, категории, классы, модификаторы, скидочные условия)</span>,
                                    добавление фотографий, описание и т. д., в том числе для каждого устройства в
                                    конкретной торговой точке.
                                </p>
                                <p>
                                    Управление складским учетом, клиентской базой, разграничение доступа сотрудников
                                    в бэк-офисе и при работе с устройствами в торговых точках. Финансовый и технический
                                    мониторинг, отчетность по операциям.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="block">
                <div class="block-wrapper">
                    <div class="develop-cols">
                        <div class="develop-cols__side">
                            <div class="develop-cols__title">
                                Почему мы?
                            </div>
                        </div>
                        <div class="develop-cols__main">
                            <div class="develop-cols__list">
                                <div class="develop-cols__list-item">
                                    <div class="develop-col">
                                        <div class="develop-col__wrapper">
                                            <div class="develop-col__title">
                                                <svg width="144" height="29" viewBox="0 0 144 29" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M5.35 0.999998L0.25 4.0375V7.75L5.35 4.675V28H8.725V0.999998H5.35ZM24.9602 28.5625C22.3727 28.5625 19.7852 27.5125 18.0977 25.5625C16.4477 23.65 15.8477 21.6625 15.8477 19.075V9.8875C15.8477 7.2625 16.4477 5.275 18.1727 3.2875C19.8227 1.4875 22.2977 0.399998 24.9602 0.437498C27.5477 0.399998 30.0602 1.375 31.7852 3.2875C33.4727 5.1625 34.0727 7.225 34.0727 9.8875V19.075C34.0727 21.625 33.5102 23.6875 31.8227 25.6C30.1352 27.475 27.6602 28.5625 24.9602 28.5625ZM24.9602 3.625C23.0102 3.5875 21.1727 4.675 20.1602 6.25C19.4852 7.2625 19.2602 8.4625 19.2602 9.8875V19.075C19.2602 20.3875 19.4477 21.6625 20.1977 22.75C21.2477 24.325 23.0102 25.375 24.9602 25.3375C26.9477 25.375 28.7477 24.325 29.7602 22.75C30.5102 21.6625 30.6977 20.5375 30.6977 19.075V9.8875C30.6977 8.5 30.5102 7.45 29.7977 6.2875C28.7852 4.675 26.9477 3.5875 24.9602 3.625ZM56.7063 28.5625C54.1188 28.5625 51.5313 27.5125 49.8438 25.5625C48.1938 23.65 47.5938 21.6625 47.5938 19.075V9.8875C47.5938 7.2625 48.1938 5.275 49.9188 3.2875C51.5688 1.4875 54.0438 0.399998 56.7063 0.437498C59.2938 0.399998 61.8063 1.375 63.5312 3.2875C65.2188 5.1625 65.8188 7.225 65.8188 9.8875V19.075C65.8188 21.625 65.2563 23.6875 63.5688 25.6C61.8813 27.475 59.4063 28.5625 56.7063 28.5625ZM56.7063 3.625C54.7563 3.5875 52.9188 4.675 51.9063 6.25C51.2313 7.2625 51.0063 8.4625 51.0063 9.8875V19.075C51.0063 20.3875 51.1938 21.6625 51.9438 22.75C52.9938 24.325 54.7563 25.375 56.7063 25.3375C58.6938 25.375 60.4938 24.325 61.5063 22.75C62.2563 21.6625 62.4438 20.5375 62.4438 19.075V9.8875C62.4438 8.5 62.2563 7.45 61.5438 6.2875C60.5313 4.675 58.6938 3.5875 56.7063 3.625ZM80.1906 28.5625C77.6031 28.5625 75.0156 27.5125 73.3281 25.5625C71.6781 23.65 71.0781 21.6625 71.0781 19.075V9.8875C71.0781 7.2625 71.6781 5.275 73.4031 3.2875C75.0531 1.4875 77.5281 0.399998 80.1906 0.437498C82.7781 0.399998 85.2906 1.375 87.0156 3.2875C88.7031 5.1625 89.3031 7.225 89.3031 9.8875V19.075C89.3031 21.625 88.7406 23.6875 87.0531 25.6C85.3656 27.475 82.8906 28.5625 80.1906 28.5625ZM80.1906 3.625C78.2406 3.5875 76.4031 4.675 75.3906 6.25C74.7156 7.2625 74.4906 8.4625 74.4906 9.8875V19.075C74.4906 20.3875 74.6781 21.6625 75.4281 22.75C76.4781 24.325 78.2406 25.375 80.1906 25.3375C82.1781 25.375 83.9781 24.325 84.9906 22.75C85.7406 21.6625 85.9281 20.5375 85.9281 19.075V9.8875C85.9281 8.5 85.7406 7.45 85.0281 6.2875C84.0156 4.675 82.1781 3.5875 80.1906 3.625ZM103.675 28.5625C101.088 28.5625 98.5 27.5125 96.8125 25.5625C95.1625 23.65 94.5625 21.6625 94.5625 19.075V9.8875C94.5625 7.2625 95.1625 5.275 96.8875 3.2875C98.5375 1.4875 101.013 0.399998 103.675 0.437498C106.263 0.399998 108.775 1.375 110.5 3.2875C112.188 5.1625 112.788 7.225 112.788 9.8875V19.075C112.788 21.625 112.225 23.6875 110.538 25.6C108.85 27.475 106.375 28.5625 103.675 28.5625ZM103.675 3.625C101.725 3.5875 99.8875 4.675 98.875 6.25C98.2 7.2625 97.975 8.4625 97.975 9.8875V19.075C97.975 20.3875 98.1625 21.6625 98.9125 22.75C99.9625 24.325 101.725 25.375 103.675 25.3375C105.663 25.375 107.463 24.325 108.475 22.75C109.225 21.6625 109.413 20.5375 109.413 19.075V9.8875C109.413 8.5 109.225 7.45 108.513 6.2875C107.5 4.675 105.663 3.5875 103.675 3.625ZM143.934 16.0375H136.321V8.425H133.584V16.0375H125.934V18.775H133.584V26.425H136.321V18.775H143.934V16.0375Z"
                                                          fill="#1F4ABD"/>
                                                </svg>
                                            </div>
                                            <div class="develop-col__desc">
                                                Опыт работы с&nbsp;10&nbsp;000+ программно-аппаратных устройств в&nbsp;рамках
                                                одной системы&nbsp;&mdash; обеспечение их&nbsp;взаимодействия, обмена и&nbsp;сбора
                                                данных
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="develop-cols__list-item">
                                    <div class="develop-col">
                                        <div class="develop-col__wrapper">
                                            <div class="develop-col__title">
                                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M37.9144 23.6752C36.4291 21.7211 34.1815 20.7305 31.2341 20.7305C27.8213 20.7305 24.6462 22.2628 22.5283 24.8819C21.0989 24.093 19.5004 23.6807 17.842 23.6807C15.967 23.6807 14.1277 24.2279 12.5634 25.2374C12.7379 22.0056 12.6082 16.8685 10.7104 12.257C11.2505 11.6753 12.354 10.8077 13.8772 11.217C15.115 11.5496 16.4288 11.1657 17.3058 10.2154C19.0572 8.3184 19.5751 6.09824 18.764 3.96384C17.4776 0.579429 15.1717 0.0282803 13.9117 0.00111964C12.2536 -0.0336705 10.3759 0.743309 8.62264 2.19198C7.07113 3.47433 5.78298 5.13449 5.089 6.74735C4.02028 9.23057 2.53315 15.791 1.53339 21.1911C0.748174 25.4324 -0.470702 32.8714 0.188785 35.0378C0.325809 35.488 0.712468 35.8176 1.17908 35.881C1.21754 35.8862 5.11006 36.4343 10.0509 38.6401C11.9555 39.4904 15.7189 40 19.8165 40C20.512 40 21.2176 39.9854 21.9247 39.9551C25.3381 39.8096 31.6833 39.1635 35.8279 36.4749C38.3871 34.815 39.74 32.5671 39.74 29.9749C39.74 27.4243 39.1086 25.2459 37.9144 23.6752ZM34.5163 34.4528C28.1787 38.5638 14.443 37.9614 11.0335 36.4392C7.16451 34.7119 3.91835 33.9432 2.40772 33.649C2.33784 31.965 2.74677 27.8766 3.90339 21.6299C5.03865 15.4974 6.4684 9.6392 7.30276 7.70011C8.36446 5.23398 11.4162 2.40988 13.7954 2.40988C13.8167 2.40988 13.8384 2.41018 13.8595 2.41079C14.2925 2.41995 15.6097 2.44864 16.5108 4.82016C16.9936 6.09061 16.6653 7.35587 15.5349 8.58055C15.2715 8.86558 14.8666 8.98704 14.5025 8.88908C11.3775 8.04924 9.07705 10.1907 8.29702 11.4401C8.08309 11.7831 8.05532 12.2103 8.22286 12.5781C10.9807 18.627 10.1119 26.2713 9.90194 27.7908C9.15731 28.8427 8.62234 30.0384 8.3431 31.3028C8.19967 31.9528 8.61013 32.5961 9.26016 32.7395C9.91018 32.8827 10.5532 32.4725 10.6966 31.8225C11.43 28.5013 14.435 26.091 17.842 26.091C19.3948 26.091 20.8779 26.5713 22.131 27.4798C22.1371 27.4841 22.1435 27.4875 22.1496 27.4917C22.1557 27.496 22.1615 27.5012 22.1679 27.5055C23.0041 28.0652 24.0853 29.4354 24.4311 29.9157C24.6664 30.2435 25.036 30.4178 25.4107 30.4178C25.6542 30.4178 25.8999 30.3445 26.1129 30.1916C26.6534 29.8031 26.777 29.0503 26.3885 28.5095C26.2731 28.3487 25.4565 27.2284 24.4824 26.3009C26.1447 24.3054 28.5989 23.1408 31.2341 23.1408C36.2719 23.1408 37.3297 26.8573 37.3297 29.9749C37.3297 31.7602 36.4093 33.2248 34.5163 34.4528Z"
                                                          fill="#1F4ABD"/>
                                                </svg>
                                            </div>
                                            <div class="develop-col__desc">
                                                Мы&nbsp;являемся одной из&nbsp;самых сильных команд
                                                в&nbsp;России по&nbsp;работе с&nbsp;периферийным оборудованием&nbsp;&mdash;
                                                банковскими терминалами, ККМ, принтерами, проводными и&nbsp;беспроводными
                                                считывателями карт
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="develop-cols__list-item">
                                    <div class="develop-col">
                                        <div class="develop-col__wrapper">
                                            <div class="develop-col__title">
                                                <svg width="45" height="34" viewBox="0 0 45 34" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M28.0578 0.455432L26.5328 0.0373581C26.3365 -0.0281005 26.1431 -0.00751511 25.9551 0.0989412C25.7665 0.205484 25.6391 0.365426 25.5736 0.578511L16.4013 32.3249C16.3359 32.538 16.3564 32.7391 16.4629 32.9274C16.5695 33.116 16.7291 33.243 16.9425 33.3085L18.4671 33.7267C18.6638 33.7927 18.8565 33.772 19.045 33.6654C19.2336 33.5583 19.3607 33.3989 19.4261 33.1862L28.5987 1.43929C28.664 1.22621 28.6437 1.02518 28.537 0.836469C28.4304 0.647845 28.2709 0.520804 28.0578 0.455432Z"
                                                          fill="#1F4ABD"/>
                                                    <path d="M14.3119 6.65263C14.3119 6.43955 14.2298 6.25084 14.0659 6.08702L12.8362 4.85743C12.6723 4.69353 12.4837 4.61136 12.2706 4.61136C12.0576 4.61136 11.8688 4.69361 11.705 4.85743L0.245986 16.3165C0.0818232 16.4804 0 16.669 0 16.8821C0 17.0952 0.0820816 17.2838 0.245986 17.4476L11.7049 28.9066C11.8688 29.0708 12.0571 29.1525 12.2706 29.1525C12.484 29.1525 12.6723 29.0706 12.8362 28.9066L14.0658 27.6777C14.2297 27.5139 14.3118 27.3252 14.3118 27.1119C14.3118 26.899 14.2297 26.7104 14.0658 26.5466L4.40183 16.8821L14.0659 7.21825C14.2301 7.05443 14.3119 6.86572 14.3119 6.65263Z"
                                                          fill="#1F4ABD"/>
                                                    <path d="M44.7542 16.3162L33.2949 4.85717C33.1311 4.69336 32.9424 4.6111 32.7296 4.6111C32.5162 4.6111 32.3282 4.69336 32.1637 4.85717L30.9346 6.08668C30.7708 6.25058 30.689 6.43895 30.689 6.65229C30.689 6.86563 30.7707 7.05408 30.9346 7.2179L40.5989 16.882L30.9346 26.5466C30.7708 26.7104 30.689 26.8991 30.689 27.1119C30.689 27.3253 30.7707 27.5139 30.9346 27.6777L32.1637 28.9066C32.3282 29.0708 32.5163 29.1525 32.7296 29.1525C32.9424 29.1525 33.1311 29.0706 33.2949 28.9066L44.7542 17.4477C44.9181 17.2839 45 17.0949 45 16.8818C45 16.6687 44.9181 16.48 44.7542 16.3162Z"
                                                          fill="#1F4ABD"/>
                                                </svg>
                                            </div>
                                            <div class="develop-col__desc">
                                                Штат сотрудников компании включает специалистов с&nbsp;10+&nbsp;летним
                                                опытом разработки бэк-офисов, интеграционных веб-сервисов, мобильных
                                                приложений
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% set list = [
            { img: '/images/development/props-1.svg', title: 'Ритейл и e-commerce' },
            { img: '/images/development/props-2.svg', title: 'Рестораны, кафе, фаст-фуд' },
            { img: '/images/development/props-3.svg', title: 'Фитнес и велнесс' },
            { img: '/images/development/props-4.svg', title: 'Beauty-сфера' },
            { img: '/images/development/props-5.svg', title: 'Досуг и развлечения' },
            { img: '/images/development/props-5.svg', title: 'Медицина' },
            { img: '/images/development/props-5.svg', title: 'Гостиницы, отели' },
            { img: '/images/development/props-5.svg', title: 'Логистические сервисы, доставка товаров' },
            { img: '/images/development/props-5.svg', title: 'Любые другие сферы торговли и оказания услуг' }
        ] %}
        <div class="develop-application products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="develop-application__title development-title-1">
                    Сферы применения
                </div>
                <div class="develop-application__desc possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Наше программное решение может применяться для стационарных
                    и&nbsp;мобильных терминалов в&nbsp;любых бизнес-направлениях:
                </div>
                <div class="info-grid info-grid_gap-medium info-grid_3x block_gap_small">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_min-height_none info-grid-card_dark-bg">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__title info-grid-card__title_blue">
                                                {{ loop.index }}
                                            </div>
                                            <div class="info-grid-card__desc">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sections__item block">
            <div class="block-wrapper">
                <div class="section-delimiter"></div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="section-color section-color_blue-dark section-color_red section-color_bg-right section-color_navi block-wrapper block_padding-top_xlarge block_padding-bottom_large">
                <div class="section-color__wrapper">
                    <div class="title-medium title-medium_white">
                        Варианты<br> приобретения ПО
                    </div>
                    <div class="possibilitys-subtitle block-left block_gap_medium">
                        В зависимости от масштабов автоматизации, размеров заказчика и конечной цели применения решения,
                        возможны:
                    </div>
                    <div class="info-grid info-grid_2x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_white bank-advantage_low bank-advantage--one">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">
                                                    Покупка лицензии
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_white bank-advantage_low bank-advantage--two">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">
                                                    Использование ПО в облачном формате по ежемесячной/годовой подписке
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-color__line"></div>
                    <div class="possibilitys-subtitle possibilitys-subtitle_wide block-left block_gap_medium">
                        Благодаря различным вариантам приобретения ПО Pay-logic, наше решение подходит не только
                        розничным торговым точкам среднего масштаба и крупным торговым сетям, но и небольшим частным
                        магазинам любой площади.
                    </div>
                </div>
            </div>
        </div>
        {% set list = [
            { img: '/images/development/d-1.svg', title: 'Стилизацию платежного интерфейса
в фирменные цвета или применение white label концепции' },
            { img: '/images/development/d-2.svg', title: 'Интеграцию системы киосков с внешней учетной системой' },
            { img: '/images/development/d-3.svg', title: 'Зачисление сдачи на телефон в киосках самообслуживания
' },
            { img: '/images/development/d-4.svg', title: 'Разработку рекламных баннеров' },
            { img: '/images/development/d-5.svg', title: 'Настройку платежного сценария
под определенные бизнес-требования' },
            { img: '/images/development/d-6.svg', title: 'Адаптацию к новой валюте и языку, включая создание мультиязычных интерфейсов' },
        ] %}
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="title-medium">
                    Доработки решения
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Типовые доработки решения для заказчика включают:
                </div>
                <div class="info-grid info-grid_gap-medium info-grid_3x block_gap_small">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_orange">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__img">
                                                <img src="{{ item.img }}" alt="">
                                            </div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="attention accordion_orange-dark attention_navi block_gap_xlarge">
                    <div class="attention__wrapper attention__wrapper_ticket-booth attention__wrapper_info">
                        <div class="attention__text attention__text_center">По требованию заказчика возможны любые
                            доработки программного обеспечения!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sections__item block">
            <div class="block-wrapper">
                <div class="section-delimiter"></div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="title-medium">
                    А как насчет разработки <br> других приложений?
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Наша компания с 2008 года занимается созданием сложных <br>
                    высоконагруженных приложений и может предложить полную <br>
                    разработку информационной системы, включая:
                </div>
                <div class="info-grid info-grid_3x">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count">{{ loop.index }}</div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="products-sections__item block">
            <div class="block section-with-image section-with-image_min-height_none section-with-image_bg-none section-with-image_navi">
                <div class="block-wrapper section-with-image__wrapper section-with-image__wrapper_border-bottom">
                    <div class="section-with-image__link">
                        <a href="#" class="section-with-image__link-arrow">
                            Узнать подробнее
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                {% include 'modules/callback-tile.twig' with {
                    map: false,
                    title: 'Остались вопросы?',
                    desc: 'Оставьте заявку и наши специлисты свяжутся с вами в ближайшее время',
                    modifier: 'callback-tile__side_develop'
                } %}
            </div>
        </div>

    </div>
{% endblock %}
