{% extends "common/base.twig" %}

{% block header %}
    {% set headerTop = "is-dark is-side-light is-tablet-dark" %}
    {% include 'common/header.twig' with { headerTop: headerTop } %}
{% endblock %}

{% block body %}
    <div class="products-sections -relative">
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="product-intro product-intro_digital">
                    <div class="product-intro__wrapper">
                        <div class="product-intro__main">
                            <div class="product-intro__tag"></div>
                            <h1 class="product-intro__title">
                                Киоски продажи цифрового контента
                            </h1>
                            <div class="product-intro__desc">
                                <p>
                                    Современные контент-киоски для реализации любой цифровой продукции&nbsp;&mdash;
                                    ключей активации, чеков с&nbsp;одноразовыми кодами взамен физической выдачи
                                    скретч-карт
                                </p>
                            </div>
                        </div>
                        <div class="product-intro__side">
                            <div class="product-intro__billboard"
                                 style="background-image: url('images/digital/promo.png')"></div>
                            <div class="product-intro__logo">
                                <img src="images/soft-logic.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="offer block-wrapper block_padding-top_xlarge">
                <div class="offer__wrapper">
                    <div class="offer__title block-left block_gap_medium">
                        <div class="title-h3">Наша компания предлагает:</div>
                    </div>
                    <div class="offer__list">
                        <div class="offer-list">
                            <div class="offer-list__list">
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Готовое программно-аппаратное решение, включающее киоск
                                                    самообслуживания
                                                    и&nbsp;специализированное&nbsp;ПО
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img offer-card__img_medium">
                                                        <img src="images/digital/t1.png" alt="ticket-transport">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Поставку специализированного софта для имеющегося у&nbsp;заказчика
                                                    оборудования
                                                    с&nbsp;возможностью адаптации, доработки
                                                    и&nbsp;кастомизации, а&nbsp;также разработку&nbsp;ПО с&nbsp;нуля
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img offer-card__img_medium">
                                                        <img src="images/digital/t2.png" alt="ticket-transport">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        {% set list = [
            { img: '/images/digital/i1.svg', title: 'Автоматизация продажи без участия кассиров' },
            { img: '/images/digital/i2.svg', title: 'Исключение физических носителей, полный переход в digital-формат' },
            { img: '/images/digital/i3.svg', title: 'Возможность развертывания сайтов, цифровых магазинов' },
            { img: '/images/digital/i4.svg', title: 'Неограниченная цифровая витрина' },
            { img: '/images/digital/i5.svg', title: 'Прием наличных и безналичных платежей, сдача в счет следующей покупки' },
            { img: '/images/digital/i6.svg', title: 'Бэк-офис для управления киосками, технических и финансовых данных' },
            { img: '/images/digital/i7.svg', title: 'Поддержка диспенсеров для выдачи скретч-карт при необходимости' }
        ] %}

        <div class="products-sections__item products-sections__item_gap-xxxxlarge block">
            <div class="block-wrapper">

                <div class="offer__title block_gap_xlarge">
                    <div class="title-h3">Ключевые преимущества:</div>
                </div>

                <div class="list-metric list-metric_simple list-metric_fast-food">
                    <div class="list-metric__list">
                        {% for item in list %}
                            <div class="list-metric__list-item">
                                <div class="list-metric__item">
                                    <div class="list-metric__item-side">
                                        <div class="list-metric__item-icon">
                                            <img src="{{ item.img }}" alt="">
                                        </div>
                                    </div>
                                    <div class="list-metric__item-main">
                                        <div class="list-metric__item-desc">
                                            {{ item.title }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="develop-biz products-sections__item -index-1">
            <div class="develop-biz__block block">
                <div class="develop-biz__wrapper block-wrapper">
                    <div class="develop-biz__content">
                        <div class="develop-biz__main">
                            <div class="develop-biz__title">
                                Бизнес-цель
                            </div>
                            <div class="develop-biz__description block-left">
                                <p>
                                    Киоски для продажи цифрового контента позволяют полностью переориентировать
                                    бизнес-направление по&nbsp;реализации кодов активации
                                    и&nbsp;скретч-карт в&nbsp;современный формат. Больше не&nbsp;нужно заботиться
                                    об&nbsp;отслеживании физических остатков в&nbsp;точке реализации, выделять
                                    человеческие
                                    ресурсы для продаж, нести расходы по&nbsp;изготовлению одноразовых карт.  
                                </p>
                                <p>
                                    Широкоформатный киоск с&nbsp;веб-интерфейсом позволяет развернуть неограниченную
                                    витрину
                                    с&nbsp;самыми разными цифровыми предложениями, которые
                                    всегда в&nbsp;наличии, с&nbsp;возможностью напечатать купленный код
                                    на&nbsp;чеке или, например, отправить на&nbsp;указанный E-mail.
                                </p>
                            </div>
                        </div>
                        <div class="develop-biz__side">
                            <div class="develop-biz__side-img develop-biz__side-img_wide">
                                <img src="/images/digital/bc.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            {
                title: 'Программное обеспечение',
                count: '01',
                content: 'Антивирусы, ОС, видеоредакторы, электронные словари и т. д.'
            },
            {
                title: 'Музыкальные сервисы',
                count: '02',
                content: 'Apple Music, SoundCloud, YouTube Music, Яндекс.Музыка'
            },
            {
                title: 'Фильмы и онлайн-кинотеатры ',
                count: '03',
                content: 'ivi, Okko, Амедиатека, Google Play Фильмы, Netflix'
            },
            {
                title: 'Компьютерные игры и развлечения',
                count: '04',
                content: ''
            },
            {
                title: 'Карты оплаты и подписки',
                count: '05',
                content: 'PlayStation Store, Xbox Live, Steam'
            },
            {
                title: 'Подарочные сертификаты',
                count: '06',
                content: 'Интернет-магазины, ритейлинговые сети, салоны красоты'
            },
        ] %}

        <div class="products-sections__item -index-2">
            <div class="develop-cap-grid block">
                <div class="develop-cap-grid__wrapper block-wrapper">
                    <div class="develop-cap-grid__title">
                        Возможности:
                    </div>
                    <div class="develop-cap-grid__content">
                        <div class="develop-cap-grid__list">
                            {% for item in list %}
                                <div class="develop-cap-grid__item">

                                    <div class="develop-cap-grid-card">
                                        <div class="develop-cap-grid-card__wrapper">
                                            <div class="develop-cap-grid-card__header">
                                                <div class="develop-cap-grid-card__title">
                                                    {{ item.title|raw }}
                                                </div>
                                                <div class="develop-cap-grid-card__count develop-cap-grid-card__count_grey">
                                                    {{ item.count }}
                                                </div>
                                            </div>
                                            {% if item.content %}
                                                <div class="develop-cap-grid-card__content">
                                                    {{ item.content|raw }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item -index-1">
            <div class="section-color section-color_black_simple section-color_kiosks block block_padding-top_large block_padding-bottom_xlarge">
                <div class="section-color__wrapper block-wrapper">
                    <div class="title-medium title-medium_white">
                        Типовые кейсы
                    </div>
                    <div class="scenario-item scenario-item_fitness scenario-item_number-orange-dark scenario-item--one">
                        <div class="scenario-item__wrapper">
                            <div class="scenario-item__main">
                                <div class="scenario-item__title">Киоск в розничном отделе ритейлера</div>
                                <div class="scenario-item__desc-wrapper">
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__subtitle">Описание процесса:</div>
                                        <div class="scenario-item__text">
                                            <p>
                                                Полный перевод процесса продажи цифровых товаров в интерфейс платежного
                                                киоска в прикассовой зоне. Устройство с широкоформатным, ярким экраном
                                                и современным интерфейсом в лучшем виде продемонстрирует цифровую
                                                витрину. Возможна регистрация пользователей по ID (номер телефона,
                                                E-mail) или продажа разовых кодов без авторизации, личный кабинет для
                                                зарегистрированных пользователей, бонусная система, истории покупок и т.
                                                д.
                                            </p>
                                            <p>
                                                Поддерживается оплата банковской картой, наличными, выдача сдачи.
                                                Оплаченные коды могут быть распечатаны на чеке или отправлены на E-mail,
                                                в виде SMS или
                                                в популярные мессенджеры.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="scenario-item__side scenario-item__side_phone-large">
                                <div class="scenario-item__img">
                                    <img src="/images/digital/side-card.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="block section-image section-image_gap-none section-image_bg-b section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        <div class="section-image__image">
                            <img src="/images/digital/slider-1.png" alt="">
                        </div>
                        <div class="section-image__image">
                            <img src="/images/digital/slide-2.png" alt="">
                        </div>
                        <div class="section-image__image">
                            <img src="/images/digital/slide-3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="scenario-item scenario-item_digital scenario-item_fitness scenario-item_ticket-transport scenario-item_color-dark scenario-item_number-orange-dark scenario-item--two  scenario-item--two-right">
                    <div class="scenario-item__wrapper">
                        <div class="scenario-item__side scenario-item__side_bus">
                            <div class="scenario-item__img">
                                <img src="/images/digital/side-card-2.png" alt="">
                            </div>
                        </div>
                        <div class="scenario-item__main">
                            <div class="scenario-item__title">Киоск с цифровым магазином в местах<br> повышенной
                                проходимости
                            </div>
                            <div class="scenario-item__desc-wrapper">
                                <div class="scenario-item__desc scenario-item__desc_gap-none">
                                    <div class="scenario-item__text">
                                        <p>
                                            Самостоятельный контент-киоск для продажи цифровых кодов и ключей активации
                                            в
                                            ТРЦ, бизнес-центрах, на станциях метро и т.д. Наше программное решение
                                            позволяет
                                            вывести любой существующий веб-сайт на киоск с минимальными затратами, в
                                            результате цифровой Интернет-магазин при необходимости может организовать
                                            реализацию кодов и ключей активации через устройства самообслуживания,
                                            в том числе за наличные.
                                        </p>
                                        <p>
                                            Большой, привлекающий внимание экран может параллельно использоваться
                                            в качестве рекламной площадки для собственной и сторонней продукции —
                                            в составе нашего ПО существует отдельный модуль по самостоятельной
                                            загрузке заказчиком баннеров и видео, а также настройке показов и сбора
                                            статистики по всей сети киосков.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item -index-2 products-sections__item_gap-large">
            <div class="block section-image section-image_gap-none section-image_bg-b section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        <div class="section-image__image">
                            <img src="/images/digital/example-ui-1.jpg" alt="">
                        </div>
                        <div class="section-image__image">
                            <img src="/images/digital/example-ui-2.jpg" alt="">
                        </div>
                        <div class="section-image__image">
                            <img src="/images/digital/example-ui-3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item -index-1">
            <div class="section-color section-color_top_offset section-color_black_simple section-color_kiosks block block_padding-top_large block_padding-bottom_xlarge">
                <div class="section-color__wrapper block-wrapper">
                    <div class="scenario-item scenario-item_fitness scenario-item_number-orange-dark scenario-item--three">
                        <div class="scenario-item__wrapper">
                            <div class="scenario-item__main">
                                <div class="scenario-item__title">Киоск с совмещенным функционалом</div>
                                <div class="scenario-item__desc-wrapper">
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__subtitle">Описание процесса:</div>
                                        <div class="scenario-item__text">
                                            <p>
                                                Использование киоска в качестве универсальной площадки не только для
                                                реализации цифрового контента, но и для продажи других товаров в
                                                прикассовой зоне, в качестве инфомата и системы интерактивной оценки
                                                качества клиентского сервиса, для оплаты регулярных платежей.
                                                Перспективы устройства практически
                                                не ограничены, а функционал определяется только требованиями заказчика.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item -index-1 products-sections__item_gap-large">
            <div class="block section-image section-image_gap-none section-image_bg-b section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        <div class="section-image__image">
                            <img src="/images/digital/example-ui-4.jpg" alt="">
                        </div>
                        <div class="section-image__image">
                            <img src="/images/digital/example-ui-5.jpg" alt="">
                        </div>
                        <div class="section-image__image">
                            <img src="/images/digital/example-ui-6.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper block-wrapper_bg-left block_padding-top_large block_padding-bottom_xlarge">
                <div class="section-image section-image_messenger">
                    <div class="section-image__wrapper">
                        <div class="section-image__main">
                            <div class="title-medium">
                                Система технического<br> мониторинга
                            </div>
                            <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                                Система включает модуль технического мониторинга и модуль оповещения
                                о нештатных ситуациях. Заказчик может отслеживать в реальном времени актуальный статус киоска, получать уведомления о технических проблемах в виде SMS/E-mail/Telegram уведомлений и оперативно реагировать на них
                            </div>
                        </div>
                        <div class="section-image__side">
                            <div class="section-image__img">
                                <img src="/images/fast-food/phone-mg.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="title-medium">
                    Система обновлений
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Встроенная система обновлений позволяет оперативно вносить любые изменения
                    в ПО и загружать их на киоски по заданному расписанию.
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="section-color section-color_blue-dark section-color_red section-color_bg-right section-color_orange block-wrapper block_padding-top_xlarge block_padding-bottom_large">
                <div class="section-color__wrapper">
                    <div class="title-medium title-medium_white">
                        Варианты<br> приобретения ПО
                    </div>
                    <div class="possibilitys-subtitle block-left block_gap_medium">
                        В зависимости от масштабов автоматизации, размеров заказчика и конечной цели применения решения,
                        возможны:
                    </div>
                    <div class="info-grid info-grid_2x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_white bank-advantage_low bank-advantage--one">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">
                                                    Покупка лицензии
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_white bank-advantage_low bank-advantage--two">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">
                                                    Использование ПО в облачном формате по ежемесячной/годовой подписке
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-color__line"></div>
                    <div class="possibilitys-subtitle possibilitys-subtitle_wide block-left block_gap_medium">
                        Благодаря различным вариантам приобретения ПО Pay-logic, наше решение подходит не только
                        розничным торговым точкам среднего масштаба и крупным торговым сетям, но и небольшим частным
                        магазинам любой площади.
                    </div>
                </div>
            </div>
        </div>
        {% set list = [
            { img: '/images/digital/d-1.svg', title: 'Стилизацию платежного интерфейса
в фирменные цвета или применение white label концепции' },
            { img: '/images/digital/d-2.svg', title: 'Интеграцию системы киосков с внешней учетной системой' },
            { img: '/images/digital/d-3.svg', title: 'Зачисление сдачи на телефон в киосках самообслуживания
' },
            { img: '/images/digital/d-4.svg', title: 'Разработку рекламных баннеров' },
            { img: '/images/digital/d-5.svg', title: 'Настройку платежного сценария
под определенные бизнес-требования' },
            { img: '/images/digital/d-6.svg', title: 'Адаптацию к новой валюте и языку, включая создание мультиязычных интерфейсов' },
        ] %}
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="title-medium">
                    Доработки решения
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Типовые доработки решения для заказчика включают:
                </div>
                <div class="info-grid info-grid_gap-medium info-grid_3x block_gap_small">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_orange">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__img">
                                                <img src="{{ item.img }}" alt="">
                                            </div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="attention accordion_orange-dark attention_orange-dark block_gap_xlarge">
                    <div class="attention__wrapper attention__wrapper_ticket-booth attention__wrapper_info">
                        <div class="attention__text attention__text_center">По требованию заказчика возможны любые
                            доработки программного обеспечения!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sections__item block">
            <div class="block-wrapper">
                <div class="section-delimiter"></div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="block section-with-image section-with-image_bg-none section-with-image_red">
                <div class="block-wrapper section-with-image__wrapper section-with-image__wrapper_border-bottom">
                    <div class="section-with-image__content-wrapper">
                        <div class="section-with-image__main">
                            <div class="section-with-image__title">
                                Поставка<br>программно-аппаратного решения под ключ
                            </div>
                            <div class="section-with-image__desc-wrapper">
                                <div class="section-with-image__desc">
                                    За длительный период деятельности на рынке платежного ПО мы установили прочные
                                    партнерские связи с проверенными производителями оборудования
                                    и готовы предложить комплексное решение в формате ПО + киоски самообслуживания для
                                    различных сфер бизнеса
                                </div>
                            </div>
                        </div>
                        <div class="section-with-image__side">
                            <div class="section-with-image__side-image section-with-image__side-image_postmat-retail"></div>
                        </div>
                    </div>
                    <div class="section-with-image__delimiter section-with-image__delimiter_mobile"></div>
                    <div class="section-with-image__link">
                        <a href="#" class="section-with-image__link-arrow">
                            Перейти на сайт партнера
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="block additionally-resources">
                <div class="block-wrapper additionally-resources__wrapper">
                    <div class="additionally-resources__title">Дополнительные<br>ресурсы</div>
                    <div class="additionally-resources__list-wrapper">
                        <a href="#" class="resource-item resource-item_green">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_white-terminal"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Выбрать киоск</span>
                            </div>
                        </a>
                        <a href="#" class="resource-item resource-item_blue">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_clouds"></div>
                                    <div class="resource-item__image resource-item__image_cloud"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Облачный сервис</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                {% include 'modules/callback-tile.twig' with {
                    map: false,
                    title: 'Остались вопросы?',
                    desc: 'Оставьте заявку и наши специлисты свяжутся с вами в ближайшее время',
                    modifier: 'callback-tile__side_red'
                } %}
            </div>
        </div>
    </div>
{% endblock %}
