{% extends "common/base.twig" %}

{% block header %}
    {% set headerTop = "is-dark is-side-light is-tablet-dark" %}
    {% include 'common/header.twig' with { headerTop: headerTop } %}
{% endblock %}

{% block body %}
    <div class="products-sections -relative">
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="product-intro product-intro_retail">
                    <div class="product-intro__wrapper">
                        <div class="product-intro__main">
                            <div class="product-intro__tag"></div>
                            <h1 class="product-intro__title">
                                Киоски для фаст-фуда<br>
                                и ресторанов
                            </h1>
                            <div class="product-intro__desc">
                                <p>
                                    Краткое тематическое описание о предоставляемых
                                    услугах
                                </p>
                            </div>
                        </div>
                        <div class="product-intro__side">
                            <div class="product-intro__billboard" style="background-image: url('images/fast-food/promo-main.png')"></div>
                            <div class="product-intro__logo">
                                <img src="images/soft-logic.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="offer block-wrapper block_padding-top_xlarge">
                <div class="offer__wrapper">
                    <div class="offer__title block-left block_gap_medium">
                        <div class="title-h3">Наша компания предлагает:</div>
                    </div>
                    <div class="offer__list">
                        <div class="offer-list">
                            <div class="offer-list__list">
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Готовое программно-аппаратное решение, включающее киоск самообслуживания и специализированное ПО
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img">
                                                        <img src="/images/fast-food/c-left.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Поставку специализированного софта для имеющегося у заказчика оборудования, с возможностью адаптации, доработки и кастомизации, а также разработку ПО с нуля
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img">
                                                        <img src="/images/retail/t-2.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        {% set list = [
            { img: '/images/fast-food/icon-1.svg', title: 'Повышение скорости и качества обслуживания' },
            { img: '/images/fast-food/icon-2.svg', title: 'Сокращение затрат на персонал' },
            { img: '/images/fast-food/icon-3.svg', title: 'Использование киосков в качестве рекламных панелей' },
            { img: '/images/fast-food/icon-4.svg', title: 'Использование киосков для маркетинговых функций <span>(выдача скидочных купонов)</span>' },
            { img: '/images/fast-food/icon-5.svg', title: 'Увеличение средней стоимости чека' },
            { img: '/images/fast-food/icon-6.svg', title: 'Первый шаг к созданию заведений без кассиров' },
        ] %}
        <div class="products-sections__item products-sections__item_gap-xxxxlarge block">
            <div class="block-wrapper">

                <div class="offer__title block_gap_xlarge">
                    <div class="title-h3">Ключевые преимущества для ресторанов, кафе и сферы фаст-фуд:</div>
                </div>

                <div class="list-metric list-metric_simple list-metric_fast-food">
                    <div class="list-metric__list">
                        {% for item in list %}
                            <div class="list-metric__list-item">
                                <div class="list-metric__item">
                                    <div class="list-metric__item-side">
                                        <div class="list-metric__item-icon">
                                            <img src="{{ item.img }}" alt="">
                                        </div>
                                    </div>
                                    <div class="list-metric__item-main">
                                        <div class="list-metric__item-desc">
                                            {{ item.title }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="block brand-list block_padding-bottom_xlarge">
                <div class="brand-list__wrapper block-wrapper">
                    <div class="brand-list__title">
                        Интеграция со сторонними системами автоматизации ресторанного бизнеса:
                    </div>
                    <div class="brand-list__list-wrap">
                        <div class="brand-list__list">
                            <div class="brand-list__item">
                                <div class="brand-list__link">
                                    <img src="/images/fast-food/b-1.svg" alt="">
                                </div>
                            </div>
                            <div class="brand-list__item">
                                <div class="brand-list__link">
                                    <img src="/images/fast-food/b-2.svg" alt="">
                                </div>
                            </div>
                            <div class="brand-list__item">
                                <div class="brand-list__link">
                                    <img src="/images/fast-food/b-3.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brand-list__info">
                        <div class="attention accordion_orange-dark">
                            <div class="attention__wrapper attention__wrapper_orange attention__wrapper_info">
                                <div class="attention__text attention__text_center">По требованию заказчика возможны любые доработки программного обеспечения!</div>
                            </div>
                        </div>
                    </div>
                    <div class="brand-list__text block-left">
                        <div>*</div>Если Вы являетесь разработчиком программных комплексов для автоматизации ресторанов, баров, кафе и рассматриваете киоски самообслуживания в качестве интересного, перспективного решения для Ваших клиентов, свяжитесь с нами
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block_gap-out_large">
            <div class="block target target_fast-food">
                <div class="block-wrapper target__wrapper target__wrapper_border-bottom">
                    <div class="target__main">
                        <div class="target__title">
                            Бизнес-цель
                        </div>
                        <div class="target__desc">
                            <div class="block-left">
                                Автоматизация коммерческих точек различных масштабов
                                с применением терминалов самообслуживания позволяет существенно сократить комплексные издержки, а также ускорить, упростить и предоставить вариативность в выборе продукции и оплаты, в соответствии с современными требованиями покупателей.
                            </div>
                        </div>
                    </div>
                    <div class="target__side">
                        <div class="target__side-image">
                            <img src="/images/fast-food/bc.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { title: 'Современные технологии обслуживания без касс' },
            { title: 'Яркий, интерактивный интерфейс' },
            { title: 'Выбор и редактирование заказа на лету' },
            { title: 'Наличная и безналичная оплата' },
            { title: 'Программы лояльности, накопительные баллы, скидки' },
        ] %}

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="title-h3 block_gap_medium">Преимущества внедрения:</div>
                <div class="info-grid info-grid_3x block_gap_medium">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_orange-dark">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count">{{ loop.index }}</div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_wide block-left block_gap_xlarge">
                    Киоски самообслуживания и интерактивные терминалы нашли активное применение
                    и доказали свою эффективность в таких крупнейших сетях, как <b>McDonalds, Burger King, KFC, Subway</b>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="section-color section-color_fast-food block block_padding-top_large block_padding-bottom_xlarge">
                <div class="section-color__wrapper block-wrapper">
                    <div class="title-medium title-medium_white">
                        Типовые сценарии<br> применения
                    </div>
                    <div class="scenario-item scenario-item_fast-food scenario-item_number-white scenario-item--one">
                        <div class="scenario-item__wrapper">
                            <div class="scenario-item__main">
                                <div class="scenario-item__title">Установка внутри любого<br> заведения</div>
                                <div class="scenario-item__desc-wrapper">
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__subtitle">Описание процесса:</div>
                                        <div class="scenario-item__text">
                                            Киоск самообслуживания включает в себя полное меню заведения, которое динамически изменятся по заданным условиям - время дня, наличие компонентов для приготовления, стратегия реализации. Позволяет свободно редактировать заказ, предлагает добавочные позиции - соусы, напитки, блюда дня и т. д. Возможна выдача одноразовых купонов с QR-кодами, которые могут быть отсканированы в киоске для получения скидки. После оплаты посетитель получает заказ по чеку.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="scenario-item__side">
                                <div class="scenario-item__img">
                                    <img src="/images/fast-food/tp-left.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="block section-image section-image_gap-none section-image_bg-b section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['/images/fast-food/frame/1-1.jpg', '/images/fast-food/frame/1-2.jpg', '/images/fast-food/frame/1-3.jpg'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xlarge block">
            <div class="block-wrapper">
                <div class="scenario-item scenario-item_fast-food scenario-item_number-orange-dark scenario-item_color-dark scenario-item--two">
                    <div class="scenario-item__wrapper">
                        <div class="scenario-item__main">
                            <div class="scenario-item__title">Автоматизация drive-thru<br> для фаст-фуда</div>
                            <div class="scenario-item__desc-wrapper">
                                <div class="scenario-item__desc scenario-item__desc_gap-none">
                                    <div class="scenario-item__subtitle">Описание процесса:</div>
                                    <div class="scenario-item__text">
                                        Применение киоска самообслуживания для самостоятельного оформления заказа
                                        из автомобиля. Полный отказ от голосового приема заказа, возможность направить персонал на решение других задач.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scenario-item__side scenario-item__side_auto">
                            <div class="scenario-item__img">
                                <img src="/images/fast-food/auto.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block_gap-out_medium -index-2">
            <div class="block section-image section-image_gap-none section-image_bg-lb section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['/images/fast-food/frame/2-1.jpg', '/images/fast-food/frame/2-2.jpg', '/images/fast-food/frame/2-3.jpg'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item -index-1">
            <div class="section-color section-color_fast-food block block_padding-top_xlarge block_padding-bottom_xlarge">
                <div class="section-color__wrapper block-wrapper">
                    <div class="seporate seporate_full seporate_narrow"></div>
                    <div class="title-medium title-medium_white">
                        Автоматизация заказа в ресторане<br>
                        или кафе
                    </div>
                    <div class="scenario-item scenario-item_fast-food scenario-item_number-white scenario-item--three">
                        <div class="scenario-item__wrapper">
                            <div class="scenario-item__main">
                                <div class="scenario-item__title">Трансфер до фиксированного<br>пункта назначения</div>
                                <div class="scenario-item__desc-wrapper">
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__subtitle">Описание процесса:</div>
                                        <div class="scenario-item__text">
                                            Гибкая настройка сценариев работы и интерфейса позволяет принимать входную оплату через киоск самообслуживания, выбирать места различной ценовой категории на наглядном плане заведения, оформлять и оплачивать заказ, а также выдавать одноразовый билет.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="scenario-item__side scenario-item__side_boxes">
                                <div class="scenario-item__img">
                                    <img src="/images/fast-food/az-right.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="block section-image section-image_gap-none section-image_bg-b section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['/images/fast-food/frame/3-1.jpg', '/images/fast-food/frame/3-2.jpg', '/images/fast-food/frame/3-3.jpg'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xlarge block">
            <div class="block-wrapper">
                <div class="scenario-item scenario-item_fast-food scenario-item_number-orange-dark scenario-item_color-dark scenario-item--four">
                    <div class="scenario-item__wrapper">
                        <div class="scenario-item__main">
                            <div class="scenario-item__title">Интеграция с мобильным<br> или веб-приложением</div>
                            <div class="scenario-item__desc-wrapper">
                                <div class="scenario-item__desc scenario-item__desc_gap-none">
                                    <div class="scenario-item__subtitle">Описание процесса:</div>
                                    <div class="scenario-item__text">
                                        Наши возможности позволяют разработать единую систему, включающую мобильное приложение или веб-сайт для предварительного формирования заказа или выбора
                                        и бронирования места. Клиенту остается только поднести смартфон с QR-кодом
                                        к киоску самообслуживания в заведении для оплаты посещения и блюд.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scenario-item__side scenario-item__side_phone">
                            <div class="scenario-item__img">
                                <img src="/images/fast-food/phone.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="block section-image section-image_gap-none section-image_bg-lb section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['/images/fast-food/frame/3-1.jpg', '/images/fast-food/frame/3-2.jpg', '/images/fast-food/frame/3-3.jpg'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        {% set list = [
            { title: 'Отображение меню с группировками' },
            { title: 'Выделение товаров, ярлыки, метки' },
            { title: 'Информирование о скидках и акциях' },
            { title: 'Возможность настройки модификаторов' },
            { title: 'Функционал заказа в заведение или на вынос' },
            { title: 'Дополнительные позиции к заказу' },
            { title: 'Отправка заказа как во внутреннюю учетную систему, так и на кухню - печать на принтере' },
            { title: 'Отправка электронных чеков клиентам' },
        ] %}

        <div class="products-sections__item block block_gap-out_medium -index-2">
            <div class="block-wrapper">
                <div class="title-medium">Функциональные<br> возможности</div>
                <div class="info-grid info-grid_3x">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_orange-dark">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count">{{ loop.index }}</div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { title: 'Фаст-фуд, закусочные' },
            { title: 'Полносервисные и специализированные рестораны' },
            { title: 'Объединенные точки общественного питания, фуд-корты' },
            { title: 'Пиццерии, кафе' },
            { title: 'Кейтеринг' },
            { title: 'Бары, питейные заведения, алкомаркеты' },
            { title: 'Кофейни, фреш-бары' },
            { title: 'Столовые на предприятиях, общественное питание в организациях' },
            { title: 'Кондитерские, пекарни' },
            { title: 'Любые другие заведения сферы общепита' },
        ] %}

        <div class="products-sections__item -index-1 block">
            <div class="section-color section-color_fast-food section-color_bg-right block-wrapper block_padding-top_xlarge block_padding-bottom_large">
                <div class="section-color__wrapper">
                    <div class="seporate seporate_full seporate_narrow"></div>
                    <div class="title-medium title-medium_white">
                        Сферы применения
                    </div>
                    <div class="possibilitys-subtitle possibilitys-subtitle_white possibilitys-subtitle_wide block-left block_gap_medium">
                        Киоск самообслуживания легко адаптируется для любых видов коммерческой деятельности, затрагивающих:
                    </div>
                    <div class="info-grid info-grid_3x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                {% for item in list %}
                                    <div class="info-grid__item">
                                        <div class="info-grid-card info-grid-card_white">
                                            <div class="info-grid-card__wrapper">
                                                <div class="info-grid-card__count">{{ loop.index }}</div>
                                                <div class="info-grid-card__title">{{ item.title }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            {
                img: '/images/fast-food/e-1.svg',
                title: 'Бэк-офис',
                description: 'Система имеет в своем составе бэк-офис, который позволяет удаленно настраивать рекламные кампании как своих услуг, так и сторонней рекламы, вести подробную статистику.'
            },
            {
                img: '/images/fast-food/e-2.svg',
                title: 'Face-аналитика',
                description: 'Предложение блюд в зависимост от пола, возраста, предпочтений.'
            },
            {
                img: '/images/fast-food/e-3.svg',
                title: 'Изменение меню',
                description: 'Благодаря возможности быстрого изменения интерактивного меню упрощается A/B тестирование востребованности блюд и определение дальнейшей стратегии продаж.'
            },
        ] %}

        <div class="products-sections__item block block_padding-top_large block_padding-bottom_xxlarge">
            <div class="block-wrapper">
                <div class="title-medium block_gap_large">
                    Сферы применения
                </div>
                <div class="info-list">
                    <div class="info-list__wrapper">
                        <div class="info-list__list">
                            {% for item in list %}
                                <div class="info-list__item">
                                    <div class="info-card info-card_complex">
                                        <div class="info-card__wrapper">
                                            <div class="info-card__img">
                                                <img src="{{ item.img }}" alt="">
                                            </div>
                                            <div class="info-card__title">{{ item.title }}</div>
                                            <div class="info-card__description">{{ item.description }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper block-wrapper_bg-left block_padding-top_large block_padding-bottom_xlarge">
                <div class="section-image section-image_messenger">
                    <div class="section-image__wrapper">
                        <div class="section-image__main">
                            <div class="title-medium">
                                Система технического<br> мониторинга
                            </div>
                            <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                                Система включает модуль технического мониторинга и модуль оповещения
                                о нештатных ситуациях. Заказчик может отслеживать в реальном времени актуальный статус киоска, получать уведомления о технических проблемах в виде SMS/E-mail/Telegram уведомлений и оперативно реагировать на них
                            </div>
                        </div>
                        <div class="section-image__side">
                            <div class="section-image__img">
                                <img src="/images/fast-food/phone-mg.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper block_padding-top_large block_padding-bottom_large">
                <div class="title-medium">
                    Система обновлений
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Встроенная система обновлений позволяет оперативно вносить любые изменения
                    в ПО и загружать их на киоски по заданному расписанию.
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="section-color section-color_blue-dark section-color_bg-right block-wrapper block_padding-top_xlarge block_padding-bottom_large">
                <div class="section-color__wrapper">
                    <div class="title-medium title-medium_white">
                        Варианты использования<br> решения
                    </div>
                    <div class="possibilitys-subtitle block-left block_gap_medium">
                        Способы предоставления лицензии на программное обеспечение:
                    </div>
                    <div class="info-grid info-grid_2x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_orange  bank-advantage_low bank-advantage--one">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">Покупка лицензии</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_orange bank-advantage_low bank-advantage--two">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">Использование ПО в облачном формате по ежемесячной/годовой подписке</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-color__line"></div>
                </div>
            </div>
        </div>

        {% set list = [
            { img: '/images/fast-food/d-1.svg', title: 'Стилизацию платежного интерфейса в фирменные цвета или применение white label концепции' },
            { img: '/images/fast-food/d-2.svg', title: 'Интеграцию системы киосков с учетной системой заведения' },
            { img: '/images/fast-food/d-3.svg', title: 'Разработку рекламных баннеров' },
            { img: '/images/fast-food/d-4.svg', title: 'Настройку платежного сценария под определенные бизнес-требования' },
            { img: '/images/fast-food/d-5.svg', title: 'Адаптацию к новой валюте и языку, включая создание мультиязычных интерфейсов' },
        ] %}

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="title-medium">
                    Доработки решения
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Типовые доработки решения для заказчика включают:
                </div>
                <div class="info-grid info-grid_gap-medium info-grid_3x block_gap_small">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_orange">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__img">
                                                <img src="{{ item.img }}" alt="">
                                            </div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="attention accordion_orange-dark block_gap_xlarge">
                    <div class="attention__wrapper attention__wrapper_orange attention__wrapper_info">
                        <div class="attention__text attention__text_center">По требованию заказчика возможны любые доработки программного обеспечения!</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper block-wrapper_bg-left block_padding-top_large block_padding-bottom_xlarge">
                <div class="title-medium">
                    Дополнительные<br> возможности для<br> бизнеса
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Наше решение включает собственную систему, интегрированную с панелью электронной очереди - заказчику не требуется тратить средства на внедрение сторонних решений.
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="block section-with-image section-with-image_orange-dark section-with-image_bg-none">
                <div class="block-wrapper section-with-image__wrapper section-with-image__wrapper_told">
                    <div class="section-with-image__content-wrapper">
                        <div class="section-with-image__main">
                            <div class="section-with-image__title">
                                Автоматизация выдачи<br> заказа
                            </div>
                            <div class="section-with-image__desc-wrapper">
                                <div class="section-with-image__desc">
                                    <p>Помимо формирования заказа и оплаты через киоски, компания Soft-logic может предложить автоматизацию выдачи заказа на базе продуктоматов и камер хранения с охлаждением или подогревом. Используя комплексное решение
                                        от нашей компании, фаст-фуд точка может обеспечить следующие процессы:</p>
                                    <ul class="support-item support-item_orange">
                                        <li>Оплату и самостоятельное получение заказа клиентом в автоматизированной камере выдачи в удобное время </li>
                                        <li>Максимальное сокращение кассовых работников и обслуживающего персонала</li>
                                        <li>Привлечение новой категории клиентов, которые ценят свое время</li>
                                    </ul>
                                    <p>Клиент удаленно формирует и оплачивает заказ, повар готовит блюда, размещает их в продуктомате или камере хранения. Клиент получает заказ
                                        в удобное время, без необходимости оформления заказа в заведении
                                        и ожидания в процессе его приготовления.</p>
                                </div>
                            </div>
                        </div>
                        <div class="section-with-image__side">
                            <div class="gray-dots" style="left:-120px;top:70px"></div>
                            <div class="section-with-image__side-image section-with-image__side-image_postmat-ff"></div>
                        </div>
                    </div>
                    <div class="section-with-image__delimiter"></div>
                    <div class="section-with-image__link">
                        <a href="#" class="section-with-image__link-arrow">
                            Подробнее о почтоматах и камерах хранения
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {# ---------------------   ---------------------   ---------------------   ---------------------   --------------------- #}
        <div class="products-sections__item">
            <div class="block section-with-image section-with-image_orange-dark">
                <div class="block-wrapper section-with-image__wrapper">
                    <div class="section-with-image__content-wrapper">
                        <div class="section-with-image__main">
                            <div class="section-with-image__title">
                                Поставка<br>программно-аппаратного решения под ключ
                            </div>
                            <div class="section-with-image__desc-wrapper">
                                <div class="section-with-image__desc">
                                    За длительный период деятельности на рынке платежного ПО мы установили прочные партнерские связи с проверенными производителями оборудования
                                    и готовы предложить комплексное решение в формате ПО + киоски самообслуживания для различных сфер бизнеса
                                </div>
                            </div>
                        </div>
                        <div class="section-with-image__side">
                            <div class="section-with-image__side-image section-with-image__side-image_postmat-retail"></div>
                        </div>
                    </div>
                    <div class="section-with-image__delimiter section-with-image__delimiter_mobile"></div>
                    <div class="section-with-image__link">
                        <a href="#" class="section-with-image__link-arrow">
                            Перейти на сайт партнера
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="block additionally-resources">
                <div class="block-wrapper additionally-resources__wrapper">
                    <div class="additionally-resources__title">Дополнительные<br>ресурсы</div>
                    <div class="additionally-resources__list-wrapper">
                        <a href="#" class="resource-item resource-item_green">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_white-terminal"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Выбрать киоск</span>
                            </div>
                        </a>
                        <a href="#" class="resource-item resource-item_blue">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_clouds"></div>
                                    <div class="resource-item__image resource-item__image_cloud"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Облачный сервис</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                {% include 'modules/callback-tile.twig' with {
                    map: false,
                    title: 'Остались вопросы?',
                    desc: 'Оставьте заявку и наши специлисты свяжутся с вами в ближайшее время',
                    modifier: 'callback-tile__side_orange-dark'
                }
                %}
            </div>
        </div>

    </div>
{% endblock %}
