{% extends "common/base.twig" %}

{% block header %}
    {% set headerTop = "is-dark is-side-light is-tablet-dark" %}
    {% include 'common/header.twig' with { headerTop: headerTop } %}
{% endblock %}

{% block body %}
    <div class="products-sections -relative">

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="product-intro product-intro_fiscal-farm">
                    <div class="product-intro__wrapper">
                        <div class="product-intro__main">
                            <div class="product-intro__tag"></div>
                            <h1 class="product-intro__title">
                                Сервис онлайн<br> фискализации
                            </h1>
                            <div class="product-intro__desc">
                                <p>
                                    Готовый комплекс программного обеспечения
                                    для государственного или коммерческого оператора фискальных данных
                                </p>
                            </div>
                        </div>
                        <div class="product-intro__side">
                            <div class="product-intro__billboard"
                                 style="background-image: url('/images/fiscal-online/main.png')"></div>
                            <div class="product-intro__logo">
                                <img src="images/soft-logic.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">

            <div class="block-wrapper block_padding-top_large block-wrapper_bg-center block-wrapper_bg-center_bottom-out">
                <div class="block_gap_xlarge">
                    <div class="possibilitys-title title title-h1 block_gap_medium">
                        Предпосылки<br> создания
                    </div>
                    <div class="possibilitys-subtitle possibilitys-subtitle_columns block-left">
                        <div class="possibilitys-subtitle__list">
                            <div class="possibilitys-subtitle__item">
                                <p>
                                    Стремительное развитие технологий и широкополосного доступа к сети
                                    Интернет обеспечило устойчивое развитие торговли и расширение способов осуществления
                                    торговых операций.
                                </p>
                                <p>
                                    В то же время государственные органы, традиционно стремящиеся
                                    к максимальному повышению собираемости налогов, приступили к созданию онлайн-систем,
                                    полностью контролирующих реализацию товаров и услуг частными лицами.
                                </p>
                            </div>
                            <div class="possibilitys-subtitle__item">
                                <ul class="support-item support-item_blue-light">
                                    <li>
                                        Россия – 54-ФЗ и создание операторов фискальных данных (ОФД)
                                    </li>
                                    <li>
                                        Казахстан – Приказ Министра финансов Республики Казахстан
                                        от 16 февраля 2018 года № 206 о применении ККМ
                                    </li>
                                    <li>
                                        Украина – Закон № 2628-VIII от 23.11.2018 г о применении РРО
                                    </li>
                                    <li>
                                        Белоруссия – Постановление Совета Министров Республики Беларусь
                                        и Национального банка Республики Беларусь от 6 июля 2011 г.
                                        № 924/16» (в редакции от 29.06.2018 № 514/9) о применении СКНО
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="seporate seporate_full seporate_narrow"></div>

                <div class="block_gap_medium">
                    <div class="possibilitys-title title title-h1 block_gap_medium">
                        Назначение<br>
                        программного<br>
                        комплекса<br>
                    </div>
                    {% set list = [
                        {
                            title: 'Создание единой базы юридических лиц, точек продаж и данных о покупках.',
                            img: '/images/fiscal-online/i-1.svg'
                        },
                        {
                            title: 'Обеспечение через набор различных автоматизированных рабочих мест (АРМ) различной отчетности для представителей государственных органов',
                            img: '/images/fiscal-online/i-1.svg'
                        },
                        {
                            title: 'Генерация агрегированной отчетности для различных департаментов ',
                            img: '/images/fiscal-online/i-1.svg'
                        }
                    ] %}
                    <div class="info-grid info-grid_gap-medium info-grid_3x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                {% for item in list %}
                                    <div class="info-grid__item">
                                        <div class="info-grid-card info-grid-card_orange">
                                            <div class="info-grid-card__wrapper">
                                                <div class="info-grid-card__img">
                                                    <img src="{{ item.img }}" alt="">
                                                </div>
                                                <div class="info-grid-card__title">{{ item.title }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-wrapper block-wrapper_bg-gerb block_gap_medium">
                <div class="possibilitys-title title title-h1 block_gap_medium">
                    Преимущества<br>
                    решения для<br>
                    госорганов
                </div>
                {% set list = [
                    'Повышение собираемости налогов и прозрачности бизнеса на уровне государства',
                    'Мониторинг розничных цен на различные группы продуктов',
                    'Анализ потребления товаров и услуг на уровне государства (дефицит/перепроизводство)',
                ] %}
                <div class="info-grid info-grid_3x">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_simple">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count info-grid-card__count_blue-light">{{ loop.index }}</div>
                                            <div class="info-grid-card__title info-grid-card__title_large">{{ item }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            'Магазины электроники, цифровой и бытовой техники',
            'Магазины товаров повседневного спроса (дрогери)',
            'Магазины спортивных товаров'
        ] %}

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper section-color section-color_blue-light section-color_bg-right block_padding-top_large block_padding-bottom_large">
                <div class="section-color__wrapper">
                    <div class="title-medium title-medium_white">
                        Преимущества<br> решения для бизнеса
                    </div>
                    <div class="possibilitys-subtitle possibilitys-subtitle_white block-left block_gap_medium">
                        Факты применения онлайн-касс:
                    </div>
                    <div class="info-grid info-grid_3x block_gap_small">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                {% for item in list %}
                                    <div class="info-grid__item">
                                        <div class="info-grid-card info-grid-card_simple-white">
                                            <div class="info-grid-card__wrapper">
                                                <div class="info-grid-card__count">{{ loop.index }}</div>
                                                <div class="info-grid-card__title info-grid-card__title_large">{{ item }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="attention__wrapper attention__wrapper_white attention__wrapper_info block_gap_xlarge">
                        <div class="attention__text attention__text_center">
                            Наш сервис онлайн-фискализации позволяет создать собственный ОФД любого масштаба по передаче
                            данных сторонних юридических лиц в ФНС
                        </div>
                    </div>
                    <div class="seporate seporate_full seporate_narrow"></div>
                    <div class="possibilitys-subtitle possibilitys-subtitle_columns block-left">
                        <div class="possibilitys-subtitle__list">
                            <div class="possibilitys-subtitle__item">
                                <ul class="support-item support-item_white">
                                    <li>
                                        Многофункциональный бэк-офис
                                    </li>
                                    <li>
                                        Простое заведение касс
                                    </li>
                                    <li>
                                        Гибкие возможности настройки тарифных планов
                                    </li>
                                    <li>
                                        Просмотр фискальных документов, отправляющихся в ФНС
                                    </li>
                                </ul>
                            </div>
                            <div class="possibilitys-subtitle__item">
                                <ul class="support-item support-item_white">
                                    <li>
                                        Мониторинг и статистика лицевых счетов клиентов по услугам ОФД, договоров
                                    </li>
                                    <li>
                                        Данные по операциям
                                    </li>
                                    <li>
                                        Данные по хранилищам в системе ОФД
                                    </li>
                                    <li>
                                        Система ролей, разграничение прав доступа для пользователей системы
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            {
                title: 'Ведение базы юридических лиц, торговых точек, пользователей',
                icon: '/images/fiscal-online/v-1.svg'
            },
            {
                title: 'Регистрация покупок',
                icon: '/images/fiscal-online/v-2.svg'
            },
            {
                title: 'Отправка электронных чеков через SMS и E-mail',
                icon: '/images/fiscal-online/v-3.svg'
            },
            {
                title: 'Просмотр электронных чеков через веб-приложение',
                icon: '/images/fiscal-online/v-4.svg'
            },
            {
                title: 'Просмотр статистики по продажам',
                icon: '/images/fiscal-online/v-5.svg'
            },
            {
                title: 'Генерация сводной отчетности',
                icon: '/images/fiscal-online/v-6.svg'
            },
        ] %}

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="possibilitys-title title title-h1">
                    Возможности решения
                </div>
                <div class="info-grid info-grid_3x">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_simple">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__img">
                                                <img src="{{ item.icon }}" alt="">
                                            </div>
                                            <div class="info-grid-card__title info-grid-card__title_large">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_ products-sections__item_bg-center block">
            <div class="section-delimiter section-delimiter_opacity0"></div>
            <div class="block-wrapper">
                <div class="possibilitys-title title title-h1">
                    Состав решения
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Решение представляет из&nbsp;себя набор веб-сервисов, веб-ориентированных и&nbsp;фоновых приложений.
                    При этом, решение логически разделяется на :
                </div>
                <div class="block-wrapper block-wrapper_bg-gerb">
                    {% set list = [
                        'Ядро, которое содержит в себе справочники, а также механизмы по их управлению и их получению',
                        'Ноды, которые накапливают в себе информацию по произведенным операциям'
                    ] %}
                    <div class="info-grid info-grid_2x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                {% for item in list %}
                                    <div class="info-grid__item" style="min-height: 0">
                                        <div class="info-grid-card info-grid-card_min-height_none info-grid-card_full info-grid-card_simple">
                                            <div class="info-grid-card__wrapper">
                                                <div class="info-grid-card__count info-grid-card__count_blue-light">{{ loop.index }}</div>
                                                <div class="info-grid-card__title info-grid-card__title info-grid-card__title_large">{{ item }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="section-delimiter"></div>

                    <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                        Решение представляет из&nbsp;себя набор веб-сервисов, веб-ориентированных и&nbsp;фоновых
                        приложений.
                        При этом, решение логически разделяется на :
                    </div>
                    <div class="info-grid info-grid_pos-rel info-grid_3x">
                        <div class="info-grid__wrapper">
                            {% set list = [{
                                title:'Бэк-офис',
                                desc:'Веб-приложение по&nbsp;администрированию программного комплекса, обеспечению технического мониторинга и&nbsp;формирования сводной отчетности'
                            },{
                                title:'Фронт-офис для юридических лиц',
                                desc:'Веб-приложение для регистрации и&nbsp;управления юридических лиц, торговых точек, пользователей и&nbsp;других справочников, а&nbsp;также просмотра статистистики и&nbsp;отчетности'
                            },{
                                title:'Фронт-офис для покупателей',
                                desc:'Веб-приложение для просмотра электронных чеков физическими лицами'
                            },{
                                title:'Сервер по&nbsp;работе с&nbsp;торговыми точками',
                                desc:'Сервер приложений, обеспечивающий работу
с&nbsp;торговыми точками через Интернет в&nbsp;режиме реального времени'
                            },{
                                title:'Фоновые процессы и потоки',
                                desc:'<ul class="light-blue"> <li>Отправка электронных чеков</li> <li>Оповещение систем о произведенных операциях </li> <li>Внутренняя диагностика ядра</li> </ul>'
                            }] %}
                            <div class="info-grid__list">
                                {% for item in list %}
                                    <div class="info-grid__item">
                                        <div class="info-grid-card">
                                            <div class="info-grid-card__wrapper">
                                                <div class="info-grid-card__title info-grid-card__title_highlight">
                                                    {{ item.title }}
                                                </div>
                                                <div class="info-grid-card__title info-grid-card__title_max-width_none">
                                                    {{ item.desc }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block -index-1">
            <div class="section-color section-color_bottom_medium section-color_top_offset section-color_fiscal-farm section-color_fiscal-online section-color_bg-right block-wrapper block_padding-top_xlarge">
                <div class="section-delimiter section-delimiter_pos-rel"></div>
                <div class="section-color__wrapper">
                    <div class="title-medium title-medium_white block_gap_xlarge">
                        Технологический стэк
                    </div>
                    <div class="info-img">
                        <div class="info-img__wrapper">
                            <img src="/images/fiscal-online/map.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            {
                title: 'СУБД',
                description: 'PostgreSQL 11.x',
            },
            {
                title: 'Бэк-офис',
                description: 'Java Server Faces (PrimeFaces), Hibernate, JAX-RS',
            },
            {
                title: 'Фронт-офис',
                description: 'Spring, JAX-RS',
            },
            {
                title: 'Брокер сообщений:',
                description: 'ActiveMQ ',
            },
            {
                title: 'Бэк-энд',
                description: 'Java, JDBC Templates, JAX-RS',
            }
        ] %}

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="section-stack section-stack_fiscal-farm block">
                <div class="section-stack__wrapper block_padding-top_large block-wrapper">
                    <div class="section-stack__content">
                        <div class="section-stack__title">
                            <div class="title-medium">
                                Архитектура <br>
                                и технологии
                            </div>
                        </div>
                        <div class="section-stack__list block-left">
                            <div class="stack-list">
                                <div class="stack-list__wrapper">
                                    <div class="stack-list__list">
                                        {% for item in list %}
                                            <div class="stack-list__item">
                                                <div class="stack-card">
                                                    <div class="stack-card__wrapper">
                                                        <div class="stack-card__title">{{ item.title }}</div>
                                                        <div class="stack-card__description">{{ item.description }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-stack__link block-left block_padding-top_large"></div>
                        <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                            Архитектурно система представляет решение с использованием центрального сервера и произвольным количеством фискальных модулей.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="possibilitys-title title title-h1">
                    Развитие решения
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Наша компания готова выполнить любые доработки продукта для
                    предоставления нового функционала:
                </div>
                <div class="info-grid info-grid_4x">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% set list = [
                                {
                                    title: 'Отслеживание сроков годности товарных партий'
                                },
                                {
                                    title: 'Отслеживание товаропроводящих цепочек'
                                },
                                {
                                    title: 'Отслеживание баланса производства, импорта и продажи товаров'
                                },
                                {
                                    title: 'Мониторинг складских остатков'
                                }
                            ] %}

                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count">
                                                {{ loop.index }}
                                            </div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                {% include 'modules/callback-tile.twig' with {
                    map: false,
                    title: 'Остались вопросы?',
                    desc: 'Оставьте заявку и наши специлисты свяжутся с вами в ближайшее время',
                    modifier: 'callback-tile__side_fiscal-online'
                } %}
            </div>
        </div>

    </div>
{% endblock %}
