{% extends "common/base.twig" %}

{% block header %}
    {% set headerTop = "is-dark is-side-light is-tablet-dark" %}
    {% include 'common/header.twig' with { headerTop: headerTop } %}
{% endblock %}

{% block body %}
    <div class="products-sections -relative">

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="product-intro product-intro_fiscal-farm">
                    <div class="product-intro__wrapper">
                        <div class="product-intro__main">
                            <div class="product-intro__tag"></div>
                            <h1 class="product-intro__title">
                                Фискальная<br>
                                ферма Soft-logic
                            </h1>
                            <div class="product-intro__desc">
                                <p>
                                    Краткое тематическое описание о предоставляемых
                                    услугах
                                </p>
                            </div>
                        </div>
                        <div class="product-intro__side">
                            <div class="product-intro__billboard"
                                 style="background-image: url('images/fiscal-farm/main.png')"></div>
                            <div class="product-intro__logo">
                                <img src="images/soft-logic.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="block-wrapper possibilitys-title title title-h1 block_gap_medium">
                    Предпосылки<br> создания
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    С 15 июля 2016 года вступили в силу изменения в Федеральный закон
                    от 22.05.2003 № 54-ФЗ, регулирующий вопросы применения контрольно-кассовой техники. В соответствии с
                    принятым законом, помимо оснащения новой контрольно-кассовой техникой обычных розничных точек,
                    добавились требования фискализации:
                </div>
            </div>
        </div>

        {% set list = [
            {
                img: '/images/fiscal-farm/i-1.svg',
                title: 'Покупок, произведенных в интернет-магазинах'
            },
            {
                img: '/images/fiscal-farm/i-2.svg',
                title: 'Покупок товаров и услуг в вендинговых терминалах'
            },
            {
                img: '/images/fiscal-farm/i-3.svg',
                title: 'Операций провайдеров и торгово-сервисных предприятий, принимающих безналичную оплату от физических лиц'
            },
        ] %}

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="target target_fiscal-farm block-wrapper">
                <div class="target__list">
                    <div class="info-grid info-grid_gap-medium info-grid_3x block_gap_small">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                {% for item in list %}
                                    <div class="info-grid__item">
                                        <div class="info-grid-card info-grid-card_orange">
                                            <div class="info-grid-card__wrapper">
                                                <div class="info-grid-card__img">
                                                    <img src="{{ item.img }}" alt="">
                                                </div>
                                                <div class="info-grid-card__title">{{ item.title }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="target__wrapper">
                    <div class="target__main">
                        <div class="target__title">
                            Назначение<br> комплекса
                        </div>
                        <div class="target__desc">
                            <div class="block-left">
                                Фискальная ферма Soft-logic - это высокотехнологичное решение, обеспечивающее
                                возможность онлайн-фискализации платежных операций
                                с использованием пула ККМ, работа которых полностью организуется нашим
                                специализированным ПО.
                            </div>
                        </div>
                    </div>
                    <div class="target__side">
                        <div class="target__side-image">
                            <img src="/images/fiscal-farm/check.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            {
                title: 'Планируют фискализировать от 5 000 операцийв сутки'
            },
            {
                title: 'Желают скрыть структуру своих продаж от сторонних сервисов'
            },
            {
                title: 'Стремятся получить максимально дешевую фискализацию своих операций'
            },
        ] %}

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="block-wrapper possibilitys-title title title-h1 block_gap_medium">
                    Целевая<br> аудитория
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Фискальная ферма Soft-logic подходит заказчикам, которые:
                </div>
                <div class="info-grid info-grid_3x">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_simple">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count">{{ loop.index }}</div>
                                            <div class="info-grid-card__title">
                                                {{ item.title }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            ['Покупка ККМ', '300 000', '—', '—'],
            ['Покупка ПО', '400 000', '—', '—'],
            ['Стоимость ФН', '', 'Идентично', ''],
            ['Стоимость владения за 1 год', '52 000', '720 000', '756 000'],
            ['Стоимость владения за 2 года', '100 000', '1 440 000', '1 512 000'],
            ['Стоимость владения за 3 года', '150 000', '2 160 000', '2 268 000'],
            ['Итого', '1 000 000', '4 320 000', '4 536 000'],
        ] %}

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="section-color section-color_fiscal-farm section-color_bg-right block-wrapper block_padding-top_xlarge block_padding-bottom_large">
                <div class="section-color__wrapper">
                    <div class="title-medium title-medium_white">
                        Сравнение<br> стоимости владения
                    </div>
                    <div class="info-table block_gap_medium">
                        <div class="info-table__wrapper">
                            <div class="info-table__list info-table__list_start">
                                <div class="info-table__item">
                                    <div class="info-table__text info-table__text_large">Ферма из 30 касс</div>
                                </div>
                                <div class="info-table__item">
                                    <div class="info-table__text">Фискальная ферма Soft-logic</div>
                                </div>
                                <div class="info-table__item">
                                    <div class="info-table__text info-table__text_orange">Сторонний сервис 1</div>
                                </div>
                                <div class="info-table__item">
                                    <div class="info-table__text info-table__text_red">Сторонний сервис 2</div>
                                </div>
                            </div>
                            {% for itemRow in list %}
                                <div class="info-table__list">
                                    {% for item in itemRow %}
                                        <div class="info-table__item">
                                            <div class="info-table__text">
                                                {{ item }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="possibilitys-subtitle possibilitys-subtitle_columns block-left">
                        <div class="possibilitys-subtitle__list">
                            <div class="possibilitys-subtitle__item">
                                Необходимо понимать, что организацию фискальной фермы, включая сбор, размещение,
                                поддержание в работоспособном состоянии, осуществляет заказчик.
                            </div>
                            <div class="possibilitys-subtitle__item">
                                Помимо организации работы персонала потребуется специализированное помещение,
                                оборудованное серверными стойками и устройствами защиты
                                от перепадов напряжения.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            {
                title: 'База данных',
                description: 'PostgreSQL 11',
            },
            {
                title: 'Веб-сервис по работе с операциями',
                description: 'Java, Spring',
            },
            {
                title: 'Бэк-офис',
                description: 'JavaServer Faces, PrimeFaces',
            },
            {
                title: 'Процесс по проведению очереди операций',
                description: 'Java, веб-сервисы',
            },
            {
                title: 'Фискальный модуль',
                description: 'Java, JNI',
            }
        ] %}

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="section-stack section-stack_fiscal-farm block">
                <div class="section-stack__wrapper block_padding-top_large block-wrapper">
                    <div class="section-stack__content">
                        <div class="section-stack__title">
                            <div class="title-medium">
                                Архитектура <br>
                                и технологии
                            </div>
                        </div>
                        <div class="section-stack__list block-left">
                            <div class="stack-list">
                                <div class="stack-list__wrapper">
                                    <div class="stack-list__list">
                                        {% for item in list %}
                                            <div class="stack-list__item">
                                                <div class="stack-card">
                                                    <div class="stack-card__wrapper">
                                                        <div class="stack-card__title">{{ item.title }}</div>
                                                        <div class="stack-card__description">{{ item.description }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-stack__link block-left block_padding-top_large"></div>
                        <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                            Архитектурно система представляет решение с использованием центрального сервера и произвольным количеством фискальных модулей.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            'Ведение справочников(юридические лица, онлайн-касса, пользователи и т. д.)',
            'Передача различных технических событий',
            'Просмотр списка операций и деталей конкретной операции',
            'Просмотр общей статистики',
        ] %}

        {% set card3 %}
            <div class="info-grid-card info-grid-card_wide">
                <div class="info-grid-card__wrapper">
                    <div class="info-grid-card__count">3</div>
                    <div class="info-grid-card__title">
                        <p>Технический мониторинг:</p>
                        <ul class="ul-line">
                            <li>Доступности узлов с фискальным модулем</li>
                            <li>Состояния контрольно-кассовой техники, включая отображение версии прошивки</li>
                            <li>Срока действия фискального накопителя</li>
                            <li>Количества фискализированных операций через каждый фискальный накопитель</li>
                            <li>Среднего времени фискализации одного чека</li>
                            <li>Наличия связи с ОФД самой кассы и размера очереди документов </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endset %}

        <div class="products-sections__item block block_gap-out_medium -index-2">
            <div class="block-wrapper block-wrapper_bg-center">
                <div class="box">
                    <div class="title-h3 block-left">Функции центрального сервера:</div>
                    <div class="info-grid-complex">
                        <div class="info-grid-complex__wrapper">

                            <div class="info-grid-complex__main">
                                <div class="info-grid-complex__list">
                                    <div class="info-grid-complex__item">
                                        <div class="info-grid-card info-grid-card_min-small">
                                            <div class="info-grid-card__wrapper">
                                                <div class="info-grid-card__count">1</div>
                                                <div class="info-grid-card__title">Ведение справочников (юридические лица, онлайн-касса, пользователи и т. д.)</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-grid-complex__item">
                                        <div class="info-grid-card info-grid-card_min-small">
                                            <div class="info-grid-card__wrapper">
                                                <div class="info-grid-card__count">2</div>
                                                <div class="info-grid-card__title">Передача различных технических событий</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-grid-complex__item info-grid-complex__item_mobile">
                                        {{ card3 | raw }}
                                    </div>
                                    <div class="info-grid-complex__item">
                                        <div class="info-grid-card info-grid-card_min-small">
                                            <div class="info-grid-card__wrapper">
                                                <div class="info-grid-card__count">4</div>
                                                <div class="info-grid-card__title">Просмотр списка операций и деталей конкретной операции</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-grid-complex__item">
                                        <div class="info-grid-card info-grid-card_min-small">
                                            <div class="info-grid-card__wrapper">
                                                <div class="info-grid-card__count">5</div>
                                                <div class="info-grid-card__title">Просмотр общей статистики</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="info-grid-complex__side">
                                {{ card3 | raw }}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block -index-1">
            <div class="section-color section-color_fiscal-farm section-color_bg-right block-wrapper block_padding-top_xlarge block_padding-bottom_large">
                <div class="section-color__wrapper">
                    <div class="title-medium title-medium_white block_gap_xlarge">
                        Архитектурная<br> схема решения
                    </div>
                    <div class="info-img">
                        <div class="info-img__wrapper">
                            <img src="/images/fiscal-farm/map.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="block target target_fiscal-farm target_fiscal-farm_2">
                <div class="block-wrapper target__wrapper target__wrapper_border-bottom">
                    <div class="target__main">
                        <div class="target__title">
                            Отказоустойчивость<br> и&nbsp;масштабируемость<br> решения
                        </div>
                        <div class="target__desc">
                            <div class="block-left">
                                <div class="title-h4 block_gap_medium">Состав фискального модуля:</div>
                                <div class="block_gap_medium">
                                    Киоски самообслуживания для фитнес-клуба, это современный формат реализации пакетов тренировок, клубных карт, сопутствующих фитнес-товаров. Киоск самообслуживания позволяет полностью автоматизировать продажу услуг и практически полностью исключить административный
                                    персонал.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="target__side">
                        <div class="target__side-image">
                            <img src="/images/fiscal-farm/farm.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            'Планируют фискализировать от 5 000 операций в сутки',
            'Желают скрыть структуру своих продаж от сторонних сервисов',
            'Стремятся получить максимально дешевую фискализацию своих операций',
        ] %}

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="title-h4 block-left block_gap_medium">Состав фискального модуля:</div>
                <div class="info-grid info-grid_3x">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_simple">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count">{{ loop.index }}</div>
                                            <div class="info-grid-card__title">
                                                {{ item }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="block">
                <div class="block-wrapper block-wrapper_bg-center block-wrapper_bg-center_default block_padding-top_large block_padding-bottom_large">
                    <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                        Благодаря полнофункциональному модулю диагностики в составе решения система знает в любой момент времени состояние всех подключенных устройств. Для фискализации каждой операции система выбирает ККМ
                        по специальному алгоритму, учитывающему принадлежность ККМ конкретному юридическому лицу, исправность устройства и другие параметры.
                    </div>
                    <div class="seporate seporate_full seporate_narrow"></div>
                    <div>
                        <div class="title-h4 block-left block_gap_medium">Ошибки фискализации обрабатываются следующим образом</div>
                    </div>
                    <div>
                        <div class="possibilitys-subtitle possibilitys-subtitle_columns block-left">
                            <div class="possibilitys-subtitle__list">
                                <div class="possibilitys-subtitle__item">
                                    <ul class="support-item support-item_blue">
                                        <li>
                                            Если на момент фискализации нет исправных ККМ, операция переводится в специальный статус. Очередная попытка проведения будет предпринята через 20 минут
                                        </li>
                                    </ul>
                                </div>
                                <div class="possibilitys-subtitle__item">
                                    <ul class="support-item support-item_blue">
                                        <li>
                                            Если система получает сигнал об ошибке в момент фискализации операции, то фискальный модуль выполняет
                                            до трех попыток фискализации, в том числе пробуя выбрать новую кассу на этом же хосте. Если все попытки фискализации оказались неудачными, то операция переводится на сервере
                                            в специальный статус. Очередная попытка проведения будет предпринята через 20 минут
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            {
                title: 'PayKiosk 01 ФА',
                img: '/images/fiscal-farm/p-1.png',
                link: '#'
            },
            {
                title: 'Казначей ФА',
                img: '/images/fiscal-farm/p-2.png',
                link: '#'
            },
            {
                title: 'Система РП',
                img: '/images/fiscal-farm/p-3.png',
                link: '#'
            },
            {
                title: 'Терминал ФА',
                img: '/images/fiscal-farm/p-4.png',
                link: '#'
            },
        ] %}

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="title-medium">
                    Поддерживаемые<br> онлайн-кассы
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Архитектурно система представляет решение с использованием центрального сервера и произвольным количеством фискальных модулей.
                </div>
                <div class="product-list">
                    <div class="product-list__wrapper">
                        <div class="product-list__list">
                            {% for item in list %}
                                <div class="product-list__item">
                                    <div class="product-card">
                                        <div class="product-card__wrapper">
                                            <div class="product-card__title">{{ item.title }}</div>
                                            <div class="product-card__img">
                                                <img src="{{ item.img }}" alt="">
                                            </div>
                                            <a href="{{ item.link }}" class="product-card__link">Ссылка</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="attention">
                    <div class="attention__wrapper attention__wrapper_blue-xdark attention__wrapper_info">
                        <div class="attention__text attention__text_center">По требованию заказчика возможны любые доработки программного обеспечения!</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="seporate seporate_full seporate_narrow"></div>
        </div>

        {% set list = [
            {
                title: '100 000 +',
                subtitle: 'Фискализируемых документов в сутки'
            },
            {
                title: '3 000 +',
                subtitle: 'Платежных точек'
            },
            {
                title: '10 000 + ',
                subtitle: 'Операций в сутки на одном устройстве'
            },
            {
                title: '0,8 секунд <span style="color: #241A94">*</span>',
                subtitle: 'Минимальное время фискализации 1 операции'
            },
            {
                title: '1,5 секунды <span style="color: #241A94">*</span>',
                subtitle: 'Среднее время фискализации 1 операции'
            },
        ] %}

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="info-list info-list_small block_gap_xlarge">
                    <div class="info-list__wrapper">
                        <div class="info-list__list">
                            {% for item in list %}
                                <div class="info-list__item">
                                    <div class="info-card">
                                        <div class="info-card__wrapper">
                                            <div class="info-card__count">{{ item.title }}</div>
                                            <div class="info-card__title">{{ item.subtitle }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div>
                    <div class="seporate seporate_full seporate_narrow"></div>
                </div>
                <div style="color: #9d9da1">
                    <span style="color: #241A94">*</span> Минимальное время фискализации 1 операции
                </div>
            </div>
        </div>

        {% set list = [
            {
                title: '50 000',
                subtitle: 'Среднее количество операций в час'
            },
            {
                title: '50%',
                subtitle: 'Требуемый запас по производительности'
            },
            {
                title: '4',
                subtitle: 'Среднее количество товарных позиций в чеке'
            },
        ] %}

        <div class="products-sections__item -index-1">
            <div class="block block_padding-top_large block-wrapper_bg-center block-wrapper_bg-center_default">
                <div class="block-wrapper">
                    <div class="title-medium">
                        Пример расчета<br> количества касс
                    </div>
                    <div class="title-h4 block-left block_gap_medium">
                        Вводные данные:
                    </div>
                    <div class="info-grid info-grid_3x block_gap_medium">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_wide info-grid-card_min-small">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count">{{ item.title }}</div>
                                            <div class="info-grid-card__title">{{ item.subtitle }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="seporate seporate_full seporate_narrow  seporate_dashed"></div>
                    <div class="possibilitys-subtitle possibilitys-subtitle_columns block-left">
                        <div class="possibilitys-subtitle__list">
                            <div class="possibilitys-subtitle__item">
                                В качестве среднего времени фискализации возьмем <b>1 секунду</b>.
                                При такой производительности одна касса может фискализировать <b>в час 3600/1,0 = 3600 операций</b>.
                            </div>
                            <div class="possibilitys-subtitle__item">
                                Всего, для обеспечения непрерывной фискализации <b>50 000</b> операций в час, потребуется <b>50 000/3600 = ~14 ККМ</b>. Добавим к этой цифре требуемый запас <b>50%</b> и получим <b>14 + 50% = 21 ККМ</b>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block -index-2 block_gap-out_xmedium">
            <div class="block-wrapper">
                <div class="attention">
                    <div class="attention__wrapper attention__wrapper_blue-xdark attention__wrapper_info">
                        <div class="attention__text attention__text_center">Следует учитывать, средний ресурс фискального накопителя составляет 250 000 операций.
                            Следовательно, указанный набор касс сможет обработать порядка 21 x 250 000 = 5 250 000 операций, после чего потребуется замена фискальных накопителей.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block -index-1">
            <div class="section-color section-color_padding-foxed section-color_blue-dark section-color_bg-right block-wrapper block_padding-top_xlarge block_padding-bottom_large">
                <div class="section-color__wrapper">
                    <div class="title-medium title-medium_white">
                        Лицензируемые<br> единицы
                    </div>
                    <div class="possibilitys-subtitle block-left block_gap_medium">
                        Способы предоставления лицензии на программное обеспечение:
                    </div>
                    <div class="info-grid info-grid_2x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_blue-xdark bank-advantage--one">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">Ядро комплекса</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_blue-xdark bank-advantage--two">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">Подключаемая ККМ</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                {% include 'modules/callback-tile.twig' with {
                    map: false,
                    title: 'Остались вопросы?',
                    desc: 'Оставьте заявку и наши специлисты свяжутся с вами в ближайшее время',
                    modifier: 'callback-tile__side_fiscal-farm'
                } %}
            </div>
        </div>

    </div>
{% endblock %}
