{% extends "common/base.twig" %}

{% block header %}
    {% set headerTop = "is-dark is-side-light is-tablet-dark" %}
    {% include 'common/header.twig' with { headerTop: headerTop } %}
{% endblock %}

{% block body %}
    <div class="products-sections -relative">
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="product-intro product-intro_retail">
                    <div class="product-intro__wrapper">
                        <div class="product-intro__main">
                            <div class="product-intro__tag"></div>
                            <h1 class="product-intro__title">
                                Киоски для<br> фитнес-клубов
                            </h1>
                            <div class="product-intro__desc">
                                <p>
                                    Краткое тематическое описание о предоставляемых
                                    услугах
                                </p>
                            </div>
                        </div>
                        <div class="product-intro__side">
                            <div class="product-intro__billboard" style="background-image: url('images/fitness/main.png')"></div>
                            <div class="product-intro__logo">
                                <img src="images/soft-logic.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="offer block-wrapper block_padding-top_xlarge">
                <div class="offer__wrapper">
                    <div class="offer__title block-left block_gap_medium">
                        <div class="title-h3">Наша компания предлагает:</div>
                    </div>
                    <div class="offer__list">
                        <div class="offer-list">
                            <div class="offer-list__list">
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Готовое программно-аппаратное решение, включающее киоск самообслуживания и специализированное ПО
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img">
                                                        <img src="/images/fitness/terminal.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Поставку специализированного софта для имеющегося у заказчика оборудования, с возможностью адаптации, доработки и кастомизации, а также разработку ПО с нуля
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img">
                                                        <img src="/images/retail/t-2.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        {% set list = [
            { img: '/images/fitness/c-1.svg', title: 'Автоматизация продажи пакетов тренировок/абонементов' },
            { img: '/images/fitness/c-2.svg', title: 'Повышение скорости и качества обслуживания' },
            { img: '/images/fitness/c-3.svg', title: 'Сокращение затрат на персонал' },
            { img: '/images/fitness/c-4.svg', title: 'Использование киосков в качестве рекламных панелей' },
            { img: '/images/fitness/c-5.svg', title: 'Использование киосков для маркетинговых функций<br> <span>(выдача скидочных купонов)</span>' },
            { img: '/images/fitness/c-6.svg', title: 'Совмещение киоска с фитнес-баром самообслуживания' },
        ] %}
        <div class="products-sections__item products-sections__item_gap-xxxxlarge block">
            <div class="block-wrapper">

                <div class="offer__title block_gap_xlarge">
                    <div class="title-h3">Ключевые преимущества для фитнес-клубов, спортивных центров и бассейнов:</div>
                </div>

                <div class="list-metric list-metric_simple list-metric_fast-food">
                    <div class="list-metric__list">
                        {% for item in list %}
                            <div class="list-metric__list-item">
                                <div class="list-metric__item">
                                    <div class="list-metric__item-side">
                                        <div class="list-metric__item-icon">
                                            <img src="{{ item.img }}" alt="">
                                        </div>
                                    </div>
                                    <div class="list-metric__item-main">
                                        <div class="list-metric__item-desc">
                                            {{ item.title }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="block brand-list brand-list_3x block_padding-bottom_xlarge">
                <div class="brand-list__wrapper block-wrapper">
                    <div class="brand-list__title">
                        Интеграция со сторонними системами автоматизации ресторанного бизнеса:
                    </div>
                    <div class="brand-list__list-wrap">
                        <div class="brand-list__list">
                            <div class="brand-list__item">
                                <div class="brand-list__link">
                                    <img src="/images/fitness/p-1.png" alt="">
                                </div>
                            </div>
                            <div class="brand-list__item">
                                <div class="brand-list__link">
                                    <img src="/images/fitness/p-2.png" alt="">
                                </div>
                            </div>
                            <div class="brand-list__item">
                                <div class="brand-list__link">
                                    <img src="/images/fitness/p-3.png" alt="">
                                </div>
                            </div>
                            <div class="brand-list__item">
                                <div class="brand-list__link">
                                    <img src="/images/fitness/p-4.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brand-list__info">
                        <div class="attention accordion_orange-dark">
                            <div class="attention__wrapper attention__wrapper_purple attention__wrapper_info">
                                <div class="attention__text attention__text_center">Интеграция с другими системами по запросу</div>
                            </div>
                        </div>
                    </div>
                    <div class="brand-list__text block-left">
                        <div style="color: #882DE2">*</div>
                        Если Вы являетесь разработчиком программных комплексов для автоматизации ресторанов, баров, кафе и рассматриваете киоски самообслуживания в качестве интересного, перспективного решения для Ваших клиентов, свяжитесь с нами
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block_gap-out_large">
            <div class="block target target_fast-food">
                <div class="block-wrapper target__wrapper target__wrapper_border-bottom">
                    <div class="target__main">
                        <div class="target__title">
                            Бизнес-цель
                        </div>
                        <div class="target__desc">
                            <div class="block-left">
                                Киоски самообслуживания для фитнес-клуба, это современный формат реализации пакетов тренировок, клубных карт, сопутствующих фитнес-товаров. Киоск самообслуживания позволяет полностью автоматизировать продажу услуг и практически полностью исключить административный
                                персонал.
                            </div>
                        </div>
                    </div>
                    <div class="target__side">
                        <div class="target__side-image">
                            <img src="/images/fitness/t-2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { title: 'Современные технологии обслуживания без касс' },
            { title: 'Яркий, интерактивный интерфейс' },
            { title: 'Выбор абонементов, тренировок' },
            { title: 'Личный платежный кабинет пользователя' },
            { title: 'Управление услугами - заморозка, активация, продление' },
            { title: 'Реализация услуг и товаров в рассрочку' },
            { title: 'Рекламный функционал' },
            { title: 'Возможность заказа еды, напитков, протеиновых коктейлей' },
            { title: 'Функционал информационного портала' },
        ] %}

        <div class="products-sections__item block -index-2 block_gap-out_medium">
            <div class="block-wrapper">
                <div class="title-h3 block_gap_medium">Преимущества внедрения:</div>
                <div class="info-grid">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_purple">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count">{{ loop.index }}</div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item -index-1">
            <div class="section-color section-color_black_simple block block_padding-top_large block_padding-bottom_xlarge">
                <div class="section-color__wrapper block-wrapper">
                    <div class="products-sections__item block">
                        <div class="block-wrapper">
                            <div class="seporate seporate_full seporate_narrow"></div>
                        </div>
                    </div>
                    <div class="title-medium title-medium_white">
                        Типовые сценарии<br> применения
                    </div>
                    <div class="scenario-item scenario-item_fitness scenario-item_number-white scenario-item--one">
                        <div class="scenario-item__wrapper">
                            <div class="scenario-item__main">
                                <div class="scenario-item__title">Установка внутри любого<br> заведения</div>
                                <div class="scenario-item__desc-wrapper">
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__subtitle">Описание процесса:</div>
                                        <div class="scenario-item__text">
                                            <p>
                                                Клиент регистрируется в&nbsp;системе киоска по&nbsp;номеру телефона, E-mail или другому&nbsp;ID, выбирает пакет тренировок, либо разовое посещение, время, понравившегося тренера, вносит оплату наличными или картой и&nbsp;приступает к&nbsp;тренировкам.
                                            </p>
                                            <p>
                                                Благодаря наличию лицевого счета клиента посетителю не&nbsp;требуется постоянно иметь при себе наличные или банковскую карту, достаточно разово пополнить баланс через киоск и&nbsp;оплачивать выбранные пакеты тренировок.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="scenario-item__side scenario-item__side_phone-large">
                                <div class="scenario-item__img">
                                    <img src="/images/fitness/phone.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="block section-image section-image_gap-none section-image_bg-b section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['/images/fitness/frames/1_1.png', '/images/fitness/frames/1_2.png', '/images/fitness/frames/1_3.png'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xlarge block">
            <div class="block-wrapper">
                <div class="scenario-item scenario-item_fitness scenario-item_number-purple scenario-item_color-dark scenario-item--two">
                    <div class="scenario-item__wrapper">
                        <div class="scenario-item__main">
                            <div class="scenario-item__title">Использование RFID-карт<br> и браслетов</div>
                            <div class="scenario-item__desc-wrapper">
                                <div class="scenario-item__desc scenario-item__desc_gap-none">
                                    <div class="scenario-item__subtitle">Описание процесса:</div>
                                    <div class="scenario-item__text">
                                        После регистрации клиент получает клубную карту или браслет, которые выступают средством авторизации в киоске самообслуживания. Возможна организация оплаты всех услуг на территории клуба клубной картой или браслетом, в таком случае клиент сможет пополнять
                                        привязанный к карте или браслету предоплатный/постоплатный счет в киоске.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scenario-item__side scenario-item__side_nfc">
                            <div class="scenario-item__img">
                                <img src="/images/fitness/nfc.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block_gap-out_medium -index-2">
            <div class="block section-image section-image_gap-none section-image_bg-lb section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['/images/fitness/frames/2_1.png', '/images/fitness/frames/2_2.png', '/images/fitness/frames/2_3.png'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item -index-1">
            <div class="section-color section-color_black_simple block block_padding-top_xlarge block_padding-bottom_xlarge">
                <div class="section-color__wrapper block-wrapper">
                    <div class="seporate seporate_full seporate_narrow"></div>
                    <div class="title-medium title-medium_white">
                        Доступ в клуб<br>
                        по одноразовым билетам
                    </div>
                    <div class="scenario-item scenario-item_fast-food scenario-item_number-white scenario-item--three">
                        <div class="scenario-item__wrapper">
                            <div class="scenario-item__main">
                                <div class="scenario-item__title">Трансфер до фиксированного<br>пункта назначения</div>
                                <div class="scenario-item__desc-wrapper">
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__subtitle">Описание процесса:</div>
                                        <div class="scenario-item__text">
                                            Киоск может выдавать уникальные разовые билеты со штрихкодами или QR-кодами для посетителей, которые не желают регистрироваться. Гибкая настройка оплаты
                                            и времени посещения позволяет организовать прайс на разовые посещения или бесплатные пробные занятия.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="scenario-item__side scenario-item__side_qr">
                                <div class="scenario-item__img">
                                    <img src="/images/fitness/code.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="block section-image section-image_gap-none section-image_bg-b section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['/images/fitness/frames/3_1.png', '/images/fitness/frames/3_2.png', '/images/fitness/frames/3_3.png'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xlarge block">
            <div class="block-wrapper">
                <div class="scenario-item scenario-item_fitness scenario-item_number-purple scenario-item_color-dark scenario-item--four">
                    <div class="scenario-item__wrapper">
                        <div class="scenario-item__main">
                            <div class="scenario-item__title">Интеграция с мобильным<br> или веб-приложением</div>
                            <div class="scenario-item__desc-wrapper">
                                <div class="scenario-item__desc scenario-item__desc_gap-none">
                                    <div class="scenario-item__subtitle">Описание процесса:</div>
                                    <div class="scenario-item__text">
                                        Наши возможности позволяют разработать единую систему, включающую мобильное приложение или веб-сайт для предварительного формирования заказа или выбора
                                        и бронирования места. Клиенту остается только поднести смартфон с QR-кодом
                                        к киоску самообслуживания в заведении для оплаты посещения и блюд.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scenario-item__side scenario-item__side_phone">
                            <div class="scenario-item__img">
                                <img src="/images/fitness/prs.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="block section-image section-image_gap-none section-image_bg-lb section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['/images/fitness/frames/3_1.png', '/images/fitness/frames/3_2.png', '/images/fitness/frames/3_3.png'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        {% set list = [
            {
                img: '/images/fitness/s-1.svg',
                title: 'Бэк-офис',
                description: 'Фитнес-клубы'
            },
            {
                img: '/images/fitness/s-2.svg',
                title: 'Face-аналитика',
                description: 'Спортивные комплексы'
            },
            {
                img: '/images/fitness/s-3.svg',
                title: 'Изменение меню',
                description: 'Бассейны и аквапарки'
            },
        ] %}

        <div class="products-sections__item block block_padding-bottom_large">
            <div class="block-wrapper">
                <div class="title-medium block_gap_large">
                    Сферы применения
                </div>
                <div class="info-list">
                    <div class="info-list__wrapper">
                        <div class="info-list__list">
                            {% for item in list %}
                                <div class="info-list__item">
                                    <div class="info-card info-card_complex">
                                        <div class="info-card__wrapper">
                                            <div class="info-card__img" style="margin-left: 0">
                                                <img src="{{ item.img }}" alt="">
                                            </div>
                                            <div class="info-card__title">{{ item.title }}</div>
                                            <div class="info-card__description">{{ item.description }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>


        <div class="products-sections__item block">
            <div class="block-wrapper block-wrapper_bg-left block_padding-top_large block_padding-bottom_xlarge">
                <div class="section-image section-image_messenger">
                    <div class="section-image__wrapper">
                        <div class="section-image__main">
                            <div class="title-medium">
                                Система технического<br> мониторинга
                            </div>
                            <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                                Система включает модуль технического мониторинга и модуль оповещения
                                о нештатных ситуациях. Заказчик может отслеживать в реальном времени актуальный статус киоска, получать уведомления о технических проблемах в виде SMS/E-mail/Telegram уведомлений и оперативно реагировать на них
                            </div>
                        </div>
                        <div class="section-image__side">
                            <div class="section-image__img">
                                <img src="/images/fast-food/phone-mg.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper block_padding-top_large block_padding-bottom_large">
                <div class="title-medium">
                    Система обновлений
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Встроенная система обновлений позволяет оперативно вносить любые изменения
                    в ПО и загружать их на киоски по заданному расписанию.
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="section-color section-color_blue-dark section-color_bg-right block-wrapper block_padding-top_xlarge block_padding-bottom_large">
                <div class="section-color__wrapper">
                    <div class="title-medium title-medium_white">
                        Варианты<br> приобретения ПО
                    </div>
                    <div class="possibilitys-subtitle block-left block_gap_medium">
                        В зависимости от масштабов автоматизации, размеров заказчика и конечной цели применения решения, возможны:
                    </div>
                    <div class="info-grid info-grid_2x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_purple bank-advantage_low bank-advantage--one">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">Покупка лицензии</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_purple bank-advantage_low bank-advantage--two">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">Использование ПО в облачном формате по ежемесячной/годовой подписке</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-color__line"></div>
                    <div class="possibilitys-subtitle possibilitys-subtitle_wide block-left block_gap_medium">
                        Благодаря различным вариантам приобретения ПО Pay-logic, наше решение подходит не только розничным торговым точкам среднего масштаба и крупным торговым сетям, но и небольшим частным магазинам любой площади.
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { img: '/images/fitness/d-1.svg', title: 'Стилизацию платежного интерфейса в фирменные цвета или применение white label концепции' },
            { img: '/images/fitness/d-2.svg', title: 'Интеграцию системы киосков с учетной системой фитнес-клуба' },
            { img: '/images/fitness/d-3.svg', title: 'Разработку рекламных баннеров' },
            { img: '/images/fitness/d-4.svg', title: 'Настройку платежного сценария под определенные бизнес-требования' },
            { img: '/images/fitness/d-5.svg', title: 'Адаптацию к новой валюте и языку, включая создание мультиязычных интерфейсов' },
            { img: '/images/fitness/d-6.svg', title: 'Зачисление сдачи на телефон в киосках самообслуживания' },
        ] %}

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="title-medium">
                    Доработки решения
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Типовые доработки решения для заказчика включают:
                </div>
                <div class="info-grid info-grid_gap-medium info-grid_3x block_gap_small">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_orange">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__img">
                                                <img src="{{ item.img }}" alt="">
                                            </div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="attention accordion_orange-dark block_gap_xlarge">
                    <div class="attention__wrapper attention__wrapper_purple attention__wrapper_info">
                        <div class="attention__text attention__text_center">По требованию заказчика возможны любые доработки программного обеспечения!</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="block section-with-image section-with-image_house section-with-image_purple">
                <div class="block-wrapper section-with-image__wrapper">
                    <div class="section-with-image__content-wrapper">
                        <div class="section-with-image__main">
                            <div class="section-with-image__title">
                                Автоматизированный<br> фитнес-бар
                            </div>
                            <div class="section-with-image__desc-wrapper">
                                <div class="section-with-image__desc">
                                    <p>
                                        Мы предлагаем готовое решение по совмещению киоска самообслуживания
                                        и вендингового аппарата по продаже спортивного питания и напитков - протеиновых коктейлей, воды, кофе и т. д.
                                    </p>
                                    <p>
                                        В зависимости от комплектации - только напитки/напитки + снекомат, фитнес-бар самообслуживания окупится за период от 4 до 8 месяцев и в дальнейшем будет предоставлять все преимущества для посетителей фитнес-клуба, без необходимости оплачивать работу
                                        сотрудников. Отдельное преимущество для фитнес-клубов формата 24/7.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="section-with-image__side">
                            <div class="section-with-image__side-image section-with-image__side-image_fitness"></div>
                        </div>
                    </div>
                    <div class="section-with-image__delimiter section-with-image__delimiter_mobile"></div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="block section-with-image section-with-image_purple section-with-image_bg-none">
                <div class="block-wrapper section-with-image__wrapper section-with-image__wrapper_told">
                    <div class="section-with-image__content-wrapper">
                        <div class="section-with-image__main">
                            <div class="section-with-image__title">
                                Автоматические камеры<br> хранения для фитнес-клубов
                            </div>
                            <div class="section-with-image__desc-wrapper">
                                <div class="section-with-image__desc">
                                    <p>Компания Soft-logic является разработчиком специализированного ПО для почтоматов и камер хранения. Наше решение находит активное применение
                                        в фитнес-клубах, бассейнах, аквапарках, позволяя организацию хранения личных вещей с оплатой и без оплаты в современном формате.</p>
                                    <ul class="support-item support-item_purple">
                                        <li>Автоматическая камера без оплаты </li>
                                    </ul>
                                    <p>Посетитель подносит клубную карту или браслет - камера автоматически открывает любую свободную ячейку. Устройство функционирует без сервера, вся логика работы строится на базе Raspberry Pi. Поддерживается учет времени использования ячейки и отправка информации
                                        во внешнюю учетную систему заказчика. Возможна работа в офлайн-режиме.</p>
                                    <ul class="support-item support-item_purple">
                                        <li>Автоматическая камера с оплатой</li>
                                    </ul>
                                    <p>
                                        Камера хранения может оснащаться полноценным компьютером и поддерживать прием наличных и банковских карт. Возможно объединение комплекса камер хранения с киоском самообслуживания/платежным терминалом. В таком случае автоматические камеры хранения могут быть
                                        установлены в необходимых локациях, при выходе посетитель оплачивает период использования ячейки через киоск самообслуживания.К
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="section-with-image__side">
                            <div class="gray-dots" style="left:34px;top:70px"></div>
                            <div class="section-with-image__side-image section-with-image__side-image_postmat-fit"></div>
                        </div>
                    </div>
                    <div class="section-with-image__delimiter"></div>
                    <div class="section-with-image__link">
                        <a href="#" class="section-with-image__link-arrow">
                            Подробнее о почтоматах и камерах хранения
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {# ---------------------   ---------------------   ---------------------   ---------------------   --------------------- #}
        <div class="products-sections__item">
            <div class="block section-with-image section-with-image_purple">
                <div class="block-wrapper section-with-image__wrapper">
                    <div class="section-with-image__content-wrapper">
                        <div class="section-with-image__main">
                            <div class="section-with-image__title">
                                Поставка<br>программно-аппаратного решения под ключ
                            </div>
                            <div class="section-with-image__desc-wrapper">
                                <div class="section-with-image__desc">
                                    За длительный период деятельности на рынке платежного ПО мы установили прочные партнерские связи с проверенными производителями оборудования
                                    и готовы предложить комплексное решение в формате ПО + киоски самообслуживания для различных сфер бизнеса
                                </div>
                            </div>
                        </div>
                        <div class="section-with-image__side">
                            <div class="section-with-image__side-image section-with-image__side-image_postmat-retail"></div>
                        </div>
                    </div>
                    <div class="section-with-image__delimiter section-with-image__delimiter_mobile"></div>
                    <div class="section-with-image__link">
                        <a href="#" class="section-with-image__link-arrow">
                            Перейти на сайт партнера
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="block additionally-resources">
                <div class="block-wrapper additionally-resources__wrapper">
                    <div class="additionally-resources__title">Дополнительные<br>ресурсы</div>
                    <div class="additionally-resources__list-wrapper">
                        <a href="#" class="resource-item resource-item_green">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_white-terminal"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Выбрать киоск</span>
                            </div>
                        </a>
                        <a href="#" class="resource-item resource-item_blue">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_clouds"></div>
                                    <div class="resource-item__image resource-item__image_cloud"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Облачный сервис</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                {% include 'modules/callback-tile.twig' with {
                    map: false,
                    title: 'Остались вопросы?',
                    desc: 'Оставьте заявку и наши специлисты свяжутся с вами в ближайшее время',
                    modifier: 'callback-tile__side_purple'
                } %}
            </div>
        </div>

    </div>
{% endblock %}
