{% extends "common/base.twig" %}

{% block body_mod %}{% endblock %}
{% block header %}
    {% include 'common/header-index.twig' %}
{% endblock %}
{% block javascripts %}
    <script src="https://api-maps.yandex.ru/2.0-stable/?apikey=7279ff52-8cf6-46ef-9f49-043703363ac3&load=package.standard&lang=ru-RU" type="text/javascript"></script>
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="screens">
        <div js-fullpage class="screens__list">
            <div class="screen screen_intro section" data-anchor="intro">
                {% include 'intro/intro-slider.twig' %}
            </div>
            <div js-screen class="screen screen_services screen_striped section" data-anchor="services">
                {% include 'intro/services.twig' %}
            </div>
            <div js-screen class="screen screen_products screen_striped section" data-anchor="products">
                {% include 'intro/products.twig' %}
            </div>
            <div js-screen class="screen screen_projects screen_project-1 section" data-anchor="projects">
                {% include 'intro/projects.twig' %}
            </div>
            <div js-screen class="screen screen_cases screen_case screen_case-1 screen_overflow_hidden section" data-anchor="cases">
                <div class="screen__case-image screen__case-image_1" style="background-image: url('images/cases/mts-bank-wrapper.png')"></div>
                <div class="screen__case-image screen__case-image_2" style="background-image: url('images/cases/russian-standart-wrapper.png')"></div>
                <div class="screen__case-image screen__case-image_3" style="background-image: url('images/cases/kiev-star-logo-wrapper.png')"></div>
                <div class="screen__case-image screen__case-image_4" style="background-image: url('images/cases/beeline-wrapper.png')"></div>
                {% include 'intro/cases.twig' %}
            </div>
            <div js-screen class="screen screen_news screen_striped section" data-anchor="news">
                {% include 'intro/news.twig' %}
            </div>
            <div js-screen class="screen screen_company section" data-anchor="company">
                {% include 'intro/company.twig' %}
                <div class="screen__notification">
                    <a href="vacancies.html" js-notification class="notification notification_hr">
                        <div class="notification__wrapper">
                            <div class="notification__title"></div>
                            <div class="notification__desc">
                                Если ты компетентный, мотивированный, имеешь активную жизненую позицию
                                то мы ждем тебя в команде!
                            </div>
                        </div>
                        <div js-notification-close class="notification__close"></div>
                    </a>
                </div>
            </div>
            <div js-screen class="screen screen_contacts section" data-anchor="contacts">
                {% include 'intro/contacts.twig' %}
                <div js-map-contact data-coords="[53.33, 83.69]" class="screen__map"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

