{% extends "common/base.twig" %}

{% block header %}
    {% set headerTop = "is-dark is-side-light is-tablet-dark" %}
    {% include 'common/header.twig' with { headerTop: headerTop } %}
{% endblock %}

{% block body %}
    <div class="iot-intro iot-intro_gap block">
        <div class="iot-intro__wrapper block-wrapper">
            <div class="iot-intro__content">
                <div class="iot-intro__main">
                    <div class="iot-intro__title">
                        Интеграция оборудования
                        и&nbsp;контроллеров
                    </div>
                    <div class="iot-intro__desc">
                        Имеющиеся возможности и&nbsp;интеграция периферийных устройств на&nbsp;заказ
                    </div>
                </div>
                <div class="iot-intro__side">
                    <div style="background-image: url('images/iot/iot-intro-1.png')"
                         class="iot-intro__img_1 iot-fly-y"></div>
                    <div style="background-image: url('images/iot/iot-intro-2.png')"
                         class="iot-intro__img_2 iot-fly-x"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="iot-steps block">
        <div class="iot-steps__wrapper">
            <div class="iot-steps__content">
                <div class="iot-steps__content-side block-wrapper">
                    <div class="iot-steps__title ">
                        <div class="iot-title-2">
                            IoT <br> разработка
                        </div>
                    </div>
                    <div class="iot-steps__desc">
                        Мы&nbsp;готовы к&nbsp;внедрению контроллеров в&nbsp;различные IoT системы,
                        а&nbsp;также к&nbsp;организации сетевой инфраструктуры и&nbsp;инструментов информационной
                        аналитики.
                        Наши разработки могут найти применение в&nbsp;самых разных областях:
                    </div>
                </div>
                <div class="iot-steps__content-main block-wrapper">
                    <div class="iot-steps__list">
                        {% set content = [{
                            title: 'Ритейл',
                            desc: '<p>Умное оборудование&nbsp;&mdash; витрины, холодильники, сканеры, цифровой мерчендайзинг. Трекинг перемещения персонала и&nbsp;посетителей на&nbsp;основе систем видеоаналитики и&nbsp;маяков, например, на&nbsp;основе iBeacon.</p><p>Распознавание лиц для индивидуальных маркетинговых предложений, для определения отношения к&nbsp;целевой группе и&nbsp;анализа предпочтений.</p>'
                        },
                            {
                                title: 'Ритейл',
                                desc: '<p>Создание систем умных складов, синхронизация данныхоб&nbsp;остатках и&nbsp;их&nbsp;использование при заказе продукции. Отслеживание поступления/выдачи продукции, внедрение устройств для работы с&nbsp;RFID&nbsp;метками.</p><p>Внедрение современных курьерских технологий,почтоматов с&nbsp;различными условиями хранения.</p>'
                            },
                            {
                                title: 'Промышленность',
                                desc: '<p>Сбор и&nbsp;обработка данных с&nbsp;датчиков оборудованияи&nbsp;окружающей среды, учет краткосрочных и&nbsp;долгосрочных факторов для повышения общей эффективности за&nbsp;счет анализа потребления средств производства (например, энергопотребления).</p><p>Повышение безопасности работы сотрудников и&nbsp;общего уровня охраны труда (слежение за&nbsp;ношением защитной одежды, запрет на&nbsp;посещение зон).</p>'
                            }, {
                                title: 'ЖКХ',
                                desc: 'Автоматизация удаленного приема онлайн-показанийс&nbsp;индивидуальных приборов учета, учет расходов, визуализация отчетности, уведомления для потребителейи&nbsp;управляющей компании.'
                            }, {
                                title: 'СКУД',
                                desc: '<p>Создание особых зон с&nbsp;использованием RFID&nbsp;меток, сканеров, рамок, турникетов, видеофиксации.</p><p>Организация платного или ограниченного доступак&nbsp;секторам. Контроль присутствия людей в&nbsp;зонахпо&nbsp;условиям.</p>'
                            }, {
                                title: 'Умный дом/офис',
                                desc: 'Объединение всех устройств и&nbsp;механизмов&nbsp;&mdash; бытовой техники, замков, систем жизнеобеспечения в&nbsp;единую систему для централизованного или удаленного управленияи&nbsp;контроля, с&nbsp;привязкой к&nbsp;определенным лицам.'
                            }, {
                                title: 'Умный город',
                                desc: 'Слежение, контроль и&nbsp;управление транспортной инфраструктурой (общественный транспорт, парковки, дорожная сеть), системами общественной безопасностии&nbsp;городского имущества.'
                            }] %}

                        {% for item in content %}
                            <div class="iot-steps__list-item">
                                <div class="iot-step iot-step_{{ loop.index }}">
                                    <div class="iot-step__wrapper">
                                        <div class="iot-step__side">
                                            <div class="iot-step__number iot-step__number_{{ loop.index }}"></div>
                                        </div>
                                        <div class="iot-step__main">
                                            <div class="iot-step__content">
                                                <div class="iot-step__content-side">
                                                    <div class="iot-step__content-title">
                                                        {{ item.title }}
                                                    </div>
                                                    <div class="iot-step__content-desc">
                                                        {{ item.desc }}
                                                    </div>
                                                </div>
                                                <div class="iot-step__content-main">
                                                    <div class="iot-step__content-img iot-step__content-img_{{ loop.index }}"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="iot-box block">
        <div class="iot-box__wrapper block-wrapper">
            <div class="iot-utp">
                <div class="iot-utp__side">
                    <div class="iot-title-2">
                        Почему мы?
                    </div>
                </div>
                <div class="iot-utp__main">
                    <div class="iot-cards">
                        <div class="iot-cards__list">
                            <div class="iot-cards__list-item">
                                <div class="iot-card">
                                    <div class="iot-card__wrapper">
                                        <div class="iot-card__header">
                                            + 1000
                                        </div>
                                        <div class="iot-card__main">
                                            Опыт работы с&nbsp;10&nbsp;000+ программно-аппаратных устройств в&nbsp;рамках
                                            одной системы &mdash;
                                            обеспечение их&nbsp;взаимодействия, обмена и&nbsp;сбора данных
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="iot-cards__list-item">
                                <div class="iot-card">
                                    <div class="iot-card__wrapper">
                                        <div class="iot-card__header">
                                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M28.4358 17.7564C27.3218 16.2909 25.6361 15.5479 23.4256 15.5479C20.866 15.5479 18.4847 16.6971 16.8962 18.6614C15.8242 18.0697 14.6253 17.7605 13.3815 17.7605C11.9753 17.7605 10.5958 18.1709 9.42254 18.928C9.55346 16.5042 9.45619 12.6514 8.03277 9.19276C8.43789 8.75651 9.26553 8.10579 10.4079 8.41273C11.3362 8.66221 12.3216 8.37427 12.9794 7.66153C14.2929 6.2388 14.6813 4.57368 14.073 2.97288C13.1082 0.434572 11.3788 0.0212102 10.4337 0.000839729C9.19023 -0.0252529 7.78191 0.557482 6.46698 1.64399C5.30334 2.60575 4.33723 3.85087 3.81675 5.06051C3.01521 6.92293 1.89986 11.8432 1.15004 15.8933C0.56113 19.0743 -0.353026 24.6535 0.141589 26.2784C0.244357 26.616 0.534351 26.8632 0.884312 26.9108C0.913151 26.9147 3.83255 27.3257 7.53815 28.9801C8.96661 29.6178 11.7892 30 14.8624 30C15.384 30 15.9132 29.989 16.4435 29.9664C19.0036 29.8572 23.7625 29.3726 26.8709 27.3562C28.7903 26.1113 29.805 24.4253 29.805 22.4812C29.805 20.5682 29.3314 18.9345 28.4358 17.7564ZM25.8872 25.8396C21.134 28.9229 10.8322 28.4711 8.27515 27.3294C5.37338 26.0339 2.93876 25.4574 1.80579 25.2367C1.75338 23.9738 2.06008 20.9074 2.92755 16.2224C3.77899 11.623 4.8513 7.2294 5.47707 5.77508C6.27335 3.92549 8.56217 1.80741 10.3465 1.80741C10.3626 1.80741 10.3788 1.80764 10.3946 1.8081C10.7194 1.81496 11.7072 1.83648 12.3831 3.61512C12.7452 4.56796 12.499 5.51691 11.6512 6.43541C11.4536 6.64919 11.1499 6.74028 10.8769 6.66681C8.5331 6.03693 6.80779 7.64299 6.22277 8.58004C6.06232 8.8373 6.04149 9.15774 6.16715 9.43354C8.23556 13.9702 7.58393 19.7035 7.42646 20.8431C6.86798 21.6321 6.46675 22.5288 6.25733 23.4771C6.14975 23.9646 6.4576 24.4471 6.94512 24.5547C7.43264 24.662 7.91489 24.3544 8.02247 23.8669C8.57247 21.3759 10.8263 19.5682 13.3815 19.5682C14.5461 19.5682 15.6584 19.9285 16.5982 20.6099C16.6028 20.6131 16.6076 20.6156 16.6122 20.6188C16.6168 20.622 16.6211 20.6259 16.6259 20.6291C17.2531 21.0489 18.064 22.0765 18.3233 22.4368C18.4998 22.6826 18.777 22.8133 19.058 22.8133C19.2407 22.8133 19.4249 22.7584 19.5847 22.6437C19.99 22.3524 20.0827 21.7877 19.7914 21.3821C19.7049 21.2615 19.0924 20.4213 18.3618 19.7257C19.6085 18.229 21.4492 17.3556 23.4256 17.3556C27.204 17.3556 27.9973 20.143 27.9973 22.4812C27.9973 23.8202 27.307 24.9186 25.8872 25.8396Z"
                                                      fill="#28AC75"/>
                                            </svg>
                                        </div>
                                        <div class="iot-card__main">
                                            Мы&nbsp;являемся одной из&nbsp;самых опытных команд
                                            в&nbsp;России по&nbsp;интеграции различных видов оборудования. Наши
                                            специалисты обладают 10+&nbsp;летним опытом работы по&nbsp;внедрению
                                            и&nbsp;настройке коммуникации посредством COM
                                            и&nbsp;USB портов, внедрению решений на&nbsp;базе микрокомпьютеров Raspberry&nbsp;Pi
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="iot-cards__list-item">
                                <div class="iot-card">
                                    <div class="iot-card__wrapper">
                                        <div class="iot-card__header">
                                            <svg width="18" height="30" viewBox="0 0 18 30" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.6679 14.9998L16.9572 8.86345C17.1967 8.62993 17.3317 8.30952 17.3317 7.97503C17.3317 7.64055 17.1967 7.32013 16.9572 7.08661L10.0554 0.352777C9.698 0.00408514 9.16655 -0.0961913 8.70641 0.0971892C8.24627 0.291121 7.94709 0.741883 7.94709 1.2412V12.3453L2.1083 6.64868C1.61754 6.16992 0.831738 6.17943 0.352838 6.6702C-0.125923 7.16096 -0.116268 7.94689 0.374494 8.42566L7.11261 14.9999L0.374494 21.5742C-0.116268 22.0529 -0.125923 22.8389 0.352838 23.3296C0.8316 23.8204 1.61767 23.83 2.1083 23.3511L7.94709 17.6545V28.7586C7.94709 29.2579 8.24627 29.7087 8.70641 29.9026C8.862 29.9683 9.02572 30 9.18821 30C9.50614 30 9.81883 29.8778 10.0554 29.647L16.9572 22.9132C17.1967 22.6797 17.3317 22.3593 17.3317 22.0248C17.3317 21.6903 17.1967 21.3699 16.9572 21.1364L10.6679 14.9998ZM10.43 4.18659L14.3128 7.97489L10.43 11.7632V4.18659ZM10.43 25.8128V18.2362L14.3128 22.0245L10.43 25.8128Z"
                                                      fill="#28AC75"/>
                                            </svg>
                                        </div>
                                        <div class="iot-card__main">
                                            Наш опыт по&nbsp;работе с&nbsp;Bluetooth Low Energy (BLE) означает
                                            возможность создания современного беспроводного сетевого пространства для
                                            огромного количества периферийных устройств, а&nbsp;также основы для IoT
                                            систем
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="iot-cards__list-item">
                                <div class="iot-card">
                                    <div class="iot-card__wrapper">
                                        <div class="iot-card__header">
                                            <svg width="40" height="30" viewBox="0 0 40 30" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M24.9296 0.404655L23.5746 0.033193C23.4002 -0.0249675 23.2284 -0.00667724 23.0613 0.0879101C22.8937 0.182574 22.7806 0.324685 22.7224 0.514012L14.5727 28.7209C14.5146 28.9103 14.5328 29.089 14.6274 29.2562C14.7221 29.4238 14.8639 29.5367 15.0535 29.5949L16.4081 29.9665C16.5829 30.0251 16.7541 30.0067 16.9216 29.912C17.0892 29.8169 17.2022 29.6752 17.2603 29.4862L25.4102 1.27882C25.4683 1.08949 25.4502 0.910881 25.3554 0.74321C25.2606 0.575616 25.119 0.462739 24.9296 0.404655Z"
                                                      fill="#28AC75"/>
                                                <path d="M12.7163 5.91092C12.7163 5.7216 12.6433 5.55392 12.4977 5.40837L11.4051 4.31587C11.2595 4.17024 11.0919 4.09723 10.9026 4.09723C10.7132 4.09723 10.5456 4.17032 10.4 4.31587L0.218561 14.4973C0.0727006 14.643 0 14.8106 0 14.9999C0 15.1892 0.0729302 15.3568 0.218561 15.5024L10.3999 25.6838C10.5455 25.8297 10.7129 25.9022 10.9025 25.9022C11.0921 25.9022 11.2595 25.8294 11.405 25.6838L12.4976 24.5919C12.6433 24.4464 12.7162 24.2787 12.7162 24.0891C12.7162 23.9 12.6433 23.7324 12.4976 23.5869L3.91106 14.9999L12.4977 6.41348C12.6436 6.26792 12.7163 6.10025 12.7163 5.91092Z"
                                                      fill="#28AC75"/>
                                                <path d="M39.7645 14.4971L29.5828 4.31564C29.4372 4.17009 29.2696 4.097 29.0806 4.097C28.8909 4.097 28.7239 4.17009 28.5778 4.31564L27.4857 5.40806C27.3401 5.5537 27.2675 5.72106 27.2675 5.91062C27.2675 6.10017 27.34 6.26762 27.4857 6.41317L36.0724 14.9998L27.4857 23.5869C27.3401 23.7324 27.2675 23.9001 27.2675 24.0891C27.2675 24.2788 27.34 24.4464 27.4857 24.5919L28.5778 25.6838C28.7239 25.8297 28.891 25.9022 29.0806 25.9022C29.2697 25.9022 29.4372 25.8294 29.5828 25.6838L39.7645 15.5024C39.9101 15.3569 39.9829 15.189 39.9829 14.9997C39.9829 14.8102 39.9101 14.6427 39.7645 14.4971Z"
                                                      fill="#28AC75"/>
                                            </svg>
                                        </div>
                                        <div class="iot-card__main">
                                            Штат сотрудников компании включает разработчиков бэк-офисов, интеграционных
                                            веб-сервисов, мобильных приложений
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="iot-utp">
                <div class="iot-utp__side">
                    <div class="iot-title-2">
                        Реализованные кейсы
                    </div>
                </div>
                <div class="iot-utp__main">
                    <div class="iot-cards">
                        <div class="iot-cards__list">
                            <div class="iot-cards__list-item">
                                <a href="#" class="iot-card iot-card_link"
                                   style="background-image: url('images/iot/case-iot-1.jpg')"></a>
                            </div>
                            <div class="iot-cards__list-item">
                                <a href="#" class="iot-card iot-card_link"
                                   style="background-image: url('images/iot/case-iot-2.jpg')"></a>
                            </div>
                            <div class="iot-cards__list-item">
                                <a href="#" class="iot-card iot-card_link"
                                   style="background-image: url('images/iot/case-iot-3.jpg')"></a>
                            </div>
                            <div class="iot-cards__list-item">
                                <a href="#" class="iot-card iot-card_link"
                                   style="background-image: url('images/iot/case-iot-4.jpg')"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="iot-ci block">
        <div class="iot-ci__wrapper block-wrapper">
            <div class="iot-ci__side">
                <div class="iot-ci__title">
                    <div class="iot-title-2">
                        Кастомная <br> интеграция
                    </div>
                </div>
            </div>
            <div class="iot-ci__main">
                <div class="iot-ci__cols">
                    <div class="iot-ci__cols-item iot-ci__cols-item_side">
                        <div class="iot-ci__content">
                            <div class="iot-ci__content-side">
                                <div class="iot-ci__desc">
                                    Мы&nbsp;регулярно расширяем количество поддерживаемого оборудования вслед
                                    за&nbsp;требованиями наших заказчиков по&nbsp;расширению типов и&nbsp;сфер
                                    применения устройств. Предложите свой кейс и&nbsp;мы&nbsp;выполним интеграцию всей
                                    необходимой периферии.
                                </div>
                            </div>
                            <div class="iot-ci__content-main">
                                <div class="iot-ci__subtitle">Как мы интегрируем новое оборудование</div>
                                <div class="iot-ci__list">
                                    <div class="iot-ci__list-item">Требуется физическое присутствие устройства в&nbsp;нашем
                                        офисе
                                    </div>
                                    <div class="iot-ci__list-item">Интеграция занимает от&nbsp;1&nbsp;до&nbsp;4&nbsp;недель</div>
                                    <div class="iot-ci__list-item">Стоимость интеграции зависит от&nbsp;времени, в&nbsp;среднем
                                        занимает от&nbsp;40&nbsp;до&nbsp;160 нормо-часов
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iot-ci__cols-item iot-ci__cols-item_main">
                        <img src="images/iot/iot-ci.png" alt="" class="iot-ci__image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="iot-work block">
        <div class="iot-work__wrapper block-wrapper">
            <div class="iot-work__side">
                <div class="iot-work__title">
                    <div class="iot-title-2">
                        Кастомная <br> интеграция
                    </div>
                </div>
            </div>
            <div class="iot-work__main">
                <div class="iot-work__cols">
                    <div class="iot-work__cols-item iot-work__cols-item_side">
                        <p>Мы&nbsp;стремимся развивать партнерские отношения с&nbsp;производителями периферийного
                            оборудования в&nbsp;самых разных направлениях.</p>
                        <p>Устойчивая кооперация с&nbsp;надежными партнерами позволяет нашей компании предоставлять
                            качественное, законченное, адаптивное решение для заказчиков любых размеров.</p>
                    </div>
                    <div class="iot-work__cols-item iot-work__cols-item_main">
                        Если Вы&nbsp;являетесь российским или зарубежным производителем устройств
                        в&nbsp;сфере самообслуживания, автоматизации продажи товаров/услуг, IoT,
                        а&nbsp;также промышленного Интернета вещей, в&nbsp;том числе с&nbsp;использованием Big Data и&nbsp;заинтересованы
                        в&nbsp;создании единого программно-аппаратного комплекса с&nbsp;современным, многофункциональным&nbsp;ПО,
                        свяжитесь с&nbsp;нами!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block-wrapper">
            {% include 'modules/callback-tile.twig' with {
                map: false,
                title: 'Остались вопросы?',
                desc: 'Оставьте заявку и наши специлисты свяжутся с вами в ближайшее время',
                modifier: 'callback-tile__side_iot'
            } %}
        </div>
    </div>
{% endblock %}
