{% extends "common/base.twig" %}

{% block header %}
    {% set headerTop = "is-dark is-side-light is-tablet-dark" %}
    {% include 'common/header.twig' with { headerTop: headerTop } %}
{% endblock %}

{% block body %}
    <div class="products-sections -relative">
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="product-intro product-intro_kiosks">
                    <div class="product-intro__wrapper">
                        <div class="product-intro__main">
                            <div class="product-intro__desc">
                                <p>
                                    Киоски самообслуживания для
                                </p>
                            </div>
                            <h1 class="product-intro__title">
                                Ресурсоснабжающих<br>
                                организаций<br>
                                и сотовых операторов
                            </h1>
                        </div>
                        <div class="product-intro__side">
                            <div class="product-intro__billboard" style="background-image: url('images/kiosks/main.png')"></div>
                            <div class="product-intro__logo">
                                <img src="images/soft-logic.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="offer block-wrapper block_padding-top_xlarge">
                <div class="offer__wrapper">
                    <div class="offer__title block-left block_gap_medium">
                        <div class="title-h3">Наша компания предлагает:</div>
                    </div>
                    <div class="offer__list">
                        <div class="offer-list">
                            <div class="offer-list__list">
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Готовое программно-аппаратное решение, включающее киоск самообслуживания и специализированное ПО
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img">
                                                        <img src="/images/kiosks/t1.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Поставку специализированного софта для имеющегося у заказчика оборудования, с возможностью адаптации, доработки и кастомизации, а также разработку ПО с нуля
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img">
                                                        <img src="/images/retail/t-2.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        {% set list = [
            { img: '/images/kiosks/c-1.svg', title: 'Единое окно оплаты регулярных платежей' },
            { img: '/images/kiosks/c-2.svg', title: 'Широчайшее количество поставщиков услуг' },
            { img: '/images/kiosks/c-3.svg', title: 'Сокращение затрат на персонал' },
            { img: '/images/kiosks/c-4.svg', title: 'Автоматизация ввода реквизитов' },
            { img: '/images/kiosks/c-5.svg', title: 'Использование киосков в качестве рекламных панелей' },
            { img: '/images/kiosks/c-6.svg', title: 'Маркетинговые функции в киосках <span>(Выдача скидочных купонов, бонусные баллы, программы лояльности)</span>' },
        ] %}
        <div class="products-sections__item products-sections__item_gap-xxxxlarge block">
            <div class="block-wrapper">

                <div class="offer__title block_gap_xlarge">
                    <div class="title-h3">Ключевые преимущества для сферы ЖКХ и сотовых операторов:</div>
                </div>

                <div class="list-metric list-metric_simple list-metric_fast-food">
                    <div class="list-metric__list">
                        {% for item in list %}
                            <div class="list-metric__list-item">
                                <div class="list-metric__item">
                                    <div class="list-metric__item-side">
                                        <div class="list-metric__item-icon">
                                            <img src="{{ item.img }}" alt="">
                                        </div>
                                    </div>
                                    <div class="list-metric__item-main">
                                        <div class="list-metric__item-desc">
                                            {{ item.title }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block_gap-out_large">
            <div class="block target target_fast-food">
                <div class="block-wrapper target__wrapper target__wrapper_border-bottom">
                    <div class="target__main">
                        <div class="target__title">
                            Бизнес-цель
                        </div>
                        <div class="target__desc">
                            <div class="block-left">
                                Киоски самообслуживания и платежные терминалы - это современный формат приема платежей для сотовых операторов и организаций ЖКХ. Гибкость функционала программного обеспечения, вариативность оборудования позволяет установку в любых точках - салонах продаж операторов мобильной связи, офисах управляющих компаний,
                                на территории жилых комплексов (подъезды, парковки) и в любых точках высокой проходимости.
                            </div>
                        </div>
                    </div>
                    <div class="target__side">
                        <div class="target__side-image">
                            <img src="/images/kiosks/t-2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { title: 'Современные технологии обслуживания без касс' },
            { title: 'Повышение доступности оплаты, уменьшение просроченных платежей' },
            { title: 'Яркий, интерактивный интерфейс' },
            { title: 'Прием наличных, банковских карт' },
            { title: 'Внедрение системы персонального счета клиента для пополнения, переноса сдачи, накопления бонусов' },
            { title: 'Корзина платежей, функционал разделения одного платежа на несколько услуг' },
            { title: 'Гибкий подход к выдаче сдачи - на мобильный телефон, в счет услуг' },
            { title: 'Программы лояльности, накопительные баллы, скидки' },
            { title: 'Мониторинг финансовых операций в бэк-офисе' },
        ] %}

        <div class="products-sections__item block -index-2 block_gap-out_medium">
            <div class="block-wrapper">
                <div class="title-h3 block_gap_medium">Преимущества внедрения:</div>
                <div class="info-grid">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count" style="color: #0E8ACD">{{ loop.index }}</div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item -index-1">
            <div class="section-color section-color_black_simple section-color_kiosks block block_padding-top_large block_padding-bottom_xlarge">
                <div class="section-color__wrapper block-wrapper">
                    <div class="products-sections__item block">
                        <div class="block-wrapper">
                            <div class="seporate seporate_full seporate_narrow"></div>
                        </div>
                    </div>
                    <div class="title-medium title-medium_white">
                        Типовые сценарии<br> применения
                    </div>
                    <div class="scenario-item scenario-item_fitness scenario-item_kiosks scenario-item--one">
                        <div class="scenario-item__wrapper">
                            <div class="scenario-item__main">
                                <div class="scenario-item__title">Установка киоска в офисах продаж</div>
                                <div class="scenario-item__desc-wrapper">
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__subtitle">Описание процесса:</div>
                                        <div class="scenario-item__text">
                                            <p>
                                                Киоск позволяет сократить или полностью исключить кассовый узел (соответствие 54-ФЗ). Киоск может не только принимать оплату за услуги, но и в случае с сотовыми операторами реализовывать товары - смартфоны, аксессуары, предоплаченные карты. Возможно использование полноценной товарной витрины в интерфейсе киоска.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="scenario-item__side scenario-item__side_phone-large">
                                <div class="scenario-item__img">
                                    <img src="/images/kiosks/cards.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="block section-image section-image_gap-none section-image_bg-b section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['https://via.placeholder.com/420x620.png', 'https://via.placeholder.com/420x620.png', 'https://via.placeholder.com/420x620.png'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xlarge block">
            <div class="block-wrapper">
                <div class="scenario-item scenario-item_fitness scenario-item_kiosks scenario-item_color-dark scenario-item--two">
                    <div class="scenario-item__wrapper">
                        <div class="scenario-item__main">
                            <div class="scenario-item__title">Автоматизация приема платежей<br> за ЖКХ</div>
                            <div class="scenario-item__desc-wrapper">
                                <div class="scenario-item__desc scenario-item__desc_gap-none">
                                    <div class="scenario-item__subtitle">Описание процесса:</div>
                                    <div class="scenario-item__text">
                                        Установка киоска в зоне расположения объектов хозяйствования (дворы, подъезды, парковки) позволит жильцам комфортно оплачивать все услуги в одном месте при минимальном взаимодействии с системой. Требуется только поднести квитанции
                                        к сканеру штрихкода или веб-камере, проверить услуги в платежной корзине
                                        и совершить один платеж наличными или картой. Возможна идентификация плательщика по ID, автоматическое отображение данных об имеющихся начислениях и задолженностях и последующая оплата. Обеспечивается проверка введенных данных и платежных реквизитов для исключения ошибок и снижения претензионной работы.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scenario-item__side scenario-item__side_phone">
                            <div class="scenario-item__img">
                                <img src="/images/kiosks/doc.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block_gap-out_medium -index-2">
            <div class="block section-image section-image_gap-none section-image_bg-lb section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['https://via.placeholder.com/420x620.png', 'https://via.placeholder.com/420x620.png', 'https://via.placeholder.com/420x620.png'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item -index-1">
            <div class="section-color section-color_black_simple section-color_kiosks block block_padding-top_xlarge block_padding-bottom_xlarge">
                <div class="section-color__wrapper block-wrapper">
                    <div class="seporate seporate_full seporate_narrow"></div>
                    <div class="scenario-item scenario-item_fast-food scenario-item_kiosks scenario-item--three">
                        <div class="scenario-item__wrapper">
                            <div class="scenario-item__main">
                                <div class="scenario-item__title">Точка приема дополнительных платежей</div>
                                <div class="scenario-item__desc-wrapper">
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__subtitle">Описание процесса:</div>
                                        <div class="scenario-item__text">
                                            Платежный киоск выступает в качестве современного, востребованного инструмента приема платежей, а также площадки, которая может неограниченно использоваться для предоставления всех платежных возможностей сторонним компаниям, поставщикам, банкам. В таком случае владелец терминала будет получать стабильную прибыль в виде процента от совершаемых платежей, киоск будет привлекать больше плательщиков и генерировать кросс-платежи и дополнительные платежи.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="scenario-item__side scenario-item__side_phone-large">
                                <div class="scenario-item__img">
                                    <img src="/images/kiosks/list.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="block section-image section-image_gap-none section-image_bg-b section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['https://via.placeholder.com/420x620.png', 'https://via.placeholder.com/420x620.png', 'https://via.placeholder.com/420x620.png'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xlarge block">
            <div class="block-wrapper">
                <div class="scenario-item scenario-item_fitness scenario-item_kiosks scenario-item_color-dark scenario-item--four">
                    <div class="scenario-item__wrapper">
                        <div class="scenario-item__main">
                            <div class="scenario-item__title">Интерактивная рекламная<br> площадка</div>
                            <div class="scenario-item__desc-wrapper">
                                <div class="scenario-item__desc scenario-item__desc_gap-none">
                                    <div class="scenario-item__subtitle">Описание процесса:</div>
                                    <div class="scenario-item__text">
                                        Стабильный спрос пользователей на киоски для оплаты различных услуг позволяет задействовать все
                                        возможности нашего программного обеспечения для организации показа рекламы при простое и в рабочем
                                        состоянии - интерактивных баннеров, видеороликов. Владелец может рекламировать как свои услуги,
                                        так и продавать рекламные места. Рекламный модуль обеспечивает гибкую настройку частоты показов,
                                        мест, привязку показов к действиям пользователей. Ведется подсчет показов и взаимодействий, оценка эффективности рекламных кампаний.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scenario-item__side scenario-item__side_phone">
                            <div class="scenario-item__img">
                                <img src="/images/kiosks/tablet.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block_gap-out_medium -index-2">
            <div class="block section-image section-image_gap-none section-image_bg-lb section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['https://via.placeholder.com/420x620.png', 'https://via.placeholder.com/420x620.png', 'https://via.placeholder.com/420x620.png'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item -index-1">
            <div class="section-color section-color_black_simple section-color_kiosks block block_padding-top_xlarge block_padding-bottom_xlarge">
                <div class="section-color__wrapper block-wrapper">
                    <div class="seporate seporate_full seporate_narrow"></div>
                    <div class="scenario-item scenario-item_fast-food scenario-item_kiosks scenario-item--five">
                        <div class="scenario-item__wrapper">
                            <div class="scenario-item__main">
                                <div class="scenario-item__title">Повышение интереса плательщиков за счет программ лояльности</div>
                                <div class="scenario-item__desc-wrapper">
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__subtitle">Описание процесса:</div>
                                        <div class="scenario-item__text">
                                            Программное обеспечение позволяет использование различного промо-функционала -
                                            накопительные баллы для обмена на реальные призы в офисах компаний, скидки при
                                            своевременной оплате, разовые пополнения баланса на определенную сумму при совершении
                                            определенных действий и многое другое. Все это еще сильнее привлекает плательщиков
                                            к совершению платежей через киоски, а правильное место установки позволит повысить
                                            конкурентоспособность решения в сравнении с другими платежными инструментами.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="scenario-item__side scenario-item__side_phone-large">
                                <div class="scenario-item__img">
                                    <img src="/images/kiosks/list-2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="block section-image section-image_gap-none section-image_bg-lb section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['https://via.placeholder.com/420x620.png', 'https://via.placeholder.com/420x620.png', 'https://via.placeholder.com/420x620.png'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper block-wrapper_bordered block_padding-top_large block_padding-bottom_xlarge">
                <div class="section-image section-image_messenger">
                    <div class="section-image__wrapper">
                        <div class="section-image__main">
                            <div class="title-medium">
                                Система технического<br> мониторинга
                            </div>
                            <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                                Система включает модуль технического мониторинга и модуль оповещения
                                о нештатных ситуациях. Заказчик может отслеживать в реальном времени актуальный статус киоска, получать уведомления о технических проблемах в виде SMS/E-mail/Telegram уведомлений и оперативно реагировать на них
                            </div>
                        </div>
                        <div class="section-image__side">
                            <div class="section-image__img">
                                <img src="/images/fast-food/phone-mg.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="title-medium">
                    Система обновлений
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Встроенная система обновлений позволяет оперативно вносить любые изменения
                    в ПО и загружать их на киоски по заданному расписанию.
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="section-color section-color_blue-dark section-color_blue-xlight section-color_bg-right block-wrapper block_padding-top_xlarge block_padding-bottom_large">
                <div class="section-color__wrapper">
                    <div class="title-medium title-medium_white">
                        Варианты<br> приобретения ПО
                    </div>
                    <div class="possibilitys-subtitle block-left block_gap_medium">
                        В зависимости от масштабов автоматизации, размеров заказчика и конечной цели применения решения, возможны:
                    </div>
                    <div class="info-grid info-grid_2x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_white bank-advantage_low bank-advantage--one">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">Покупка лицензии</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_white bank-advantage_low bank-advantage--two">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">Использование ПО в облачном формате по ежемесячной/годовой подписке</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-color__line"></div>
                    <div class="possibilitys-subtitle possibilitys-subtitle_wide block-left block_gap_medium">
                        Благодаря различным вариантам приобретения ПО Pay-logic, наше решение подходит не только розничным торговым точкам среднего масштаба и крупным торговым сетям, но и небольшим частным магазинам любой площади.
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { img: '/images/kiosks/d-1.svg', title: 'Стилизацию платежного интерфейса в фирменные цвета или применение white label концепции' },
            { img: '/images/kiosks/d-2.svg', title: 'Интеграцию системы киосков с внешней учетной системой' },
            { img: '/images/kiosks/d-3.svg', title: 'Зачисление сдачи на телефон в киосках самообслуживания' },
            { img: '/images/kiosks/d-4.svg', title: 'Разработку рекламных баннеров' },
            { img: '/images/kiosks/d-5.svg', title: 'Настройку платежного сценария под определенные бизнес-требования' },
            { img: '/images/kiosks/d-6.svg', title: 'Адаптацию к новой валюте и языку, включая создание мультиязычных интерфейсов' },
        ] %}

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="title-medium">
                    Доработки решения
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Типовые доработки решения для заказчика включают:
                </div>
                <div class="info-grid info-grid_gap-medium info-grid_3x block_gap_small">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_orange">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__img">
                                                <img src="{{ item.img }}" alt="">
                                            </div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="attention accordion_orange-dark block_gap_xlarge">
                    <div class="attention__wrapper attention__wrapper_kiosks attention__wrapper_info">
                        <div class="attention__text attention__text_center">По требованию заказчика возможны любые доработки программного обеспечения!</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper block-wrapper_bg-left block_padding-top_large block_padding-bottom_xlarge">
                <div class="section-image section-image_messenger">
                    <div class="section-image__wrapper">
                        <div class="section-image__main">
                            <div class="title-medium">
                                Дополнительные<br> возможности для<br> бизнеса
                            </div>
                            <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                                <p>
                                    Мы предлагаем готовое решение по совмещению киоска самообслуживания
                                    и вендингового аппарата по продаже спортивного питания и напитков - протеиновых коктейлей, воды, кофе и т. д.
                                </p>
                                <p>
                                    В зависимости от комплектации - только напитки/напитки + снекомат, фитнес-бар самообслуживания окупится за период от 4 до 8 месяцев и в дальнейшем будет предоставлять все преимущества для посетителей фитнес-клуба, без необходимости оплачивать работу сотрудников. Отдельное преимущество для фитнес-клубов формата 24/7.
                                </p>
                            </div>
                        </div>
                        <div class="section-image__side">
                            <div class="section-image__img">
                                <img src="/images/kiosks/box.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# ---------------------   ---------------------   ---------------------   ---------------------   --------------------- #}
        <div class="products-sections__item">
            <div class="block section-with-image section-with-image_bg-none section-with-image_kiosks">
                <div class="block-wrapper section-with-image__wrapper section-with-image__wrapper_border-bottom">
                    <div class="section-with-image__content-wrapper">
                        <div class="section-with-image__main">
                            <div class="section-with-image__title">
                                Поставка<br>программно-аппаратного решения под ключ
                            </div>
                            <div class="section-with-image__desc-wrapper">
                                <div class="section-with-image__desc">
                                    За длительный период деятельности на рынке платежного ПО мы установили прочные партнерские связи с проверенными производителями оборудования
                                    и готовы предложить комплексное решение в формате ПО + киоски самообслуживания для различных сфер бизнеса
                                </div>
                            </div>
                        </div>
                        <div class="section-with-image__side">
                            <div class="section-with-image__side-image section-with-image__side-image_postmat-retail"></div>
                        </div>
                    </div>
                    <div class="section-with-image__delimiter section-with-image__delimiter_mobile"></div>
                    <div class="section-with-image__link">
                        <a href="#" class="section-with-image__link-arrow">
                            Перейти на сайт партнера
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="block additionally-resources">
                <div class="block-wrapper additionally-resources__wrapper">
                    <div class="additionally-resources__title">Дополнительные<br>ресурсы</div>
                    <div class="additionally-resources__list-wrapper">
                        <a href="#" class="resource-item resource-item_green">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_white-terminal"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Выбрать киоск</span>
                            </div>
                        </a>
                        <a href="#" class="resource-item resource-item_blue">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_clouds"></div>
                                    <div class="resource-item__image resource-item__image_cloud"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Облачный сервис</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                {% include 'modules/callback-tile.twig' with {
                    map: false,
                    title: 'Остались вопросы?',
                    desc: 'Оставьте заявку и наши специлисты свяжутся с вами в ближайшее время',
                    modifier: 'callback-tile__side_kiosks'
                } %}
            </div>
        </div>

    </div>
{% endblock %}
