{% extends "common/base.twig" %}
{% block header %}
    {% set customClass = "half-background" %}
    {% include 'common/header.twig' with {customClass:customClass} %}
{% endblock %}
{% block body %}
    <div class="list-section half-background">
        <div class="section">
            <div class="news-breadcrumbs__wrapper block-wrapper">
                {% set breadcrumbs = [{
                    url:'/',
                    name:'Главная',
                    isCurrent: false
                }, {
                    url:'#',
                    name:'Новости',
                    isCurrent: true
                }] %}

                {% include 'modules/breadcrumbs.twig' with {breadcrumbs:breadcrumbs} %}
            </div>
        </div>
        <div class="section section-news">
            <div class="news block-wrapper">
                <div class="news-caption__wrapper">
                    <div class="news-caption half-left-border">Новости</div>
                </div>
                <form js-tags action="#" method="get" class="tags">
                    <div class="tags__wrapper">
                        {% set tags = [{
                            name:'tags',
                            value:'smartkeeper',
                            caption:'SmartKeeper'
                        },{
                            name:'tags',
                            value:'pc',
                            caption:'ПЦ Pay-Logic'
                        },{
                            name:'tags',
                            value:'another1',
                            caption:'Еще один тег'
                        },{
                            name:'tags',
                            value:'another2',
                            caption:'Еще один тег длинный'
                        },{
                            name:'tags',
                            value:'another2',
                            caption:'Еще один тег длинный'
                        },{
                            name:'tags',
                            value:'another2',
                            caption:'Еще один тег длинный'
                        },{
                            name:'tags',
                            value:'another2',
                            caption:'Еще один тег длинный'
                        },{
                            name:'tags',
                            value:'another2',
                            caption:'Еще один тег длинный'
                        }] %}

                        {% for tag in tags %}
                            <label js-tags-item class="toggle-tag">
                                <input js-filtertag-item type="checkbox" value="{{ tag.value }}" name="{{ tag.name }}" class="toggle__input">
                                <div class="tags__item">
                                    <span class="tags__item-caption">{{ tag.caption }}</span>
                                </div>
                            </label>
                        {% endfor %}
                    </div>
                </form>

                <div class="article">
                    <div js-articles-content class="article__wrapper">
                        {% set articles = [{
                            title:'Релиз новой версии электронного кошелька SmartKeeper для Expressbank',
                            context:'Компания Soft-logic сообщает о релизе новой версии платформы электронного кошелька SmartKeeper для банка Expressbank.',
                            data:'21.11.2018',
                            tag:'SmartKeeper'
                        }] %}

                        {% for article in articles %}
                            <a href="article.html" class="article__item">
                                <div class="article__item-caption">
                                    {{ article.title }}
                                </div>
                                <div class="article__text-wrapper">
                                    <div class="article__item-text">
                                        {{ article.context }}
                                    </div>
                                </div>
                                <div class="article__tag-wrapper">
                                    <div class="article__tag-date">21.11.2018</div>
                                    <div class="article__tag-name">SmartKeeper</div>
                                </div>
                            </a>
                        {% endfor %}

                        {% set isHaveMore = true %}
                        {% if isHaveMore %}
                            <form action="#" method="post" class="article__btn-wrapper">
                                <input type="hidden">
                                <button class="article__btn"><span class="article__btn-text">Показать еще</span></button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
