{% extends "common/base.twig" %}
{% block body_mod %}{% endblock %}
{% block body %}
    <div class="block">
        <div class="block-wrapper">
            <div style="margin-bottom: 15px">
                <a target="_blank" href="/">Главная</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="news.html">Новости</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="article.html">Типовая текстовая</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="services.html">Услуги</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="case.html">Кейс</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="cases.html">Кейсы</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="company.html">О Компании</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="products.html">Продукты</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="smartkeeper.html">Smartkeeper</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="pay-logic-hub.html">Хаб Pay logic</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="pay-logic-pc.html">ПЦ Pay logic hub</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="taxi.html">Taxi </a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="core.html">Архитектура</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="retail.html">Ритейл </a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="postamat.html">Постамат</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="fast-food.html">Фас-фуд</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="fitness.html">Фитнес</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="parking.html">Паркинг</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="fiscal-farm.html">Фискальная ферма Soft-logic</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="software-fiscal.html">ПО для оператора фискальных данных</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="fiscal-online.html">Сервис онлайн фискализации</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="ticket-booth.html">Билетные киоски</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="kiosks.html">Ресурсоснабжающих организаций и сотовых операторов</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="vacancies.html">Вакансии</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="vacancy.html">Вакансия</a>
            </div>
            <div style="margin-bottom: 15px">
                <a target="_blank" href="stack.html">Технологии</a>
            </div>

            <div style="margin-bottom: 15px">
                <a target="_blank" href="iot.html">iot <span style="color: red"></span></a>
            </div>

            <div style="margin-bottom: 15px">
                <a target="_blank" href="ticket-transport.html"> Билетные киоск для ж/д, метро, <br> автовокзалов </a>
            </div>

            <div style="margin-bottom: 15px">
                <a target="_blank" href="queue.html"> Электронная очередь <span
                            style="color: red"> (new) </span></a>
            </div>
        </div>
    </div>
{% endblock %}
