{% extends "common/base.twig" %}

{% block header %}
    {% set headerTop = "is-dark is-side-light is-tablet-dark" %}
    {% include 'common/header.twig' with { headerTop: headerTop } %}
{% endblock %}

{% block body %}
    <div class="products-sections -relative">
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="product-intro product-intro_retail">
                    <div class="product-intro__wrapper">
                        <div class="product-intro__main">
                            <div class="product-intro__tag"></div>
                            <h1 class="product-intro__title">
                                Паркоматы
                            </h1>
                            <div class="product-intro__desc">
                                <p>
                                    Краткое тематическое описание о предоставляемых
                                    услугах
                                </p>
                            </div>
                        </div>
                        <div class="product-intro__side">
                            <div class="product-intro__billboard" style="background-image: url('images/parking/main.png')"></div>
                            <div class="product-intro__logo">
                                <img src="images/soft-logic.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="offer block-wrapper block_padding-top_xlarge">
                <div class="offer__wrapper">
                    <div class="offer__title block-left block_gap_medium">
                        <div class="title-h3">Наша компания предлагает:</div>
                    </div>
                    <div class="offer__list">
                        <div class="offer-list">
                            <div class="offer-list__list">
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Готовое программно-аппаратное решение, включающее киоск самообслуживания и специализированное ПО
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img">
                                                        <img src="/images/fitness/terminal.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Поставку специализированного софта для имеющегося у заказчика оборудования, с возможностью адаптации, доработки и кастомизации, а также разработку ПО с нуля
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img">
                                                        <img src="/images/retail/t-2.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>
        {% set list = [
            { img: '/images/parking/c1.svg', title: 'Повышение скорости и качества обслуживания' },
            { img: '/images/parking/c2.svg', title: 'Полное исключение персонала в процессе оплаты парковки' },
            { img: '/images/parking/c3.svg', title: 'Возможность реализации работы въездной стойки и шлагбаума в киоске самообслуживания — весь функционал в одном устройстве' },
            { img: '/images/parking/c4.svg', title: 'Применение RFID-карт, билетов, штрихкодов, жетонов, выдача предоплаченных карт' },
            { img: '/images/parking/c5.svg', title: 'Промо функционал - выдача скидочных купонов, разовый бесплатный въезд' },
            { img: '/images/parking/c6.svg', title: 'Интеграция со сторонними информационными системами' },
        ] %}
        <div class="products-sections__item products-sections__item_gap-xxxxlarge block">
            <div class="block-wrapper">

                <div class="offer__title block_gap_xlarge">
                    <div class="title-h3">Ключевые преимущества для автоматизации парковки</div>
                </div>

                <div class="list-metric list-metric_simple list-metric_fast-food">
                    <div class="list-metric__list">
                        {% for item in list %}
                            <div class="list-metric__list-item">
                                <div class="list-metric__item">
                                    <div class="list-metric__item-side">
                                        <div class="list-metric__item-icon">
                                            <img src="{{ item.img }}" alt="">
                                        </div>
                                    </div>
                                    <div class="list-metric__item-main">
                                        <div class="list-metric__item-desc">
                                            {{ item.title }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block_gap-out_large">
            <div class="block target target_parking">
                <div class="block-wrapper target__wrapper target__wrapper_border-bottom">
                    <div class="target__main">
                        <div class="target__title">
                            Бизнес-цель
                        </div>
                        <div class="target__desc">
                            <div class="block-left">
                                <p>
                                    Автоматическая парковочная система на&nbsp;базе киоска самообслуживания или терминала оплаты парковки позволяет объединить элементы&nbsp;&mdash; въездную/выездную стойку, автоматическую кассу, шлагбаум, диспенсер парковочных идентификаторов в&nbsp;одном
                                    устройстве.
                                </p>
                                <p>
                                    При этом благодаря гибкому&nbsp;ПО наш паркомат может быть как самостоятельным, эффективным решением для малых и&nbsp;средних парковок, так и&nbsp;частью крупной системы, объединяющей систему учета свободных мест, систему навигации для паркинга, видеофиксацию и&nbsp;распознавание
                                    номерных знаков.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="target__side">
                        <div class="target__side-image">
                            <img src="/images/parking/t2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item -index-1">
            <div class="section-color section-color_black_simple block block_padding-top_large block_padding-bottom_xlarge">
                <div class="section-color__wrapper block-wrapper">
                    <div class="title-medium title-medium_white">
                        Типовые сценарии<br> применения
                    </div>
                    <div class="scenario-item scenario-item_fitness scenario-item_number-white scenario-item--one">
                        <div class="scenario-item__wrapper">
                            <div class="scenario-item__main">
                                <div class="scenario-item__title">Оплата при въезде без учета <br> времени</div>
                                <div class="scenario-item__desc-wrapper">
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__subtitle">Описание процесса:</div>
                                        <div class="scenario-item__text">
                                            Водитель подъезжает к&nbsp;киоску самообслуживания с&nbsp;установленным шлагбаумом, оплачивает въезд картой или наличными, получает чек со&nbsp;штрихкодом и&nbsp;паркует автомобиль. При выезде достаточно поднести чек с&nbsp;сканеру терминала и&nbsp;покинуть
                                            территорию.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="scenario-item__side scenario-item__side_phone-large">
                                <div class="scenario-item__img">
                                    <img src="/images/parking/auto.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="block section-image section-image_gap-none section-image_bg-b section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['http://placehold.it/420x366', 'http://placehold.it/420x366', 'http://placehold.it/420x366'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xlarge block">
            <div class="block-wrapper">
                <div class="scenario-item scenario-item_parking scenario-item_number-green scenario-item_color-dark scenario-item--two">
                    <div class="scenario-item__wrapper">
                        <div class="scenario-item__main">
                            <div class="scenario-item__title">Оплата при выезде с учетом <br> времени</div>
                            <div class="scenario-item__desc-wrapper">
                                <div class="scenario-item__desc scenario-item__desc_gap-none">
                                    <div class="scenario-item__subtitle">Описание процесса:</div>
                                    <div class="scenario-item__text">
                                        <p>Водитель получает талон при въезде через въездную стойку, внешняя парковочная система ведет учет времени паркинга и&nbsp;передает информацию в&nbsp;систему киоска самообслуживания о&nbsp;стоимости парковки при выезде. Достаточно поднести штрихкод к&nbsp;сканеру
                                            и&nbsp;парковочный киоск отобразит на&nbsp;экране время въезда и&nbsp;выезда и&nbsp;сумму оплаты.</p>
                                        <p>
                                            Поддерживается возможность поиска автомобиля по&nbsp;номеру, в&nbsp;случае утери парковочного билета со&nbsp;штрихкодом. Если паркомат подключен к&nbsp;системе фотографирования, водитель может проверить фотографию своего автомобиля
                                            для исключения ошибки при оплате за&nbsp;свою парковку.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scenario-item__side scenario-item__side_auto">
                            <div class="scenario-item__img">
                                <img src="/images/parking/auto-white.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block_gap-out_medium -index-2">
            <div class="block section-image section-image_gap-none section-image_bg-lb section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['http://placehold.it/420x366', 'http://placehold.it/420x366', 'http://placehold.it/420x366'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item -index-1">
            <div class="section-color section-color_black_simple block block_padding-top_xlarge block_padding-bottom_xlarge">
                <div class="section-color__wrapper block-wrapper">
                    <div class="seporate seporate_full seporate_narrow"></div>
                    <div class="scenario-item scenario-item_parking scenario-item_number-green scenario-item--three">
                        <div class="scenario-item__wrapper">
                            <div class="scenario-item__main">
                                <div class="scenario-item__title">Система талонов и разовых пропусков</div>
                                <div class="scenario-item__desc-wrapper">
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__subtitle">Описание процесса:</div>
                                        <div class="scenario-item__text">
                                            Киоск позволяет сканировать разовые пропуска или скидочные талоны на&nbsp;базе QR-кодов, которые предоставляют скидку при выезде или делают временную парковку полностью бесплатной. Данный сценарий позволяет, например, организовать различный прайс на&nbsp;парковку
                                            для жителей и&nbsp;гостей жилого комплекса или бесплатно въезжать и&nbsp;выезжать коммунальным службам, такси, курьерам.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="scenario-item__side scenario-item__side_qr">
                                <div class="scenario-item__img">
                                    <img src="/images/parking/code.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="block section-image section-image_gap-none section-image_bg-b section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['http://placehold.it/420x366', 'http://placehold.it/420x366', 'http://placehold.it/420x366'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xlarge block">
            <div class="block-wrapper">
                <div class="scenario-item scenario-item_fitness scenario-item_number-green scenario-item_color-dark scenario-item--four">
                    <div class="scenario-item__wrapper">
                        <div class="scenario-item__main">
                            <div class="scenario-item__title">Построение комплексных систем</div>
                            <div class="scenario-item__desc-wrapper">
                                <div class="scenario-item__desc scenario-item__desc_gap-none">
                                    <div class="scenario-item__subtitle">Описание процесса:</div>
                                    <div class="scenario-item__text">
                                        <p>
                                            Гибкая тарификация&nbsp;&mdash; внедрение различных тарифных уровней (растущая/падающая почасовая цена) и&nbsp;зон (различная ценовая категория мест) для сокращения или исключения нецелевых посетителей, создание парковочной системы для посетителей разного
                                            времени суток&nbsp;&mdash; дневная/вечерняя/ночная парковка.
                                        </p>
                                        <p>
                                            Решение позволяет подключать любые сторонние системы идентификации и&nbsp;учета въезда автомобиля на&nbsp;территорию, настраивать алгоритмы подсчета тарифов, учета определенных особенностей при выставлении счета&nbsp;&mdash; габариты автомобиля, личные
                                            данные клиента, цифры/буквы в&nbsp;номере, частоту пользования парковкой и&nbsp;т.&nbsp;д.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scenario-item__side scenario-item__side_phone">
                            <div class="scenario-item__img">
                                <img src="/images/parking/steps.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="block section-image section-image_gap-none section-image_bg-lb section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['http://placehold.it/420x366', 'http://placehold.it/420x366', 'http://placehold.it/420x366'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item">
            <div class="block section-with-image section-with-image_light_green section-with-image_bg-none">
                <div class="block-wrapper section-with-image__wrapper section-with-image__wrapper_told">
                    <div class="section-with-image__content-wrapper">
                        <div class="section-with-image__main">
                            <div class="section-with-image__title">
                                Сотрудничество
                                <br>
                                с разработчиками
                                <br>
                                и интеграторами систем автоматической парковки
                            </div>
                            <div class="section-with-image__desc-wrapper">
                                <div class="section-with-image__desc">
                                    <p>
                                        Нам всегда интересно сотрудничество с&nbsp;компаниями, принимающими участие
                                        в&nbsp;развитии и&nbsp;внедрении решений в&nbsp;смежных областях. В&nbsp;случае Вашей заинтересованности нашими разработками&nbsp;ПО для паркоматов или готовым программно-аппаратным решением напишите нам!
                                    </p>
                                    <p>
                                        Конечный целевой продукт, включающий сотрудничество с&nbsp;применением наших технологий в&nbsp;сфере приема платежей и&nbsp;Ваших разработок в&nbsp;области специализированных систем для автоматизации парковок, может найти активный спрос у&nbsp;заказчиков.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item -index-1 block">
            <div class="section-color section-color_black_simple section-color_bg-right block-wrapper block_padding-top_xlarge block_padding-bottom_large">
                <div class="section-color__wrapper">
                    <div class="title-medium title-medium_white">
                        Сферы <br> применения
                    </div>
                    <div class="info-grid info-grid_3x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">

                                {% set list = [
                                    { img: '/images/parking/s1.svg', title: 'ТРЦ, бизнес-центры' },
                                    { img: '/images/parking/s2.svg', title: 'Жилые комплексы, гостиницы' },
                                    { img: '/images/parking/s3.svg', title: 'Аэропорты, ж/д вокзалы' },
                                    { img: '/images/parking/s4.svg', title: 'Спортивные объекты' },
                                    { img: '/images/parking/s5.svg', title: 'Культурно-досуговые комплексы' },
                                    { img: '/images/parking/s6.svg', title: 'Перехватывающие парковки' },
                                    { img: '/images/parking/s7.svg', title: 'Любые места большой проходимости' },
                                ] %}

                                {% for item in list %}
                                    <div class="info-grid__item">
                                        <div class="info-grid-card info-grid-card_min-height_none info-grid-card_dark_green">
                                            <div class="info-grid-card__wrapper">
                                                <div class="info-grid-card__img">
                                                    <img src="{{ item.img }}" alt="">
                                                </div>
                                                <div class="info-grid-card__title">{{ item.title }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        {% set list = [
            { title: 'Принимать купюры, монеты' },
            { title: 'Выдавать сдачу, переводить сдачу на телефон' },
            { title: 'Использовать пополняемый счет в киоске' },
            { title: 'Принимать банковские карты' },
            { title: 'Принимать и выдавать жетоны, RFID-карты' },
            { title: 'Оплачивать через мобильные сервисы' },
            { title: 'Применять электронные кошельки' }
        ] %}

        <div class="products-sections__item products-sections__item_gap-xlarge block -index-2">
            <div class="block-wrapper">
                <div class="title-medium">Системы оплаты</div>
                <div class="possibilitys-subtitle block-left block_gap_medium">
                    Возможности ПО и интеграция с различными периферийными <br> устройствами позволяют:
                </div>
                <div class="info-grid info-grid_3x">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_min-height_none info-grid-card_light_green">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count">{{ loop.index }}</div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="products-sections__item-side">
                    <div class="seporate seporate_full seporate_narrow"></div>
                    <div class="title-medium">Варианты интеграции</div>
                    <div class="possibilitys-subtitle block-left block_gap_medium">
                        Наше решение интегрируется с учетной системой заказчика посредством REST-API.
                    </div>
                </div>
                <div class="products-sections__item-main">
                    <div class="products-sections__item-img products-sections__item-img_rest-api">
                        <img src="images/parking/rest.png" alt="">
                    </div>
                </div>

            </div>
        </div>
        <div class="products-sections__item block">
            <div class="block-wrapper block-wrapper_bg-left block_padding-top_large block_padding-bottom_xlarge">
                <div class="section-image section-image_messenger">
                    <div class="section-image__wrapper">
                        <div class="section-image__main">
                            <div class="title-medium">
                                Система технического<br> мониторинга
                            </div>
                            <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                                Система включает модуль технического мониторинга и модуль оповещения
                                о нештатных ситуациях. Заказчик может отслеживать в реальном времени актуальный статус киоска, получать уведомления о технических проблемах в виде SMS/E-mail/Telegram уведомлений и оперативно реагировать на них
                            </div>
                        </div>
                        <div class="section-image__side">
                            <div class="section-image__img">
                                <img src="/images/fast-food/phone-mg.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper block_padding-top_large block_padding-bottom_large">
                <div class="title-medium">
                    Система обновлений
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Встроенная система обновлений позволяет оперативно вносить любые изменения
                    в ПО и загружать их на киоски по заданному расписанию.
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="section-color section-color_blue-dark section-color_bg-right block-wrapper block_padding-top_xlarge block_padding-bottom_large">
                <div class="section-color__wrapper">
                    <div class="title-medium title-medium_white">
                        Варианты<br> приобретения ПО
                    </div>
                    <div class="possibilitys-subtitle block-left block_gap_medium">
                        В зависимости от масштабов автоматизации, размеров заказчика и конечной цели применения решения, возможны:
                    </div>
                    <div class="info-grid info-grid_2x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_light_green bank-advantage_low bank-advantage--one">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">Покупка лицензии</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_light_green bank-advantage_low bank-advantage--two">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">Использование ПО в облачном формате по ежемесячной/годовой подписке</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { img: '/images/parking/d1.svg', title: 'Объединение управления шлагбаумом
и&nbsp;терминала оплаты в&nbsp;единую систему, готовое решение для небольших парковок' },
            { img: '/images/parking/d2.svg', title: 'Стилизацию платежного интерфейса
в&nbsp;фирменные цвета или применение white label концепции' },
            { img: '/images/parking/d3.svg', title: 'Интеграцию системы устройства
с&nbsp;учетной системой заказчика' },
            { img: '/images/parking/d4.svg', title: 'Разработку рекламных баннеров' },
            { img: '/images/parking/d5.svg', title: 'Настройку платежного сценария под определенные бизнес-требования' },
            { img: '/images/parking/d6.svg', title: 'Совмещение киоска самообслуживания
с&nbsp;вендинговым аппаратом&nbsp;&mdash; продажа снеков, кофе или выдача бонусом в&nbsp;счет сдачи за&nbsp;оплату парковки' },
            { img: '/images/parking/d7.svg', title: 'Адаптацию к&nbsp;новой валюте и&nbsp;языку, включая создание мультиязычных интерфейсов' }
        ] %}

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="title-medium">
                    Доработки решения
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Типовые доработки решения для заказчика включают:
                </div>
                <div class="info-grid info-grid_gap-medium info-grid_3x block_gap_small">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_orange">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__img">
                                                <img src="{{ item.img }}" alt="">
                                            </div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="attention accordion_orange-dark block_gap_xlarge">
                    <div class="attention__wrapper attention__wrapper_light_green attention__wrapper_info">
                        <div class="attention__text attention__text_center">По требованию заказчика возможны любые доработки программного обеспечения!</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item">
            <div class="block section-with-image section-with-image_purple">
                <div class="block-wrapper section-with-image__wrapper">
                    <div class="section-with-image__content-wrapper">
                        <div class="section-with-image__main">
                            <div class="section-with-image__title">
                                Разработка комплексных <br> систем автоматизации паркинга
                            </div>
                            <div class="section-with-image__desc-wrapper">
                                <div class="section-with-image__desc">
                                    <p>
                                        Наша компания с&nbsp;2008 года занимается созданием сложных высоконагруженных приложений и&nbsp;может предложить полную разработку информационной системы
                                        для паркинга, включая:
                                    </p>
                                    <p>
                                    <ul class="green-mark">
                                        <li>Разработку бэк-офиса</li>
                                        <li>Полнофункциональную систему учета</li>
                                        <li>Разработку мобильного приложения</li>
                                        <li>Организацию кастомной СКУД</li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item">
            <div class="block section-with-image section-with-image_bg-none section-with-image_purple">
                <div class="block-wrapper section-with-image__wrapper">
                    <div class="section-with-image__content-wrapper">
                        <div class="section-with-image__main">
                            <div class="seporate seporate_full seporate_narrow"></div>
                            <div class="section-with-image__title">
                                Поставка<br>программно-аппаратного решения под ключ
                            </div>
                            <div class="section-with-image__desc-wrapper">
                                <div class="section-with-image__desc">
                                    За длительный период деятельности на рынке платежного ПО мы установили прочные партнерские связи с проверенными производителями оборудования
                                    и готовы предложить комплексное решение в формате ПО + киоски самообслуживания для различных сфер бизнеса
                                </div>
                            </div>
                        </div>
                        <div class="section-with-image__side">
                            <div class="section-with-image__side-image section-with-image__side-image_postmat-retail"></div>
                        </div>
                    </div>
                    <div class="section-with-image__delimiter section-with-image__delimiter_mobile"></div>
                    <div class="section-with-image__link">
                        <a href="#" class="section-with-image__link-arrow">
                            Перейти на сайт партнера
                        </a>
                    </div>
                </div>
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="block additionally-resources">
                <div class="block-wrapper additionally-resources__wrapper">
                    <div class="additionally-resources__title">Дополнительные<br>ресурсы</div>
                    <div class="additionally-resources__list-wrapper">
                        <a href="#" class="resource-item resource-item_green">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_white-terminal"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Выбрать киоск</span>
                            </div>
                        </a>
                        <a href="#" class="resource-item resource-item_blue">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_clouds"></div>
                                    <div class="resource-item__image resource-item__image_cloud"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Облачный сервис</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                {% include 'modules/callback-tile.twig' with {
                    map: false,
                    title: 'Остались вопросы?',
                    desc: 'Оставьте заявку и наши специлисты свяжутся с вами в ближайшее время',
                    modifier: 'callback-tile__side_light_green'
                } %}
            </div>
        </div>

    </div>
{% endblock %}
