{% extends "common/base.twig" %}

{% block header %}
    {% set headerTop = "is-dark is-side-light is-tablet-dark" %}
    {% include 'common/header.twig' with { headerTop: headerTop } %}
{% endblock %}

{% block body %}
    <div class="products-sections -relative">
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="product-intro product-intro_pc">
                    <div class="product-intro__wrapper">
                        <div class="product-intro__main">
                            <div class="product-intro__tag">
                                Процессинговый центр
                            </div>
                            <h1 class="product-intro__title">
                                Pay-logic
                            </h1>
                            <div class="product-intro__desc">
                                <p>
                                    Процессинговый центр Pay-logic - мощная, современная, масштабируемая и быстро
                                    интегрируемая платежная платформа, обеспечивающая организацию приема платежей
                                    с использованием различных платежных инструментов для банков, сотовых операторов,
                                    платежных систем и других коммерческих организаций.
                                </p>
                            </div>
                        </div>
                        <div class="product-intro__side">
                            <div class="product-intro__billboard"
                                 style="background-image: url('images/pay-logic-pc/promo-main.png')"></div>
                            <div class="product-intro__logo">
                                <img src="images/pay-logic.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="possibilitys">
                    <div class="possibilitys-title possibilitys-title--gap-small title title-h1 ">
                        Применение
                    </div>
                    <div class="possibilitys-subtitle block-left">
                        Решение основывается на <a href="#" class="link link_blue-light">Платежном хабе Pay-logic</a>
                        и включает различные инструменты приема платежей:
                    </div>
                    <div class="list-icons list-icons_offset-bottom_medium">
                        <div class="list-icons__list">
                            {% set icons = [{
                                icon:'images/pay-logic-pc/pay-logic-pc-1.svg',
                                desc:'Терминалы самообслуживания'
                            },
                                {
                                    icon:'images/pay-logic-pc/pay-logic-pc-2.svg',
                                    desc:'Платежные киоски'
                                },{
                                    icon:'images/pay-logic-pc/pay-logic-pc-3.svg',
                                    desc:'Электронные кассиры'
                                },{
                                    icon:'images/pay-logic-pc/pay-logic-pc-4.svg',
                                    desc:'POS-терминалы на базе Android'
                                },{
                                    icon:'images/pay-logic-pc/pay-logic-pc-5.svg',
                                    desc:'Мобильные устройства'
                                },{
                                    icon:'images/pay-logic-pc/pay-logic-pc-6.svg',
                                    desc:'Персональные компьютеры (РМА)'
                                },{
                                    icon:'images/pay-logic-pc/pay-logic-pc-7.svg',
                                    desc:'Веб-приложения'
                                },{
                                    icon:'images/pay-logic-pc/pay-logic-pc-8.svg',
                                    desc:'XML-проткол'
                                }] %}
                            {% for icon in icons %}
                                <div class="list-icons__list-item">
                                    <div class="list-icons__item">
                                        <div class="list-icons__item-wrapper">
                                            <div class="list-icons__item-side">
                                                <div class="list-icons__item-icon">
                                                    <img src="{{ icon.icon }}" alt="">
                                                </div>
                                            </div>
                                            <div class="list-icons__item-main">
                                                <div class="list-icons__item-title">
                                                    {{ icon.desc }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set info_list = [
            {
                img: '/images/pay-logic-pc/b1.svg',
                title: 'Построение широкой сети приема<br> платежей на уровне региона или<br> страны'
            },
            {
                img: '/images/pay-logic-pc/b2.svg',
                title: 'Применение различных платежных<br> инструментов'
            },
            {
                img: '/images/pay-logic-pc/b3.svg',
                title: 'Подключение и объединение любого количества<br> различных поставщиков услуг'
            },
            {
                img: '/images/pay-logic-pc/b4.svg',
                title: 'Обеспечение онлайн-взаимодействия<br> участников системы'
            },
            {
                img: '/images/pay-logic-pc/b5.svg',
                title: 'Мультиязычность и мультивалютность -<br> адаптация к любым условиям'
            },
            {
                img: '/images/pay-logic-pc/b6.svg',
                title: 'Специализированное решение, применяемое<br> в 20 странах мира'
            },
        ] %}

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="info-box">
                    <div class="info-box__wrapper">
                        <div class="info-box__dots">
                            <div class="gray-dots"></div>
                        </div>
                        <div class="info-box__content">
                            <div class="info-list">
                                <div class="info-list__wrapper">
                                    <div class="info-list__list">
                                        {% for item in info_list %}
                                            <div class="info-list__item">
                                                <div class="info-card">
                                                    <div class="info-card__wrapper">
                                                        <div class="info-card__img">
                                                            <img src="{{ item.img }}" alt="">
                                                        </div>
                                                        <div class="info-card__title">{{ item.title | raw }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set info_count = [
            {
                count: '10 000 +',
                title: 'Точек в рамках одной системы'
            },
            {
                count: '10 000 +',
                title: 'Платежей — максимальный<br> ежедневный объем'
            },
            {
                count: '150 млн +',
                title: 'Записей — максимальный объем таблицы<br> эксплуатируемой системы'
            },
        ] %}

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="info-box info-box_bg-none">
                    <div class="info-box__wrapper">
                        <div class="info-box__content">
                            <div class="info-list">
                                <div class="info-list__wrapper">
                                    <div class="info-list__list">
                                        {% for item in info_count %}
                                            <div class="info-list__item">
                                                <div class="info-card">
                                                    <div class="info-card__wrapper">
                                                        <div class="info-card__count">{{ item.count | raw }}</div>
                                                        <div class="info-card__title">{{ item.title | raw }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        {% set grid_list = [
            { title: 'Многофункциональная инфраструктура для управления взаиморасчетами и денежными перечислениями между участниками системы' },
            { title: 'Интеграция с различными платежными решениями - наличные, карты, электронные деньги' },
            { title: 'Организация приема платежейв пользу большого количества поставщиков услуг (свыше 5000)' },
            { title: 'Построение разветвленной сети с возможностью объединения в одной платежной системе разнородных поставщиков услуг' },
            { title: 'Подключение любых поставщиков услуг, включая не имеющих собственного протокола' },
            { title: 'Взаимодействие с поставщиками по предоплатной и постоплатной схеме' },
            { title: 'Настройка лимитов и предоставления овердрафтов платежным агентам за счет средств процессинга' },
            { title: 'Динамическое управление бизнес-правилами проведения платежей и направлениями финансовых потоков на уровне процессинга' },
            { title: 'Настройка сценариев оплаты любой сложности' },
            { title: 'Настройка параметров информационного обмена с поставщиками - онлайн-протоколы, расписания отправки реестров' },
            { title: 'Чрезвычайно гибкая настройка правил начисления вознаграждения для участников системы' },
            { title: 'Технический и финансовый мониторинг через многофункциональный бэк-офис' },
        ] %}
        <div class="products-sections__item block block_gap-out_medium -index-2">
            <div class="block-wrapper">
                <div class="title-medium title-medium_gap_large">
                    Возможности
                </div>
                <div class="info-grid">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in grid_list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count">{{ loop.index }}</div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set advantages_list = [
            { number: 'one', title: 'Быстрое подключение поставщиков услуг благодаря универсальному инструменту интеграции' },
            { number: 'two', title: 'Высокая производительность и масштабируемость' },
            { number: 'three', title: 'Наличие встроенной системы мониторинга комплекса. Оперативное реагирование на возникающие нештатные ситуации' },
            { number: 'four', title: 'Настраиваемые отчеты и формы выгрузки статистических данных' },
            { number: 'five', title: 'ПО разработано с использованием только бесплатных компонентов. Отсутствие необходимости в приобретении дополнительного ПО при запуске решения' },
            { number: 'six', title: 'Поддержка работы в онлайн и офлайн режимах' },
            { number: 'seven', title: 'Удаленное управление всей сетью приема платежей через бэк-офис' },
            { number: 'eight', title: 'Высочайший уровень безопасности - SSL, двухфакторная аутентификация, система fraud мониторинга' },
            { number: 'nine', title: 'Отказоустойчивость' },
            { number: 'ten', title: 'Возможность доработки или переработки комплекса по требованию заказчика' },
        ] %}

        <div class="products-sections__item -index-1">
            <div class="section-color block block_padding-top_xxlarge block_padding-bottom_xxlarge">
                <div class="section-color__dots-right dots"></div>
                <div class="section-color__wrapper block-wrapper">
                    <div class="seporate seporate_full seporate_narrow"></div>
                    <div class="title-medium title-medium_white">
                        Преимущества
                    </div>
                    <div class="info-grid">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                {% for item in advantages_list %}
                                    <div class="info-grid__item">
                                        <div class="bank-advantage bank-advantage_white bank-advantage--{{ item.number }}">
                                            <div class="bank-advantage__wrapper">
                                                <div class="bank-advantage__body">
                                                    <div class="bank-advantage__desc">{{ item.title | raw }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set ul_list = [
            { title: 'Гибкие варианты структурирования и порядка сортировки' },
            { title: 'Региональная привязка' },
            { title: 'Установка мин./макс. суммы платежа по сервису' },
            { title: 'Настройка комиссии, округлений' },
            { title: 'Различные варианты оплаты и валюты приема' },
            { title: 'Отсрочка проведения платежа' },
            { title: 'Принудительная идентификация пользователя при оплате' },
            { title: 'Онлайн/офлайн проведение платежа' },
            { title: 'Предложение других сервисов после оплаты' }
        ] %}

        <div class="products-sections__item">
            <div class="block block_padding-top_large section-solution">
                <div class="section-solution__bg"></div>
                <div class="section-solution__number"></div>
                <div class="block-wrapper section-solution__wrapper">
                    <div class="section-solution__main">
                        <div class="section-solution__title">
                            <div class="title-medium title-medium_gap_large">
                                Особенности<br> решения
                            </div>
                        </div>
                        <div class="section-solution__subtitle title-small">
                            Возможности настройки сервисов
                        </div>
                        <div class="section-solution__content">
                            <ul class="support-item support-item_blue">
                                {% for item in ul_list %}
                                    <li>{{ item.title }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="section-solution__side">
                        <div class="section-solution__img">
                            <img src="/images/pay-logic-pc/pc-1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        {% set grid_list_scenarios = [
            { title: 'Возможность создания правил перехода на другие экраны, в том числе возврата на предыдущий экран' },
            { title: 'Интеграция с различными платежными решениями - наличные, карты, электронные деньги' },
            { title: 'Организация приема платежей в пользу большого количества поставщиков услуг (свыше 5000)' },
            { title: 'Возможность в рамках одного сервиса реализовывать оплату нескольких услуг/товарных позиций и выдавать на каждую оплату отдельный чек' },
            { mod: 'info-grid__item_3x', title: 'Возможность использования онлайн-запросов для получения каких-либо данных, выполняемых в режиме реального времени. В онлайн-запросе на сервер передаются заданные параметры, а от сервера - в случае успешного ответа могут возвращаться атрибуты. Возвращаемые атрибуты помещаются в контекст сценария и после выполнения онлайн-запроса доступны также, как и любые ранее определенные или созданные переменные' },
            { title: 'Возможность использования интерактивных диалогов' },
            { title: 'Локализация, поддержка мультиязычности' }
        ] %}

        <div class="products-sections__item block block_gap-out_large">
            <div class="block-wrapper">
                <div class="title-small">Возможности платежных сценариев</div>
                <div class="possibilitys-subtitle possibilitys-subtitle_wide block-left">
                    Владелец системы может самостоятельно заводить большое количество услуг
                    и конфигурировать платежные сценарии, при этом, созданный в системе сценарий одновременно доступен на всех точках приема платежей
                </div>
                <div class="info-grid">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in grid_list_scenarios %}
                                <div class="info-grid__item {% if item.mod %}{{ item.mod }}{% endif %}">
                                    <div class="info-grid-card">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count">{{ loop.index }}</div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block section-solution section-solution_2">
            <div class="block-wrapper section-solution__wrapper">
                <div class="section-solution__dots gray-dots"></div>
                <div class="section-solution__bg"></div>
                <div class="section-solution__number"></div>
                <div class="section-solution__line line line_blue"></div>
                <div class="section-solution__side">
                    <div class="section-solution__img">
                        <img src="/images/pay-logic-pc/pc-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="title-small">Возможности платежных сценариев</div>
                <div class="possibilitys-subtitle possibilitys-subtitle_columns block-left">
                    <div class="possibilitys-subtitle__list">
                        <div class="possibilitys-subtitle__item">
                            Бэк-офис содержит подробную информацию о техническом состоянии оборудования платежных терминалов,
                            наполненности купюроприемника, состоянии диспенсера, наличии чековой бумаги, качестве соединения,
                            необходимости скорой инкассации, также учитываются заблокированные точки и точки в простое.
                        </div>
                        <div class="possibilitys-subtitle__item">
                            Выводятся данные о событиях на терминалах, настраиваются типы оповещений и способы их доставки - SMS, E-mail, Telegram, ICQ, XMPP (Jabber).
                            Обеспечивается удаленное управление терминалами и удаленное обновление ПО.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block section-solution section-solution_3">
            <div class="block-wrapper section-solution__wrapper">
                <div class="section-solution__number"></div>
                <div class="section-solution__side">
                    <div class="section-solution__img">
                        <img src="/images/pay-logic-pc/pc-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            {
                number: 'one',
                title: 'Киоски самообслуживания'
            },
            {
                number: 'two',
                title: 'Платежные терминалы'
            },
            {
                number: 'three',
                title: 'Электронные кассиры'
            },
        ] %}

        <div class="products-sections__item">
            <div class="section-color block block_padding-top_xxlarge section-color_black section-color_padding-bottom_none">
                <div class="section-color__dots-right dots"></div>
                <div class="section-color__wrapper block-wrapper">
                    <div class="title-medium title-medium_white">
                        Платежные<br> решения
                    </div>
                    <div class="section-color__list">
                        <div class="info-grid info-grid_3x">
                            <div class="info-grid__wrapper">
                                <div class="info-grid__list">
                                    {% for item in list %}
                                        <div class="info-grid__item">
                                            <div class="bank-advantage bank-advantage_height-small bank-advantage_white bank-advantage--{{ item.number }}">
                                                <div class="bank-advantage__wrapper">
                                                    <div class="bank-advantage__body">
                                                        <div class="bank-advantage__desc">{{ item.title | raw }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-color__description">
                        <div class="possibilitys-subtitle possibilitys-subtitle_columns possibilitys-subtitle_white block-left">
                            <div class="possibilitys-subtitle__list">
                                <div class="possibilitys-subtitle__item">
                                    <p>
                                        Терминальное ПО, являющееся составной частью Процессингового центра Pay-logic, позволяет организовать эффективную работу,
                                        многофункциональной сети терминалов самообслуживания, позволяющей принимать платежи в пользу неограниченного количества
                                        поставщиков услуг с гибкой настройкой комиссии или автоматизировать оплату за собственные товары и услуги.
                                    </p>
                                </div>
                                <div class="possibilitys-subtitle__item">
                                    <p>
                                        Терминальное ПО компании Soft-logic поддерживает большое количество периферийных устройств - диспенсеров,
                                        купюроприемников, рециклеров, чековых принтеров и т. д., мы также осуществляем регулярную работу по расширению
                                        поддерживаемых устройств и всегда готовы к интеграции на заказ.
                                    </p>
                                    <p>
                                        Интерфейс и сценарии работы устройства полностью кастомизируются, поддерживается рекламный функционал -
                                        баннеры, видеоролики, реклама на втором мониторе, на чеках.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-color__img">
                        <img src="/images/pay-logic-pc/pc-4.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            {
                title: 'Взаимодействие с СУБД',
                description: 'JPA, Hibernate, JDBCTemplates, JDBC',
            },
            {
                title: 'Обмен данными',
                description: 'Json (JAX-RS), XML (JAX-WS)',
            },
            {
                title: 'Безопасность',
                description: 'SSL, ЭЦП(RSA, GOST)',
            },
            {
                title: 'App-серверы/Web-серверы',
                description: 'GlassFish, Wildfly (ранее JBoss), Tomcat',
            },
            {
                title: 'Базы данных',
                description: 'PostgreSQL, Oracle, MySQL',
            },
            {
                title: 'Балансировка нагрузки',
                description: 'Apache, Nginx',
            },
            {
                title: 'Операционные системы',
                description: 'Linux (RedHat, Oracle, CentOS, Ubuntu, Suse)',
            },
            {
                title: 'Наш собственный дистрибутив',
                description: 'Pay-logic Linux 28',
            }
        ] %}

        <div class="products-sections__item">
            <div class="section-stack block">
                <div class="section-stack__wrapper block_padding-top_large block_padding-bottom_large block-wrapper">
                    <div class="section-stack__content">
                        <div class="section-stack__title">
                            <div class="title-h3">Технологический стэк</div>
                        </div>
                        <div class="section-stack__list block-left">
                            <div class="stack-list">
                                <div class="stack-list__wrapper">
                                    <div class="stack-list__list">
                                        {% for item in list %}
                                            <div class="stack-list__item">
                                                <div class="stack-card">
                                                    <div class="stack-card__wrapper">
                                                        <div class="stack-card__title">{{ item.title }}</div>
                                                        <div class="stack-card__description">{{ item.description }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-stack__link block-left block_padding-top_large">
                            <a href="/services.html" class="link-arrow link-arrow_dark">Подробнее в разделе «Терминальные решения»</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        {% set list = [
            { 'title': 'Точка приема платежей типа РМА не зависит от качества Интернет-соединения - позволяет скачивать справочники, накапливать платежи и отправлять их на сервер в момент наличия соединения или в выбранный временной интервал' },
            { 'title': 'Интеграция с различными платежными решениями - наличные, карты, электронные деньги' },
        ] %}

        {% set list_2 = [
            {
                img: '/images/pay-logic-pc/w1.svg',
                title: 'Принимать и отслеживать платежи в любом месте удаленно через бэк-офис, обеспечивается онлайн и офлайн проведение платежей (в случае отсутствия Интернет-соединения)',
            },
            {
                img: '/images/pay-logic-pc/w2.svg',
                title: 'Загружать реестры платежей в формате csv',
            },
            {
                img: '/images/pay-logic-pc/w3.svg',
                title: 'Выгружать платежи в формате xml',
            },
        ] %}

        <div class="products-sections__item block products-sections__item_gap-large">
            <div class="block-wrapper">
                <div class="title-small">Рабочее место<br> агента</div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Программное решение Pay-logic РМА позволяет организацию стационарных точек приема платежей с использованием персонального компьютера
                    с необходимым периферийным оборудованием - чековым принтером, фискальным регистратором.
                </div>
                <div class="section-workplace">
                    <div class="section-workplace__wrapper">
                        <div class="section-workplace__title block-left">
                            <div class="title-h3 block_gap_medium">Технологический стэк</div>
                        </div>
                        <div class="section-workplace__info">
                            <div class="section-workplace__info-main">
                                <div class="section-workplace__list">
                                    <div class="info-grid info-grid_2x info-grid_gap-medium">
                                        <div class="info-grid__wrapper">
                                            <div class="info-grid__list">
                                                {% for item in list %}
                                                    <div class="info-grid__item">
                                                        <div class="info-grid-card">
                                                            <div class="info-grid-card__wrapper">
                                                                <div class="info-grid-card__count">{{ loop.index }}</div>
                                                                <div class="info-grid-card__title">{{ item.title }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-workplace__seporate section-workplace__seporate-side"></div>
                            </div>
                            <div class="section-workplace__info-side">
                                <div class="section-workplace__img">
                                    <img src="/images/pay-logic-pc/pc-5.png" alt="">
                                </div>
                                <div class="section-workplace__dots gray-dots"></div>
                            </div>
                        </div>
                        <div class="section-workplace__title block-left">
                            <div class="title-h3">Решение позволяет</div>
                        </div>
                        <div class="section-workplace__list block-left">
                            <div class="info-list">
                                <div class="info-list__wrapper">
                                    <div class="info-list__list">
                                        {% for item in list_2 %}
                                            <div class="info-list__item">
                                                <div class="info-card">
                                                    <div class="info-card__wrapper">
                                                        <div class="info-card__img info-card__img_xsmall-gap">
                                                            <img src="{{ item.img }}" alt="">
                                                        </div>
                                                        <div class="info-card__title">{{ item.title | raw }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-workplace__seporate"></div>
                        <div class="section-workplace__subtitle">
                            <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                                При необходимости решение может быть подключено к банковской системе и отлично подходит для организации рабочих мест кассиров для приема платежей в кассах банков и иных местах, где возможно установить персональный компьютер.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { title: 'Прием платежей по любым сценариям оплаты с использованием мобильного, универсального и усовершенствованного модулей ввода данных' },
            { title: 'Прием оффлайн и онлайн-платежей' },
            { title: 'Использование профиля меню, настраиваемого на сервере процессинга' },
            { title: 'Работа в режиме приема одиночных платежей или корзины платежей' },
            { title: 'Отмена платежей' },
            { title: 'Управление политикой доступа на уровне ролей пользователей с сервера процессинга' },
            { title: 'Авторизация кассиров по паролю или сертификату' },
            { title: 'Многопользовательская работа' },
            { title: 'Миграция кассиров между точками разных агентов' },
            { title: 'Работа с кассовыми сменами' },
            { title: 'Инкассация, в том числе в рамках кассовых смен' },
            { title: 'Идентификация плательщиков - проверка по базам' },
            { title: 'Формирование локальной отчетности: итоги смен, поиск платежей по сменам и периодам' },
            { title: 'Печать различных платежных документов: формы ПД4, штампы, оборотная сторона, чек-ордер, дополнительные документы на втором принтере' },
        ] %}

        <div class="products-sections__item block -index-2 block_gap-out_medium">
            <div class="block-wrapper">
                <div class="block-left block_gap_medium">
                    <div class="title-h3">Решение позволяет</div>
                </div>
                <div class="info-grid">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count">{{ loop.index }}</div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large  -index-1">
            <div class="stack-box block">
                <div class="stack-box__wrapper block-wrapper">
                    <div class="stack-box__main">
                        <div class="stack-box__seporate"></div>
                        <div class="stack-box__title">
                            <div class="title-h3">Технологический стэк</div>
                        </div>
                        <div class="stack-box__list block-left">Java SE, Swing, Jax-Ws, JavaPrinting</div>
                    </div>
                </div>
                <div class="stack-box__img">
                    <img src="/images/pay-logic-pc/javase.svg" alt="">
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xlarge block">
            <div class="block-wrapper">
                <div class="title-h3 block_gap_medium">Минимальные системные требования к приложению</div>
                <ul class="support-item support-item_blue">
                    {% for item in ['ОС Windows (XP, 7, 8, 10) или Linux', 'Процессор с частотой 2 ГГц+ и количеством ядер 2+', 'Объем оперативной памяти 1 Гб+', 'Интернет-соединение'] %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>


        <div class="products-sections__item products-sections__item_gap-large -index-1">
            <div class="section-color section-color_mobile-pay block block_padding-top_xlarge">
                <div class="section-color__wrapper block-wrapper">
                    <div class="section-color__circle circle circle_white"></div>

                    <div class="section-color__main">
                        <div class="title-medium title-medium_white">
                            Мобильная точка приема платежей
                        </div>
                        <div class="section-color__description block-left">
                            <div class="section-color__description-item">
                                Программное решение Pay-logic РМА позволяет организацию стационарных точек приема платежей
                                с использованием персонального компьютера
                                с необходимым периферийным оборудованием - чековым принтером, фискальным регистратором.
                            </div>
                            <div class="section-color__description-item">
                                Приложение позволяет организовать прием платежей с минимальными затратами в любой точке мира.
                                Требуется только мобильное устройство с установленным приложением, имеющее подключение к сети
                                Интернет. Опционально к устройству может быть подключен bluetooth-принтер для печати чеков
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-color__img">
                    <img src="/images/pay-logic-pc/phones.png" alt="">
                </div>
            </div>
        </div>

        {% set list = [
            { title: 'Создание платежей локально в приложении при отсутствии связи, последующая отправка данных о платежах на сервер при ее наличии' },
            { title: 'Возможность пополнения счетов нижестоящих агентов и предоставления им овердрафта' },
            { title: 'Мониторинг очереди платежей, статусов, повторная отправка' },
            { title: 'Возможность просмотра отчетов по сумме и количеству платежей за определенный период в разрезе сервисов, проведения инкассации и отправки данных о ней на сервер' },
        ] %}

        <div class="products-sections__item block block_gap-out_medium -index-2">
            <div class="block-wrapper">
                <div class="block-left block_gap_medium">
                    <div class="title-h3">
                        Функционал
                    </div>
                </div>
                <div class="info-grid">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count">{{ loop.index }}</div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large  -index-1">
            <div class="stack-box stack-box_android block">
                <div class="stack-box__wrapper block-wrapper">
                    <div class="stack-box__main">
                        <div class="stack-box__seporate"></div>
                        <div class="stack-box__title">
                            <div class="title-h3">Технологический стэк</div>
                        </div>
                        <div class="stack-box__list block-left">Android SDK</div>
                    </div>
                </div>
                <div class="stack-box__img">
                    <img src="/images/pay-logic-pc/androidsdk.svg" alt="">
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xlarge block">
            <div class="block-wrapper">
                <div class="title-h3 block_gap_medium">Минимальные системные требования к приложению</div>
                <ul class="support-item support-item_blue">
                    {% for item in ['Android 4.0+'] %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xxlarge block">
            <div class="block-wrapper">
                <div class="title-medium">
                    Мультиязычность<br>и мультивалютность
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    <p>
                        Наше решение поддерживает как интернационализацию (i18n) - адаптацию
                        на стадии разработки и внедрения, так и локализацию (l10n) - переработку для использования в определенном регионе.
                    </p>
                    <p>
                        Поддерживается мультивалютность и мультиязычность с возможностью переключения в бэк-офисе и на платежных фронтах
                    </p>
                </div>
            </div>
        </div>

        {% set bank_advantages = [
            {
                number:'one',
                desc:'Расширение сети пунктов приема платежей и перечня платежных инструментов',
            },
            {
                number:'two',
                desc:'Упрощение работы с финансовыми и информационными потоками',
            },
            {
                number:'three',
                desc:'Получение готового решения с отсутствием рисков, связанных с разработкой с нуля',
            },
            {
                number:'four',
                desc:'Минимальная стоимость владения',
            },
            {
                number:'five',
                desc:'Возможность поддержки 24/7',
            },
        ] %}
        <div class="products-sections__item products-sections__item_gap-xlarge">
            <div class="result result_pc" js-hider>
                <div class="block">
                    <div class="block-wrapper result__wrapper">
                        <div class="title-medium title-medium_white">Результат</div>
                        <div js-bank-advantage-slider class="bank-advantages-slider">
                            <div js-bank-advantage-slider-list class="bank-advantages-slide__list">
                                {% for advantage in bank_advantages %}
                                    <div class="bank-advantages-slide__list-item">
                                        <div class="bank-advantage bank-advantage--{{ advantage.number }}">
                                            <div class="bank-advantage__wrapper">
                                                <div class="bank-advantage__body">
                                                    <div class="bank-advantage__desc">
                                                        {{ advantage.desc }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block products-sections__item_gap-xlarge">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__header">
                        <div class="products-sections__header-wrapper">
                            <div class="products-sections__header-main">
                                <div class="products-sections__item-title">
                                    Кейсы внедрения
                                </div>
                            </div>
                            <div class="products-sections__header-side">
                                <a href="cases.html" class="link-arrow link-arrow_dark">Все кейсы</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-sections__item-main">
                    <div class="cases">
                        <div class="block-wrapper">
                            <div class="cases-content">
                                <div class="cases-content__wrapper">
                                    <div class="cases__content">
                                        <div class="cases__case-wrapper">
                                            <div class="case">
                                                <div class="case__wrapper">
                                                    <a href="#" class="case-item">
                                                        <div class="case-item__shadow" style="color: rgba(225, 8, 17, 1)"></div>
                                                        <div class="case-item__wrapper" style="background-color: rgba(225, 8, 17, 1)">
                                                            <div class="case-item__header">
                                                                <div class="case-item__image-background" style="background-image: url('images/cases/mts-bank-logo.svg')"></div>
                                                            </div>
                                                            <div class="case-item__description-wrapper">
                                                                <div class="case-item__description">Краткое тематическое описание предположительно в две строки</div>
                                                            </div>
                                                            <div class="case-item__tag-wrapper">
                                                                <div class="case-item__tag">SmartKeeper</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="case-item">
                                                        <div class="case-item__shadow" style="color: rgba(178, 9, 50, 1)"></div>
                                                        <div class="case-item__wrapper" style="background-color: rgba(178, 9, 50, 1)">
                                                            <div class="case-item__header">
                                                                <div class="case-item__image-background" style="background-image: url('images/cases/russian-standart.png')"></div>
                                                            </div>
                                                            <div class="case-item__description-wrapper">
                                                                <div class="case-item__description">Краткое тематическое описание предположительно в две строки</div>
                                                            </div>
                                                            <div class="case-item__tag-wrapper">
                                                                <div class="case-item__tag">Процессинговый центр Pay-logic</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="case-item">
                                                        <div class="case-item__shadow" style="color: rgba(0, 159, 254, 1)"></div>
                                                        <div class="case-item__wrapper" style="background-color: rgba(0, 159, 254, 1)">
                                                            <div class="case-item__header">
                                                                <div class="case-item__image-background" style="background-image: url('images/cases/kiev-star-logo.png')"></div>
                                                            </div>
                                                            <div class="case-item__description-wrapper">
                                                                <div class="case-item__description">Краткое тематическое описание предположительно в две строки</div>
                                                            </div>
                                                            <div class="case-item__tag-wrapper">
                                                                <div class="case-item__tag">Платежный хаб Pay-logic</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="case-item">
                                                        <div class="case-item__shadow" style="color: rgba(225, 8, 17, 1)"></div>
                                                        <div class="case-item__wrapper" style="background-color: rgba(225, 8, 17, 1)">
                                                            <div class="case-item__header">
                                                                <div class="case-item__image-background" style="background-image: url('images/cases/mts-bank-logo.svg')"></div>
                                                            </div>
                                                            <div class="case-item__description-wrapper">
                                                                <div class="case-item__description">Краткое тематическое описание предположительно в две строки</div>
                                                            </div>
                                                            <div class="case-item__tag-wrapper">
                                                                <div class="case-item__tag">SmartKeeper</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="case-item">
                                                        <div class="case-item__shadow" style="color: rgba(178, 9, 50, 1)"></div>
                                                        <div class="case-item__wrapper" style="background-color: rgba(178, 9, 50, 1)">
                                                            <div class="case-item__header">
                                                                <div class="case-item__image-background" style="background-image: url('images/cases/mts-bank-logo.svg')"></div>
                                                            </div>
                                                            <div class="case-item__description-wrapper">
                                                                <div class="case-item__description">Краткое тематическое описание предположительно в две строки</div>
                                                            </div>
                                                            <div class="case-item__tag-wrapper">
                                                                <div class="case-item__tag">Процессинговый центр Pay-logic</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="products-sections__item-wrapper">
                <div class="products-sections__item-main">
                    <div class="services services_row-top_none">
                        <div class="block">
                            <div class="block-wrapper" js-toggle-tabs>
                                <div class="title title-h2 title-h2--smart">Варианты поставки</div>
                                <div class="block">
                                    <div class="services-btns" js-toggle-tabs-btns>
                                        <div class="services-btns__item active" js-toggle-tab-btn data-tab="licence">
                                            Покупка лицензии
                                        </div>
                                        <div class="services-btns__item" js-toggle-tab-btn data-tab="cloud">
                                            Облачный сервис
                                        </div>
                                    </div>
                                </div>
                                <div class="services-items active" js-toggle-tab data-tab="licence">
                                    <div class="services-items__item">
                                        <div class="block">
                                            <div class="services-items__item-title">Лицензируемые единицы</div>
                                        </div>
                                        <div class="services-items__cells">
                                            <div class="services-items__cells-item">Ядро решения</div>
                                            <div class="services-items__cells-item">Пакеты клиентских лицензий</div>
                                            <div class="services-items__cells-item">Дополнительные модули</div>
                                            <div class="services-items__cells-item">Исходные коды</div>
                                        </div>
                                        <div class="services-items__info">
                                            <div class="services-items__info-item">
                                                <div class="info">Минимальная стоимость лицензии</div>
                                                <div class="price">$ 20 000</div>
                                            </div>
                                            <div class="services-items__info-item">
                                                <div class="info">Стоимость услуг в рамка облачного сервиса</div>
                                                <div class="price">от $ 1000 в месяц</div>
                                            </div>
                                            <div class="services-items__info-item">
                                                <div class="info">Стоимость дополнительного ПО</div>
                                                <div class="price">Бесплатно</div>
                                            </div>
                                            <div class="services-items__info-item">
                                                <div class="info">Базовая поддержка решения (%&nbsp;от&nbsp;стоимости лицензии в год)</div>
                                                <div class="price">15 %</div>
                                            </div>
                                        </div>
                                        <div class="block">
                                            <div class="services-items__resulttitle">
                                                Итоговые минимальные капитальные вложения
                                            </div>
                                            <div class="services-items__result">
                                                $ 20 000 <span>+ аренда облачного сервиса</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="services-items " js-toggle-tab data-tab="cloud">
                                    <div class="services-items__item">
                                        <div class="block">
                                            <div class="services-items__item-title">Лицензируемые единицы</div>
                                        </div>
                                        <div class="services-items__cells">
                                            <div class="services-items__cells-item">Ядро решения</div>
                                            <div class="services-items__cells-item">Пакеты клиентских лицензий</div>
                                            <div class="services-items__cells-item">Дополнительные модули</div>
                                            <div class="services-items__cells-item">Исходные коды</div>
                                        </div>
                                        <div class="services-items__info">
                                            <div class="services-items__info-item">
                                                <div class="info">Минимальная стоимость лицензии</div>
                                                <div class="price">$ 25 000</div>
                                            </div>
                                            <div class="services-items__info-item">
                                                <div class="info">Стоимость услуг в рамка облачного сервиса</div>
                                                <div class="price">от $ 1000 в месяц</div>
                                            </div>
                                            <div class="services-items__info-item">
                                                <div class="info">Стоимость дополнительного ПО</div>
                                                <div class="price">Бесплатно</div>
                                            </div>
                                            <div class="services-items__info-item">
                                                <div class="info">Базовая поддержка решения (%&nbsp;от&nbsp;стоимости лицензии в год)</div>
                                                <div class="price">15 %</div>
                                            </div>
                                        </div>
                                        <div class="block">
                                            <div class="services-items__resulttitle">
                                                Итоговые минимальные капитальные вложения
                                            </div>
                                            <div class="services-items__result">
                                                $ 40 000 <span>+ аренда облачного сервиса</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="support support_blue support_blue-dark">
                <div class="circle"></div>
                <div class="dots"></div>
                <div class="block">
                    <div class="block-wrapper">
                        <div class="support-container">
                            <div class="title title-h2 title-h2--smart">Поддержка комплекса</div>
                            <div class="support-wrap">
                                <div class="support-wrap__item">
                                    <div class="support-title">Базовая поддержка решения</div>
                                    <ul class="support-item">
                                        <li>Выполнение настроек системы</li>
                                        <li>Заведение новых услуг</li>
                                        <li>Анализ проблем с оплатами</li>
                                        <li>Консультации по системе</li>
                                    </ul>
                                </div>
                                <div class="support-wrap__item">
                                    <div class="support-title">Администрирование комлекса</div>
                                    <ul class="support-item">
                                        <li>Настройка системного ПО</li>
                                        <li>Обновление платежного ПО</li>
                                        <li>Обновление компонент ОС</li>
                                        <li>Мониторинг работоспособности</li>
                                        <li>Возможность работы 24/7</li>
                                    </ul>
                                </div>
                                <div class="support-wrap__item">
                                    <div class="support-title">Доработки комлекса</div>
                                    <ul class="support-item">
                                        <li>Внедрение нового функционала</li>
                                        <li>Подключение новых услуг</li>
                                        <li>Доработки мобильных платформ</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="products-sections__item-main">
                <div class="requirements">
                    <div class="block">
                        <div class="block-wrapper">
                            <div class="requirements-info">
                                <div class="requirements-info__item">
                                    Требуемый персонал для поддержки&nbsp;со&nbsp;стороны&nbsp;заказчика
                                </div>
                                <div class="requirements-info__item">
                                    Требуемый персонал для поддержки и&nbsp;<b>самостоятельного развития комплекса силами заказчика</b>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="requirements-levels">
                        <div class="gray-dots"></div>
                        <div class="block">
                            <div class="block-wrapper">
                                <div class="requirements-levels__wrap">
                                    <div class="requirements-level">
                                        <div class="requirements-level__title">Базовый уровень</div>
                                        <div class="requirements-level__descr">Только бизнес-аналитик. В данном случае всю работу над системой выполняет компания Soft-logic</div>
                                    </div>
                                    <div class="requirements-level">
                                        <div class="requirements-level__title">Продвинутый уровень</div>
                                        <div class="requirements-level__descr">Бизнес-аналитик, специалист по сопровождению комплекса</div>
                                    </div>
                                    <div class="requirements-level">
                                        <div class="requirements-level__title">Максимальный уровень</div>
                                        <div class="requirements-level__descr">Бизнес-аналитик, специалист по сопровождению комплекса, java-разработчик, разработчики мобильных приложений</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xxlarge block ">
            <div class="products-sections__item-wrapper block-wrapper">
                {% set process = [
                    {
                        number: 1,
                        text: 'Сбор сведений'
                    },
                    {
                        number: 2,
                        text: 'Оценка сроков<br/>и стоимости работ'
                    },
                    {
                        number: 3,
                        text: 'Удаленная установка компонентов решения через удаленные каналы (ssh)'
                    },
                    {
                        number: 4,
                        text: 'Проведение различных интеграций',
                        sub_text: 'запуск поставщиков, sms-провайдеров, интеграция с подсистемами банка/финансовой компанией'
                    },
                    {
                        number: 5,
                        text: 'Первичная настройка комплекса, заведение начального пула услуг'
                    },
                ] %}

                <div class="process process_blue process_row-bottom_none process_row-top_none">
                    <div class="process__wrapper">
                        <div class="process__title title title-h2 title-h2--smart">
                            Процедура запуска<br/>комплекса
                        </div>
                        <div process-slider class="process-wrap">
                            {% for item in process %}
                                <div class="process__item">
                                    <div class="process__item-number">{{ item.number }}</div>
                                    <div class="process__item-text">{{ item.text }}</div>
                                    {% if item.sub_text %}
                                        <div class="process__item-subtext">{{ item.sub_text }}</div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="prestart prestart_none-line">
                <div class="block">
                    <div class="block-wrapper">
                        <div class="title title-h2 title-h2--smart">
                            Пусконаладочные<br/> работы
                        </div>
                        <div class="support-wrap">
                            <div class="support-wrap__item">
                                <div class="support-title">Обязательные работы</div>
                                <ul class="support-item support-item_light-blue">
                                    <li>Настройка операционной системы</li>
                                    <li>Установка и настройка СУБД PostgreSQL</li>
                                    <li>Установка и настройка веб-сервера Apache</li>
                                    <li>Настройка файрвола</li>
                                    <li>Установка и настройка серверов приложений GlassFish</li>
                                    <li>Разворачивание компонентов комплекса SmartKeeper</li>
                                    <li>Первичная настройка решения</li>

                                </ul>
                            </div>
                            <div class="support-wrap__item">
                                <div class="support-title">Дополнительные работы</div>
                                <ul class="support-item support-item_light-blue">
                                    <li>Разработка и интеграция индивидуального дизайна
                                        — от 300 нормо-часов / от 2 месяцев за 1 платформу
                                    </li>
                                    <li>Подключение поставщика - от 20 нормо-часов / от 4 дней</li>
                                    <li>Интеграция с системами банка/финансовой организации
                                        — от 80 нормо-часов / от 3 недель
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                {% include 'modules/callback-tile.twig' with {
                    map: false,
                    title: 'Остались вопросы?',
                    desc: 'Оставьте заявку и наши специлисты свяжутся с вами в ближайшее время',
                    modifier: 'callback-tile__side_blue'
                } %}
            </div>
        </div>

    </div>
{% endblock %}