{% extends "common/base.twig" %}
{% block header %}
    {% set headerTop = "is-side-light is-tablet-dark" %}
    {% include 'common/header.twig' with {headerTop:headerTop} %}
{% endblock %}
{% block body_mod %}{% endblock %}
{% block body %}
    <div class="products-sections">
        <div class="products-sections__item products-sections__item_gap-xlarge block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="product-intro">
                    <div class="product-intro__wrapper">
                        <div class="product-intro__main">
                            <div class="product-intro__tag">
                                Платежный хаб
                            </div>
                            <h1 class="product-intro__title">
                                Pay-logic
                            </h1>
                            <div class="product-intro__desc">
                                <p>
                                    Платежный хаб - высокотехнологичный программный комплекс, выполняющий функции маршрутизатора платежей
                                    и предоставляющий возможность проводить платежи за счет различных источников средств и платежных инструментов
                                    с использованием платежных шлюзов.
                                </p>
                                <p>
                                    Программное обеспечение позволяет решить ключевую задачу для банка - снизить издержки и увеличить доходность
                                </p>
                            </div>
                        </div>
                        <div class="product-intro__side">
                            <div class="product-intro__billboard" style="background-image: url('images/pay-logic-hub/pay-logic.png')"></div>
                            <div class="product-intro__logo">
                                <img src="images/pay-logic.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item">
            {% set possibilitys = [
                {
                    number:'one',
                    title: 'Объединение всех платежных каналов',
                    text:'Систем ДБО, информационно-платежных терминалов, касс, банкоматов и платежных агентов в единую точку входа - унификация, упрощение и снижение затрат',
                    img: '/images/projects/pay-logic-hub/one.png',
                    dots:{
                    x: '87%',
                    y: '63%'
                }
                },{
                    number:'two',
                    title: 'Возможность выбора поставщиков услуг по определенным алгоритмам',
                    text:'Оптимизация доходов от проведения платежей',
                    img: '/images/projects/pay-logic-hub/two_card.png',
                    circle:{
                        x: '87%',
                        y: '63%'
                    }
                },{
                    number:'three',
                    title: 'Возможность оперативного переключения потоков платежей',
                    text:'Повышение качества услуги, снижение претензионной работы, повышение лояльности клиентов',
                    img: '/images/projects/pay-logic-hub/three.png',
                    dots:{
                        x: '42%',
                        y: '-11%'
                    }
                },{
                    number:'four',
                    mod:'possibilitys-item_width_small',
                    title: 'Возможность расширения <br> списка  платежей',
                    text:'Cтандартными средствами и без серьезных трудовых затрат увеличивается количество поставщиков услуг, в том числе
и в автоматическом режиме',
                    img: '/images/projects/pay-logic-hub/four.png',
                    dots:{
                        x: '-24%',
                        y: '-27%'
                    },
                    line:{
                        x: '36%',
                        y: '55%'
                    }
                }
            ] %}
            <div class="block">
                <div class="block-wrapper block-wrapper--possibilitys">
                    <div class="possibilitys ">
                        <div class="block-wrapper possibilitys-title title title-h1">
                            Возможности <br/>системы
                        </div>
                        <div class="possibilitys-list">
                            {% for item in possibilitys %}
                                <div class="possibilitys-item {{ item.mod }} possibilitys-item--{{ item.number }}">
                                    <div class="possibilitys-item__text possibilitys-item__text--{{ item.number }}">
                                        <div class="possibilitys-item__text-number possibilitys-item__text-number--{{ item.number }}"></div>
                                        <div class="possibilitys-item__text-layout">
                                            <div class="possibilitys-item__text-title">
                                                {{ item.title }}
                                            </div>
                                            <div class="possibilitys-item__text-description">
                                                {{ item.text }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="possibilitys-item__img possibilitys-item__img--{{ item.number }}">
                                        {% if item.number == 'four' %}
                                            <div class="four-map"></div>
                                        {% endif %}
                                        {% if item.img %}
                                            <img src="{{ item.img }}">
                                        {% endif %}
                                        {% if item.number == 'six' %}
                                            <div class="btn">Оплатить через SmartKeeper</div>
                                        {% endif %}
                                        {% if item.number == 'eight' %}
                                            <div class="step-eight">
                                                <div class="step-eight__logo">
                                                    <img src="/images/projects/smartkeeper/eight_logo.svg">
                                                </div>
                                                <div class="step-eight__arrow">
                                                    <img src="/images/projects/smartkeeper/eight_arrow.svg">
                                                </div>
                                                <div class="step-eight__bank">
                                                    <img src="/images/projects/smartkeeper/eight_bank.svg">
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_suppliers products-sections__item_boxed block">
            <div class="products-sections__additions-image products-sections__additions-image_1"></div>
            <div class="products-sections__additions-image products-sections__additions-image_2"></div>
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__item-title">
                        Банки <br>
                        и поставщики
                    </div>
                </div>
                <div class="products-sections__item-main">
                    <div class="product-suppliers">
                        <div class="product-suppliers__wrapper">
                            <div class="product-suppliers__top">
                                <div class="product-suppliers__brands">
                                    <div class="product-suppliers__brands-side">
                                        <div class="product-suppliers__brands-title">
                                            Банки
                                        </div>
                                    </div>
                                    <div class="product-suppliers__brands-main">
                                        <div class="product-suppliers__brands-list">
                                            {% set brands = [
                                                {
                                                    title:'Банк Русский Стандарт',
                                                    logo:'images/pay-logic-hub/suppliers-logo-1.png',
                                                    mod:'bottom'
                                                },{
                                                    title:'МТС Банк',
                                                    logo:'images/pay-logic-hub/suppliers-logo-2.png',
                                                    mod:'top'
                                                },{
                                                    title:'Expressbank',
                                                    logo:'images/pay-logic-hub/suppliers-logo-3.png',
                                                    mod:'top'
                                                },{
                                                    title:'СМП Банк',
                                                    logo:'images/pay-logic-hub/suppliers-logo-4.png',
                                                    mod:'bottom'
                                                },{
                                                    title:'Пинбанк',
                                                    logo:'images/pay-logic-hub/suppliers-logo-5.png',
                                                    mod:'bottom'
                                                },{
                                                    title:'Банк Кредит Днепр',
                                                    logo:'images/pay-logic-hub/suppliers-logo-6.png',
                                                    mod:'top'
                                                },{
                                                    title:'Finca Bank',
                                                    logo:'images/pay-logic-hub/suppliers-logo-7.png',
                                                    mod:'top'
                                                },{
                                                    title:'СтавропольПромстройБанк',
                                                    logo:'images/pay-logic-hub/suppliers-logo-8.png',
                                                    mod:'bottom'
                                                }
                                            ] %}
                                            {% for brand in brands %}
                                                <div class="product-suppliers__brands-item {{ 'product-suppliers__brands-item_' ~ brand.mod }}">
                                                    <div class="product-suppliers__brand">
                                                        <div class="product-suppliers__brand-logo">
                                                            <img src="{{ brand.logo }}" alt="">
                                                        </div>
                                                        <div class="product-suppliers__brand-caption">
                                                            {{ brand.title }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="product-suppliers__middle">
                                <div class="product-suppliers__caption">
                                    <div class="product-suppliers__arrow product-suppliers__arrow_1"></div>
                                    <div class="product-suppliers__arrow product-suppliers__arrow_2"></div>
                                    <div class="product-suppliers__arrow product-suppliers__arrow_3"></div>
                                    <div class="product-suppliers__arrow product-suppliers__arrow_4"></div>
                                    <div class="product-suppliers__arrow product-suppliers__arrow_5"></div>
                                    <div class="product-suppliers__arrow product-suppliers__arrow_6"></div>
                                    <div class="product-suppliers__arrow product-suppliers__arrow_7"></div>
                                    <div class="product-suppliers__arrow product-suppliers__arrow_8"></div>
                                    <img src="images/pay-logic-outline.svg" alt="">
                                </div>
                            </div>
                            <div class="product-suppliers__bottom">
                                <div class="product-suppliers__brands">
                                    <div class="product-suppliers__brands-side">
                                        <div class="product-suppliers__brands-title">
                                            Поставщики
                                        </div>
                                    </div>
                                    <div class="product-suppliers__brands-main">
                                        <div class="product-suppliers__brands-list">
                                            {% set brands = [
                                                {
                                                    title:'МТС',
                                                    logo:'images/pay-logic-hub/brand-1.png',
                                                    mod:'top'
                                                },{
                                                    title:'Билайн',
                                                    logo:'images/pay-logic-hub/brand-2.png',
                                                    mod:'bottom'
                                                },{
                                                    title:'Мегафон',
                                                    logo:'images/pay-logic-hub/brand-3.png',
                                                    mod:'bottom'
                                                },{
                                                    title:'Теле 2',
                                                    logo:'images/pay-logic-hub/brand-4.png',
                                                    mod:'top'
                                                },{
                                                    title:'МТТ',
                                                    logo:'images/pay-logic-hub/brand-5.png',
                                                    mod:'top'
                                                },{
                                                    title:'Сибирские сети',
                                                    logo:'images/pay-logic-hub/brand-6.png',
                                                    mod:'bottom'
                                                },{
                                                    title:'Ростелеком',
                                                    logo:'images/pay-logic-hub/brand-7.png',
                                                    mod:'bottom'
                                                },{
                                                    title:'Дом.ру',
                                                    logo:'images/pay-logic-hub/brand-8.png',
                                                    mod:'top'
                                                },{
                                                    title:'ТТК',
                                                    logo:'images/pay-logic-hub/brand-9.png',
                                                    mod:'top'
                                                },{
                                                    title:'Триколор ТВ',
                                                    logo:'images/pay-logic-hub/brand-10.png',
                                                    mod:'bottom'
                                                },{
                                                    title:'Яндекс Деньги',
                                                    logo:'images/pay-logic-hub/brand-11.png',
                                                    mod:'bottom'
                                                },{
                                                    title:'ЭР-Телеком',
                                                    logo:'images/pay-logic-hub/brand-12.png',
                                                    mod:'top'
                                                },{
                                                    title:'Газпром Межрегионгаз',
                                                    logo:'images/pay-logic-hub/brand-13.png',
                                                    mod:'top'
                                                },{
                                                    title:'Мосэнергосбыт',
                                                    logo:'images/pay-logic-hub/brand-14.png',
                                                    mod:'bottom'
                                                },{
                                                    title:'PayAnyWay',
                                                    logo:'images/pay-logic-hub/brand-15.png',
                                                    mod:'bottom'
                                                },{
                                                    title:'RBK Money',
                                                    logo:'images/pay-logic-hub/brand-16.png',
                                                    mod:'top'
                                                }
                                            ] %}
                                            {% for brand in brands %}
                                                <div class="product-suppliers__brands-item {{ 'product-suppliers__brands-item_' ~ brand.mod }}">
                                                    <div class="product-suppliers__brand">
                                                        <div class="product-suppliers__brand-logo">
                                                            <img src="{{ brand.logo }}" alt="">
                                                        </div>
                                                        <div class="product-suppliers__brand-caption">
                                                            {{ brand.title }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% set advantages_list = [
            { number: 'one', desc: 'В&nbsp;платежном Хабе прозрачно поддерживается механизм резервирования и&nbsp;списания средств
с&nbsp;клиентов при проведении платежа.
Для этого, в&nbsp;случае списания с&nbsp;карточных продуктов, Хаб интегрируется с&nbsp;карточным процессингом банка, а&nbsp;в&nbsp;случае списания со&nbsp;счетов, с&nbsp;АБС банка.' },
            { number: 'two', desc: 'Автоматическая загрузка списка услуг
с&nbsp;агрегаторов, включая автоматическое построение сценариев для каналов продаж' },
            { number: 'three', desc: 'Возможность прямой работы
с&nbsp;поставщиками услуг, в&nbsp;том числе
с&nbsp;сотовыми операторами, сервисами ЖКХ и&nbsp;т.&nbsp;д.' },
            { number: 'four', desc: 'Динамическая маршрутизация платежей
по&nbsp;различным критериям, включая, но&nbsp;не&nbsp;ограничиваясь доходностью, доступностью и&nbsp;наличием средств
на&nbsp;балансе у&nbsp;поставщика' },
            { number: 'five', desc: 'Автоматическое перепроведение ошибочных платежей, настройка количества попыток и&nbsp;общего времени проведения' },
            { number: 'six', desc: 'Настройка сверов с&nbsp;поставщиками любой сложности, как реестрами, так и&nbsp;в&nbsp;онлайн режиме' },
            { number: 'seven', desc: 'Мониторинг прохождения платежей
и&nbsp;онлайн проверок данных, оперативная реакция на&nbsp;снижение уровня сервиса, меньшие финансовые и&nbsp;репутационные потери' },
            { number: 'eight', desc: 'Платежный Хаб включает все необходимые отчеты для анализа финансовых взаимоотношений
с&nbsp;поставщиками услуг, учета денежных потоков и&nbsp;расчетов с&nbsp;контрагентами' },
            { number: 'nine', desc: 'Возможность самостоятельного создания платежных шлюзов через универсальные механизмы' },
            { number: 'ten', desc: 'Возможность работы с&nbsp;поставщиками как через веб-сервисы (rest, json, xml), так и&nbsp;через реестры (txt, csv ,dbf, xls)' },
        ] %}
        <div class="products-sections__item products-sections__item_gap-xlarge -index-1">
            <div class="section-color block block_padding-top_xxlarge block_padding-bottom_xxlarge section-color_light_blue">
                <div class="section-color__circle-main"></div>
                <div class="section-color__circle-side"></div>
                <div class="section-color__dots-right dots"></div>
                <div class="section-color__wrapper block-wrapper">
                    <div class="title-medium title-medium_white">
                        Работа с поставщиками <br> услуг
                    </div>
                    <div class="info-grid info-grid_3x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                {% for item in advantages_list %}
                                    <div class="info-grid__item">
                                        <div class="bank-advantage bank-advantage_white bank-advantage--{{ item.number }}">
                                            <div class="bank-advantage__wrapper">
                                                <div class="bank-advantage__body">
                                                    <div class="bank-advantage__desc bank-advantage__desc_max-width_none">{{ item.desc | raw }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-xlarge block">
            {% set possibilitys = [
                {
                    number:'one',
                    title: 'ПО для информационно платежных терминалов',
                    text:'Все возможные услуги и&nbsp;сценарии, настроенные
в&nbsp;Платежном Хабе, брендирование интерфейса, прием наличных и&nbsp;банковских карт, технический мониторинг устройств в&nbsp;бэк-офисе, выведение услуг банка на&nbsp;терминалы&nbsp;&mdash; выписки по&nbsp;картам, подключение к&nbsp;ДБО, заявки на&nbsp;кредиты, бонусные системы и&nbsp;т.&nbsp;д.',
                    img: '/images/pay-logic-hub/integration-1.png',
                },{
                    number:'two',
                    title: 'ПО для рабочего места кассира ',
                    text:'Полнофункциональное stand-alone приложение, позволяющее проводить платежи за все услуги, настроенные
в Платежном Хабе, поддержка и учет кассовых смен, печать отчетов по форме банка, интеграция с банковской АБС и CRM',
                    img: '/images/pay-logic-hub/integration-2.png',
                },{
                    number:'three',
                    title: 'Решение для банкоматов',
                    text:'Возможность применения технологии Web extension, страница выбора услуг, прохождения сценария
и совершения платежа выводится централизованно
с Платежного Хаба',
                    img: '/images/pay-logic-hub/integration-3.png',
                },{
                    number:'four',
                    mod:'',
                    title: 'Решение для Интернет-банка',
                    text:'Стилизованная платежная страница во фрейме в системе Интернет банка, позволяющая вывести все услуги и сценарии с платежного Хаба',
                    img: '/images/pay-logic-hub/integration-4.png',
                }
            ] %}

            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__item-title">
                        Работа с поставщиками <br> услуг
                    </div>
                    <div class="section-desc">
                        <div class="section-desc__wrapper">
                            Система платежного Хаба предоставляет функциональный API для интеграции в&nbsp;него различных каналов продаж банка (банкоматы, терминалы самообслуживания, кассы, системы ДБО и&nbsp;т.&nbsp;д.). Возможна реализация API самого банка для ускорения процесса внедрения.
                        </div>
                    </div>
                    <div class="section-delimiter"></div>
                    <div class="section-desc section-desc_padding-top_none section-desc_max-width_none section-desc_row_large section-desc_fonts-size_large">
                        <div class="section-desc__wrapper">
                            Мы можем предоставить собственное ПО для различных каналов банка:
                        </div>
                    </div>
                </div>
                <div class="products-sections__item-main">
                    <div class="possibilitys-list">
                        {% for item in possibilitys %}
                            <div class="possibilitys-item possibilitys-item--{{ item.number }}">
                                <div class="possibilitys-item__text possibilitys-item__text--{{ item.number }}">
                                    <div class="possibilitys-item__text-number possibilitys-item__text-number--{{ item.number }}"></div>
                                    <div class="possibilitys-item__text-layout">
                                        <div class="possibilitys-item__text-title">
                                            {{ item.title }}
                                        </div>
                                        <div class="possibilitys-item__text-description">
                                            {{ item.text }}
                                        </div>
                                    </div>
                                </div>
                                <div class="possibilitys-item__img possibilitys-item__img--{{ item.number }}">
                                    {% if item.number == 'four' %}
                                        <div class="four-map"></div>
                                    {% endif %}
                                    {% if item.img %}
                                        <img src="{{ item.img }}">
                                    {% endif %}
                                    {% if item.number == 'six' %}
                                        <div class="btn">Оплатить через SmartKeeper</div>
                                    {% endif %}
                                    {% if item.number == 'eight' %}
                                        <div class="step-eight">
                                            <div class="step-eight__logo">
                                                <img src="/images/projects/smartkeeper/eight_logo.svg">
                                            </div>
                                            <div class="step-eight__arrow">
                                                <img src="/images/projects/smartkeeper/eight_arrow.svg">
                                            </div>
                                            <div class="step-eight__bank">
                                                <img src="/images/projects/smartkeeper/eight_bank.svg">
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="section-delimiter section-delimiter_row-top_none"></div>
                    <div class="section-cols">
                        <div class="section-cols__list">
                            <div class="section-cols__list-item">
                                Система платежного Хаба предоставляет функциональный API для интеграции
                                в&nbsp;него различных каналов продаж банка (банкоматы, терминалы самообслуживания, кассы, системы ДБО и&nbsp;т.&nbsp;д.). Возможна реализация API самого банка для ускорения процесса внедрения.
                            </div>
                            <div class="section-cols__list-item">
                                API собственной разработки, а&nbsp;также по&nbsp;популярным протоколам агрегаторов (Cyberplat, Rapida, Qiwi) для упрощения процедуры подключения агентов.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-xlarge -index-1">
            <div class="section-color block block_padding-top_xxlarge block_padding-bottom_xxlarge section-color_black">
                <div class="section-color__wrapper block-wrapper">
                    <div class="title-medium title-medium_white">
                        Интеграция <br>
                        с системами банка
                    </div>

                    {% set advantages_list = [
                        { title:'Интеграция с&nbsp;карточным процессингом и&nbsp;АБС', desc: 'В&nbsp;платежном Хабе прозрачно поддерживается механизм резервирования и&nbsp;списания средств
с&nbsp;клиентов при проведении платежа.
Для этого, в&nbsp;случае списания с&nbsp;карточных продуктов, Хаб интегрируется с&nbsp;карточным процессингом банка, а&nbsp;в&nbsp;случае списания со&nbsp;счетов, с&nbsp;АБС банка.' },
                        { title:'Интеграция с&nbsp;АБС для бухгалтерского учета', desc: 'Функциональный и&nbsp;гибкий механизм
для конфигурирования бухгалтерской модели, операционных дней и&nbsp;генерации банковских проводок. Обеспечивается настройка правил формирования проводок, формата, типа данных
и&nbsp;периодичности загрузки в&nbsp;учетную систему банка, просмотр статуса, а&nbsp;также детальной информации по&nbsp;каждой проводке.' },
                        { title:'Интеграция с&nbsp;другими системами банка', desc: 'Платежный Хаб поддерживает различные интеграции с&nbsp;другими системами банка, такими как службы Fraud мониторинга, системы мониторинга банкоматов
и&nbsp;терминалов самообслуживания, системами лояльности, и&nbsp;т.п. Интеграция может проводиться как напрямую, так
и&nbsp;через интеграционную шину, в&nbsp;случае
ее&nbsp;использования в&nbsp;банке' }
                    ] %}

                    <div class="info-grid info-grid_3x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                {% for item in advantages_list %}
                                    <div class="info-grid__item">
                                        <div class="bank-advantage bank-advantage_white">
                                            <div class="bank-advantage__wrapper">
                                                <div class="bank-advantage__body">
                                                    <div class="bank-advantage__title bank-advantage__title_highlight">
                                                        {{ item.title | raw }}
                                                    </div>
                                                    <div class="bank-advantage__desc bank-advantage__desc_max-width_none">{{ item.desc | raw }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item">
            {% set possibilitys = [
                {
                    number:'one',
                    mod:'possibilitys-item_width_medium',
                    title: 'Взаимодействие с&nbsp;госуслугами',
                    text:'Автоматизация оплаты штрафов за&nbsp;нарушение ПДД, налогов, услуг ЖКХ, доступ к&nbsp;информационным государственным сервисам, сервисы упрощенной идентификации. В&nbsp;настоящий момент реализованы шлюзы к&nbsp;сервисам ГИС ГМП, ГИС ЖКХ, ФМС, ПФР, через СМЭВ.',
                    img: '/images/pay-logic-hub/hub-1.png',
                },{
                    number:'two',
                    mod:'possibilitys-item_width_medium',
                    title: 'Система подписок и&nbsp;автоплатежей',
                    text:'Платежный Хаб предоставляет встроенный механизм
для работы с&nbsp;начислениями и&nbsp;автоплатежами.

Поддерживается автоматическое получение по&nbsp;абонентам поставщиков услуг данных по&nbsp;задолженностям, штрафам, другим начислениям, а&nbsp;также управление услугами автоплатежей
по&nbsp;порогу баланса. Полноценное управление подписками клиентов через API во&nbsp;всех каналах банка, включая периодические платежи, позволяет реализовать сервис в&nbsp;рамках единой системы платежного Хаба',
                    img: '/images/pay-logic-hub/hub-2.png',
                },{
                    number:'three',
                    mod:'possibilitys-item_width_medium',
                    title: 'Система Fraud-мониторинга',
                    text:'Обнаружение и&nbsp;предотвращение мошеннических действий
в&nbsp;ручном или автоматическом режиме, задание гибких правил Fraud-контроля, анализа подозрительных платежей, проверки
по&nbsp;специальным базам лиц, причастных к&nbsp;финансированию терроризма, легализации преступных доходов и&nbsp;иных противозаконных действий, а&nbsp;также проверки по&nbsp;базам недействительных документов и&nbsp;другим базам для соответствия законодательству',
                    img: '/images/pay-logic-hub/hub-3.png',
                },{
                    number:'four',
                    mod:'possibilitys-item_width_medium',
                    title: 'Подсистема отчетности',
                    text:'Наличие оперативной и&nbsp;аналитической отчетности
в&nbsp;системе Платежного Хаба позволяет получать актуальную информацию по&nbsp;всем аспектам работы системы, как финансовым, так и&nbsp;техническим. А&nbsp;возможность добавления собственных отчетов любой сложности позволяет банку
не&nbsp;ограничиваться текущим функционалом и&nbsp;предоставляет неограниченные возможности по&nbsp;мониторингу работы системы',
                    img: '/images/pay-logic-hub/hub-4.png',
                },{
                    number:'five',
                    mod:'possibilitys-item_width_medium',
                    title: 'Подсистема работы с&nbsp;агентами',
                    text:'Полноценная работа с&nbsp;банковскими платежными агентами, реализованная в&nbsp;платежном Хабе, позволяет банку нарастить объем платежей через платежный Хаб, увеличить свое присутствие в&nbsp;регионах за&nbsp;счет точек приема платежей агентов, и&nbsp;тем самым получить дополнительную прибыль
от&nbsp;данного бизнес направления. Решение от&nbsp;нашей компании позволяет полностью автоматизировать все процессы, связанные с&nbsp;работой
с&nbsp;агентами, настраивать комиссии и&nbsp;вознаграждения, производить взаиморасчеты и&nbsp;обмениваться отчетностью, строить сложную иерархию как самих агентов и&nbsp;субагентов, так и&nbsp;выделять структурные подразделения в&nbsp;рамках самого банка, а&nbsp;именно филиалов, отделений
и&nbsp;других структур',
                    img: '/images/pay-logic-hub/hub-5.png',
                },{
                    number:'six',
                    mod:'possibilitys-item_width_medium',
                    title: 'Модуль претензионной работы',
                    text:'Платежный Хаб включает в&nbsp;себя полноценное рабочее место для сотрудников колл-центра и&nbsp;службы поддержки клиентов, позволяет оперативно находить клиентские платежи, отслеживать жизненный цикл их&nbsp;проведения и&nbsp;производить различные манипуляции. Модуль включае в&nbsp;себя средства для автоматической отмены платежей у&nbsp;поставщиков услуг, средства контроля действия над платежами, со&nbsp;стороны контролирующих сотрудников (риск-менеджеры, и&nbsp;т.д.)',
                    img: '/images/pay-logic-hub/hub-6.png',
                }
            ] %}
            <div class="block">
                <div class="block-wrapper block-wrapper--possibilitys">
                    <div class="possibilitys ">
                        <div class="block-wrapper possibilitys-title title title-h1">
                            Модули <br>
                            платежного Хаба
                        </div>
                        <div class="possibilitys-list">
                            {% for item in possibilitys %}
                                <div class="possibilitys-item {{ item.mod }} possibilitys-item--{{ item.number }}">
                                    <div class="possibilitys-item__text possibilitys-item__text--{{ item.number }}">
                                        <div class="possibilitys-item__text-number possibilitys-item__text-number--{{ item.number }}"></div>
                                        <div class="possibilitys-item__text-layout">
                                            <div class="possibilitys-item__text-title">
                                                {{ item.title }}
                                            </div>
                                            <div class="possibilitys-item__text-description">
                                                {{ item.text }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="possibilitys-item__img possibilitys-item__img--{{ item.number }}">
                                        {% if item.number == 'four' %}
                                            <div class="four-map"></div>
                                        {% endif %}
                                        {% if item.img %}
                                            <img src="{{ item.img }}">
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item">
            <div class="section-map block">
                <div class="section-map__circle"></div>
                <div class="section-map__grid"></div>
                <div class="section-map__wrapper block-wrapper">
                    <div class="section-map__img">
                        <img src="images/pay-logic-hub/map.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_border-bottom products-sections__item_vertical-padding products-sections__item_bg-half block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__item-title">
                        Почему мы
                    </div>
                </div>
                <div class="products-sections__item-main">
                    <div class="info-grid info-grid_3x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                {% set grid_list_scenarios = [
                                    { icon: 'images/pay-logic-hub/icon-1.svg',
                                        title: 'Внедрение в&nbsp;крупнейшие финансовые структуры России и&nbsp;СНГ',
                                        desc: 'Крупнейшие банки и&nbsp;сотовые операторы выбрали Платежный Хаб Pay-logic для решения своих бизнес-задач'
                                    },
                                    { icon: 'images/pay-logic-hub/icon-2.svg',
                                        title: 'Интеллектуальная маршрутизация платежей',
                                        desc: 'Автоматический выбор агрегатора или поставщика для проведения платежейв&nbsp;зависимости от&nbsp;вознаграждения, доступности сервиса, объема совершенных транзакций и&nbsp;т.&nbsp;д.'
                                    },
                                    { icon: 'images/pay-logic-hub/icon-3.svg',
                                        title: 'Высокая производительность решения',
                                        desc: 'Поддерживается горизонтальное и&nbsp;вертикальное масштабирование всех серверных компонентов системы без дополнительных лицензионных платежей'
                                    },
                                    { icon: 'images/pay-logic-hub/icon-4.svg',
                                        title: 'Отказоустойчивость',
                                        desc: 'Для обеспечения отказоустойчивой работы системы применяются современные подходы
к&nbsp;дублированию компонентов, зеркалированию СУБД и&nbsp;построение полноценного отказоустойчивого кластера'},
                                    { icon: 'images/pay-logic-hub/icon-5.svg',
                                        title: 'Безопасность',
                                        desc: 'Наша компания непрерывно занимается вопросами в&nbsp;области безопасности и&nbsp;платежный Хаб отвечает всем требованиям к&nbsp;уровню защиты, предъявляемому к&nbsp;системам подобного класса'
                                    },
                                    { icon: 'images/pay-logic-hub/icon-6.svg',
                                        title: 'Кастомизация',
                                        desc: 'Комплекс предлагает стандартные расширяемые API, встроенные SDK и&nbsp;универсальные средства интеграции, которые позволяют банку самостоятельно реализовывать новые платежные шлюзы, добавлять поставщиков услуг и&nbsp;выводить их&nbsp;в&nbsp;каналы продаж'
                                    },
                                    { icon: 'images/pay-logic-hub/icon-7.svg', mod: 'info-grid__item_2x', title: 'Поддержка', desc: 'Мы&nbsp;оказываем полную техническую поддержку в&nbsp;процессе внедрения и&nbsp;дальнейшего использования решения. Техническая поддержка может предоставляться в&nbsp;различных вариантах, в&nbsp;зависимости от&nbsp;желаемого уровня SLA.
Хаб представляет из&nbsp;себя коробочный продукт, обновления которого предоставляются в&nbsp;рамках технической поддержки без дополнительной платы' }
                                ] %}
                                {% for item in grid_list_scenarios %}
                                    <div class="info-grid__item {% if item.mod %}{{ item.mod }}{% endif %}">
                                        <div class="info-grid-card">
                                            <div class="info-grid-card__wrapper">
                                                <div class="info-grid-card__icon">
                                                    <img src="{{ item.icon }}" alt="">
                                                </div>
                                                <div class="info-grid-card__title info-grid-card__title_highlight">{{ item.title }}</div>
                                                <div class="info-grid-card__desc">{{ item.desc }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_border-bottom products-sections__item_vertical-padding  products-sections__item_gap-large block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__item-title">
                        Факты
                    </div>
                    <div class="section-desc">
                        <div class="section-desc__wrapper">
                            Один проект включает
                        </div>
                    </div>
                </div>
                <div class="products-sections__item-main">
                    <div class="list-metric list-metric_4x">
                        {% set metrics = [
                            {icon:'images/pay-logic-hub/fact-1.svg',title:'10 000 +',desc:'Точек приема платежей'},
                            {icon:'images/pay-logic-hub/fact-2.svg',title:'100 000 +',desc:'Платежей в час'},
                            {icon:'images/pay-logic-hub/fact-3.svg',title:'0.9 секунд',desc:'Среднее время проведения платежа'},
                            {icon:'images/pay-logic-hub/fact-4.svg',title:'1.3 млрд',desc:'Общее количество проведенных платежей на на конец 2018 года'}
                        ] %}
                        <div class="list-metric__list">
                            {% for item in metrics %}
                                <div class="list-metric__list-item">
                                    <div class="list-metric__item list-metric__item_align_center">
                                        <div class="list-metric__item-side">
                                            <div class="list-metric__item-icon">
                                                <img src="{{ item.icon }}" alt="">
                                            </div>
                                            <div class="list-metric__item-title list-metric__item-title_small">
                                                {{ item.title }}
                                            </div>
                                        </div>
                                        <div class="list-metric__item-main">
                                            <div class="list-metric__item-desc list-metric__item-desc_dark">
                                                {{ item.desc }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item">
            <div class="products-sections__item-wrapper">
                <div class="products-sections__item-main">
                    <div class="services services_row-top_none">
                        <div class="block">
                            <div class="block-wrapper" js-toggle-tabs>
                                <div class="title title-h2 title-h2--smart">Варианты поставки</div>
                                <div class="block">
                                    <div class="services-btns" js-toggle-tabs-btns>
                                        <div class="services-btns__item active" js-toggle-tab-btn data-tab="licence">
                                            Покупка лицензии
                                        </div>
                                        <div class="services-btns__item" js-toggle-tab-btn data-tab="cloud">
                                            Облачный сервис
                                        </div>
                                    </div>
                                </div>
                                <div class="services-items active" js-toggle-tab data-tab="licence">
                                    <div class="services-items__item">
                                        <div class="block">
                                            <div class="services-items__item-title">Лицензируемые единицы</div>
                                        </div>
                                        <div class="services-items__cells">
                                            <div class="services-items__cells-item">Ядро решения</div>
                                            <div class="services-items__cells-item">Пакеты клиентских лицензий</div>
                                            <div class="services-items__cells-item">Дополнительные модули</div>
                                            <div class="services-items__cells-item">Исходные коды</div>
                                        </div>
                                        <div class="services-items__info">
                                            <div class="services-items__info-item">
                                                <div class="info">Минимальная стоимость лицензии</div>
                                                <div class="price">$ 20 000</div>
                                            </div>
                                            <div class="services-items__info-item">
                                                <div class="info">Стоимость услуг в рамка облачного сервиса</div>
                                                <div class="price">от $ 1000 в месяц</div>
                                            </div>
                                            <div class="services-items__info-item">
                                                <div class="info">Стоимость дополнительного ПО</div>
                                                <div class="price">Бесплатно</div>
                                            </div>
                                            <div class="services-items__info-item">
                                                <div class="info">Базовая поддержка решения (%&nbsp;от&nbsp;стоимости лицензии в год)</div>
                                                <div class="price">15 %</div>
                                            </div>
                                        </div>
                                        <div class="block">
                                            <div class="services-items__resulttitle">
                                                Итоговые минимальные капитальные вложения
                                            </div>
                                            <div class="services-items__result">
                                                $ 20 000 <span>+ аренда облачного сервиса</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="services-items " js-toggle-tab data-tab="cloud">
                                    <div class="services-items__item">
                                        <div class="block">
                                            <div class="services-items__item-title">Лицензируемые единицы</div>
                                        </div>
                                        <div class="services-items__cells">
                                            <div class="services-items__cells-item">Ядро решения</div>
                                            <div class="services-items__cells-item">Пакеты клиентских лицензий</div>
                                            <div class="services-items__cells-item">Дополнительные модули</div>
                                            <div class="services-items__cells-item">Исходные коды</div>
                                        </div>
                                        <div class="services-items__info">
                                            <div class="services-items__info-item">
                                                <div class="info">Минимальная стоимость лицензии</div>
                                                <div class="price">$ 25 000</div>
                                            </div>
                                            <div class="services-items__info-item">
                                                <div class="info">Стоимость услуг в рамка облачного сервиса</div>
                                                <div class="price">от $ 1000 в месяц</div>
                                            </div>
                                            <div class="services-items__info-item">
                                                <div class="info">Стоимость дополнительного ПО</div>
                                                <div class="price">Бесплатно</div>
                                            </div>
                                            <div class="services-items__info-item">
                                                <div class="info">Базовая поддержка решения (%&nbsp;от&nbsp;стоимости лицензии в год)</div>
                                                <div class="price">15 %</div>
                                            </div>
                                        </div>
                                        <div class="block">
                                            <div class="services-items__resulttitle">
                                                Итоговые минимальные капитальные вложения
                                            </div>
                                            <div class="services-items__result">
                                                $ 20 000 <span>+ аренда облачного сервиса</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item">
            <div class="support support_blue">
                <div class="circle"></div>
                <div class="dots"></div>
                <div class="block">
                    <div class="block-wrapper">
                        <div class="support-container">
                            <div class="title title-h2 title-h2--smart">Поддержка комплекса</div>
                            <div class="support-wrap">
                                <div class="support-wrap__item">
                                    <div class="support-title">Базовая поддержка решения</div>
                                    <ul class="support-item">
                                        <li>Выполнение настроек системы</li>
                                        <li>Заведение новых услуг</li>
                                        <li>Анализ проблем с оплатами</li>
                                        <li>Консультации по системе</li>
                                    </ul>
                                </div>
                                <div class="support-wrap__item">
                                    <div class="support-title">Администрирование комлекса</div>
                                    <ul class="support-item">
                                        <li>Настройка системного ПО</li>
                                        <li>Обновление платежного ПО</li>
                                        <li>Обновление компонент ОС</li>
                                        <li>Мониторинг работоспособности</li>
                                        <li>Возможность работы 24/7</li>
                                    </ul>
                                </div>
                                <div class="support-wrap__item">
                                    <div class="support-title">Доработки комлекса</div>
                                    <ul class="support-item">
                                        <li>Внедрение нового функционала</li>
                                        <li>Подключение новых услуг</li>
                                        <li>Доработки мобильных платформ</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item">
            <div class="products-sections__item-main">
                <div class="requirements">
                    <div class="block">
                        <div class="block-wrapper">
                            <div class="requirements-info">
                                <div class="requirements-info__item">
                                    Требуемый персонал для поддержки&nbsp;со&nbsp;стороны&nbsp;заказчика
                                </div>
                                <div class="requirements-info__item">
                                    Требуемый персонал для поддержки и&nbsp;<b>самостоятельного развития комплекса силами заказчика</b>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="requirements-levels">
                        <div class="gray-dots"></div>
                        <div class="block">
                            <div class="block-wrapper">
                                <div class="requirements-levels__wrap">
                                    <div class="requirements-level">
                                        <div class="requirements-level__title">Базовый уровень</div>
                                        <div class="requirements-level__descr">Только бизнес-аналитик. В данном случае всю работу над системой выполняет компания Soft-logic</div>
                                    </div>
                                    <div class="requirements-level">
                                        <div class="requirements-level__title">Продвинутый уровень</div>
                                        <div class="requirements-level__descr">Бизнес-аналитик, специалист по сопровождению комплекса</div>
                                    </div>
                                    <div class="requirements-level">
                                        <div class="requirements-level__title">Максимальный уровень</div>
                                        <div class="requirements-level__descr">Бизнес-аналитик, специалист по сопровождению комплекса, java-разработчик, разработчики мобильных приложений</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__header">
                        <div class="products-sections__header-wrapper">
                            <div class="products-sections__header-main">
                                <div class="products-sections__item-title">
                                    Кейсы внедрения
                                </div>
                            </div>
                            <div class="products-sections__header-side">
                                <a href="cases.html" class="link-arrow link-arrow_dark">Все кейсы</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-sections__item-main">
                    <div class="cases">
                        <div class="block-wrapper">
                            <div class="cases-content">
                                <div class="cases-content__wrapper">
                                    <div class="cases__content">
                                        <div class="cases__case-wrapper">
                                            <div class="case">
                                                <div class="case__wrapper">
                                                    <a href="#" class="case-item">
                                                        <div class="case-item__shadow" style="color: rgba(225, 8, 17, 1)"></div>
                                                        <div class="case-item__wrapper" style="background-color: rgba(225, 8, 17, 1)">
                                                            <div class="case-item__header">
                                                                <div class="case-item__image-background" style="background-image: url('images/cases/mts-bank-logo.svg')"></div>
                                                            </div>
                                                            <div class="case-item__description-wrapper">
                                                                <div class="case-item__description">Краткое тематическое описание предположительно в две строки</div>
                                                            </div>
                                                            <div class="case-item__tag-wrapper">
                                                                <div class="case-item__tag">SmartKeeper</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="case-item">
                                                        <div class="case-item__shadow" style="color: rgba(178, 9, 50, 1)"></div>
                                                        <div class="case-item__wrapper" style="background-color: rgba(178, 9, 50, 1)">
                                                            <div class="case-item__header">
                                                                <div class="case-item__image-background" style="background-image: url('images/cases/russian-standart.png')"></div>
                                                            </div>
                                                            <div class="case-item__description-wrapper">
                                                                <div class="case-item__description">Краткое тематическое описание предположительно в две строки</div>
                                                            </div>
                                                            <div class="case-item__tag-wrapper">
                                                                <div class="case-item__tag">Процессинговый центр Pay-logic</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="case-item">
                                                        <div class="case-item__shadow" style="color: rgba(0, 159, 254, 1)"></div>
                                                        <div class="case-item__wrapper" style="background-color: rgba(0, 159, 254, 1)">
                                                            <div class="case-item__header">
                                                                <div class="case-item__image-background" style="background-image: url('images/cases/kiev-star-logo.png')"></div>
                                                            </div>
                                                            <div class="case-item__description-wrapper">
                                                                <div class="case-item__description">Краткое тематическое описание предположительно в две строки</div>
                                                            </div>
                                                            <div class="case-item__tag-wrapper">
                                                                <div class="case-item__tag">Платежный хаб Pay-logic</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="case-item">
                                                        <div class="case-item__shadow" style="color: rgba(225, 8, 17, 1)"></div>
                                                        <div class="case-item__wrapper" style="background-color: rgba(225, 8, 17, 1)">
                                                            <div class="case-item__header">
                                                                <div class="case-item__image-background" style="background-image: url('images/cases/mts-bank-logo.svg')"></div>
                                                            </div>
                                                            <div class="case-item__description-wrapper">
                                                                <div class="case-item__description">Краткое тематическое описание предположительно в две строки</div>
                                                            </div>
                                                            <div class="case-item__tag-wrapper">
                                                                <div class="case-item__tag">SmartKeeper</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="case-item">
                                                        <div class="case-item__shadow" style="color: rgba(178, 9, 50, 1)"></div>
                                                        <div class="case-item__wrapper" style="background-color: rgba(178, 9, 50, 1)">
                                                            <div class="case-item__header">
                                                                <div class="case-item__image-background" style="background-image: url('images/cases/mts-bank-logo.svg')"></div>
                                                            </div>
                                                            <div class="case-item__description-wrapper">
                                                                <div class="case-item__description">Краткое тематическое описание предположительно в две строки</div>
                                                            </div>
                                                            <div class="case-item__tag-wrapper">
                                                                <div class="case-item__tag">Процессинговый центр Pay-logic</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="products-sections__item-wrapper block-wrapper">
                {% set process = [
                    {
                        number: 1,
                        text: 'Сбор сведений'
                    },
                    {
                        number: 2,
                        text: 'Оценка сроков<br/>и стоимости работ'
                    },
                    {
                        number: 3,
                        text: 'Удаленная установка компонентов решения через удаленные каналы (ssh)'
                    },
                    {
                        number: 4,
                        text: 'Проведение различных интеграций',
                        sub_text: 'запуск поставщиков, sms-провайдеров, интеграция с подсистемами банка/финансовой компанией'
                    },
                    {
                        number: 5,
                        text: 'Первичная настройка комплекса, заведение начального пула услуг'
                    },
                ] %}

                <div class="process process_light_blue process_row-bottom_none process_row-top_none">
                    <div class="process__wrapper">
                        <div class="process__title title title-h2 title-h2--smart">
                            Процедура запуска<br/>комплекса
                        </div>
                        <div process-slider class="process-wrap">
                            {% for item in process %}
                                <div class="process__item">
                                    <div class="process__item-number">{{ item.number }}</div>
                                    <div class="process__item-text">{{ item.text }}</div>
                                    {% if item.sub_text %}
                                        <div class="process__item-subtext">{{ item.sub_text }}</div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item">
            <div class="prestart">
                <div class="block">
                    <div class="block-wrapper">
                        <div class="title title-h2 title-h2--smart">
                            Пусконаладочные<br/> работы
                        </div>
                        <div class="support-wrap">
                            <div class="support-wrap__item">
                                <div class="support-title">Обязательные работы</div>
                                <ul class="support-item support-item_light-blue">
                                    <li>Настройка операционной системы</li>
                                    <li>Установка и настройка СУБД PostgreSQL</li>
                                    <li>Установка и настройка веб-сервера Apache</li>
                                    <li>Настройка файрвола</li>
                                    <li>Установка и настройка серверов приложений GlassFish</li>
                                    <li>Разворачивание компонентов комплекса SmartKeeper</li>
                                    <li>Первичная настройка решения</li>

                                </ul>
                            </div>
                            <div class="support-wrap__item">
                                <div class="support-title">Дополнительные работы</div>
                                <ul class="support-item support-item_light-blue">
                                    <li>Разработка и интеграция индивидуального дизайна
                                        — от 300 нормо-часов / от 2 месяцев за 1 платформу
                                    </li>
                                    <li>Подключение поставщика - от 20 нормо-часов / от 4 дней</li>
                                    <li>Интеграция с системами банка/финансовой организации
                                        — от 80 нормо-часов / от 3 недель
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="prestart-price">
                            <div class="block">
                                <div class="prestart-price__title">Стоимость</div>
                                <div class="prestart-price__price">от $ 5 000</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                {% include 'modules/callback-tile.twig' with {
                    map:false,
                    title:'Остались вопросы?',
                    desc:'Оставьте заявку и наши специлисты свяжутся с вами в ближайшее время',
                    modifier:'callback-tile__side_light-blue'} %}
            </div>
        </div>
    </div>
{% endblock %}