{% extends "common/base.twig" %}
{% block header %}
    {% set headerTop = "is-dark is-side-light is-tablet-dark" %}
    {% include 'common/header.twig' with {headerTop:headerTop} %}
{% endblock %}
{% block body_mod %}{% endblock %}
{% block body %}
    <div class="products-sections">
        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="product-intro">
                    <div class="product-intro__wrapper">
                        <div class="product-intro__main">
                            <h1 class="product-intro__title">
                                Почтоматы,<br>
                                камеры хранения,<br>продуктоматы
                            </h1>
                            <div class="product-intro__desc">
                                <p>
                                    Краткое тематическое описание о предоставляемых услугах
                                </p>
                            </div>
                        </div>
                        <div class="product-intro__side">
                            <div class="product-intro__billboard" style="background-image: url('images/postamat/postamat.png')"></div>
                            <div class="product-intro__logo">
                                <img src="images/taxi/soft-logic.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="offer block-wrapper block_padding-top_xlarge">
                <div class="offer__wrapper">
                    <div class="offer__title block-left block_gap_medium">
                        <div class="title-h3">Наша компания предлагает:</div>
                    </div>
                    <div class="offer__list">
                        <div class="offer-list">
                            <div class="offer-list__list">
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Готовое программно-аппаратное решение, включающее почтомат, продуктомат или автоматическую камеру хранения
                                                    и специализированное ПО
                                                </div>
                                                <div class="offer-card__side offer-card__side_align-right">
                                                    <div class="offer-card__img offer-card__img_align-right">
                                                        <img src="/images/postamat/blue-postamat.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Поставку специализированного софта для имеющегося у заказчика оборудования
                                                    с возможностью адаптации, доработки
                                                    и кастомизации, а также разработку
                                                    ПО с нуля
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        {% set list = [
            { img: '/images/postamat/s1.svg', title: 'Повышение качества сервиса доставки' },
            { img: '/images/postamat/s2.svg', title: 'Комплексное сокращение затрат' },
            { img: '/images/postamat/s3.svg', title: 'Решение проблемы последней мили' },
            { img: '/images/postamat/s4.svg', title: 'Применение современных логистических технологий' },
            { img: '/images/postamat/s5.svg', title: 'Кастомизация и доработки ПО под требования заказчика' },
        ] %}
        <div class="products-sections__item products-sections__item_gap-xxxlarge block">
            <div class="block-wrapper">

                <div class="offer__title block_gap_xlarge">
                    <div class="title-h3">Ключевые преимущества:</div>
                </div>

                <div class="list-metric list-metric_simple">
                    <div class="list-metric__list">
                        {% for item in list %}
                            <div class="list-metric__list-item list-metric__list-item_mobile-center">
                                <div class="list-metric__item">
                                    <div class="list-metric__item-side">
                                        <div class="list-metric__item-icon list-metric__item-icon_mobile-center">
                                            <img src="{{ item.img }}" alt="">
                                        </div>
                                    </div>
                                    <div class="list-metric__item-main">
                                        <div class="list-metric__item-desc list-metric__item-desc_mobile-center">
                                            {{ item.title }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-xxlarge products-sections__item_bg-left-offset-grey products-sections__item_vertical-padding block">
            <div class="products-sections__item-wrapper block-wrapper">
                {% set items = [
                    {
                        title:'Почтоматы',
                        desc:'1 Продуктоматы эффективно автоматизируют доставку продуктовых заказов, реализацию готовой еды продуктовыми сетями, интернет-магазинами, фермерскими хозяйствами, повышают качество обслуживания и&nbsp;расширяют географию присутствия сервиса.',
                        image:'images/postamat/postamat-1.png'
                    },
                    {
                        title:'Продуктоматы',
                        desc:'2 Продуктоматы эффективно автоматизируют доставку продуктовых заказов, реализацию готовой еды продуктовыми сетями, интернет-магазинами, фермерскими хозяйствами, повышают качество обслуживания и&nbsp;расширяют географию присутствия сервиса.',
                        image:'images/postamat/postamat-2.png'
                    },
                    {
                        title:'Автоматические камеры хранения',
                        desc:'3 Продуктоматы эффективно автоматизируют доставку продуктовых заказов, реализацию готовой еды продуктовыми сетями, интернет-магазинами, фермерскими хозяйствами, повышают качество обслуживания и&nbsp;расширяют географию присутствия сервиса.',
                        image:'images/postamat/postamat-3.png'
                    }
                ] %}
                <div class="products-sections__item-main">
                    <div js-products-slider class="products-slider">
                        <div class="products-slider__major">
                            <div class="products-sections__item-title products-slider__title">
                                Бизнес-цель
                            </div>
                        </div>
                        <div class="products-slider__minor">
                            <div class="products-slider__wrapper">
                                <div class="products-slider__main">
                                    <div class="products-slider__options">
                                        <div class="products-slider__options-list">
                                            {% for item in items %}
                                                <div js-products-slider-item data-id="{{ loop.index }}" class="products-slider__options-item {{ loop.first ? 'is-active' : '' }}">
                                                    {{ item.title }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="products-slider__desc">
                                        <div class="products-slider__desc-list">
                                            {% for item in items %}
                                                <div js-products-slide data-id="{{ loop.index }}" class="products-slider__desc-item {{ loop.first ? 'is-active' : '' }}">
                                                    {{ item.desc }}
                                                </div>
                                            {% endfor %}
                                        </div>

                                    </div>
                                </div>
                                <div class="products-slider__side">
                                    <div class="products-slider__images">
                                        {% for item in items %}
                                            <div js-products-slide data-id="{{ loop.index }}" class="products-slider__images-item {{ loop.first ? 'is-active' : '' }}">
                                                <img src="{{ item.image }}" alt="">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-xxlarge">
            {% set possibilitys = [
                {
                    number:'one',
                    mod:'possibilitys-item_width_xmedium',
                    title: 'Получение посылок, заказов, корреспонденции, продуктовых товаров',
                    text:'Сразу же после размещения посылки курьером в почтомате клиент получает уведомление через выбранный канал - SMS/E-mail/Telegram, прибывает к устройству, вводит номер телефона, ID заказа или иные регистрационные данные, оплачивает посылку наличными или картой, забирает её из открывшейся ячейки и получает чек.
            <br><br>
            Устройство может быть снабжено веб-камерами для видеофиксации размещения посылки курьером и получения клиентом. Поддерживаются возврат товара, изъятие посылок курьером по причине невостребованности.
            ',
                    img: '/images/postamat/p1.png',
                },{
                    number:'two',
                    mod:'possibilitys-item_width_xmedium',
                    title: 'Отправка посылок и корреспонденции',
                    text:'Клиент авторизуется в системе для подтверждения адреса доставки, указывает индекс, номер телефона получателя, иные данные, выбирает соответствующую размеру посылки ячейку, вносит оплату, помещает посылку в ячейку и получает чек.',
                    img: '/images/postamat/p2.png',
                    dots: { x: '22%', y: '-6%' },
                },{
                    number:'three',
                    mod:'possibilitys-item_width_xmedium',
                    title: 'Временное размещение вещей в камерах хранения',
                    text:'Для авторизации в системе хранения может применяться пин-код, QR-код/штрихкод, RFID-карта или браслет, а также биометрические данные. Оплата за хранение автоматически выставляется перед возвратом вещей из ячейки, производится наличными или банковской картой.
                <br><br>
            Возможно объединение нескольких камер хранения, равномерно распределенных по территории комплекса,
            с платежным терминалом, например, в аквапарке. В таком случае клиент размещает личные вещи в ближайшей камере, при выходе из заведения рассчитывается через терминал самообслуживания и забирает вещи из ячейки.
            ',
                    img: '/images/postamat/p3.png',
                },{
                    number:'four',
                    mod:'possibilitys-item_width_xmedium',
                    title: 'Различные сценарии работы курьера',
                    text:'Специальные права на:',
                    paragraph: ['Открытие ячеек для размещения посылок',
                        'Изъятие невостребованных посылок',
                        'Открытие пустых ячеек для сервиса или уборки'
                    ],
                    img: '/images/postamat/p4.png'
                }
            ] %}
            <div class="block">
                <div class="block-wrapper block-wrapper--possibilitys">
                    <div class="possibilitys ">
                        <div class="block-wrapper possibilitys-title title title-h1">
                            Типовые сценарии<br>применения
                        </div>
                        <div class="possibilitys-list possibilitys-list_postamat">
                            {% for item in possibilitys %}
                                <div class="possibilitys-item possibilitys-item_small-bottom-gap {{ item.mod }} possibilitys-item--{{ item.number }}">
                                    <div class="possibilitys-item__text possibilitys-item__text--{{ item.number }}">
                                        <div class="possibilitys-item__text-number possibilitys-item__text-number--{{ item.number }}"></div>
                                        <div class="possibilitys-item__text-layout">
                                            <div class="possibilitys-item__text-title">
                                                {{ item.title }}
                                            </div>
                                            <div class="possibilitys-item__text-description">
                                                {{ item.text }}
                                                {% if item.paragraph %}
                                                    <div class="support-wrap">
                                                        <div class="support-wrap__item support-wrap__item_small-top-gap">
                                                            <ul class="support-item support-item_left-offset support-item_dark-blue">
                                                                {% for p in item.paragraph %}
                                                                    <li>{{ p }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="possibilitys-item__img possibilitys-item__img--{{ item.number }}">
                                        {% if item.img %}
                                            <img src="{{ item.img }}">
                                        {% endif %}
                                        {% if item.dots %}
                                            <div class="gray-dots" style="left:{{ item.dots.x }}; top:{{ item.dots.y }}"></div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xxlarge block">
            {% set cols = [{
                title: 'Почтоматы и продуктоматы:',
                paragraph : ['Магазины, супермаркеты, ТРЦ',
                    'Жилые комплексы',
                    'Вокзалы, аэропорты, станции метро',
                    'Транспортные хабы, АЗС, парковки'
                ]
            }, {
                title: 'Автоматические камеры хранения:',
                paragraph : ['Горнолыжные курорты',
                    'Аквапарки, бассейны, пляжи',
                    'Площадки для Event-мероприятий, концертные залы',
                    'Спортивные площадки, ледовые дворцы',
                    'Учебные заведения',
                    'Культурно-досуговые учреждения']
            }] %}
            <div class="section-color section-color_blue-dark section-color_bg-right block-wrapper block_padding-top_xlarge block_padding-bottom_large">
                <div class="section-color__wrapper">
                    <div class="title-medium title-medium_gap_xlarge title-medium_white">
                        Места установки
                    </div>
                    <div class="possibilitys-columns block_gap_xlarge">
                        <div class="possibilitys-columns__wrapper">
                            {% for col in cols %}
                                <div class="possibilitys-column">
                                    <div class="possibilitys-column__title"> {{ col.title }} </div>
                                    {% if col.paragraph %}
                                        <div class="support-wrap">
                                            <div class="support-wrap__item support-wrap__item_small-top-gap">
                                                <ul class="support-item support-item_left-offset support-item_light-gray">
                                                    {% for p in col.paragraph %}
                                                        <li>{{ p }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="section-color__bg-image">
                    <img src="/images/postamat/places.png" alt="">
                </div>
            </div>
        </div>

        {% set apps = [
            { title: 'Принимать наличные' },
            { title: 'Выдавать сдачу' },
            { title: 'Принимать банковские карты' },
            { title: 'Оплачивать через мобильные сервисы' },
            { title: 'Применять электронные кошельки' }
        ] %}
        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__item-title">
                        Системы оплаты
                    </div>
                    <div class="section-desc">
                        <div class="section-desc__wrapper">
                            Возможности ПО и интеграция с различными периферийными устройствами позволяют:
                        </div>
                    </div>
                </div>
                <div class="info-grid info-grid_3x">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for app in apps %}
                                <div class="info-grid__item info-grid__item_low">
                                    <div class="info-grid-card info-grid-card_snowy-blue info-grid-card_low">
                                        <div class="info-grid-card__wrapper info-grid-card__wrapper_big-offset">
                                            <div class="info-grid-card__count info-grid-card__count_bottom-gap">{{ loop.index }}</div>
                                            <div class="info-grid-card__title info-grid-card__title_large">{{ app.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="section-delimiter section-delimiter_opacity3"></div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-small">
            <div class="block section-with-image section-with-image_bg-center section-with-image_top-offset-large section-with-image_top-out-gap">
                <div class="block-wrapper section-with-image__wrapper">
                    <div class="section-with-image__content-wrapper">
                        <div class="section-with-image__main">
                            <div class="section-with-image__title">
                                Варианты исполнения<br>устройств
                            </div>
                            <div class="section-with-image__desc-wrapper">
                                <div class="section-with-image__desc section-with-image__desc_medium">
                                    Мы внедряем как типовые устройства, так и полностью кастомизированные под конкретные задачи клиента решения. Почтоматы, продуктоматы и камеры хранения включают уникальные размеры ячеек, климат-контроль - охлаждение, подогрев блоков, кастомные сценарии работы ПО.
                                    <br><br>
                                    Наши проекты отлично подходят для построения специализированной сети устройств для доставки и хранения продуктов питания и медицинских препаратов.

                                </div>
                            </div>
                        </div>
                        <div class="section-with-image__side">
                            <div class="gray-dots" style="left:-2%;top:45%"></div>
                            <div class="section-with-image__side-image section-with-image__side-image_half-postmat"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper block_padding-top_large block_padding-bottom_large">
                <div class="title-medium">
                    Варианты<br>интеграции
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_small block-left">
                    Наше решение интегрируется с учетной системой заказчика посредством REST-API.
                </div>
                <div class="possibilitys-bg-image">
                    <img src="/images/postamat/rest.svg" alt="">
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            {% set cols = [{
                title: 'Мобильное приложение для отслеживания заказов',
                paragraph : ['Трекинг посылок',
                    'Выбор места почтомата для доставки',
                    'Выбор условий выдачи, хранения',
                    'Уведомления об изменении статуса отправлений',
                    'Обратная связь, техническая поддержка'
                ]
            }, {
                title: 'Бэк-офис - центр управления логистикой',
                paragraph : ['Построение средней или крупной сети устройств',
                    'Полный контроль за перемещением заказов',
                    'Организация складского хозяйства',
                    'Поддержание эффективности всей логистической инфраструктуры'
                ]
            }] %}
            <div class="section-color section-color_blue-dark section-color_bg-full block-wrapper block_padding-top_xlarge block_padding-bottom_large">
                <div class="section-color__wrapper">
                    <div class="title-medium title-medium_white">
                        Проект под ключ
                    </div>
                    <div class="possibilitys-subtitle block-left block_gap-none">
                        Наши возможности и опыт позволяют разработать систему под ключ, включая:
                    </div>
                    <div class="section-color__line section-color__line_gap-offset"></div>
                    <div class="possibilitys-columns__wrapper">
                        {% for col in cols %}
                            <div class="possibilitys-column">
                                <div class="possibilitys-column__title possibilitys-column__title_medium"> {{ col.title }} </div>
                                {% if col.paragraph %}
                                    <div class="support-wrap">
                                        <div class="support-wrap__item support-wrap__item_small-top-gap">
                                            <ul class="support-item support-item_left-offset support-item_light-gray">
                                                {% for p in col.paragraph %}
                                                    <li>{{ p }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="attention attention_top-gap-large block_gap_xlarge">
                        <div class="attention__wrapper attention__wrapper_gray attention__wrapper_small attention__wrapper_info">
                            <div class="attention__text attention__text_small">Поддерживается кастомизация интерфейса, расширение функционала, рекламные возможности!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper block-wrapper_bg-left block_padding-top_large block_padding-bottom_xlarge">
                <div class="title-medium">
                    Система технического<br> мониторинга
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_row-bottom_none possibilitys-subtitle_medium block-left">
                    Система включает модуль технического мониторинга и модуль оповещения
                    о нештатных ситуациях. Заказчик может отслеживать в реальном времени актуальный статус киоска, получать уведомления о технических проблемах в виде SMS/E-mail/Telegram уведомлений и оперативно реагировать на них
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper block_padding-top_large block_padding-bottom_large">
                <div class="title-medium">
                    Система обновлений
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_row-bottom_none possibilitys-subtitle_medium block-left">
                    Встроенная система обновлений позволяет оперативно вносить любые изменения
                    в ПО и загружать их на киоски по заданному расписанию.
                </div>
            </div>
        </div>

        {% set advantages_list = [
            { number: 'one', desc: 'Покупка лицензии ' },
            { number: 'two', desc: 'Использование ПО в облачном формате по ежемесячной/годовой подписке' }
        ] %}
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="section-color section-color_blue-dark section-color_bg-right block-wrapper block_padding-top_xlarge block_padding-bottom_large">
                <div class="section-color__wrapper">
                    <div class="title-medium title-medium_white">
                        Варианты<br> приобретения ПО
                    </div>
                    <div class="possibilitys-subtitle block-left block_gap_medium">
                        В зависимости от масштабов автоматизации, размеров заказчика и конечной цели применения решения, возможны:
                    </div>
                    <div class="info-grid info-grid_2x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                {% for item in advantages_list %}
                                    <div class="info-grid__item">
                                        <div class="bank-advantage bank-advantage_white  bank-advantage_low bank-advantage--{{ item.number }} bank-advantage--{{ item.number }}_snowy-blue">
                                            <div class="bank-advantage__wrapper">
                                                <div class="bank-advantage__body">
                                                    <div class="bank-advantage__desc bank-advantage__desc_max-width_none">{{ item.desc | raw }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="section-color__line"></div>
                    <div class="possibilitys-subtitle possibilitys-subtitle_wide block-left block_gap_medium">
                        Благодаря различным вариантам приобретения ПО Pay-logic, наше решение подходит не только розничным торговым точкам среднего масштаба и крупным торговым сетям, но и небольшим частным магазинам любой площади.
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { icon: 'images/postamat/c1.svg',
                desc: 'Возможность применения системы климат-контроля - нагрев, охлаждение'
            },
            { icon: 'images/postamat/c2.svg',
                desc: 'Стилизацию платежного интерфейса в фирменные цвета или применение white label концепции'
            },
            { icon: 'images/postamat/c3.svg',
                desc: 'Интеграцию системы устройства с учетной системой заказчика'
            },
            { icon: 'images/postamat/c4.svg',
                desc: 'Разработку рекламных баннеров'
            },
            { icon: 'images/postamat/c5.svg',
                desc: 'Настройку платежного сценария под определенные бизнес-требования'
            },
            { icon: 'images/postamat/c6.svg',
                desc: 'Объединение почтомата/продуктомата/камеры хранения с платежным киоском для оплаты любых сторонних услуг'
            },
            { icon: 'images/postamat/c7.svg',
                desc: 'Адаптацию к новой валюте и языку, включая создание мультиязычных интерфейсов'
            }
        ] %}
        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__item-title">
                        Доработки<br>
                        и кастомизация
                    </div>
                    <div class="section-desc">
                        <div class="section-desc__wrapper">
                            Типовые доработки решения для заказчика включают:
                        </div>
                    </div>
                </div>
                <div class="info-grid info-grid_gap-medium info-grid_3x block_gap_small">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_orange">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__icon">
                                                <img src="{{ item.icon }}" alt="">
                                            </div>
                                            <div class="info-grid-card__desc">{{ item.desc }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="attention block_gap_xlarge">
                    <div class="attention__wrapper attention__wrapper_snowy-blue attention__wrapper_info">
                        <div class="attention__text attention__text_center">По требованию заказчика возможны любые доработки программного обеспечения!</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="block section-with-image">
                <div class="block-wrapper section-with-image__wrapper">
                    <div class="section-with-image__content-wrapper">
                        <div class="section-with-image__main">
                            <div class="section-with-image__title">
                                Поставка<br>программно-аппаратного решения под ключ
                            </div>
                            <div class="section-with-image__desc-wrapper">
                                <div class="section-with-image__desc">
                                    За длительный период деятельности на рынке платежного ПО мы установили прочные партнерские связи с проверенными производителями оборудования
                                    и готовы предложить комплексное решение в формате ПО + киоски самообслуживания для различных сфер бизнеса
                                </div>
                            </div>
                        </div>
                        <div class="section-with-image__side">
                            <div class="section-with-image__side-image section-with-image__side-image_blue-postmat"></div>
                        </div>
                    </div>
                    <div class="section-with-image__delimiter section-with-image__delimiter_mobile"></div>
                    <div class="section-with-image__link">
                        <a href="#" class="section-with-image__link-arrow section-with-image__link-arrow_snowy-blue">
                            Перейти на сайт партнера
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper block_padding-top_large block_padding-bottom_large block_border-bottom">
                <div class="title-medium">
                    Запрос предварительных<br>требований
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_row-bottom_none possibilitys-subtitle_medium block-left">
                    Для оценки Вашего проекта и расчета стоимости просим заполнить анкету
                    <br><br>
                    Техническое задание, включающее схемы ячеек, описание протокола и другую информацию, Вы можете направить на info@soft-logic.ru

                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="block additionally-resources additionally-resources_top-gap-small">
                <div class="block-wrapper additionally-resources__wrapper">
                    <div class="additionally-resources__title">Дополнительные<br>ресурсы</div>
                    <div class="additionally-resources__list-wrapper">
                        <a href="#" class="resource-item resource-item_green">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_white-terminal"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Выбрать киоск</span>
                            </div>
                        </a>
                        <a href="#" class="resource-item resource-item_blue">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_clouds"></div>
                                    <div class="resource-item__image resource-item__image_cloud"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Облачный сервис</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="products-sections__item block">
            <div class="gray-dots" style="left:0;top:40px"></div>
            <div class="products-sections__item-wrapper block-wrapper">
                {% include 'modules/callback-tile.twig' with {
                    map:false,
                    title:'Остались вопросы?',
                    desc:'Оставьте заявку и наши специлисты свяжутся с вами в ближайшее время',
                    modifier:'callback-tile__side_snowy-blue'} %}
            </div>
        </div>
    </div>
{% endblock %}