{% extends "common/base.twig" %}
{% block header %}
    {% set customClass = "full-background" %}
    {% include 'common/header.twig' with {customClass:customClass} %}
{% endblock %}
{% block body %}
    <div class="list-section">
        <div class="section section_products">
            <div class="section__wrapper">
                <div class="section-content">
                    <div class="section-content__main">
                        <div class="section__header full-background">
                            <div class="section-header">
                                <div class="section-header__wrapper block-wrapper">
                                    <div class="section-header__breadcrumbs">
                                        {% set breadcrumbs = [{
                                            url:'/',
                                            name:'Главная',
                                            isCurrent: false
                                        }, {
                                            url:'#',
                                            name:'Продукты',
                                            isCurrent: true
                                        }] %}

                                        {% include 'modules/breadcrumbs.twig' with {breadcrumbs:breadcrumbs} %}
                                    </div>
                                    <div class="section-header__title">
                                        Продукты
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section__content">
                            <div class="products">
                                <div class="products__wrapper block-wrapper">
                                    <div class="products-content">
                                        <div class="products-content__wrapper">
                                            <div class="products__header">
                                                <div class="products-header">
                                                    <div class="products-header__wrapper">
                                                        <div class="products-header__main">
                                                            <div class="products-header__title">Платежная экосистема
                                                                Pay-Logic
                                                            </div>
                                                            <div class="products-header__description">Краткое описание о
                                                                том,
                                                                что это за группа продуктов, в две строки
                                                            </div>
                                                        </div>
                                                        <div class="products-header__side">
                                                            <a href="#" class="link-arrow link-arrow_dark">Ссылка</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="products__content">
                                                <div class="products-list products-list_bottom-border">
                                                    <div class="products-list__wrapper">
                                                        {% set products = [{
                                                            img: 'images/icons/atm.png',
                                                            title: 'Процессинговый центр Pay-Logic',
                                                            description: 'Краткое тематическое описание предположительно в две строки',
                                                            tags: 'Payment, + дополнительный тег',
                                                            bgImage:'images/bitcoin.png',
                                                            bg: ' #EA5B4E'
                                                        },{
                                                            img: 'images/icons/server.png',
                                                            title: 'Система онлайн платежей SmartKeeper',
                                                            description: 'Краткое тематическое описание предположительно в две строки',
                                                            tags: 'Payment, + дополнительный тег',
                                                            bgImage:'',
                                                            bg: ' #EA5B4E'
                                                        },{
                                                            img: 'images/icons/server.png',
                                                            title: 'Платежный Хаб Pay-Logic',
                                                            description: 'Краткое тематическое описание предположительно в две строки',
                                                            tags: 'Payment, + дополнительный тег',
                                                            bgImage:'images/bitcoin.png',
                                                            bg: ' #EA5B4E'
                                                        }] %}

                                                        {% for product in products %}
                                                            <a href="#" class="product-item">
                                                                <div class="product-item__background"
                                                                     style="background: {{ product.bg }}"></div>
                                                                <div class="product-item__background-image"
                                                                     style="background-image: url({{ product.bgImage }})"></div>
                                                                <div class="product-item__wrapper">
                                                                    <div class="product-item__header">
                                                                        <div class="item-header">
                                                                            <div class="item-header__icon"
                                                                                 style="background-image: url({{ product.img }})"></div>
                                                                            <div class="item-header__arrow"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-item__title">{{ product.title }}</div>
                                                                    <div class="product-item__description-wrapper">
                                                                        <div class="product-item__description">{{ product.description }}</div>
                                                                    </div>
                                                                    <div class="product-item__tags">{{ product.tags }}</div>
                                                                </div>
                                                            </a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products">
                                <div class="products__wrapper block-wrapper">
                                    <div class="products-content">
                                        <div class="products-content__wrapper">
                                            <div class="products__header">
                                                <div class="products-header">
                                                    <div class="products-header__title">Технологии самообслуживания
                                                    </div>
                                                    <div class="products-header__description">Краткое описание о том,
                                                        что это за группа продуктов, в две строки
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="products__content">
                                                <div class="products-list products-list_bottom-border">
                                                    <div class="products-list__wrapper">
                                                        {% set products = [{
                                                            img: 'images/icons/server.png',
                                                            title: 'Архитектура ПО платежного киоска',
                                                            description: 'Краткое тематическое описание предположительно в две строки',
                                                            tags: 'Payment, + дополнительный тег',
                                                            bgImage:'',
                                                            bg: '#F89319'
                                                        },{
                                                            img: 'images/icons/server.png',
                                                            title: 'Архитектура ПО платежного киоска',
                                                            description: 'Краткое тематическое описание предположительно в две строки',
                                                            tags: 'Payment, + дополнительный тег',
                                                            bgImage:'',
                                                            bg: '#F89319'
                                                        },{
                                                            img: 'images/icons/server.png',
                                                            title: 'Архитектура ПО платежного киоска',
                                                            description: 'Краткое тематическое описание предположительно в две строки',
                                                            tags: 'Payment, + дополнительный тег',
                                                            bgImage:'',
                                                            bg: '#F89319'
                                                        },{
                                                            img: 'images/icons/server.png',
                                                            title: 'Архитектура ПО платежного киоска',
                                                            description: 'Краткое тематическое описание предположительно в две строки',
                                                            tags: 'Payment, + дополнительный тег',
                                                            bgImage:'',
                                                            bg: '#F89319'
                                                        },{
                                                            img: 'images/icons/server.png',
                                                            title: 'Платежные терминалы',
                                                            description: 'Краткое тематическое описание предположительно в две строки',
                                                            tags: 'Payment, + дополнительный тег',
                                                            bgImage:'',
                                                            bg: '#F89319'
                                                        },{
                                                            img: 'images/icons/server.png',
                                                            title: 'Платежные терминалы',
                                                            description: 'Краткое тематическое описание предположительно в две строки',
                                                            tags: 'Payment, + дополнительный тег',
                                                            bgImage:'',
                                                            bg: '#F89319'
                                                        },{
                                                            img: 'images/icons/atm.png',
                                                            title: 'Платежные терминалы',
                                                            description: 'Краткое тематическое описание предположительно в две строки',
                                                            tags: 'Payment, + дополнительный тег',
                                                            bgImage:'',
                                                            bg: '#F89319'
                                                        },{
                                                            img: 'images/icons/atm.png',
                                                            title: 'Платежные терминалы',
                                                            description: 'Краткое тематическое описание предположительно в две строки',
                                                            tags: 'Payment, + дополнительный тег',
                                                            bgImage:'',
                                                            bg: '#F89319'
                                                        },{
                                                            img: 'images/icons/atm.png',
                                                            title: 'Платежные терминалы',
                                                            description: 'Краткое тематическое описание предположительно в две строки',
                                                            tags: 'Payment, + дополнительный тег',
                                                            bgImage:'',
                                                            bg: '#F89319'
                                                        }] %}

                                                        {% for product in products %}
                                                            <a href="#" class="product-item">
                                                                <div class="product-item__background"
                                                                     style="background: {{ product.bg }}"></div>
                                                                <div class="product-item__background-image"
                                                                     style="background-image: url({{ product.bgImage }})"></div>
                                                                <div class="product-item__wrapper">
                                                                    <div class="product-item__header">
                                                                        <div class="item-header">
                                                                            <div class="item-header__icon"
                                                                                 style="background-image: url({{ product.img }})"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-item__title">{{ product.title }}</div>
                                                                    <div class="product-item__description-wrapper">
                                                                        <div class="product-item__description">{{ product.description }}</div>
                                                                    </div>
                                                                    <div class="product-item__tags">{{ product.tags }}</div>
                                                                </div>
                                                            </a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products-blockchain products-blockchain_top products-blockchain_bottom">
                                <div class="products-blockchain__wrapper block-wrapper">
                                    <div class="blockchain-content">
                                        <div class="blockchain-content__wrapper">
                                            <div class="blockchain-content__main">
                                                <div class="blockchain-content__title">Блокчейн технологии</div>
                                                <div class="blockchain-content__description">Краткое описание о том, что
                                                    это за группа продуктов, в чем ее особенности и так далее
                                                </div>
                                                <div class="blockchain-content__link">
                                                    <a href="#" class="link-arrow">Узнать подробнее</a>
                                                </div>
                                            </div>
                                            <div js-paralax class="blockchain-content__parallax">
                                                <div class="parallax-images">
                                                    <div data-parallaxify-range-x="-60"
                                                         class="parallax-images__image parallax-images__image_cloud2"></div>
                                                    <div data-parallaxify-range-x="60"
                                                         class="parallax-images__image parallax-images__image_chain"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products">
                                <div class="products__wrapper products__wrapper_top block-wrapper">
                                    <div class="products-content">
                                        <div class="products-content__wrapper">
                                            <div class="products__header">
                                                <div class="products-header">
                                                    <div class="products-header__title">Платежная экосистема Pay-Logic
                                                    </div>
                                                    <div class="products-header__description">Краткое описание о том,
                                                        что это за группа продуктов, в две строки
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="products__content">
                                                <div class="products-list products-list_bottom-border">
                                                    <div class="products-list__wrapper">
                                                        {% set products = [{
                                                            img: 'images/icons/atm.png',
                                                            title: 'Процессинговый центр Pay-Logic',
                                                            description: 'Краткое тематическое описание предположительно в две строки',
                                                            tags: 'Payment, + дополнительный тег',
                                                            bgImage:'images/bitcoin.png',
                                                            bg: ' #EA5B4E'
                                                        },{
                                                            img: 'images/icons/server.png',
                                                            title: 'Система онлайн платежей SmartKeeper',
                                                            description: 'Краткое тематическое описание предположительно в две строки',
                                                            tags: 'Payment, + дополнительный тег',
                                                            bgImage:'',
                                                            bg: ' #EA5B4E'
                                                        },{
                                                            img: 'images/icons/server.png',
                                                            title: 'Платежный Хаб Pay-Logic',
                                                            description: 'Краткое тематическое описание предположительно в две строки',
                                                            tags: 'Payment, + дополнительный тег',
                                                            bgImage:'images/bitcoin.png',
                                                            bg: ' #EA5B4E'
                                                        }] %}

                                                        {% for product in products %}
                                                            <a href="#" class="product-item">
                                                                <div class="product-item__background"
                                                                     style="background: {{ product.bg }}"></div>
                                                                <div class="product-item__background-image"
                                                                     style="background-image: url({{ product.bgImage }})"></div>
                                                                <div class="product-item__wrapper">
                                                                    <div class="product-item__header">
                                                                        <div class="item-header">
                                                                            <div class="item-header__icon"
                                                                                 style="background-image: url({{ product.img }})"></div>
                                                                            <div class="item-header__arrow"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-item__title">{{ product.title }}</div>
                                                                    <div class="product-item__description-wrapper">
                                                                        <div class="product-item__description">{{ product.description }}</div>
                                                                    </div>
                                                                    <div class="product-item__tags">{{ product.tags }}</div>
                                                                </div>
                                                            </a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products">
                                <div class="products__wrapper block-wrapper">
                                    <div class="products-content">
                                        <div class="products-content__wrapper">
                                            <div class="products__header">
                                                <div class="products-header">
                                                    <div class="products-header__title">Платежная экосистема Pay-Logic
                                                    </div>
                                                    <div class="products-header__description">Краткое описание о том,
                                                        что это за группа продуктов, в две строки
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="products__content">
                                                <div class="products-list products-list_bottom-border">
                                                    <div class="products-list__wrapper">
                                                        {% set products = [{
                                                            img: 'images/icons/atm.png',
                                                            title: 'Процессинговый центр Pay-Logic',
                                                            description: 'Краткое тематическое описание предположительно в две строки',
                                                            tags: 'Payment, + дополнительный тег',
                                                            bgImage:'images/bitcoin.png',
                                                            bg: ' #EA5B4E'
                                                        },{
                                                            img: 'images/icons/server.png',
                                                            title: 'Система онлайн платежей SmartKeeper',
                                                            description: 'Краткое тематическое описание предположительно в две строки',
                                                            tags: 'Payment, + дополнительный тег',
                                                            bgImage:'',
                                                            bg: ' #EA5B4E'
                                                        },{
                                                            img: 'images/icons/server.png',
                                                            title: 'Платежный Хаб Pay-Logic',
                                                            description: 'Краткое тематическое описание предположительно в две строки',
                                                            tags: 'Payment, + дополнительный тег',
                                                            bgImage:'images/bitcoin.png',
                                                            bg: ' #EA5B4E'
                                                        }] %}

                                                        {% for product in products %}
                                                            <a href="#" class="product-item">
                                                                <div class="product-item__background"
                                                                     style="background: {{ product.bg }}"></div>
                                                                <div class="product-item__background-image"
                                                                     style="background-image: url({{ product.bgImage }})"></div>
                                                                <div class="product-item__wrapper">
                                                                    <div class="product-item__header">
                                                                        <div class="item-header">
                                                                            <div class="item-header__icon"
                                                                                 style="background-image: url({{ product.img }})"></div>
                                                                            <div class="item-header__arrow"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-item__title">{{ product.title }}</div>
                                                                    <div class="product-item__description-wrapper">
                                                                        <div class="product-item__description">{{ product.description }}</div>
                                                                    </div>
                                                                    <div class="product-item__tags">{{ product.tags }}</div>
                                                                </div>
                                                            </a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products">
                                <div class="products__wrapper block-wrapper">
                                    <div class="products-content">
                                        <div class="products-content__wrapper">
                                            <div class="products__header">
                                                <div class="products-header">
                                                    <div class="products-header__title">Платежная экосистема Pay-Logic
                                                    </div>
                                                    <div class="products-header__description">Краткое описание о том,
                                                        что это за группа продуктов, в две строки
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="products__content">
                                                <div class="products-list">
                                                    <div class="products-list__wrapper">
                                                        {% set products = [{
                                                            img: 'images/icons/atm.png',
                                                            title: 'Процессинговый центр Pay-Logic',
                                                            description: 'Краткое тематическое описание предположительно в две строки',
                                                            tags: 'Payment, + дополнительный тег',
                                                            bgImage:'images/bitcoin.png',
                                                            bg: ' #EA5B4E'
                                                        },{
                                                            img: 'images/icons/server.png',
                                                            title: 'Система онлайн платежей SmartKeeper',
                                                            description: 'Краткое тематическое описание предположительно в две строки',
                                                            tags: 'Payment, + дополнительный тег',
                                                            bgImage:'',
                                                            bg: ' #EA5B4E'
                                                        },{
                                                            img: 'images/icons/server.png',
                                                            title: 'Платежный Хаб Pay-Logic',
                                                            description: 'Краткое тематическое описание предположительно в две строки',
                                                            tags: 'Payment, + дополнительный тег',
                                                            bgImage:'images/bitcoin.png',
                                                            bg: ' #EA5B4E'
                                                        }] %}

                                                        {% for product in products %}
                                                            <a href="#" class="product-item">
                                                                <div class="product-item__background"
                                                                     style="background: {{ product.bg }}"></div>
                                                                <div class="product-item__background-image"
                                                                     style="background-image: url({{ product.bgImage }})"></div>
                                                                <div class="product-item__wrapper">
                                                                    <div class="product-item__header">
                                                                        <div class="item-header">
                                                                            <div class="item-header__icon"
                                                                                 style="background-image: url({{ product.img }})"></div>
                                                                            <div class="item-header__arrow"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-item__title">{{ product.title }}</div>
                                                                    <div class="product-item__description-wrapper">
                                                                        <div class="product-item__description">{{ product.description }}</div>
                                                                    </div>
                                                                    <div class="product-item__tags">{{ product.tags }}</div>
                                                                </div>
                                                            </a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
