{% extends "common/base.twig" %}

{% block header %}
    {% set headerTop = "is-dark is-side-light is-mobile-dark" %}
    {% include 'common/header.twig' with { headerTop: headerTop } %}
{% endblock %}

{% block body %}
    <div class="products-sections -relative">
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="product-intro product-intro_queue">
                    <div class="product-intro__wrapper">
                        <div class="product-intro__main">
                            <div class="product-intro__tag"></div>
                            <h1 class="product-intro__title">
                                Электронная очередь
                            </h1>
                            <div class="product-intro__desc">
                                <p>
                                    Внедрение готовой системы электронной очереди на&nbsp;базе веб-ориентированных,
                                    кросс-платформенных приложений для организации работы стоек регистрации
                                    (веб-терминалов/киосков), электронных табло, виртуальных пультов операторов и&nbsp;рабочих
                                    мест операторов.
                                </p>
                                <p>
                                    Адаптация готового продукта и&nbsp;разработка различной сложности
                                    и&nbsp;масштабов на&nbsp;заказ.
                                </p>
                            </div>
                        </div>
                        <div class="product-intro__side">
                            <div class="product-intro__billboard">
                                <div class="product-intro__billboard-mask"
                                     style="background-image: url('images/queue/promo.png')">
                                </div>
                            </div>
                            <div class="product-intro__logo">
                                <img src="images/soft-logic.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="offer block-wrapper block_padding-top_xlarge">
                <div class="offer__wrapper">
                    <div class="offer__title block-left block_gap_medium">
                        <div class="title-h3">Наша компания предлагает:</div>
                    </div>
                    <div class="offer__list">
                        <div class="offer-list">
                            <div class="offer-list__list">
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Внедрение специализированного&nbsp;ПО электронной очереди для
                                                    организации работы имеющегося у&nbsp;заказчика аппаратного
                                                    комплекса, расширения функционала оборудования
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img offer-card__img_medium">
                                                        <img src="images/queue/t1.png" alt="ticket-transport">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Запуск комплексной программно-аппаратной системы, включающей
                                                    современные киоски самообслуживания, табло, рабочие места
                                                    операторов, при необходимости устройства голосового оповещения,
                                                    навигации и&nbsp;т.&nbsp;д.,
                                                    с&nbsp;возможностью доработки и&nbsp;кастомизации
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img offer-card__img_medium">
                                                        <img src="images/queue/t2.png" alt="ticket-transport">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        {% set list = [
            { img: '/images/queue/i1.svg', title: 'Кроссплатформенное решение <br> (Linux, Windows, MacOS)' },
            { img: '/images/queue/i2.svg', title: 'Приложение менеджера для смартфонаили планшета' },
            { img: '/images/queue/i3.svg', title: 'Авторизация через Active Directory' },
            { img: '/images/queue/i4.svg', title: 'Создание и управление древовиднымименю через бэк-офис' },
            { img: '/images/queue/i5.svg', title: 'Гибкая настройка, позволяющая выбратьконкретного менеджера для определенных очередей' },
            { img: '/images/queue/i6.svg', title: 'Адаптивный дизайн табло.Вертикальное/горизонтальное расположение. Несколько визуальных шаблонов на выбор' },
            { img: '/images/queue/i7.svg', title: 'Настраиваемый конструктор отчетов' },
            { img: '/images/queue/i7.svg', title: 'Оценка качества обслуживаниячерез стойку регистрации' }
        ] %}

        <div class="products-sections__item products-sections__item_gap-xxxxlarge block">
            <div class="block-wrapper">

                <div class="offer__title block_gap_xlarge">
                    <div class="title-h3">Функциональные возможности:</div>
                </div>

                <div class="list-metric list-metric_simple list-metric_fast-food">
                    <div class="list-metric__list">
                        {% for item in list %}
                            <div class="list-metric__list-item">
                                <div class="list-metric__item">
                                    <div class="list-metric__item-side">
                                        <div class="list-metric__item-icon">
                                            <img src="{{ item.img }}" alt="">
                                        </div>
                                    </div>
                                    <div class="list-metric__item-main">
                                        <div class="list-metric__item-desc">
                                            {{ item.title }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


        <div class="products-sections__item  block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>


        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="queue-ssl">
                    <div class="queue-ssl__wrapper">
                        <div class="queue-ssl__title title-medium">Технология единого входа</div>
                        <div class="queue-ssl__desc">
                            <p>
                                Наша система поддерживает Single Sign-On технологию с&nbsp;Kerberos шифрованием (в&nbsp;ряде
                                случаев с&nbsp;NTLM проверкой подлинности), которая будет интересна крупным заказчикам
                                масштабных сетей электронных очередей.
                            </p>
                            <p>
                                SSO-механизм значительно упрощает процесс авторизации сотрудников за&nbsp;счет разового
                                ввода
                                авторизационных данных в&nbsp;Active Directory для последующего доступа ко&nbsp;всем
                                приложениям. Авторизационные данные хранятся централизованно и&nbsp;скрыты от&nbsp;сотрудников.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { img: '/images/queue/d1.svg', title: 'Различные типы аутентификации, включая двухфакторную аутентификацию, одноразовые пароли, при необходимости по биометрическим данным' },
            { img: '/images/queue/d2.svg', title: 'Авторизация в оффлайн-режиме при отсутствии связи, использование локальных SSO-профилей с ограниченным сроком жизни' },
            { img: '/images/queue/d3.svg', title: 'Делегирование прав доступа между сотрудниками с полным контролем действий' }
        ] %}
        <div class="products-sections__item  block">
            <div class="block-wrapper">
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Возможности включают:
                </div>
                <div class="info-grid info-grid_gap-medium info-grid_3x block_gap_small">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_orange">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__img">
                                                <img src="{{ item.img }}" alt="">
                                            </div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="attention accordion_orange-dark attention_navi block_gap_xlarge">
                    <div class="attention__wrapper attention__wrapper_ticket-booth attention__wrapper_info">
                        <div class="attention__text attention__text_center">При необходимости мы готовы адаптировать
                            SSO-функционал под любые требования!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item  block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large">
            <div class="develop-biz__block block">
                <div class="develop-biz__wrapper develop-biz__wrapper_small block-wrapper">
                    <div class="develop-biz__content">
                        <div class="develop-biz__main">
                            <div class="develop-biz__title title-medium">
                                Бизнес-цель
                            </div>
                            <div class="develop-biz__description block-left">
                                <p>
                                    Киоски для продажи цифрового контента позволяют полностью переориентировать
                                    бизнес-направление по&nbsp;реализации кодов активации
                                    и&nbsp;скретч-карт в&nbsp;современный формат. Больше не&nbsp;нужно заботиться
                                    об&nbsp;отслеживании физических остатков в&nbsp;точке реализации, выделять
                                    человеческие
                                    ресурсы для продаж, нести расходы по&nbsp;изготовлению одноразовых карт.  
                                </p>
                                <p>
                                    Широкоформатный киоск с&nbsp;веб-интерфейсом позволяет развернуть неограниченную
                                    витрину
                                    с&nbsp;самыми разными цифровыми предложениями, которые
                                    всегда в&nbsp;наличии, с&nbsp;возможностью напечатать купленный код
                                    на&nbsp;чеке или, например, отправить на&nbsp;указанный E-mail.
                                </p>
                            </div>
                        </div>
                        <div class="develop-biz__side">
                            <div class="develop-biz__side-img develop-biz__side-img_wide">
                                <img src="/images/queue/bc.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="queue-steps">
                    <div class="queue-steps__side">
                        <div class="queue-steps__title">
                            <div class="title-medium">
                                Описание решения
                            </div>
                        </div>
                    </div>
                    {% set list = [
                        { img: '/images/queue/step-1.png', mode: '', title: 'Бэк-офи', desc: '<p>Адаптивное веб-приложение, доступно на любых операционных системах(Windows, Linux, MacOS) и устройствах, включая мобильные.</p><p>Позволяет административному персоналу заводить организации, ихфилиалы иофисы, подключать Стойки регистрации, Электронные табло и Рабочиеместаоператоров, управлять их параметрами и связями в рамках офисов.Заводитьперсонал, определять особенностиих работы, привязку к типам обрабатываемых очередей (типам оказанияуслуг),а также вести мониторинг и статистику.</p>'  },
                        { img: '/images/queue/step-2.png', mode: 'is-secondary', title: 'Фронт-офис <br>+ Пульт вызова электронной очереди', desc: '<p>Адаптивное веб-приложение, доступно на&nbsp;любых операционных системах (Windows, Linux, MacOS) и&nbsp;устройствах, включая мобильные. Используется сотрудниками для обслуживания клиентов по&nbsp;системе электронной очереди.</p><p>Позволяет сотруднику выбирать рабочее место с&nbsp;привязкой к&nbsp;типам очередей (услуг) которые будет обслуживать сотрудник, принимать, вызывать повторно или перенаправлять клиентов (функционал виртуального пульта оператора), а&nbsp;также уходить на&nbsp;обед или перерыв (в&nbsp;случае, если все клиенты по&nbsp;данному Рабочему месту обслужены). По&nbsp;каждой завершенной заявке можно оставить комментарий, ведется статистика обслуженных клиентов и&nbsp;наглядно представлено текущее количество людей в&nbsp;очереди в&nbsp;режиме онлайн.</p>'  },
                        { img: '/images/queue/step-3.png', mode: '', title: 'Стойки регистрации', desc: 'Современные киоски самообслуживания для выбора услуги печати талонов электронной очереди. Возможно развертывание самого разного функционала для автоматизации бизнеса'  },
                        { img: '/images/queue/step-4.png', mode: 'is-secondary', title: 'Алгоритм распределения талонов', desc: '<p>Анализ свободных, занятых и&nbsp;неактивных рабочих мест, далее направление клиентак&nbsp;обработавшему наименьшее количество заявок сотруднику.</p><p>Возможны любые другие алгоритмы в&nbsp;зависимости от&nbsp;требований заказчика к&nbsp;системе, включая распределение заявок по&nbsp;сотрудникам с&nbsp;учетом KPI, общего времени работы, затрачиваемого времени на&nbsp;одну заявку и&nbsp;т.&nbsp;д.</p>'  },
                        { img: '/images/queue/step-5.png', mode: '', title: 'Киоски с платежным функционалом', desc: '<p>Объединение стоек регистрации с&nbsp;платежным терминалом/банкоматом, возможность помимо получения талонов оплачивать любые регулярные платежи, оформлять банковские продукты, вносить/снимать денежные средства.</p><p>Единое комплексное решение повышает клиентоориентированностьи&nbsp;значительно снижает издержки для организации. В&nbsp;рамках одного офиса могут быть установлены стойки только для регистрации и&nbsp;стойки с&nbsp;совмещенным функционалом,для сохранения высокой пропускной способности.</p>'  },
                        { img: '/images/queue/step-6.png', mode: 'is-secondary', title: 'Прочий функционал', desc: 'Развертывание на стойках регистрации сайтов для создания многофункциональных справочных инфоматов и навигационных панелей, систем оценки качества обслуживаниябез использования пультов и планшетов на Android, объединение со сторонними учетными системами, разработка кастомных интерфейсов и многое другое.'  },
                    ] %}
                    <div class="queue-steps__main">
                        <div class="queue-steps__list">
                            {% for item in list %}
                                <div class="queue-step {{ item.mode }}">
                                    <div class="queue-step__cols">
                                        <div class="queue-step__cols-item queue-step__cols-item_info">
                                            <div class="queue-step__side">
                                                <div class="queue-step__header">
                                                    <div class="queue-step__header-wrapper">
                                                        <div class="queue-step__header-main">    {{ item.title }}</div>
                                                        <div class="queue-step__header-side">0{{ loop.index }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="queue-step__main">
                                                {{ item.desc }}
                                            </div>
                                        </div>
                                        <div class="queue-step__cols-item queue-step__cols-item_img">
                                            <img src="{{ item.img }}" alt="">
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="queue-scale">
                    <div class="queue-scale__side">
                        <div class="queue-scale__title">
                            <div class="title-medium">Масштаб заказчика</div>
                        </div>
                        <div class="queue-scale__desc">
                            Наша система Электронной очереди подойдет организациям, которые в рамках <br> всей своей
                            деятельности для обработки заявок используют минимум:
                        </div>
                    </div>
                    <div class="queue-scale__main">
                        <div class="queue-scale__cols">
                            <div class="queue-scale__cols-item">
                                <div class="queue-scale-item">
                                    <div class="queue-scale-item__wrapper">
                                        <div class="queue-scale-item__side">
                                            <svg width="147" height="103" viewBox="0 0 147 103" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.27083 1.49999V-7.62939e-06H7.85452L7.7733 1.41397L9.27083 1.49999ZM6.29167 53.3646L4.79414 53.2786L4.72649 54.4562L5.85493 54.7996L6.29167 53.3646ZM21.8646 58.1042L21.4278 59.5392L22.2577 59.7917L22.8905 59.1985L21.8646 58.1042ZM35.1354 53.0938L35.1854 51.5946L35.1751 51.5942L35.1648 51.594L35.1354 53.0938ZM45.9688 57.5625L44.9081 58.6232V58.6232L45.9688 57.5625ZM45.9688 79.0938L47.0032 80.18L47.0165 80.1673L47.0294 80.1544L45.9688 79.0938ZM24.4375 78.9583L25.4982 77.8977L25.4785 77.878L25.4582 77.8591L24.4375 78.9583ZM20.5104 72.1875L21.961 71.8058L21.5779 70.3497L20.1232 70.7383L20.5104 72.1875ZM2.77083 76.9271L2.38365 75.4779L0.909307 75.8718L1.32855 77.3392L2.77083 76.9271ZM11.7083 91.6875L12.7452 90.6035L12.7392 90.5978L12.7331 90.5921L11.7083 91.6875ZM35.1354 100.76L35.0878 99.2612L35.0871 99.2612L35.1354 100.76ZM58.6979 91.8229L59.7231 92.918L59.7289 92.9124L59.7348 92.9069L58.6979 91.8229ZM68.9896 68.2604L70.4894 68.2835V68.2831L68.9896 68.2604ZM59.1042 44.2917L60.1111 43.1799L60.0907 43.1614L60.0696 43.1436L59.1042 44.2917ZM24.3021 39.9583L22.8045 39.8725L22.652 42.5335L25.0058 41.283L24.3021 39.9583ZM25.5208 18.6979V17.1979H24.1044L24.0233 18.6121L25.5208 18.6979ZM62.4896 18.6979V20.1979H63.9896V18.6979H62.4896ZM62.4896 1.49999H63.9896V-7.62939e-06H62.4896V1.49999ZM7.7733 1.41397L4.79414 53.2786L7.7892 53.4506L10.7684 1.58601L7.7733 1.41397ZM5.85493 54.7996L21.4278 59.5392L22.3013 56.6692L6.72841 51.9296L5.85493 54.7996ZM22.8905 59.1985C24.8888 57.3251 28.7264 54.4684 35.106 54.5935L35.1648 51.594C27.7319 51.4483 23.1737 54.8207 20.8387 57.0099L22.8905 59.1985ZM35.0854 54.5929C38.8246 54.7176 42.3712 56.0863 44.9081 58.6232L47.0294 56.5018C43.8788 53.3512 39.5712 51.7408 35.1854 51.5946L35.0854 54.5929ZM44.9081 58.6232C47.4738 61.1888 48.9375 64.7357 48.9375 68.2604H51.9375C51.9375 63.931 50.1513 59.6237 47.0294 56.5018L44.9081 58.6232ZM48.9375 68.2604C48.9375 71.9276 47.4688 75.4724 44.9081 78.0331L47.0294 80.1544C50.1563 77.0276 51.9375 72.7182 51.9375 68.2604H48.9375ZM44.9343 78.0075C42.3645 80.455 38.806 81.9271 35.1354 81.9271V84.9271C39.5899 84.9271 43.8855 83.1492 47.0032 80.18L44.9343 78.0075ZM35.1354 81.9271C31.6107 81.9271 28.0638 80.4633 25.4982 77.8977L23.3768 80.019C26.4987 83.1408 30.806 84.9271 35.1354 84.9271V81.9271ZM25.4582 77.8591C23.799 76.3185 22.5762 74.1434 21.961 71.8058L19.0598 72.5692C19.7988 75.3774 21.2843 78.0773 23.4168 80.0575L25.4582 77.8591ZM20.1232 70.7383L2.38365 75.4779L3.15802 78.3763L20.8976 73.6367L20.1232 70.7383ZM1.32855 77.3392C3.02588 83.2798 6.28098 88.6643 10.6836 92.7829L12.7331 90.5921C8.73985 86.8565 5.76579 81.9493 4.21312 76.515L1.32855 77.3392ZM10.6715 92.7715C17.1866 99.0033 26.3778 102.544 35.1838 102.26L35.0871 99.2612C27.1014 99.5188 18.6884 96.2884 12.7452 90.6035L10.6715 92.7715ZM35.183 102.26C43.9757 101.981 53.0261 99.1875 59.7231 92.918L57.6728 90.7279C51.6406 96.375 43.3576 98.9986 35.0878 99.2612L35.183 102.26ZM59.7348 92.9069C66.2501 86.6748 70.3477 77.4922 70.4894 68.2835L67.4898 68.2373C67.3606 76.6328 63.604 85.0544 57.6611 90.739L59.7348 92.9069ZM70.4894 68.2831C70.6301 58.9976 67.6651 50.0212 60.1111 43.1799L58.0972 45.4035C64.8974 51.5621 67.6199 59.6482 67.4898 68.2377L70.4894 68.2831ZM60.0696 43.1436C53.8317 37.8981 45.6327 35.0729 37.8438 35.0729V38.0729C44.9507 38.0729 52.46 40.6643 58.1388 45.4397L60.0696 43.1436ZM37.8438 35.0729C33.4168 35.0729 28.1624 36.209 23.5984 38.6337L25.0058 41.283C29.1085 39.1035 33.8749 38.0729 37.8438 38.0729V35.0729ZM25.7996 40.0442L27.0184 18.7838L24.0233 18.6121L22.8045 39.8725L25.7996 40.0442ZM25.5208 20.1979H62.4896V17.1979H25.5208V20.1979ZM63.9896 18.6979V1.49999H60.9896V18.6979H63.9896ZM62.4896 -7.62939e-06H9.27083V2.99999H62.4896V-7.62939e-06ZM144.789 43.0729H146.289V41.5729H144.789V43.0729ZM121.497 43.0729H119.997V44.5729H121.497V43.0729ZM121.497 19.7812H122.997V18.2812H121.497V19.7812ZM107.279 19.7812V18.2812H105.779V19.7812H107.279ZM107.279 43.0729V44.5729H108.779V43.0729H107.279ZM83.8516 43.0729V41.5729H82.3516V43.0729H83.8516ZM83.8516 57.2917H82.3516V58.7917H83.8516V57.2917ZM107.279 57.2917H108.779V55.7917H107.279V57.2917ZM107.279 80.7188H105.779V82.2188H107.279V80.7188ZM121.497 80.7188V82.2188H122.997V80.7188H121.497ZM121.497 57.2917V55.7917H119.997V57.2917H121.497ZM144.789 57.2917V58.7917H146.289V57.2917H144.789ZM144.789 41.5729H121.497V44.5729H144.789V41.5729ZM122.997 43.0729V19.7812H119.997V43.0729H122.997ZM121.497 18.2812H107.279V21.2812H121.497V18.2812ZM105.779 19.7812V43.0729H108.779V19.7812H105.779ZM107.279 41.5729H83.8516V44.5729H107.279V41.5729ZM82.3516 43.0729V57.2917H85.3516V43.0729H82.3516ZM83.8516 58.7917H107.279V55.7917H83.8516V58.7917ZM105.779 57.2917V80.7188H108.779V57.2917H105.779ZM107.279 82.2188H121.497V79.2188H107.279V82.2188ZM122.997 80.7188V57.2917H119.997V80.7188H122.997ZM121.497 58.7917H144.789V55.7917H121.497V58.7917ZM146.289 57.2917V43.0729H143.289V57.2917H146.289Z"
                                                      fill="#274DAC"/>
                                            </svg>
                                        </div>
                                        <div class="queue-scale-item__main">стоек регистрации</div>
                                    </div>
                                </div>
                            </div>
                            <div class="queue-scale__cols-item">
                                <div class="queue-scale-item">
                                    <div class="queue-scale-item__wrapper">
                                        <div class="queue-scale-item__side">
                                            <svg width="239" height="106" viewBox="0 0 239 106" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M63.4896 52.1667L64.7514 51.3555L64.7187 51.3047L64.682 51.2567L63.4896 52.1667ZM47.375 40.9271L46.333 39.8481L44.4788 41.6388L46.9518 42.3661L47.375 40.9271ZM67.1458 21.8333L68.1879 22.9123L68.6458 22.47V21.8333H67.1458ZM67.1458 4.49999H68.6458V2.99999H67.1458V4.49999ZM6.20833 4.49999V2.99999H4.70833V4.49999H6.20833ZM6.20833 21.8333H4.70833V23.3333H6.20833V21.8333ZM45.3438 21.8333L46.3017 22.9876L49.5 20.3333H45.3438V21.8333ZM19.0729 43.6354L18.115 42.4811L17.1465 43.2849L17.7698 44.3783L19.0729 43.6354ZM27.3333 58.125L26.0302 58.8679L26.7833 60.1888L28.0939 59.4179L27.3333 58.125ZM45.75 81.9583L46.8107 83.019V83.019L45.75 81.9583ZM24.0833 81.9583L23.0227 83.019V83.019L24.0833 81.9583ZM20.2917 75.1875L21.7423 74.8058L21.3598 73.3524L19.9072 73.7376L20.2917 75.1875ZM2.41667 79.9271L2.03222 78.4772L0.554347 78.869L0.974381 80.3392L2.41667 79.9271ZM11.3542 94.6875L12.3793 93.5925L12.3789 93.5921L11.3542 94.6875ZM34.9167 103.76L34.9643 105.26L34.9167 103.76ZM58.4792 94.8229L59.5043 95.918L58.4792 94.8229ZM68.9062 71.2604L70.4047 71.3296L70.4051 71.3204L68.9062 71.2604ZM64.682 51.2567C60.5854 45.8887 55.0467 41.6199 47.7983 39.488L46.9518 42.3661C53.5158 44.2967 58.5396 48.1529 62.2972 53.0767L64.682 51.2567ZM48.417 42.0061L68.1879 22.9123L66.1038 20.7544L46.333 39.8481L48.417 42.0061ZM68.6458 21.8333V4.49999H65.6458V21.8333H68.6458ZM67.1458 2.99999H6.20833V5.99999H67.1458V2.99999ZM4.70833 4.49999V21.8333H7.70833V4.49999H4.70833ZM6.20833 23.3333H45.3438V20.3333H6.20833V23.3333ZM44.3858 20.6791L18.115 42.4811L20.0309 44.7897L46.3017 22.9876L44.3858 20.6791ZM17.7698 44.3783L26.0302 58.8679L28.6364 57.3821L20.376 42.8925L17.7698 44.3783ZM28.0939 59.4179C30.2015 58.1781 32.5147 57.4583 34.9167 57.4583V54.4583C31.902 54.4583 29.0694 55.3635 26.5728 56.8321L28.0939 59.4179ZM34.9167 57.4583C38.6673 57.4583 42.047 58.5745 44.6893 61.2169L46.8107 59.0956C43.4947 55.7796 39.291 54.4583 34.9167 54.4583V57.4583ZM44.6893 61.2169C47.3597 63.8873 48.7188 67.5551 48.7188 71.2604H51.7188C51.7188 66.8407 50.0986 62.3835 46.8107 59.0956L44.6893 61.2169ZM48.7188 71.2604C48.7188 74.7852 47.255 78.332 44.6893 80.8977L46.8107 83.019C49.9325 79.8971 51.7188 75.5898 51.7188 71.2604H48.7188ZM44.6893 80.8977C42.1287 83.4583 38.5839 84.9271 34.9167 84.9271V87.9271C39.3745 87.9271 43.6838 86.1458 46.8107 83.019L44.6893 80.8977ZM34.9167 84.9271C31.2495 84.9271 27.7047 83.4583 25.144 80.8977L23.0227 83.019C26.1495 86.1458 30.4589 87.9271 34.9167 87.9271V84.9271ZM25.144 80.8977C23.4598 79.2135 22.3609 77.1565 21.7423 74.8058L18.8411 75.5692C19.5766 78.3643 20.9152 80.9115 23.0227 83.019L25.144 80.8977ZM19.9072 73.7376L2.03222 78.4772L2.80111 81.377L20.6761 76.6374L19.9072 73.7376ZM0.974381 80.3392C2.67172 86.2798 5.92682 91.6643 10.3294 95.7829L12.3789 93.5921C8.38569 89.8565 5.41162 84.9493 3.85895 79.515L0.974381 80.3392ZM10.329 95.7825C16.97 102 26.0178 105.544 34.9643 105.26L34.8691 102.261C26.753 102.519 18.4675 99.2921 12.3793 93.5925L10.329 95.7825ZM34.9643 105.26C43.757 104.981 52.8073 102.187 59.5043 95.918L57.454 93.7279C51.4219 99.375 43.1389 101.999 34.8691 102.261L34.9643 105.26ZM59.5043 95.918C66.1878 89.6611 69.9826 80.4739 70.4047 71.3296L67.4078 71.1913C67.0174 79.6511 63.4997 88.0681 57.454 93.7279L59.5043 95.918ZM70.4051 71.3204C70.6895 64.2089 68.5555 57.273 64.7514 51.3555L62.2278 52.9778C65.7362 58.4353 67.6647 64.7703 67.4075 71.2005L70.4051 71.3204ZM94.7201 92.1146L93.547 93.0494L93.5618 93.068L93.5771 93.0861L94.7201 92.1146ZM94.7201 14.25L93.5711 13.2857L93.5607 13.2981L93.5505 13.3108L94.7201 14.25ZM122.616 2.46874L122.579 3.96828L122.617 3.96923L122.655 3.96822L122.616 2.46874ZM150.512 14.25L149.37 15.2231L150.512 14.25ZM150.512 92.1146L151.647 93.0955L151.654 93.0871L151.661 93.0785L150.512 92.1146ZM122.616 19.8021L122.583 21.3017L122.616 21.3024L122.648 21.3017L122.616 19.8021ZM107.585 28.6042L108.875 29.3689L108.883 29.3551L108.891 29.3411L107.585 28.6042ZM107.991 78.5729L109.239 77.7408L109.233 77.7316L107.991 78.5729ZM122.616 86.5625L122.65 85.0629L122.615 85.0621L122.581 85.0629L122.616 86.5625ZM137.376 78.4375L136.141 77.5859L136.121 77.6153L136.102 77.6456L137.376 78.4375ZM137.918 28.7396L139.26 28.0688L139.246 28.0425L139.232 28.0167L137.918 28.7396ZM122.616 102.396C112.642 102.396 102.413 98.8495 95.863 91.1431L93.5771 93.0861C100.839 101.63 112.007 105.396 122.616 105.396V102.396ZM95.8931 91.1798C92.5447 86.9778 90.5835 83.1929 89.4438 79.1479C88.2974 75.0791 87.9596 70.6698 87.9596 65.1667H84.9596C84.9596 70.7677 85.2989 75.499 86.5562 79.9615C87.8202 84.4477 89.9891 88.5847 93.547 93.0494L95.8931 91.1798ZM87.9596 65.1667V41.1979H84.9596V65.1667H87.9596ZM87.9596 41.1979C87.9596 35.816 88.2316 31.4762 89.3452 27.4091C90.4512 23.3698 92.41 19.5223 95.8896 15.1892L93.5505 13.3108C89.853 17.9152 87.6816 22.125 86.4517 26.6169C85.2294 31.0811 84.9596 35.7464 84.9596 41.1979H87.9596ZM95.869 15.2143C101.907 8.02052 112.011 3.70736 122.579 3.96828L122.653 0.9692C111.283 0.688465 100.263 5.31281 93.5711 13.2857L95.869 15.2143ZM122.655 3.96822C132.573 3.70723 142.67 7.36364 149.37 15.2231L151.653 13.2769C144.27 4.61551 133.242 0.688599 122.576 0.969261L122.655 3.96822ZM149.37 15.2231C156.077 23.0902 157.272 30.2485 157.272 41.1979H160.272C160.272 29.939 159.03 21.9306 151.653 13.2769L149.37 15.2231ZM157.272 41.1979V65.1667H160.272V41.1979H157.272ZM157.272 65.1667C157.272 75.5758 156.076 83.146 149.362 91.1507L151.661 93.0785C159.031 84.2915 160.272 75.8825 160.272 65.1667H157.272ZM149.377 91.1337C142.81 98.7311 133.239 102.396 122.616 102.396V105.396C133.93 105.396 144.401 101.477 151.647 93.0955L149.377 91.1337ZM122.649 18.3025C115.961 18.1538 109.508 22.1416 106.278 27.8672L108.891 29.3411C111.62 24.5043 117.084 21.1795 122.583 21.3017L122.649 18.3025ZM106.294 27.8395C103.892 31.8938 103.783 36.0851 103.783 41.1979H106.783C106.783 36.0191 106.944 32.6271 108.875 29.3689L106.294 27.8395ZM103.783 41.1979V65.1667H106.783V41.1979H103.783ZM103.783 65.1667C103.783 69.6635 103.601 74.7676 106.749 79.4142L109.233 77.7316C106.693 73.9824 106.783 69.8781 106.783 65.1667H103.783ZM106.743 79.405C110.241 84.6521 116.251 88.2109 122.651 88.0621L122.581 85.0629C117.335 85.1849 112.241 82.2437 109.239 77.7409L106.743 79.405ZM122.582 88.0621C129.097 88.2102 135.27 84.6673 138.65 79.2294L136.102 77.6456C133.254 82.2285 128.051 85.1856 122.65 85.0629L122.582 88.0621ZM138.611 79.2891C141.632 74.9095 141.449 70.8813 141.449 65.1667H138.449C138.449 71.0979 138.538 74.1113 136.141 77.5859L138.611 79.2891ZM141.449 65.1667V41.1979H138.449V65.1667H141.449ZM141.449 41.1979C141.449 36.3934 141.747 33.0437 139.26 28.0688L136.576 29.4104C138.693 33.6438 138.449 36.2525 138.449 41.1979H141.449ZM139.232 28.0167C135.994 22.1288 129.392 18.1544 122.583 18.3024L122.648 21.3017C128.298 21.1789 133.884 24.517 136.604 29.4625L139.232 28.0167ZM237.322 46.0729H238.822V44.5729H237.322V46.0729ZM214.031 46.0729H212.531V47.5729H214.031V46.0729ZM214.031 22.7812H215.531V21.2812H214.031V22.7812ZM199.812 22.7812V21.2812H198.312V22.7812H199.812ZM199.812 46.0729V47.5729H201.312V46.0729H199.812ZM176.385 46.0729V44.5729H174.885V46.0729H176.385ZM176.385 60.2917H174.885V61.7917H176.385V60.2917ZM199.812 60.2917H201.312V58.7917H199.812V60.2917ZM199.812 83.7188H198.312V85.2188H199.812V83.7188ZM214.031 83.7188V85.2188H215.531V83.7188H214.031ZM214.031 60.2917V58.7917H212.531V60.2917H214.031ZM237.322 60.2917V61.7917H238.822V60.2917H237.322ZM237.322 44.5729H214.031V47.5729H237.322V44.5729ZM215.531 46.0729V22.7812H212.531V46.0729H215.531ZM214.031 21.2812H199.812V24.2812H214.031V21.2812ZM198.312 22.7812V46.0729H201.312V22.7812H198.312ZM199.812 44.5729H176.385V47.5729H199.812V44.5729ZM174.885 46.0729V60.2917H177.885V46.0729H174.885ZM176.385 61.7917H199.812V58.7917H176.385V61.7917ZM198.312 60.2917V83.7188H201.312V60.2917H198.312ZM199.812 85.2188H214.031V82.2188H199.812V85.2188ZM215.531 83.7188V60.2917H212.531V83.7188H215.531ZM214.031 61.7917H237.322V58.7917H214.031V61.7917ZM238.822 60.2917V46.0729H235.822V60.2917H238.822Z"
                                                      fill="#274DAC"/>
                                            </svg>
                                        </div>
                                        <div class="queue-scale-item__main">менеджеров</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="queue-arch">
                    <div class="queue-arch__title">
                        <div class="title-medium">Архитектура решения</div>
                    </div>
                    <div class="queue-arch__desc">
                        Предлагаем ознакомиться с архитектурной схемой электронной <br> очереди и алгоритмом
                        распределения
                        заявок между сотрудниками.
                    </div>
                    <div class="queue-arch__link">
                        <a href="#" class="link-arrow"> Посмотреть Архитектуру ПО электронной очереди</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sections__item block">
            <div class="block-wrapper">
                <div class="section-delimiter"></div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="title-medium">
                    Для кого
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Наша электронная очередь может использоваться в любых государственных <br>
                    и коммерческих организациях, реализующих любые товары или услуги<br>
                    и стремящихся ускорить и оптимизировать клиентские потоки.
                </div>
                <div class="info-grid info-grid_4x">
                    <div class="info-grid__wrapper">

                        {% set list = [
                            { img: '/images/queue/us-1.svg', title: 'Банки <br> и кредитные организации' },
                            { img: '/images/queue/us-2.svg', title: 'Гос. учреждения — МФЦ, ФНС, <br> ГИБДД, ПФР и т. д.' },
                            { img: '/images/queue/us-3.svg', title: 'Мед-учреждения — больницы, <br> лаборатории, частные клиники' },
                            { img: '/images/queue/us-4.svg', title: 'Общественные приемные, <br> консультационные центры' },
                            { img: '/images/queue/us-5.svg', title: 'Коммерческие <br> предприятия' },
                            { img: '/images/queue/us-6.svg', title: 'Сервисные <br> центры' },
                            { img: '/images/queue/us-7.svg', title: 'Консалтинговые <br> компании' },
                            { img: '/images/queue/us-8.svg', title: 'Страховые <br> компании' },
                            { img: '/images/queue/us-9.svg', title: 'Офисы управляющих <br> компаний ЖКХ' },
                            { img: '/images/queue/us-10.svg', title: 'Фаст-фуд, кафе, <br> столовые' },
                            { img: '/images/queue/us-11.svg', title: 'Пункты выдачи <br> товаров' },
                            { img: '/images/queue/us-12.svg', title: 'Авиа и ж/д <br> билетные кассы' },
                            { img: '/images/queue/us-13.svg', title: 'ВУЗы, <br> прочие учебные заведения' }
                        ] %}

                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_min-small">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count">
                                                <img src="{{ item.img }}" alt="">
                                            </div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-xxxxlarge -index-1">
            <div class="section-color section-color_black_simple section-color_kiosks block block_padding-top_large block_padding-bottom_xlarge">
                <div class="section-color__wrapper block-wrapper">
                    <div class="title-medium title-medium_white">
                        Типовые сценарии <br> применения
                    </div>
                    <div class="scenario-item scenario-item_fitness scenario-item_number-orange-dark scenario-item--one scenario-item-queue-1">
                        <div class="scenario-item__number">
                            <svg width="40" height="100" viewBox="0 0 40 100" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.4063 1.49999V0.499992H19.1293L18.8918 0.642499L19.4063 1.49999ZM1.125 12.4687L0.610504 11.6113L0.125 11.9026V12.4687H1.125ZM1.125 32.7812H0.125V34.5699L1.64875 33.6331L1.125 32.7812ZM19.4063 21.5417H20.4063V19.753L18.8825 20.6898L19.4063 21.5417ZM19.4063 99H18.4063V100H19.4063V99ZM38.2292 99V100H39.2292V99H38.2292ZM38.2292 1.49999H39.2292V0.499992H38.2292V1.49999ZM18.8918 0.642499L0.610504 11.6113L1.6395 13.3262L19.9207 2.35749L18.8918 0.642499ZM0.125 12.4687V32.7812H2.125V12.4687H0.125ZM1.64875 33.6331L19.93 22.3935L18.8825 20.6898L0.601255 31.9294L1.64875 33.6331ZM18.4063 21.5417V99H20.4063V21.5417H18.4063ZM19.4063 100H38.2292V98H19.4063V100ZM39.2292 99V1.49999H37.2292V99H39.2292ZM38.2292 0.499992H19.4063V2.49999H38.2292V0.499992Z"
                                      fill="#274DAC" fill-opacity="0.8"/>
                            </svg>
                        </div>
                        <div class="scenario-item__wrapper">
                            <div class="scenario-item__main">
                                <div class="scenario-item__title">Выдача талонов</div>
                                <div class="scenario-item__desc-wrapper">
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__subtitle">Описание процесса:</div>
                                        <div class="scenario-item__text">
                                            <p>
                                                Клиент использует стойку регистрации (киоск или инфомат) для получения
                                                информации о необходимой услуге, специалисте, кабинете.
                                            </p>
                                            <p>
                                                После совершения выбора данные об очередном клиенте передаются в систему
                                                и посетитель направляется к соответствующему рабочему месту оператора с
                                                учетом установленного заказчиком алгоритма.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="scenario-item__side scenario-item__side_phone-large">
                                <div class="scenario-item__img">
                                    <img src="/images/queue/case-1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large products-sections__item_gap-large  block">
            <div class="block-wrapper">
                <div class="scenario-item scenario-item_queue_site scenario-item_digital scenario-item_fitness scenario-item_ticket-transport scenario-item_color-dark scenario-item_number-orange-dark scenario-item--two  scenario-item--two-right scenario-item-queue-2">
                    <div class="scenario-item__wrapper">
                        <div class="scenario-item__side scenario-item__side_bus">
                            <div class="scenario-item__img">
                                <img src="/images/queue/case-2.png" alt="">
                            </div>
                        </div>
                        <div class="scenario-item__main">
                            <div class="scenario-item__number">
                                <svg width="72" height="102" viewBox="0 0 72 102" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.17708 34.1042L1.178 34.147L1.21902 35.1042H2.17708V34.1042ZM21.1354 34.1042V35.1042H22.1682L22.1349 34.0719L21.1354 34.1042ZM25.875 22.8646L25.1863 22.1396L25.1845 22.1412L25.875 22.8646ZM48.0833 24.3542L48.8606 23.725L48.8586 23.7225L48.0833 24.3542ZM43.0729 48.5938L43.7188 49.3572L43.7196 49.3565L43.0729 48.5938ZM1.77083 83.5312L1.125 82.7678L0.770833 83.0674V83.5312H1.77083ZM1.77083 100.865H0.770833V101.865H1.77083V100.865ZM68.3958 100.865V101.865H69.3958V100.865H68.3958ZM68.3958 83.5312H69.3958V82.5312H68.3958V83.5312ZM31.0208 83.5312L30.3681 82.7737L28.3283 84.5312H31.0208V83.5312ZM52.5521 64.9792L53.2048 65.7367L53.2087 65.7334L52.5521 64.9792ZM62.7083 12.7083L61.9183 13.3213L61.9343 13.3421L61.9515 13.362L62.7083 12.7083ZM13.1458 9.1875L12.4862 8.43587L12.4842 8.43766L13.1458 9.1875ZM2.17708 35.1042H21.1354V33.1042H2.17708V35.1042ZM22.1349 34.0719C22.0095 30.1838 23.773 26.2535 26.5655 23.5879L25.1845 22.1412C22.0187 25.1632 19.9905 29.6287 20.1359 34.1364L22.1349 34.0719ZM26.5638 23.5896C29.0887 21.1909 32.4992 19.8021 36.0312 19.8021V17.8021C31.9799 17.8021 28.078 19.3924 25.1863 22.1396L26.5638 23.5896ZM36.0312 19.8021C40.6262 19.8021 44.5315 21.5782 47.3081 24.9858L48.8586 23.7225C45.6768 19.8176 41.1863 17.8021 36.0312 17.8021V19.8021ZM47.3061 24.9834C49.448 27.6293 50.4688 30.9209 50.4688 34.2396H52.4688C52.4688 30.5166 51.3228 26.7666 48.8606 23.725L47.3061 24.9834ZM50.4688 34.2396C50.4688 38.0505 48.5137 42.6699 42.4262 47.831L43.7196 49.3565C50.0905 43.9551 52.4688 38.8245 52.4688 34.2396H50.4688ZM42.4271 47.8303L1.125 82.7678L2.41666 84.2947L43.7188 49.3572L42.4271 47.8303ZM0.770833 83.5312V100.865H2.77083V83.5312H0.770833ZM1.77083 101.865H68.3958V99.8646H1.77083V101.865ZM69.3958 100.865V83.5312H67.3958V100.865H69.3958ZM68.3958 82.5312H31.0208V84.5312H68.3958V82.5312ZM31.6736 84.2888L53.2048 65.7367L51.8993 64.2216L30.3681 82.7737L31.6736 84.2888ZM53.2087 65.7334C58.9568 60.7291 63.5276 56.4827 66.6432 51.7136C69.7878 46.9 71.4271 41.5948 71.4271 34.5104H69.4271C69.4271 41.2385 67.884 46.1573 64.9688 50.6197C62.0245 55.1266 57.6578 59.2084 51.8955 64.2249L53.2087 65.7334ZM71.4271 34.5104C71.4271 26.4508 68.7891 18.2192 63.4652 12.0547L61.9515 13.362C66.9193 19.1141 69.4271 26.8617 69.4271 34.5104H71.4271ZM63.4984 12.0953C57.1637 3.93057 47.3493 0.468742 37.1146 0.468742V2.46874C46.9216 2.46874 56.0655 5.77775 61.9183 13.3213L63.4984 12.0953ZM37.1146 0.468742C28.7322 0.468742 19.378 2.38799 12.4862 8.43587L13.8054 9.93913C20.1845 4.34117 28.9761 2.46874 37.1146 2.46874V0.468742ZM12.4842 8.43766C5.3752 14.7103 0.757534 24.3361 1.178 34.147L3.17617 34.0613C2.78413 24.9139 7.10397 15.8522 13.8075 9.93734L12.4842 8.43766Z" fill="#274DAC" fill-opacity="0.8"/>
                                </svg>
                            </div>
                            <div class="scenario-item__title">Развертывание веб-сайта
                            </div>
                            <div class="scenario-item__desc-wrapper">
                                <div class="scenario-item__desc scenario-item__desc_gap-none">
                                    <div class="scenario-item__text">
                                        <p>
                                            Интерфейс стойки регистрации может выступать площадкой для развертывания
                                            сайта онлайн-записи или регистратуры.
                                        </p>
                                        <p>
                                            В таком случае посетитель может не только вставать в очередь на месте, но и
                                            удаленно бронировать посещение через веб- или мобильное приложение, а затем
                                            авторизовываться
                                            на киоске для подтверждения электронной брони или получения бумажного
                                            талона.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-xxlarge -index-1">
            <div class="section-color  section-color_top_offset section-color_black_simple section-color_kiosks block block_padding-top_large block_padding-bottom_xlarge">

                <div class="section-color__wrapper block-wrapper">
                    <div class="scenario-item scenario-item_fitness scenario-item_number-orange-dark scenario-item--three scenario-item-queue-3">
                        <div class="scenario-item__number">
                            <svg width="69" height="102" viewBox="0 0 69 102" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M62.4896 49.1667L63.3308 48.6259L63.309 48.592L63.2845 48.56L62.4896 49.1667ZM46.375 37.9271L45.6934 37.1954L44.4095 38.3913L46.0928 38.8864L46.375 37.9271ZM66.1458 19.5104L66.8274 20.2421L67.1458 19.9455V19.5104H66.1458ZM66.1458 1.49999H67.1458V0.499992H66.1458V1.49999ZM5.20833 1.49999V0.499992H4.20833V1.49999H5.20833ZM5.20833 18.8333H4.20833V19.8333H5.20833V18.8333ZM41.6354 18.8333L42.3146 19.5673L44.1886 17.8333H41.6354V18.8333ZM18.0729 40.6354L17.3938 39.9014L16.8109 40.4408L17.2042 41.1307L18.0729 40.6354ZM26.3333 55.125L25.4646 55.6203L25.9666 56.5009L26.8404 55.9869L26.3333 55.125ZM44.75 78.9583L45.4571 79.6654L44.75 78.9583ZM23.0833 78.9583L22.3762 79.6654L23.0833 78.9583ZM19.2917 72.1875L20.2587 71.933L20.0038 70.9641L19.0354 71.2209L19.2917 72.1875ZM1.41667 76.9271L1.16037 75.9605L0.17512 76.2217L0.455143 77.2018L1.41667 76.9271ZM10.3542 91.6875L11.0376 90.9575L11.0373 90.9572L10.3542 91.6875ZM33.9167 100.76L33.9484 101.76L33.9167 100.76ZM57.4792 91.8229L58.1626 92.5529L57.4792 91.8229ZM67.9062 68.2604L68.9052 68.3065L68.9055 68.3004L67.9062 68.2604ZM63.2845 48.56C59.2445 43.2661 53.7915 39.0661 46.6572 36.9677L46.0928 38.8864C52.771 40.8506 57.8806 44.7756 61.6946 49.7733L63.2845 48.56ZM47.0566 38.6588L66.8274 20.2421L65.4642 18.7787L45.6934 37.1954L47.0566 38.6588ZM67.1458 19.5104V1.49999H65.1458V19.5104H67.1458ZM66.1458 0.499992H5.20833V2.49999H66.1458V0.499992ZM4.20833 1.49999V18.8333H6.20833V1.49999H4.20833ZM5.20833 19.8333H41.6354V17.8333H5.20833V19.8333ZM40.9563 18.0993L17.3938 39.9014L18.7521 41.3694L42.3146 19.5673L40.9563 18.0993ZM17.2042 41.1307L25.4646 55.6203L27.2021 54.6297L18.9417 40.1401L17.2042 41.1307ZM26.8404 55.9869C29.0128 54.709 31.4126 53.9583 33.9167 53.9583V51.9583C31.0041 51.9583 28.2581 52.8326 25.8263 54.2631L26.8404 55.9869ZM33.9167 53.9583C37.7713 53.9583 41.2882 55.1087 44.0429 57.8634L45.4571 56.4491C42.2534 53.2455 38.1871 51.9583 33.9167 51.9583V53.9583ZM44.0429 57.8634C46.8162 60.6367 48.2188 64.436 48.2188 68.2604H50.2188C50.2188 63.9598 48.6421 59.6342 45.4571 56.4491L44.0429 57.8634ZM48.2188 68.2604C48.2188 71.9193 46.7012 75.5929 44.0429 78.2512L45.4571 79.6654C48.4863 76.6363 50.2188 72.4557 50.2188 68.2604H48.2188ZM44.0429 78.2512C41.3879 80.9062 37.7156 82.4271 33.9167 82.4271V84.4271C38.2427 84.4271 42.4246 82.6979 45.4571 79.6654L44.0429 78.2512ZM33.9167 82.4271C30.1177 82.4271 26.4455 80.9062 23.7904 78.2512L22.3762 79.6654C25.4087 82.6979 29.5906 84.4271 33.9167 84.4271V82.4271ZM23.7904 78.2512C22.0357 76.4965 20.8969 74.3578 20.2587 71.933L18.3246 72.442C19.0406 75.163 20.3393 77.6285 22.3762 79.6654L23.7904 78.2512ZM19.0354 71.2209L1.16037 75.9605L1.67296 77.8937L19.548 73.1541L19.0354 71.2209ZM0.455143 77.2018C2.12837 83.0581 5.33663 88.363 9.67101 92.4178L11.0373 90.9572C6.97587 87.1578 3.95497 82.1711 2.37819 76.6524L0.455143 77.2018ZM9.67074 92.4175C16.2196 98.5483 25.1403 102.04 33.9484 101.76L33.8849 99.7609C25.6305 100.023 17.2179 96.7433 11.0376 90.9575L9.67074 92.4175ZM33.9484 101.76C42.654 101.484 51.5764 98.7187 58.1626 92.5529L56.7957 91.0929C50.6528 96.8438 42.2419 99.4956 33.8849 99.7609L33.9484 101.76ZM58.1626 92.5529C64.7398 86.3956 68.4884 77.3368 68.9052 68.3065L66.9073 68.2143C66.5116 76.7882 62.9477 85.3336 56.7957 91.0929L58.1626 92.5529ZM68.9055 68.3004C69.1854 61.3024 67.0856 54.4668 63.3308 48.6259L61.6484 49.7074C65.2061 55.2416 67.1688 61.6767 66.9071 68.2204L68.9055 68.3004Z" fill="#274DAC" fill-opacity="0.8"/>
                            </svg>

                        </div>
                        <div class="scenario-item__wrapper">
                            <div class="scenario-item__main">
                                <div class="scenario-item__title">Внедрение комплексных решений</div>
                                <div class="scenario-item__desc-wrapper">
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__text">
                                            <p>
                                                Объединение электронной очереди на базе устройств самообслуживания
                                                и электронных табло с системами контроля и управления доступа, системами
                                                голосового оповещения, системами оценки качества обслуживания на базе
                                                киоска с привязкой к ID сотрудника через сканирование QR-кодов на талоне
                                                и прочими системами автоматизации.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="scenario-item__side scenario-item__side_phone-large">
                                <div class="scenario-item__img">
                                    <img src="/images/queue/case-3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large  block">
            <div class="block-wrapper">
                <div class="scenario-item  scenario-item_digital scenario-item_fitness scenario-item_ticket-transport scenario-item_color-dark scenario-item_number-orange-dark scenario-item--two  scenario-item--four-right scenario-item-queue-4">
                    <div class="scenario-item__wrapper">
                        <div class="scenario-item__side scenario-item__side_bus">
                            <div class="scenario-item__img">
                                <img src="/images/queue/case-4.png" alt="">
                            </div>
                        </div>
                        <div class="scenario-item__main">
                            <div class="scenario-item__number">
                                <svg width="72" height="100" viewBox="0 0 72 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M62.1667 66.6354H61.1667V67.6354H62.1667V66.6354ZM62.1667 42.2604H63.1667V41.2604H62.1667V42.2604ZM43.4792 42.2604V41.2604H42.4792V42.2604H43.4792ZM43.4792 66.6354V67.6354H44.4792V66.6354H43.4792ZM20.8646 66.6354L19.9602 66.2086L19.2869 67.6354H20.8646V66.6354ZM51.6042 1.49999L52.5085 1.92678L53.1819 0.499992H51.6042V1.49999ZM32.5104 1.49999V0.499992H31.8766L31.6061 1.0732L32.5104 1.49999ZM1.77083 66.6354L0.866484 66.2086L0.770833 66.4113V66.6354H1.77083ZM1.77083 83.8333H0.770833V84.8333H1.77083V83.8333ZM43.4792 83.8333H44.4792V82.8333H43.4792V83.8333ZM43.4792 99H42.4792V100H43.4792V99ZM62.1667 99V100H63.1667V99H62.1667ZM62.1667 83.8333V82.8333H61.1667V83.8333H62.1667ZM70.8333 83.8333V84.8333H71.8333V83.8333H70.8333ZM70.8333 66.6354H71.8333V65.6354H70.8333V66.6354ZM63.1667 66.6354V42.2604H61.1667V66.6354H63.1667ZM62.1667 41.2604H43.4792V43.2604H62.1667V41.2604ZM42.4792 42.2604V66.6354H44.4792V42.2604H42.4792ZM43.4792 65.6354H20.8646V67.6354H43.4792V65.6354ZM21.7689 67.0622L52.5085 1.92678L50.6998 1.0732L19.9602 66.2086L21.7689 67.0622ZM51.6042 0.499992H32.5104V2.49999H51.6042V0.499992ZM31.6061 1.0732L0.866484 66.2086L2.67518 67.0622L33.4148 1.92678L31.6061 1.0732ZM0.770833 66.6354V83.8333H2.77083V66.6354H0.770833ZM1.77083 84.8333H43.4792V82.8333H1.77083V84.8333ZM42.4792 83.8333V99H44.4792V83.8333H42.4792ZM43.4792 100H62.1667V98H43.4792V100ZM63.1667 99V83.8333H61.1667V99H63.1667ZM62.1667 84.8333H70.8333V82.8333H62.1667V84.8333ZM71.8333 83.8333V66.6354H69.8333V83.8333H71.8333ZM70.8333 65.6354H62.1667V67.6354H70.8333V65.6354Z" fill="#274DAC" fill-opacity="0.8"/>
                                </svg>

                            </div>
                            <div class="scenario-item__title">Объединение СУО с умными системами
                            </div>
                            <div class="scenario-item__desc-wrapper">
                                <div class="scenario-item__desc scenario-item__desc_gap-none">
                                    <div class="scenario-item__text">
                                        <p>
                                            Построение высокоуровневых систем с контролем и фиксацией с момента первого
                                            взаимодействия посетителя с электронной очередью до выхода из здания.

                                        </p>
                                        <p>
                                            Отслеживание сроков оказания услуг, автоматическая навигация и распределение
                                            потоков между менее загруженными окнами или отделами на основе
                                            интеллектуальных технологий.

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="queue-solution">
                    <div class="queue-solution__side">
                        <div class="title-medium">
                            Дизайн решения
                        </div>
                    </div>
                    <div class="queue-solution__main">
                        <div js-queue-slider data-pages=3 class="queue-slider">
                            <div class="queue-slider__side">
                                <div class="queue-slider__nav">
                                    <div class="queue-slider__titles">
                                        <div js-queue-slider-title data-id=1
                                             class="queue-slider__titles-item is-active">Стойки регистрации
                                        </div>
                                        <div js-queue-slider-title data-id=2
                                             class="queue-slider__titles-item">Электронное табло
                                        </div>
                                        <div js-queue-slider-title data-id=3
                                             class="queue-slider__titles-item">Бэк-офис
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="queue-slider__main">
                                <div class="queue-slider__tabs">
                                    <div js-queue-slider-tab data-id=1
                                         class="queue-slider__tabs-item is-active">
                                        <div js-queue-content-slider data-pages=3
                                             class="queue-slider-content">
                                            <div class="queue-slider__controls">
                                                <div class="queue-slider__controls-item queue-slider__count">
                                                    <span js-queue-content-slider-counter>1</span>/3
                                                </div>
                                                <div class="queue-slider__controls-item queue-slider__arrows">
                                                    <div js-queue-content-slider-prev
                                                         class="queue-slider__arrows-item queue-slider__arrows-item_prev">
                                                        <svg width="26" height="18" viewBox="0 0 26 18" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                  d="M4.41617 10.244L10.1911 16.2956L8.56461 18L-0.000782013 9.02418L1.62566 7.3198L1.63122 7.32562L8.62188 0L10.2483 1.70438L4.3993 7.83366H25.1992V10.244H4.41617Z"
                                                                  fill="#1F4ABD"/>
                                                        </svg>
                                                    </div>
                                                    <div js-queue-content-slider-next
                                                         class="queue-slider__arrows-item queue-slider__arrows-item_next">
                                                        <svg width="26" height="18" viewBox="0 0 26 18" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                  d="M20.783 7.75598L15.0082 1.70438L16.6346 2.90849e-06L25.2 8.97582L23.5736 10.6802L23.568 10.6744L16.5773 18L14.9509 16.2956L20.7999 10.1663L1.36968e-06 10.1663L1.79112e-06 7.75598L20.783 7.75598Z"
                                                                  fill="#1F4ABD"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div js-queue-content-slider-tab data-id=1
                                                 class="queue-slider__tabs-item is-active">
                                                1
                                                <img src="/images/queue/example-1.jpg" alt="">
                                            </div>
                                            <div js-queue-content-slider-tab data-id=2
                                                 class="queue-slider__tabs-item">
                                                2
                                                <img src="/images/queue/example-2.jpg" alt="">
                                            </div>
                                            <div js-queue-content-slider-tab data-id=3
                                                 class="queue-slider__tabs-item">
                                                <div class="queue-slider-desc">
                                                    <div class="queue-slider-desc__wrapper">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
                                                        Accusantium, aliquam corporis dolores doloribus exercitationem
                                                        <br>
                                                        fugiat, ipsa labore libero molestiae nemo perspiciatis quas <br>
                                                        quasi quia quidem quis quisquam reiciendis vero voluptate. <br>
                                                    </div>
                                                </div>
                                                <img src="/images/queue/example-3.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div js-queue-slider-tab data-id=2
                                         class="queue-slider__tabs-item">
                                        <div js-queue-content-slider data-pages=3
                                             class="queue-slider-content">
                                            <div class="queue-slider__controls">
                                                <div class="queue-slider__controls-item queue-slider__count">
                                                    <span js-queue-content-slider-counter>1</span>/3
                                                </div>
                                                <div class="queue-slider__controls-item queue-slider__arrows">
                                                    <div js-queue-content-slider-prev
                                                         class="queue-slider__arrows-item queue-slider__arrows-item_prev">
                                                        <svg width="26" height="18" viewBox="0 0 26 18" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                  d="M4.41617 10.244L10.1911 16.2956L8.56461 18L-0.000782013 9.02418L1.62566 7.3198L1.63122 7.32562L8.62188 0L10.2483 1.70438L4.3993 7.83366H25.1992V10.244H4.41617Z"
                                                                  fill="#1F4ABD"/>
                                                        </svg>
                                                    </div>
                                                    <div js-queue-content-slider-next
                                                         class="queue-slider__arrows-item queue-slider__arrows-item_next">
                                                        <svg width="26" height="18" viewBox="0 0 26 18" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                  d="M20.783 7.75598L15.0082 1.70438L16.6346 2.90849e-06L25.2 8.97582L23.5736 10.6802L23.568 10.6744L16.5773 18L14.9509 16.2956L20.7999 10.1663L1.36968e-06 10.1663L1.79112e-06 7.75598L20.783 7.75598Z"
                                                                  fill="#1F4ABD"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div js-queue-content-slider-tab data-id=1
                                                 class="queue-slider__tabs-item is-active">
                                                21
                                                <img src="/images/queue/example-1.jpg" alt="">
                                            </div>
                                            <div js-queue-content-slider-tab data-id=2
                                                 class="queue-slider__tabs-item">
                                                22
                                                <img src="/images/queue/example-2.jpg" alt="">
                                            </div>
                                            <div js-queue-content-slider-tab data-id=3
                                                 class="queue-slider__tabs-item">
                                                <div class="queue-slider-desc">
                                                    <div class="queue-slider-desc__wrapper">
                                                        23Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
                                                        Accusantium, aliquam corporis dolores doloribus exercitationem
                                                        <br>
                                                        fugiat, ipsa labore libero molestiae nemo perspiciatis quas <br>
                                                        quasi quia quidem quis quisquam reiciendis vero voluptate. <br>
                                                    </div>
                                                </div>
                                                <img src="/images/queue/example-3.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div js-queue-slider-tab data-id=3
                                         class="queue-slider__tabs-item">
                                        <div js-queue-content-slider data-pages=3
                                             class="queue-slider-content">
                                            <div class="queue-slider__controls">
                                                <div class="queue-slider__controls-item queue-slider__count">
                                                    <span js-queue-content-slider-counter>1</span>/3
                                                </div>
                                                <div class="queue-slider__controls-item queue-slider__arrows">
                                                    <div js-queue-content-slider-prev
                                                         class="queue-slider__arrows-item queue-slider__arrows-item_prev">
                                                        <svg width="26" height="18" viewBox="0 0 26 18" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                  d="M4.41617 10.244L10.1911 16.2956L8.56461 18L-0.000782013 9.02418L1.62566 7.3198L1.63122 7.32562L8.62188 0L10.2483 1.70438L4.3993 7.83366H25.1992V10.244H4.41617Z"
                                                                  fill="#1F4ABD"/>
                                                        </svg>
                                                    </div>
                                                    <div js-queue-content-slider-next
                                                         class="queue-slider__arrows-item queue-slider__arrows-item_next">
                                                        <svg width="26" height="18" viewBox="0 0 26 18" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                  d="M20.783 7.75598L15.0082 1.70438L16.6346 2.90849e-06L25.2 8.97582L23.5736 10.6802L23.568 10.6744L16.5773 18L14.9509 16.2956L20.7999 10.1663L1.36968e-06 10.1663L1.79112e-06 7.75598L20.783 7.75598Z"
                                                                  fill="#1F4ABD"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div js-queue-content-slider-tab data-id=1
                                                 class="queue-slider__tabs-item is-active">
                                                31
                                                <img src="/images/queue/example-1.jpg" alt="">
                                            </div>
                                            <div js-queue-content-slider-tab data-id=2
                                                 class="queue-slider__tabs-item">
                                                32
                                                <img src="/images/queue/example-2.jpg" alt="">
                                            </div>
                                            <div js-queue-content-slider-tab data-id=3
                                                 class="queue-slider__tabs-item">
                                                <div class="queue-slider-desc">
                                                    <div class="queue-slider-desc__wrapper">
                                                        32 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                        <br>
                                                        Accusantium, aliquam corporis dolores doloribus exercitationem
                                                        <br>
                                                        fugiat, ipsa labore libero molestiae nemo perspiciatis quas <br>
                                                        quasi quia quidem quis quisquam reiciendis vero voluptate. <br>
                                                    </div>
                                                </div>
                                                <img src="/images/queue/example-3.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper block-wrapper_bg-left block_padding-top_large block_padding-bottom_xlarge">
                <div class="section-image section-image_messenger">
                    <div class="section-image__wrapper">
                        <div class="section-image__main">
                            <div class="title-medium">
                                Система технического<br> мониторинга
                            </div>
                            <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                                Система включает модуль технического мониторинга и модуль оповещения
                                о нештатных ситуациях. Заказчик может отслеживать в реальном времени актуальный статус
                                киоска, получать уведомления о технических проблемах в виде SMS/E-mail/Telegram
                                уведомлений и оперативно реагировать на них
                            </div>
                        </div>
                        <div class="section-image__side">
                            <div class="section-image__img">
                                <img src="/images/fast-food/phone-mg.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="block-wrapper block_padding-top_large">
                <div class="title-medium">
                    Система обновлений
                </div>

                <div class="update-system">
                    <div class="update-system__wrapper">
                        <div class="update-system__side">
                            <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                                Встроенная система обновлений позволяет оперативно вносить любые изменения
                                в ПО и загружать их на киоски по заданному расписанию.
                            </div>
                        </div>
                        <div class="update-system__main">
                            <div class="update-system__img">
                                <img src="/images/update-arrow.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="section-color section-color_blue-dark section-color_red section-color_bg-right section-color_navi block-wrapper block_padding-top_xlarge block_padding-bottom_large">
                <div class="section-color__wrapper">
                    <div class="title-medium title-medium_white">
                        Варианты<br> приобретения ПО
                    </div>
                    <div class="possibilitys-subtitle block-left block_gap_medium">
                        В зависимости от масштабов автоматизации, размеров заказчика и конечной цели применения решения,
                        возможны:
                    </div>
                    <div class="info-grid info-grid_2x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_white bank-advantage_low bank-advantage--one">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">
                                                    Покупка лицензии
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_white bank-advantage_low bank-advantage--two">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">
                                                    Использование ПО в облачном формате по ежемесячной/годовой подписке
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-color__line"></div>
                    <div class="possibilitys-subtitle possibilitys-subtitle_wide block-left block_gap_medium">
                        Благодаря различным вариантам приобретения ПО Pay-logic, наше решение подходит не только
                        розничным торговым точкам среднего масштаба и крупным торговым сетям, но и небольшим частным
                        магазинам любой площади.
                    </div>
                </div>
            </div>
        </div>
        <div class="sections__item block">
            <div class="block-wrapper">
                <div class="section-delimiter"></div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="additionally-resources">
                <div class="block-wrapper additionally-resources__wrapper">
                    <div class="additionally-resources__title">Дополнительные<br>ресурсы</div>
                    <div class="additionally-resources__list-wrapper">
                        <a href="#" class="resource-item resource-item_green">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_white-terminal"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Выбрать киоск</span>
                            </div>
                        </a>
                        <a href="#" class="resource-item resource-item_blue">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_clouds"></div>
                                    <div class="resource-item__image resource-item__image_cloud"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Облачный сервис</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                {% include 'modules/callback-tile.twig' with {
                    map: false,
                    title: 'Остались вопросы?',
                    desc: 'Оставьте заявку и наши специлисты свяжутся с вами в ближайшее время',
                    modifier: 'callback-tile__side_develop'
                } %}
            </div>
        </div>
    </div>
{% endblock %}
