{% extends "common/base.twig" %}

{% block header %}
    {% set headerTop = "is-dark is-side-light is-tablet-dark" %}
    {% include 'common/header.twig' with { headerTop: headerTop } %}
{% endblock %}

{% block body %}
    <div class="products-sections -relative">
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="product-intro product-intro_retail">
                    <div class="product-intro__wrapper">
                        <div class="product-intro__main">
                            <div class="product-intro__tag"></div>
                            <h1 class="product-intro__title product-intro__title_tablet_small">
                                Киоски самообслуживания для ритейла
                            </h1>
                            <div class="product-intro__desc">
                                <p>
                                    Краткое тематическое описание о предоставляемых<br>
                                    услугах
                                </p>
                            </div>
                        </div>
                        <div class="product-intro__side">
                            <div class="product-intro__billboard" style="background-image: url('images/retail/promo-main.png')"></div>
                            <div class="product-intro__logo">
                                <img src="images/soft-logic.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="offer block-wrapper block_padding-top_xlarge">
                <div class="offer__wrapper">
                    <div class="offer__title block-left block_gap_medium">
                        <div class="title-h3">Наша компания предлагает:</div>
                    </div>
                    <div class="offer__list">
                        <div class="offer-list">
                            <div class="offer-list__list">
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Готовое программно-аппаратное решение, включающее киоск самообслуживания и специализированное ПО
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img">
                                                        <img src="/images/retail/t-1.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Поставку специализированного софта для имеющегося у заказчика оборудования, с возможностью адаптации, доработки и кастомизации, а также разработку ПО с нуля
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img">
                                                        <img src="/images/retail/t-2.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        {% set list = [
            { img: '/images/retail/s-1.svg', title: 'Повышение скорости и качества обслуживания' },
            { img: '/images/retail/s-2.svg', title: 'Сокращение затрат на персонал' },
            { img: '/images/retail/s-3.svg', title: 'Использование киосков в качестве рекламных панелей' },
            { img: '/images/retail/s-4.svg', title: 'Использование киосков для маркетинговых функций <span>(выдача скидочных купонов)</span>' },
            { img: '/images/retail/s-5.svg', title: 'Связующее звено оффлайн и онлайн торговли' },
            { img: '/images/retail/s-6.svg', title: 'Первый шаг к созданию магазинов без продавцов' },
        ] %}
        <div class="products-sections__item products-sections__item_gap-xxxxlarge block">
            <div class="block-wrapper">

                <div class="offer__title block_gap_xlarge">
                    <div class="title-h3">Ключевые преимущества для ритейла и сферы self-service checkout:</div>
                </div>

                <div class="list-metric list-metric_simple">
                    <div class="list-metric__list">
                        {% for item in list %}
                            <div class="list-metric__list-item">
                                <div class="list-metric__item">
                                    <div class="list-metric__item-side">
                                        <div class="list-metric__item-icon">
                                            <img src="{{ item.img }}" alt="">
                                        </div>
                                    </div>
                                    <div class="list-metric__item-main">
                                        <div class="list-metric__item-desc">
                                            {{ item.title }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block_gap-out_large">
            <div class="block target target_retail">
                <div class="block-wrapper target__wrapper target__wrapper_border-bottom">
                    <div class="target__main">
                        <div class="target__title">
                            Бизнес-цель
                        </div>
                        <div class="target__desc">
                            <div class="block-left">
                                Автоматизация коммерческих точек различных масштабов
                                с применением терминалов самообслуживания позволяет существенно сократить комплексные издержки, а также ускорить, упростить и предоставить вариативность в выборе продукции и оплаты, в соответствии с современными требованиями покупателей.
                            </div>
                        </div>
                    </div>
                    <div class="target__side">
                        <div class="gray-dots" style="left:65%; top:35%"></div>
                        <div class="target__side-image">
                            <img src="/images/retail/target.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { title: 'Внедрение современных технологий и возможностей e-commerce' },
            { title: 'Полная автоматизация приобретения продукции в розничных сетях' },
            { title: 'Увеличение пропускной способности и качества покупательского опыта' },
            { title: 'Повышение лояльности со стороны клиентов, охват более широкой и целевой группы потребителей' },
            { title: 'Внедрение системы персонального счета клиента для пополнения, оплаты товаров, переноса сдачи, накопления бонусов' },
            { title: 'Прием наличных, банковских карт' },
            { title: 'Снижение затрат на персонал, зависимости от кадровой текучести, обучения/повышения квалификации, налоговых издержек' },
            { title: 'Сокращение площадей, выделяемых под кассы, компактное оборудование' },
            { title: 'Сбор статистических данных о востребованности товаров' },
            { title: 'Показ рекламных баннеров и видеороликов в интерфейсе, на втором мониторе' },
        ] %}

        <div class="products-sections__item block block_gap-out_medium -index-2">
            <div class="block-wrapper">
                <div class="title-h3 block_gap_medium">Киоски самообслуживания решают целый ряд задач для ритейла:</div>
                <div class="info-grid">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_orange">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count">{{ loop.index }}</div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item -index-1">
            <div class="section-color section-color_blue-dark block block_padding-top_xlarge block_padding-bottom_xlarge">
                <div class="section-color__dots-right dots -s-hidden" style="top: 36%;"></div>
                <div class="section-color__wrapper block-wrapper">
                    <div class="seporate seporate_full seporate_narrow"></div>
                    <div class="title-medium title-medium_white">
                        Типовые сценарии<br> применения
                    </div>
                    <div class="scenario-item scenario-item_number-orange scenario-item--one">
                        <div class="scenario-item__wrapper">
                            <div class="scenario-item__title">Трансфер до фиксированного<br>пункта назначения</div>
                            <div class="scenario-item__desc-wrapper">
                                <div class="scenario-item__desc">
                                    <div class="scenario-item__subtitle">Описание процесса:</div>
                                    <div class="scenario-item__text">
                                        Киоск самообслуживания позволяет идентифицировать оформленный на сайте магазина заказ по номеру, номеру телефона, иному ID, совершить оплату наличным или безналичным способом, получить чек и забрать товар в магазине
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="block section-image section-image_gap-none section-image_bg-b section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['/images/retail/frame/1-1.jpg', '/images/retail/frame/1-2.jpg', '/images/retail/frame/1-3.jpg'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xlarge block">
            <div class="block-wrapper">
                <div class="scenario-item scenario-item_number-orange scenario-item_color-dark scenario-item--two">
                    <div class="scenario-item__wrapper">
                        <div class="scenario-item__title">Формирование заказа через<br> интерфейс киоска и оплата</div>
                        <div class="scenario-item__desc-wrapper">
                            <div class="scenario-item__desc scenario-item__desc_gap-none">
                                <div class="scenario-item__subtitle">Описание процесса:</div>
                                <div class="scenario-item__text">
                                    Клиент выбирает необходимый набор товаров через интерактивное меню киоска самообслуживания, добавляя его в товарную корзину, оплачивает удобным способом, получает чек и забирает товар в магазине
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block_gap-out_medium -index-2">
            <div class="block section-image section-image_gap-none section-image_bg-lb section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="gray-dots" style="left: 25px; top: 150px;"></div>
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['/images/retail/frame/2-1.jpg', '/images/retail/frame/2-2.jpg', '/images/retail/frame/2-3.jpg'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item -index-1">
            <div class="section-color section-color_blue-dark block block_padding-top_xlarge block_padding-bottom_xlarge">
                <div class="section-color__wrapper block-wrapper">
                    <div class="seporate seporate_full seporate_narrow"></div>
                    <div class="title-medium title-medium_white">
                        Формирование персоналом штрихкода<br> с данными о товарах и оплата
                    </div>
                    <div class="scenario-item scenario-item_number-orange scenario-item--three">
                        <div class="scenario-item__wrapper">
                            <div class="scenario-item__title">Трансфер до фиксированного<br>пункта назначения</div>
                            <div class="scenario-item__desc-wrapper">
                                <div class="scenario-item__desc">
                                    <div class="scenario-item__subtitle">Описание процесса:</div>
                                    <div class="scenario-item__text">
                                        Киоск самообслуживания может быть снабжен сканером штрихкода, веб-камерой для сканирования различных типов
                                        штрихкодов. Клиент выбирает товары в торговом зале, они сканируются при выходе персоналом, клиент получает штрихкод,
                                        подносит его к киоску самообслуживания, оплачивает товар и покидает торговый зал
                                        по выданному чеку
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="block section-image section-image_gap-none section-image_bg-b section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['/images/retail/frame/3-1.jpg', '/images/retail/frame/3-2.jpg', '/images/retail/frame/3-3.jpg'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xlarge block">
            <div class="block-wrapper">
                <div class="scenario-item scenario-item_number-orange scenario-item_color-dark scenario-item--four">
                    <div class="scenario-item__wrapper">
                        <div class="scenario-item__title">Самостоятельный checkout<br> товаров покупателем и оплата</div>
                        <div class="scenario-item__desc-wrapper">
                            <div class="scenario-item__desc scenario-item__desc_gap-none">
                                <div class="scenario-item__subtitle">Описание процесса:</div>
                                <div class="scenario-item__text">
                                    Клиент может самостоятельно сформировать корзину товаров в торговом зале, подойти к киоску самообслуживания, отсканировать все покупки, оплатитьи покинуть торговый зал по выданному чеку
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="block section-image section-image_gap-none section-image_bg-b section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['/images/retail/frame/4-1.jpg', '/images/retail/frame/4-2.jpg', '/images/retail/frame/4-3.jpg'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        {% set info_list = [
            {
                img: '/images/retail/v-1.svg',
                title: 'Самостоятельное формирование клиентом товарной корзины через интерактивное меню терминала'
            },
            {
                img: '/images/retail/v-2.svg',
                title: 'Сканирование QR-кодов и штрихкодов товаров в торговом зале через терминал'
            },
            {
                img: '/images/retail/v-3.svg',
                title: 'Возможность быстро оплатить товары через терминал и получить их по чеку'
            },
            {
                img: '/images/retail/v-4.svg',
                title: 'Использование системы скидок - карты, купоны и другие программы лояльности'
            },
            {
                img: '/images/retail/v-5.svg',
                title: 'Возможность интеграции с каналами интернет-продаж ритейлинговой сети'
            }
        ] %}

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="title-medium">
                    Основные<br> возможности
                </div>
                <div class="info-list">
                    <div class="info-list__wrapper">
                        <div class="info-list__list info-list__list_bottom-gap-none info-list__list_between-gap-large info-list__list_small-offset">
                            {% for item in info_list %}
                                <div class="info-list__item info-list__item_small-gap info-list__item_between-gap-large info-list__item_small-offset">
                                    <div class="info-card">
                                        <div class="info-card__wrapper">
                                            <div class="info-card__img info-card__img_small-gap">
                                                <img src="{{ item.img }}" alt="">
                                            </div>
                                            <div class="info-card__title info-card__title_dark-blue">{{ item.title | raw }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { title: 'Магазины электроники, цифровой и бытовой техники' },
            { title: 'Магазины товаров повседневного спроса (дрогери)' },
            { title: 'Магазины спортивных товаров' },
            { title: 'Магазины хозяйственных, отделочных материалов и оборудования, товаров для дома и сада (DIY-магазины)' },
            { title: 'Аптеки' },
            { title: 'Любые другие услуги, связанные с разработкой программного обеспечения' },
            { title: 'Салоны косметики' },
            { title: 'Магазины одежды, обуви (бутики)' },
            { title: 'Автосервисы, магазины по продаже автозапчастей' },
            { title: 'Любые другие торговые точки' },
        ] %}

        <div class="products-sections__item -index-1 block">
            <div class="section-color section-color_blue-dark section-color_bg-right block-wrapper block_padding-top_xlarge block_padding-bottom_large">
                <div class="section-color__dots-right dots -s-hidden" style="top: 0; right: -10%"></div>
                <div class="section-color__wrapper">
                    <div class="title-medium title-medium_white">
                        Сферы применения
                    </div>
                    <div class="possibilitys-subtitle possibilitys-subtitle_wide block-left block_gap_medium">
                        Киоск самообслуживания легко адаптируется для любых видов коммерческой деятельности, затрагивающих:
                    </div>
                    <div class="info-grid info-grid_gap-medium">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                {% for item in list %}
                                    <div class="info-grid__item">
                                        <div class="info-grid-card info-grid-card_low info-grid-card_transparent info-grid-card_orange">
                                            <div class="info-grid-card__wrapper">
                                                <div class="info-grid-card__count">{{ loop.index }}</div>
                                                <div class="info-grid-card__title">{{ item.title }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper block-wrapper_bg-left block_padding-top_large block_padding-bottom_xlarge">
                <div class="title-medium">
                    Система технического<br> мониторинга
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Система включает модуль технического мониторинга и модуль оповещения
                    о нештатных ситуациях. Заказчик может отслеживать в реальном времени актуальный статус киоска, получать уведомления о технических проблемах в виде SMS/E-mail/Telegram уведомлений и оперативно реагировать на них
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper block_padding-top_large block_padding-bottom_large">
                <div class="title-medium">
                    Система обновлений
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Встроенная система обновлений позволяет оперативно вносить любые изменения
                    в ПО и загружать их на киоски по заданному расписанию.
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="section-color section-color_blue-dark section-color_bg-right block-wrapper block_padding-top_xlarge block_padding-bottom_large">
                <div class="section-color__wrapper">
                    <div class="title-medium title-medium_white">
                        Варианты<br> приобретения ПО
                    </div>
                    <div class="possibilitys-subtitle block-left block_gap_medium">
                        В зависимости от масштабов автоматизации, размеров заказчика и конечной цели применения решения, возможны:
                    </div>
                    <div class="info-grid info-grid_2x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_orange  bank-advantage_low bank-advantage--one">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">Покупка лицензии</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_orange bank-advantage_low bank-advantage--two">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">Использование ПО в облачном формате по ежемесячной/годовой подписке</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-color__line"></div>
                    <div class="possibilitys-subtitle possibilitys-subtitle_wide block-left block_gap_medium">
                        Благодаря различным вариантам приобретения ПО Pay-logic, наше решение подходит не только розничным торговым точкам среднего масштаба и крупным торговым сетям, но и небольшим частным магазинам любой площади.
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { img: '/images/retail/d-1.svg', title: 'Зачисление сдачи на телефон в киосках самообслуживания' },
            { img: '/images/retail/d-2.svg', title: 'Применение технологии Face-аналитики (распознавания лиц) для определения пола, возраста клиента, принадлежности к определенной целевой группе и предложения как самих товаров, так и скидок на те или иные товары/услуги' },
            { img: '/images/retail/d-3.svg', title: 'Разработку рекламных баннеров' },
            { img: '/images/retail/d-4.svg', title: 'Голосовое управление, совмещение киоска самообслуживания с интерактивной панелью' },
            { img: '/images/retail/d-5.svg', title: 'Совмещение киоска самообслуживания с вендинговым аппаратом - продажа снеков, кофе или выдача бонусом в счет сдачи за оплату товаров' },
            { img: '/images/retail/d-6.svg', title: 'Адаптация к новой валюте и языку, включая создание мультиязычных интерфейсов' },
        ] %}

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="title-medium">
                    Доработки<br> и кастомизация
                </div>
                <div class="info-grid info-grid_gap-medium info-grid_3x block_gap_small">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_orange">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__img">
                                                <img src="{{ item.img }}" alt="">
                                            </div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="attention block_gap_xlarge">
                    <div class="attention__wrapper attention__wrapper_orange attention__wrapper_info">
                        <div class="attention__text attention__text_center">По требованию заказчика возможны любые доработки программного обеспечения!</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="block section-with-image section-with-image_orange">
                <div class="block-wrapper section-with-image__wrapper section-with-image__wrapper_told">
                    <div class="section-with-image__content-wrapper">
                        <div class="section-with-image__main">
                            <div class="section-with-image__title">
                                Реализация новых<br> возможностей<br>
                                для ритейла
                            </div>
                            <div class="section-with-image__desc-wrapper">
                                <div class="section-with-image__desc">
                                    <p>Помимо возможности оплаты, наша компания может предложить внедрение почтоматов и камер хранения. Используя комплексное решение от нашей компании, ритейлер может обеспечить следующие процессы:</p>
                                    <ul class="support-item support-item_orange">
                                        <li>Оплату и самостоятельное получение заказа клиентом в почтомате<br> <span class="-text-gray">(отказ от сотрудника на выдаче товаров)</span> </li>
                                        <li>Привлечение новой категории клиентов, которые ценят свое время</li>
                                    </ul>
                                    <p>Клиент удаленно формирует и оплачивает заказ, сотрудник собирает корзину, размещает ее в продуктомате. Клиент получает заказ в удобное время, без необходимости посещения торгового зала и траты времени на поиск товаров и оплату на кассе.</p>
                                </div>
                            </div>
                        </div>
                        <div class="section-with-image__side">
                            <div class="gray-dots" style="left:0;top:20px"></div>
                            <div class="section-with-image__side-image section-with-image__side-image_postmat"></div>
                        </div>
                    </div>
                    <div class="section-with-image__delimiter"></div>
                    <div class="section-with-image__link">
                        <a href="#" class="section-with-image__link-arrow">
                            Подробнее о почтоматах и камерах хранения
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { title: 'Отображение каталога товаров с ценами' },
            { title: 'Список актуальных акций и скидок в конкретной точке' },
            { title: 'Навигация по отделам и справочная информация о товарах' },
            { title: 'Функции прайс-чекера' },
            { title: 'Отображение полноэкранной рекламы при бездействии киоска' },
        ] %}

        <div class="products-sections__item products-sections__item_gap-xlarge">
            <div class="block section-color section-color_blue-dark block_padding-top_xlarge block_padding-bottom_large">
                <div class="section-color__wrapper block-wrapper">
                    <div class="title-medium">Это еще не все!</div>
                    <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left block_gap_xlarge">
                        Помимо киосков с платежно-рекламным функционалом мы можем предложить решения для платежно-информационных киосков в рамках единой системы управления киосками. Основное назначение:
                    </div>
                    <div class="stages-list stages-list_gap-small stages-list_3x">
                        <div class="stages-list__list">
                            {% for item in list %}
                                <div class="stages-list__list-item stages-list__list-item_2">
                                    <div class="stage-item stage-item_orange stage-item_offset stage-item_offset_{{ loop.index }}">
                                        <div class="stage-item__wrapper">
                                            <div class="stage-item__side">
                                                <div class="stage-item__icon"></div>
                                            </div>
                                            <div class="stage-item__main">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { title: 'Проектирование баз данных' },
            { title: 'Разработку бэк-офисов' },
            { title: 'Разработку фронт-офисов' },
            { title: 'Разработку мобильных приложений' },
            { title: 'Услуги по дизайну приложений' },
            { title: 'Любые другие услуги, связанные с разработкой программного обеспечения' },
        ] %}

        <div class="products-sections__item block">
            <div class="block-wrapper block_padding-bottom_large">
                <div class="title-medium">А как насчет разработки<br> других приложений?</div>
                <div class="possibilitys-subtitle possibilitys-subtitle_wide block-left">
                    Наша компания с 2008 года занимается созданием сложных высоконагруженных приложений и может предложить полную разработку информационной системы для ритейла, включая
                </div>
                <div class="info-grid info-grid_3x info-grid_gap-medium">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_orange">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count">{{ loop.index }}</div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="block-left block_padding-top_large">
                    <a href="/services.html" class="link-arrow link-arrow_orange">Узнать подробнее</a>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="block section-with-image section-with-image_orange">
                <div class="block-wrapper section-with-image__wrapper">
                    <div class="section-with-image__content-wrapper">
                        <div class="section-with-image__main">
                            <div class="section-with-image__title">
                                Поставка<br>программно-аппаратного решения под ключ
                            </div>
                            <div class="section-with-image__desc-wrapper">
                                <div class="section-with-image__desc">
                                    За длительный период деятельности на рынке платежного ПО мы установили прочные партнерские связи с проверенными производителями оборудования
                                    и готовы предложить комплексное решение в формате ПО + киоски самообслуживания для различных сфер бизнеса
                                </div>
                            </div>
                        </div>
                        <div class="section-with-image__side">
                            <div class="section-with-image__side-image section-with-image__side-image_postmat-retail"></div>
                        </div>
                    </div>
                    <div class="section-with-image__delimiter section-with-image__delimiter_mobile"></div>
                    <div class="section-with-image__link">
                        <a href="#" class="section-with-image__link-arrow">
                            Перейти на сайт партнера
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item section-why block">
            <div class="section-why__wrapper block-wrapper block_padding-top_large">
                <div class="title-medium title-medium_white">Почему мы?</div>
                <div class="possibilitys-subtitle possibilitys-subtitle_wide block-left">
                    Компания Soft-logic предлагает не просто программный продукт,
                    а полный комплекс услуг, объединенных в законченное решение для коммерческого бизнеса:
                </div>
                <div class="section-why__content block-left">
                    <div class="section-why__main">
                        <div class="section-why__list">
                            <div class="section-why__item">
                                <ul class="support-item">
                                    <li>Более 10 лет опыта в области разработки и внедрения программных решений для сферы самообслуживания</li>
                                    <li>Одно из лучших программных решений для киосков самообслуживания</li>
                                    <li>Подбор оборудования - киоски самообслуживания, периферия </li>
                                </ul>
                            </div>
                            <div class="section-why__item">
                                <ul class="support-item">
                                    <li>Интеграция с внутренней системой/CRM/Интернет-площадкой торговой сети</li>
                                    <li>Консультационные услуги/техническая поддержка</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="section-why__side">
                        <div class="section-why__img">
                            <img src="/images/retail/sogt.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="section-why__line"></div>
                <div class="possibilitys-subtitle possibilitys-subtitle_wide block-left">
                    Автоматизация в формате приобретения и внедрения киосков самообслуживания
                    и электронных кассиров позволяет вывести деятельность на современный технологический уровень, получить значительное конкурентное преимущество, повысить статус коммерческой точки и лояльность со стороны конечных клиентов, является перспективным шагом по поддержанию и развитию бизнеса в сфере электронной коммерции.
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="block additionally-resources">
                <div class="block-wrapper additionally-resources__wrapper">
                    <div class="additionally-resources__title">Дополнительные<br>ресурсы</div>
                    <div class="additionally-resources__list-wrapper">
                        <a href="#" class="resource-item resource-item_green">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_white-terminal"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Выбрать киоск</span>
                            </div>
                        </a>
                        <a href="#" class="resource-item resource-item_blue">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_clouds"></div>
                                    <div class="resource-item__image resource-item__image_cloud"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Облачный сервис</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                {% include 'modules/callback-tile.twig' with {
                    map: false,
                    title: 'Остались вопросы?',
                    desc: 'Оставьте заявку и наши специлисты свяжутся с вами в ближайшее время',
                    modifier: 'callback-tile__side_orange'
                }
                %}
            </div>
        </div>

    </div>
{% endblock %}