{% extends "common/base.twig" %}
{% block body_mod %}{% endblock %}
{% block body %}
    <div class="basic-page block">
        <div class="basic-page__wrapper block-wrapper">
            <div class="basic-page__breadcrumbs">
                {% set breadcrumbs = [{
                    url:'/',
                    name:'Главная',
                    isCurrent: false
                }, {
                    url:'#',
                    name:'Услуги',
                    isCurrent: true
                }] %}
                {% include 'modules/breadcrumbs.twig' with {breadcrumbs:breadcrumbs} %}
            </div>
            <div class="basic-page__header">
                <h1 class="basic-page__title title-h1">
                    Услуги
                </h1>
            </div>
            <div class="basic-page__body">
                <div class="services-item">
                    <div class="services-item__wrapper">
                        <div class="services-item__main">
                            <div class="services-item__title">
                                Что мы делаем
                            </div>
                            <div class="services-item__desc">
                                Основным направлением деятельности компании Soft-logic является разработка сложных кросс-платформенных приложений на языке Java.
                                В качестве основной СУБД используется PostgreSQL. Компания делает упор на активное применение в своей работе open-source продуктов, таких как OS Linux, СУБД PostgreSQL, Apache, GlassFish и других.  Солидный опыт эксплуатации данных решений подтверждает то, что данные
                                продукты имеют высокое качество и стабильность. Помимо этого, использование open-source продуктов позволяет снизить стоимость владения информационной системой.
                            </div>
                        </div>
                        <div class="services-item__side">
                            <div class="cols-list cols-list_1x is-normal">
                                {% set skills = [
                                    {
                                        title:'Разработка веб-приложений',
                                        desc:'Бэк-офисы, фронт-офисы, веб-сервисы и т.д.'
                                    },
                                    {
                                        title:'Разработка мобильных приложений',
                                        desc:'IOS & Android'
                                    },
                                    {
                                        title:'Разработка десктов приложений ',
                                        desc:'Swing, JavaFX'
                                    },
                                    {
                                        title:'Разработка для терминалов самообслуживания',
                                        desc:'Технологии'
                                    }
                                ] %}
                                <div class="cols-list__list">
                                    {% for skill in skills %}
                                        <div class="cols-list__item">
                                            <div class="cols-list__item-main">
                                                <div class="cols-list__item-title">
                                                    {{ skill.title }}
                                                </div>
                                            </div>
                                            <div class="cols-list__item-side">
                                                <div class="cols-list__item-desc">
                                                    {{ skill.desc }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-item services-item_brand is-dark">
                    <div class="services-item__wrapper">
                        <div class="services-item__main">
                            <div class="services-item__title">
                                Принципы работы
                            </div>
                            <div class="services-item__desc">
                                Краткое тематическое описание ключевых компетенций. Флагманским продуктом компании является платежная платформа «Процессинговый центр Pay-logic». Данный программный комплекс предназначен для организации приема платежей в пользу любых поставщиков услуг через платежные
                                терминалы, персональный компьютер, pos-терминал, мобильные устройства и интернет.

                                Сегодня Soft-logic — это самостоятельная, динамично развивающаяся компания, специализирующаяся на разработке комплексных платежных решений.


                            </div>
                        </div>
                        <div class="services-item__side">
                            <div class="cols-list cols-list_2x is-normal">
                                {% set skills = [
                                    {
                                        title:'Веб-разработка',
                                        desc:'HTML, C$$, JS, VUE'
                                    },
                                    {
                                        title:'Обмен данными',
                                        desc:'Json (JAX-RS), XML (JAX-WS)'
                                    },
                                    {
                                        title:'Взаимодействие с СУБД',
                                        desc:'JPA, Hibernate, JDBCTemplates, JDBC'
                                    },
                                    {
                                        title:'App-серверы/Web-серверы',
                                        desc:'GlassFish, Wildfly (ранее JBoss), Tomcat'
                                    },
                                    {
                                        title:'Desktop-приложения',
                                        desc:'Swing, JavaFX'
                                    },
                                    {
                                        title:'Базы данных',
                                        desc:'PostgreSQL, Oracle, MySQL'
                                    },  {
                                        title:'Мобильная разработка',
                                        desc:'Android, iOS'
                                    },  {
                                        title:'Балансировка нагрузки',
                                        desc:'Apache, Nginx'
                                    },  {
                                        title:'Операционные системы',
                                        desc:'Linux (RedHat, Oracle, CentOS, Ubuntu, Suse), Windows'
                                    }
                                ] %}
                                <div class="cols-list__list">
                                    {% for skill in skills %}
                                        <div class="cols-list__item">
                                            <div class="cols-list__item-main">
                                                <div class="cols-list__item-title">
                                                    {{ skill.title }}
                                                </div>
                                            </div>
                                            <div class="cols-list__item-side">
                                                <div class="cols-list__item-desc">
                                                    {{ skill.desc }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services-item__brand"></div>
                </div>
                <div class="services-item">
                    <div class="services-item__wrapper">
                        <div class="services-item__main">
                            <div class="services-item__title">
                                Что мы делаем
                            </div>
                            <div class="services-item__desc">
                                Основным направлением деятельности компании Soft-logic является разработка сложных кросс-платформенных приложений на языке Java.
                                В качестве основной СУБД используется PostgreSQL. Компания делает упор на активное применение в своей работе open-source продуктов, таких как OS Linux, СУБД PostgreSQL, Apache, GlassFish и других.  Солидный опыт эксплуатации данных решений подтверждает то, что данные
                                продукты имеют высокое качество и стабильность. Помимо этого, использование open-source продуктов позволяет снизить стоимость владения информационной системой.
                            </div>
                        </div>
                        <div class="services-item__side">
                            <div class="cols-list cols-list_1x is-normal">
                                {% set skills = [
                                    {
                                        title:'70+',
                                        desc:'Платежных систем в различных странах мира'
                                    },
                                    {
                                        title:'10 000 +',
                                        desc:'Устройств самообслуживания под управлением нашего ПО'
                                    },
                                    {
                                        title:'1 млн +',
                                        desc:'Операций в день, сотни миллионов записей в базе данных ПЦ, опыт работы с большими обьемами данных'
                                    }
                                ] %}
                                <div class="cols-list__list">
                                    {% for skill in skills %}
                                        <div class="cols-list__item cols-list__item_highlights">
                                            <div class="cols-list__item-main">
                                                <div class="cols-list__item-title">
                                                    {{ skill.title }}
                                                </div>
                                            </div>
                                            <div class="cols-list__item-side">
                                                <div class="cols-list__item-desc">
                                                    {{ skill.desc }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-item">
                    <div class="services-item__wrapper">
                        <div class="services-item__main">
                            <div class="services-item__title">
                                Принципы работы
                            </div>
                            <div class="services-item__desc">
                                Описание принципов работы, в частности про Scrum. Скрам – это фреймворк для разработки и поддержки функционально сложных продуктов. Данное руководство содержит определение Скрама. Определение состоит из описания ролей, мероприятий, артефактов Скрама, а также правил,
                                связывающих их. Кен Швабер и Джефф Сазерленд разработали Скрам; Скрам Гайд написан и представлен ими.
                            </div>
                        </div>
                        <div class="services-item__side">
                            <div js-scrolling-page class="scrolling-page">
                                <div class="scrolling-page__side">
                                    <div class="scrolling-page__header">
                                        <div class="scrolling-page__header-main">
                                            <div class="scrolling-page__title">
                                                Типовые этапы
                                            </div>
                                        </div>
                                        <div class="scrolling-page__header-side">
                                            <div js-scrolling-nav data-current-slide="0" class="arrow-nav">
                                                <div class="arrow-nav__list">
                                                    <div js-scrolling-nav-prev class="arrow-nav__item is-lock arrow-nav__item_prev"></div>
                                                    <div js-scrolling-nav-next class="arrow-nav__item arrow-nav__item_next"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="scrolling-page__main">
                                    <div class="scrolling-page__content">
                                        <div class="steps-line">
                                            <div class="steps-line__list">
                                                {% set steps = [{
                                                    number:1,
                                                    desc:'Сбор сведений',
                                                },{
                                                    number:2,
                                                    desc:'Проектирование',
                                                },{
                                                    number:3,
                                                    desc:'Разработка',
                                                },{
                                                    number:4,
                                                    desc:'Тестирование',
                                                },{
                                                    number:5,
                                                    desc:'Продакшен',
                                                }] %}

                                                {% for step in steps %}
                                                    <div js-scrolling-item data-id="{{ loop.index }}" class="steps-line__item">
                                                        <div class="steps-item {{ loop.first ? 'is-active' : '' }}">
                                                            <div class="steps-item__main">
                                                                <div class="steps-item__number">
                                                                    <div class="steps-item__number-caption">
                                                                        {{ step.number }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="steps-item__side">
                                                                <div class="steps-item__title">
                                                                    {{ step.desc }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'modules/callback-tile.twig' with {title:'Остались вопросы?',desc:'Оставьте заявку и наши специлисты свяжутся с вами
                в ближайшее время'} %}
            </div>
        </div>
    </div>
{% endblock %}
