{% extends "common/base.twig" %}


{% block header %}
    {% block header %}
        {% set headerTop = "is-side-light is-tablet-dark" %}
        {% include 'common/header.twig' with {headerTop:headerTop} %}
    {% endblock %}
{% endblock %}


{% block body %}
    <div class="screens">
        {% include './smartkeeper/firstscreen/firstscreen.twig' %}
        <div class="block-wrapper">
            {% include './smartkeeper/advantages/advantages.twig' %}
        </div>
        <div class="seporate">
            <div class="seporate__dots"></div>
        </div>

        {% include './smartkeeper/possibilitys/possibilitys.twig' %}



        {% include './smartkeeper/bank-advantages/bank-advantages.twig' %}



        {% include './smartkeeper/integration/integration.twig' %}



        {% include './smartkeeper/architect/architect.twig' %}



        {% include './smartkeeper/functional/functional.twig' %}



        {% include './smartkeeper/result/result.twig' %}



        {% include './smartkeeper/services/services.twig' %}



        {% include './smartkeeper/support/support.twig' %}



        {% include './smartkeeper/requirements/requirements.twig' %}



        {% include './smartkeeper/design/design.twig' %}



        {% include './smartkeeper/process/process.twig' %}

        {% include './smartkeeper/prestart/prestart.twig' %}

        <div class="products-sections-single">
            <div class="products-sections__item block">
                <div class="products-sections__item-wrapper block-wrapper">
                    <div class="products-sections__item-side">
                        <div class="products-sections__header">
                            <div class="products-sections__header-wrapper">
                                <div class="products-sections__header-main">
                                    <div class="products-sections__item-title">
                                        Кейсы внедрения
                                    </div>
                                </div>
                                <div class="products-sections__header-side">
                                    <a href="cases.html" class="link-arrow link-arrow_pink">Все кейсы</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products-sections__item-main">
                        <div class="cases">
                            <div class="block-wrapper">
                                <div class="cases-content">
                                    <div class="cases-content__wrapper">
                                        <div class="cases__content">
                                            <div class="cases__case-wrapper">
                                                <div class="case">
                                                    <div class="case__wrapper">
                                                        <a href="#" class="case-item">
                                                            <div class="case-item__shadow" style="color: rgba(225, 8, 17, 1)"></div>
                                                            <div class="case-item__wrapper" style="background-color: rgba(225, 8, 17, 1)">
                                                                <div class="case-item__header">
                                                                    <div class="case-item__image-background" style="background-image: url('images/cases/mts-bank-logo.svg')"></div>
                                                                </div>
                                                                <div class="case-item__description-wrapper">
                                                                    <div class="case-item__description">Краткое тематическое описание предположительно в две строки</div>
                                                                </div>
                                                                <div class="case-item__tag-wrapper">
                                                                    <div class="case-item__tag">SmartKeeper</div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a href="#" class="case-item">
                                                            <div class="case-item__shadow" style="color: rgba(178, 9, 50, 1)"></div>
                                                            <div class="case-item__wrapper" style="background-color: rgba(178, 9, 50, 1)">
                                                                <div class="case-item__header">
                                                                    <div class="case-item__image-background" style="background-image: url('images/cases/russian-standart.png')"></div>
                                                                </div>
                                                                <div class="case-item__description-wrapper">
                                                                    <div class="case-item__description">Краткое тематическое описание предположительно в две строки</div>
                                                                </div>
                                                                <div class="case-item__tag-wrapper">
                                                                    <div class="case-item__tag">Процессинговый центр Pay-logic</div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a href="#" class="case-item">
                                                            <div class="case-item__shadow" style="color: rgba(0, 159, 254, 1)"></div>
                                                            <div class="case-item__wrapper" style="background-color: rgba(0, 159, 254, 1)">
                                                                <div class="case-item__header">
                                                                    <div class="case-item__image-background" style="background-image: url('images/cases/kiev-star-logo.png')"></div>
                                                                </div>
                                                                <div class="case-item__description-wrapper">
                                                                    <div class="case-item__description">Краткое тематическое описание предположительно в две строки</div>
                                                                </div>
                                                                <div class="case-item__tag-wrapper">
                                                                    <div class="case-item__tag">Платежный хаб Pay-logic</div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block">
            <div class="block-wrapper">
                {% include 'modules/callback-tile.twig' with {
                    map:false,
                    title:'Остались вопросы?',
                    desc:'Оставьте заявку и наши специлисты свяжутся с вами в ближайшее время',
                    modifier:'callback-tile__side_pink'} %}
            </div>
        </div>
    </div>
{% endblock %}