{% extends "common/base.twig" %}

{% block header %}
    {% set headerTop = "is-dark is-side-light is-tablet-dark" %}
    {% include 'common/header.twig' with { headerTop: headerTop } %}
{% endblock %}

{% block body %}
    <div class="products-sections -relative">
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="product-intro product-intro_software-fiscal">
                    <div class="product-intro__wrapper">
                        <div class="product-intro__main">
                            <div class="product-intro__tag"></div>
                            <h1 class="product-intro__title">
                                ПО для оператора <br> фискальных <br> данных
                            </h1>
                            <div class="product-intro__desc">
                                <p>
                                    Программный комплекс от компании Soft-logic - разработчика high-load решений,
                                    полностью автоматизирующий деятельность оператора фискальных данных в соответствии с
                                    54-ФЗ
                                </p>
                            </div>
                        </div>
                        <div class="product-intro__side">
                            <div class="product-intro__billboard"
                                 style="background-image: url('images/software-fiscal/main.jpg')"></div>
                            <div class="product-intro__logo">
                                <img src="images/soft-logic.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Решение построено на&nbsp;базе сервисов фискализации и&nbsp;предоставляет следующие возможности:
                </div>
            </div>
        </div>

        {% set list = [
            {
                img: '/images/software-fiscal/i-1.svg',
                title: 'Взаимодействие с&nbsp;контрольно-кассовой техникой в&nbsp;соответствии с&nbsp;форматом фискальным документов (ФФД) версии 1.05 и&nbsp;1.1'
            },
            {
                img: '/images/software-fiscal/i-2.svg',
                title: 'Проверка и&nbsp;генерация фискального признака документа через аппаратный модуль безопасности (HSM)'
            },
            {
                img: '/images/software-fiscal/i-3.svg',
                title: 'Взаимодействие с&nbsp;налоговой инспекцией в&nbsp;части передачи информации о&nbsp;юридических лицах, контрольно-кассовой технике и&nbsp;всех видах фискальных документов'
            },
        ] %}
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="target target_wide_bg target_padding-bottom_none block-wrapper">
                <div class="target__list">
                    <div class="info-grid info-grid_gap-medium info-grid_3x block_gap_small">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                {% for item in list %}
                                    <div class="info-grid__item">
                                        <div class="info-grid-card info-grid-card_orange">
                                            <div class="info-grid-card__wrapper">
                                                <div class="info-grid-card__img">
                                                    <img src="{{ item.img }}" alt="">
                                                </div>
                                                <div class="info-grid-card__title">{{ item.title }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-delimiter"></div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Помимо этого, нашей компанией подготовлен весь набор документации, требуемый для прохождения
                    экспертизы технических средств оператора фискальных данных:
                </div>
                <div class="target__list">
                    <div class="info-grid info-grid_gap-medium info-grid_3x block_gap_small">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">

                                {% set list = [
                                    {
                                        title: 'Пояснительная записка с&nbsp;описанием ТС&nbsp;ОФД,
их&nbsp;структуры, состава, основных технических
и&nbsp;эксплуатационных характеристик, функционирования основных структурных элементов, состава&nbsp;ПО и&nbsp;регламентов технического обслуживания и&nbsp;др'
                                    },
                                    {
                                        title: 'Техническая документация
на&nbsp;автоматизированную систему в&nbsp;составе: cпецификация оборудования, описание комплекса технических средств, массив входных данных, каталог базы данных, состав выходных данных, схема функциональной структуры, схема структуры комплекса технических средств
и&nbsp;другие'
                                    },
                                    {
                                        title: 'Программная документация в&nbsp;составе: спецификация, описание программы, описание применения, руководство системного программиста, руководство оператора'
                                    },
                                ] %}

                                {% for item in list %}
                                    <div class="info-grid__item">
                                        <div class="info-grid-card info-grid-card_wide info-grid-card_color_black info-grid-card_dark_purple info-grid-card_transparent">
                                            <div class="info-grid-card__wrapper">
                                                <div class="info-grid-card__count">
                                                    {{ loop.index }}
                                                </div>
                                                <div class="info-grid-card__title info-grid-card__title_max-width_none">{{ item.title }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="attention">
                    <div class="attention__wrapper attention__wrapper_dark-purple attention__wrapper_info">
                        <div class="attention__text">
                            Нашими специалистами произведена установка и настройка всех компонентов системы в
                            соответствии с требованиями, предъявляемыми
                            к государственным информационным системам 3 класса защищенности
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item">
            <div class="block target target_padding-bottom_none target_fiscal-farm_2">
                <div class="block-wrapper target__wrapper">
                    <div class="section-set">
                        <div class="section-set__title">
                            Интерфейс
                        </div>
                        <div class="section-set__wrapper">
                            <div class="section-set__side section-set__side_seven section-set__side_border">
                                <div js-section-list-text
                                     class="section-set__desc section-set__desc_border section-set__desc_padding-left_large section-set__desc_width_small">
                                    <div js-section-list-text-item data-id="1"
                                         class="section-set__slide is-active section-set__desc-main section-set__desc-main_gap_large">
                                        <p>
                                        <div class="section-set__subtitle">Создание тарифного плана 1</div>
                                        </p>
                                        <p>Краткое тематическое описание
                                            <br>
                                            Краткое тематическое описание
                                        </p>
                                    </div>
                                    <div js-section-list-text-item data-id="2"
                                         class="section-set__slide section-set__desc-main section-set__desc-main_gap_large">
                                        <p>
                                        <div class="section-set__subtitle">Создание тарифного плана 2</div>
                                        </p>
                                        <p>Краткое тематическое описание
                                            <br>
                                            Краткое тематическое описание
                                        </p>
                                    </div>
                                    <div class="section-set__desc-side">
                                        <div class="global-nav global-nav_dark_purple global-nav_visible">
                                            <div class="global-nav__count">
                                                <span js-section-count-current>1</span>/ <span js-section-count>1</span>
                                            </div>
                                            <div js-section-list-nav class="global-nav__wrapper">
                                                <div js-section-list-nav-prev
                                                     class="global-nav__item global-nav__item_prev"></div>
                                                <div js-section-list-nav-next
                                                     class="global-nav__item global-nav__item_next"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-set__main">
                                <div class="section-set__img">
                                    <div class="section-set__slider">
                                        <div js-section-list class="section-set__slider-list">
                                            <div js-section-list-item data-id="1"
                                                 class="section-set__slider-item is-active">
                                                <img src="images/software-fiscal/surface-1.png" alt="">
                                            </div>
                                            <div js-section-list-item data-id="2" class="section-set__slider-item">
                                                <img src="images/software-fiscal/surface-2.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_bg-center">
            <div class="block target target_fiscal-farm target_fiscal-farm_2">
                <div class="block-wrapper target__wrapper">
                    <div class="section-set">
                        <div class="section-set__title">
                            Внедрения
                        </div>
                        <div class="section-set__wrapper">
                            <div class="section-set__side">
                                <div class="section-set__desc section-set__desc_padding-left_large section-set__desc_width_small">
                                    <div class="section-set__desc-main">
                                        Общество с ограниченной ответственностью «Оператор фискальных данных «Онлайн»  
                                    </div>
                                    <div class="section-set__desc-side">
                                        <div class="link-list">
                                            <div class="link-list__list">
                                                <div class="link-list__list-item">
                                                    <a href="http://ofd-online.ru" target="_blank"
                                                       class="link-item link-item_dark-purple">ofd-online.ru</a>
                                                </div>
                                                <div class="link-list__list-item">
                                                    <a href="https://www.nalog.ru/rn22/" target="_blank"
                                                       class="link-item link-item_dark-purple">nalog.ru</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-set__main">
                                <div class="section-set__desc">
                                    <div class="section-set__desc-side section-set__desc-side_gap_small">
                                        Приказ от 26.12.2018 № ЕД-7-20/843@
                                    </div>
                                </div>
                                <div class="section-set__img">
                                    <img src="images/software-fiscal/doc.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                {% include 'modules/callback-tile.twig' with {
                    map: false,
                    title: 'Остались вопросы?',
                    desc: 'Оставьте заявку и наши специлисты свяжутся с вами в ближайшее время',
                    modifier: 'callback-tile__side_software-fiscal'
                } %}
            </div>
        </div>
    </div>
{% endblock %}
