{% extends "common/base.twig" %}

{% block header %}
    {% set headerTop = "is-dark is-side-light is-tablet-dark" %}
    {% include 'common/header.twig' with { headerTop: headerTop } %}
{% endblock %}

{% block body %}
    <div class="products-sections -relative">
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="product-intro product-intro_retail">
                    <div class="product-intro__wrapper">
                        <div class="product-intro__main">
                            <div class="breadcrumbs">
                                <div class="breadcrumbs__list">
                                    <div class="breadcrumbs__list-item">
                                        <div class="breadcrumbs__item">
                                            <a href="/" class="breadcrumbs__item-url ">
                                                Главная
                                            </a>
                                        </div>
                                        <div class="breadcrumbs__item">
                                            <a href="#" class="breadcrumbs__item-url ">
                                                Вакансии
                                            </a>
                                        </div>
                                        <div class="breadcrumbs__item">
                                            <a href="#"
                                               class="breadcrumbs__item-url  breadcrumbs__item-link_active ">
                                                Технологический стек
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h1 class="product-intro__title product-intro__title_small">
                                Технологический стек
                            </h1>
                            <div class="product-intro__desc">
                                <p>
                                    Здесь тектс на&nbsp;тему, что у&nbsp;нас очень мощный стек и&nbsp;так далее,
                                    в&nbsp;зависимости о&nbsp;задачах страницы: если для поиска сотрудников,
                                    то&nbsp;можно написать: ознакомьтесь и&nbsp;если вы&nbsp;подходите отправьте резюме,
                                    если для заказчиков то&nbsp;просто про мощный стек
                                </p>
                            </div>
                        </div>
                        <div class="product-intro__side">
                            <div class="product-intro__billboard"
                                 style="background-image: url('images/stack/stack-intro.png')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="technology-list">
                    <div class="technology-list__list">
                        <div class="technology-list__list-item">
                            <div class="technology-item">
                                <div class="technology-item__side">
                                    <div class="technology-item__title">
                                        Back-ends
                                    </div>
                                </div>
                                <div class="technology-item__main">
                                    <div class="technology-grid technology-grid_backend">
                                        <div class="technology-grid__list">
                                            {% set list = [
                                                {image:'images/stack/java.png', name:'java', url: '#'},
                                                {image:'images/stack/encache.png', name:'encache', url: '#'},
                                                {image:'images/stack/java-ee.png', name:'java-ee', url: '#'},
                                                {image:'images/stack/jsf.png', name:'jsf', url: '#'},
                                                {image:'images/stack/spring.png', name:'spring', url: '#'},
                                                {image:'images/stack/hibernate.png', name:'hibernate', url: '#'},
                                                {image:'images/stack/prime-faces.png', name:'prime-faces', url: '#'},
                                                {image:'images/stack/node-js.png', name:'node-js', url: '#'},
                                                {image:'images/stack/netty.png', name:'netty', url: '#'},
                                                {image:'images/stack/jdbc.png', name:'jdbc', url: '#'},
                                                {image:'images/stack/express.png', name:'express', url: '#'},
                                                {image:'images/stack/php.png', name:'php', url: '#'},
                                                {image:'images/stack/delta-spike.png', name:'delta-spike', url: '#'},
                                                {image:'images/stack/spring-boot.png', name:'spring-boot', url: '#'}
                                            ] %}
                                            {% for item in list %}
                                                <a href="{{ item.url }}" target="_blank"
                                                   class="technology-grid__item technology-grid__item_{{ item.name }}"
                                                   style="background-image: url({{ item.image }})"></a>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="technology-list__list-item">
                            <div class="technology-item">
                                <div class="technology-item__side">
                                    <div class="technology-item__title">
                                        Frontend
                                    </div>
                                </div>
                                <div class="technology-item__main">
                                    <div class="technology-grid technology-grid_frontend">
                                        <div class="technology-grid__list">
                                            {% set list = [
                                                {image:'images/stack/front/vue.png', name:'vue', url: '#'},
                                                {image:'images/stack/front/angular.png', name:'angular', url: '#'},
                                                {image:'images/stack/front/react.png', name:'react', url: '#'},
                                                {image:'images/stack/front/bootstrap.png', name:'bootstrap', url: '#'},
                                                {image:'images/stack/front/css.png', name:'css', url: '#'},
                                                {image:'images/stack/front/sass.png', name:'sass', url: '#'},
                                                {image:'images/stack/front/stylus.png', name:'stylus', url: '#'},
                                                {image:'images/stack/front/html.png', name:'html', url: '#'},
                                                {image:'images/stack/front/js.png', name:'js', url: '#'}
                                            ] %}
                                            {% for item in list %}
                                                <a href="{{ item.url }}" target="_blank"
                                                   class="technology-grid__item technology-grid__item_{{ item.name }}"
                                                   style="background-image: url({{ item.image }})"></a>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="technology-list__list-item">
                            <div class="technology-item">
                                <div class="technology-item__side">
                                    <div class="technology-item__title">
                                        Desktop
                                    </div>
                                </div>
                                <div class="technology-item__main">
                                    <div class="technology-grid technology-grid_desktop">
                                        <div class="technology-grid__list">
                                            {% set list = [
                                                {image:'images/stack/desktop/java-fx.png', name:'java-fx', url: '#'},
                                                {image:'images/stack/desktop/printing.png', name:'printing', url: '#'},
                                                {image:'images/stack/desktop/electron.png', name:'electron', url: '#'},
                                                {image:'images/stack/desktop/java-swing.png', name:'java-swing', url: '#'},
                                                {image:'images/stack/desktop/node-js.png', name:'node-js', url: '#'},
                                                {image:'images/stack/desktop/java.png', name:'java', url: '#'}
                                            ] %}
                                            {% for item in list %}
                                                <a href="{{ item.url }}" target="_blank"
                                                   class="technology-grid__item technology-grid__item_{{ item.name }}"
                                                   style="background-image: url({{ item.image }})"></a>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="technology-list__list-item">
                            <div class="technology-item">
                                <div class="technology-item__side">
                                    <div class="technology-item__title">
                                        DataExchange
                                    </div>
                                </div>
                                <div class="technology-item__main">
                                    <div class="technology-grid technology-grid_data-exchange">
                                        <div class="technology-grid__list">
                                            {% set list = [
                                                {image:'images/stack/data-exchange/json.png', name:'json', url: '#'},
                                                {image:'images/stack/data-exchange/web-soket.png', name:'web-soket', url: '#'},
                                                {image:'images/stack/data-exchange/ssl.png', name:'ssl', url: '#'},
                                                {image:'images/stack/data-exchange/java-ws.png', name:'java-ws', url: '#'},
                                                {image:'images/stack/data-exchange/java-rs.png', name:'java-rs', url: '#'},
                                                {image:'images/stack/data-exchange/xml.png', name:'xml', url: '#'},
                                                {image:'images/stack/data-exchange/ecp.png', name:'ecp', url: '#'}
                                            ] %}
                                            {% for item in list %}
                                                <a href="{{ item.url }}" target="_blank"
                                                   class="technology-grid__item technology-grid__item_{{ item.name }}"
                                                   style="background-image: url({{ item.image }})"></a>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="technology-list__list-item">
                            <div class="technology-item">
                                <div class="technology-item__side">
                                    <div class="technology-item__title">
                                        Mobile
                                    </div>
                                </div>
                                <div class="technology-item__main">
                                    <div class="technology-grid technology-grid_mobile">
                                        <div class="technology-grid__list">
                                            {% set list = [
                                                {image:'images/stack/mobile/android.png', name:'android', url: '#'},
                                                {image:'images/stack/mobile/android-sdk.png', name:'android-sdk', url: '#'},
                                                {image:'images/stack/mobile/cocoa-touch.png', name:'cocoa-touch', url: '#'},
                                                {image:'images/stack/mobile/kotlin.png', name:'kotlin', url: '#'},
                                                {image:'images/stack/mobile/objective-c.png', name:'objective-c', url: '#'},
                                                {image:'images/stack/mobile/swift.png', name:'swift', url: '#'},
                                            ] %}
                                            {% for item in list %}
                                                <a href="{{ item.url }}" target="_blank"
                                                   class="technology-grid__item technology-grid__item_{{ item.name }}"
                                                   style="background-image: url({{ item.image }})"></a>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="technology-list__list-item">
                            <div class="technology-item">
                                <div class="technology-item__side">
                                    <div class="technology-item__title">
                                        Testing
                                    </div>
                                </div>
                                <div class="technology-item__main">
                                    <div class="technology-grid technology-grid_testing">
                                        <div class="technology-grid__list">
                                            {% set list = [
                                                {image:'images/stack/testing/jest.png', name:'jest', url: '#'},
                                                {image:'images/stack/testing/spock.png', name:'spock', url: '#'},
                                                {image:'images/stack/testing/selenium.png', name:'selenium', url: '#'},
                                                {image:'images/stack/testing/allure.png', name:'allure', url: '#'},
                                                {image:'images/stack/testing/junit.png', name:'junit', url: '#'},
                                                {image:'images/stack/testing/spectron.png', name:'spectron', url: '#'}
                                            ] %}
                                            {% for item in list %}
                                                <a href="{{ item.url }}" target="_blank"
                                                   class="technology-grid__item technology-grid__item_{{ item.name }}"
                                                   style="background-image: url({{ item.image }})"></a>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="technology-list__list-item">
                            <div class="technology-item">
                                <div class="technology-item__side">
                                    <div class="technology-item__title">
                                        Ci
                                    </div>
                                </div>
                                <div class="technology-item__main">
                                    <div class="technology-grid technology-grid_ci">
                                        <div class="technology-grid__list">
                                            {% set list = [
                                                {image:'images/stack/ci/jenkins.png', name:'jenkins', url: '#'},
                                                {image:'images/stack/ci/subversion.png', name:'subversion', url: '#'},
                                                {image:'images/stack/ci/jfrog.png', name:'jfrog', url: '#'},
                                                {image:'images/stack/ci/sonar.png', name:'sonar', url: '#'},
                                                {image:'images/stack/ci/git.png', name:'git', url: '#'},
                                                {image:'images/stack/ci/eslint.png', name:'eslint', url: '#'}
                                            ] %}
                                            {% for item in list %}
                                                <a href="{{ item.url }}" target="_blank"
                                                   class="technology-grid__item technology-grid__item_{{ item.name }}"
                                                   style="background-image: url({{ item.image }})"></a>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="technology-list__list-item">
                            <div class="technology-item">
                                <div class="technology-item__side">
                                    <div class="technology-item__title">
                                        Build tools
                                    </div>
                                </div>
                                <div class="technology-item__main">
                                    <div class="technology-grid technology-grid_build-tools">
                                        <div class="technology-grid__list">
                                            {% set list = [
                                                {image:'images/stack/build-tools/webpack.png', name:'webpack', url: '#'},
                                                {image:'images/stack/build-tools/maven.png', name:'maven', url: '#'},
                                                {image:'images/stack/build-tools/gradle.png', name:'gradle', url: '#'},
                                                {image:'images/stack/build-tools/ant.png', name:'ant', url: '#'},
                                                {image:'images/stack/build-tools/prog.png', name:'prog', url: '#'},
                                                {image:'images/stack/build-tools/gulp.png', name:'gulp', url: '#'},
                                                {image:'images/stack/build-tools/babel.png', name:'babel', url: '#'}
                                            ] %}
                                            {% for item in list %}
                                                <a href="{{ item.url }}" target="_blank"
                                                   class="technology-grid__item technology-grid__item_{{ item.name }}"
                                                   style="background-image: url({{ item.image }})"></a>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="technology-list__list-item">
                            <div class="technology-item">
                                <div class="technology-item__side">
                                    <div class="technology-item__title">
                                        Business tools
                                    </div>
                                </div>
                                <div class="technology-item__main">
                                    <div class="technology-grid technology-grid_business-tools">
                                        <div class="technology-grid__list">
                                            {% set list = [
                                                {image:'images/stack/business-tools/you-track.png', name:'you-track', url: '#'},
                                                {image:'images/stack/business-tools/ij.png', name:'ij', url: '#'},
                                                {image:'images/stack/business-tools/dg.png', name:'dg', url: '#'},
                                                {image:'images/stack/business-tools/wiremock.png', name:'wiremock', url: '#'},
                                                {image:'images/stack/business-tools/drawio.png', name:'drawio', url: '#'},
                                                {image:'images/stack/business-tools/xcode.png', name:'xcode', url: '#'},
                                                {image:'images/stack/business-tools/postman.png', name:'postman', url: '#'},
                                                {image:'images/stack/business-tools/mattermost.png', name:'mattermost', url: '#'},
                                                {image:'images/stack/business-tools/vp.png', name:'vp', url: '#'},
                                                {image:'images/stack/business-tools/trello.png', name:'trello', url: '#'},
                                                {image:'images/stack/business-tools/ws.png', name:'ws', url: '#'},
                                                {image:'images/stack/business-tools/as.png', name:'as', url: '#'},
                                                {image:'images/stack/business-tools/redmine.png', name:'redmine', url: '#'},
                                                {image:'images/stack/business-tools/jira.png', name:'jira', url: '#'},
                                                {image:'images/stack/business-tools/zeplin.png', name:'zeplin', url: '#'},
                                                {image:'images/stack/business-tools/in.png', name:'in', url: '#'},
                                                {image:'images/stack/business-tools/soapui.png', name:'soapui', url: '#'},
                                                {image:'images/stack/business-tools/swagger.png', name:'swagger', url: '#'}
                                            ] %}
                                            {% for item in list %}
                                                <a href="{{ item.url }}" target="_blank"
                                                   class="technology-grid__item technology-grid__item_{{ item.name }}"
                                                   style="background-image: url({{ item.image }})"></a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="technology-list__list-item">
                            <div class="technology-item">
                                <div class="technology-item__side">
                                    <div class="technology-item__title">
                                        OS, Servers & Virtualization
                                    </div>
                                </div>
                                <div class="technology-item__main">
                                    <div class="technology-grid technology-grid_os">
                                        <div class="technology-grid__list">
                                            {% set list = [
                                                {image:'images/stack/os/apache.png', name:'apache', url: '#'},
                                                {image:'images/stack/os/sqlite.png', name:'sqlite', url: '#'},
                                                {image:'images/stack/os/wild-fly.png', name:'wild-fly', url: '#'},
                                                {image:'images/stack/os/kvm.png', name:'kvm', url: '#'},
                                                {image:'images/stack/os/windows.png', name:'windows', url: '#'},
                                                {image:'images/stack/os/ngix.png', name:'ngix', url: '#'},
                                                {image:'images/stack/os/sql.png', name:'sql', url: '#'},
                                                {image:'images/stack/os/glass-fish.png', name:'glass-fish', url: '#'},
                                                {image:'images/stack/os/linux.png', name:'linux', url: '#'},
                                                {image:'images/stack/os/tomcat.png', name:'tomcat', url: '#'},
                                                {image:'images/stack/os/mysql.png', name:'mysql', url: '#'},
                                                {image:'images/stack/os/oracle.png', name:'oracle', url: '#'},
                                                {image:'images/stack/os/gnu.png', name:'gnu', url: '#'},
                                                {image:'images/stack/os/xen.png', name:'xen', url: '#'},
                                                {image:'images/stack/os/docker.png', name:'docker', url: '#'}
                                            ] %}
                                            {% for item in list %}
                                                <a href="{{ item.url }}" target="_blank"
                                                   class="technology-grid__item technology-grid__item_{{ item.name }}"
                                                   style="background-image: url({{ item.image }})"></a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
