{% extends "common/base.twig" %}
{% block header %}
    {% set headerTop = "is-dark is-side-light is-tablet-dark" %}
    {% include 'common/header.twig' with {headerTop:headerTop} %}
{% endblock %}
{% block body_mod %}{% endblock %}
{% block body %}
    <div class="products-sections">

        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="product-intro">
                    <div class="product-intro__wrapper">
                        <div class="product-intro__main">
                            <h1 class="product-intro__title">
                                Киоск заказа такси
                            </h1>
                            <div class="product-intro__desc">
                                <p>
                                    Краткое тематическое описание о предоставляемых услугах
                                </p>
                            </div>
                        </div>
                        <div class="product-intro__side">
                            <div class="product-intro__billboard" style="background-image: url('images/taxi/taxi.png')"></div>
                            <div class="product-intro__logo">
                                <img src="images/taxi/soft-logic.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="offer block-wrapper block_padding-top_xlarge">
                <div class="offer__wrapper">
                    <div class="offer__title block-left block_gap_medium">
                        <div class="title-h3">Наша компания предлагает:</div>
                    </div>
                    <div class="offer__list">
                        <div class="offer-list">
                            <div class="offer-list__list">
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Готовое программно-аппаратное решение, включающее киоск самообслуживания и специализированное ПО
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img">
                                                        <img src="/images/taxi/small-terminal.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Поставку специализированного софта для имеющегося у заказчика оборудования, с возможностью адаптации, доработки и кастомизации, а также разработку ПО с нуля
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img">
                                                        <img src="/images/retail/t-2.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="block taxi-plus">
                <div class="block-wrapper taxi-plus__wrapper">
                    <div class="taxi-plus__main">
                        <div class="taxi-plus__title">
                            Ключевые преимущества для таксопарков и сервисов заказа такси
                        </div>
                        <div class="taxi-plus__list-wrapper">
                            {% set pluses = [{
                                img: 'alternative',
                                desc: 'Альтернативный канал<br>реализации сервиса'
                            },{
                                img: 'increase',
                                desc: 'Увеличение числа заказов'
                            },{
                                img: 'recognizability',
                                desc: 'Увеличение узнаваемости бренда'
                            },{
                                img: 'profitability',
                                desc: 'Повышение прибыльности<br>и прозрачности бизнеса'
                            }] %}

                            {% for plus in pluses %}
                                <div class="plus-item">
                                    <div class="plus-item__wrapper">
                                        <div class="plus-item__image-wrapper">
                                            <div class="plus-item__image plus-item__image_{{ plus.img }}"></div>
                                        </div>
                                        <div class="plus-item__desc">
                                            {{ plus.desc }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="block target">
                <div class="block-wrapper target__wrapper target__wrapper_border-bottom">
                    <div class="target__main">
                        <div class="target__title">
                            Бизнес-цель
                        </div>
                        <div class="target__desc">
                            Киоски заказа такси - это современный формат предоставления услуг по перевозке пассажиров, актуальный для размещения в аэропортах, железнодорожных
                            и автовокзалах, транспортных хабах и других местах массового скопления людей
                        </div>
                    </div>
                    <div class="target__side">
                        <div class="gray-dots" style="left:60%;top:15%"></div>
                        <div class="target__side-image target__side-image_car"></div>
                    </div>
                </div>
            </div>
            <div class="block taxi-advantages">
                <div class="block-wrapper taxi-advantages__wrapper taxi-advantages__wrapper_margin-top">
                    <div class="taxi-advantages__title">
                        Преимущества для таксопарка/агрегатора:
                    </div>
                    <div class="taxi-advantages__list">
                        {% set advantages = [{
                            desc: 'Привлечение большего числа клиентов для пользования своим сервисом'
                        },{
                            desc: 'Вызов подходящего автомобиля при отсутствии у потенциального клиента соответствующего мобильного приложения'
                        },{
                            desc: 'Обеспечение возможности оплаты заказа наличным или безналичным способом, предоплата до посадки в такси - сокращение числа отказов от услуги'
                        },{
                            desc: 'Исключение водителя из процесса получения наличной оплаты от клиента'
                        },{
                            desc: 'Возможность подключения сторонних сервисов для оплаты через киоск'
                        },{
                            desc: 'Внедрение промоакций, повышение лояльности клиентов'
                        },{
                            desc: 'Рекламный функционал на экране киоска при бездействии'
                        }] %}

                        <div class="info-grid">
                            <div class="info-grid__wrapper">
                                <div class="info-grid__list">
                                    {% for item in advantages %}
                                        <div class="info-grid__item">
                                            <div class="info-grid-card info-grid-card_yellow">
                                                <div class="info-grid-card__wrapper">
                                                    <div class="info-grid-card__count">{{ loop.index }}</div>
                                                    <div class="info-grid-card__title">{{ item.desc }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block taxi-advantages">
                <div class="block-wrapper taxi-advantages__wrapper">
                    <div class="taxi-advantages__title">
                        Преимущества для таксопарка/агрегатора:
                    </div>
                    <div class="taxi-advantages__list">
                        {% set advantages = [{
                        desc: 'Привлечение большего числа клиентов для пользования своим сервисом'
                        },{
                        desc: 'Вызов подходящего автомобиля при отсутствии у потенциального клиента соответствующего мобильного приложения'
                        },{
                        desc: 'Обеспечение возможности оплаты заказа наличным или безналичным способом, предоплата до посадки в такси - сокращение числа отказов от услуги'
                        },{
                        desc: 'Исключение водителя из процесса получения наличной оплаты от клиента'
                        },{
                        desc: 'Возможность подключения сторонних сервисов для оплаты через киоск'
                        },{
                        desc: 'Внедрение промоакций, повышение лояльности клиентов'
                        },{
                        desc: 'Рекламный функционал на экране киоска при бездействии'
                        }] %}

                        <div class="info-grid">
                            <div class="info-grid__wrapper">
                                <div class="info-grid__list">
                                    {% for item in advantages %}
                                        <div class="info-grid__item">
                                            <div class="info-grid-card info-grid-card_yellow">
                                                <div class="info-grid-card__wrapper">
                                                    <div class="info-grid-card__count">{{ loop.index }}</div>
                                                    <div class="info-grid-card__title">{{ item.desc }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_negative-gap-large">
            <div class="block section-scenario section-scenario_dark-blue">
                <div class="block-wrapper section-scenario__wrapper">
                    <div class="section-scenario__delimiter"></div>
                    <div class="section-scenario__title">Типовые сценарии<br>заказа такси</div>
                    <div class="dots" style="right:8%;top:170px"></div>
                    <div class="section-scenario__image" style="left:28%;top:40px;bottom:0px">
                        <img src="/images/taxi/scenario1.png" alt="">
                    </div>
                    <div class="section-scenario__item">
                        <div class="scenario-item scenario-item--one">
                            <div class="scenario-item__wrapper">
                                <div class="scenario-item__title">Трансфер до фиксированного<br>пункта назначения</div>
                                <div class="scenario-item__desc-wrapper">
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__subtitle">Описание процесса:</div>
                                        <div class="scenario-item__text">В данном варианте клиенту предлагается ввести номер телефона, выбрать класс автомобиля и место прибытия из предопределенного списка.
                                            <br><br>
                                            Сценарий работы актуален для аэропортов или ж/д вокзалов, где основная задача - обеспечить трансфер пассажира до крупных транспортных развязок.
                                            Например, при установке киоска в аэропорту Внуково система может предложить клиенту выбор трансфера до:
                                        </div>
                                        {% set addresses = [{
                                            img : 'one',
                                            title : 'Киевского вокзала'
                                        }, {
                                            img : 'two',
                                            title : 'Делового центра'
                                        }, {
                                            img : 'three',
                                            title : 'Красной площади'
                                        }] %}
                                        <div class="scenario-item__address-wrapper scenario-item__address-wrapper_large">
                                            {% for address in addresses %}
                                            <div class="scenario-item__address scenario-item__address_{{ address.img }}">{{ address.title }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__subtitle">Доработки ПО:</div>
                                        <div class="scenario-item__text">Сценарий не требует доработки программного обеспечения киоска.
                                            Интеграция решения с системой заказчика подразумевает только передачу информации о совершенном заказе!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="block section-image section-image_bg-b">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% set images = [{
                            img : '/images/taxi/frame1.png'
                        },{
                            img : '/images/taxi/frame2.png'
                        },{
                            img : '/images/taxi/frame3.png'
                        }] %}
                        {% for image in images %}
                            <div class="section-image__image">
                                <img src="{{ image.img }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-small">
            <div class="block section-scenario">
                <div class="block-wrapper section-scenario__wrapper">
                    <div class="section-scenario__delimiter section-scenario__delimiter_gap-top-small"></div>
                    <div class="section-scenario__image" style="left:27%;top:-160px;bottom:0px">
                        <img src="/images/taxi/scenario2.png" alt="">
                    </div>
                    <div class="section-scenario__item">
                        <div class="scenario-item scenario-item--two">
                            <div class="scenario-item__wrapper">
                                <div class="scenario-item__title scenario-item__title_dark-blue">Трансфер до произвольного<br>пункта назначения</div>
                                <div class="scenario-item__desc-wrapper">
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__subtitle scenario-item__subtitle_dark-blue">Описание процесса:</div>
                                        <div class="scenario-item__text scenario-item__text_dark-blue">В данном варианте клиент указывает точный адрес прибытия, при этом система производит расчет стоимости заказа</div>
                                    </div>
                                </div>
                                <div class="scenario-item__subtitle scenario-item__subtitle_dark-blue">Доработки ПО:</div>
                                <div class="scenario-item__desc-wrapper">
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__text scenario-item__text_numeric scenario-item__text_numeric_1">Использование существующего веб-ресурса заказчика:<br><br></div>
                                        <div class="scenario-item__text scenario-item__text_dark-blue">Сценарий работы подразумевает открытие веб-сайта заказчика в интерфейсе терминального ПО.
                                            <br><br>
                                            В этом случае вся бизнес-логика, связанная с вводом адреса и расчетом стоимости маршрута, реализуется на стороне заказчика. После выбора маршрута
                                            и подтверждения суммы оплаты веб-сайт заказчика должен передать управление киоску для проведения оплаты. С примером реализации возможно ознакомиться
                                            по ссылке
                                        </div>
                                    </div>
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__text scenario-item__text_numeric scenario-item__text_numeric_2">Использование существующего веб-ресурса заказчика:<br><br></div>
                                        <div class="scenario-item__text scenario-item__text_dark-blue">В данном варианте все взаимодействие, включая выбор точки прибытия и расчет стоимости осуществляется через REST-API. Отрисовкой конечных экранов при этом занимается ПО киоска. По сравнению с вариантом 1 данный вариант более трудозатратен при запуске, однако, позволяет получить очень отзывчивый интерфейс
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xllarge">
            <div class="block section-image section-image_bg-lb">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% set images = [{
                            img : '/images/taxi/frame1.png'
                        },{
                            img : '/images/taxi/frame4.png'
                        },{
                            img : '/images/taxi/frame5.png'
                        },{
                            img : '/images/taxi/frame6.png'
                        }] %}
                        {% for image in images %}
                            <div class="section-image__image">
                                <img src="{{ image.img }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="section-image__delimiter"></div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xlarge">
            {% set possibilitys = [
            {
            number:'one',
            title: 'Встроенные рекламные<br>возможности',
            text:'Система имеет в своем составе бэк-офис, который позволяет удаленно управлять рекламным контентом, настраивать рекламные кампании и вести подробную статистику',
            img: '/images/taxi/advertising.png',
            line: { x: '75%', y: '35%' }
            },{
            number:'two',
            title: 'Система технического<br>мониторинга',
            text:'Система включает модуль технического мониторинга и модуль оповещения о нештатных ситуациях.
            <br><br>
            Заказчик может отслеживать в реальном времени актуальный статус киоска, получать уведомления о технических проблемах
            в виде SMS/E-mail/Telegram уведомлений и оперативно реагировать на них',
            img: '/images/taxi/monitoring.png',
            dots: { x: '63%', y: '45%' }
            },{
            number:'three',
            title: 'Система обновлений',
            text:'Встроенная система обновлений позволяет оперативно вносить любые изменения в ПО и загружать их на киоски по заданному расписанию',
            img: '/images/taxi/updates.png',
            dots: { x: '68%', y: '-15%' }
            }
            ] %}

            <div class="block">
                <div class="block-wrapper block-wrapper--possibilitys">
                    <div class="possibilitys ">
                        <div class="block-wrapper possibilitys-title title title-h1">
                            Возможности системы
                        </div>
                        <div class="possibilitys-list possibilitys-list_taxi">

                            {% for item in possibilitys %}
                                <div class="possibilitys-item possibilitys-item--{{ item.number }} possibilitys-item_bottom-gap">
                                    <div class="possibilitys-item__text possibilitys-item__text--{{ item.number }} possibilitys-item__text_large">
                                        <div class="possibilitys-item__text-number possibilitys-item__text-number--{{ item.number }}
                                         {{ loop.index0 is odd ? '' : 'possibilitys-item__text-number_left-offset' }}" ></div>
                                        <div class="possibilitys-item__text-layout">
                                            <div class="possibilitys-item__text-title">
                                                {{ item.title }}
                                            </div>
                                            <div class="possibilitys-item__text-description">
                                                {{ item.text }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="possibilitys-item__img possibilitys-item__img--{{ item.number }}">
                                        {% if item.line %}
                                            <div class="line" style="left:{{ item.line.x }}; top:{{ item.line.y }}"></div>
                                        {% endif %}
                                        {% if item.dots %}
                                            <div class="gray-dots" style="left:{{ item.dots.x }}; top:{{ item.dots.y }}"></div>
                                        {% endif %}
                                        {% if item.img %}
                                            <img src="{{ item.img }}">
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set advantages_list = [
        { number: 'one', desc: 'Приобретение лицензии ' },
        { number: 'two', desc: 'Использование ПО в облачном формате по подписке' }
        ] %}
        <div class="products-sections__item products-sections__item_gap-xlarge -index-1">
            <div class="section-color block block_padding-top_xxlarge block_padding-bottom_xxlarge section-color_dark-blue">
                <div class="section-color__wrapper block-wrapper">
                    <div class="title-medium title-medium_white">
                        Варианты<br>использования решения
                    </div>
                    <div class="section-desc__wrapper section-desc__wrapper_white">
                        Способы предоставления лицензии на программное обеспечение:
                    </div>
                    <div class="info-grid info-grid_2x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                {% for item in advantages_list %}
                                    <div class="info-grid__item">
                                        <div class="bank-advantage bank-advantage_white  bank-advantage_low bank-advantage--{{ item.number }}">
                                            <div class="bank-advantage__wrapper">
                                                <div class="bank-advantage__body">
                                                    <div class="bank-advantage__desc bank-advantage__desc_max-width_none">{{ item.desc | raw }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set info_list = [
        {
        img: '/images/taxi/b1.svg',
        title: 'Стилизацию платежного интерфейса
в фирменные цвета или применение White label концепции'
        },
        {
        img: '/images/taxi/b2.svg',
        title: 'Интеграцию системы киосков с учетной системой таксопарка/агрегатора такси'
        },
        {
        img: '/images/taxi/b3.svg',
        title: 'Разработку рекламных баннеров'
        },
        {
        img: '/images/taxi/b4.svg',
        title: 'Настройку платежного сценария под определенные бизнес-требования'
        },
        {
        img: '/images/taxi/b5.svg',
        title: 'Адаптация к новой валюте и языку, включая создание мультиязычных интерфейсов'
        }
        ] %}

        <div class="products-sections__item products-sections__item_gap-xxlarge block">
            <div class="block-wrapper">
                <div class="info-box info-box_bg-none">
                    <div class="info-box__wrapper">
                        <div class="info-box__title">Доработки решения</div>
                        <div class="info-box__desc">Типовые доработки решения для заказчика включают:</div>
                        <div class="info-box__content info-box__content_small-offset">
                            <div class="info-list">
                                <div class="info-list__wrapper">
                                    <div class="info-list__list info-list__list_bottom-gap-none info-list__list_between-gap-large info-list__list_small-offset">
                                        {% for item in info_list %}
                                            <div class="info-list__item info-list__item_small-gap info-list__item_between-gap-large info-list__item_small-offset">
                                                <div class="info-card">
                                                    <div class="info-card__wrapper">
                                                        <div class="info-card__img info-card__img_small-gap">
                                                            <img src="{{ item.img }}" alt="">
                                                        </div>
                                                        <div class="info-card__title info-card__title_dark-blue">{{ item.title | raw }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="attention">
                            <div class="attention__wrapper attention__wrapper_yellow attention__wrapper_info">
                                <div class="attention__text attention__text_center">По требованию заказчика возможны любые доработки программного обеспечения!</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xxlarge">
            <div class="block section-with-image">
                <div class="block-wrapper section-with-image__wrapper section-with-image__wrapper_told">
                    <div class="section-with-image__content-wrapper">
                        <div class="section-with-image__main">
                            <div class="section-with-image__title">
                                Реализация новых<br>возможностей<br>
                                для служб такси
                            </div>
                            <div class="section-with-image__desc-wrapper">
                                <div class="section-with-image__desc">
                                    Помимо внедрения киосков заказа такси, наша компания может предложить решение для организации курьерской доставки службами такси через почтоматы.
                                    <br><br>
                                    Размещение почтоматов в бизнес-центрах, ТРЦ, деловых зонах позволяет организовать эффективную пересылку документов, посылок, личных вещей. Таксопарк не несет дополнительных затрат: водители, чей маршрут совпадает
                                    с курьерским заказом, забирают посылку из одного почтомата и доставляют ее
                                    в другой в пределах городской агломерации, а служба такси получает прибыль
                                    за доставку.
                                </div>
                            </div>
                        </div>
                        <div class="section-with-image__side">
                            <div class="gray-dots" style="left:0;top:20px"></div>
                            <div class="section-with-image__side-image section-with-image__side-image_postmat"></div>
                        </div>
                    </div>
                    <div class="section-with-image__delimiter"></div>
                    <div class="section-with-image__link">
                        <a href="#" class="section-with-image__link-arrow">
                            Подробнее о почтоматах и камерах хранения
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {% set apps = [
        { title: 'Проектирование баз данных' },
        { title: 'Разработку бэк-офисов' },
        { title: 'Разработку фронт-офисов' },
        { title: 'Разработку мобильных приложений' },
        { title: 'Услуги по дизайну приложений' },
        { title: 'Любые другие услуги, связанные с разработкой программного обеспечения' }
        ] %}
        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                <div class="products-sections__item-side">
                    <div class="products-sections__item-title">
                        А как насчет разработки<br>других приложений?
                    </div>
                    <div class="section-desc">
                        <div class="section-desc__wrapper">
                            Наша компания с 2008 года занимается созданием сложных высоконагруженных приложений и может предложить полную разработку информационной системы
                            для ритейла, включая
                        </div>
                    </div>
                </div>
                <div class="info-grid info-grid_3x">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for app in apps %}
                                <div class="info-grid__item info-grid__item_low">
                                    <div class="info-grid-card info-grid-card_yellow info-grid-card_low">
                                        <div class="info-grid-card__wrapper info-grid-card__wrapper_big-offset">
                                            <div class="info-grid-card__count info-grid-card__count_bottom-gap">{{ loop.index }}</div>
                                            <div class="info-grid-card__title info-grid-card__title_large">{{ app.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="section__link section__link_top-gap">
                    <a href="#" class="section__link-arrow">
                        Узнать подробнее
                    </a>
                </div>
                <div class="section-delimiter section-delimiter_opacity3"></div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xxlarge">
            <div class="block section-with-image">
                <div class="block-wrapper section-with-image__wrapper">
                    <div class="section-with-image__content-wrapper">
                        <div class="section-with-image__main">
                            <div class="section-with-image__title">
                                Поставка<br>программно-аппаратного решения под ключ
                            </div>
                            <div class="section-with-image__desc-wrapper">
                                <div class="section-with-image__desc">
                                    За длительный период деятельности на рынке платежного ПО мы установили прочные партнерские связи с проверенными производителями оборудования
                                    и готовы предложить комплексное решение в формате ПО + киоски самообслуживания для различных сфер бизнеса
                                </div>
                            </div>
                        </div>
                        <div class="section-with-image__side">
                            <div class="section-with-image__side-image section-with-image__side-image_terminal"></div>
                        </div>
                    </div>
                    <div class="section-with-image__delimiter section-with-image__delimiter_mobile"></div>
                    <div class="section-with-image__link">
                        <a href="#" class="section-with-image__link-arrow">
                            Перейти на сайт партнера
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="block additionally-resources">
                <div class="block-wrapper additionally-resources__wrapper">
                    <div class="additionally-resources__title">Дополнительные<br>ресурсы</div>
                    <div class="additionally-resources__list-wrapper">
                        <a href="#" class="resource-item resource-item_green">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_white-terminal"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Выбрать киоск</span>
                            </div>
                        </a>
                        <a href="#" class="resource-item resource-item_blue">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_clouds"></div>
                                    <div class="resource-item__image resource-item__image_cloud"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Облачный сервис</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="products-sections__item block">
            <div class="gray-dots" style="left:0;top:40px"></div>
            <div class="products-sections__item-wrapper block-wrapper">
                {% include 'modules/callback-tile.twig' with {
                map:false,
                title:'Остались вопросы?',
                desc:'Оставьте заявку и наши специлисты свяжутся с вами в ближайшее время',
                modifier:'callback-tile__side_yellow'} %}
            </div>
        </div>
    </div>
{% endblock %}