{% extends "common/base.twig" %}

{% block header %}
    {% set headerTop = "is-dark is-side-light is-tablet-dark" %}
    {% include 'common/header.twig' with { headerTop: headerTop } %}
{% endblock %}

{% block body %}
    <div class="products-sections -relative">
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="product-intro product-intro_retail product-intro_ticket_transport">
                    <div class="product-intro__wrapper">
                        <div class="product-intro__main">
                            <div class="product-intro__tag"></div>
                            <h1 class="product-intro__title">
                                Билетные киоск для ж/д, метро, <br> автовокзалов
                            </h1>
                            <div class="product-intro__desc">
                                <p>
                                    Краткое тематическое описание о предоставляемых
                                    услугах
                                </p>
                            </div>
                        </div>
                        <div class="product-intro__side">
                            <div class="product-intro__billboard"
                                 style="background-image: url('images/ticket-transport/main.png')"></div>
                            <div class="product-intro__logo">
                                <img src="images/soft-logic.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="offer block-wrapper block_padding-top_xlarge">
                <div class="offer__wrapper">
                    <div class="offer__title block-left block_gap_medium">
                        <div class="title-h3">Наша компания предлагает:</div>
                    </div>
                    <div class="offer__list">
                        <div class="offer-list">
                            <div class="offer-list__list">
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Готовое программно-аппаратное решение, включающее киоск
                                                    самообслуживания
                                                    и&nbsp;специализированное&nbsp;ПО
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img">
                                                        <img src="images/ticket-transport/terminal1.png"
                                                             alt="ticket-transport">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Поставку специализированного софта для имеющегося у&nbsp;заказчика
                                                    оборудования
                                                    с&nbsp;возможностью адаптации, доработки
                                                    и&nbsp;кастомизации, а&nbsp;также разработку&nbsp;ПО с&nbsp;нуля
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img">
                                                        <img src="images/ticket-transport/terminal2.png"
                                                             alt="ticket-transport">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        {% set list = [
            { img: '/images/ticket-transport/utp-1.svg', title: 'Полная замена билетных касс с&nbsp;персоналом, снижение очередей' },
            { img: '/images/ticket-transport/utp-2.svg', title: 'Покупка разовых билетов,пополнение транспортных карт' },
            { img: '/images/ticket-transport/utp-3.svg', title: 'Развертывание сайта транспортной компании в&nbsp;интерфейсе' },
            { img: '/images/ticket-transport/utp-4.svg', title: 'Бэк-офис для технического мониторингаи&nbsp;управления сетью билетных киосков' },
            { img: '/images/ticket-transport/utp-5.svg', title: 'Учет финансовых операций,выдачи билетных бланков, смарт-карт' }
        ] %}

        <div class="products-sections__item products-sections__item_gap-xxxxlarge block">
            <div class="block-wrapper">

                <div class="offer__title block_gap_xlarge">
                    <div class="title-h3">Ключевые преимущества для фитнес-клубов, спортивных центров и бассейнов:</div>
                </div>

                <div class="list-metric list-metric_simple list-metric_fast-food">
                    <div class="list-metric__list">
                        {% for item in list %}
                            <div class="list-metric__list-item">
                                <div class="list-metric__item">
                                    <div class="list-metric__item-side">
                                        <div class="list-metric__item-icon">
                                            <img src="{{ item.img }}" alt="">
                                        </div>
                                    </div>
                                    <div class="list-metric__item-main">
                                        <div class="list-metric__item-desc">
                                            {{ item.title }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>
        <div class="products-sections__item">
            <div class="ticket-transport-steps block">
                <div class="ticket-transport-steps__wrapper">
                    <div class="ticket-transport-steps__content">
                        <div class="ticket-transport-steps__content-side block-wrapper">
                            <div class="ticket-transport-steps__title ">
                                <div class="ticket-transport-title-2">
                                    Возможности
                                </div>
                            </div>
                            <div class="ticket-transport-steps__desc">
                                Наш программный комплекс организует работу нескольких карточных <br> диспенсеров в&nbsp;билетном
                                киоске для решения различных задач.
                            </div>
                        </div>
                        <div class="ticket-transport-steps__content-main block-wrapper">
                            <div class="ticket-transport-steps__list">
                                {% set content = [{
                                    desc: 'Продажа нескольких видов билетных смарт-картиз&nbsp;соответствующего диспенсера. В&nbsp;зависимостиот&nbsp;выбора клиента выдается карта с&nbsp;нулевым балансом, предоплаченная, одноразовая и&nbsp;т.&nbsp;д.'
                                },
                                    {
                                        desc: 'Пополнение существующих билетов. Билетная смарт-карта подносится к&nbsp;считывателю, пополняется наличными или банковской картой и&nbsp;перезаписывается.'
                                    }] %}

                                {% for item in content %}
                                    <div class="ticket-transport-steps__list-item">
                                        <div class="ticket-transport-step ticket-transport-step_{{ loop.index }}">
                                            <div class="ticket-transport-step__wrapper">
                                                <div class="ticket-transport-step__side">
                                                    <div class="ticket-transport-step__number ticket-transport-step__number_{{ loop.index }}"></div>
                                                </div>
                                                <div class="ticket-transport-step__main">
                                                    <div class="ticket-transport-step__content">
                                                        <div class="ticket-transport-step__content-side">
                                                            <div class="ticket-transport-step__content-desc">
                                                                {{ item.desc }}
                                                            </div>
                                                        </div>
                                                        <div class="ticket-transport-step__content-main">
                                                            <div class="ticket-transport-step__content-img ticket-transport-step__content-img_{{ loop.index }}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block_gap-out_large">
            <div class="block target target_fast-food">
                <div class="block-wrapper target__wrapper target__wrapper_border-bottom">
                    <div class="target__main">
                        <div class="target__title">
                            Бизнес-цель
                        </div>
                        <div class="target__desc">
                            <div class="block-left">
                                Билетные киоски&nbsp;&mdash; это современный формат реализации билетов для пассажирских
                                транспортных компаний и&nbsp;автотранспортных предприятий. Мы&nbsp;готовы предложить
                                готовое программно-аппаратное решение, включающее специализированное&nbsp;ПО и&nbsp;киоски
                                для помещений или уличной установки с&nbsp;вандалоустойчивым корпусом
                                и&nbsp;различным аппаратным наполнением.
                            </div>
                        </div>
                    </div>
                    <div class="target__side">
                        <div class="target__side-image">
                            <img src="/images/ticket-transport/target.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { title: 'Современные технологии продажи транспортных услуг' },
            { title: 'Гибкая настройка тарифов' },
            { title: 'Наличная и&nbsp;безналичная оплата, выдача сдачи' },
            { title: 'Прием наличных, банковских карт' },
            { title: 'Печать билетов на&nbsp;спец.бланках, выдача и&nbsp;пополнение смарт-карт' },
            { title: 'Яркий, интерактивный интерфейс' },
            { title: 'Возможность подключения сторонних сервисов для оплаты регулярных платежей' },
            { title: 'НВнедрение промоакций, накопительных баллов, скидок' },
            { title: 'Рекламный функционал на&nbsp;экране киоска при бездействии' }
        ] %}

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="title-h3 block_gap_medium">Преимущества внедрения:</div>
                <div class="info-grid info-grid_4x">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_ticket-transport">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count">{{ loop.index }}</div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>
        <div class="products-sections__item">
            <div class="ticket-transport block">
                <div class="ticket-transport__wrapper block-wrapper">
                    <div class="ticket-transport-utp">
                        <div class="ticket-transport-utp__side">
                            Преимущества для пассажиров:
                        </div>
                        <div class="ticket-transport-utp__main">
                            <div class="ticket-transport-cards">
                                <div class="ticket-transport-cards__list">
                                    <div class="ticket-transport-cards__list-item">
                                        <div class="ticket-transport-card ticket-transport-card_fill">
                                            <div class="ticket-transport-card__wrapper">
                                                <div class="ticket-transport-card__header">
                                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M16 8.43189C15.3685 8.43189 14.8565 8.94152 14.8565 9.57012V16.2957L14.8565 16.2978C14.8578 16.596 14.9765 16.8817 15.1872 17.0936L15.1881 17.0946L21.5118 23.4979C21.9538 23.9468 22.6778 23.9545 23.1291 23.5146C23.5805 23.0747 23.5882 22.3538 23.1462 21.9044L17.1435 15.8293V9.57012C17.1435 8.94152 16.6315 8.43189 16 8.43189Z"
                                                              fill="white" fill-opacity="0.4"/>
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M16 0.867188C7.43959 0.867188 0.5 7.77475 0.5 16.2957C0.5 24.8166 7.43959 31.7241 16 31.7241C24.5604 31.7241 31.5 24.8159 31.5 16.295C31.489 7.77902 24.5555 0.878109 16 0.867188ZM4.95753 15.1574H2.85391C3.40981 8.80827 8.4779 3.76357 14.8565 3.21024V5.30414C14.8565 5.93275 15.3685 6.44237 16 6.44237C16.6315 6.44237 17.1435 5.93275 17.1435 5.30414V3.21024C23.5221 3.76357 28.5902 8.80827 29.1461 15.1574H27.0425C26.411 15.1574 25.899 15.6671 25.899 16.2957C25.899 16.9243 26.411 17.4339 27.0425 17.4339H29.1525C28.5963 23.7853 23.5247 28.8309 17.1435 29.3813V27.2872C17.1435 26.6586 16.6315 26.1489 16 26.1489C15.3685 26.1489 14.8565 26.6586 14.8565 27.2872V29.3811C8.4779 28.8277 3.40981 23.783 2.85391 17.4339H4.95753C5.58904 17.4339 6.10103 16.9243 6.10103 16.2957C6.10103 15.6671 5.58904 15.1574 4.95753 15.1574Z"
                                                              fill="white" fill-opacity="0.4"/>
                                                    </svg>
                                                    <div class="ticket-transport-card__number">01</div>
                                                </div>
                                                <div class="ticket-transport-card__main">
                                                    Быстрое, интерактивное приобретение билетов
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ticket-transport-cards__list-item">
                                        <div class="ticket-transport-card ticket-transport-card_fill">
                                            <div class="ticket-transport-card__wrapper">
                                                <div class="ticket-transport-card__header">
                                                    <svg width="32" height="30" viewBox="0 0 32 30" fill="none"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M12.7427 0.177734C10.6185 0.177734 8.84186 1.63868 8.35147 3.61309L1.84322 3.61309C1.23669 3.61309 0.75 4.09978 0.75 4.70631C0.75 5.31284 1.23669 5.79953 1.84322 5.79953L8.35164 5.79953C8.84262 7.76842 10.625 9.23489 12.7489 9.23489C14.8728 9.23489 16.6552 7.76842 17.1462 5.79953L30.1568 5.79953C30.7633 5.79953 31.25 5.31284 31.25 4.70631C31.25 4.09978 30.7633 3.61309 30.1568 3.61309L17.1399 3.61309C16.649 1.6442 14.8666 0.177734 12.7427 0.177734ZM10.4068 4.70631C10.4068 3.41403 11.4566 2.36418 12.7489 2.36418C14.0412 2.36418 15.091 3.41403 15.091 4.70631C15.091 5.9986 14.0412 7.04844 12.7489 7.04844C11.4566 7.04844 10.4068 5.9986 10.4068 4.70631Z"
                                                              fill="white" fill-opacity="0.4"/>
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M19.8195 10.4403C17.702 10.4403 15.9134 11.9006 15.4221 13.8756H1.84322C1.23669 13.8756 0.75 14.3623 0.75 14.9688C0.75 15.5754 1.2367 16.0621 1.84322 16.0621L15.4222 16.0621C15.9132 18.031 17.6956 19.4974 19.8195 19.4974C21.9434 19.4974 23.7258 18.031 24.2168 16.0621H30.1505C30.7571 16.0621 31.2438 15.5754 31.2438 14.9688C31.2438 14.3623 30.7571 13.8756 30.1505 13.8756H24.2168C23.7258 11.9067 21.9434 10.4403 19.8195 10.4403ZM17.4774 14.9688C17.4774 13.6766 18.5272 12.6267 19.8195 12.6267C21.1118 12.6267 22.1616 13.6766 22.1616 14.9688C22.1616 16.2611 21.1118 17.311 19.8195 17.311C18.5272 17.311 17.4774 16.2611 17.4774 14.9688Z"
                                                              fill="white" fill-opacity="0.4"/>
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M12.7427 20.7652C10.6184 20.7652 8.84213 22.2321 8.35162 24.2006H1.84322C1.2367 24.2006 0.75 24.6873 0.75 25.2938C0.75 25.9003 1.2367 26.387 1.84322 26.387H8.35164C8.84262 28.3559 10.625 29.8224 12.7489 29.8224C14.8728 29.8224 16.6552 28.3559 17.1462 26.387H30.1505C30.7571 26.387 31.2438 25.9003 31.2438 25.2938C31.2438 24.6873 30.7571 24.2006 30.1505 24.2006H17.1399C16.649 22.2317 14.8666 20.7652 12.7427 20.7652ZM10.4068 25.2938C10.4068 24.0015 11.4566 22.9517 12.7489 22.9517C14.0408 22.9517 15.091 24.0074 15.091 25.2938C15.091 26.5861 14.0412 27.6359 12.7489 27.6359C11.4566 27.6359 10.4068 26.5861 10.4068 25.2938Z"
                                                              fill="white" fill-opacity="0.4"/>
                                                    </svg>
                                                    <div class="ticket-transport-card__number">02</div>
                                                </div>
                                                <div class="ticket-transport-card__main">
                                                    Выбор опций — расстояние, класс, питание и т. д.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ticket-transport-cards__list-item">
                                        <div class="ticket-transport-card ticket-transport-card_fill">
                                            <div class="ticket-transport-card__wrapper">
                                                <div class="ticket-transport-card__header">
                                                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M15 0C6.729 0 0 6.72909 0 15.0001C0 23.2711 6.729 30 15 30C23.271 30 30 23.2711 30 15.0001C30 6.72909 23.271 0 15 0ZM15 27.2727C8.23273 27.2727 2.72727 21.7673 2.72727 15.0001C2.72727 8.23291 8.23273 2.72727 15 2.72727C21.7673 2.72727 27.2727 8.23291 27.2727 15.0001C27.2727 21.7673 21.7672 27.2727 15 27.2727Z"
                                                              fill="white" fill-opacity="0.4"/>
                                                        <path d="M14.9998 6.36364C13.9975 6.36364 13.182 7.17964 13.182 8.18264C13.182 9.18473 13.9975 10 14.9998 10C16.0022 10 16.8176 9.18473 16.8176 8.18264C16.8176 7.17964 16.0022 6.36364 14.9998 6.36364Z"
                                                              fill="white" fill-opacity="0.4"/>
                                                        <path d="M15 12.7273C14.2469 12.7273 13.6364 13.3378 13.6364 14.0909V22.2727C13.6364 23.0258 14.2469 23.6364 15 23.6364C15.7531 23.6364 16.3636 23.0258 16.3636 22.2727V14.0909C16.3636 13.3378 15.7531 12.7273 15 12.7273Z"
                                                              fill="white" fill-opacity="0.4"/>
                                                    </svg>
                                                    <div class="ticket-transport-card__number">03</div>
                                                </div>
                                                <div class="ticket-transport-card__main">
                                                    Справочная информация, расписание движения, карта транспорта онлайн
                                                    на открытом сайте
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ticket-transport-cards__list-item">
                                        <div class="ticket-transport-card ticket-transport-card_fill">
                                            <div class="ticket-transport-card__wrapper">
                                                <div class="ticket-transport-card__header">
                                                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M6 12.5C9.3 12.5 12 9.83333 12 6.5C12 3.16667 9.3 0.5 6 0.5C2.8 0.5 0 3.23333 0 6.5C0 9.83333 2.7 12.5 6 12.5ZM3.33333 24.6667L24.3667 3.7L22.0333 1.33333L1 22.3333L3.33333 24.6667ZM6 9.8C4.2 9.8 2.7 8.3 2.7 6.5C2.7 4.7 4.2 3.2 6 3.2C7.8 3.2 9.3 4.7 9.3 6.5C9.3 8.3 7.8 9.8 6 9.8ZM19.3667 25.5C22.6667 25.5 25.3667 22.8333 25.3667 19.5C25.3667 16.1667 22.6667 13.5 19.3667 13.5C16.1667 13.5 13.3667 16.2333 13.3667 19.5C13.3667 22.8333 16.0667 25.5 19.3667 25.5ZM19.3667 22.8C17.5333 22.8 16.0333 21.3 16.0333 19.5C16.0333 17.7 17.5333 16.2 19.3667 16.2C21.1667 16.2 22.6667 17.7 22.6667 19.5C22.6667 21.3 21.1667 22.8 19.3667 22.8Z"
                                                              fill="white" fill-opacity="0.4"/>
                                                    </svg>
                                                    <div class="ticket-transport-card__number">04</div>
                                                </div>
                                                <div class="ticket-transport-card__main">
                                                    Скидки и промоакции — накопительные баллы, разовые бесплатные
                                                    поездки и т. д.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item -index-1">
            <div class="section-color section-color_black_simple section-color_kiosks block block_padding-top_large block_padding-bottom_xlarge">
                <div class="section-color__wrapper block-wrapper">
                    <div class="products-sections__item block">
                        <div class="block-wrapper">
                            <div class="seporate seporate_full seporate_narrow"></div>
                        </div>
                    </div>
                    <div class="title-medium title-medium_white">
                        Типовые сценарии<br> применения
                    </div>
                    <div class="scenario-item scenario-item_fitness scenario-item_ticket-transport scenario-item--one">
                        <div class="scenario-item__wrapper">
                            <div class="scenario-item__main">
                                <div class="scenario-item__title">Выбор и покупка билета через<br> терминал</div>
                                <div class="scenario-item__desc-wrapper">
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__text">
                                            <p>
                                                Интерфейс терминала позволяет удобно и быстро приобрести разовый билет
                                                или
                                                пополнить транспортную карту банковской картой или наличными. Сдача
                                                может
                                                быть выдана наличными, монетами, зачислена на персональный счет клиента
                                                в
                                                системе, на мобильный телефон или в счет сторонних поставщиков, если
                                                киоск
                                                предоставляет функционал оплаты регулярных платежей.
                                            </p>
                                            <p>
                                                В качестве билетов могут выступать одноразовые RFID-карты, жетоны, ККМ
                                                чеки
                                                со штрихкодами, специализированные билетные бланки.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="scenario-item__side scenario-item__side_metro scenario-item__side_phone-large">
                                <div class="scenario-item__img">
                                    <img src="/images/ticket-transport/case-pic-1.png" alt="transport">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xlarge block">
            <div class="block-wrapper">
                <div class="scenario-item scenario-item_fitness scenario-item_ticket-transport scenario-item_color-dark scenario-item--two  scenario-item--two-right">
                    <div class="scenario-item__wrapper">
                        <div class="scenario-item__side scenario-item__side_bus">
                            <div class="scenario-item__img">
                                <img src="/images/ticket-transport/case-pic-2.png" alt="">
                            </div>
                        </div>
                        <div class="scenario-item__main">
                            <div class="scenario-item__title">Оплата и печать<br> зарезервированного билета</div>
                            <div class="scenario-item__desc-wrapper">
                                <div class="scenario-item__desc scenario-item__desc_gap-none">
                                    <div class="scenario-item__text">
                                        Программный интерфейс позволяет реализацию билетов как через киоск,
                                        так и удаленно на сайте заказчика. Клиент может оплатить ранее оформленный
                                        на сайте билет в киоске не только банковской картой, но и наличными, подтвердить
                                        бронь и распечатать билет на БСО или одноразовый пропуск со штрихкодом
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="products-sections__item -index-1">
            <div class="section-color section-color_black_simple section-color_kiosks block block_padding-top_xlarge block_padding-bottom_xlarge">
                <div class="section-color__wrapper block-wrapper">
                    <div class="scenario-item scenario-item_fitness scenario-item_ticket-transport scenario-item--three">
                        <div class="scenario-item__wrapper">
                            <div class="scenario-item__main">
                                <div class="scenario-item__title">Авиабилеты</div>
                                <div class="scenario-item__desc-wrapper">
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__text">
                                            <p>
                                                Регистрация на&nbsp;рейс в&nbsp;аэропорту или установка киосков для
                                                приобретения билетов вместо билетных касс. Сканирование данных паспорта
                                                при поднесении.
                                            </p>
                                            <p>
                                                Возможно внедрение оплаты упаковки багажа, парковки на&nbsp;территории
                                                аэропорта, других смежных услуг. Самостоятельный выбор свободных мест
                                                и&nbsp;печать бумажного посадочного талона.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="scenario-item__side scenario-item__side_fly scenario-item__side_phone-large">
                                <div class="scenario-item__img">
                                    <img src="/images/ticket-transport/case-pic-3.png" alt="transport">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="scenario-item scenario-item_terminal scenario-item_fitness scenario-item_ticket-transport scenario-item_color-dark scenario-item--four scenario-item--four-right">
                    <div class="scenario-item__wrapper">
                        <div class="scenario-item__side scenario-item__side_terminal">
                            <div class="scenario-item__img">
                                <img src="/images/ticket-transport/case-pic-4.png" alt="">
                            </div>
                        </div>
                        <div class="scenario-item__main">
                            <div class="scenario-item__title">Сайт билетного оператора</div>
                            <div class="scenario-item__desc-wrapper">
                                <div class="scenario-item__desc scenario-item__desc_gap-none">
                                    <div class="scenario-item__text">
                                        <p>Широкоформатные киоски используются билетными операторами для внедрения точек
                                            оформления билетов для самых разных типов пассажироперевозок. </p>
                                        <p>
                                            Сайт оператора, открытый на&nbsp;киоске, позволяет клиенту заказывать
                                            и&nbsp;оплачивать билеты точно также, как за&nbsp;домашним компьютером или
                                            через мобильное приложение. При этом забронированные через другие каналы
                                            реализации билеты могут быть оплачены через киоск наличными.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% set list = [
            { title: 'Печать ранее забронированных билетов' },
            { title: 'Отказ от брони' },
            { title: 'Возврат уже приобретенных билетов — ручной ввод номера билета или сканирование штрихкодов, идентификаторов.' },
            { title: 'Совмещение с инфоматом для размещения путеводителей, туристической информации' },
            { title: 'Совмещение с киоском заказа такси — до фиксированного или произвольного адреса' }
        ] %}

        <div class="products-sections__item  block -index-1 products-sections__item_gap-large">
            <div class="block-wrapper block_padding-top_large block-wrapper_bg-right">
                <div class="title-medium">Дополнительный <br> функционал</div>
                <div class="block-left block_gap_medium">Киоск также поддерживает:
                </div>
                <div class="info-grid info-grid_3x">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_ticket-transport">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count">{{ loop.index }}</div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% set list = [
            {
                img: '/images/ticket-transport/control-1.svg',
                title: 'Мониторинг и&nbsp;диагностику киоскови всех внутренних компонентов'
            },
            {
                img: '/images/ticket-transport/control-2.svg',
                title: 'Отслеживание платежных операций и&nbsp;инкассации в&nbsp;режиме онлайн'
            },
            {
                img: '/images/ticket-transport/control-3.svg',
                title: 'Передачу данных о&nbsp;наполненности(денежные боксы, чековая лента, билетные бланки)'
            },
            {
                img: '/images/ticket-transport/control-4.svg',
                title: 'Уведомление о событиях по SMS,E-mail, Telegram'
            },
            {
                img: '/images/ticket-transport/control-5.svg',
                title: 'Логирование и&nbsp;хранение данныхо всех действиях и&nbsp;событиях'
            }
        ] %}

        <div class="products-sections__item products-sections__item_gap-large block block_padding-bottom_large">
            <div class="block-wrapper">
                <div class="title-medium">Управление сетью <br> билетных киосков</div>
                <div class="block-left block_gap_medium">
                    Все устройства объединяются в едином бэк-офисе с настраиваемым <br>
                    разграничением функционала и доступа в зависимости от ролей сотрудников.
                    <br> Система управления позволяет:
                </div>
                <div class="info-list">
                    <div class="info-list__wrapper">
                        <div class="list-metric list-metric_simple list-metric_fast-food">
                            <div class="list-metric__list">
                                {% for item in list %}
                                    <div class="list-metric__list-item">
                                        <div class="list-metric__item">
                                            <div class="list-metric__item-side">
                                                <div class="list-metric__item-icon">
                                                    <img src="{{ item.img }}" alt="">
                                                </div>
                                            </div>
                                            <div class="list-metric__item-main">
                                                <div class="list-metric__item-desc">
                                                    {{ item.title }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="title-medium">
                    Система обновлений
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Встроенная система обновлений позволяет оперативно вносить любые изменения
                    в ПО и загружать их на киоски по заданному расписанию.
                </div>
            </div>
        </div>
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="section-color section-color_blue-dark section-color_red section-color_bg-right block-wrapper block_padding-top_xlarge block_padding-bottom_large">
                <div class="section-color__wrapper">
                    <div class="title-medium title-medium_white">
                        Варианты<br> приобретения ПО
                    </div>
                    <div class="possibilitys-subtitle block-left block_gap_medium">
                        В зависимости от масштабов автоматизации, размеров заказчика и конечной цели применения решения,
                        возможны:
                    </div>
                    <div class="info-grid info-grid_2x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_white bank-advantage_low bank-advantage--one">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">
                                                    Покупка лицензии
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_white bank-advantage_low bank-advantage--two">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">
                                                    Использование ПО в облачном формате по ежемесячной/годовой подписке
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-color__line"></div>
                    <div class="possibilitys-subtitle possibilitys-subtitle_wide block-left block_gap_medium">
                        Благодаря различным вариантам приобретения ПО Pay-logic, наше решение подходит не только
                        розничным торговым точкам среднего масштаба и крупным торговым сетям, но и небольшим частным
                        магазинам любой площади.
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { img: '/images/ticket-transport/d-1.svg', title: 'Стилизацию платежного интерфейса
в фирменные цвета или применение white label концепции' },
            { img: '/images/ticket-transport/d-2.svg', title: 'Интеграцию системы киосков с внешней учетной системой' },
            { img: '/images/ticket-transport/d-3.svg', title: 'Зачисление сдачи на телефон в киосках самообслуживания
' },
            { img: '/images/ticket-transport/d-4.svg', title: 'Разработку рекламных баннеров' },
            { img: '/images/ticket-transport/d-5.svg', title: 'Настройку платежного сценария
под определенные бизнес-требования' },
            { img: '/images/ticket-transport/d-6.svg', title: 'Адаптацию к новой валюте и языку, включая создание мультиязычных интерфейсов' },
        ] %}

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="title-medium">
                    Доработки решения
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Типовые доработки решения для заказчика включают:
                </div>
                <div class="info-grid info-grid_gap-medium info-grid_3x block_gap_small">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_orange">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__img">
                                                <img src="{{ item.img }}" alt="">
                                            </div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="attention accordion_orange-dark attention_red block_gap_xlarge">
                    <div class="attention__wrapper attention__wrapper_ticket-booth attention__wrapper_info">
                        <div class="attention__text attention__text_center">По требованию заказчика возможны любые
                            доработки программного обеспечения!
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="ticket-transport-work block">
                <div class="ticket-transport-work__wrapper block-wrapper">
                    <div class="ticket-transport-work__side">
                        <div class="ticket-transport-work__title">
                            <div class="ticket-transport-title-2">
                                Самоинкассация
                                <br>
                                для кондукторов
                            </div>
                        </div>
                    </div>
                    <div class="ticket-transport-work__main">
                        <div class="ticket-transport-work__cols">
                            <div class="ticket-transport-work__cols-item ticket-transport-work__cols-item_side">
                                Мы&nbsp;предлагаем современное решение по&nbsp;автоматизации работы
                                с&nbsp;наличными. Киоск самообслуживания, электронный кассир
                                или автоматическая депозитная машина на&nbsp;базе ПО&nbsp;Pay-logic может использоваться
                                для автоматического приема наличных по&nbsp;итогам пройденного маршрута или окончания
                                смены для кондукторов
                                или водителей.
                            </div>
                            <div class="ticket-transport-work__cols-item ticket-transport-work__cols-item_main">
                                Программное обеспечение позволяет осуществлять идентификацию работника по&nbsp;ID&nbsp;удостоверения,
                                RFID-карте, QR-коду на&nbsp;бейдже, вести учет пройденных смен, рабочего времени.
                                Завершая рейс, сотрудник вносит
                                все наличные в&nbsp;устройство, система учитывает всю денежную массу,
                                выдает бумажный документ по&nbsp;итогам операции.
                            </div>
                        </div>
                        <div class="ticket-transport-work__image">
                            <img src="images/ticket-transport/save.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { img: '/images/ticket-transport/props-1.svg', title: 'Поддержка большого количества периферийного оборудования (купюроприемники, монетоприемники, диспенсеры, монетные хопперы)' },
            { img: '/images/ticket-transport/props-2.svg', title: 'Полный учет и&nbsp;отчетность по&nbsp;внесенными&nbsp;инкассированным денежным средствам' },
            { img: '/images/ticket-transport/props-3.svg', title: 'Выдача разменного фонда, организация замкнутого цикла приема и&nbsp;выдачи купюр
и&nbsp;монет, с&nbsp;функционалом рециркуляции' },
            { img: '/images/ticket-transport/props-4.svg', title: 'Интеграция с&nbsp;внешней информационной системой транспортного предприятия для выгрузки информации о&nbsp;работе персонала, учете движения финансов' },
            { img: '/images/ticket-transport/props-5.svg', title: 'Выдача заработной платы кондукторам через киоск по&nbsp;итогам месячных смен, внесенной наличности' }
        ] %}

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Особенности решения:
                </div>
                <div class="info-grid info-grid_gap-medium info-grid_3x block_gap_small">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_orange info-grid-card_dark-bg">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__img">
                                                <img src="{{ item.img }}" alt="">
                                            </div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { title: 'Проектирование баз данных' },
            { title: 'Разработку бэк-офисов' },
            { title: 'Разработку фронт-офисов' },
            { title: 'Разработку мобильных приложений' },
            { title: 'Услуги по дизайну приложений' },
            { title: 'Любые другие услуги, связанныес разработкой программного обеспечения' }
        ] %}

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="title-medium">
                    А как насчет разработки <br> других приложений?
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Наша компания с 2008 года занимается созданием сложных <br>
                    высоконагруженных приложений и может предложить полную <br>
                    разработку информационной системы, включая:
                </div>
                <div class="info-grid info-grid_3x">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_ticket-transport">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count">{{ loop.index }}</div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="products-sections__item block">
            <div class="block section-with-image section-with-image_min-height_none section-with-image_bg-none section-with-image_red">
                <div class="block-wrapper section-with-image__wrapper section-with-image__wrapper_border-bottom">
                    <div class="section-with-image__link">
                        <a href="#" class="section-with-image__link-arrow">
                            Узнать подробнее
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="block section-with-image section-with-image_bg-none section-with-image_red">
                <div class="block-wrapper section-with-image__wrapper section-with-image__wrapper_border-bottom">
                    <div class="section-with-image__content-wrapper">
                        <div class="section-with-image__main">
                            <div class="section-with-image__title">
                                Поставка<br>программно-аппаратного решения под ключ
                            </div>
                            <div class="section-with-image__desc-wrapper">
                                <div class="section-with-image__desc">
                                    За длительный период деятельности на рынке платежного ПО мы установили прочные
                                    партнерские связи с проверенными производителями оборудования
                                    и готовы предложить комплексное решение в формате ПО + киоски самообслуживания для
                                    различных сфер бизнеса
                                </div>
                            </div>
                        </div>
                        <div class="section-with-image__side">
                            <div class="section-with-image__side-image section-with-image__side-image_postmat-retail"></div>
                        </div>
                    </div>
                    <div class="section-with-image__delimiter section-with-image__delimiter_mobile"></div>
                    <div class="section-with-image__link">
                        <a href="#" class="section-with-image__link-arrow">
                            Перейти на сайт партнера
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="block additionally-resources">
                <div class="block-wrapper additionally-resources__wrapper">
                    <div class="additionally-resources__title">Дополнительные<br>ресурсы</div>
                    <div class="additionally-resources__list-wrapper">
                        <a href="#" class="resource-item resource-item_green">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_white-terminal"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Выбрать киоск</span>
                            </div>
                        </a>
                        <a href="#" class="resource-item resource-item_blue">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_clouds"></div>
                                    <div class="resource-item__image resource-item__image_cloud"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Облачный сервис</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                {% include 'modules/callback-tile.twig' with {
                    map: false,
                    title: 'Остались вопросы?',
                    desc: 'Оставьте заявку и наши специлисты свяжутся с вами в ближайшее время',
                    modifier: 'callback-tile__side_red'
                } %}
            </div>
        </div>
    </div>
{% endblock %}
