{% extends "common/base.twig" %}

{% block header %}
    {% set headerTop = "is-dark is-side-light is-tablet-dark" %}
    {% include 'common/header.twig' with { headerTop: headerTop } %}
{% endblock %}

{% block body %}
    <div class="products-sections -relative">
        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="product-intro product-intro_retail">
                    <div class="product-intro__wrapper">
                        <div class="product-intro__main">
                            <div class="product-intro__tag"></div>
                            <h1 class="product-intro__title">
                                Билетные<br> киоски
                            </h1>
                            <div class="product-intro__desc">
                                <p>
                                    Краткое тематическое описание о предоставляемых
                                    услугах
                                </p>
                            </div>
                        </div>
                        <div class="product-intro__side">
                            <div class="product-intro__billboard" style="background-image: url('images/ticket-booth/main.png')"></div>
                            <div class="product-intro__logo">
                                <img src="images/soft-logic.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="offer block-wrapper block_padding-top_xlarge">
                <div class="offer__wrapper">
                    <div class="offer__title block-left block_gap_medium">
                        <div class="title-h3">Наша компания предлагает:</div>
                    </div>
                    <div class="offer__list">
                        <div class="offer-list">
                            <div class="offer-list__list">
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Готовое программно-аппаратное решение, включающее киоск самообслуживания и специализированное ПО
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img">
                                                        <img src="/images/fitness/terminal.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="offer-list__item">
                                    <div class="offer-card">
                                        <div class="offer-card__wrapper">
                                            <div class="offer-card__content">
                                                <div class="offer-card__main">
                                                    Поставку специализированного софта для имеющегося у заказчика оборудования, с возможностью адаптации, доработки и кастомизации, а также разработку ПО с нуля
                                                </div>
                                                <div class="offer-card__side">
                                                    <div class="offer-card__img">
                                                        <img src="/images/retail/t-2.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        {% set list = [
            { img: '/images/ticket-booth/c-1.svg', title: 'Альтернативный канал реализации билетов' },
            { img: '/images/ticket-booth/c-2.svg', title: 'Повышение скорости и качества обслуживания' },
            { img: '/images/ticket-booth/c-3.svg', title: 'Сокращение затрат на персонал' },
            { img: '/images/ticket-booth/c-4.svg', title: 'Использование киосков в качестве рекламных панелей' },
            { img: '/images/ticket-booth/c-5.svg', title: 'Использование киосков для маркетинговых функций<br> <span>(выдача скидочных купонов)</span>' },
            { img: '/images/ticket-booth/c-6.svg', title: 'Самостоятельное создание ивентов, настройка ценовой политики' },
            { img: '/images/ticket-booth/c-7.svg', title: 'Объединение множества площадок в одном киоске' },
            { img: '/images/ticket-booth/c-8.svg', title: 'Интеграция с билетным веб-сайтом с минимальными затратами' },
        ] %}
        <div class="products-sections__item products-sections__item_gap-xxxxlarge block">
            <div class="block-wrapper">

                <div class="offer__title block_gap_xlarge">
                    <div class="title-h3">Ключевые преимущества для фитнес-клубов, спортивных центров и бассейнов:</div>
                </div>

                <div class="list-metric list-metric_simple list-metric_fast-food">
                    <div class="list-metric__list">
                        {% for item in list %}
                            <div class="list-metric__list-item">
                                <div class="list-metric__item">
                                    <div class="list-metric__item-side">
                                        <div class="list-metric__item-icon">
                                            <img src="{{ item.img }}" alt="">
                                        </div>
                                    </div>
                                    <div class="list-metric__item-main">
                                        <div class="list-metric__item-desc">
                                            {{ item.title }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block_gap-out_large">
            <div class="block target target_fast-food">
                <div class="block-wrapper target__wrapper target__wrapper_border-bottom">
                    <div class="target__main">
                        <div class="target__title">
                            Бизнес-цель
                        </div>
                        <div class="target__desc">
                            <div class="block-left">
                                Билетные киоски - это современный формат реализации билетов для различных досуговых, развлекательных и спортивных ивентов. Возможна установка билетных терминалов как непосредственно
                                в местах организации мероприятий, так и в любых других точках
                                с повышенной проходимостью.
                            </div>
                        </div>
                    </div>
                    <div class="target__side">
                        <div class="target__side-image">
                            <img src="/images/ticket-booth/t-2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { title: 'Современные технологии обслуживания без касс' },
            { title: 'Яркий, интерактивный интерфейс' },
            { title: 'Продажа входных билетов' },
            { title: 'Продажа билетов с выбором зала, ряда, места' },
            { title: 'Наличная и безналичная оплата' },
            { title: 'Программы лояльности, накопительные баллы, скидки' },
        ] %}

        <div class="products-sections__item block -index-2 block_gap-out_medium">
            <div class="block-wrapper">
                <div class="title-h3 block_gap_medium">Преимущества внедрения:</div>
                <div class="info-grid info-grid_3x">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_ticket-booth">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count">{{ loop.index }}</div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item -index-1">
            <div class="section-color section-color_black_simple section-color_kiosks block block_padding-top_large block_padding-bottom_xlarge">
                <div class="section-color__wrapper block-wrapper">
                    <div class="products-sections__item block">
                        <div class="block-wrapper">
                            <div class="seporate seporate_full seporate_narrow"></div>
                        </div>
                    </div>
                    <div class="title-medium title-medium_white">
                        Типовые сценарии<br> применения
                    </div>
                    <div class="scenario-item scenario-item_fitness scenario-item_ticket-booth scenario-item--one">
                        <div class="scenario-item__wrapper">
                            <div class="scenario-item__main">
                                <div class="scenario-item__title">Выбор и покупка билета через<br> терминал</div>
                                <div class="scenario-item__desc-wrapper">
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__subtitle">Описание процесса:</div>
                                        <div class="scenario-item__text">
                                            <p>
                                                Интерфейс терминала позволяет удобно и быстро приобрести билет на сеанс, концерт, спортивное мероприятие, любой ивент. Киоск может включать репертуар локальных объектов или мероприятий в месте его установки, а также общие предложения билетных интеграторов в случае установки в местах с большой проходимостью.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="scenario-item__side scenario-item__side_phone-large">
                                <div class="scenario-item__img">
                                    <img src="/images/ticket-booth/cards.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="block section-image section-image_gap-none section-image_bg-b section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['https://via.placeholder.com/420x620.png', 'https://via.placeholder.com/420x620.png', 'https://via.placeholder.com/420x620.png'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xlarge block">
            <div class="block-wrapper">
                <div class="scenario-item scenario-item_fitness scenario-item_ticket-booth scenario-item_color-dark scenario-item--two">
                    <div class="scenario-item__wrapper">
                        <div class="scenario-item__main">
                            <div class="scenario-item__title">Оплата и печать<br> зарезервированного билета</div>
                            <div class="scenario-item__desc-wrapper">
                                <div class="scenario-item__desc scenario-item__desc_gap-none">
                                    <div class="scenario-item__subtitle">Описание процесса:</div>
                                    <div class="scenario-item__text">
                                        Программный интерфейс позволяет реализацию билетов как через киоск,
                                        так и удаленно на сайте заказчика. Клиент может оплатить ранее оформленный
                                        на сайте билет в киоске не только банковской картой, но и наличными, подтвердить бронь и распечатать билет на БСО или одноразовый пропуск со штрихкодом
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scenario-item__side scenario-item__side_phone">
                            <div class="scenario-item__img">
                                <img src="/images/ticket-booth/phone.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block_gap-out_medium -index-2">
            <div class="block section-image section-image_gap-none section-image_bg-lb section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['https://via.placeholder.com/420x620.png', 'https://via.placeholder.com/420x620.png', 'https://via.placeholder.com/420x620.png'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item -index-1">
            <div class="section-color section-color_black_simple section-color_kiosks block block_padding-top_xlarge block_padding-bottom_xlarge">
                <div class="section-color__wrapper block-wrapper">
                    <div class="seporate seporate_full seporate_narrow"></div>
                    <div class="scenario-item scenario-item_fast-food scenario-item_ticket-booth scenario-item--three">
                        <div class="scenario-item__wrapper">
                            <div class="scenario-item__main">
                                <div class="scenario-item__title">Организация продажи с выбором и без выбора мест</div>
                                <div class="scenario-item__desc-wrapper">
                                    <div class="scenario-item__desc">
                                        <div class="scenario-item__subtitle">Описание процесса:</div>
                                        <div class="scenario-item__text">
                                            Продажа большого количества одноразовых входных билетов для массовых мероприятий, выставок, ивентов или с выбором места - зала, сектора, ложи
                                            в графическом интерфейсе.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="scenario-item__side scenario-item__side_qr">
                                <div class="scenario-item__img">
                                    <img src="/images/ticket-booth/ticket-list.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="block section-image section-image_gap-none section-image_bg-b section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['https://via.placeholder.com/420x620.png', 'https://via.placeholder.com/420x620.png', 'https://via.placeholder.com/420x620.png'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-xlarge block">
            <div class="block-wrapper">
                <div class="scenario-item scenario-item_fitness scenario-item_ticket-booth scenario-item_color-dark scenario-item--four">
                    <div class="scenario-item__wrapper">
                        <div class="scenario-item__main">
                            <div class="scenario-item__title">Использование киоска в качестве<br> единого окна для всех площадок</div>
                            <div class="scenario-item__desc-wrapper">
                                <div class="scenario-item__desc scenario-item__desc_gap-none">
                                    <div class="scenario-item__subtitle">Описание процесса:</div>
                                    <div class="scenario-item__text">
                                        Подключение всех спортивно-досуговых заведений, например, в зоне ТРЦ
                                        и реализация билетов через единое устройство с гибкой тарифной политикой, программами лояльности, возможностью оплаты дополнительных услуг.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scenario-item__side scenario-item__side_phone">
                            <div class="scenario-item__img">
                                <img src="/images/ticket-booth/tablet.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large">
            <div class="block section-image section-image_gap-none section-image_bg-lb section-image_bg-lb_s">
                <div class="block-wrapper section-image__wrapper">
                    <div class="section-image__subtitle">Пример интерфейса:</div>
                    <div class="section-image__image-list">
                        {% for item in ['https://via.placeholder.com/420x620.png', 'https://via.placeholder.com/420x620.png', 'https://via.placeholder.com/420x620.png'] %}
                            <div class="section-image__image">
                                <img src="{{ item }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        <div class="products-sections__item -index-2">
            <div class="block section-with-image block section-with-image_mac section-with-image_bg-none section-with-image_house">
                <div class="block-wrapper section-with-image__wrapper">
                    <div class="section-with-image__content-wrapper">
                        <div class="section-with-image__main">
                            <div class="section-with-image__title">
                                Интеграция с билетными<br> веб-сайтами
                            </div>
                            <div class="section-with-image__desc-wrapper">
                                <div class="section-with-image__desc">
                                    <p>
                                        Если заказчик имеет собственный веб-сайт, наше ПО для киосков позволяет с минимальными затратами на реализацию вывести функционал сайта
                                        в интерфейсе, предоставляя пользователю свободный выбор места посещения, сеанса, времени и т. д. После выбора билетов и подтверждения суммы оплаты веб-сайт заказчика передает управление киоску для проведения платежа, используя простейший вызов Json API. С примером реализации возможно ознакомиться по ссылке
                                    </p>
                                </div>
                            </div>
                            <div class="section-with-image__link">
                                <a href="#" target="_blank" class="link-arrow link-arrow_github link-arrow_github_yellow link-arrow_yellow">Посмотреть на GitHub</a>
                            </div>
                        </div>
                        <div class="section-with-image__side">
                            <div class="section-with-image__side-image section-with-image__side-image_ticket-booth-mac"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { title: 'Кинозалы, театры' },
            { title: 'Стадионы, арены, ледовые дворцы' },
            { title: 'Досуговые объекты - катки, боулинг, развлекательные центры' },
            { title: 'Концертные площадки' },
            { title: 'Музеи, выставки' },
            { title: 'Парки развлечений' },
        ] %}

        <div class="products-sections__item  block -index-1 products-sections__item_gap-large">
            <div class="block-wrapper block_padding-top_large block-wrapper_bg-right">
                <div class="title-medium">Сферы<br> применения</div>
                <div class="block-left block_gap_medium">Киоск самообслуживания легко адаптируется для любых заведений, включающих:</div>
                <div class="info-grid info-grid_3x">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_ticket-booth">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__count">{{ loop.index }}</div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="seporate seporate_full seporate_narrow"></div>
            </div>
        </div>

        {% set list = [
            {
                img: '/images/ticket-booth/s-1.svg',
                title: 'Бэк-офис',
                description: 'Система имеет в своем составе бэк-офис, который позволяет удаленно настраивать рекламные кампании как своих услуг, так и сторонней рекламы, вести подробную статистику.'
            },
            {
                img: '/images/ticket-booth/s-2.svg',
                title: 'Интерактивная реклама',
                description: 'Киоск включает все современные возможности интерактивной рекламы - видео, баннеры, анимация в интерфейсе. Полноэкранная реклама при бездействии.'
            },
            {
                img: '/images/ticket-booth/s-3.svg',
                title: 'Глубокая настройка',
                description: 'Специализированный рекламный модуль позволяет вести гибкую настройку показов с учетом времени, места, маркетинговой стратегии. Ведется мониторинг показов, взаимодействия пользователей с рекламой.'
            },
        ] %}

        <div class="products-sections__item block block_padding-bottom_large">
            <div class="block-wrapper">
                <div class="title-medium block_gap_large">
                    Встроенные маркетинговые<br> возможности
                </div>
                <div class="info-list">
                    <div class="info-list__wrapper">
                        <div class="info-list__list">
                            {% for item in list %}
                                <div class="info-list__item">
                                    <div class="info-card info-card_complex">
                                        <div class="info-card__wrapper">
                                            <div class="info-card__img" style="margin-left: 0">
                                                <img src="{{ item.img }}" alt="">
                                            </div>
                                            <div class="info-card__title">{{ item.title }}</div>
                                            <div class="info-card__description">{{ item.description }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper block-wrapper_bg-left block_padding-top_large block_padding-bottom_xlarge">
                <div class="section-image section-image_messenger">
                    <div class="section-image__wrapper">
                        <div class="section-image__main">
                            <div class="title-medium">
                                Система технического<br> мониторинга
                            </div>
                            <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                                Система включает модуль технического мониторинга и модуль оповещения
                                о нештатных ситуациях. Заказчик может отслеживать в реальном времени актуальный статус киоска, получать уведомления о технических проблемах в виде SMS/E-mail/Telegram уведомлений и оперативно реагировать на них
                            </div>
                        </div>
                        <div class="section-image__side">
                            <div class="section-image__img">
                                <img src="/images/fast-food/phone-mg.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="title-medium">
                    Система обновлений
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Встроенная система обновлений позволяет оперативно вносить любые изменения
                    в ПО и загружать их на киоски по заданному расписанию.
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="section-color section-color_blue-dark section-color_bg-right block-wrapper block_padding-top_xlarge block_padding-bottom_large">
                <div class="section-color__wrapper">
                    <div class="title-medium title-medium_white">
                        Варианты<br> приобретения ПО
                    </div>
                    <div class="possibilitys-subtitle block-left block_gap_medium">
                        В зависимости от масштабов автоматизации, размеров заказчика и конечной цели применения решения, возможны:
                    </div>
                    <div class="info-grid info-grid_2x">
                        <div class="info-grid__wrapper">
                            <div class="info-grid__list">
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_yellow bank-advantage_low bank-advantage--one">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">Покупка лицензии</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-grid__item">
                                    <div class="bank-advantage bank-advantage_yellow bank-advantage_low bank-advantage--two">
                                        <div class="bank-advantage__wrapper">
                                            <div class="bank-advantage__body">
                                                <div class="bank-advantage__desc bank-advantage__desc_max-width_none">Использование ПО в облачном формате по ежемесячной/годовой подписке</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-color__line"></div>
                    <div class="possibilitys-subtitle possibilitys-subtitle_wide block-left block_gap_medium">
                        Благодаря различным вариантам приобретения ПО Pay-logic, наше решение подходит не только розничным торговым точкам среднего масштаба и крупным торговым сетям, но и небольшим частным магазинам любой площади.
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            { img: '/images/ticket-booth/d-1.svg', title: 'Стилизацию платежного интерфейса
в фирменные цвета или применение white label концепции' },
            { img: '/images/ticket-booth/d-2.svg', title: 'Интеграцию системы киосков с внешней учетной системой' },
            { img: '/images/ticket-booth/d-3.svg', title: 'Зачисление сдачи на телефон в киосках самообслуживания
' },
            { img: '/images/ticket-booth/d-4.svg', title: 'Разработку рекламных баннеров' },
            { img: '/images/ticket-booth/d-5.svg', title: 'Настройку платежного сценария
под определенные бизнес-требования' },
            { img: '/images/ticket-booth/d-6.svg', title: 'Адаптацию к новой валюте и языку, включая создание мультиязычных интерфейсов' },
        ] %}

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="title-medium">
                    Доработки решения
                </div>
                <div class="possibilitys-subtitle possibilitys-subtitle_medium block-left">
                    Типовые доработки решения для заказчика включают:
                </div>
                <div class="info-grid info-grid_gap-medium info-grid_3x block_gap_small">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <div class="info-grid-card info-grid-card_orange">
                                        <div class="info-grid-card__wrapper">
                                            <div class="info-grid-card__img">
                                                <img src="{{ item.img }}" alt="">
                                            </div>
                                            <div class="info-grid-card__title">{{ item.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="attention accordion_orange-dark block_gap_xlarge">
                    <div class="attention__wrapper attention__wrapper_ticket-booth attention__wrapper_info">
                        <div class="attention__text attention__text_center">По требованию заказчика возможны любые доработки программного обеспечения!</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="section-color section-color_ticket section-color_blue-dark section-color_bg-right block-wrapper block_padding-top_xlarge block_padding-bottom_xxlarge">
                <div class="section-color__wrapper">
                    <div class="section-color__main">
                        <div class="title-medium">
                            Разработка<br> комплексных<br> билетных систем
                        </div>
                        <div class="block-left">
                            <div class="possibilitys-subtitle possibilitys-subtitle_medium">
                                Наша компания с 2008 года занимается созданием сложных высоконагруженных приложений и может предложить полную разработку билетной системы, включая:
                            </div>
                            <ul class="support-item support-item_yellow">
                                <li>
                                    Разработку бэк-офиса
                                </li>
                                <li>
                                    Полнофункциональную систему учета
                                </li>
                                <li>
                                    Разработку мобильного приложения
                                </li>
                                <li>
                                    Организацию кастомной СКУД
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="section-color__side">
                        <div class="section-color__img">
                            <img src="/images/ticket-booth/air.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# ---------------------   ---------------------   ---------------------   ---------------------   --------------------- #}
        <div class="products-sections__item">
            <div class="block section-with-image section-with-image_bg-none section-with-image_yellow">
                <div class="block-wrapper section-with-image__wrapper section-with-image__wrapper_border-bottom">
                    <div class="section-with-image__content-wrapper">
                        <div class="section-with-image__main">
                            <div class="section-with-image__title">
                                Поставка<br>программно-аппаратного решения под ключ
                            </div>
                            <div class="section-with-image__desc-wrapper">
                                <div class="section-with-image__desc">
                                    За длительный период деятельности на рынке платежного ПО мы установили прочные партнерские связи с проверенными производителями оборудования
                                    и готовы предложить комплексное решение в формате ПО + киоски самообслуживания для различных сфер бизнеса
                                </div>
                            </div>
                        </div>
                        <div class="section-with-image__side">
                            <div class="section-with-image__side-image section-with-image__side-image_postmat-retail"></div>
                        </div>
                    </div>
                    <div class="section-with-image__delimiter section-with-image__delimiter_mobile"></div>
                    <div class="section-with-image__link">
                        <a href="#" class="section-with-image__link-arrow">
                            Перейти на сайт партнера
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="block additionally-resources">
                <div class="block-wrapper additionally-resources__wrapper">
                    <div class="additionally-resources__title">Дополнительные<br>ресурсы</div>
                    <div class="additionally-resources__list-wrapper">
                        <a href="#" class="resource-item resource-item_green">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_white-terminal"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Выбрать киоск</span>
                            </div>
                        </a>
                        <a href="#" class="resource-item resource-item_blue">
                            <div class="resource-item__wrapper">
                                <div class="resource-item__text">
                                    Краткое тематическое описание
                                </div>
                                <div class="resource-item__side-image">
                                    <div class="resource-item__image resource-item__image_clouds"></div>
                                    <div class="resource-item__image resource-item__image_cloud"></div>
                                </div>
                            </div>
                            <div class="resource-item__link">
                                <span class="link-arrow">Облачный сервис</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="products-sections__item-wrapper block-wrapper">
                {% include 'modules/callback-tile.twig' with {
                    map: false,
                    title: 'Остались вопросы?',
                    desc: 'Оставьте заявку и наши специлисты свяжутся с вами в ближайшее время',
                    modifier: 'callback-tile__side_yellow'
                } %}
            </div>
        </div>

    </div>
{% endblock %}
