{% extends "common/base.twig" %}

{% block header %}
    {% set headerTop = "is-dark is-tablet-dark" %}
    {% include 'common/header.twig' with { headerTop: headerTop } %}
{% endblock %}

{% block body %}
    <div class="list-section">

        <div class="section">
            <div class="article__breadcrumbs-wrapper block-wrapper">
                {% set breadcrumbs = [{
                    url:'/',
                    name:'Главная',
                    isCurrent: false
                }, {
                    url:'news.html',
                    name:'Вакансии',
                    isCurrent: false
                }, {
                    url:'',
                    name:'Java Developer',
                    isCurrent: true
                }] %}

                {% include 'modules/breadcrumbs.twig' with {breadcrumbs:breadcrumbs} %}
            </div>
        </div>

        <div class="section section_article-header">
            <div class="article__header-wrapper block-wrapper">
                <div class="article__header-caption">Java Developer</div>
                <div class="article__info-wrapper">
                    <div class="article__info-tags">
                        <div class="article__info-date">11.09.2018</div>
                    </div>
                    <div class="article__info-share">
                        <div class="ya-share2" data-services="facebook,twitter,vkontakte,odnoklassniki,moimir"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section_article-widgets">
            <div class="article-widgets">

                <h2>Электронный кошелек SmartKeeper для Expressbank</h2>
                <p>Компания Soft-logic сообщает о выпуске обновленной мобильной версии Электронного кошелька SmartKeeper, внедренного в банке Expressbank.</p>
                <p>Expressbank является одним из ведущих банков Азербайджана, имеет широкую сеть филиалов - 16 отделений. Банк поддерживает работу 4000 POS-терминалов, владеет самой обширной сетью банковских терминалов самообслуживания в регионе, работающих на программном обеспечении Pay-logic,
                    также клиенты активно используют электронный кошелек ExpressPay E-wallet, являющийся разработкой на базе Электронного кошелька SmartKeeper. Данные инструменты приема платежей и оказания услуг всегда готовы к операционной деятельности для бизнеса и рядовых клиентов в режиме
                    24/7.</p>

                <h3>Электронный кошелек SmartKeeper для Expressbank</h3>
                <p>При пополнении картой пользователь указывает номер телефона, к которому привязан кошелек, выбирает тип карты и сумму, система также позволяет сохранить карту для быстрого пополнения в дальнейшем. При выборе пополнения через терминал демонстрируется географическая карта и
                    список ближайших банковских терминалов самообслуживания, имеется возможность прокладки маршрута через сторонние навигаторы.</p>
                <p>Приложение содержит удобный функционал шаблонов и автоплатежей, уведомлений через различные каналы, позволяет настраивать пользовательские лимиты, предоставляет исчерпывающую информацию об истории транзакций.</p>

                <p>Компания Soft-logic сообщает о выпуске обновленной мобильной версии Электронного кошелька SmartKeeper, внедренного в банке Expressbank.</p>
                <p>Expressbank является одним из ведущих банков Азербайджана, имеет широкую сеть филиалов - 16 отделений. Банк поддерживает работу 4000 POS-терминалов, владеет самой обширной сетью банковских терминалов самообслуживания в регионе, работающих на программном обеспечении Pay-logic,
                    также клиенты активно используют электронный кошелек ExpressPay E-wallet, являющийся разработкой на базе Электронного кошелька SmartKeeper. Данные инструменты приема платежей и оказания услуг всегда готовы к операционной деятельности для бизнеса и рядовых клиентов в режиме
                    24/7.</p>
                <p>При пополнении картой пользователь указывает номер телефона, к которому привязан кошелек, выбирает тип карты и сумму, система также позволяет сохранить карту для быстрого пополнения в дальнейшем. При выборе пополнения через терминал демонстрируется географическая карта и
                    список ближайших банковских терминалов самообслуживания, имеется возможность прокладки маршрута через сторонние навигаторы.</p>
                <p>Приложение содержит удобный функционал шаблонов и автоплатежей, уведомлений через различные каналы, позволяет настраивать пользовательские лимиты, предоставляет исчерпывающую информацию об истории транзакций.</p>

                <h2>Обновленный ExpressPay E-walle</h2>
                <p>Компания Soft-logic сообщает о выпуске обновленной мобильной версии Электронного кошелька SmartKeeper, внедренного в банке Expressbank.</p>
                <p>Expressbank является одним из ведущих банков Азербайджана, имеет широкую сеть филиалов - 16 отделений. Банк поддерживает работу 4000 POS-терминалов, владеет самой обширной сетью банковских терминалов самообслуживания в регионе, работающих на программном обеспечении Pay-logic,
                    также клиенты активно используют электронный кошелек ExpressPay E-wallet, являющийся разработкой на базе Электронного кошелька SmartKeeper. Данные инструменты приема платежей и оказания услуг всегда готовы к операционной деятельности для бизнеса и рядовых клиентов в режиме
                    24/7.</p>
                <ul>
                    <li>Приложение содержит удобный функционал шаблонов и автоплатежей, уведомлений через различные каналы, позволяет настраивать пользовательские лимиты, предоставляет исчерпывающую информацию об истории транзакций.</li>
                    <li>Приложение содержит удобный функционал шаблонов и автоплатежей, уведомлений через различные каналы, позволяет настраивать пользовательские лимиты, предоставляет исчерпывающую информацию об истории транзакций.</li>
                    <li>Приложение содержит удобный функционал шаблонов и автоплатежей, уведомлений через различные каналы, позволяет настраивать пользовательские лимиты, предоставляет исчерпывающую информацию об истории транзакций.</li>
                </ul>
                <p>При пополнении картой пользователь указывает номер телефона, к которому привязан кошелек, выбирает тип карты и сумму, система также позволяет сохранить карту для быстрого пополнения в дальнейшем. При выборе пополнения через терминал демонстрируется географическая карта и
                    список ближайших банковских терминалов самообслуживания, имеется возможность прокладки маршрута через сторонние навигаторы.</p>
                <p class="article-text_paragraph">Компания Soft-logic сообщает о выпуске обновленной мобильной версии Электронного кошелька SmartKeeper, внедренного в банке Expressbank.</p>
                <p class="article-text_paragraph">Expressbank является одним из ведущих банков Азербайджана, имеет широкую сеть филиалов - 16 отделений. Банк поддерживает работу 4000 POS-терминалов, владеет самой обширной сетью банковских терминалов самообслуживания в регионе, работающих на
                    программном обеспечении Pay-logic, также клиенты активно используют электронный кошелек ExpressPay E-wallet, являющийся разработкой на базе Электронного кошелька SmartKeeper. Данные инструменты приема платежей и оказания услуг всегда готовы к операционной деятельности для
                    бизнеса и рядовых клиентов в режиме 24/7.</p>
            </div>
        </div>

    </div>
    <div class="block">
        <div class="block-wrapper">
            {% include 'modules/callback-tile.twig' with {
                map: false,
                file: true,
                title: 'Ждем вашего резюме',
                desc: 'С подробным описанием знаний в области Java и зарплатными ожиданиями.'
            } %}
        </div>
    </div>
    <div js-socials-badge class="socials-badge block">
        <div class="socials-badge__wrapper block-wrapper">
            <div class="socials-badge__main">
                <div class="ya-share2" data-services="facebook,twitter,linkedin,viber,whatsapp,skype,telegram" data-lang="ru"></div>
            </div>
            <div class="socials-badge__side">
                <div js-socials-badge-icon class="socials-badge__icon"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="//yastatic.net/share2/share.js"></script>
    {{ parent() }}
{% endblock %}
