{% extends "common/base.twig" %}

{% block header %}
    {% set headerTop = "is-dark is-side-light is-tablet-dark" %}
    {% include 'common/header.twig' with { headerTop: headerTop } %}
{% endblock %}

{% block body %}
    <div class="products-sections -relative">
        <div class="products-sections__item products-sections__item_gap-large block">
            <div class="block-wrapper">
                <div class="product-intro product-intro_retail">
                    <div class="product-intro__wrapper">
                        <div class="product-intro__main">
                            <div class="product-intro__tag"></div>
                            <h1 class="product-intro__title">
                                Вакансии
                            </h1>
                            <div class="product-intro__desc">
                                <p>
                                    Компания Soft-logic - крупнейший разработчик программного обеспечения для приема и обработки платежей. Наши ключевые специализации включают разработку ПО для киосков самообслуживания, систем процессирования платежей
                                    для банков, разработку мобильного банкинга
                                </p>
                                <p>
                                    Мы также имеем широчайший опыт в проектировании и внедрении высоконагруженных систем с большими объемами данных.
                                </p>
                            </div>
                        </div>
                        <div class="product-intro__side">
                            <div class="product-intro__billboard" style="background-image: url('images/vacancies/main-bg.png')"></div>
                            <div class="product-intro__logo">
                                <img src="images/soft-logic.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set list = [
            {
                mod: 'pay-logic',
                title: 'Процессинговый центр<br> Pay-Logic',
                description: 'Краткое тематическое описание предположительно в две строки'
            },
            {
                mod: 'smart-keeper',
                title: 'Система онлайн платежей<br> SmartKeeper',
                description: 'Краткое тематическое описание предположительно в две строки'
            },
            {
                mod: 'hub-pay-logic',
                title: 'Платежный Хаб Pay-Logic',
                description: 'Краткое тематическое описание предположительно в две строки'
            },
            {
                mod: 'po-ksk',
                title: 'ПО для киосков<br> самообслуживания',
                description: 'Краткое тематическое описание предположительно в две строки'
            },
            {
                mod: 'service-fc',
                title: 'Сервисы фискализации',
                description: 'Краткое тематическое описание предположительно в две строки'
            },
            {
                mod: 'air-pc',
                title: 'Облачный<br> крипто-процессинг',
                description: 'Краткое тематическое описание предположительно в две строки'
            },
        ] %}

        <div class="products-sections__item block">
            <div class="block-wrapper">
                <div class="title-large">
                    Ключевые программные<br> продукты
                </div>

                <div class="info-grid info-grid_3x">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            {% for item in list %}
                                <div class="info-grid__item">
                                    <a href="#" class="info-grid-card-complex">
                                        <div class="info-grid-card-complex__bg" style="background-color: #028CCF">
                                            <div class="info-grid-card-complex__bg-img" style="background-image: url(../images/vacancies/image.jpg)"></div>
                                        </div>
                                        <div class="info-grid-card-complex__wrapper">
                                            <div class="info-grid-card-complex__icon info-grid-card-complex__icon_{{ item.mod }}"></div>
                                            <div class="info-grid-card-complex__title">
                                                {{ item.title|raw }}
                                            </div>
                                            <div class="info-grid-card-complex__description">
                                                {{ item.description }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="section-delimiter section-delimiter_opacity3 block-wrapper"></div>
        </div>

        <div class="products-sections__item products-sections__item_gap-medium block">
            <div class="block-wrapper">
                <div class="title-large">
                    Технологии
                </div>

                <div class="stack-items">
                    <div class="stack-items__wrapper">
                        <div class="stack-items__list">
                            <div class="stack-items__item">
                                <div class="stack-item stack-item_java">Java</div>
                            </div>
                            <div class="stack-items__item">
                                <div class="stack-item stack-item_sql">PostgreSQL</div>
                            </div>
                            <div class="stack-items__item">
                                <div class="stack-item stack-item_linux">Linux</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="stack-section block">
                <div class="stack-section__wrapper block-wrapper">
                    <div class="stack-section__inner">
                        <div class="stack-section__columns">
                            <div class="stack-section__col">
                                <div class="stack-section__description">
                                    Основная специализация компании Soft-logic - разработка на основе Java-технологий с использованием СУБД PostgreSQL и запуск проектов на Linux
                                </div>
                            </div>
                            <div class="stack-section__col">
                                <div class="stack-section__description">
                                    Пользовательские интерфейсы строятся с использованием актуальных и востребованных фреймворков (Vue, Angular, React) последних стандартов и спецификаций CSS, HTML и JavaScript
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="stack-section__inner">
                        <div class="stack-section__columns">
                            <div class="stack-section__col">
                                <div class="stack-section__link">
                                    <a href="#" class="link-arrow link-arrow_dark">Наш технологический стек</a>
                                </div>
                            </div>
                            <div class="stack-section__col">
                                <div class="stack-section__img">
                                    <img src="/images/vacancies/surface.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="office block">
                <div class="office__wrapper block-wrapper">
                    <div class="office__inner">
                        <div class="office__col -index-2">
                            <div class="office__main">
                                <div class="office__title">
                                    <div class="title-large">
                                        Офис
                                    </div>
                                </div>
                                <div class="office__content block-left">
                                    <div class="office__description">
                                        <ul class="support-item support-item_blue">
                                            <li>
                                                Режим работы: пн-пт 09:00 — 18:00 <span class="-text-gray">(обед 13:00 — 14:00)</span>
                                            </li>
                                            <li>
                                                КОфициальное трудоустройство, белая з/п, соцпакет
                                            </li>
                                            <li>
                                                Современное рабочее пространство, удобная мебель
                                            </li>
                                            <li>
                                                Просторная кухня: холодильник, микроволновая печь, кофеварка
                                            </li>
                                            <li>
                                                Зона отдыха: Xbox, PlayStation, настольные игры
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="office__video">
                                        <a href="#" data-fancybox class="office-video">
                                            <div class="office-video__title">Видео-презентация об офисе и компании</div>
                                            <div class="office-video__video" style="background-image: url(/images/vacancies/video.jpg)"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="office__col -index-1">
                            <div js-map-contact data-coords="[53.33, 83.69]" class="office__map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item block">
            <div class="section-delimiter section-delimiter_opacity3 block-wrapper"></div>
        </div>

        <div class="products-sections__item block block_gap-out_medium -index-2">
            <div class="block-wrapper">
                <div class="title-large">
                    Список вакансий
                </div>

                <div class="info-grid info-grid_3x">
                    <div class="info-grid__wrapper">
                        <div class="info-grid__list">
                            <div class="info-grid__item">
                                <a href="#" class="info-grid-card-complex info-grid-card-complex_vacancy">
                                    <div class="info-grid-card-complex__wrapper">
                                        <div class="info-grid-card-complex__title">
                                            Javascript Front-end<br> Developer
                                        </div>
                                        <div class="info-grid-card-complex__description">
                                            <p>
                                                Проектирование, разработка и поддержка веб-приложения на стеке: <span>HTML5, JavaScript, Vue.js, Vuex, Webpack, Node.js</span>
                                            </p>
                                            <p>
                                                От 2 лет опыта разработки в сфере веб-технологий
                                            </p>
                                        </div>
                                        <div class="info-grid-card-complex__title-end">
                                            ЗП по результатам собеседования
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="info-grid__item">
                                <a href="#" class="info-grid-card-complex info-grid-card-complex_vacancy">
                                    <div class="info-grid-card-complex__wrapper">
                                        <div class="info-grid-card-complex__title">
                                            Java Developer
                                        </div>
                                        <div class="info-grid-card-complex__description">
                                            <p>
                                                Написание нового кода по требованиям задачи
                                                и результатам обсуждения с командой, участие
                                                в проектировании архитектуры.
                                            </p>
                                            <p>
                                                <span>Рассматриваем кандидатов различного уровня</span>
                                            </p>
                                        </div>
                                        <div class="info-grid-card-complex__title-end">
                                            ЗП по результатам собеседования
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="info-grid__item">
                                <a href="#" class="info-grid-card-complex info-grid-card-complex_vacancy">
                                    <div class="info-grid-card-complex__wrapper">
                                        <div class="info-grid-card-complex__title">
                                            Java Web-Developer
                                        </div>
                                        <div class="info-grid-card-complex__description">
                                            <p>
                                                Разработка программного обеспечения, участие в работе над архитектурой проекта,
                                                в планировании версий продукта, в разработке модулей
                                            </p>
                                            <p>
                                                <span>От 1 до 3 лет разработки в области Java</span>
                                            </p>
                                        </div>
                                        <div class="info-grid-card-complex__title-end">
                                            ЗП по результатам собеседования
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="stack-internship block">
                <div class="stack-internship__wrapper block-wrapper">
                    <div class="stack-internship__main">
                        <div class="stack-internship__title">
                            <div class="title-large">
                                Список вакансий
                            </div>
                        </div>
                        <div class="stack-internship__description block-left">
                            <p>
                                Если Вы студент последних курсов (4-5) ИВТ, ИКТ и Вам интересно участие в разработке программного обеспечения в платежной сфере, мы готовы предложить стажировку в компании Soft-logic,
                                в зависимости от Ваших профессиональных навыков.
                            </p>
                            <p>
                                Присылайте заявку с описанием своих навыков и возможностей. Если Вы достойный кандидат, мы пригласим Вас на собеседование и обсудим дальнейшие детали стажировки, а также участия
                                в полноценной работе в компании Soft-logic по окончании учебного заведения.
                            </p>
                        </div>
                        <div class="stack-internship__link block-left">
                            <a href="#" class="link-arrow">Оставить заявку</a>
                        </div>
                    </div>
                    <div class="stack-internship__side">
                        <div class="stack-internship__img">
                            <img src="/images/vacancies/intern.png" alt="abc">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-sections__item">
            <div class="contacts-section block">
                <div class="contacts-section__wrapper block-wrapper">
                    <div class="contacts-section__inner">
                        <div class="contacts-section__main">
                            <div class="contacts-section__title">
                                <div class="title-large">
                                    Контакты
                                </div>
                            </div>

                            <div class="contacts-section__phones">
                                <div class="contacts-cols block-left">
                                    <div class="contacts-cols__phones">
                                        <div class="contacts-cols__phones-item">
                                            <a href="tel:+7465654465" class="contacts-cols__phone">
                                                <div class="contacts-cols__phone-city">Москва</div>
                                                <div class="contacts-cols__phone-number">
                                                    +7(495) 760-45-99
                                                </div>
                                            </a>
                                        </div>
                                        <div class="contacts-cols__phones-item">
                                            <a href="tel:+7465654465" class="contacts-cols__phone">
                                                <div class="contacts-cols__phone-city">Барнаул</div>
                                                <div class="contacts-cols__phone-number">
                                                    +7(495) 760-45-99
                                                </div>
                                                <div class="contacts-cols__phone-desc">
                                                    (с 6:00 до 15:00 по московскому времени)
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contacts-section__side">
                            <div class="contacts-section__side-inner">
                                <div class="contacts-items">
                                    <div class="contacts-items__wrapper">
                                        <div class="contacts-items__list">
                                            <div class="contacts-items__item">
                                                <a href="#" class="contacts-elem">
                                                    <div class="contacts-elem__icon contacts-elem__icon_email"></div>
                                                    <div class="contacts-elem__title">info@soft-logic.ru</div>
                                                </a>
                                            </div>

                                            <div class="contacts-items__item">
                                                <a href="#" class="contacts-elem">
                                                    <div class="contacts-elem__icon contacts-elem__icon_tg"></div>
                                                    <div class="contacts-elem__title">@softlogic</div>
                                                </a>
                                            </div>

                                            <div class="contacts-items__item">
                                                <a href="#" class="contacts-elem">
                                                    <div class="contacts-elem__icon contacts-elem__icon_skype"></div>
                                                    <div class="contacts-elem__title">soft-logic</div>
                                                </a>
                                            </div>

                                            <div class="contacts-items__item">
                                                <a href="#" class="contacts-elem">
                                                    <div class="contacts-elem__icon contacts-elem__icon_ws"></div>
                                                    <div class="contacts-elem__title">+7 903 947 9447</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://api-maps.yandex.ru/2.0-stable/?apikey=7279ff52-8cf6-46ef-9f49-043703363ac3&load=package.standard&lang=ru-RU" type="text/javascript"></script>
    {{ parent() }}
{% endblock %}
