<!DOCTYPE html>
<html>
{% set asset_version = '49' %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <title> Soft-logic </title>
    <meta name="description" content="Описание главной"/>
    <meta name="title" content="Soft-logic"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="css/vendor.css?{{ asset_version }}">
        <link rel="stylesheet" href="css/common.css?{{ asset_version }}">
    {% endblock %}
</head>
<body class="body {% block body_mod %}{% endblock %}">
<div class="body__wrapper">
    <div class="body__header">
        {% block header %}
            {% include 'header.twig' %}
        {% endblock %}
    </div>
    <div class="body__content">
        {% block body %}{% endblock %}
    </div>
    <div class="body__footer">
        {% block footer %}
            {% include 'footer.twig' %}
        {% endblock %}
    </div>
</div>
<div js-agreement class="agreement block">
    <div class="agreement__wrapper block-wrapper">
        <div class="agreement__content">
            <div class="agreement__content-side">
                Продолжая работу с ekassir.com, вы подтверждаете использование <a target="_blank" class="link"
                                                                                  href="#">сайтом</a> cookies вашего
                браузера
            </div>
            <div class="agreement__content-main">
                <button js-agreement-btn class="button button_small button_dark">
                        <span class="button__content">
                            <span class="button__title">
                                Согласен
                            </span>
                        </span>
                </button>
            </div>
        </div>
    </div>
</div>
{% include '../layers/menu.twig' %}
{% include '../layers/callback.twig' %}
{% block javascripts %}
    <script src="js/vendor.js?{{ asset_version }}"></script>
    <script src="js/common.js?{{ asset_version }}"></script>
{% endblock %}


<script>
  app.start()
</script>
</body>
</html>
