<div class="footer block">
    <div class="footer__wrapper block-wrapper">
        <div class="footer__content">
            <div class="footer__main">
                © 2008-2018 Pay-logic, Программное обеспечение для платежных систем
            </div>
            <div class="footer__side">
                {% if socialLight is defined %}
                    <div class="social">
                        {% set socials = [
                            {mod:'facebook',url:'#'},
                            {mod:'twitter',url:'#'},
                            {mod:'instagram',url:'#'}
                        ] %}
                        <div class="social__list">
                            {% for social in socials %}
                                <a href="{{ social.url }}" target="_blank"
                                   class="social-item social-item_{{ social.mod }} social__list-item"></a>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="social social_dark">
                        {% set socials = [
                            {mod:'facebook',url:'#'},
                            {mod:'twitter',url:'#'},
                            {mod:'instagram',url:'#'}
                        ] %}
                        <div class="social__list">
                            {% for social in socials %}
                                <a href="{{ social.url }}" target="_blank"
                                   class="social-item social-item_{{ social.mod }} social__list-item"></a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
