<div js-header class="header header_intro">
    <div class="header__top">
        <div js-header-top class="header-top">
            <div class="header-top__wrapper">
                <div class="header-top__main">
                    <a js-logo-link href="#" class="header-top__logo">
                        <img class="header-top__logo-img header-top__logo-img_white" src="images/logo-white.svg" alt="">
                        <img class="header-top__logo-img header-top__logo-img_colors" src="images/logo-blue.svg" alt="">
                    </a>
                    <div class="header-top__contacts">
                        {% set contacts = [{
                            url:'tel:+73852722727',
                            title:'+ 7 (3852) 72-27-27'
                        },{
                            url:'mailto:info@soft-logic.ru',
                            title:'info@soft-logic.ru'
                        }] %}
                        {% for contact in contacts %}
                            <div class="header-top__contact">
                                <a href="{{ contact.url }}" class="header-top__contact-link">{{ contact.title }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="header-top__side">
                    <div class="header-top__sections">
                        <div class="header-top__section header-top__section_locales">
                            <div class="header-top__locales">
                                {% set locales = [
                                    'RU',
                                    'EN'
                                ] %}
                                {% for locale in locales %}
                                    <div class="header-top__locales-item">
                                        <a href="#" class="header-top__locales-link {{ loop.first ? 'is-active' : '' }}">{{ locale }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div js-menu-toggle data-target="callback" class="header-top__section header-top__section_callback">
                            <button class="header-top__btn header-top__btn_light">
                                <span class="header-top__btn-caption">
                                    Заявка на разработку
                                </span>
                            </button>
                            <button class="header-top__btn header-top__btn_dark">
                                <span class="header-top__btn-caption">
                                    Заявка на разработку
                                </span>
                            </button>
                        </div>
                        <div class="header-top__section header-top__section_menu">
                            <div js-menu-toggle data-target="menu" class="header-top__menu">
                                <div class="header-top__menu-toggle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__middle">
        <div js-header-middle class="header-middle">
            <div js-header-nav class="header-nav">
                {% set links = [
                    {
                        title:'Услуги',
                        url:'#',
                        name:2
                    },
                    {
                        title:'Продукты',
                        url:'#',
                        name:3
                    },      {
                        title:'Проекты',
                        url:'#',
                        name:4
                    },      {
                        title:'Кейсы',
                        url:'#',
                        name:5
                    }, {
                        title:'Новости',
                        url:'#',
                        name:6
                    },      {
                        title:'О комании',
                        url:'#',
                        name:7
                    },      {
                        title:'Контакты',
                        url:'#',
                        name:8
                    }
                ] %}
                <div class="header-nav__list">
                    {% for link in links %}
                        <a js-header-nav-link data-id="{{ link.name }}" href="{{ link.url }}" class="header-nav__item">
                            <div class="header-nav__item-caption">
                                {{ link.title }}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div js-header-bottom class="header-bottom">
            <div class="header-bottom__wrapper ">
                <div class="header-bottom__major">
                    <div js-intro-loader class="header-bottom__loader"></div>
                    <div class="header-bottom__major-content">
                        <div class="header-bottom__major-main">
                            <div js-global-nav class="global-nav">
                                <div class="global-nav__wrapper">
                                    <div js-global-nav-prev class="global-nav__item global-nav__item_prev"></div>
                                    <div js-global-nav-next class="global-nav__item global-nav__item_next"></div>
                                </div>
                            </div>
                        </div>
                        <div class="header-bottom__major-side">
                            <div js-intro-nav data-current-slide=1 class="intro-nav">
                                <div class="intro-nav__wrapper">
                                    <div class="intro-nav__side">
                                        <div js-intro-nav-prev class="intro-nav__prev"></div>
                                    </div>
                                    <div class="intro-nav__main">
                                        <div js-intro-nav-next class="intro-nav__action" style="background-color: #EA5B4E">
                                            <div js-intro-nav-count class="intro-nav__action-counter">
                                                <span js-intro-nav-count-current>1</span>/2
                                            </div>
                                            <div class="intro-nav__action-major">
                                                <div class="intro-nav__preview">
                                                    <div js-intro-nav-video data-id="1" class="intro-nav__preview-item">
                                                        <div class="intro-nav__preview-poster" style="background-image: url('images/360x316.png')"></div>
                                                        <video preload="metadata" muted loop src="video/video.mp4" class="intro-nav__preview-video"></video>
                                                    </div>
                                                    <div js-intro-nav-video data-id="2" class="intro-nav__preview-item is-active">
                                                        <div class="intro-nav__preview-poster" style="background-image: url('images/360x316.png')"></div>
                                                        <video preload="metadata" muted loop src="video/demo2.mp4" class="intro-nav__preview-video"></video>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="intro-nav__action-minor">
                                                <div class="intro-nav__action-side">
                                                    <div class="intro-nav__next"></div>
                                                </div>
                                                <div js-intro-nav-title class="intro-nav__action-main">
                                                    Smart Keeper
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom__minor block">
                    <div class="header-bottom__minor-wrapper block-wrapper">
                        <div class="header-bottom__minor-content">
                            <div class="header-bottom__minor-main">
                                <div class="header-bottom__scroll">
                                    <div class="header-bottom__scroll-main">
                                        <div class="header-bottom__scroll-caption">
                                            Листайте вниз
                                        </div>
                                    </div>
                                    <div class="header-bottom__scroll-side">
                                        <div class="header-bottom__scroll-icon"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-bottom__minor-side">
                                <div class="social">
                                    {% set socials = [
                                        {mod:'facebook',url:'#'},
                                        {mod:'twitter',url:'#'},
                                        {mod:'instagram',url:'#'}
                                    ] %}
                                    <div class="social__list">
                                        {% for social in socials %}
                                            <a href="{{ social.url }}" target="_blank"
                                               class="social-item social-item_{{ social.mod }} social__list-item"></a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>