<div class="header is-static {{ customClass }}">
    <div class="header-top {{ headerTop }}">
        <div class="header-top__wrapper">
            <div class="header-top__main">
                <a href="/" class="header-top__logo">

                    {% if logoLight is defined %}
                        <img class="header-top__logo-img" src="images/logo-white.svg" alt="">
                    {% else %}
                        <img class="header-top__logo-img" src="images/logo-blue.svg" alt="">
                    {% endif %}
                </a>
                <div class="header-top__contacts">
                    {% set contacts = [{
                        url:'tel:+73852722727',
                        title:'+ 7 (3852) 72-27-27'
                    },{
                        url:'mailto:info@soft-logic.ru',
                        title:'info@soft-logic.ru'
                    }] %}
                    {% for contact in contacts %}
                        <div class="header-top__contact">
                            <a href="{{ contact.url }}" class="header-top__contact-link">{{ contact.title }}</a>
                        </div>
                    {% endfor %}
                    <div class="header-top__contact">
                        <a href="https://soft-logic.ru/soft-logic.pdf" target="_blank" class="header-top__contact-link">Презентация</a>                                </div>
                </div>
            </div>
            <div class="header-top__side">
                <div class="header-top__sections">
                    <div class="header-top__section header-top__section_locales">
                        <div class="header-top__locales">
                            {% set locales = [
                                'RU',
                                'EN'
                            ] %}
                            {% for locale in locales %}
                                <div class="header-top__locales-item">
                                    <a href="#" class="header-top__locales-link {{ loop.first ? 'is-active' : '' }}">{{ locale }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div js-menu-toggle data-target="callback" class="header-top__section header-top__section_callback">
                        <button class="header-top__btn header-top__btn_light">
                                <span class="header-top__btn-caption">
                                    Заявка на разработку
                                </span>
                        </button>
                        <button class="header-top__btn header-top__btn_dark">
                                <span class="header-top__btn-caption">
                                    Заявка на разработку
                                </span>
                        </button>
                    </div>
                    <div class="header-top__section header-top__section_menu">
                        <div js-menu-toggle data-target="menu" class="header-top__menu">
                            <div class="header-top__menu-toggle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
