.fistscreen {
   position relative
   color #040724
   margin-bottom: 78px;
   &-cols {
      display flex
      flex 1
      &__item {
         padding-top calc(6% - 22px)
         max-width calc(50%)
         flex-basis 50%
         position relative
         &-subtitle {
            font-size: 22px;
            margin-bottom: 12px
         }
         &-title {
            margin-bottom: 27px
         }
         &-text {
            line-height: 26px
            font-size: 14px
            max-width 407px
            margin-left: 50px
         }
         &-phone {
            width: 117%;
            position: relative;
            left: -44%;
            top: 10%;
            z-index: 1
            &:before {
               content ''
               background url(../images/projects/smartkeeper/circle.png)
               width 160px
               height 160px
               background-size cover
               position: absolute
               left: 30%
               top: 4%
               z-index: -1
            }
            &:after {
               content ''
               background url(../images/projects/smartkeeper/dots.png)
               width 140px
               height 140px
               background-size cover
               position: absolute
               left: calc(81% - 4px);
               top: calc(24% - 3px);
               z-index: -1
            }
            img {
               width 100%
            }
         }
      }
   }

   &:before {
      content ''
      position absolute
      left 50%
      top -100vh
      bottom: 12%;
      right 0
      background #EB6255
      z-index -1
   }
   &:after {
      content: url(../images/projects/smartkeeper/smartkeeper.svg)
      position absolute
      right: -5px;
      bottom: -5%;
      max-width: 50%;
   }
}

+do(1120) {
   .fistscreen-cols__item {
      padding: 0
      &:nth-child(1) {
         z-index 20

      }
      &:nth-child(2) {
         z-index 15
      }
   }
   .fistscreen-cols__item-phone {
      width 88%
      position relative
      left -30%
      top 10%
      z-index 1
      &:before {
         left 17%
      }

   }
   .fistscreen:before {
      bottom 0
   }
   .fistscreen:after{
      bottom -30%
}

}
+do(1120) {
   .fistscreen-cols__item-text {
      margin-left 0
   }
}

+do(1000) {
   .fistscreen-cols__item {
      padding 0
      &:nth-child(1) {
         width 100%
         max-width 100%
         flex-basis: 100%

      }
      &:nth-child(2) {
         display none;
      }
   }
   .fistscreen {
      &:before {
         display none
      }
      &:after {
         display none
      }
   }
   .fistscreen {
      margin-bottom: 150px
   }
}

+do(750) {
   .fistscreen {
      margin-bottom 80px
   }
}