.process {
   padding 165px 0 149px
   .title {
      margin-bottom 106px
   }
   &__item {
      &-number {
         background #ED6154
         width 60px
         height 60px
         color #ffffff
         font-family $font-manrope
         font-size 22px
         display flex
         justify-content center
         align-items center
         border-radius 50%
         margin-bottom 26px
      }
      &-text {
         font-family $font-manrope
         font-size 16px
         color #27262B
         max-width 290px
         font-weight bold
         margin-bottom 32px
      }
      &-subtext {
         font-family $font-roboto
         line-height 26px
         font-size 14px
         color rgba(39, 38, 43, 0.6)
      }
   }
   &-wrap {
      .owl-stage {
         position relative
         &:before {
            content ''
            width calc(100% - 100px)
            position absolute
            height 1px
            background #E2E3EA
            top: 28px
            left 0
         }
      }
      .owl-stage-outer {
         overflow visible
         .owl-item {
            &:last-child {
               background #ffffff
            }
         }
      }
   }
   &_row-top_none {
      padding-top 0
   }
   &_row-bottom_none {
      padding-bottom 0
   }
   &_light_blue {
      & ^[0]__item {
         &-number {
            background #028CCF
         }
      }
   }
   &_blue {
      & ^[0]__item {
         &-number {
            background #264DAB
         }
      }
   }
}

+do(1000) {
   .process {
      &_mobile_row-small {
         padding-top 45px
         padding-bottom 45px
      }
   }
}

+do(750) {
   .process {
      .title {
         margin-bottom 60px
      }
      &_mobile_row-small {
         padding-top 30px
         padding-bottom 30px
      }
   }
}