{% set bank_advantages = [
        {
            number:'one',
            desc:'Возможность самостоятельного добавления услуг',
        },
        {
            number:'two',
            desc:'Возможность автоматического экспорта услуг от агрегаторов',
        },
        {
            number:'three',
            desc:'Полное логирование всех операций. Оперативный разбор возникающих инцидентов',
        },
        {
            number:'four',
            desc:'Наличие встроенной системы мониторинга комплекса. Оперативное реагирование на возникающие нештатные ситуации',
        },
        {
            number:'five',
            desc:'ПО разработано с использованием только бесплатных компонентов. Отсутствие необходимости в приобретении дополнительного ПО при запуске решения',
        }
    ] 
%}


<div class="bank-advantages" js-hider>
    <div class="block">
        <div class="block-wrapper">
        
            <div class="bank-advantages__title">Преимущества<br/> для банка</div>

            <div js-bank-advantage-slider class="bank-advantages-slider">
                <div js-bank-advantage-slider-list class="bank-advantages-slide__list">
                    {% for advantage in bank_advantages %}
                        <div class="bank-advantages-slide__list-item">
                            <div class="bank-advantage bank-advantage--{{advantage.number}}">
                                <div class="bank-advantage__wrapper">
                                    <div class="bank-advantage__body">
                                        <div class="bank-advantage__desc">
                                            {{ advantage.desc }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>