.functional-mb{
    position: relative;
    background:  #ec6154; 
    display flex   
    background-image: url(../images/projects/smartkeeper/fon.png);
    &:after{
        content: url(../images/projects/smartkeeper/smartkeeper.svg);
        position: absolute;
        right: -18px;
        top: -99px;
        max-width: 50%;
        z-index -3
    }
    &:before{
        content: '';
        /* width: 100%; */
        position: relative;
        background: #fff;
        left: 0px;
        top: 0px;
        bottom: 0px;
        z-index: 1;
        display: block;
        width: 8.4%;
        position: absolute
    }

    .block{
        flex-shrink: 0
        width: 100%;
        flex: 1
    }
    
    .title{
        color:#fff;
        margin-bottom: 75px;
    }
    .dots{
        right:0px;
        top: 0px;
        z-index -1
    }
    .circle{
        width 120px
        height 120px
        right: 30%;
        left: initial;
        top: -58px;

    }
    .bank-advantage__title{
        max-width 250px;
        font-family: $font-manrope;
        font-size: 18px;
        margin-bottom: 36px; 
    }
    .bank-advantage__desc{
        font-size: 14px;
        font-family: $font-roboto;
        max-width 330px;
    }
}

+do(1648){
    .functional-mb{
        &:before{
            display: none;
        }
    }
}
.functional{
    &-descr{
        max-width: 573px;
        font-size: 14px;
        color:#fff;
        margin-left: 25px;
        margin-bottom: 50px
    }
    &-container{
        padding: 95px 0 170px;
        &:before{
            content: url('../images/projects/smartkeeper/clouds.png')
            position: absolute;
            z-index: 0;
            right: 0
            top: 54%;   
        }
        &:after{
            content: url('../images/projects/smartkeeper/phone.png')
            position: absolute;
            z-index: 1;
            right: -16px;
            bottom: -19%;
        }

    }
}

+do(1200){
    .functional-container{
        &:before {
            display none
        }
        &:after {
            display none
        }
    }
}