{% set bank_advantages = [
        {
            title:'Оформление банковских продуктов и услуг',
            desc:'Запрос на выпуск и перевыпуск карты, интеграция модуля кредитов и депозитов - открытие счетов, вкладов, оформление кредитов',
        },
        {
            title:'Контроль и управление финансами и услугами 24/7',
            desc:'Переводы денежных средств, покупка валюты, привязка карт сторонних банков, смена ПИН-кода и т. д.',
        },
        {
            title:'Онлайн-чат с сотрудниками банка',
            desc:'Переводы денежных средств, покупка валюты, привязка карт сторонних банков, смена',
        }
        
    ] 
%}
<div class="functional-mb" js-hider>
    <div class="dots"></div> 
    <div class="circle"></div>
    <div class="block">
        <div class="block-wrapper">
            <div class="functional-container">
                <div class="title title-h2 title-h2--smart">Функционал<br/>мобильного банкинга</div>
                <div class="block">
                    <div class="functional-descr">SmartKeeper может быть доработан в рамках конкретного проекта в качестве полноценного Интернет-банка на базе мобильного и web-приложения</div>
                </div>

                <div js-bank-functuional-slider class="bank-advantages-slider">
                    <div js-bank-functuional-slider-list class="bank-advantages-slide__list">
                        {% for advantage in bank_advantages %}
                            <div class="bank-advantages-slide__list-item">
                                <div class="bank-advantage">
                                    <div class="bank-advantage__wrapper">
                                        <div class="bank-advantage__body">
                                            <div class="bank-advantage__title">
                                                {{ advantage.title }}
                                            </div>
                                            <div class="bank-advantage__desc">
                                                {{ advantage.desc }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>