grid-width($size, $width = $grid-width, $gap = $grid-gap) {
   return round($width * $size + $gap * ($size - 1))
}

$block,
.block {
   box-sizing border-box
   padding-left $block-padding
   padding-right $block-padding
}
+do(750) {
   .block {
      padding-left $block-padding-small
      padding-right $block-padding-small
   }
}

.block-left {
   padding-left 50px
}
+do(1000) {
   .block-left {
      padding-left 30px
   }
}
+do(750) {
   .block-left {
      padding-left 20px
   }
}
+do(500) {
   .block-left {
      padding-left 0
   }
}
.block_gap-none {
   margin-bottom 0px !important
}
.block_gap-out_medium {
   margin-bottom -40px
   padding-bottom .1px
}
+do(750) {
   .block_gap-out_medium {
      margin-bottom -30px
   }
}

.block_gap-out_xmedium {
   margin-bottom -60px
   padding-bottom .1px
}
+do(750) {
   .block_gap-out_xmedium {
      margin-bottom -40px
   }
}

.block_gap-out_large {
   margin-bottom -130px
   padding-bottom .1px
}
+do(1200) {
   .block_gap-out_large {
      margin-bottom -70px
   }
}
+do(900) {
   .block_gap-out_large {
      margin-bottom -40px
   }
}

.block_gap_small {
   margin-bottom 30px !important
}

.block_gap_medium {
   margin-bottom 55px !important
}
+do(1000) {
   .block_gap_medium {
      margin-bottom 35px !important
   }
}
+do(750) {
   .block_gap_medium {
      margin-bottom 24px !important
   }
}

.block_gap_xlarge {
   margin-bottom 100px !important
}
+do(1200) {
   .block_gap_xlarge {
      margin-bottom 80px !important
   }
}
+do(1000) {
   .block_gap_xlarge {
      margin-bottom 60px !important
   }
}
+do(750) {
   .block_gap_xlarge {
      margin-bottom 40px !important
   }
}


// padding-top block
.block_padding-top_medium {
   padding-top 50px
}

.block_padding-top_xmedium {
   padding-top 45px
}
+do(750) {
   .block_padding-top_xmedium {
      padding-top 20px
   }
}

.block_padding-top_large {
   padding-top 75px
}
+do(1200) {
   .block_padding-top_large {
      padding-top 50px
   }
}
+do(750) {
   .block_padding-top_large {
      padding-top 30px
   }
}

.block_padding-top_xlarge {
   padding-top 100px
}
+do(1200) {
   .block_padding-top_xlarge {
      padding-top 80px
   }
}
+do(750) {
   .block_padding-top_xlarge {
      padding-top 50px
   }
}

.block_padding-top_xxlarge {
   padding-top 150px
}
+do(750) {
   .block_padding-top_xxlarge {
      padding-top 70px
   }
}


// padding-bottom block
.block_padding-bottom_large {
   padding-bottom 75px
}
+do(1200) {
   .block_padding-bottom_large {
      padding-bottom 50px
   }
}
+do(750) {
   .block_padding-bottom_large {
      padding-bottom 30px
   }
}

.block_padding-bottom_xlarge {
   padding-bottom 100px
}
+do(1200) {
   .block_padding-bottom_xlarge {
      padding-bottom 80px
   }
}
+do(750) {
   .block_padding-bottom_xlarge {
      padding-bottom 50px
   }
}

.block_padding-bottom_xxlarge {
   padding-bottom 150px
}
+do(750) {
   .block_padding-bottom_xxlarge {
      padding-bottom 70px
   }
}

.block_bg_white {
   background-color white
}

.block_box {
   border-top 1px solid rgba(white,0)
   border-bottom 1px solid rgba(white,0)
}

.block_offset-border_top  {
   position relative
   &:before {
      content ''
      position absolute
      left 0
      right 0
      height 1px
      top -20px
      background-color #D5EAF5
   }
}

.block_out-border_top {
   &:before {
      top 20px
   }
}
.block_border-bottom {
   border-bottom 1px solid $color-grey-light
}

$block-wrapper,
.block-wrapper {
   box-sizing border-box
   margin-left auto
   margin-right auto
   if ($block-max-width) {
      min-width $block-width
      max-width $block-max-width
   } else {
      width $block-width
   }
/*    &--possibilitys{
      min-width $block-width + $block-padding*2
      max-width $block-max-width + $block-padding*2
   } */
}

.block-wrapper_bordered {
   border-bottom 1px solid rgba(#CCCBCE, .3)
}

.block-wrapper_bg-left {
   position relative
   &:before {
      content ''
      position absolute
      trbl 0 0 0 -100vw
      z-index -1
      background #FAFBFD
   }
}

.block-wrapper_bg-right {
   position relative
   &:before {
      content ''
      position absolute
      trbl 0 -100vw 60px -116px
      z-index -1
      background #FAFBFD
   }
}

+do(750) {
   .block-wrapper_bg-left {
      &:before {
         right -100vw
      }
   }
   .block-wrapper_bg-right {
      &:before {
         left -100vw
      }
   }
}
.block-wrapper_bg-center {
   position relative
   &:before {
      content ''
      position absolute
      trbl (36 + 58)px -70px 67px -70px
      z-index -1
      background #FAFBFD
   }
}

.block-wrapper_bg-center_default {
   padding-bottom .1px
   &:before {
      trbl 0px -117px 0 -117px
   }
}

.block-wrapper_bg-center_bottom-out {
   padding-bottom .1px
   &:before {
      trbl 0px -117px 120px -117px
   }
}

.block-wrapper_bg-gerb {
   position relative
   &:before {
      content ''
      position absolute
      z-index -1
      background url("../images/fiscal-online/gerb.svg")
      width 697.98px
      height 698px
      left 65%
      top -30%
   }
}

.block-wrapper_small {
   max-width $block-max-width-small
}


.block-header {
   &__wrapper {
      padding-bottom 35px
   }
   &__title {
      font-size $size-xxlarge
      line-height $line-xxlarge
      font-weight 600
   }
}

.block-header_border-bottom {
   border-bottom 1px solid $color-grey-light
}

.block-header_padding-bottom_small {
   .block-header {
      &__wrapper {
         padding-bottom 24px
      }
   }
}

.-relative {
   position relative
}
.-index-1 {
   position relative
   z-index 10
}
.-index-2 {
   position relative
   z-index 20
}

.-text-gray {
   color rgba(#27262B, .5)
}
