html,
body {
   min-width 320px
   height 100%
}

html {
   -webkit-tap-highlight-color rgba(#000, 0)
}

body {
   cursor default
   -moz-osx-font-smoothing: grayscale
   -webkit-font-smoothing: antialiased
   -webkit-text-size-adjust: 100%
   overflow-y scroll
   color $color-main
   font-family $font-main
   font-size $size-main
   line-height $line-main
   background-color white
}

.body {
   display flex
   flex-direction column
   &__wrapper {
      overflow hidden
      flex 1 0 auto
      display flex
      flex-direction column
      position relative
      background-position top
      background-repeat repeat-x
      &.is-locked {
         position fixed
         top 0
         bottom 0
         width 100%
      }

      &.is-hide {
         transition opacity $transition-main .3s
         opacity 0
      }
   }
   &__overlay {
      transition opacity $transition-main
      pointer-events none
      opacity 0
      z-index 1199
      position fixed
      top 0
      left 0
      right 0
      bottom 0
      background-color rgba($color-black, .75)
      &.is-opened {
         z-index 1201
         pointer-events auto
         opacity 1
      }
   }
   &__header,
   &__footer,
   &__content {
      flex 0 0 auto
   }
   &__content {
      flex-grow 1
   }
   &__footer {
      margin-top auto
   }
}

.body_col {
   background black
   .body {
      &__content {
         display flex
      }
      &__header {
         position fixed
         top 0
         left 0
         bottom 0
         right 0
         z-index 99
         pointer-events none
         display flex
      }
   }
}

+do(750) {
   .body {
      &__wrapper {
         &.is-locked {
            &:before {
               content ''
               position absolute
               top 0
               left 0
               right 0
               bottom 0
               background rgba($color-black, 0.5)
               z-index 999
            }
         }
      }
   }
}

.body_index {
   min-width 1000px
   .body {
      &__wrapper {
         background-image none
      }
      &__header {
         z-index 200
         position absolute
         trbl 0 0 auto 0
      }
      &__footer {
         z-index 200
         // position absolute
         // trbl auto 0 0 0
      }
      &__content {
         display flex
      }
   }
}

+do(1000) {
   .body_index {
      .body {
         &__wrapper {
            transform translateZ(0)
         }
      }
   }
}

.-roboto {
   font-family: 'Roboto', sans-serif;
}

.body.error_404 {
   background-color #274EAD
   .footer {
      background-color #274EAD
      color white
   }
}