.button::-moz-focus-inner {
  padding 0
  border 0
}

.button {
  cursor pointer
  user-select none
  box-sizing border-box
  vertical-align top
  border-radius 0
  outline none
  background none
  font-style normal
  text-align center
  text-transform none
  text-decoration none
  min-height 60px
  display inline-flex
  border none
  font-family $font-title
  font-weight 500
  font-size 14px
  line-height (24 / 14)
  letter-spacing 0.02em
  background rgba(white, 0)
  position relative
  overflow hidden
  transition color .1s linear .2s
  color white
  padding 0

  &:before {
    content ''
    display block
    size 0
    position absolute
    background white
    border-radius 50%
    transition .4s linear
    transform: translate(-50%, -50%);
    top 50%
    left 50%
    margin-top 28px
    margin-left -50%
    visibility hidden
    will-change: width, height;
  }

  input {
    pointer-events none
    opacity 0
    position absolute
    top 0
    left 0
  }

  &__icon {
    flex 0 0 auto
    display flex
    align-items center
    justify-content center
    position relative
    margin-right 10px

    &::before {
      content ''
      transition opacity $transition-fast
      opacity 1
      flex 0 0 auto
      display block
    }

    &::after {
      content ''
      transition opacity $transition-fast
      transition-delay .025s
      opacity 0
      flex 0 0 auto
      position absolute
    }
  }

  &__box,
  &__content {
    transition $transition-fast
    box-sizing border-box
    display flex
    align-items center
    justify-content center
    position relative
    padding 0 45px
    border 2px solid rgba(white, 0)
    flex 0 0 auto
    outline none
    color white
  }

  &__caption,
  &__title {
    padding 16px 0
    flex 0 0 auto
    box-sizing border-box
    position relative
    z-index 5
    transition color .1s linear .2s
  }

  input:checked ~ &__content {
    color $color-white
    border-color $color-blue
    background-color $color-blue
  }

  &.is-hover,
  &:hover {
    color black
    transition-delay .1s

    &:before {
      visibility visible
      size 999px
    }

    .button {
      &__caption,
      &__title {
        transition-delay .1s
      }
    }
  }

  &.is-active,
  &:active {
    .button__box,
    .button__content {
      opacity 0.9
      border-color $color-blue-light
    }
  }

  &.is-disabled,
  &:disabled {
    pointer-events none
    border 0 !important
    background none !important

    .button__box,
    .button__content {
      color $color-white !important
      border-color $color-grey !important
      box-shadow none !important
      background-image none !important
      background-color $color-grey !important
    }
  }

  &.is-loading {
    opacity .5
  }
}

.button_outline {
  .button {
    &__box,
    &__content {
      border-color white
    }
  }
}

.button_full {
  width 100%
}

+do(750) {
  .button_xs_full {
    width 100%
  }
}

.button_arrow_right {
  .button {
    &__box,
    &__content {
      background rgba(white, 0)
      box-shadow none
      border-color rgba(white, 0)
    }

    &__caption,
    &__title {
      color $color-orange
      position relative
      padding-right 20px
      font-weight 700

      &:before {
        content ''
        position absolute
        right 0
        top 50%
        display block
        transform translateY(-50%)
        svg('arrow-right-small', 14px, $color-orange)
        margin-top 0
      }
    }
  }

  &:hover {
    & .button__box,
    & .button__content {
      background rgba(white, 0)
      border-color rgba(white, 0)
      box-shadow none
      opacity 0.8
    }
  }
}

.button_arrow_left {
  .button {
    &__box,
    &__content {
      background rgba(white, 0)
      box-shadow none
      border-color rgba(white, 0)
    }

    &__caption,
    &__title {
      color $color-orange
      position relative
      padding-left 20px
      font-weight 700

      &:before {
        content ''
        position absolute
        left 0
        top 50%
        display block
        transform translateY(-50%) rotate(180deg)
        svg('arrow-right-small', 14px, $color-orange)
        margin-top -1px
      }
    }
  }

  &:hover {
    & .button__box,
    & .button__content {
      background rgba(white, 0)
      border-color rgba(white, 0)
      box-shadow none
      opacity 0.8
    }
  }
}

.button.is-load {
  pointer-events none

  .button {
    &__box,
    &__content {
      position relative
      border-color rgba(white, 0)

      &:before {
        content ''
        size 50px
        box-sizing border-box
        border-left 4px solid white
        border-right 4px solid rgba(white, 0)
        border-top 4px solid white
        border-bottom 4px solid white
        border-radius 50%
        animation rotate 1s linear infinite
      }
    }

    &__caption,
    &__title {
      display none
    }
  }

  /.ie & {
    .button {
      &__box,
      &__content {
        position relative
        border-color currentColor

        &:before {
          display none
        }
      }

      &__caption,
      &__title {
        display block
      }
    }
  }
}

.button_light {
  &:before {
    background-color white
  }

  .button {
    &__box,
    &__content {
      border-color white
    }

    &__caption,
    &__title {
      color white
    }
  }

  &:hover {
    .button {
      &__caption,
      &__title {
        color $color-blue-light
      }
    }
  }
}

.button_dark {
  &:before {
    background-color #163581
  }

  .button {
    &__box,
    &__content {
      border-color #163581
    }

    &__caption,
    &__title {
      color #163581
    }
  }

  &:hover {
    .button {
      &__caption,
      &__title {
        color white
      }
    }
  }
}

.button-tile {
  cursor pointer
  user-select none
  box-sizing border-box
  vertical-align top
  border-radius 0
  outline none
  background none
  font-style normal
  text-align center
  text-transform none
  text-decoration none
  min-height 60px
  display inline-flex
  border 2px solid white
  font-family $font-title
  font-size 14px
  line-height (24 / 14)
  letter-spacing 0.02em
  background rgba(white, 0)
  position relative
  overflow hidden
  transition .1s
  color white
  padding 18px 28px
  font-weight 600

  &:hover {
    background-color white
    color $color-blue-light
  }

  &:active {
    opacity 0.9
  }

  &_blue {
    border-color $color-blue-light
    color $color-blue-light
    background-color white

    &:hover {
      background-color $color-blue-light
      color white
    }
  }
}

.button_small {
  min-height 40px
  overflow hidden
  .button {
    &__content {
      padding 0 20px
    }

    &__title {
      padding 5px 0
    }
  }
}
