.field {
   display block
   position relative
   &__error,
   &__title {
      box-sizing border-box
      transition $transition-main
      overflow hidden
      display block
      max-height 100px
      color #A6A6A8;
      line-height $line-small
      position absolute
      top 14px
      font-size 14px
      &_dark {
         color #2e2e2e
      }
      &_white {
         color white
      }
   }
   &__error {
      transition $transition-main
      overflow hidden
      display none
      position absolute
      top 100%
      right 0
      left 0
      margin-top 2px
      color $color-error
      font-size 11px
      line-height $line-xsmall
   }
   &__error {
      transform none
   }
   &__main {
      display block
      position relative
   }
   /$input,
   &__input {
      transition $transition-main
      appearance none
      box-sizing border-box
      display block
      width 100%
      padding 0
      border none
      border-bottom 1px solid #d1d1d1
      outline 0
      color #A6A6A8;
      min-height 50px
      font-family $font-main
      font-size 14px
      background rgba(white, 0)
      border-radius 0
      +placeholder() {
         color $color-main
      }
      &:hover {
         border-color #8f8c8c
      }
      &:focus {
         border-color #8f8c8c
      }
      &:disabled {
         border-color $color-grey
         color $color-grey
         +placeholder() {
            color $color-grey
         }
      }
      select& {
         user-select none
         padding-right (19px + 25px)
         &::-ms-expand {
            display none
         }
      }
      textarea& {
         min-height unquote('calc(' + ($line-main* 2em) + ' + ' + (6 + 8 + 2) + 'px)')
      }
      div& {
         overflow auto
         height unquote('calc(' + ($line-main* 3em) + ' + ' + (6 + 8 + 2) + 'px)')
      }
   }

   &.is-error {
      .field__input {
      }
      .field__main {
      }
      .field__error {
         display block
      }
   }
}

.field_no-error-push {
   .field__error {
      position absolute
      margin-top 6px
      margin-bottom 12px
   }
}

.field.is-filled,
.field.is-focus:not(.field_title) {
   .field {
      &__title {
         top -15px
         transform none
         font-size 12px
         &_dark {
            color #1a1a1a
         }
      }
   }
}

+do(1200) {
   .field {
      &__input {
         font-size 16px
      }
   }
}

.field.is-disabled {
   pointer-events none
   .field {
      &__input {
         background white
         color #a2a2a2
      }
   }
}

.field.field_light {
   .field {
      &__input {
         border-color rgba(white,1)
         color rgba(white, 1)
      }
      &__title {
         color rgba(white, 1)
      }
      &__error {
      }
   }
}