.title,
$title {
   font-family $font-title
}

h1,
.title-h1,
$title-h1 {
   @extend $title
   font-size 72px
   line-height (88/72)
   font-weight 700
}

h2,
.title-h2,
$title-h2 {
   @extend $title
   font-weight 700
   font-size 26px
   line-height 1.5
}

h3,
.title-h3,
$title-h3 {
   @extend $title
   margin-bottom 24px
   font-size 24px
   line-height 1.5
   p + & {
      margin-top 34px
   }
}

h4,
.title-h4,
$title-h4 {
   @extend $title
   margin-bottom 24px
   font-size 20px
   line-height 1.5
   p + & {
      margin-top 34px
   }
}

h5,
.title-h5,
$title-h5 {
   @extend $title
   font-size 18px
   line-height 1.5
}

.title-medium {
   font-size 60px
   line-height (68/60)
   font-weight 700
   margin-bottom 60px
   &_gap_xlarge {
      margin-bottom 82px
   }
   &_gap_large {
      margin-bottom 75px
   }
   &_gap_small {
      margin-bottom 30px
   }
   &_white {
      color $color-white
   }
   &_dark-blue {
      color $color-blue-xxdark
   }
}
+do(750) {
   .title-medium {
      font-size 36px
      line-height 1.2
      margin-bottom 30px
      &_gap_large {
         margin-bottom 30px
      }
      &_gap_xlarge {
         margin-bottom 30px
      }
   }

   .title-h1 {
      font-size 36px
      line-height 1.2
   }
}
+do(500) {
   .title-medium {
      font-size 30px
   }
   .title-h1 {
      font-size 30px
   }
}
.title-small {
   font-family $font-manrope
   font-size 36px
   line-height (40/36)
   font-weight 600
   margin-bottom 60px
}
+do(1200) {
   .title-small {
      font-size 34px
      line-height (38/34)
      margin-bottom 50px
   }
}
+do(750) {
   .title-small {
      font-size 22px
      line-height (26/22)
      margin-bottom 25px
   }
}

.title-large {
   @extend $title
   font-weight 700
   font-size 32px
   line-height (49/32)
   margin-bottom 60px
}
+do(750) {
   .title-large {
      font-size 26px
      margin-bottom 30px
   }
}
