.toggle {
   user-select none
   cursor pointer
   display block
   position relative
   padding-left (20px + 13px)
   font-size $size-small
   line-height $line-small
   transition opacity .3s ease
   color #E3E3E8
   &__input {
      display none
   }
   &__fake {
      box-sizing border-box
      transition $transition-fast
      position absolute
      top (1 / no-unit($size-small)) em
      left 0
      size 20px
      border 1px solid white
      border-radius 2px
      &::before {
         content ''
         transition $transition-fast
         opacity 0
         position absolute
      }
      ^[0]__input:checked ~ & {
         border-color white
         &::before {
            opacity 1
         }
      }
      [type="checkbox"] ~ & {
         &::before {
            svg('check', 11px, $color-white)
            align-center()
         }
      }
      [type="checkbox"]:checked ~ & {
         border-color white
      }
      [type="radio"] ~ & {
         border-radius 50%
         &::before {
            border-radius 50%
            trbl 4px
            background #E3E3E8
         }
      }
   }
   &:hover {
      opacity 0.8
      & ^[0]__fake {
         border-color #E3E3E8
      }
   }
}

.toggle.toggle_dark {
   color #a6a6a8
   .toggle {
      &__fake {
         border-color #a6a6a8
         &:before {
            svg-color('check', #a6a6a8)
         }
      }
   }
}