$paragraph
,
table,
blockquote,
ol,
ul,
p {
  margin-bottom 30px

  &:last-child {
    margin-bottom 0
  }
}

img {
  max-width 100%
}

i, em {
  font-style italic
}

b, strong {
  font-weight 700
}

.link,
a {
  transition $transition-fast
  text-decoration none
  color $color-link

  &:hover,
  &:active {
    color $color-hover
    text-decoration none
  }
}

.link_blue-light {
  color $color-blue-xlight
}

.link_orange {
  color $color-orange
  border-bottom 1px solid $color-orange
}

.link-bordered {
  border-bottom 1px solid $color-blue

  &:hover,
  &:active {
    color $color-hover
    border-color transparent
    text-decoration none
  }
}

a[href^='tel:'] {
  border-bottom-width 0
  white-space nowrap
  text-decoration none
}

ol {
  counter-reset nums
  list-style none

  li {
    counter-increment nums
    list-style-type none
    position relative
    margin-bottom 31px
    padding-left 27px

    &::before {
      content counter(nums) '.'
      position absolute
      left 0
      color $color-blue
    }

    &:last-child {
      margin-bottom 0
    }
  }
}

ul {
  li {
    position relative
    margin-bottom 15px
    padding-left 20px
    font-weight 500

    &::before {
      content ''
      display block
      position absolute
      left 0
      top 10px
      size 5px
      background-color currentColor
    }

    &:last-child {
      margin-bottom 0
    }
  }
}

ul.green-mark {
  li {
    &:before {
      background-color #0DA19C
    }
  }
}

ul.light-blue {
  li {
    &:before {
      background-color #2868C7
    }
  }
}

.display-none {
  display none
}

table {
  border-bottom 1px solid #D5EAF5
  border-collapse collapse
  margin 0
  padding 0
  color #000

  p {
    margin-bottom 0
  }
}

thead {
  border-bottom 1px solid #D5EAF5

  th {
    font-weight 500
  }
}

tr {
  &:nth-child(2n) {
    background-color #EAF4FA
  }
}

th,
td {
  box-sizing border-box
  position relative
  padding 16px 20px 18px
}

+do(750) {
  th,
  td {
    padding 8px 10px 9px
  }
}

* {
  min-height 0
  min-width 0
}

.content-info {
  font-size 14px
  text-align center

  &__link {
    color $color-orange

    &:hover {
      opacity .8
    }
  }
}

.orange {
  color $color-orange
}

.link-arrow {
  color white
  position relative
  padding-right 43px
  font-size 18px
  line-height (30 / 18)
  font-family $font-title
  font-weight 600
  letter-spacing 0.05em
  opacity 1
  transition .3s ease

  &:before {
    content ''
    position absolute
    right 0
    top 6px
    svg('arrow-long-right', 25px, $color-white)
    transition .1s linear
  }

  &:hover {
    opacity 0.8
    color white

    &:before {
      transform translateX(5px)
    }
  }
}

.link-arrow.link-arrow_github {
  padding-left 45px

  &:after {
    content ''
    display block
    position absolute
    svg('github', 30px, black)
    left 0
    top 50%
    transform translateY(-50%)
  }
}

.link-arrow.link-arrow_github_green {
  &:after {
    margin-top -1px
    svg-color('github', #0DA19C)
  }
}

.link-arrow.link-arrow_github_yellow {
  &:after {
    margin-top -1px
    svg-color('github', #f8ba19)
  }
}

+do(750) {
  .link-arrow {
    font-size 14px
    padding-right 33px
    display inline-flex

    &:before {
      svg-size('arrow-long-right', 18px)
      top 5px
    }
  }
}

.link-arrow_dark {
  color $color-blue-light

  &:before {
    svg-color('arrow-long-right', $color-blue-light)
  }

  &:hover {
    color $color-blue-light
  }
}

.link-arrow_pink {
  color #ED6154

  &:before {
    svg-color('arrow-long-right', #ED6154)
  }

  &:hover {
    color #ED6154
  }
}

.link-arrow_green {
  color #0DA19C

  &:before {
    svg-color('arrow-long-right', #0DA19C)
  }

  &:hover {
    color #0DA19C
  }
}

.link-arrow_orange {
  color #FA7A1D;

  &:before {
    svg-color('arrow-long-right', #FA7A1D)
  }

  &:hover {
    color #FA7A1D;
  }
}

.link-arrow_yellow {
  color #f8ba19

  &:before {
    svg-color('arrow-long-right', #f8ba19)
  }

  &:hover {
    color #f8ba19
  }
}

.button-container.visible {
  display none !important
}

.custom-scroll {
  &::-webkit-scrollbar {
    width 4px
    height 4px
    padding-top 4px
    padding-bottom 4px
  }

  &::-webkit-scrollbar-button {
    width: 0
    height: 0
  }

  &::-webkit-scrollbar-thumb {
    background $color-blue-light
    border 0 none #ffffff
    border-radius 50px
  }

  &::-webkit-scrollbar-thumb:hover {
    background $color-blue-light
    opacity 0.8
  }

  &::-webkit-scrollbar-thumb:active {
    background $color-blue-light
    opacity 0.6
  }

  &::-webkit-scrollbar-track {
    background #e1e1e1
    border 0 none #ffffff
    border-radius 50px
  }

  &::-webkit-scrollbar-corner {
    background transparent
  }
}

* {
  min-height 0
  min-width 0
}

input.hidden {
  display none
}

.transparent {
  opacity 0.5
}

.-offset-top-small {
  padding-top 15px
}

.link {
  box-sizing border-box
  border-bottom 1px solid black

  &_green {
    color #0DA19C
    border-color #0DA19C

    &:hover {
      color #0DA19C
      border-color #0DA19C
    }
  }

  &:hover {
    opacity 0.8
  }
}

.link-arrow_animate {
   .link-arrow {

   }
}

.help-block {
  display: none !important;
}

.link_white {
  color $color-white !important
  border-bottom 1px solid $color-white !important
}