{%
    set architects = [
        {
            title:'API',
            text:'Spring framework, JMS, Velocity, Ehcache'
        },
        {
            title:'Web',
            text:'Spring framework, шаблонный движок Thymeleaf'
        },
        {
            title:'Административный модуль',
            text:'Primefaces, Apache DeltaSpike, JPA (Hibernate)'
        },
        {
            title:'СУБД',
            text:'PostgreSQL'
        },
        {
            title:'Операционная система сервера',
            text:'Linux или Windows на выбор заказчика'
        },
    ]
%}

<div class="architect" js-hider>

    <div class="block">
        <div class="block-wrapper">
            <div class="title title-h2 title-h2--smart">Архитектура<br/>и технологии</div>
            <div class="block">
                <div class="architect-items">
                    {% for architect in architects %}
                        <div class="architect-item">
                            <div class="architect-item__title">{{architect.title}}</div>
                            <div class="architect-item__desc">{{architect.text}}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
             <div class="architect-alert">
                <div class="architect-alert__content">
                    <div class="architect-alert__icon"></div>
                    Все используемые технологии и ОС полностью бесплатны!
                </div>
                <div class="architect-alert__warn"></div>
            </div>
        </div>
    </div>
    <div class="seporate">
    </div>
    <div class="block">
        <div class="block-wrapper">
            <div class="sub-title">Обеспечивается возможность создания отказоустойчивых конфигураций</div>
            <ul class="architect-ul">
                <li> Балансировщик нагрузки + несколько app-серверов</li>
                <li>Репликация СУБД (master-slave)</li>
            </ul>
            <div class="architect-scheme">
                <img src="/images/projects/smartkeeper/scheme.png">
            </div>
        </div>
    </div>

</div>