{%
    set process = [
        {
            number: 1,
            text: 'Сбор сведений'
        },
        {
            number: 2,
            text: 'Оценка сроков<br/>и стоимости работ'
        },
        {
            number: 3,
            text: 'Удаленная установка компонентов решения через удаленные каналы (ssh)'
        },
        {
            number: 4,
            text: 'Проведение различных интеграций',
            sub_text: 'запуск поставщиков, sms-провайдеров, интеграция с подсистемами банка/финансовой компанией'
        },
        {
            number: 5,
            text: 'Первичная настройка комплекса, заведение начального пула услуг'
        },
    ]
%}


<div class="process process_mobile_row-small">
    <div class="block">
        <div class="block-wrapper">
            <div class="title title-h2 title-h2--smart">
                Процедура запуска<br/>комплекса
            </div>
            <div process-slider class="process-wrap">
                {% for item in process %}
                    <div class="process__item">
                        <div class="process__item-number">{{item.number}}</div>
                        <div class="process__item-text">{{item.text}}</div>
                        {% if item.sub_text %}
                            <div class="process__item-subtext">{{item.sub_text}}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>