<div class="product-design" js-hider>
    <div class="block">
        <div class="block-wrapper" toggle-design>
            <div class="title title-h2 title-h2--smart">
                Дизайн под ваш продукт
            </div>


            <div class="block">
                <div class="product-design__btns" toggle-design-btns>
                    <div class="product-design__btn active" toggle-design-btn data-design="mobile">Мобильные устройства</div>
                    <div class="product-design__btn" toggle-design-btn data-design="web">Веб-приложения</div>       
                </div>
            </div>

            <div class="product-design__device-container active" toggle-design-tab data-design="mobile">
                <div class="block">
                    <div class="product-design__device-info">
                        Мы предлагаем различные варианты визуализации решения под фирменный стиль заказчика - дефолтный, рескин, white label, полная кастомизация
                    </div>
                    <div class="product-design__device-btns" type-design-btns>
                        <div class="product-design__device-btn active" type-design-btn data-des="base">Базовый рескин</div>
                        <div class="product-design__device-btn" type-design-btn data-des="redisign">Полный редизайн</div>   
                    </div>
                </div>
                <div class="product-design__visual-container active " type-design-tab  data-des="base">
                    <div class="product-design__visual-before">Стандратное&nbsp;решение SmartKeeper</div>
                    <div class="product-design__visual-after">Базовый рескин Unipay</div>
                    <div class="product-design__visual">
                        <div com-slider class="product-design__visual-item">
                            <img src="/images/projects/smartkeeper/devices/red app.png">
                            <img src="/images/projects/smartkeeper/devices/green app.png">
                        </div>
                    </div>
                </div>
                <div class="product-design__visual-container " type-design-tab  data-des="redisign">
                    <div class="product-design__visual-before">Стандратное&nbsp;решение SmartKeeper</div>
                    <div class="product-design__visual-after">Базовый рескин Unipay</div>
                    <div class="product-design__visual">
                        <div com-slider class="product-design__visual-item">
                            <img src="/images/projects/smartkeeper/devices/red app.png">
                            <img src="/images/projects/smartkeeper/devices/express app.png">
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-design__device-container" toggle-design-tab data-design="web">
                <div class="block">
                    <div class="product-design__device-info">
                        Мы предлагаем различные варианты визуализации решения под фирменный стиль заказчика - дефолтный, рескин, white label, полная кастомизация
                    </div>
                    <div class="product-design__device-btns" type-design-btns>
                        <div class="product-design__device-btn active" type-design-btn data-des="base">Базовый рескин</div>
                        <div class="product-design__device-btn" type-design-btn data-des="redisign">Полный редизайн</div>   
                    </div>
                </div>
                <div class="product-design__visual-container active " type-design-tab  data-des="base">
                    <div class="product-design__visual-before">Стандратное&nbsp;решение SmartKeeper</div>
                    <div class="product-design__visual-after">Базовый рескин Unipay</div>
                    <div class="product-design__visual">
                        <div com-slider class="product-design__visual-item">
                            <img src="/images/projects/smartkeeper/devices/red web.png">
                            <img src="/images/projects/smartkeeper/devices/green web.png">
                        </div>
                    </div>
                </div>
                <div class="product-design__visual-container " type-design-tab  data-des="redisign">
                    <div class="product-design__visual-before">Стандратное&nbsp;решение SmartKeeper</div>
                    <div class="product-design__visual-after">Базовый рескин Unipay</div>
                    <div class="product-design__visual">
                        <div com-slider class="product-design__visual-item">
                            <img src="/images/projects/smartkeeper/devices/red web.png">
                            <img src="/images/projects/smartkeeper/devices/express web.png">
                        </div>
                    </div>
                </div>
            </div>

            
            
        </div>
    </div>     
</div>