{% 
    set advantages = [
        {
            img:'--wallet',
            text:'Собственный электронный кошелек для банка - современный, многофункциональный, безопасный',
                            
        },
        {
            img:'--union',
            text:'Индивидуальный проект для финансовой структуры любого масштаба',
        },
        {
            img:'--planet',
            text:'Специализированные платежные решения, использующиеся в 20 странах мира',
        },
        {
            img:'--5million',
            text:'Максимальный объем для<br/> одной системы',
        }
    ] 
%}

<div class="block advantages">
    {% for item in advantages %}
        <div class="advantages-item">
            <div class="advantages-item__icon advantages-item__icon{{item.img}}">
                {% if item.img == '--5million' %}
                    До 5 млн
                {% endif %}
            </div>
            <div class="advantages-item__text">
                {{item.text}}
            </div>
        </div>
    {% endfor %}
</div>