<div class="services">
    <div class="block">
        <div class="block-wrapper" js-toggle-tabs>
            <div class="title title-h2 title-h2--smart">Варианты поставки</div>
            <div class="block">
                <div class="services-btns" js-toggle-tabs-btns>
                    <div class="services-btns__item active" js-toggle-tab-btn data-tab="licence">
                        Покупка лицензии
                    </div>
                    <div class="services-btns__item" js-toggle-tab-btn data-tab="cloud">
                        Облачный сервис
                    </div>
                </div>  
            </div>
            <div class="services-items active" js-toggle-tab data-tab="licence">
                <div class="services-items__item">
                    <div class="block">
                        <div class="services-items__item-title">Лицензируемые единицы</div> 
                    </div>   
                    <div class="services-items__cells">
                        <div class="services-items__cells-item">Ядро решения</div>
                        <div class="services-items__cells-item">Пакеты клиентских лицензий</div>
                        <div class="services-items__cells-item">Дополнительные модули</div>
                        <div class="services-items__cells-item">Исходные коды</div>
                    </div>  
                    <div class="services-items__info">
                        <div class="services-items__info-item">
                            <div class="info">Минимальная стоимость лицензии</div>
                            <div class="price">$ 20 000</div>
                        </div>
                        <div class="services-items__info-item">
                            <div class="info">Стоимость услуг в рамка облачного сервиса</div>
                            <div class="price">от $ 1000 в месяц</div>
                        </div>
                        <div class="services-items__info-item">
                            <div class="info">Стоимость дополнительного ПО</div>
                            <div class="price">Бесплатно</div>
                        </div>
                        <div class="services-items__info-item">
                            <div class="info">Базовая поддержка решения (%&nbsp;от&nbsp;стоимости лицензии в год)</div>
                            <div class="price">15 %</div>
                        </div>
                    </div> 
                    <div class="block">
                        <div class="services-items__resulttitle">
                            Итоговые минимальные капитальные вложения
                        </div>
                        <div class="services-items__result">
                            $ 20 000 <span>+ аренда облачного сервиса</span>
                        </div>
                    </div> 
                </div>
                
            </div>
            <div class="services-items " js-toggle-tab data-tab="cloud">
                <div class="services-items__item">
                    <div class="block">
                        <div class="services-items__item-title">Лицензируемые единицы</div> 
                    </div>   
                    <div class="services-items__cells">
                        <div class="services-items__cells-item">Ядро решения</div>
                        <div class="services-items__cells-item">Пакеты клиентских лицензий</div>
                        <div class="services-items__cells-item">Дополнительные модули</div>
                        <div class="services-items__cells-item">Исходные коды</div>
                    </div>  
                    <div class="services-items__info">
                        <div class="services-items__info-item">
                            <div class="info">Минимальная стоимость лицензии</div>
                            <div class="price">$ 25 000</div>
                        </div>
                        <div class="services-items__info-item">
                            <div class="info">Стоимость услуг в рамка облачного сервиса</div>
                            <div class="price">от $ 1000 в месяц</div>
                        </div>
                        <div class="services-items__info-item">
                            <div class="info">Стоимость дополнительного ПО</div>
                            <div class="price">Бесплатно</div>
                        </div>
                        <div class="services-items__info-item">
                            <div class="info">Базовая поддержка решения (%&nbsp;от&nbsp;стоимости лицензии в год)</div>
                            <div class="price">15 %</div>
                        </div>
                    </div> 
                    <div class="block">
                        <div class="services-items__resulttitle">
                            Итоговые минимальные капитальные вложения
                        </div>
                        <div class="services-items__result">
                            $ 20 000 <span>+ аренда облачного сервиса</span>
                        </div>
                    </div> 
                </div>
                
            </div>
        </div>
    </div>
</div>