<div class="requirements">
    <div class="block">
        <div class="block-wrapper">
            <div class="requirements-info">
                <div class="requirements-info__item">
                    Требуемый персонал для поддержки&nbsp;со&nbsp;стороны&nbsp;заказчика
                </div>
                <div class="requirements-info__item">
                    Требуемый персонал для поддержки и&nbsp;<b>самостоятельного развития комплекса силами заказчика</b>
                </div>
            </div>

        </div>
    </div>
    <div class="requirements-levels">
        <div class="gray-dots"></div>
        <div class="block">
            <div class="block-wrapper">
                <div class="requirements-levels__wrap">
                    <div class="requirements-level">
                        <div class="requirements-level__title">Базовый уровень</div>
                        <div class="requirements-level__descr">Только бизнес-аналитик. В данном случае всю работу над системой выполняет компания Soft-logic</div>
                    </div>
                    <div class="requirements-level">
                        <div class="requirements-level__title">Продвинутый уровень</div>
                        <div class="requirements-level__descr">Бизнес-аналитик, специалист по сопровождению комплекса</div>
                    </div>
                    <div class="requirements-level">
                        <div class="requirements-level__title">Максимальный уровень</div>
                        <div class="requirements-level__descr">Бизнес-аналитик, специалист по сопровождению комплекса, java-разработчик, разработчики мобильных приложений</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>