{% 
    set possibilitys = [
        {
            number:'one',
            title: 'Оплата услуг в пользу любых поставщиков',
            text:'Банковские услуги, Интернет, телевидение, мобильная связь, ЖКХ, развлекательные услуги и многое другое',
            img: '/images/projects/smartkeeper/one.png',
            dots:{
                x: '87%',
                y: '63%'
            }
        },
        {
            number:'two',
            title: 'Методы оплаты',
            text:'Использование банковской карты, средств на балансе кошелька',
            img: '/images/projects/smartkeeper/two_card.png',
            circle:{
                x: '16%',
                y: '2%'
            }
        },
        {
            number:'three',
            title: 'Шаблоны операций',
            text:'Разовые запланированные шаблоны операции, настройка регулярных автоплатежей',
            img: '/images/projects/smartkeeper/three.png',
            dots:{
                x: '42%',
                y: '-11%'
            }
        },
        {
            number:'four',
            title: 'Различные способы<br/>пополнения кошелька',
            text:'Пополнение банковской картой, через платежный терминал самообслуживания, функционал зеркалирования счетов - мобильный, банковский, применение ваучеров, карт сдачи, иных платежных систем',
            img: '/images/projects/smartkeeper/four_terminal.png',
            dots:{
                x: '-24%',
                y: '-27%'
            },
            line:{
                x: '36%',
                y: '55%'
            }
        },
        {
            number:'five',
            title: 'Лимиты и безопасность',
            text:'SMS подтверждения, E-mail и Push-уведомления, различные типы авторизации, доступ по отпечатку пальцев, лимиты, исчерпывающая история операций',
            img: '/images/projects/smartkeeper/five.png',
            circle:{
                x: '58%',
                y: '-3%'
            },
            line:{
                x: '75%',
                y: '50%'
            }
        },
        {
            number:'six',
            title: 'Возможность подключения<br/> мерчантов',
            text:'Использование электронного кошелька в качестве платежного средства для оплаты товаров и услуг во внешних системах',
            img: '/images/projects/smartkeeper/six_phone.png',
            line:{
                x: '-66%',
                y: '77%'
            },
            dots:{
                x: '69%',
                y: '61%'
            },
        },
        {
            number:'seven',
            title: 'Автоматизированный ввод<br/>реквизитов ',
            text:'Сканирование штрихкодов с квитанций',
            img: '/images/projects/smartkeeper/seven.png',
            dots:{
                x: '-8%',
                y: '57%'
            },
        },
        {
            number:'eight',
            title: 'Возможность заказа<br/>банковских продуктов<br/>через кошелек',
            text:'Функционал мобильного банкинга - открытие счета, оформление кредита, выпуск карты и т. д.',
            dots:{
                x: '67%',
                y: '16%'
            },
        },
        {
            number:'nine',
            title: 'Получение данных<br>от различных<br>онлайн-сервисов',
            text:'Автоматическое отображение задолженности по услугам при вводе личных данных',
            img: '/images/projects/smartkeeper/nine.png',
            dots:{
                x: '89%',
                y: '66%'
            },
            circle:{
                x: '89%',
                y: '3%'
            },
        },
        {
            number:'ten',
            title: 'Полная кастомизация<br>внешнего видаприложения',
            text:'Внедрение фирменного стиля, полная переработка под клиента и white label концепция ',
            img: '/images/projects/smartkeeper/ten.png',
            circle:{
                x: '58%',
                y: '-14%'
            },
        }
    ] 
%}

<div class="block" js-hider>
<div class="block-wrapper--possibilitys">
    <div class="possibilitys ">
        <div class="block-wrapper possibilitys-title title title-h1">
            Возможности<br/>кошелька
        </div>
        <div class="possibilitys-list">

            {% for item in possibilitys %}
                <div class="possibilitys-item possibilitys-item--{{item.number}}">
                    <div class="possibilitys-item__text possibilitys-item__text--{{item.number}}">
                        <div class="possibilitys-item__text-number possibilitys-item__text-number--{{item.number}}"></div>
                        <div class="possibilitys-item__text-layout">
                            <div class="possibilitys-item__text-title">
                                {{item.title}}
                            </div>
                            <div class="possibilitys-item__text-description">
                                {{item.text}}
                            </div>
                        </div>
                    </div>
                    <div class="possibilitys-item__img possibilitys-item__img--{{item.number}}">
                        {% if item.number == 'one' %}
                            <div class="gray-circle"></div>
                        {% endif %}
                        {% if item.number == 'two' %}
                            <img class="watch" src="/images/projects/smartkeeper/two_watch.png">
                        {% endif %}
                        {% if item.number == 'four' %}
                            <div class="four-map"></div>
                        {% endif %}
                       
                        
                        {% if item.line %}
                            <div class="line" style="left:{{item.line.x}}; top:{{item.line.y}}"></div>
                        {% endif %}
                        {% if item.circle %}
                            <div class="circle" style="left:{{item.circle.x}}; top:{{item.circle.y}}"></div>
                        {% endif %}
                        {% if item.dots %}
                            <div class="gray-dots" style="left:{{item.dots.x}}; top:{{item.dots.y}}"></div>
                        {% endif %}
                        {% if item.img %}
                            <img src="{{item.img}}">
                        {% endif %}
                        {% if item.number == 'six' %}
                            <div class="btn">Оплатить через SmartKeeper</div>
                        {% endif %}
                        {% if item.number == 'eight' %}
                            <div class="step-eight">
                                <div class="step-eight__logo">
                                    <img src="/images/projects/smartkeeper/eight_logo.svg">
                                </div>
                                <div class="step-eight__arrow">
                                    <img src="/images/projects/smartkeeper/eight_arrow.svg">
                                </div>
                                <div class="step-eight__bank">
                                    <img src="/images/projects/smartkeeper/eight_bank.svg">
                                </div>
                            </div>
                        {% endif %}
                        
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
</div>
