flex-column($size, $columns = 1, $margin = 0px) {
  if ( $size == $columns && $margin == 0px ) {
    flex-basis 100%
    max-width none
  } else {
    flex-basis unquote('calc('+ ((100/$columns)*$size) +'% - '+ ($margin*2) +')')
    max-width @flex-basis
  }
}
