/**
 * Shorthand for adding custom fonts
 * @param {{string|ident}} font-name - Namespace in css
 * @param {{string|ident}} file-name - File name
 * @param {{string|ident}} font-weight - self-explanatory
 * @param {{string|ident}} font-style - self-explanatory
 */
include-font(font-name, file-name, font-weight = normal, font-style = normal) {
   @font-face {
      font-family font-name
      src: local(file-name),
         url('../fonts/'+file-name+'.woff2') format('woff2'),
         url('../fonts/'+file-name+'.woff') format('woff');
      font-weight font-weight
      font-style font-style
   }
}
