<div class="prestart">
    <div class="block">
        <div class="block-wrapper">
            <div class="title title-h2 title-h2--smart">
                Пусконаладочные<br/> работы
            </div>
            <div class="support-wrap">
                <div class="support-wrap__item">
                    <div class="support-title">Обязательные работы</div>
                    <ul class="support-item">
                        <li>Настройка операционной системы</li>
                        <li>Установка и настройка СУБД PostgreSQL</li>
                        <li>Установка и настройка веб-сервера Apache</li>
                        <li>Настройка файрвола</li>
                        <li>Установка и настройка серверов приложений GlassFish</li>
                        <li>Разворачивание компонентов комплекса SmartKeeper</li>
                        <li>Первичная настройка решения</li>

                    </ul>
                </div>
                <div class="support-wrap__item">
                    <div class="support-title">Дополнительные работы</div>
                    <ul class="support-item">
                        <li>Разработка и интеграция индивидуального дизайна
                            — от 300 нормо-часов / от 2 месяцев за 1 платформу
                        </li>
                        <li>Подключение поставщика - от 20 нормо-часов / от 4 дней</li>
                        <li>Интеграция с системами банка/финансовой организации
                            — от 80 нормо-часов / от 3 недель
                        </li>
                    </ul>
                </div>
            </div>
            <div class="prestart-price">
                <div class="block">
                    <div class="prestart-price__title">Стоимость</div>
                    <div class="prestart-price__price">от $ 5 000</div>
                </div>
            </div>
        </div>
    </div>
</div>