.result{
    padding: 90px 0px 153px;
    background: #040724;
    position relative
    .title{
        color:#fff;
        margin-bottom: 86px
    }
    .bank-advantage{
        margin-bottom: 80px;
        &__desc{
            font-size:14px; 
            font-weight: normal;   
        }
        &--one{
            &:before{
                opacity 0.8
            }
        }
        &--two{
            &:before{
                opacity 0.8
            }
        }
        &--three{
            &:before{
                opacity 0.8
            }
        }
        &--four{
            &:before{
                opacity 0.8
            }
        }
        &--five{
            &:before{
                opacity 0.8
            }
        }
    }
    .{
        margin 0px auto 70px
    }
    &-info{
        &__subtile{
            font-family: $font-manrope;
            font-size: 20px;
            color:#fff;
            padding: 0px 50px;
            max-width 830px
            margin-bottom: 80px;
        }
        &__items{
            color: rgba(255, 255, 255, 0.6); 
            display flex
            font-family: $font-roboto;
            line-height: 26px;
            font-size: 14px;   
            flex-wrap: wrap;
            justify-content: space-between
            padding: 0px 30px;
            &-item{
                margin: 0px 20px
                max-width 300px
            } 
        }
    }
    .dots{
        z-index 1
        right 0px;
        bottom: -60px
    }
}

+do(1150){
    .result-info__items{
        flex-wrap: nowrap
    }
}
+do(900){
    .result-info__items{
        flex-wrap: wrap
        &-item{
            max-width initial
            width 100%
            margin-bottom: 30px;
        }
    }
}
+do(767){
    .result-info__subtile{
        padding: 0px 0px;    
    }
    .result-info__items{
        padding: 0px;
        &-item{
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}

.result_pc{
    background url('../images/pay-logic-pc/code.jpg')
    background-size cover
    background-position center
    background-repeat no-repeat
    position relative
    &:before {
        content ''
        position absolute
        trbl 0
        background rgba(#040724, .97)
    }
    .result {
        &__wrapper {
            position relative
            z-index 50
        }
    }
}
+do(750) {
    .result_pc{
        padding-top 50px
        padding-bottom 0
    }
}