@import 'firstscreen'
@import 'advantages'
@import 'possibilitys'
@import 'bank-advantage'
@import 'integration'
@import 'architect'
@import 'functional'
@import 'result'
@import 'services'
@import 'support'
@import 'requirements'
@import 'design'
@import 'process'
@import 'prestart'

.seporate {
   width calc(100% - 60px)
   height 2px
   background: rgba(204, 203, 206, 0.3);
   margin: 0px auto 88px;
   position: relative;
   overflow: visible
   max-width: 1600px
   &__dots {
      svg('gray_dots', 140px)
      position: absolute;
      bottom: 2px;
      right: 7.4%;
   }
}

+do(750) {
   .seporate {
      margin 0 auto 40px
   }
}

.seporate_narrow {
   height 1px
   background rgba(#CCCBCE, .3)
}

.seporate_full {
   max-width 100%
   width 100%
}
.seporate_dashed {
   background none
   border 1px dashed rgba(#CCCBCE, .3)
}

.gray- {
   width: 54px;
   height: 54px
   background: url(../images/projects/smartkeeper/gray_circle.png);
   background-size: cover
}

.gray-dots {
   position: absolute
   svg('gray_dots', 140px)
   z-index -1
}

.dots {
   position: absolute
   background: url(../images/projects/smartkeeper/dots.png);
   width: 140px;
   height: 140px;
   background-size: cover;
   position: absolute;
   z-index -1
}

.circle {
   background: url(../images/projects/smartkeeper/circle.png);
   width: 160px;
   height: 160px;
   position: absolute;
   background-size: cover
   z-index: -1;
}
.circle_blue{
    background: url(../images/pay-logic-pc/circle.png);
    width: 160px;
    height: 160px;
    position: absolute;
    background-size: cover
    z-index: -1;
}

.circle_white {
   background: url(../images/pay-logic-pc/circle-w.png);
   width: 160px;
   height: 160px;
   position: absolute;
   background-size: cover
   background-position center
   z-index: -1;
}

.line {
   width 250px;
   height: 2px;
   background: #ED6154;
   position: absolute
}

.line_blue {
   background #264DAB
}

.step-eight {
   display flex
   flex-direction: column
   align-items: flex-start
   &__logo {
      margin-left: 5%;
   }
   &__arrow {
      margin: -3px 27% 22px;
   }
   &__bank {
      transform: translateX(-6%);
   }
   img {
      width 100%;
   }
}

.title-h2 {
   &--smart {
      font-size: 60px
      margin-bottom: 45px
      color: #040724;
      line-height: 1.2;
   }
}

+do(767) {
   .title-h2 {
      &--smart {
         font-size: 32px

      }
   }
}

.smartkeeper-header {
   .header {
      position: absolute;
   }
}

+do(1120) {
   .smartkeeper-header {
      .header {
         position: static;
      }
      .header-top.is-side-light .header-top__locales {
         color #000
      }
      .header-top.is-side-light .header-top__locales-link.is-active {
         color: #173682;
      }
      .header-top__btn.header-top__btn_light {
         display none
      }
      .header-top__btn.header-top__btn_dark {
         display block
      }
      .header-top__menu-toggle {
         filter: brightness(0)
      }
   }
}

.hider-wrapper {
   opacity 0
   &.show {
      opacity 1
   }
}
