.advantages{
    display: flex;
    justify-content: space-between
    flex-wrap: wrap
    &-item{
        max-width 240px;
        margin: 0px 20px 148px;
        &__icon{
            margin-bottom: 66px;
            min-height: 80px
            display: flex
            align-items: center
            justify-content: center
            &--wallet{
                &:before{
                    content:''
                    display block
                    svg('wallet', 80px)
                }
            }
            &--union{
                &:before{
                    content:''
                    display block
                    svg('union', 80px)
                }
            }
            &--planet{
                &:before{
                    content:''
                    display block
                    svg('planet', 80px)
                }
            }
            &--5million{
                display flex
                font-size: 50px;
                color: #ED6254;
                font-weight: 300;
                justify-content: center
                align-items: center
               
            }
        }
        &__text{
            line-height: 26px;
            font-size: 14px;
            text-align: center;
        }
    }
}

+do(1200){
    .advantages{
        &-item{
        margin: 0px 20px 58px;
        min-width :270px;
         &__icon{
            margin-bottom: 40px;
            min-height: 80px
            &--wallet{
                &:before{
                    content:''
                    display block
                    svg('wallet', 60px)
                }
            }
            &--union{
                &:before{
                    content:''
                    display block
                    svg('union', 60px)
                }
            }
            &--planet{
                &:before{
                    content:''
                    display block
                    svg('planet', 60px)
                }
            }
            &--5million{
                font-size: 40px
            }
        }
        }
    }
}

+do(660){
    .advantages{
        justify-content: center;
    }
}