{% set tabs = [
    {
        id: 'one',
        active: 'active',
        items:[
            {
                name:'LiqPay',
                url:'/images/projects/smartkeeper/logos/image17.2.png'},
            {
                name:'Bank of Baku',
                url:'/images/projects/smartkeeper/logos/image18.2.png'},
            {
                name:'Kaz-kommerts-bank',
                url:'/images/projects/smartkeeper/logos/image19.2.png'},
            {
                name:'Millikart',
                url:'/images/projects/smartkeeper/logos/image21.2.png'},
            {
                name:'Moneta-assistant',
                url:'/images/projects/smartkeeper/logos/image22.2.png'},
            {
                name:'Oschad bank',
                url:'/images/projects/smartkeeper/logos/image23.2.png'},
            {
                name:'Payonline',
                url:'/images/projects/smartkeeper/logos/image24.2.png'},
            {
                name:'TIETO ECOMM',
                url:'/images/projects/smartkeeper/logos/image25.2.png'},
            {
                name:'WebMoney',
                url:'/images/projects/smartkeeper/logos/image26.png'}
        ]
    },
    {
        id: 'two',
        items:[
            {
                name:'Bank of Baku',
                url:'/images/projects/smartkeeper/logos/image18.2.png'},
            {
                name:'LiqPay',
                url:'/images/projects/smartkeeper/logos/image17.2.png'},
            
            {
                name:'Kaz-kommerts-bank',
                url:'/images/projects/smartkeeper/logos/image19.2.png'},
            {
                name:'Millikart',
                url:'/images/projects/smartkeeper/logos/image21.2.png'},
            {
                name:'Moneta-assistant',
                url:'/images/projects/smartkeeper/logos/image22.2.png'},
            {
                name:'Oschad bank',
                url:'/images/projects/smartkeeper/logos/image23.2.png'},
            {
                name:'Payonline',
                url:'/images/projects/smartkeeper/logos/image24.2.png'},
            {
                name:'TIETO ECOMM',
                url:'/images/projects/smartkeeper/logos/image25.2.png'},
            {
                name:'WebMoney',
                url:'/images/projects/smartkeeper/logos/image26.png'}
        ]
    }
]%}

<div class="integration" js-hider>
    <div class="gray-dots" style="left:0%; top:56%"></div>
    <div class="gray-dots" style="left:90%; top:29%"></div> 
    <div class="circle" style="left:95.5%; top:32%"></div>
    <div class="block">
        <div class="block-wrapper">
            <div class="title title-h2 title-h2--smart">Интеграции</div>
            <div class="block">
                <div class="integration-description">
                    Применяем собственные шлюзы для интеграции с внешними системами,
                    с&nbsp;подсистемами банка  - карточным процессингом, транспортной системой и другим
                </div>
                <div js-toggle-tabs class="tabs-integration">
                    <div js-toggle-tabs-btns class="tabs-integration__buttons">
                        <div js-toggle-tab-btn data-tab="one" class="active">Агрегаторы и поставщики услуг</div>
                        <div js-toggle-tab-btn data-tab="two" >Системы для оплаты банковской картой</div>
                        <div js-toggle-tab-btn data-tab="three" >Системы для рассылки SMS</div>
                    </div>
                    {% for tab in tabs %}
                    <div js-toggle-tab class="tabs-integration__tab {{tab.active}}" data-tab={{tab.id}}>
                        {% for item in tab.items %}
                            <div class="tabs-integration__tab-item">
                                <img src={{item.url}}>
                                <div>{{item.name}}</div>
                            </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="seporate">
    </div>
</div>