.support {
  position relative
  background #ec6154
  display flex
  background-image url(../images/projects/smartkeeper/fon.png)
  padding 75px 0 170px

  .block {
    width 100%
    flex 1
  }

  .title {
    color #fff
    margin-bottom 75px
    $font-manrope
    font-size 32px
  }

  .dots {
    right 0
    bottom 0
    z-index 1
  }

  .circle {
    width 120px
    height 120px
    right 8%
    left initial
    top -58px
    z-index 1
  }

  &:before {
    content: ''
    background #fff
    left: 0
    top: 0
    bottom 0
    z-index 1
    display block
    width 8.4%
    position: absolute
  }

  &-wrap {
    display flex
    flex-wrap wrap
    justify-content space-between

    &__item {
      min-width 320px
      margin: 0 10px

      &_small-top-gap {
        margin 20px 0px 0px
      }
    }
  }

  &-title {
    font-family $font-manrope
    font-size 20px
    color #FFFFFF
    margin-bottom 32px

    &_dark {
      color $color-main
    }
  }

  &-item {
    color #FFFFFF

    &_left-offset {
      & li {
        padding-left 52px
      }
    }

    li {
      font-family $font-roboto
      font-size 14px;
      color rgba(255, 255, 255, 0.8)
      font-weight 400
      margin-bottom 33px

      &:before {
        width 10px
        height 10px
        background #FFFFFF
        top 5px
        transform none
      }
    }

    &_light-blue {
      li {
        &:before {
          background #028CCF !important
        }
      }
    }

    &_green {
      li {
        &:before {
          background #0DA19C !important
        }
      }
    }

    &_yellow {
      li {
        &:before {
          background #EFBB35 !important
        }
      }
    }

    .additional-li {
      opacity 0.4
    }
  }

  &_blue {
    background-color #028CCF

    .dots {
      background-image url(../images/pay-logic-hub/grid-transparent.png)
      background-position center
      background-repeat no-repeat
      background-size contain
      size 140px
      z-index 99
    }

    .circle {
      background-image url(../images/pay-logic-hub/circle-1.png)
      background-position center
      background-repeat no-repeat
      background-size contain
      size 80px
      left 105px
      bottom -50px
      top auto
    }
  }

  &_blue-dark {
    background-color #264DAB
  }
}

.support-item_dark {
  color $color-main

  li {
    color $color-main
  }
}

.support-wrap {
  &__item {
    &_flex-1 {
      flex 1
      +do(750) {
        flex 1 1 100%
      }
    }
  }
}

+do(1648) {
  .support {
    &:before {
      display none
    }
  }
}

+do(767) {
  .support {
    padding-top 30px
    padding-bottom 30px

    .title {
      margin-bottom 30px
    }
  }
  .support-wrap {
    &__item {
      margin-bottom 30px
      min-width initial
    }
  }
  .support-wrap {
    &:after {
      display none
    }
  }
}


.support-item.support-item_dark-blue {
  li {
    color $color-blue-ndark

    &:before {
      background $color-blue-like-postamat
    }
  }
}

.support-item.support-item_light-gray {
  li {
    color $color-white

    &:before {
      background rgba(255, 255, 255, .3)
    }
  }
}
