.architect{
    .title-h2--smart{
        margin-bottom: 90px
    }    
    &-items{
        display: flex
        flex-wrap: wrap;
    }
    &-item{
        margin: 0px 20px;
        max-width calc(33.33% - 40px);
        width 100%
        min-width 280px
        margin-bottom: 112px; 
        &__title{
            font-family: $font-manrope;
            font-size: 18px;
            color: #040724;
            margin-bottom: 27px;
            max-width 280px
        }
        &__desc{
            font-family: $font-roboto;
            font-size: 14px;
            color: #27262B;    
            max-width 280px
        }
    }
    &-alert{
        background: #040724;
        color #fff
        padding 23px 49px 26px
        display flex
        align-items: center
        justify-content: space-between
        flex-wrap: wrap
        max-width: 1360px;
        margin-bottom: 75px
        &__content{
            display flex
            align-items: center
            flex-wrap: wrap
        }
        &__icon{
            svg('arch', 52px)
            margin-right: 34px
        }
        &:after{
        }
        &__warn{
            svg('!', 7px)
        }
    }
    .sub-title{
        font-family: $font-manrope;
        font-size: 20px;
        color: #040724;
        margin-bottom: 54px;
    }
    &-ul{
        margin-bottom: 57px !important
        li{
            font-size: 14px;
            color: #27262B;
            font-family: $font-roboto;
            font-weight: 400
            display: flex
            align-items: center
            &:before{
                width 10px
                height 10px
            }
        }
    }
    &-scheme{
        max-width 1256px
        margin-bottom: 116px
        img{
            max-width 100%
        }
    }
}

+do(1080){
    .architect{
        &>.block .block-wrapper .block{
            padding: 0px;
        }
    }
    .architect-item{
        margin: 0px 10px;
        max-width: calc(33.33% - 20px);
        width: 100%;
        min-width: 180px;
        margin-bottom: 112px;
    }
    .architect-alert{
        padding: 23px 23px 26px;
        &__warn{
            display none
        }
    }
    .architect-alert__content{
        flex-wrap: nowrap
    }
    .architect-alert__icon{
        flex-shrink: 0
    }
}