.possibilitys {
   &-list {
      max-width: 1440px;
      margin: 0 auto;
   }
   &-title {
      margin-bottom: 85px;
      font-size: 62px;
      line-height: 1.1
      color: #040724;
      &--gap-small {
         margin-bottom 50px
      }
   }
   &-item {
      display: flex;
      margin-bottom: 180px
      position: relative
      &_bottom-gap {
         margin-bottom 105px
      }
      &_small-bottom-gap {
         margin-bottom 160px
         &:last-child {
            margin-bottom unset
         }
      }
      &:nth-child(2n + 2) {
         justify-content: flex-end
      }
      &__text {
         margin-right: calc(9% - 9px)
         max-width 380px
         display: flex
         &_large {
            max-width 525px
         }
         &--four {
            max-width 605px
         }
         &--ten {
            max-width 488px
         }
         &-number {
            &_left-offset {
               margin-left 52px
            }
            max-width 101px
            flex-shrink: 0;
            margin-right: 52px;
            &--one {
               svg('one', 40px)
            }
            &--two {
               svg('two', 75px)
            }
            &--three {
               svg('three', 75px)
            }
            &--four {
               svg('four', 75px)
            }
            &--five {
               svg('five', 75px)
            }
            &--six {
               svg('six', 75px)
            }
            &--seven {
               svg('seven', 75px)
            }
            &--eight {
               svg('eight', 75px)
            }
            &--nine {
               svg('nine', 75px)
            }
            &--ten {
               max-width 141px
               svg('ten', 140px)
            }
         }
         &-title {
            font-family $font-manrope
            font-size: 20px;
            color: #040724;
            font-weight: bold
            margin-bottom: 40px
            line-height: 1.4
         }

         &-description {
            line-height: 26px;
            font-size: 14px;
            color: #27262B
         }
      }
      &__img {
         position: relative
         &--three {
            left: calc(-9% - 9px)
         }
         &--five {
            left: -3%
            .circle {
               width 78px
               height 78px
               z-index 10
            }
         }
         &--one {
            .gray- {
               position absolute
               left: 16%
               top: -14%
               z-index 1
            }
         }
         &--two {
            .circle {
               width: 114px;
               height: 114px;
               z-index -1
            }
            .watch {
               position absolute
               right -8%
               top: -30%

            }
         }
         &--four {
            .four-map {
               background: url(../images/projects/smartkeeper/four_map.png)
               width: 400px;
               height: 200px;
               position: absolute;
               right: -20%;
               bottom: 0px;
               z-index: -1;
            }
            .line {
               z-index -2
            }
         }
         &--six {
            .line {
               z-index -1
            }
            .gray-dots {
               z-index -1
            }
            .btn {
               background: #ED6254;
               text-align: center;
               padding: 17px 34px;
               color: #fff;
               position: relative;
               position: absolute;
               right: -16%;
               top: 104%;
            }
         }
         &--seven {
            left: -5%;
         }
         &--nine {
            .circle {
               width 78px
               height 78px
               z-index 10
            }
         }
         &--ten {
            position: relative;
            left: -4%;
            max-width 308px;
            img {
               margin-top: -63px;
               max-width initial
            }
            .circle {
               width: 110px;
               height: 110px;
               z-index 1
            }
         }
      }

      &--two {
         align-items: center
      }

      &--eight {
         margin-bottom: 150px
      }

      &--ten {
         max-height: 390px;
         margin-bottom: 0px;
         z-index -1
      }
      &_width_small {
         & ^[-1]__text {
            max-width 400px
         }
      }
      &_width_medium {
         & ^[-1]__text {
            max-width 500px
         }
      }
      &_width_xmedium {
         & ^[-1]__text {
            max-width 535px
         }
      }
   }
}

+do(1000) {
   .possibilitys-item {
      margin-bottom: 80px
      flex-wrap: wrap
      &_bottom-gap {
         margin-bottom 80px
      }
      &_small-bottom-gap {
         margin-bottom 80px
      }
      &__text {
         margin-right 0
         margin-bottom 50px
         &-number {
            &_left-offset {
               margin-left 0px
            }
         }
         margin-right: 0px;
         margin-bottom: 50px;
         width 100%
         &_large {
            max-width 380px
         }
      }
      &__img {
         margin-left auto
      }
      &:nth-child(2n + 2) {
         justify-content: flex-start
      }
   }
   .possibilitys-item__img--three {
      left 0
   }
   .possibilitys-item__img--five {
      left 0
   }
   .possibilitys-item__img--six .btn {
      right 0
   }
   .possibilitys-item__img--ten {
      display none
   }
   .possibilitys-item__text--ten {
      margin-bottom 170px
   }
}

+do(760) {
   .possibilitys-title {
      font-size 36px
      margin-bottom 30px
   }
   .possibilitys-item__img--six .btn {
      bottom 10px
      top auto
      padding 17px 23px
   }
   .possibilitys-item {
      margin-bottom 40px
      &_small-bottom-gap {
         margin-bottom 40px
      }
      &__text {
         display block
         &-number {
            max-width 101px
            margin-bottom 20px
            flex-shrink 0
            &--one {
               svg('one', 20px)
            }
            &--two {
               svg('two', 50px)
            }
            &--three {
               svg('three', 50px)
            }
            &--four {
               svg('four', 50px)
            }
            &--five {
               svg('five', 50px)
            }
            &--six {
               svg('six', 50px)
            }
            &--seven {
               svg('seven', 50px)
            }
            &--eight {
               svg('eight', 50px)
            }
            &--nine {
               svg('nine', 50px)
            }
            &--ten {
               max-width 80px
               svg('ten', 80px)
            }
         }
         &-title {
            margin-bottom 20px
         }
      }
   }
}

// Процессинговый центр
.possibilitys-list_pc {
   .possibilitys-item {
      &__img {
         left auto
         right auto
      }
   }
   .possibilitys-item--four {
      .circle {
         z-index -1
      }
   }
   .line {
      background #264DAB
   }
   .circle {
      background url("../images/pay-logic-pc/circle.png")
      size 80px
      z-index 1
   }
}

.possibilitys-subtitle {
   font-size 14px
   line-height (26/14)
   max-width 420px
   margin-bottom 75px
   &_row-bottom_none {
      margin-bottom 0
   }
}
+do(1000) {
  .possibilitys-subtitle {
    margin-bottom 60px
  }
}
+do(750) {
  .possibilitys-subtitle {
    margin-bottom 40px
  }
}
.possibilitys-subtitle_small {
   max-width 450px
}

.possibilitys-subtitle_medium {
   max-width 520px
}

.possibilitys-subtitle_wide {
   max-width 600px
}


.possibilitys-subtitle_columns {
   max-width 100%
   .possibilitys-subtitle {
      &__list {
         display flex
         flex-wrap wrap
         margin 0 -40px
      }
      &__item {
         margin 0 40px
         flex-column(1, 2, 40px)
      }
   }
}
+do(1200) {
   .possibilitys-subtitle_columns {
      .possibilitys-subtitle {
         &__list {
            margin 0 -20px
         }
         &__item {
            margin 0 20px
            flex-column(1, 2, 20px)
         }
      }
   }
}
+do(750) {
   .possibilitys-subtitle_columns {
      .possibilitys-subtitle {
         &__list {
            display block
            margin 0
         }
         &__item {
            margin 0
            margin-bottom 18px
            flex-column(1, 1, 0px)
         }
      }
   }
}
.possibilitys-subtitle_white {
   color $color-white
}

// Такси
.possibilitys-list_taxi {
   .possibilitys-item {
      &__img {
         left auto
         right auto
      }
   }
   .possibilitys {
      &-item {
         &--one {
            margin-top 125px
         }
         &--three {
            .gray-dots {
               z-index 5
            }
         }
      }
   }
   .line {
      background $color-yellow-like-sun
   }
}
+do(1000) {
   .possibilitys-list_taxi {
      .possibilitys {
         &-item {
            &--one {
               margin-top inherit
            }
         }
      }
   }
}
+do(500) {
   .possibilitys-list_taxi {
      .possibilitys-item {
         &__img {
            margin-left auto
            margin-right auto
         }
      }
   }
}


.possibilitys-list_postamat {
   .possibilitys-item__img--two {
      top 40px
   }
   .possibilitys-item__img--three {
      left auto
      top 40px
   }
   .possibilitys-item__img--four {
      top -85px
   }
}
+do(1000) {
   .possibilitys-list_postamat {
      .possibilitys-item__img--two {
         top auto
      }
      .possibilitys-item__img--three {
         left auto
         top auto
      }
      .possibilitys-item__img--four {
         left auto
         top auto
      }
   }
}

.possibilitys-columns {
   &__wrapper {
      display flex
      flex-wrap wrap
      margin-left -80px
      margin-right -80px
   }
}

.possibilitys-column {
   flex-basis calc(42% - 160px)
   max-width calc(42% - 160px)
   margin-left 80px
   margin-right 80px
   &__title {
      padding-left 52px
      margin-bottom 20px
      font-family $font-title
      font-size 20px
      line-height (30 / 20)
      color $color-white
      &_medium {
         max-width 280px
      }
   }
}
+do(1350) {
   .possibilitys-columns {
      &__wrapper {
         margin-left -50px
         margin-right -50px
      }
   }

   .possibilitys-column {
      flex-basis calc(50% - 100px)
      max-width calc(50% - 100px)
      margin-left 50px
      margin-right 50px
   }
}
+do(1000) {
   .possibilitys-columns {
      &__wrapper {
         margin-left -20px
         margin-right -20px
      }
   }

   .possibilitys-column {
      flex-basis calc(50% - 40px)
      max-width calc(50% - 40px)
      margin-left 20px
      margin-right 20px
   }
}
+do(750) {
   .possibilitys-columns {
      &__wrapper {
         margin-left -20px
         margin-right -20px
      }
   }

   .possibilitys-column {
      flex-basis calc(100% - 40px)
      max-width calc(100% - 40px)
      margin-left 20px
      margin-right 20px
   }
}
+do(500) {
   .possibilitys-column {
      &__title {
         padding-left 0px
      }
   }
}


.possibilitys-bg-image {
   position absolute
   z-index 40
   width 45%
   right 20px
   bottom -1%
}
+do(750) {
   .possibilitys-bg-image {
      position relative
      top auto
      right 0
      bottom auto
      left auto
      width 70%
      padding-bottom 30px
   }
}
