<div js-menu class="menu menu_callback" data-target="callback">
    <div js-menu-wrapper class="menu__wrapper">
        <div js-menu-side class="menu-side menu__side custom-scroll is-callback">
            <div class="menu-side__callback">
                <div class="menu-side__callback-side">
                    <div class="menu-side__callback-header">
                        <div class="menu-side__callback-top">
                            <div class="menu-side__callback-title">
                                Остались <br> вопросы?
                            </div>
                            <div class="menu-side__presentation">
                                <a href="#" target="_blank" class="presentation-link"
                                   style="background-image: url('images/presentation.png')">
                                    <div class="presentation-link__wrapper">
                                        <div class="presentation-link__main">
                                            Перед отправкой заявки узнайте больше о&nbsp;наших компетенциях, технологиях и&nbsp;направлениях разработки <span class="link link_white"> в&nbsp;презентации компании</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div js-menu-close data-target="callback" class="menu-side__callback-close"></div>
                        </div>
                        <div class="menu-side__callback-bottom">
                            <div class="menu-side__callback-desc">
                                Оставьте заявку и наши специлисты свяжутся с вами
                                в ближайшее время
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-side__callback-main">
                    <div js-callback-tile class="callback-tile callback-tile_modal">
                        <div class="callback-tile__wrapper">
                            <div class="callback-tile__side">
                                <div class="callback-tile__loader"></div>
                                <form action="https://postman-echo.com/post" method="post" js-callback-tile-form
                                      class="callback-tile__form">
                                    <div class="callback-tile__inputs">
                                        <div class="callback-tile__input">
                                            <label js-inputShadow class="field">
                                                <span class="field__title">Ваше имя</span>
                                                <input name="name" class="field__input" type="text">
                                                <span class="field__error"></span>
                                            </label>
                                        </div>
                                        <div class="callback-tile__input">
                                            <label js-inputShadow class="field">
                                                <span class="field__title">Email</span>
                                                <input name="email" class="field__input" type="email" required>
                                                <span class="field__error"></span>
                                            </label>
                                        </div>
                                        <div class="callback-tile__input">
                                            <label js-inputShadow class="field ">
                                                <span class="field__title">Номер телефона</span>
                                                <input name="phone" js-phonemask class="field__input" type="phone"
                                                       required>
                                                <span class="field__error"></span>
                                            </label>
                                        </div>
                                        <div class="callback-tile__input">
                                            <label js-inputShadow class="field">
                                                <span class="field__title">Тема обащения</span>
                                                <input name="message" class="field__input" type="text">
                                                <span class="field__error"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="callback-tile__action">
                                        <div class="callback-tile__action-item">
                                            <label js-inputShadow class="toggle toggle_dark">
                                                <input name="legal" type="checkbox" class="toggle__input" value="on"
                                                       checked required>
                                                <span class="toggle__fake"></span>
                                                <span class="toggle__main">
                                            <span class="toggle__title">Я согласен на обработку персональных данных</span></span>
                                            </label>
                                        </div>
                                        <div class="callback-tile__action-item">
                                            <button type="submit" class="button button_outline button_dark">
                                                <span class="button__content">
                                                    <span class="button__title">
                                                        Отправить заявку
                                                    </span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <div class="callback-tile__message callback-tile__message_success">
                                    Ваша заявка отправлена
                                </div>
                                <div class="callback-tile__message callback-tile__message_error">
                                    Произошла ошибка попробуйте еще раз =(
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
