<div js-menu class="menu" data-target="menu">
    <div js-menu-wrapper class="menu__wrapper">
        <div js-menu-side class="menu-side menu__side custom-scroll">
            <div class="menu-contacts menu-side__contacts">
                <div class="menu-contacts__side">
                    <a href="/" class="menu-contacts__logo">
                        <img src="images/logo-blue.svg" alt="">
                    </a>
                    <div class="header-top__sections">
                        <div class="header-top__section header-top__section_locales">
                            <div class="header-top__locales">
                                <div class="header-top__locales-item">
                                    <a href="#" class="header-top__locales-link is-active">RU</a>
                                </div>

                                <div class="header-top__locales-item">
                                    <a href="#" class="header-top__locales-link ">EN</a>
                                </div>
                            </div>
                        </div>
                        <div class="header-top__section header-top__section_callback">
                            <button js-callback-menu class="header-top__btn header-top__btn_visible header-top__btn_dark">
                                <span class="header-top__btn-caption">
                                    Заявка на разработку
                                </span>
                            </button>
                        </div>
                        <div class="header-top__section">
                            <div js-menu-close data-target="menu" class="header-top__menu header-top__menu_close">
                                <div class="header-top__menu-toggle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-contacts__main">
                    <div class="menu-contacts__actions">
                        <div class="menu-contacts__actions-item">
                            <div class="header-top__locales">
                                <div class="header-top__locales-item">
                                    <a href="#" class="header-top__locales-link is-active">RU</a>
                                </div>

                                <div class="header-top__locales-item">
                                    <a href="#" class="header-top__locales-link ">EN</a>
                                </div>
                            </div>
                        </div>
                        <div class="menu-contacts__actions-item">
                            <button js-callback-menu class="header-top__btn header-top__btn_visible header-top__btn_dark">
                                <span class="header-top__btn-caption">
                                    Заявка на разработку
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="menu-contacts__phones contacts-cols__phones">
                        <div class="contacts-cols__phones-item">
                            <a href="tel:+7465654465" class="contacts-cols__phone">
                                <div class="contacts-cols__phone-city">Москва</div>
                                <div class="contacts-cols__phone-number">
                                    +7(495) 760-45-99
                                </div>
                            </a>
                        </div>
                        <div class="contacts-cols__phones-item">
                            <a href="tel:+7465654465" class="contacts-cols__phone">
                                <div class="contacts-cols__phone-city">Барнаул</div>
                                <div class="contacts-cols__phone-number">
                                    +7(495) 760-45-99
                                </div>
                                <div class="contacts-cols__phone-desc">
                                    (с 6:00 до 15:00 по московскому времени)
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-side__callback">
                <div class="menu-side__callback-side">
                    <div class="menu-side__callback-header">
                        <div class="menu-side__callback-top">
                            <div class="menu-side__callback-title">
                                Остались <br> вопросы?
                            </div>
                            <div js-callback-menu-close class="menu-side__callback-close"></div>
                        </div>
                        <div class="menu-side__callback-bottom">
                            <div class="menu-side__callback-desc">
                                Оставьте заявку и наши специлисты свяжутся с вами
                                в ближайшее время
                            </div>
                        </div>
                        <div class="menu-side__presentation">
                            <a href="#" target="_blank" class="presentation-link"
                               style="background-image: url('images/presentation.png')">
                                <div class="presentation-link__wrapper">
                                    <div class="presentation-link__main">
                                        Перед отправкой заявки узнайте больше о&nbsp;наших компетенциях, технологиях и&nbsp;направлениях разработки <span class="link link_white"> в&nbsp;презентации компании</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="menu-side__callback-main">
                    <div js-callback-tile class="callback-tile callback-tile_modal">
                        <div class="callback-tile__wrapper">
                            <div class="callback-tile__side">
                                <div class="callback-tile__loader"></div>
                                <form action="https://postman-echo.com/post" method="post" js-callback-tile-form class="callback-tile__form">
                                    <div class="callback-tile__inputs">
                                        <div class="callback-tile__input">
                                            <label js-inputShadow class="field">
                                                <span class="field__title">Ваше имя</span>
                                                <input name="name" class="field__input" type="text">
                                                <span class="field__error"></span>
                                            </label>
                                        </div>
                                        <div class="callback-tile__input">
                                            <label js-inputShadow class="field">
                                                <span class="field__title">Email</span>
                                                <input name="email" class="field__input" type="email" required>
                                                <span class="field__error"></span>
                                            </label>
                                        </div>
                                        <div class="callback-tile__input">
                                            <label js-inputShadow class="field ">
                                                <span class="field__title">Номер телефона</span>
                                                <input name="phone" js-phonemask class="field__input" type="phone" required>
                                                <span class="field__error"></span>
                                            </label>
                                        </div>
                                        <div class="callback-tile__input">
                                            <label js-inputShadow class="field">
                                                <span class="field__title">Тема обащения</span>
                                                <input name="message" class="field__input" type="text">
                                                <span class="field__error"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="callback-tile__action">
                                        <div class="callback-tile__action-item">
                                            <label js-inputShadow class="toggle toggle_dark">
                                                <input name="legal" type="checkbox" class="toggle__input" value="on" checked required>
                                                <span class="toggle__fake"></span>
                                                <span class="toggle__main">
                                            <span class="toggle__title">Я согласен на обработку персональных данных</span></span>
                                            </label>
                                        </div>
                                        <div class="callback-tile__action-item">
                                            <button type="submit" class="button button_outline button_dark">
                                                <span class="button__content">
                                                    <span class="button__title">
                                                        Отправить заявку
                                                    </span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <div class="callback-tile__message callback-tile__message_success">
                                    Ваша заявка отправлена
                                </div>
                                <div class="callback-tile__message callback-tile__message_error">
                                    Произошла ошибка попробуйте еще раз =(
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-main menu__main">
            <div class="menu-main__wrapper">
                <div class="menu-main__side custom-scroll">
                    <div class="menu-nav">
                        {% set menu = [
                            {
                                id:1,
                                title:'Услуги',
                                url:'#'
                            },
                            {
                                id:2,
                                title:'Продукты',
                                url:'#',
                                children: [{
                                title:'Платежная экосистема Pay-Logic',
                                links:[
                                    {
                                        title:'Платежный Хаб Pay-Logic',
                                        url:'#'
                                    },
                                    {
                                        title:'Процессинговый центр Pay-Logic',
                                        url:'#'
                                    },
                                    {
                                        title:'Система онлайн платежей SmartKeeper',
                                        url:'#'
                                    }
                                ]
                            },{
                                title:'Платежная экосистема Pay-Logic',
                                links:[
                                    {
                                        title:'Платежный Хаб Pay-Logic',
                                        url:'#'
                                    },
                                    {
                                        title:'Процессинговый центр Pay-Logic',
                                        url:'#'
                                    },
                                    {
                                        title:'Система онлайн платежей SmartKeeper',
                                        url:'#'
                                    }
                                ]
                            },{
                                title:'Платежная экосистема Pay-Logic',
                                links:[
                                    {
                                        title:'Платежный Хаб Pay-Logic',
                                        url:'#'
                                    },
                                    {
                                        title:'Процессинговый центр Pay-Logic',
                                        url:'#'
                                    },
                                    {
                                        title:'Система онлайн платежей SmartKeeper',
                                        url:'#'
                                    }
                                ]
                            },{
                                title:'Платежная экосистема Pay-Logic',
                                links:[
                                    {
                                        title:'Платежный Хаб Pay-Logic',
                                        url:'#'
                                    },
                                    {
                                        title:'Процессинговый центр Pay-Logic',
                                        url:'#'
                                    },
                                    {
                                        title:'Система онлайн платежей SmartKeeper',
                                        url:'#'
                                    }
                                ]
                            },{
                                title:'Платежная экосистема Pay-Logic',
                                links:[
                                    {
                                        title:'Платежный Хаб Pay-Logic',
                                        url:'#'
                                    },
                                    {
                                        title:'Процессинговый центр Pay-Logic',
                                        url:'#'
                                    },
                                    {
                                        title:'Система онлайн платежей SmartKeeper',
                                        url:'#'
                                    }
                                ]
                            },{
                                title:'Платежная экосистема Pay-Logic',
                                links:[
                                    {
                                        title:'Платежный Хаб Pay-Logic',
                                        url:'#'
                                    },
                                    {
                                        title:'Процессинговый центр Pay-Logic',
                                        url:'#'
                                    },
                                    {
                                        title:'Система онлайн платежей SmartKeeper',
                                        url:'#'
                                    }
                                ]
                            },{
                                title:'Платежная экосистема Pay-Logic',
                                links:[
                                    {
                                        title:'Платежный Хаб Pay-Logic',
                                        url:'#'
                                    },
                                    {
                                        title:'Процессинговый центр Pay-Logic',
                                        url:'#'
                                    },
                                    {
                                        title:'Система онлайн платежей SmartKeeper',
                                        url:'#'
                                    }
                                ]
                            },{
                                title:'Платежная экосистема Pay-Logic',
                                links:[
                                    {
                                        title:'Платежный Хаб Pay-Logic',
                                        url:'#'
                                    },
                                    {
                                        title:'Процессинговый центр Pay-Logic',
                                        url:'#'
                                    },
                                    {
                                        title:'Система онлайн платежей SmartKeeper',
                                        url:'#'
                                    }
                                ]
                            }]
                            },
                            {
                                id:3,
                                title:'Проекты',
                                url:'#',
                                children:[{
                                title:'Платежная экосистема Pay-Logic',
                                links:[
                                    {
                                        title:'Платежный Хаб Pay-Logic',
                                        url:'#'
                                    },
                                    {
                                        title:'Процессинговый центр Pay-Logic',
                                        url:'#'
                                    },
                                    {
                                        title:'Система онлайн платежей SmartKeeper',
                                        url:'#'
                                    }
                                ]
                            },{
                                title:'Платежная экосистема Pay-Logic',
                                links:[
                                    {
                                        title:'Платежный Хаб Pay-Logic',
                                        url:'#'
                                    },
                                    {
                                        title:'Процессинговый центр Pay-Logic',
                                        url:'#'
                                    },
                                    {
                                        title:'Система онлайн платежей SmartKeeper',
                                        url:'#'
                                    }
                                ]
                            }]
                            },
                            {
                                id:4,
                                title:'Кейсы',
                                url:'#'
                            },
                            {
                                id:5,
                                title:'Новости',
                                url:'#'
                            },
                            {
                                id:6,
                                title:'О компании',
                                url:'#'
                            },
                            {
                                id:7,
                                title:'Контакты',
                                url:'#'
                            }
                        ] %}

                        <div class="menu-nav__list">
                            {% for item in menu %}
                                <div class="menu-nav__list-item">
                                    <div class="menu-nav__item">
                                        <div class="menu-nav__item-side">
                                            <a {{ item.children is defined ? "js-menu-link-children data-id=" ~ item.id : '' }} href="{{ item.url }}" class="menu-nav__link {{ item.children is defined ? 'menu-nav__link_arrow' : '' }}">{{ item.title }}</a>
                                        </div>
                                        {% if item.children %}
                                            <div class="menu-nav__item-main">
                                                <div class="menu-nav__children">
                                                    <div class="menu-nav__children-list">
                                                        {% for group in item.children %}
                                                            <div class="menu-nav__children-item">
                                                                <div class="menu-nav__children-side">
                                                                    <div class="menu-nav__children-title">{{ group.title }}</div>
                                                                </div>
                                                                <div class="menu-nav__children-main">
                                                                    {% for links in group.links %}
                                                                        <div class="menu-nav__children-nav">
                                                                            <a href="{{ links.url }}" class="menu-nav__children-link">{{ links.title }}</a>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="menu-main__main custom-scroll">
                    <div js-menu-grouped class="menu-grouped">
                        {% for item in menu %}
                            {% if item.children %}
                                <div js-menu-grouped-list data-id="{{ item.id }}" class="menu-grouped__list {{ loop.index == 2 ? 'is-active' : '' }}">
                                    {% for group in item.children %}
                                        <div class="menu-grouped__item">
                                            <div class="menu-grouped__item-side">
                                                <div class="menu-grouped__item-title">{{ group.title }}</div>
                                            </div>
                                            <div class="menu-grouped__item-main">
                                                <div class="menu-grouped__links">
                                                    {% for link in group.links %}
                                                        <div class="menu-grouped__links-item">
                                                            <a href="{{ link.url }}" class="menu-grouped__link">{{ link.title }}</a>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
