.integration{
    position relative
    &-title{
        margin-bottom:  45px  
        &.title-h2{
            font-size: 60px
        } 
    }    
    &-description{
        font-size: 14px;
        color: #27262B;
        max-width 600px;
        line-height: 26px
        padding-left: 20px;
        margin-bottom: 80px;
    }
    .circle{
        width: 120px;
        height: 120px;
        background-size: cover
    }
    .seporate{
        margin-bottom: 111px}
}
.tabs-integration{
    padding-left:20px; 
    &__buttons{
        margin-bottom: 114px;
        display: flex; 
        flex-wrap: wrap
        div{
            margin-right: 5%;
            color:#CBCBCE;
            font-size: 20px;
            cursor pointer
            &.active{
                color:#000
            }
            &:last-child{
                margin-right: 0px;
            }
        } 
    }
    &__tab{
        display flex
        flex-wrap wrap
        align-items: center
        display: none
        &.active{
            display:flex
        }
        &-item {
            max-width calc(20% - 40px)
            min-width 200px;
            margin: 20px
            width:100%
            min-height: 100px;
            display flex
            flex-direction: column
            align-items: center
            margin-bottom: 91px
            cursor: pointer
            transform translate3d(0, 0, 0)
            filter: grayscale(100%);
            &:hover{
                filter: grayscale(0%);
                &>img{
                    opacity: 1;
                }
            }
            &>img{
                max-width 100%
                opacity: 0.8;
            }
            &>div{
                display flex
                flex: 1
                align-items: flex-end
                font-size: 14px;
                color: #CBCBCE;
            }
        } 
    }
}

+do(1000){
    .integration{
        &>.block .block-wrapper .block{
            padding: 0px;
        }
    }
    .integration-description{
        padding-left: 0px;
    }
    .tabs-integration{
        padding-left: 0px;
    }
    .tabs-integration__tab{
        justify-content: center;
    }
}

+do(767){
    .tabs-integration__buttons div{
        font-size: 17px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}