<div class="breadcrumbs">
    <div class="breadcrumbs__list">
        <div class="breadcrumbs__list-item">
            {% for item in breadcrumbs %}
                <div class="breadcrumbs__item">
                    <a {% if item.url %}href="{{ item.url }}"{% endif %}
                       class="breadcrumbs__item-link {% if item.isCurrent == true %} breadcrumbs__item-link_active {% endif %}">
                        {{ item.name }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>