<div js-callback-tile class="callback-tile">
    <div class="callback-tile__wrapper">
        <div class="callback-tile__main">
            {% if map %}
                <div js-map-contact data-coords="[53.33, 83.69]" class="callback-tile__map"></div>
            {% else %}
                <div class="callback-tile__img"></div>
                <div class="callback-tile__title">
                    {{ title }}
                </div>
                <div class="callback-tile__desc">
                    {{ desc }}
                </div>
            {% endif %}
        </div>
        <div class="callback-tile__side {{ modifier }}">
            <div class="callback-tile__loader"></div>
            <form action="https://postman-echo.com/post" novalidate method="post" js-callback-tile-form class="callback-tile__form">
                <div class="callback-tile__inputs">
                    <div class="callback-tile__input">
                        <label js-inputShadow class="field field_light">
                            <span class="field__title">Ваше имя</span>
                            <input name="name" class="field__input" type="text">
                            <span class="field__error"></span>
                        </label>
                    </div>
                    <div class="callback-tile__input">
                        <label js-inputShadow class="field field_light">
                            <span class="field__title">Email</span>
                            <input name="email" class="field__input" type="email" required>
                            <span class="field__error"></span>
                        </label>
                    </div>
                    <div class="callback-tile__input">
                        <label js-inputShadow class="field field_light">
                            <span class="field__title">Номер телефона</span>
                            <input name="phone" js-phonemask class="field__input" type="phone" required>
                            <span class="field__error"></span>
                        </label>
                    </div>
                    {% if file %}
                        <div class="callback-tile__input">
                            <label js-inputShadow class="field field_light">
                                <span class="field__title">Комментарий</span>
                                <input name="message" class="field__input" type="text">
                                <span class="field__error"></span>
                            </label>
                        </div>
                        <div class="callback-tile__input">
                            <div js-files class="files" data-mod="single">
                                <div class="files__wrapper">
                                    <label class="files__content">
                                        <div class="files__content-wrapper">
                                            <input js-files-input class="files__input" type="file" name="files[]">
                                            <div class="files__side">
                                                <div class="files__icon files__icon_pin"></div>
                                            </div>
                                            <div class="files__main">
                                                <div class="files__main-wrapper">
                                                    <div js-files-title class="files__title">Ваше резюме</div>
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                    <div js-files-close class="files__close"></div>

                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="callback-tile__input">
                            <label js-inputShadow class="field field_light">
                                <span class="field__title">Тема обращения</span>
                                <input name="message" class="field__input" type="text">
                                <span class="field__error"></span>
                            </label>
                        </div>
                    {% endif %}

                </div>
                <div class="callback-tile__action">
                    <div class="callback-tile__action-item">
                        <label js-inputShadow class="toggle">
                            <input name="legal" type="checkbox" class="toggle__input" value="on" checked required>
                            <span class="toggle__fake"></span>
                            <span class="toggle__main">
                                <span class="toggle__title">Я согласен на обработку персональных данных</span>
                            </span>
                        </label>
                    </div>
                    <div class="callback-tile__action-item">
                        <button class="button-tile">
                            Отправить заявку
                        </button>
                    </div>
                </div>
            </form>
            <div class="callback-tile__message callback-tile__message_success">
                Ваша заявка отправлена
            </div>
            <div class="callback-tile__message callback-tile__message_error">
                Произошла ошибка попробуйте еще раз =(
            </div>
        </div>
    </div>
</div>
