.product-design{
    padding: 62px 0px 0px;
    background: #040724;
    color: #FFFFFF;
    overflow: hidden;
    .title{
        color: #FFFFFF;
        margin-bottom: 65px;
    }
    &__btns{
        font-family: $font-manrope;
        font-size: 20px;
        color: #FFFFFF;
        display flex
        flex-wrap: wrap
        margin-bottom: 44px;   
    }
    &__btn{
        margin-right: 30px;
        opacity: 0.5
        cursor: pointer
        &.active{
            opacity 1
        }
        &:last-child{
            margin-right: 0px;
        }
    }
    &__device{
        &-container{
            display none
            &.active{
                display:block
            }    
        }
        &-info{
            font-family: $font-roboto;
            font-size: 14px;
            color: #FFFFFF;
            max-width 290px;
            margin-bottom: 56px;
        }
        &-btns{
            font-family: $font-manrope;
            font-size: 16px;
            color: #FFFFFF;
            display flex
            flex-wrap: wrap
            margin-bottom: 157 px; 
        }
        &-btn{
            margin-right: 40px;
            opacity: 0.5
            cursor: pointer
            &.active{
                opacity 1
            }
            &:last-child{
                margin-right: 0px;
            }
        }
    }
     &__visual{
        &-container{
            position relative
            display none;
            &.active{
                display block
            }
        }
        &-before {
                font-family: Roboto;
                font-size: 14px;
                color: rgba(255, 255, 255, 0.5);
                max-width 140px
                position: absolute
                left 0px
                top: -40px
                transform: translateY(-100%)
            }
            &-after {
                font-family: Roboto;
                font-size: 14px;    
                color: rgba(255, 255, 255, 0.5);
                max-width 140px
                position: absolute      
                right 0px
                top: -40px
                transform: translateY(-100%)
            }
    }
    
    /*.visual-item__wrap{
        position absolute
        left: 0px;
        overflow hidden
        bottom: 0px;
        line-height: 0;
        img{
            max-width initial;
            width:initial
        }
    } */

    .twentytwenty-overlay{
        opacity 0 !important
    }
    .twentytwenty-container{
        overflow: visible;
        
    }
    .twentytwenty-handle{
        top: -35px;    
        border-radius: 0px;
        /* width: 60px;
        height: 40px; */
        background: #ED6254;
        border-color: #ED6254
        border-top-width: 0px
        border-bottom-width: 0px
        &:before{
            content: ''
            width calc(100% + 20px) !important
            position: absolute
            left -10px
            background: #ED6254;
            height 100%
            bottom: 0px
            border: none 
            margin-bottom: 0px;
            box-shadow: none
            z-index -1
        }
    }
    .twentytwenty-left-arrow{
        margin-left: -20px;
    }
    .twentytwenty-right-arrow{
        margin-right: -20px;
    }
    .twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after{

        width: 1px;
        
    }
    .product-design__visual-item.twentytwenty-container{
        margin: 0px auto
    }
}

+do(900){
    .product-design__visual-after{
        top: -65px;
    }
    .product-design__visual-before{
        top: -65px;
    }
}
+do(500){
    .product-design__visual-after{
        font-size: 12px
        max-width 120px
        text-align: right ;
    }
    .product-design__visual-before{
        font-size: 12px
        max-width 120px
    }
}