.prestart {
   position: relative
   padding: 88px 0px;
   margin-bottom: 80px;
   &:before{
      content:'';
      top: 0px
      left 0px
      right 0px
      bottom: 0px
      background: #FAFBFD
      position: absolute
      z-index -1;
      max-width 1760px
      margin-left: auto;
   }
   .support-wrap {
      justify-content flex-start
      position relative
      margin-bottom 29px
      &:after {
         content ''
         position absolute
         left 27px
         width 100%
         max-width 360px
         background #E2E3EA
         height 1px
         bottom 0
      }
      &__item {
         margin-bottom 10px
      }
   }
   .support-title {
      color #040724
      font-size 20px
   }
   .support-item {
      color #040724
      margin-right 200px
      li {
         font-family $font-roboto
         font-size 14px
         color #040724
         font-weight 400
         margin-bottom 33px
         max-width 428px
         &:before {
            width 10px
            height 10px
            background #ED6254
         }
      }
   }
   &-price {
      .prestart{
         margin-bottom: 40px;
      }
      &__title {
         font-size 14px
         color #9D9DA1
         margin-bottom 12px
         font-family $font-roboto
      }
      &__price {
         font-family $font-manrope
         font-size 30px
         color rgba(0, 0, 0, 0.7)
         font-weight bold
      }
   }
}

.prestart_none-line {
   margin-bottom 0
   .support-wrap:after {
      display none !important
   }
}

.support-item_blue {
   li {
      color $color-black
      &:before {
         background #173B93
      }
   }
}

.support-item_blue-light {
   li {
      color $color-black
      &:before {
         background #2868C7
      }
   }
}

.support-item_white {
   li {
      color $color-white
      &:before {
         background rgba(255, 255, 255, 0.3)
      }
   }
}

.support-item_purple {
   padding-top 30px
   li {
      color $color-black
      font-size 20px
      line-height (24/20)
      font-weight 600
      &:before {
         background #882DE2
      }
   }
}

.support-item_orange {
   li {
      color $color-black
      &:before {
         background #FA7A1D
      }
   }
}

+do(767) {

   .prestart .support-item {
      margin-right 0
   }
   .prestart {
      .title {
         font-size 28px
      }
   }
}
