<div class="block fistscreen">
    <div class="block-wrapper">
        <div class="fistscreen-cols">
            <div class="fistscreen-cols__item">
                <div class="fistscreen-cols__item-subtitle">
                    Электронный кошелек
                </div>
                <div class="fistscreen-cols__item-title title title-h1">
                    Smart Keeper
                </div>
                <div class="fistscreen-cols__item-text">
                    Разработка компании Soft-logic, позволяющая заказчику — банку, терминальной сети, платежному сервису, внедрить собственную систему электронных кошельков в рамках существующей платежной системы и значительно расширить финансовый инструментарий.
                </div>
            </div>
            <div class="fistscreen-cols__item">
                <div class="fistscreen-cols__item-phone">
                   <img src="/images/projects/smartkeeper/iphone.png"/>
                </div>
            </div>
        </div>
    </div>
</div>