.services {
   padding 81px 0 91px
   position: relative;
   &:before{
      content:''
      top: 40%;
      left 0px;
      right 0px;
      bottom:0px;
      background: #FAFBFD
      position: absolute
      z-index -1
   }
   &-btns {
      display flex
      flex-wrap wrap
      font-family $font-manrope
      font-size 20px
      margin-bottom 35px
      &__item {
         color #9D9DA1
         cursor pointer
         margin-right 40px
         &.active {
            color #040724
         }

      }
   }
   &-items {
      display none
      &.active {
         display block
      }
      &__item {
         &-title {
            margin-bottom 30px
         }
      }
      &__cells {
         display: flex
         flex-wrap: wrap
         margin-bottom 85px
         &-item {
            width calc(25% - 22px)
            box-sizing border-box
            margin-right 28px
            padding 36px 30px
            border 2px solid rgba(226, 227, 234, 0.5)
            background: #fff;
            &:last-child {
               margin-right 0
            }
         }
      }
      &__info {
         display: flex
         flex-wrap: wrap
         &-item {
            width: 25%
            padding: 0 30px
            box-sizing border-box
            position relative
            margin-bottom 84px
            &:after {
               content ''
               height 90%
               width 2px
               background #F0F1F4
               position absolute
               right 30px
               top 50%
               transform translateY(-50%)
            }
            .info {
               font-family $font-roboto
               font-size 14px
               color #9D9DA1
               margin-bottom 30px
               max-width 230px
               min-height 42px
            }
            .price {
               font-family $font-manrope
               font-size 20px
               color rgba(0, 0, 0, 0.7)
               font-weight bold
            }
         }
      }
      &__resulttitle {
         font-family $font-roboto
         font-size 14px
         color #9D9DA1
         margin-bottom 20px
      }
      &__result {
         font-family $font-manrope
         font-size 72px
         color #000000
         font-weight bold
         span {
            font-size 20px
            color rgba(0, 0, 0, 0.7)
         }
      }

   }
   &_row-top_none {
      padding-top 0
   }
}

+do(1080) {
   .services {
      padding 40px 0 60px
   }
   .services-items__cells-item {
      width calc(50% - 50px)
      margin-bottom 20px
   }
   .services-items__info {
      .services-items__info-item {
         width 50%
         margin-bottom 40px
      }
   }
   .services-items__info {
      margin-bottom 50px
   }
}

+do(767) {
   .services {
      
      & > .block .block-wrapper .block {
         padding 0
      }
   }
   .services-items__cells {
      margin-bottom 20px
      &-item {
         width 100%
         margin-right 0
      }
   }
   .services-items__info {
      margin-bottom 20px
      .services-items__info-item {
         width 100%
         padding-left 0
         padding-right 0
         margin-bottom 20px
         &:after {
            display none
         }
         .info {
            margin-bottom 15px
            min-height initial
         }
      }
   }
   .services-items__result {
      font-size 32px
      span {
         display block
         font-size 16px
      }
   }
}