<div class="support">
    <div class="circle"></div>
    <div class="dots"></div>
    <div class="block">
        <div class="block-wrapper">
            <div class="support-container">
                <div class="title title-h2 title-h2--smart">Поддержка комплекса</div>
                <div class="support-wrap">
                    <div class="support-wrap__item">
                        <div class="support-title">Базовая поддержка решения</div>
                        <ul class="support-item">
                            <li>Выполнение настроек системы</li>
                            <li>Заведение новых услуг</li>
                            <li>Анализ проблем с оплатами</li>
                            <li>Консультации по системе</li>
                        </ul>
                    </div>
                    <div class="support-wrap__item">
                        <div class="support-title">Администрирование комлекса</div>
                        <ul class="support-item">
                            <li>Настройка системного ПО</li>
                            <li>Обновление платежного ПО</li>
                            <li>Обновление компонент ОС</li>
                            <li>Мониторинг работоспособности</li>
                            <li>Возможность работы 24/7</li>
                        </ul>
                    </div>
                    <div class="support-wrap__item">
                        <div class="support-title">Доработки комлекса</div>
                        <ul class="support-item">
                            <li>Внедрение нового функционала</li>
                            <li>Подключение новых услуг</li>
                            <li>Доработки мобильных платформ</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>