<div class="page page_services block">
    <div class="page__wrapper block-wrapper">
        <div class="page-content page-content_case-1 page-content_medium page__content">
            <div class="page-content__wrapper">
                <div class="page-content__main">
                    <div class="page-content__tablet-overlay"></div>
                    <div class="page__header">
                        <div class="page-header">
                            <div class="page-header__wrapper">
                                <div class="page-header__main">
                                    <div class="page-header__title title-h1">
                                        Кейсы
                                    </div>
                                </div>
                                <div class="page-header__side">
                                    <div class="page-header__arrow">
                                        <a href="#" class="link-arrow link-arrow_dark">Все кейсы</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page-content__main-major">
                        <div js-nav-tabs data-group="cases" class="nav-simple">
                            {% set links = [
                                {
                                    title:'МТС БАНК',
                                    id:1,
                                    color:'red'
                                },
                                {
                                    title:'Банк Русский Стандарт',
                                    id:2,
                                    color:'red'
                                },
                                {
                                    title:'Киевстар',
                                    id:3,
                                    color:'red'
                                },
                                {
                                    title:'Билайн-Киргизия',
                                    id:4,
                                    color:'red'
                                }
                            ] %}
                            <div class="nav-simple__list">
                                {% for link in links %}
                                    <div class="nav-simple__item">
                                        <a href="#" js-nav-tabs-item data-id="{{ link.id }}" class="nav-simple__item-link  {{ loop.first ? 'is-active' : '' }}">{{ link.title }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="page-content__main-minor">
                        <div js-nav-pages data-group="cases" class="nav-context">
                            <div class="nav-context__list">
                                <div js-nav-pages-item data-id=1 class="nav-context__item is-active">
                                    <div class="nav-context__item-main">
                                        <div class="nav-context__item-info">
                                            Основным направлением деятельности компании Soft-logic является разработка сложных кросс-платформенных приложений на языке Java.
                                            В качестве основной СУБД используется PostgreSQL. Компания делает упор на активное применение в своей работе open-source продуктов, таких как OS Linux, СУБД PostgreSQL
                                        </div>
                                    </div>
                                    <div class="nav-context__item-side">
                                        <a href="case.html" class="link-arrow link-arrow_dark">Подробнее кейс</a>
                                    </div>
                                </div>
                                <div js-nav-pages-item data-id=2 class="nav-context__item">
                                    <div class="nav-context__item-main">
                                        <div class="nav-context__item-info">
                                            Изначально в МТС-Банке были внедрены программные решения большого количества различных поставщиков услуг, что осложняло управление и оптимизацию работы с ними, поскольку каждый поставщик предлагал собственное решение управления бизнес-процессами,
                                            собственный интерфейс, собственные процедуры. Это обстоятельство вызвало определенные трудности в дальнейшем развитии платежных инструментов банка и уменьшало их возможности по извлечению прибыли из всех процессов
                                        </div>
                                    </div>
                                    <div class="nav-context__item-side">
                                        <a href="case.html" class="link-arrow link-arrow_dark">Подробнее кейс</a>
                                    </div>
                                </div>
                                <div js-nav-pages-item data-id=3 class="nav-context__item">
                                    <div class="nav-context__item-main">
                                        <div class="nav-context__item-info">
                                            Изначально в МТС-Банке были внедрены программные решения большого количества различных поставщиков услуг, что осложняло управление и оптимизацию работы с ними, поскольку каждый поставщик предлагал собственное решение управления бизнес-процессами,
                                            собственный интерфейс, собственные процедуры. Это обстоятельство вызвало определенные трудности в дальнейшем развитии платежных инструментов банка и уменьшало их возможности по извлечению прибыли из всех процессов
                                        </div>
                                    </div>
                                    <div class="nav-context__item-side">
                                        <a href="case.html" class="link-arrow link-arrow_dark">Подробнее кейс</a>
                                    </div>
                                </div>
                                <div js-nav-pages-item data-id=4 class="nav-context__item">
                                    <div class="nav-context__item-main">
                                        <div class="nav-context__item-info">
                                            Изначально в МТС-Банке были внедрены программные решения большого количества различных поставщиков услуг, что осложняло управление и оптимизацию работы с ними, поскольку каждый поставщик предлагал собственное решение управления бизнес-процессами,
                                            собственный интерфейс, собственные процедуры. Это обстоятельство вызвало определенные трудности в дальнейшем развитии платежных инструментов банка и уменьшало их возможности по извлечению прибыли из всех процессов
                                        </div>
                                    </div>
                                    <div class="nav-context__item-side">
                                        <a href="case.html" class="link-arrow link-arrow_dark">Подробнее кейс</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-content__side">
                    <div js-nav-pages data-group="cases" class="pages-list">
                        <div js-nav-pages-item data-id=1 class="pages-list__item is-active">
                            <div class="case-preview">
                                <div class="case-preview__side">
                                    <div class="case-preview__logo">
                                        <img src="images/cases/mts-bank-logo.svg" alt="">
                                    </div>
                                </div>
                                <div class="case-preview__main">
                                    <div class="quote">
                                        <div class="quote__wrapper">
                                            <div class="quote__side">
                                                Успешность реализации данной задачи означает значительное упрощение работы для наших специалистов. Сокращение ресурсных и временных затрат на ее выполнение трудно переоценить внедрение нового продукта продемонстрировало отличные показатели
                                                эффективности для
                                                нашего банка, а высокий уровень профессионализма наших подрядчиков, компании Soft-logic, позволил реализовать эти масштабные задачи в объективно сжатый срок
                                            </div>
                                            <div class="quote__main">
                                                <div class="quote__title">Оксана Воробьева</div>
                                                <div class="quote__desc">Руководитель проекта «Платежный Хаб» МТС-банка</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div js-nav-pages-item data-id=2 class="pages-list__item">
                            <div class="case-preview">
                                <div class="case-preview__side">
                                    <div class="case-preview__logo">
                                        <img src="images/cases/russian-standart.png" alt="">
                                    </div>
                                </div>
                                <div class="case-preview__main">
                                    <div class="list-plus">
                                        <div class="list-plus__list">
                                            <div class="list-plus__item">
                                                <div class="list-plus__item-side">
                                                    <div class="list-plus__item-title">
                                                        x 2
                                                    </div>
                                                </div>
                                                <div class="list-plus__item-main">
                                                    <div class="list-plus__item-desc">
                                                        В последний день первого операционного года решение Процессинговый центр Pay-logic обработало вдвое больше операций, в сравнении с предыдущей системой
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-plus__item">
                                                <div class="list-plus__item-side">
                                                    <div class="list-plus__item-title">
                                                        + 80%
                                                    </div>
                                                </div>
                                                <div class="list-plus__item-main">
                                                    <div class="list-plus__item-desc">
                                                        Показать еще какой-нибудь показатель из кейса
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div js-nav-pages-item data-id=3 class="pages-list__item">
                            <div class="case-preview">
                                <div class="case-preview__side">
                                    <div class="case-preview__logo">
                                        <img src="images/cases/kiev-star-logo.png" alt="">
                                    </div>
                                </div>
                                <div class="case-preview__main">
                                    <div class="list-plus">
                                        <div class="list-plus__list">
                                            <div class="list-plus__item">
                                                <div class="list-plus__item-side">
                                                    <div class="list-plus__item-title">
                                                        x 2
                                                    </div>
                                                </div>
                                                <div class="list-plus__item-main">
                                                    <div class="list-plus__item-desc">
                                                        В последний день первого операционного года решение Процессинговый центр Pay-logic обработало вдвое больше операций, в сравнении с предыдущей системой
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-plus__item">
                                                <div class="list-plus__item-side">
                                                    <div class="list-plus__item-title">
                                                        + 80%
                                                    </div>
                                                </div>
                                                <div class="list-plus__item-main">
                                                    <div class="list-plus__item-desc">
                                                        Показать еще какой-нибудь показатель из кейса
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div js-nav-pages-item data-id=4 class="pages-list__item">
                            <div class="case-preview">
                                <div class="case-preview__side">
                                    <div class="case-preview__logo">
                                        <img src="images/cases/beeline-logo.png" alt="">
                                    </div>
                                </div>
                                <div class="case-preview__main">
                                    <div class="list-plus">
                                        <div class="list-plus__list">
                                            <div class="list-plus__item">
                                                <div class="list-plus__item-side">
                                                    <div class="list-plus__item-title">
                                                        x 2
                                                    </div>
                                                </div>
                                                <div class="list-plus__item-main">
                                                    <div class="list-plus__item-desc">
                                                        В последний день первого операционного года решение Процессинговый центр Pay-logic обработало вдвое больше операций, в сравнении с предыдущей системой
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-plus__item">
                                                <div class="list-plus__item-side">
                                                    <div class="list-plus__item-title">
                                                        + 80%
                                                    </div>
                                                </div>
                                                <div class="list-plus__item-main">
                                                    <div class="list-plus__item-desc">
                                                        Показать еще какой-нибудь показатель из кейса
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>