<div class="page page_services block">
    <div class="page__wrapper block-wrapper">
        <div class="page-content page-content_case-1 page-content_medium page__content">
            <div class="page-content__wrapper">
                <div class="page-content__main">
                    <div class="page__header">
                        <div class="page-header">
                            <div class="page-header__wrapper">
                                <div class="page-header__main">
                                    <div class="page-header__title page-header__title_light title-h1">
                                        О компании
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page-content__main-major">
                        <div js-nav-tabs data-group="company" class="nav-simple nav-simple_light">

                            {% set links = [
                                {
                                    title:'Общее описание',
                                    id:1
                                },
                                {
                                    title:'Достижения',
                                    id:2
                                },
                                {
                                    title:'Команда',
                                    id:3
                                },
                                {
                                    title:'Сертификаты',
                                    id:4
                                }
                            ] %}
                            <div class="nav-simple__list">
                                {% for link in links %}
                                    <div class="nav-simple__item">
                                        <a href="#" js-nav-tabs-item data-id="{{ link.id }}" class="nav-simple__item-link  {{ loop.first ? 'is-active' : '' }}">{{ link.title }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="page-content__main-minor">
                        <div js-nav-pages data-group="company" class="nav-context nav-context_light">
                            <div class="nav-context__list">
                                <div js-nav-pages-item data-id=1 class="nav-context__item is-active">
                                    <div class="nav-context__item-main">
                                        <div class="nav-context__item-info">
                                            Основным направлением деятельности компании Soft-logic является разработка сложных кросс-платформенных приложений на языке Java.
                                            В качестве основной СУБД используется PostgreSQL. Компания делает упор на активное применение в своей работе open-source продуктов, таких как OS Linux, СУБД PostgreSQL
                                        </div>
                                    </div>
                                    <div class="nav-context__item-side">
                                        <a href="company.html" class="link-arrow">Подробнее о Soft Logic</a>
                                    </div>
                                </div>
                                <div js-nav-pages-item data-id=2 class="nav-context__item">
                                    <div class="nav-context__item-main">
                                        <div class="nav-context__item-info">
                                            Изначально в МТС-Банке были внедрены программные решения большого количества различных поставщиков услуг, что осложняло управление и оптимизацию работы с ними, поскольку каждый поставщик предлагал собственное решение управления бизнес-процессами,
                                            собственный интерфейс, собственные процедуры. Это обстоятельство вызвало определенные трудности в дальнейшем развитии платежных инструментов банка и уменьшало их возможности по извлечению прибыли из всех процессов
                                        </div>
                                    </div>
                                    <div class="nav-context__item-side">
                                        <a href="company.html" class="link-arrow">Подробнее о Soft Logic</a>
                                    </div>
                                </div>
                                <div js-nav-pages-item data-id=3 class="nav-context__item">
                                    <div class="nav-context__item-main">
                                        <div class="nav-context__item-info">
                                            Изначально в МТС-Банке были внедрены программные решения большого количества различных поставщиков услуг, что осложняло управление и оптимизацию работы с ними, поскольку каждый поставщик предлагал собственное решение управления бизнес-процессами,
                                            собственный интерфейс, собственные процедуры. Это обстоятельство вызвало определенные трудности в дальнейшем развитии платежных инструментов банка и уменьшало их возможности по извлечению прибыли из всех процессов
                                        </div>
                                    </div>
                                    <div class="nav-context__item-side">
                                        <a href="company.html" class="link-arrow">Подробнее о Soft Logic</a>
                                    </div>
                                </div>
                                <div js-nav-pages-item data-id=4 class="nav-context__item">
                                    <div class="nav-context__item-main">
                                        <div class="nav-context__item-info">
                                            Изначально в МТС-Банке были внедрены программные решения большого количества различных поставщиков услуг, что осложняло управление и оптимизацию работы с ними, поскольку каждый поставщик предлагал собственное решение управления бизнес-процессами,
                                            собственный интерфейс, собственные процедуры. Это обстоятельство вызвало определенные трудности в дальнейшем развитии платежных инструментов банка и уменьшало их возможности по извлечению прибыли из всех процессов
                                        </div>
                                    </div>
                                    <div class="nav-context__item-side">
                                        <a href="company.html" class="link-arrow">Подробнее о Soft Logic</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-content__side">
                    <div class="company-preview">
                        <div class="company-preview__side">
                            Статистика внедрения
                        </div>
                        <div class="company-preview__main">
                            <div class="company-preview__map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>