<div class="page page_services block">
    <div class="page__wrapper block-wrapper">
        <div class="page-content page-content_case-1 page-content_medium page__content">
            <div class="page-content__wrapper">
                <div class="page-content__main">
                    <div class="page__header">
                        <div class="page-header">
                            <div class="page-header__wrapper">
                                <div class="page-header__main">
                                    <div class="page-header__title page-header__title_light title-h1">
                                        Контакты
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page-content__main-major">
                        <div class="contacts-list">
                            <div class="contacts-list__group">
                                <div class="contacts-list__item">
                                    <a href="tel:+74957604599" class="contacts-list__link"> +7(495) 760-45-99</a>
                                </div>
                                <div class="contacts-list__item">
                                    <a href="tel:+74957604599" class="contacts-list__link"> +7(495) 760-45-99</a>
                                </div>
                                <div class="contacts-list__item">
                                    <div class="contacts-list__desc">(с 6:00 до 15:00 по московскому времени)</div>
                                </div>
                            </div>
                            <div class="contacts-list__group">
                                <div class="contacts-list__item">
                                    <a href="mailto:info@soft-logic.ru" class="contacts-list__link">info@soft-logic.ru</a>
                                </div>
                                <div class="contacts-list__item">
                                    <a href="tel:+74957604599" class="contacts-list__link"> +7(495) 760-45-99</a>
                                </div>
                            </div>
                            <div class="contacts-list__group">
                                <div class="contacts-cols contacts-cols_index">
                                    <div class="contacts-cols__additional-list">
                                        <div class="contacts-cols__additional-item">
                                            <a href="#" class="contacts-cols__additional-link contacts-cols__additional-link_mail">info@soft-logic.ru</a>
                                        </div>
                                        <div class="contacts-cols__additional-item">
                                            <a href="#" class="contacts-cols__additional-link contacts-cols__additional-link_telegram" target="_blank">
                                                @softlogic
                                            </a>                                                    </div>
                                        <div class="contacts-cols__additional-item">
                                            <a href="#" class="contacts-cols__additional-link contacts-cols__additional-link_skype" target="_blank">
                                                soft-logic
                                            </a>                                                    </div>
                                        <div class="contacts-cols__additional-item">
                                            <a href="#" class="contacts-cols__additional-link contacts-cols__additional-link_whatsapp" target="_blank">
                                                +7 903 947 9447
                                            </a>                                                    </div>
                                    </div>
                                </div>
                                <div class="contacts-list__item">
                                    <div class="social">
                                        {% set socials = [
                                            {mod:'facebook',url:'#'},
                                            {mod:'twitter',url:'#'},
                                            {mod:'instagram',url:'#'}
                                        ] %}
                                        <div class="social__list">
                                            {% for social in socials %}
                                                <a href="{{ social.url }}" target="_blank"
                                                   class="social-item social-item_{{ social.mod }} social__list-item"></a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contacts-list__group">
                                <div class="contacts-list__item">
                                    <button class="button button_light button_outline">
                                        <span class="button__content">
                                            <span class="button__title">
                                                Заявка на разработку
                                            </span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>