<div js-intro-slider data-timeout=6000 class="intro-slider">
    <div class="intro-slider__wrapper">
        {% set slide_1 = {id:1,title:"Soft&nbsp;Logic",pos:1,color:"#274EAC", color_prev:"#39b54a"} %}
        {% set slide_2 = {id:2,title:"Smart&nbsp;Keeper",pos:2, color:"#EA5B4E",color_prev:"black"} %}
        <div js-intro-slider-item data-info='{{ slide_1 | json_encode }}' class="intro-item is-active intro-slider__item block">
            <div class="intro-item__overlay-side" style="background-image: linear-gradient(to top, #264CA9 0%, #2A51B3 100%)"></div>
            <div class="intro-item__overlay-main"></div>
            <video preload="metadata" style="background-image: linear-gradient(to top, #264CA9 0%, #2A51B3 100%)" data-autoplay autoplay loop muted src="video/video.mp4" class="intro-item__video"></video>
            <div class="intro-item__billboard" style="background-image: url('images/1024x768.png')"></div>
            <div class="intro-item__wrapper block-wrapper">
                <div class="intro-item__cols">
                    <div class="intro-item__cols-item">
                        <div class="intro-item__main">
                            <div class="intro-item__main-wrapper">
                                <div class="intro-item__title title title-h1">
                                    Soft Logic&nbsp;&mdash; highload разработка
                                </div>
                                <div class="intro-item__desc">
                                    Разработчик программного обеспечения для приема
                                    платежей через терминалы самообслуживания
                                    и&nbsp;сопутсвубщих программных решений для платежных систем, банков и&nbsp;расчетных центров
                                </div>
                                <div class="intro-item__action">
                                    <a href="#" class="intro-item__more link-arrow">Подробне о Soft-Logic</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div js-intro-slider-item data-info='{{ slide_2 | json_encode }}' class="intro-item intro-slider__item block">
            <div class="intro-item__overlay-side" style="background-image: linear-gradient(to bottom, #E95A4C 0%, #ED6154 100%)"></div>
            <div class="intro-item__overlay-main"></div>
            <video preload="metadata" style="background-image: linear-gradient(to bottom, #E95A4C 0%, #ED6154 100%)" loop muted src="video/demo2.mp4" class="intro-item__video"></video>
            <div class="intro-item__billboard" style="background-image: url('images/1024x768.png')"></div>
            <div class="intro-item__wrapper block-wrapper">
                <div class="intro-item__cols">
                    <div class="intro-item__cols-item intro-item__cols-item_main">
                        <div class="intro-item__main">
                            <div class="intro-item__main-wrapper">
                                <div class="intro-item__title title title-h1">
                                    Smart Keeper
                                    ваше payment
                                    решение
                                </div>
                                <div class="intro-item__desc">
                                    Разработка компании Soft-logic, позволяющая заказчику организовать систему электронных кошельков в&nbsp;рамках имеющейся платежной системы.
                                </div>
                                <div class="intro-item__action">
                                    <a href="#" class="intro-item__more link-arrow">Подробне о Smart Keeper</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-slider__nav">
        <div class="intro-slider__nav-wrapper">
            <div js-intro-nav data-current-slide=1 class="intro-nav intro-nav_visible">
                <div class="intro-nav__wrapper">
                    <div class="intro-nav__side">
                        <div js-intro-nav-prev class="intro-nav__prev" style="background-color: #39b54a"></div>
                    </div>
                    <div class="intro-nav__main">
                        <div js-intro-nav-next class="intro-nav__action" style="background-color: #EA5B4E">
                            <div js-intro-nav-count class="intro-nav__action-counter">
                                <span js-intro-nav-count-current>1</span>/2
                            </div>
                            <div class="intro-nav__action-major">
                                <div class="intro-nav__preview intro-nav__preview_hidden">
                                    <div js-intro-nav-video data-id="1" class="intro-nav__preview-item">
                                        <div class="intro-nav__preview-poster" style="background-image: url('images/360x316.png')"></div>
                                        <video preload="metadata" muted loop src="video/video.mp4" class="intro-nav__preview-video"></video>
                                    </div>
                                    <div js-intro-nav-video data-id="2" class="intro-nav__preview-item is-active">
                                        <div class="intro-nav__preview-poster" style="background-image: url('images/360x316.png')"></div>
                                        <video preload="metadata" muted loop src="video/demo2.mp4" class="intro-nav__preview-video"></video>
                                    </div>
                                </div>
                            </div>
                            <div class="intro-nav__action-minor">
                                <div class="intro-nav__action-side">
                                    <div class="intro-nav__next"></div>
                                </div>
                                <div js-intro-nav-title class="intro-nav__action-main">
                                    Smart Keeper
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>