<div class="page page_services block">
    <div class="page__wrapper block-wrapper">
        <div class="page-header page__header page__header_tablet_row_large">
            <div class="page-header__wrapper">
                <div class="page-header__main">
                    <div class="page-header__title title-h1">
                        Новости
                    </div>
                </div>
                <div class="page-header__side">
                    <div class="page-header__arrow">
                        <a href="news.html" class="link-arrow link-arrow_dark">Все новости</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content page-content_simple page__content">
            <div class="page-content__wrapper">
                <div js-articles-slider class="articles-slider articles-slider_overflow_left">
                    <div js-articles-slider-nav class="articles-slider__nav"></div>
                    <div js-articles-slider-list class="articles-slider__list">
                        {% set articles = [{
                            title:'Обновление серверной части ПЦ Pay-logic 4.7.3',
                            desc:'В разделе «Точки — Профили кассы» добавлен флажок «Автоматически отправлять новые платежи». При значении «Да» при наличии постоянного соединения с сервером платежи отправляются автомати ...',
                            bgColor:'pink',
                            tag:'21.11.2018'
                        },{
                            title:'Обновление серверной части ПЦ Pay-logic 4.7.3',
                            desc:'В разделе «Точки — Профили кассы» добавлен флажок «Автоматически отправлять новые платежи». При значении «Да» при наличии постоянного соединения с сервером платежи отправляются автомати ...',
                            bgColor:'pink',
                            tag:'21.11.2018'
                        },{
                            title:'Обновление серверной части ПЦ Pay-logic 4.7.3',
                            desc:'В разделе «Точки — Профили кассы» добавлен флажок «Автоматически отправлять новые платежи». При значении «Да» при наличии постоянного соединения с сервером платежи отправляются автомати ...',
                            bgColor:'pink',
                            tag:'21.11.2018'
                        },{
                            title:'Обновление серверной части ПЦ Pay-logic 4.7.3',
                            desc:'В разделе «Точки — Профили кассы» добавлен флажок «Автоматически отправлять новые платежи». При значении «Да» при наличии постоянного соединения с сервером платежи отправляются автомати ...',
                            bgColor:'pink',
                            tag:'21.11.2018'
                        },{
                            title:'Обновление серверной части ПЦ Pay-logic 4.7.3',
                            desc:'В разделе «Точки — Профили кассы» добавлен флажок «Автоматически отправлять новые платежи». При значении «Да» при наличии постоянного соединения с сервером платежи отправляются автомати ...',
                            bgColor:'pink',
                            tag:'21.11.2018'
                        },{
                            title:'Обновление серверной части ПЦ Pay-logic 4.7.3',
                            desc:'В разделе «Точки — Профили кассы» добавлен флажок «Автоматически отправлять новые платежи». При значении «Да» при наличии постоянного соединения с сервером платежи отправляются автомати ...',
                            bgColor:'pink',
                            tag:'21.11.2018'
                        },{
                            title:'Обновление серверной части ПЦ Pay-logic 4.7.3',
                            desc:'В разделе «Точки — Профили кассы» добавлен флажок «Автоматически отправлять новые платежи». При значении «Да» при наличии постоянного соединения с сервером платежи отправляются автомати ...',
                            bgColor:'pink',
                            tag:'21.11.2018'
                        }] %}

                        {% for article in articles %}
                            <div class="articles-slider__list-item">
                                <a href="article.html" class="article-card article-card_hover_simple">
                                    <div class="article-card__wrapper">
                                        <div class="article-card__header">
                                            {{ article.title }}
                                        </div>
                                        <div class="article-card__body">
                                            <div class="article-card__desc">
                                                {{ article.desc }}
                                            </div>
                                        </div>
                                        <div class="article-card__footer">
                                            <div class="article-card__tag">
                                                {{ article.tag }}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>