<div class="page page_services block">
    <div class="page__wrapper block-wrapper">
        <div class="page-header page-header page__header page__header_tablet_row_large">
            <div class="page-header__wrapper">
                <div class="page-header__main">
                    <div class="page-header__title title-h1">
                        Продукты
                    </div>
                </div>
                <div class="page-header__side">
                    <div class="page-header__arrow">
                        <a href="#" class="link-arrow link-arrow_dark">На страницу продуктов</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content page-content_simple page__content">
            <div class="page-content__wrapper">
                <div js-articles-slider class="articles-slider articles-slider_overflow_left">
                    <div js-articles-slider-nav class="articles-slider__nav"></div>
                    <div js-articles-slider-list class="articles-slider__list">
                        {% set articles = [{
                            title:'Процессинговый центр Pay-logic',
                            desc:'С помощью которой вы сможете организовать прием платежей в банке, запустить платежную систему или просто принимать платежи в свою пользу с помощью различных программно-технических средств',
                            bgColor:'red',
                            bgImage:'images/bitcoin.png',
                            tag:'Payment, + дополнительный тег'
                        },{
                            title:'Процессинговый центр Pay-logic',
                            desc:'С помощью которой вы сможете организовать прием платежей в банке, запустить платежную систему или просто принимать платежи в свою пользу с помощью различных программно-технических средств',
                            bgColor:'red',
                            bgImage:'images/bitcoin.png',
                            tag:'Payment, + дополнительный тег'
                        },{
                            title:'Процессинговый центр Pay-logic Процессинговый центр Pay-logic',
                            desc:'С помощью которой вы сможете организовать прием платежей в банке, запустить платежную систему или просто принимать платежи в свою пользу с помощью различных программно-технических средств',
                            bgColor:'pink',
                            bgImage:'images/bitcoin.png',
                            tag:'Payment, + дополнительный тег'
                        },{
                            title:'Процессинговый центр Pay-logic',
                            desc:'С помощью которой вы сможете организовать прием платежей в банке, запустить платежную систему или просто принимать платежи в свою пользу с помощью различных программно-технических средств',
                            bgColor:'pink',
                            bgImage:'images/bitcoin.png',
                            tag:'Payment, + дополнительный тег'
                        },{
                            title:'Процессинговый центр Pay-logic',
                            desc:'С помощью которой вы сможете организовать прием платежей в банке, запустить платежную систему или просто принимать платежи в свою пользу с помощью различных программно-технических средств',
                            bgColor:'pink',
                            bgImage:'images/bitcoin.png',
                            tag:'Payment, + дополнительный тег'
                        },{
                            title:'Процессинговый центр Pay-logic',
                            desc:'С помощью которой вы сможете организовать прием платежей в банке, запустить платежную систему или просто принимать платежи в свою пользу с помощью различных программно-технических средств',
                            bgColor:'pink',
                            bgImage:'images/bitcoin.png',
                            tag:'Payment, + дополнительный тег'
                        },{
                            title:'Процессинговый центр Pay-logic',
                            desc:'С помощью которой вы сможете организовать прием платежей в банке, запустить платежную систему или просто принимать платежи в свою пользу с помощью различных программно-технических средств',
                            bgColor:'pink',
                            bgImage:'images/bitcoin.png',
                            tag:'Payment, + дополнительный тег'
                        }] %}

                        {% for article in articles %}
                            <div class="articles-slider__list-item">
                                <a href="#" class="article-card">
                                    <div class="article-card__hover" style="background-image: url({{ article.bgImage }})"></div>
                                    <div class="article-card__hover-color" style="background-color: {{ article.bgColor }} "></div>
                                    <div class="article-card__wrapper">
                                        <div class="article-card__header">
                                            {{ article.title }}
                                        </div>
                                        <div class="article-card__body">
                                            <div class="article-card__desc">
                                                {{ article.desc }}
                                            </div>
                                        </div>
                                        <div class="article-card__footer">
                                            <div class="article-card__tag">
                                                {{ article.tag }}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>