<div class="page page_projects block">
    <div class="page__wrapper block-wrapper">
        <div class="page-header page__header">
            <div class="page-header__wrapper">
                <div class="page-header__main">
                    <div class="page-header__title page-header__title_light title-h1">
                        Проекты
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content page-content_full page__content">
            <div class="page-content__wrapper">
                <div class="page-content__main">
                    <div class="page-content__main-major">
                        <div js-nav-tabs data-group="projects" class="nav-simple nav-simple_tablet-row nav-simple_light">
                            {% set links = [
                                {
                                    title:'Облачный процессинг Pay-point',
                                    id:1
                                },
                                {
                                    title:'Облачный крипто-процессинг',
                                    id:2
                                }
                            ] %}
                            <div class="nav-simple__list">
                                {% for link in links %}
                                    <div class="nav-simple__item">
                                        <a href="#" js-nav-tabs-item data-id="{{ link.id }}" class="nav-simple__item-link  {{ loop.first ? 'is-active' : '' }}">{{ link.title }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="page-content__main-minor">
                        <div js-nav-pages data-group="projects" class="nav-context nav-context_light">
                            <div class="nav-context__list">
                                <div js-nav-pages-item data-id=1 class="nav-context__item is-active">
                                    <div class="nav-context__item-main nav-context__item-main_height_small">
                                        <div class="nav-context__item-info">
                                            Флагманская разработка компании Soft-logic

                                            Процессинговый центр Pay-logic является мощной современной масштабируемой и быстроинтегрируемой платежной платформой,
                                            с помощью которой можно организовать прием платежей в банке, запустить платежную систему или просто принимать платежи в свою пользу с помощью различных программно-технических средств

                                        </div>
                                    </div>
                                    <div class="nav-context__item-side">
                                        <div class="nav-context__more">
                                            <div class="nav-context__more-list">
                                                <div class="nav-context__more-item">
                                                    <a href="#" class="link-arrow">Подробнее о Pay-point</a>
                                                </div>
                                                <div class="nav-context__more-item">
                                                    <a href="#" class="link-arrow">На сайт проекта</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div js-nav-pages-item data-id=2 class="nav-context__item">
                                    <div class="nav-context__item-main nav-context__item-main_height_small">
                                        <div class="nav-context__item-info">
                                            Программное обеспечение Soft-logic в облаке для организации приема платежей, предоставляющее возможность гибкой, быстрой, адаптивной автоматизации небольшой или средней по размерам сети устройств.
                                        </div>
                                    </div>
                                    <div class="nav-context__item-side">
                                        <div class="nav-context__more">
                                            <div class="nav-context__more-list">
                                                <div class="nav-context__more-item">
                                                    <a href="#" class="link-arrow">Подробнее о Pay-point</a>
                                                </div>
                                                <div class="nav-context__more-item">
                                                    <a href="#" class="link-arrow">На сайт проекта</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div js-paralax class="page-content__side">
                    <div js-nav-pages data-group="projects" class="pages-list">
                        <div js-nav-pages-item data-id=1 class="pages-list__item is-active">
                            <div class="projects-images projects-images_1">
                                <div class="projects-images__image projects-images__image_terminal"></div>
                                <div data-parallaxify-range-x="-60" class="projects-images__image projects-images__image_cloud"></div>
                                <div data-parallaxify-range-x="60" class="projects-images__image projects-images__image_title"></div>
                            </div>
                        </div>
                        <div js-nav-pages-item data-id=2 class="pages-list__item">
                            <div class="projects-images projects-images_2">
                                <div data-parallaxify-range-x="-60" class="projects-images__image projects-images__image_sl"></div>
                                <div data-parallaxify-range-x="60" class="projects-images__image projects-images__image_cloud-1"></div>
                                <div class="projects-images__image projects-images__image_cloud-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>