<div class="page page_services block">
    <div class="page__wrapper block-wrapper">
        <div class="page-header page__header">
            <div class="page-header__wrapper">
                <div class="page-header__main">
                    <div class="page-header__title title-h1">
                        Услуги
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content page__content">
            <div class="page-content__wrapper">
                <div class="page-content__main">
                    <div class="page-content__main-major">
                        <div js-nav-tabs data-group="services" class="nav-simple nav-simple_services">
                            {% set links = [
                                {
                                    title:'Что мы делаем',
                                    id:1
                                },
                                {
                                    title:'Технологии',
                                    id:2
                                },
                                {
                                    title:'Компетенции',
                                    id:3
                                },
                                {
                                    title:'Этапы',
                                    id:4
                                }
                            ] %}
                            <div class="nav-simple__list">
                                {% for link in links %}
                                    <div class="nav-simple__item">
                                        <a href="#" js-nav-tabs-item data-id="{{ link.id }}" class="nav-simple__item-link  {{ loop.first ? 'is-active' : '' }}">{{ link.title }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="page-content__main-minor">
                        <div js-nav-pages data-group="services" class="nav-context">
                            <div class="nav-context__list">
                                <div js-nav-pages-item data-id=1 class="nav-context__item is-active">
                                    <div class="nav-context__item-main">
                                        <div class="nav-context__item-info">
                                            Основным направлением деятельности компании Soft-logic является разработка сложных кросс-платформенных приложений на языке Java.
                                            В качестве основной СУБД используется PostgreSQL. Компания делает упор на активное применение в своей работе open-source продуктов, таких как OS Linux, СУБД PostgreSQL
                                        </div>
                                    </div>
                                    <div class="nav-context__item-side">
                                        <a href="/services.html" class="link-arrow link-arrow_dark">Подробнее</a>
                                    </div>
                                </div>
                                <div js-nav-pages-item data-id=2 class="nav-context__item">
                                    <div class="nav-context__item-main">
                                        <div class="nav-context__item-info">
                                            Краткое тематическое описание ключевых компетенций. Флагманским продуктом компании является платежная платформа «Процессинговый центр Pay-logic». Данный программный комплекс предназначен для организации
                                        </div>
                                    </div>
                                    <div class="nav-context__item-side">
                                        <a href="/services.html" class="link-arrow link-arrow_dark">Подробнее</a>
                                    </div>
                                </div>
                                <div js-nav-pages-item data-id=3 class="nav-context__item">
                                    <div class="nav-context__item-main">
                                        <div class="nav-context__item-info">
                                            Краткое тематическое описание ключевых компетенций. Флагманским продуктом компании является платежная платформа «Процессинговый центр Pay-logic». Данный программный комплекс предназначен для организации приема платежей в пользу любых поставщиков услуг
                                            через платежные терминалы, персональный компьютер, pos-терминал
                                        </div>
                                    </div>
                                    <div class="nav-context__item-side">
                                        <a href="/services.html" class="link-arrow link-arrow_dark">Подробнее</a>
                                    </div>
                                </div>
                                <div js-nav-pages-item data-id=4 class="nav-context__item">
                                    <div class="nav-context__item-main">
                                        <div class="nav-context__item-info">
                                            Краткое тематическое описание ключевых компетенций. Флагманским продуктом компании
                                        </div>
                                    </div>
                                    <div class="nav-context__item-side">
                                        <a href="/services.html" class="link-arrow link-arrow_dark">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-content__side">
                    <div js-nav-pages data-group="services" class="pages-list">
                        <div js-nav-pages-item data-id=1 class="pages-list__item is-active">
                            <div class="cols-list cols-list_1x">
                                {% set skills = [
                                    {
                                        title:'Разработка веб-приложений',
                                        desc:'Бэк-офисы, фронт-офисы, веб-сервисы и т.д.'
                                    },
                                    {
                                        title:'Разработка мобильных приложений',
                                        desc:'IOS & Android'
                                    },
                                    {
                                        title:'Разработка десктов приложений ',
                                        desc:'Swing, JavaFX'
                                    },
                                    {
                                        title:'Разработка для терминалов самообслуживания',
                                        desc:'Технологии'
                                    }
                                ] %}
                                <div class="cols-list__list">
                                    {% for skill in skills %}
                                        <div class="cols-list__item">
                                            <div class="cols-list__item-main">
                                                <div class="cols-list__item-title">
                                                    {{ skill.title }}
                                                </div>
                                            </div>
                                            <div class="cols-list__item-side">
                                                <div class="cols-list__item-desc">
                                                    {{ skill.desc }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div js-nav-pages-item data-id=2 class="pages-list__item">
                            <div class="cols-list cols-list_2x">
                                {% set skills = [
                                    {
                                        title:'Веб-разработка',
                                        desc:'HTML, C$$, JS, VUE'
                                    },
                                    {
                                        title:'Обмен данными',
                                        desc:'Json (JAX-RS), XML (JAX-WS)'
                                    },
                                    {
                                        title:'Взаимодействие с СУБД',
                                        desc:'JPA, Hibernate, JDBCTemplates, JDBC'
                                    },
                                    {
                                        title:'App-серверы/Web-серверы',
                                        desc:'GlassFish, Wildfly (ранее JBoss), Tomcat'
                                    },
                                    {
                                        title:'Desktop-приложения',
                                        desc:'Swing, JavaFX'
                                    },
                                    {
                                        title:'Базы данных',
                                        desc:'PostgreSQL, Oracle, MySQL'
                                    },  {
                                        title:'Мобильная разработка',
                                        desc:'Android, iOS'
                                    },  {
                                        title:'Балансировка нагрузки',
                                        desc:'Apache, Nginx'
                                    },  {
                                        title:'Операционные системы',
                                        desc:'Linux (RedHat, Oracle, CentOS, Ubuntu, Suse), Windows'
                                    }
                                ] %}
                                <div class="cols-list__list">
                                    {% for skill in skills %}
                                        <div class="cols-list__item">
                                            <div class="cols-list__item-main">
                                                <div class="cols-list__item-title">
                                                    {{ skill.title }}
                                                </div>
                                            </div>
                                            <div class="cols-list__item-side">
                                                <div class="cols-list__item-desc">
                                                    {{ skill.desc }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div js-nav-pages-item data-id=3 class="pages-list__item">
                            <div class="cols-list cols-list_1x">
                                {% set skills = [
                                    {
                                        title:'70+',
                                        desc:'Платежных систем в различных странах мира'
                                    },
                                    {
                                        title:'10 000 +',
                                        desc:'Устройств самообслуживания под управлением нашего ПО'
                                    },
                                    {
                                        title:'1 млн +',
                                        desc:'Операций в день, сотни миллионов записей в базе данных ПЦ, опыт работы с большими обьемами данных'
                                    }
                                ] %}
                                <div class="cols-list__list">
                                    {% for skill in skills %}
                                        <div class="cols-list__item cols-list__item_highlights">
                                            <div class="cols-list__item-main">
                                                <div class="cols-list__item-title">
                                                    {{ skill.title }}
                                                </div>
                                            </div>
                                            <div class="cols-list__item-side">
                                                <div class="cols-list__item-desc">
                                                    {{ skill.desc }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div js-nav-pages-item data-id=4 class="pages-list__item">
                            <div js-scrolling-page class="scrolling-page">
                                <div class="scrolling-page__side">
                                    <div class="scrolling-page__header">
                                        <div class="scrolling-page__header-main">
                                            <div class="scrolling-page__title">
                                                Типовые этапы
                                            </div>
                                        </div>
                                        <div class="scrolling-page__header-side">
                                            <div js-scrolling-nav data-current-slide="0" class="arrow-nav">
                                                <div class="arrow-nav__list">
                                                    <div js-scrolling-nav-prev class="arrow-nav__item is-lock arrow-nav__item_prev"></div>
                                                    <div js-scrolling-nav-next class="arrow-nav__item arrow-nav__item_next"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="scrolling-page__main">
                                    <div class="scrolling-page__content">
                                        <div class="steps-line">
                                            <div class="steps-line__list">
                                                {% set steps = [{
                                                    number:1,
                                                    desc:'Сбор сведений',
                                                },{
                                                    number:2,
                                                    desc:'Проектирование',
                                                },{
                                                    number:3,
                                                    desc:'Разработка',
                                                },{
                                                    number:4,
                                                    desc:'Тестирование',
                                                },{
                                                    number:5,
                                                    desc:'Продакшен',
                                                }] %}

                                                {% for step in steps %}
                                                    <div js-scrolling-item data-id="{{ loop.index }}" class="steps-line__item">
                                                        <div class="steps-item {{ loop.first ? 'is-active' : '' }}">
                                                            <div class="steps-item__main">
                                                                <div class="steps-item__number">
                                                                    <div class="steps-item__number-caption">
                                                                        {{ step.number }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="steps-item__side">
                                                                <div class="steps-item__title">
                                                                    {{ step.desc }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>