{% set bank_advantages = [
        {
            number:'one',
            desc:'Платежная система под ключ с минимальными затратами',
        },
        {
            number:'two',
            desc:'Получение готового решения с отсутствием рисков, связанных с разработкой с нуля',
        },
        {
            number:'three',
            desc:'Минимальная стоимость владения',
        },
        {
            number:'four',
            desc:'Возможность поддержки 24/7',
        }
    ] 
%}
<div class="result" js-hider>
    <div class="block">
        <div class="block-wrapper">
            <div class="title title-h2 title-h2--smart">Результат</div>

                <div js-bank-advantage-slider class="bank-advantages-slider">
                    <div js-bank-advantage-slider-list class="bank-advantages-slide__list">
                        {% for advantage in bank_advantages %}
                            <div class="bank-advantages-slide__list-item">
                                <div class="bank-advantage bank-advantage--{{advantage.number}}">
                                    <div class="bank-advantage__wrapper">
                                        <div class="bank-advantage__body">
                                            <div class="bank-advantage__desc">
                                                {{ advantage.desc }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
    <div class="seporate"></div>
    <div class="block">
        <div class="block-wrapper">
            <div class="result-info">
                <div class="result-info__subtile">
                    Банк получает альтернативный платежный инструмент, эффективно дополняющий бизнес-процессы и позволяющий:
                </div>
                <div class="result-info__items">
                    <div class="result-info__items-item">Предложить современный платежный функционал для имеющихся клиентов в рамках веб- и мобильных платформ</div>
                    <div class="result-info__items-item">Привлечь новых клиентов за счет внедрения нового решения</div>
                    <div class="result-info__items-item">Удерживать и регулярно расширять имеющуюся базу клиентов, внедряя новые кастомные возможности для электронного кошелька</div>
                </div>
            </div>
        </div>
    </div>
    <div class="dots"></div>
</div>