.additionally-resources {
   margin-top 90px
   &_top-gap-small {
      margin-top 75px
   }
   &__title {
      font-size 60px
      font-family $font-title
      color $color-blue-xxdark
      line-height (68 / 60)
      font-weight 700
      margin-bottom 67px
   }
   &__list-wrapper {
      display flex
      flex-wrap wrap
      margin-right -15px
      margin-left -15px
      padding-top 30px
      padding-bottom 100px
      +do(750) {
         padding-bottom 20px
      }
   }
}

.resource-item {
   display flex
   max-width calc(50% - 30px)
   flex-basis calc(50% - 30px)
   margin-right 15px
   margin-left 15px
   transition .3s linear
   box-sizing border-box
   min-height 300px
   position relative
   flex-direction column
   &_green {
      background-color $color-green-dark
      &:hover {
         box-shadow 0 10px 40px rgba(66, 184, 82, .3)
      }
   }
   &_blue {
      background-color $color-blue-xxdark
      &:hover {
         box-shadow 0 10px 40px rgba(4, 7, 36, .3)
      }
   }
   &__wrapper {
      display flex
      flex-grow 1
   }
   &__text {
      display flex
      max-width 50%
      flex-basis 50%
      padding-top 34px
      padding-left 54px
      padding-bottom 34px
      font-size 14px
      font-family $font-roboto
      color $color-white
      line-height (26 / 14)
      text-overflow ellipsis
      overflow hidden
      max-height (26 / 14) * 6em
   }
   &__side-image {
      display flex
      max-width 50%
      flex-basis 50%
      position relative
   }
   &__image {
      position absolute
      &_white-terminal {
         z-index 15
         left 0%
         top -36px
         adaptive-bg('../images/taxi/white-terminal.png')
         max-width 220px
      }
      &_clouds {
         z-index 15
         left -25%
         top 28%
         adaptive-bg('../images/taxi/clouds.png')
      }
      &_cloud {
         z-index 16
         left -25%
         top 38px
         adaptive-bg('../images/taxi/cloud.png')
      }
   }
   &__link {
      padding-top 34px
      padding-left 54px
      padding-bottom 34px
      border-top 1px solid rgba(255, 255, 255, .5)
   }
}
+do(1420) {
   .resource-item {
      &__image {
         position absolute
         &_white-terminal {
         }
         &_clouds {
         }
         &_cloud {
            max-width 300px
            top 60px
         }
      }
   }
}
+do(1200) {
   .additionally-resources {
      margin-top 70px
      &_top-gap-small {
         margin-top 70px
      }
      &__title {
         font-size 48px
      }
   }
   .resource-item {
      &__image {
         position absolute
         &_white-terminal {
            max-width 120px
            left 14%
            top -9px
         }
         &_cloud {
            max-width 250px
            left -40%
         }
      }
   }
}
+do(900) {
   .resource-item {
      max-width 100%
      flex-basis 100%
      margin-bottom 20px
      &__image {
         &_white-terminal {
            max-width unset
            left 20%
            top -36px
         }
         &_cloud {
            max-width unset
            top 36px
         }
      }
   }
}
+do(750) {
   .additionally-resources {
      margin-top 60px
      &_top-gap-small {
         margin-top 60px
      }
      &__title {
         font-size 36px
      }
   }
   .resource-item {
      &__text {
         padding 20px 20px
      }
      &__link {
         padding 20px 20px
      }
   }
}
+do(650) {
   .resource-item {
      &__image {
         &_white-terminal {
            left 5%
         }
         &_cloud {
            max-width 250px
         }
      }
   }
}
+do(500) {
   .additionally-resources {
      margin-top 50px
      &_top-gap-small {
         margin-top 50px
      }
      &__title {
         font-size 30px
         margin-bottom 30px
      }
   }
   .resource-item {
      &__wrapper {
         flex-direction column
      }
      &__text {
         max-width 100%
         flex 0 0 auto
      }
      &__side-image {
         max-width 100%
         flex 0 0 auto
      }
      &__image {
         position unset
         &_white-terminal {
            max-width 100px
            top 0
            margin-left auto
            margin-right auto
         }
         &_clouds {
            display none
         }
         &_cloud {
            max-width 200px
            top 0
            margin-left auto
            margin-right auto
         }
      }
   }
}
