.agreement {
  position fixed
  left 0
  right 0
  bottom 0
  background-color white
  padding 15px
  z-index 600
  box-shadow rgba(0,0,0,.5) 0 5px 50px
  box-sizing border-box
  opacity 0
  transform translateY(100%)
  visibility hidden
  pointer-events none
  transition .3s ease
  &__content {
    display flex
    align-items center
    justify-content center
    flex-wrap wrap
    margin-right -10px
    margin-left -10px
    margin-bottom -10px
    &-side {
      flex 0 1 auto
      margin-right 10px
      margin-left 10px
      margin-bottom 10px
    }
    &-main {
      flex 0 0 auto
      margin-right 10px
      margin-left 10px
      margin-bottom 10px
    }
  }
  &.is-visible {
    opacity 1
    transform translateY(0)
    visibility visible
    pointer-events auto
  }
}
