.arrow-nav {
   &__list {
      display flex
   }
   &__item {
      size 45px
      position relative
      cursor pointer
      opacity 1
      transition .3s ease
      &:before {
         content ''
         position absolute
         top 50%
         left 50%
         transform translate(-50%, -50%)
      }
      &_prev {
         &:before {
            svg('arrow-left', 15px, $color-blue-light)
         }
      }
      &_next {
         &:before {
            svg('arrow-right', 15px, $color-blue-light)
         }
      }
      &:hover {
         opacity 0.8
      }
      &.is-lock {
         pointer-events none
         opacity 0.5
      }
   }
}