.article-card {
   flex 1
   border 2px solid #E2E3EA
   background-color white
   display flex
   font-size 14px
   line-height (26 / 14)
   position relative
   transition none
   &__desc {
      max-height (26 / 14) * 5em
      overflow hidden
      text-overflow ellipsis
   }
   &__tag {
      color #BBBBBE
   }
   &__wrapper {
      position relative
      z-index 9
      padding 45px
      box-sizing border-box
      flex 1
      display flex
      flex-direction column
   }
   &__header {
      flex 0 0 auto
      font-weight 700
      font-size 18px
      line-height (30 / 18)
      max-height (30 / 18) * 2em
      margin-bottom 30px
      text-overflow ellipsis
      overflow hidden
   }
   &__body {
      flex 1 0 auto
      max-height 100%
      overflow hidden
      text-overflow ellipsis
   }
   &__footer {
      padding-top 20px
      flex 0 0 auto
   }
   &__hover {
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      display block
      background-position center
      background-repeat no-repeat
      opacity 0
      background-size 120%
      pointer-events none
      transition background-size .3s linear
      &-color {
         transition none
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         display block
         opacity 0
         pointer-events none
      }
   }
   &:active,
   &:hover {
      color white
      & ^[0]__hover {
         opacity 1
         background-size 140%
         &-color {
            opacity 0.8
         }
      }
      & ^[0]__tag {
         color white
      }
   }
   &:active {
      color white
      & ^[0]__hover {
         &:before {
            opacity 1
         }
         &-color {
            opacity 1
         }
      }
   }
   /.owl-grab & {
      color $color-main
      .article-card {
         &__hover {
            opacity 0
            &-color {
               opacity 0
            }
         }
         &__tag {
            color #BBBBBE
         }
      }
   }
}

+do('miw', 1200) {
   +do('mah', 900) {
      .article-card {
         &__header {
            margin-bottom 10px
         }
      }
   }
}

+do('miw', 1200) {
   +do('mah', 800) {
      .article-card {
         &__wrapper {
            //padding 25px
         }
         &__desc {
            max-height (26 / 14) * 4em
         }
      }
   }
}

+do(1200) {
   .article-card {
      &__wrapper {
         padding 30px
      }
      &__header {
         margin-bottom 10px
      }
      &__desc {
         max-height (26 / 14) * 4em
      }
   }
}

.article-card_hover_simple {
   transition border-color .3s ease
   &:active,
   &:hover {
      color $color-main
      background-color white
      border-color $color-blue-light
      .article-card {
         &__tag {
            color #BBBBBE
         }
      }
   }
   &:active {
      border-color black
   }
}