.article__info {
   &-wrapper {
      display flex
      justify-content space-between
   }
   &-tags {
      display flex
      align-items center
   }
   &-date {
      font-family $font-manrope
      font-size 16px
      line-height (24 / 16)
      color $color-grey-xdark
      position relative
      padding-right 32px
      margin-right 30px
      &:after {
         content ''
         background-color $color-grey-adark
         height 20px
         width 1px
         position absolute
         top 2px
         right 0
      }
   }
   &-tag {
      font-family $font-manrope
      font-size 14px
      line-height (24 / 14)
      color $color-blue-hlight
      & span {
         margin-right 10px
      }
   }
   &-share {
      padding-left 30px
      position relative
      &:before {
         content ''
         position: absolute
         svg('triangle', 12px, #adbcc4, center center)
         left 0
      }
   }
}
.article__header {
   &-wrapper {

   }
   &-caption {
      margin-bottom 75px
      margin-top 10px
      font-family $font-manrope
      font-size 60px
      line-height (72 / 60)
      color $color-blue-xxdark
      font-weight 900
      letter-spacing .011em
      transition .3s linear
   }
}
.article__same{
   &-wrapper {
      position relative
      padding-bottom 60px
      .link-wrapper {
         display flex
         align-items center
      }
   }
   &-header {
      display flex
      justify-content space-between
   }
   &-caption {
      font-family $font-manrope
      font-size 60px
      line-height (72 / 60)
      color $color-blue-xxdark
      font-weight 900
      letter-spacing 0.005em
      transition .3s linear
   }
   &-link {
      font-family $font-manrope
      font-size 18px
      line-height (30 / 18)
      color $color-blue-tlight
      font-weight 500
      position relative
      &:before {
         content ''
         position absolute
         left -34px
         top 6px
         width 25px
         height 17px
         transition .1s linear
         background url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 17 12%22 preserveAspectRatio=%22none%22%3E%3Cpath fill=%22%23173682%22 d=%22M5.6.2c.2-.2.6-.2.9 0 .2.2.2.6 0 .9L2.1 5.4h14.3c.3 0 .6.3.6.6s-.3.6-.6.6H2.1L6.4 11c.2.2.2.6 0 .9-.2.2-.6.2-.9 0L.2 6.4c-.2-.2-.2-.6 0-.9L5.6.2z%22/%3E%3C/svg%3E") 0 0 no-repeat
         background-size 100% 100%
         color $color-blue-tlight
      }
      &:hover {
         color $color-blue-tlight
         opacity .8
         &:before {
            transform translateX(-5px)
            opacity .8
         }
      }
   }
}
.article-video {
   position relative
   padding-bottom 54.17%

   &__preview {
      position absolute
      top 0
      left 0
      right  0
      bottom 0
      background-position center center
      background-repeat no-repeat
      background-size cover
      cursor pointer
      &:before {
         content ''
         position absolute
         top 0
         left 0
         right  0
         bottom 0
         background rgba(38, 77, 170, .8)
         background-size cover
      }
      &-icon {
         position absolute
         top 50%
         left 50%
         border-width 40px 0 40px 60px
         transform translate(-50%,-63%)
         transition .1s linear
         cursor pointer
         width 0
         height 0
         border-style solid
         border-color transparent transparent transparent $color-white
         border-radius 3px
         ^[0]:hover & {
            border-width 42px 0 42px 65px
         }
         ^[0]:active & {
            border-width 38px 0 38px 56px
         }
      }
   }
}

.article__breadcrumbs {
   &-wrapper {
      margin-bottom 24px
   }
}
+do(1420) {
   .article__header {
      &-wrapper {
         padding-left 30px
         padding-right 30px
      }
   }
   .article__same {
      &-wrapper {
         padding-left 30px
         padding-right 30px
         padding-bottom 40px
      }
   }
   .article__breadcrumbs {
      &-wrapper {
         padding-left 30px
         padding-right 30px
      }
   }
}
+do(1200) {
   .article__header {
      &-caption {
         font-size 48px
      }
   }
   .article__same {
      &-caption {
         font-size 48px
      }
   }
}
+do(750) {
   .article__header {
      &-caption {
         font-size 38px
         margin-bottom 50px
      }
      &-wrapper {
         padding-left 20px
         padding-right 20px
      }
   }
   .article__same {
      &-caption {
         font-size 38px
         margin-bottom 20px
      }
      &-header {
         flex-direction column
      }
      &-link {
         margin-left: 34px;
      }
      &-wrapper {
         padding-left 20px
         padding-right 20px
      }
   }
   .article__breadcrumbs {
      &-wrapper {
         padding-left 20px
         padding-right 20px
      }
   }
   .article__info {
      &-share {
         &:before {
            margin-left 0px
         }
      }
   }
}
+do(600) {
   .article__info {
      &-wrapper {
         flex-direction column
      }
      &-tags {
         margin-bottom 20px
      }
   }
   .article-video {
      &__preview {
         &-icon {
            border-width 20px 0 20px 32px
            ^[0]:hover & {
               border-width 22px 0 22px 35px
            }
            ^[0]:active & {
               border-width 19px 0 19px 30px
            }
         }
      }
   }
   +do(500) {
      .article__header {
         &-caption {
            font-size 30px
            margin-bottom 50px
         }
      }
      .article__same {
         &-wrapper {
            padding-bottom 20px
         }
      }
      .article__same {
         &-caption {
            font-size 30px
         }
      }
   }
}
