.articles-slider {
   position relative
   &__list {
      display flex
      &-item {
         min-height 380px
         display flex
         flex 1
      }
   }
   &__nav {
      opacity 0
      pointer-events none
      position absolute
      left -15px
      z-index 99
      right -15px
      top 50%
      display flex
      justify-content space-between
      transform translateY(-50%)
   }
   .owl-carousel .owl-stage-outer {
      overflow visible
   }
   .owl-stage {
      display flex
   }
   .owl-item {
      transition .3s ease
      opacity 0
      display flex
   }
   .owl-item.active {
      opacity 1
      & ~ .owl-item {
         opacity 1
      }
   }
   .owl-prev,
   .owl-next {
      position relative
      size 40px
      outline none
      background-color $color-blue-light
      border 1px solid $color-blue-light
      pointer-events auto
   }
   .owl-prev {
      &:before {
         content ''
         position absolute
         top 50%
         left 50%
         transform translate(-50%, -50%)
         svg('arrow-left', 10px, white)
      }
   }
   .owl-next {
      &:before {
         content ''
         position absolute
         top 50%
         left 50%
         transform translate(-50%, -50%)
         svg('arrow-right', 10px, white)
      }
   }
}

+do('miw', 1200) {
   +do('mah', 900) {
      .articles-slider {
         &__list {
            &-item {
               min-height 360px
            }
         }
      }
   }
   +do('mah', 800) {
      .articles-slider {
         &__list {
            &-item {
               min-height 280px
            }
         }
      }
   }
}

+do(1200) {
   .articles-slider {
      &__list {
         &-item {
            min-height 290px
         }
      }
   }
}

+do(750) {
   .articles-slider {
      &__list {
         &-item {
            min-height 0
         }
      }
      &__nav {
         opacity 1
         .owl-prev,
         .owl-next {
            pointer-events auto
         }
      }
   }
}

.articles-slider_overflow_left {
   .articles-slider {
      &__list {
         &:before {
            content ''
            display block
            position absolute
            top 0
            bottom 0
            left -100%
            right 0
            width 100%
            background-image: linear-gradient(to right, #FFFFFF 90%, rgba(#FFFFFF, 0.2) 100%);
            z-index 5
         }
      }
   }
}

+do(1000) {
   .articles-slider_overflow_left {
      .articles-slider {
         &__list {
            &:before {
               display none
            }
         }
      }
   }
}