.basic-page {
   position relative
   &:before {
      position absolute
      top -100vh
      right 0
      bottom -100vh
      max-width 50%
      width 100%
      display block
      content ''
      background-color #fbfcfe
      z-index -1
   }
   &__header {
      margin-bottom 60px
   }
   &__title {
      font-size 60px
   }
   &__breadcrumbs {
      margin-bottom 30px
   }
}


+do(1000) {
   .basic-page {
      &:before {
         display none
      }
      &__title {
         font-size 48px
      }
      &__breadcrumbs {
         margin-bottom 20px
      }
      &__header {
         margin-bottom 20px
      }
   }
}

+do(750) {
   .basic-page {
      &__title {
         font-size 30px
      }
      &__breadcrumbs {
         margin-bottom 15px
      }
      &__header {
         margin-bottom 15px
      }
   }
}