.brand-list {
  &__wrapper {
    overflow hidden
  }
  &__title {
    max-width 640px
    margin-bottom 87px
    font-size 20px
    line-height (32 / 20)
  }
  &__list-wrap {
    margin-bottom 105px
  }
  &__list {
    display flex
    flex-wrap wrap
    margin 0 -20px -40px -20px
  }
  &__link {
    color black !important
  }
  &__desc {
    text-align center
    margin-bottom 40px
  }
  &__caption {
    text-align center
    position relative
    display flex
    justify-content center
    align-items center
    padding-top 30px
    &-link {
      display inline-flex
      padding-right 20px
      position relative
      &:before {
        content ''
        position absolute
        display block
        right 0
        top 50%
        transform translateY(-50%)
        svg('link', 15px, #7D21D9)
      }
    }
  }
  &__item {
    flex-column(1, 3, 20px)
    margin 0 20px 40px 20px
    display flex
    flex-direction column
    justify-content center
    align-items center
    img {
      vertical-align middle
    }
    a {
      display block
      text-decoration none
      border none
      box-shadow none
      opacity 0.7
      transition $transition-main
    }
    a:hover {
      opacity 1
    }
    &_fastfood,
    &_fitness {
      & ^[-2]__logo {
        min-height 80px
        margin-bottom 20px
      }
      &:first-child {
        & ^[-3]__caption {
          position relative
          &:before {
            content ''
            display block
            height 1px
            left -100vw
            right -100vw
            background-color rgba(#CCCBCE, 0.2)
            top 0
            position absolute
          }
        }
      }
    }
    &_fastfood {
      & ^[-2]__logo {
        min-height 120px
        margin-bottom 20px
      }
      & ^[-2]__caption {
        &-link {
          &:before {
            svg('link', 15px, #fa7a1d)
          }
        }
      }

    }
  }
  &__info {
    margin-bottom 50px
  }
  &__text {
    display flex
    max-width 635px
    div {
      flex 0 0 auto
      margin-right 5px
      color #A7C53E
    }
  }
}

.brand-list_3x {
  .brand-list {
    &__item {
      flex-column(1, 4, 20px)
    }
  }
}

+do(1000) {
  .brand-list {
    &__title {
      margin-bottom 50px
    }
  }
  .brand-list_3x {
    .brand-list {
      &__item {
        flex-column(1, 2, 20px)
      }
    }
  }
}

+do(750) {
  .brand-list {
    &__item {
      justify-content flex-start
      flex-column(1, 1, 20px)
    }
  }
  .brand-list_3x {
    .brand-list {
      &__item {
        flex-column(1, 1, 20px)
      }
    }
  }
}
