.breadcrumbs {
   &__item {
      position relative
      display inline-block
      padding-right 20px
      margin-right 4px
      &-link {
         font-size 14px
         line-height 26px
         color $color-blue-xxdark
         position relative
         font-family $font-roboto

         &:before {
            content ''
            position absolute
            bottom 0px
            width 0px
            height 1px
            background-color $color-blue-xxdark
            transition .3s ease
         }
         &:hover {
            color $color-blue-xxdark
            &:before {
               width 100%
            }
         }

         &_active {
            color rgba(39, 38, 43, .3)
            &:hover {
               color rgba(39, 38, 43, .3)
            }
            &:before {
               height 0px
            }
         }
      }

      &:after {
         content '—'
         font-size 14px
         color rgba(39, 38, 43, .3)
         position absolute
         right 2px
         top 50%
         transform translateY(-50%)
      }
      &:last-child:after {
         content ''
      }
   }
   &__wrapper {
      display flex
      flex-wrap wrap
      margin-right -10px
      margin-left -10px
      align-items center
   }
   &__side {
      margin-right 10px
      margin-left 10px
      flex 0 0 auto
   }
   &__main {
      flex 1
      margin-right 10px
      margin-left 10px
   }
}

+do(750) {
   .breadcrumbs {
      &__wrapper {
         display block
      }
      &__side {
         margin-right 0
         margin-left 0
      }
      &__main {
         margin-right 0
         margin-left 0
      }
   }
}