.callback-tile {
   background-image url('../images/question.svg')
   background-position center
   background-repeat no-repeat
   background-size contain
   &__wrapper {
      display flex
      margin-right -60px
      margin-left -60px
   }
   &__main {
      border-top 1px solid rgba(204, 203, 206, 0.2);
      padding-top 65px
      flex 1
      padding-left 60px
      padding-right 60px
      max-width calc(50% - 120px)
      flex-basis calc(50% - 120px)
      position relative
   }
   &__side {
      flex 1
      padding-left 60px
      padding-right 60px
      padding-top 65px
      padding-bottom 80px
      max-width calc(50% - 120px)
      flex-basis calc(50% - 120px)
      background-color $color-blue-light
      color white
      position relative
      &:before {
         content ''
         display block
         position absolute
         top 0
         bottom 0
         right -100vh
         left 0
         background-color $color-blue-light
      }
      &_yellow {
         &:before {
            background-color $color-yellow-like-sun
         }
         & ^[0]__loader {
            background-color $color-yellow-like-sun
         }
         & ^[0]__message {
            background-color $color-yellow-like-sun
         }
      }
      &_kiosks {
         &:before {
            background-color #0E8ACD
         }
         & ^[0]__loader {
            background-color #0E8ACD
         }
         & ^[0]__message {
            background-color #0E8ACD
         }
      }
      &_pink {
         &:before {
            background-color #ED6154
         }
         .field {
            &__error {
               color white
            }
         }
         & ^[0]__loader {
            background-color #ED6154
         }
         & ^[0]__message {
            background-color #ED6154
         }
      }
      &_blue {
         &:before {
            background-color #173B93
         }
         .field {
            &__error {
               color white
            }
         }
         & ^[0]__loader {
            background-color #173B93
         }
         & ^[0]__message {
            background-color #173B93
         }
      }
      &_red {
         &:before {
            background-color #DC4A2F
         }
         .field {
            &__error {
               color white
            }
         }
         & ^[0]__loader {
            background-color #DC4A2F
         }
         & ^[0]__message {
            background-color #DC4A2F
         }
      }
      &_iot {
         &:before {
            background-color #28AC75
         }
         .field {
            &__error {
               color white
            }
         }
         & ^[0]__loader {
            background-color #28AC75
         }
         & ^[0]__message {
            background-color #28AC75
         }
      }
      &_green {
         &:before {
            background-color #0DA19C
         }
         .field {
            &__error {
               color white
            }
         }
         & ^[0]__loader {
            background-color #0DA19C
         }
         & ^[0]__message {
            background-color #0DA19C
         }
      }
      &_light_green {
         &:before {
            background-color #37C497
         }
         .field {
            &__error {
               color white
            }
         }
         & ^[0]__loader {
            background-color #37C497
         }
         & ^[0]__message {
            background-color #37C497
         }
      }
      &_light-blue {
         &:before {
            background-color #028CCF
         }
         .field {
            &__error {
               color white
            }
         }
         & ^[0]__loader {
            background-color #028CCF
         }
         & ^[0]__message {
            background-color #028CCF
         }
      }
      &_snowy-blue {
         &:before {
            background-color $color-blue-like-postamat
         }
         .field {
            &__error {
               color white
            }
         }
         & ^[0]__loader {
            background-color $color-blue-like-postamat
         }
         & ^[0]__message {
            background-color $color-blue-like-postamat
         }
      }
      &_orange {
         &:before {
            background-color #FF8429
         }
         .field {
            &__error {
               color white
            }
         }
         & ^[0]__loader {
            background-color #FF8429
         }
         & ^[0]__message {
            background-color #FF8429
         }
      }
      &_sea {
         &:before {
            background-color #65BDC6
         }
         .field {
            &__error {
               color white
            }
         }
         & ^[0]__loader {
            background-color #65BDC6
         }
         & ^[0]__message {
            background-color #65BDC6
         }
      }
      &_orange-dark {
         &:before {
            background-color #F37021
         }
         .field {
            &__error {
               color white
            }
         }
         & ^[0]__loader {
            background-color #F37021
         }
         & ^[0]__message {
            background-color #F37021
         }
      }
      &_purple {
         &:before {
            background-color #882DE2
         }
         .field {
            &__error {
               color white
            }
         }
         & ^[0]__loader {
            background-color #882DE2
         }
         & ^[0]__message {
            background-color #882DE2
         }
      }
      &_software-fiscal {
         &:before {
            background-color #5B28C7
         }
         .field {
            &__error {
               color white
            }
         }
         & ^[0]__loader {
            background-color #5B28C7
         }
         & ^[0]__message {
            background-color #5B28C7
         }
      }
      &_fiscal-farm {
         &:before {
            background-color #241A94
         }
         .field {
            &__error {
               color white
            }
         }
         & ^[0]__loader {
            background-color #241A94
         }
         & ^[0]__message {
            background-color #241A94
         }
      }
      &_fiscal-online {
         &:before {
            background-color #2868C7
         }
         .field {
            &__error {
               color white
            }
         }
         & ^[0]__loader {
            background-color #2868C7
         }
         & ^[0]__message {
            background-color #2868C7
         }
      }
      &_yellow {
         &:before {
            background-color #EFBB35
         }
         .field {
            &__error {
               color white
            }
         }
         & ^[0]__loader {
            background-color #EFBB35
         }
         & ^[0]__message {
            background-color #EFBB35
         }
      }

      &_develop {
         &:before {
            background-color #1F4ABD
         }
         .field {
            &__error {
               color white
            }
         }
         & ^[0]__loader {
            background-color #1F4ABD
         }
         & ^[0]__message {
            background-color #1F4ABD
         }
      }
   }
   &__map {
      position absolute
      top 0
      right 0
      bottom 0
      width 50vw
   }
   &__title {
      font-size 60px
      font-family $font-title
      line-height (72 / 60)
      font-weight 600
      max-width 500px
      margin-bottom 54px
   }
   &__desc {
      max-width 380px
      padding-left 60px
      font-size 14px
      line-height (26 / 14)
      box-sizing border-box
   }
   &__inputs {
      margin-bottom 56px
      max-width 460px
      &_row-bottom_none {
         margin-bottom 0
      }
   }
   &__input {
      margin-bottom 36px
      &:last-child {
         margin-bottom 0
      }
   }
   &__action {
      &-item {
         margin-bottom 38px
         &:last-child {
            margin-bottom 0
         }
      }
   }
   &__message {
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      padding 10px
      box-sizing border-box
      display flex
      font-size 26px
      line-height 1.5
      padding-left 60px
      padding-right 60px
      padding-top 65px
      padding-bottom 80px
      z-index 15
      background-color $color-blue-light
      opacity 0
      visibility hidden
   }
   &__loader {
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background-color $color-blue-light
      z-index 20
      background-position center
      background-repeat no-repeat
      background-image url("../images/spinner.svg")
      visibility hidden
      opacity 0
   }
   &.is-loading {
      & ^[0]__form {
         visibility hidden
         opacity 0
      }
      & ^[0]__loader {
         visibility visible
         opacity 1
      }
   }
   &.is-message-success {
      & ^[0]__form {
         visibility hidden
         opacity 0
      }
      & ^[0]__message_success {
         visibility visible
         opacity 1
      }
   }
   &.is-message-error {
      & ^[0]__form {
         visibility hidden
         opacity 0
      }
      & ^[0]__message_error {
         visibility visible
         opacity 1
      }
   }
}

.callback-tile.callback-tile_modal {
   background none
   .callback-tile {
      &__wrapper {
         margin-right 0
         margin-left 0
      }
      &__side {
         max-width none
         padding 0
         background none
         &:before {
            display none
         }
      }
      &__loader {
         background-color white
         background-image url("../images/spinner-grey.svg")
      }
      &__message {
         padding 0
         background-color white
         color #A6A6A8
      }
   }
}

+do(1000) {
   .callback-tile {
      &__title {
         font-size 48px
      }
      &__wrapper {
         margin-right -30px
         margin-left -30px
      }
      &__side {
         padding-left 30px
         padding-right 30px
         max-width calc(50% - 60px)
         flex-basis calc(50% - 60px)
      }
      &__main {
         padding-left 30px
         padding-right 30px
         max-width calc(50% - 60px)
         flex-basis calc(50% - 60px)
      }
      &__message {
         padding-left 30px
         padding-right 30px
      }
   }
}

+do(750) {
   .callback-tile {
      &__map {
         position relative
         width auto
         min-height 250px
      }
      &__desc {
         padding-left 0
      }
      &__title {
         font-size 26px
         margin-bottom 30px
      }
      &__wrapper {
         display block
         margin-right 0
         margin-left 0
      }
      &__side {
         max-width none
         padding-right 0
         padding-left 0
         padding-top 30px
         &:before {
            left -100vw
         }
      }
      &__main {
         padding-right 0
         padding-left 0
         max-width none
         padding-top 30px
         margin-bottom 30px
      }
      &__message {
         padding-top 30px
         padding-left 0
         padding-right 0
         font-size 20px
      }
   }
}
