.case {
  &__wrapper {
    display flex
    flex-wrap wrap
    margin-right -15px
    margin-left -15px
  }

  &-item {
    display flex
    max-width calc(33.33% - 30px)
    flex-basis calc(33.33% - 30px)
    margin-right 15px
    margin-left 15px
    margin-bottom 30px
    transition .3s linear
    box-sizing border-box
    min-height 320px
    position relative

    &:active,
    &:hover {
      & ^[1]__shadow {
        box-shadow: 0px 20px 40px;
      }
    }

    &__shadow {
      position absolute
      width 100%
      height 100%
      opacity .3
      transition .3s linear
    }

    &__wrapper {
      padding-top 40px
      padding-left 49px
      padding-bottom 46px
      padding-right 49px
      display flex
      flex-direction column
      width 100%
      z-index 5
    }

    &__header {
      margin-bottom 12px
    }

    &__image-background {
      background-size auto
      background-position left
      background-repeat no-repeat
      height 76px
    }

    &__description-wrapper {
      display flex
      flex-grow 1
      padding-left 18px
      max-width 280px
    }

    &__description {
      font-size 14px
      line-height (26 / 14)
      max-height (26 / 14) * 2em
      text-overflow ellipsis
      overflow hidden
      font-family $font-roboto
      font-weight 400
      color $color-white
    }

    &__tag-wrapper {
      position relative
    }

    &__tag {
      font-size 14px
      line-height (26 / 14)
      font-family $font-roboto
      font-weight 400
      color $color-white
      opacity .7

      &-arrow {
        position absolute
        top 6px
        right 0
        width 25px
        height 17px
        opacity 0
        transition .1s linear
      }
    }

    &:hover ^[1]__tag-arrow {
      opacity 1
    }

    &:active ^[1]__tag-wrapper {
      &:before {
        right -1%
      }
    }
  }
}

+do(1420) {
  .case {
    &-item {
      &__description-wrapper {
        max-width 100%
      }

      &__tag-wrapper {
        &:before {
          right 0
        }
      }
    }

    &:active ^[1]__tag-wrapper {
      &:before {
        right -1%
      }
    }
  }
}

+do(1200) {
  .case {
    &-item {
      min-height 300px

      &__wrapper {
        padding 30px
      }

      &__description-wrapper {
        padding-left 0px
      }

      &__description {
        max-height (26 / 14) * 3em
      }
    }
  }
}

+do(1000) {
  .case {
    &-item {
      max-width calc(50% - 30px)
      flex-basis calc(50% - 30px)

      &__description-wrapper {
        padding-left 18px
        padding-right 40px
      }
    }
  }
}

+do(750) {
  .case {
    &-item {
      &__description-wrapper {
        padding-left 0px
        padding-right 0px
      }

      &:hover ^[1]__tag-wrapper {
        &:before {
          opacity 0
        }
      }
    }
  }
}

+do(560) {
  .case {
    &-item {
      &__image-background {
        background-size contain
      }
    }
  }

}

+do(500) {
  .case {
    &-item {
      max-width calc(100% - 30px)
      flex-basis calc(100% - 30px)

      &__description-wrapper {
        padding-left 18px
        padding-right 40px
      }

      &__image-background {
        background-size auto
      }
    }
  }
}
