.cases {
   &__wrapper {

   }
   &__content {

   }
   &__case-wrapper{
      margin-bottom 48px
   }
   &__more-btn {
      margin-bottom 77px
   }
   &-content {
      &__wrapper {

      }
   }
   &__btn-wrapper {
      display flex
      justify-content center
      width 100%
      z-index 5
      margin-top 20px
   }
   &__btn {
      padding-right 70px
      padding-left 70px
      box-sizing border-box
      border 3px solid $color-blue-hlight
      color $color-blue-hlight
      background-color $color-white
      position relative
      overflow hidden
      transition color .1s linear .2s
      min-height 60px
      &:before {
         content ''
         display block
         size 0
         position absolute
         background $color-blue-hlight
         border-radius 50%
         transition .4s linear
         transform: translate(-50%, -50%);
         top 50%
         left 50%
         margin-top 28px
         margin-left -50%
         visibility hidden
         will-change: width, height;
      }
      &:active {
         border-color $color-white
      }
      &:hover {
         color $color-white
         transition-delay .1s
         &:before {
            visibility visible
            size 999px
         }
      }
      &-text {
         font-size 14px
         line-height (24 / 14)
         font-family $font-manrope
         z-index 5
         position relative
      }
   }
}
+do(1420) {
   .cases {
      &__wrapper {
         padding-right 30px
         padding-left 30px
      }
      &__more-btn {
         margin-bottom 30px
      }
   }
}
+do(750) {
   .cases {
      &__wrapper {
         padding-right 20px
         padding-left 20px
      }
   }
}
+do(500) {
   .cases {
      &__wrapper {
         padding-top 50px
      }
      &__case-wrapper{
         margin-bottom 20px
      }
   }
}