.case-intro {
   &__wrapper {
      display flex
      margin-right -90px
      margin-left -90px
      min-height 480px
   }
   &__main {
      flex 1
      padding-right 90px
      padding-left 90px
      max-width calc(50% - 180px)
   }
   &__side {
      flex 1
      padding-right 90px
      padding-left 90px
      max-width calc(50% - 180px)
      position relative
      padding-top 68px
      &:before {
         content ''
         position absolute
         top -100vh
         left 0
         right -100vh
         display block
         background-color white
         bottom 0
         z-index -1
      }
   }
   &__img {
      position absolute
      top 0
      left 0
      right -10vw
      bottom 0
      background-size cover
      background-repeat no-repeat
      background-position center
   }
   &__logo {
      position relative
      z-index 5
      img {
         display block
         max-width 100%
      }
   }
   &__caption {
      z-index 55
      position absolute
      bottom 0
      right -10vw
      img {
         display block
         max-width 100%
         transform translateY(50%)
      }
   }
   &__title {
      margin-bottom 55px
   }
   &__desc {
      font-size 14px
      line-height (26 / 14)
      padding-bottom 30px
      box-sizing border-box
      padding-left 60px
   }

}

+do(1200) {
   .case-intro {
      &__desc {
         padding-left 0
      }
   }
}

+do(1050) {
   .case-intro {
      &__wrapper {
         margin-right -45px
         margin-left -45px
      }
      &__main {
         padding-left 45px
         padding-right 45px
         max-width calc(50% - 90px)
      }
      &__side {
         padding-left 45px
         padding-right 45px
         max-width calc(50% - 90px)
      }
   }
}

+do(750) {
   .case-intro {
      padding-bottom 60px
      &__title {
         margin-bottom 20px
      }
      &__wrapper {
         display block
         margin-right 0
         margin-left 0
      }
      &__main {
         padding-left 0
         padding-right 0
         max-width none
      }
      &__side {
         padding-top 20px
         max-width none
         min-height 100px
         margin-right -20px
         margin-left -20px
         padding-right 20px
         padding-left 20px
      }
   }
}

.case-preview {
   box-sizing border-box
   padding-left 60px
   color white
   padding-top 30px
   &__side {
      margin-bottom 75px
   }
   img {
      display block
      max-width 100%
   }
}

+do('miw', 1200) {
   +do('mah', 900) {
      .case-preview {
         &__side {
            margin-bottom 30px
         }
      }
   }
   +do('mah', 800) {
      .case-preview {
         &__side {
            margin-bottom 15px
         }
      }
   }
}

+do(1300) {
   .case-preview {
      padding-left 30px
   }
}

+do(1050) {
   .case-preview {
      &__side {
         margin-bottom 30px
      }
   }
}

+do(750) {
   .case-preview {
      padding-left 0
      &__side {
         margin-bottom 20px
      }
   }
}


.case-text {
   &__item {
      margin-bottom 40px
      &:last-child {
         margin-bottom 0
      }
      &_half {
         max-width calc(50% - 90px)
      }
   }
   ul {
      li {
         font-weight 400
         &:before {
            size 10px
            top 10px
            transform none
            background-color $color-main
         }
      }
   }
}

+do(1000) {
   .case-text {
      &__item {
         &_half {
            max-width none
         }
      }
   }

}

.case-desc {
   font-size 14px
   line-height (26 / 14)
}

.case-quote {
   max-width 65%
   padding-left 90px
   box-sizing border-box
   font-family $font-title
   &__info {
      font-size 18px
      font-weight 700
      line-height (30 / 18)
      font-family $font-title
      box-sizing border-box
      position relative
      &:before {
         content ''
         position absolute
         display block
         left -90px
         svg('quotes', 40px, $color-main)
      }
   }
   &__side {
      margin-bottom 34px
   }
   &__desc {
      color #A6A6A8
      font-size 14px
      line-height (26 / 14)
      font-family $font-main
   }
}

+do(1000) {
   .case-quote {
      max-width none
   }
}

+do(750) {
   .case-quote {
      padding-left 20px
      &__info {
         font-size 14px
         line-height 1.5
         &:before {
            left -20px
            svg-size('quotes', 12px)
         }
      }
   }
}

.case-statistics {
   &__title {
      font-size 32px
      line-height (32 / 30)
      font-weight 700
      font-family $font-title
   }
   &__side {
      margin-bottom 44px
   }
}

+do(750) {
   .case-statistics {
      &__title {
         font-size 24px
         line-height 1.2
      }
      &__side {
         margin-bottom 20px
      }
   }
}

.case-next {
   &__background {
      position absolute
      top 0
      bottom 0
      width 100vw
      left 50%
      transform translateX(-50%)
      background-position center
      background-size cover
      background-repeat no-repeat
   }
   &__title {
      font-size 32px
      line-height (32 / 30)
      font-weight 700
      font-family $font-title
   }
   &__side {
      margin-bottom 40px
   }
   &__main {
      padding-top 70px
      padding-bottom 70px
      box-sizing border-box
      position relative
      display block
      color white
      transition .3s ease
      &:hover {
         color white
         opacity 0.9
         & ^[0]__content {
            &:before {
               transform translateY(-50%) translateX(25px)
            }
         }
      }
   }
   &__content {
      display flex
      flex-wrap wrap
      align-items center
      position relative
      z-index 99
      padding-right 60px
      &-logo {
         flex 0 0 auto
         margin-right 40px
         padding-top 5px
         padding-bottom 5px
         img {
            display block
            max-width 100%
         }
      }
      &-title {
         flex 0 1 auto
         font-size 32px
         line-height (32 / 30)
         font-weight 700
         font-family $font-title
         padding-top 5px
         padding-bottom 5px
      }
      &:before {
         content ''
         position absolute
         display block
         right 0
         top 50%
         transform translateY(-50%)
         transition .3s ease
         svg('arrow-right-direction', 25px, $color-white)
      }
   }
   &__overlay {
      position absolute
      top 0
      left -100vw
      right -100vw
      bottom 0
      background-position center
      background-repeat no-repeat
   }
}

+do(750) {
   .case-next {
      &__title {
         font-size 24px
         line-height 1.2
      }
      &__side {
         margin-bottom 30px
      }
      &__main {
         padding-top 40px
         padding-bottom 40px
      }
   }
}

.case-widgets {
   &__item {
      & + & {
         padding-top 70px
         padding-bottom 70px
         box-sizing border-box
         position relative
         &:before {
            content ''
            display block
            height 1px
            background rgba(204, 203, 206, 0.2)
            left 0
            right 0
            top 0
            position absolute
            max-width 50%
         }
      }
      &:last-child {
         padding-bottom 0
      }
   }
}

+do(1200) {
   .case-widgets {
      &__item {
         & + & {
            padding-top 40px
            padding-bottom 40px
         }
         &:last-child {
            padding-bottom 0
         }
      }
   }
}

+do(750) {
   .case-widgets {
      &__item {
         & + & {
            padding-top 30px
            padding-bottom 30px
         }
         &:last-child {
            padding-bottom 0
         }
      }
   }
   p {
      margin-bottom 15px
   }
}