.certificates {
   &__main {
      margin-bottom 160px
   }
   &__item {
      min-height 400px
      display block
      background-size cover
      background-repeat no-repeat
      background-position center
      position relative
      box-shadow: 0px 15px 40px rgba(4, 12, 39, 0.06);
      &:before {
         content ''
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         background rgba(41, 81, 178, 0.9)
         display block
         background-size auto
         background-repeat no-repeat
         background-position center
         background-image url("../images/magnifier.svg")
         opacity 0
         transition .3s ease
      }
      &:hover {
         &:before {
            opacity 1
         }
      }
   }
   &__nav {
      display flex
      justify-content center
      align-items center
      margin-bottom -1px
   }
   .owl-stage-outer {
      overflow visible
   }
   .owl-prev,
   .owl-next {
      outline none
      display block
      size 60px
      background-color white
      border: 2px solid rgba(207, 208, 220, 0.6);
      box-sizing border-box
      position relative
      &:before {
         content ''
         position absolute
         top 50%
         left 50%
         display block
         transform translate(-50%, -50%)
         transition transform .1s linear
      }
      &:active {
         background-color $color-blue
      }
      &:hover {
         background-color $color-blue-light
      }
   }
   .owl-prev {
      &:before {
         svg('arrow-left-direction', 25px, $color-blue-light)
      }
      &:hover {
         &:before {
            svg-color('arrow-left-direction', white)
         }
      }
      &:active {
         &:before {
            transform translate(calc(-50% - 5px), -50%)
         }
      }
   }
   .owl-next {
      margin-left -2px
      &:before {
         svg('arrow-right-direction', 25px, $color-blue-light)
      }
      &:hover {
         &:before {
            svg-color('arrow-right-direction', white)
         }
      }
      &:active {
         &:before {
            transform translate(calc(-50% + 5px), -50%)
         }
      }
   }
}
+do(1000) {
   .certificates {
      &__main {
         margin-bottom 80px
      }
   }
}