.cols-list {
   &__list {
      display flex
      flex-wrap wrap
      justify-content space-between
      margin-right -40px
      margin-left -40px
      margin-bottom -30px
   }
   &__item {
      flex 1
      margin-left 40px
      margin-right 40px
      margin-bottom 30px
      max-width calc(50% - 80px)
      flex-basis calc(50% - 80px)
      &-main {
         margin-bottom 8px
      }
      &-title {
         font-weight 600
         font-family $font-title
         line-height 1.2
      }
      &-desc {
         font-size 14px
         line-height 1.5
         color rgba(#27262B, 0.6)
         font-weight 400
         max-width 340px
      }
      &_highlights {
         & ^[-1]-main {
         }
         & ^[-1]-side {
         }
         & ^[-1]-title {
            font-size 42px
            color $color-blue-light
         }
         & ^[-1]-desc {
         }
      }
   }
}

.cols-list.cols-list_1x {
   .cols-list {
      &__list {
         display block
         margin-bottom -25px
      }
      &__item {
         max-width none
      }
   }
}

+do('miw', 1200) {
   +do('mah', 760) {
      .cols-list:not(.is-normal) {
         .cols-list {
            &__list {
               margin-bottom -10px
            }
            &__item {
               margin-bottom 10px
            }
         }
      }
   }
}

+do(1400) {
   .cols-list_2x {
      .cols-list {
         &__list {
            margin-right -20px
            margin-left -20px
         }
         &__item {
            margin-right 20px
            margin-left 20px
            max-width calc(50% - 40px)
            flex-basis calc(50% - 40px)
         }
      }
   }
}

+do(750) {
   .cols-list {
      &__item {
         margin-bottom 15px
      }
   }
}

+do(500) {
   .cols-list_2x {
      .cols-list {
         &__list {
            margin-right -10px
            margin-left -10px
            display block
         }
         &__item {
            margin-right 10px
            margin-left 10px
            max-width none
            flex-basis calc(50% - 20px)
         }
      }
   }
}