.company-preview {
   color white
   font-family $font-title
   position relative
   &__side {
      padding-top 30px
      padding-left 30px
      margin-bottom 30px
   }
   &__main {
      position absolute
      left -70px
   }
   &__map {
      &:before {
         content ''
         display block
         svg('map-light', 1000px)
      }
   }
   &__order {
      position absolute
      bottom 0
      right 50%
      transform translateX(-50%)
   }
}

+do(1050) {
   .company-preview {
      display none
   }
}