.company-intro {
   &__wrapper {
      display flex
      margin-right -90px
      margin-left -90px
      min-height 400px
   }
   &__main {
      flex 1
      padding-right 90px
      padding-left 90px
      max-width calc(50% - 180px)
   }
   &__side {
      flex 1
      padding-right 90px
      padding-left 90px
      max-width calc(50% - 180px)
      position relative
      padding-top 68px
      &:before {
         content ''
         position absolute
         top -100vh
         left 0
         right -100vh
         display block
         background-color white
         bottom 0
         z-index -1
      }
      &:after {
         content ''
         position absolute
         top 0
         left 0
         right -10vw
         bottom 0
         display block
         background-color rgba(#274DAB, 1)
      }
   }
   &__img {
      position absolute
      top 0
      left 0
      right -10vw
      bottom 0
      background-size cover
      background-repeat no-repeat
      background-position center
      &:before {
         content ''
         display block
         position absolute
         top 0
         left 0
         right -10vw
         bottom 0
         background-size cover
         background-repeat no-repeat
         background-position center
         z-index 5
         background-image url("../images/company/earth.png")
      }
   }
   &__logo {
      position absolute
      z-index 55
      bottom 0
      right -100px
      img {
         display block
         max-width 100%
      }
   }
   &__caption {
      z-index 55
      position absolute
      bottom 0
      right -11vw
      img {
         display block
         max-width 100%
         transform translateY(50%)
      }
   }
   &__title {
      margin-bottom 55px
   }
   &__desc {
      font-size 14px
      line-height (26 / 14)
      padding-bottom 30px
      box-sizing border-box
      padding-left 60px
   }

}

+do(1200) {
   .company-intro {
      &__desc {
         padding-left 0
      }
   }
}

+do(1000) {
   .company-intro {
      &__wrapper {
         margin-right -45px
         margin-left -45px
      }
      &__main {
         padding-left 45px
         padding-right 45px
         max-width calc(50% - 90px)
      }
      &__side {
         padding-left 45px
         padding-right 45px
         max-width calc(50% - 90px)
      }
   }
}

+do(750) {
   .company-intro {
      &__title {
         margin-bottom 20px
      }
      &__wrapper {
         display block
         margin-right 0
         margin-left 0
      }
      &__logo {
         position relative
         right auto
      }
      &__main {
         padding-left 0
         padding-right 0
         max-width none
      }
      &__side {
         padding-top 20px
         max-width none
         min-height 100px
         margin-right -20px
         margin-left -20px
         padding-right 20px
         padding-left 20px
      }
   }
}

.company-section {
   &__title {
      font-family: $font-title
      font-weight 700
      font-size 32px
      line-height (32 / 30)
   }
   &__side {
      margin-bottom 65px
   }
   &_row_medium {
      margin-bottom 55px
   }
}

+do(750) {
   .company-section {
      &__title {
         font-size 28px
         line-height 1.2
      }
      &__side {
         margin-bottom 25px
      }
      &_row_medium {
         margin-bottom 30px
      }
   }
}

.company-map {
   display flex
   justify-content center
   align-items center
   img {
      max-width 100%
      display block
   }
}

.company-articles {
   &__list {
      display flex
      flex-wrap wrap
      margin-right -15px
      margin-left -15px
      margin-bottom -30px
      &-item {
         display flex
         flex 1
         margin-right 15px
         margin-left 15px
         margin-bottom 30px
         max-width calc(33.33% - 30px)
         flex-basis calc(33.33% - 30px)
      }
   }
}

+do(1000) {
   .company-articles {
      &__list {
         &-item {
            max-width calc(50% - 30px)
            flex-basis calc(50% - 30px)
         }
      }
   }
}

+do(750) {
   .company-articles {
      &__list {
         &-item {
            max-width calc(100% - 30px)
            flex-basis calc(100% - 30px)
         }
      }
   }
}

.company-text {
   font-size 14px
   line-height (26 / 14)
   &__item {
      margin-bottom 40px
      &:last-child {
         margin-bottom 0
      }
      &_half {
         max-width calc(50% - 90px)
      }
   }
   ul {
      li {
         font-weight 400
         &:before {
            size 10px
            top 10px
            transform none
            background-color $color-main
         }
      }
   }
}

+do(1000) {
   .company-text {
      &__item {
         &_half {
            max-width none
         }
      }
   }

}

.company-cols {
   &__list {
      display flex
      margin-right -90px
      margin-left -90px
      &-item {
         flex 1
         padding-left 90px
         padding-right 90px
         max-width calc(50% - 180px)
      }
   }
}

+do(1200) {
   .company-cols {
      &__list {
         display flex
         margin-right -45px
         margin-left -45px
         &-item {
            flex 1
            padding-left 45px
            padding-right 45px
            max-width calc(50% - 90px)
         }
      }
   }
}

+do(1000) {
   .company-cols {
      &__list {
         display flex
         margin-right -20px
         margin-left -20px
         &-item {
            flex 1
            padding-left 20px
            padding-right 20px
            max-width calc(50% - 40px)
         }
      }
   }
}

+do(750) {
   .company-cols {
      &__list {
         display block
         &-item {
            max-width none
         }
      }
   }
}

.company-desc {
   font-size 14px
   line-height (26 / 14)
}

.company-quote {
   max-width 65%
   padding-left 90px
   box-sizing border-box
   font-family $font-title
   &__info {
      font-size 18px
      font-weight 700
      line-height (30 / 18)
      font-family $font-title
      box-sizing border-box
      position relative
      &:before {
         content ''
         position absolute
         display block
         left -90px
         svg('quotes', 40px, $color-main)
      }
   }
   &__side {
      margin-bottom 34px
   }
   &__desc {
      color #A6A6A8
      font-size 14px
      line-height (26 / 14)
      font-family $font-main
   }
}

+do(1000) {
   .company-quote {
      max-width none
   }
}

+do(750) {
   .company-quote {
      padding-left 20px
      &__info {
         font-size 14px
         line-height 1.5
         &:before {
            left -20px
            svg-size('quotes', 12px)
         }
      }
   }
}

.company-statistics {
   &__title {
      font-size 32px
      line-height (32 / 30)
      font-weight 700
      font-family $font-title
   }
   &__side {
      margin-bottom 44px
   }
}

+do(750) {
   .company-statistics {
      &__title {
         font-size 24px
         line-height 1.2
      }
      &__side {
         margin-bottom 20px
      }
   }
}

.company-hr {
   &__background {
      position absolute
      top 0
      bottom 0
      width 100vw
      left 50%
      transform translateX(-50%)
      background-position center
      background-size cover
      background-repeat no-repeat
   }
   &__title {
      font-size 32px
      line-height (32 / 30)
      font-weight 700
      font-family $font-title
   }
   &__side {
      margin-bottom 40px
   }
   &__main {
      padding-top 100px
      padding-bottom 100px
      box-sizing border-box
      position relative
      display block
      color white
      transition .3s ease
      &:hover {
         color white
         opacity 0.9
         & ^[0]__content {
            &:before {
               transform translateY(-50%) translateX(25px)
            }
         }
      }
   }
   &__content {
      display flex
      flex-wrap wrap
      align-items center
      position relative
      z-index 99
      margin-right -45px
      margin-left -45px
      &-title {
         flex 0 0 auto
         margin-right 45px
         margin-left 45px
         font-size 32px
         font-family $font-title
         font-weight 700
      }
      &-desc {
         flex 1 0 auto
         margin-right 45px
         margin-left 45px
         max-width 500px
         font-size 14px
         line-height (26 / 14)
      }
      &-action {
         flex 0 0 auto
         margin-right 45px
         margin-left auto
      }
   }
   &__link {
      font-size 18px
      line-height 1
      position relative
      padding-right 50px
      &:before {
         content ''
         position absolute
         display block
         right 0
         top 50%
         transform translateY(-50%)
         svg('arrow-right-direction', 25px, $color-white)
      }
   }
   &__overlay {
      position absolute
      top 0
      left -100vw
      right -100vw
      bottom 0
      background-position center
      background-repeat no-repeat
   }
}

+do(1000) {
   .company-hr {
      &__main {
         padding-top 65px
         padding-bottom 65px
      }
   }
}

+do(750) {
   .company-hr {
      &__content {
         display block
         &-title {
            font-size 26px
            line-height 1.2
            margin-bottom 20px
         }
         &-desc {
            font-size 14px
            line-height 1.5
            margin-bottom 15px
         }
         &-action {
            margin-left 45px
            margin-bottom 20px
         }
      }
      &__side {
         margin-bottom 30px
      }
      &__main {
         padding-top 30px
         padding-bottom 40px
      }
   }
}

.company-widgets {
   &__item {
      & + & {
         padding-top 80px
         padding-bottom 80px
         box-sizing border-box
         position relative
         &:before {
            content ''
            display block
            height 1px
            background rgba(204, 203, 206, 0.2)
            left 0
            right 0
            top 0
            position absolute
            max-width 50%
         }
         &_row-bottom_none {
            padding-bottom 0 !important
         }
         &_row-top_none {
            padding-top 0 !important
         }
      }
   }
}

+do(1200) {
   .company-widgets {
      &__item {
         & + & {
            padding-top 40px
            padding-bottom 40px
         }
      }
   }
}

+do(750) {
   .company-widgets {
      &__item {
         & + & {
            padding-top 30px
            padding-bottom 30px
         }
      }
   }
   p {
      margin-bottom 15px
   }
}