.contacts-list {
   color white
   font-size 24px
   font-family $font-title
   &__group {
      margin-bottom 30px
      &:last-child {
         margin-bottom 0
      }
   }
   &__item {
      margin-bottom 5px
      &:kast-child {
         margin-bottom 0
      }
   }
   &__desc {
      font-size 14px
      color rgba(#FFFFFF, 0.5)
   }
   &__link {
      color white
      &:hover {
         color white
         opacity 0.5
      }
   }
}

+do('miw', 1200) {
   +do('mah', 800) {
      .contacts-list {
         font-size 18px
         &__group {
            margin-bottom 20px
            &:last-child {
               margin-bottom 0
            }
         }
      }
   }
   +do('mah', 700) {
      .contacts-list {
         &__group {
            margin-bottom 15px
            &:last-child {
               margin-bottom 0
            }
         }
      }
   }
   +do('mah', 650) {
      .contacts-list {
         font-size 16px
      }
   }
}