.contacts-cols {
   &__side {
      margin-bottom 60px
   }
   &__title {
      font-family $font-title
      line-height (72 / 60)
      font-size 60px
      font-weight 700
   }
   &__list {
      display flex
      margin-right -60px
      margin-left -60px
      &-item {
         flex 1
         padding-left 60px
         padding-right 60px
         max-width calc(50% - 120px)
      }
   }
   &__phone {
      color #BBBBBE
      font-size 14px
      line-height (26 / 14)
      transition .3s ease
      &-city {
         padding-left 30px
      }
      &-number {
         color $color-main
         font-family $font-title
         font-size 32px
         position relative
         padding-left 30px
         box-sizing border-box
         &:before {
            content ''
            position absolute
            left 0
            top 50%
            display block
            transform translateY(-50%)
            svg('phone', 16px, $color-blue-light)
         }
      }
      &-desc {
         padding-left 30px
      }
      &:hover {
         color #BBBBBE
         opacity 0.6
      }
   }
   &__phones {
      &-item {
         margin-bottom 50px
         &:last-child {
            margin-bottom 0
         }
      }
   }
   &__additional {
      &-list {
         display flex
         flex-wrap wrap
         margin-right -50px
         margin-left -50px
         margin-bottom -40px
      }
      &-item {
         font-size 24px
         font-family $font-title
         margin-right 50px
         margin-left 50px
         margin-bottom 40px
         flex 1
         max-width calc(50% - 100px)
         flex-basis calc(50% - 100px)
      }
      &-link {
         padding-left 30px
         box-sizing border-box
         position relative
         display block
         &:before {
            content ''
            display block
            position absolute
            left 0
            top 50%
            transform translateY(-50%)
         }
         &_telegram {
            &:before {
               svg('telegram', 18px, $color-blue-light)
            }
         }
         &_whatsapp {
            &:before {
               svg('whatsapp', 18px, $color-blue-light)
            }
         }
         &_mail {
            &:before {
               svg('mail', 18px, $color-blue-light)
            }
         }
         &_skype {
            &:before {
               svg('skype', 18px, $color-blue-light)
            }
         }
         &:hover {
            opacity 0.8
         }
      }
   }
}

+do(1400) {
   .contacts-cols {
      &__additional {
         &-list {
            display block
         }
         &-item {
            max-width calc(100% - 30px)
            flex-basis calc(100% - 30px)
         }
      }
   }
}

+do(1200) {
   .contacts-cols {
      &__list {
         display flex
         margin-right -45px
         margin-left -45px
         &-item {
            flex 1
            padding-left 45px
            padding-right 45px
            max-width calc(50% - 90px)
         }
      }
      &__phones {
         &-item {
            margin-bottom 20px
            &:last-child {
               margin-bottom 0
            }
         }
      }
      &__additional {
         &-list {
            margin-left -15px
            margin-right -20px
         }
         &-item {
            font-size 18px
            line-height 1
            margin-left 15px
            margin-right 15px
            max-width calc(50% - 30px)
            flex-basis calc(50% - 30px)
         }
      }
   }
}

+do(1000) {
   .contacts-cols {
      &__side {
         margin-bottom 30px
      }
      &__list {
         display block
         &-item {
            max-width none
            margin-bottom 45px
            &:last-child {
               margin-bottom 0
            }
         }
      }
   }
}

+do(750) {
   .contacts-cols {
      &__side {
         margin-bottom 20px
      }
      &__title {
         font-size 28px
      }
      &__list {
         display block
         &-item {
            max-width none
            margin-bottom 45px
            &:last-child {
               margin-bottom 0
            }
         }
      }
      &__phone {
         font-size 12px
         &-number {
            font-size 24px
         }
      }
      &__additional {
         &-list {
            display block
         }
         &-item {
            max-width none
         }
      }
   }
}

.contacts-cols_index {
   color white
   .contacts-cols {
      &__additional {
         &-list {
            display block
            margin 0 !important
         }
         &-item {
            margin-left 0 !important
            margin-bottom 5px
            +do(1200) {
               margin-bottom 15px
            }
         }
         &-link {
            color white
            &_telegram {
               &:before {
                  svg-color('telegram', $color-white)
               }
            }
            &_whatsapp {
               &:before {
                  svg-color('whatsapp', $color-white)
               }
            }
            &_mail {
               &:before {
                  svg-color('mail', $color-white)
               }
            }
            &_skype {
               &:before {
                  svg-color('skype', $color-white)
               }
            }
         }
      }
   }
}

+do('miw', 1200) {
   +do('mah', 800) {
      .contacts-cols_index {
         .contacts-cols {
            &__additional {
               &-link {
                  font-size 18px
               }
            }
         }
      }
   }
   +do('mah', 650) {
      .contacts-cols_index {
         .contacts-cols {
            &__additional {
               &-link {
                  font-size 16px
               }
            }
         }
      }
   }
}

.contacts-section {
   &__wrapper {}

   &__inner {
      display flex
      flex-wrap wrap
   }

   &__main {
      flex-column(1, 2)
      padding-top 70px
      padding-bottom 150px
   }

   &__side {
      flex-column(1, 2)
      padding-top 180px
      padding-bottom 50px
      position relative
      box-sizing border-box
      padding-left 50px
      &::before {
         content ''
         position absolute
         trbl 0 -100px 0 -50px
         background-color #FAFBFD
      }
   }

   &__side-inner {
      position relative
      z-index 50
   }
}
+do(1300) {
   .contacts-section {
      &__side {
         padding-left 0
      }
   }
}
+do(750) {
   .contacts-section {
      &__inner {
         display block
      }

      &__main {
         flex-column(1, 1)
         padding-top 40px
         padding-bottom 40px
      }

      &__side {
         flex-column(1, 1)
         padding-top 40px
         padding-bottom 40px
         padding-left 20px
         &::before {
            trbl 0 -20px 0 -20px
         }
      }
   }
}
+do(500) {
   .contacts-section {
      &__side {
         padding-left 0
      }
   }
}

.contacts-items {
   &__wrapper {
      padding-bottom .1px
   }

   &__list {
      display flex
      flex-wrap wrap
      margin 0 -50px -50px -50px
   }

   &__item {
      margin 0 50px 50px 50px
      flex-column(1, 2, 50px)
   }
}
+do(1300) {
   .contacts-items {
      &__list {
         display flex
         flex-wrap wrap
         margin 0 -20px -30px -20px
      }

      &__item {
         margin 0 20px 30px 20px
         flex-column(1, 2, 20px)
      }
   }
}
+do(1000) {
   .contacts-items {
      &__item {
         flex-column(1, 1, 20px)
      }
   }
}

.contacts-elem {
   display flex
   align-items center
   font-size 22px
   text-decoration none
   border none

   &__icon {
      margin-right 25px
   }

   &__icon_email {
      svg('mail-1', 20px, $color-blue)
   }

   &__icon_tg {
      svg('tg', 18px, $color-blue)
   }

   &__icon_skype {
      svg('skype-1', 18px, $color-blue)
   }

   &__icon_ws {
      svg('ws', 18px, $color-blue)
   }
}
+do(1200) {
   .contacts-elem {
      font-size 18px
   }
}
