.contacts-menu {
   padding-top 30px
   margin-bottom 30px
   .contacts-cols_index {
      .contacts-cols {
         &__additional {
            &-list {
            }
            &-item {
               max-width none
               flex-basis 100%
               margin-bottom 20px
               &:last-child {
                  margin-bottom 0
               }
            }
            &-link {
               color $color-blue-hlight
               &_telegram {
                  &:before {
                     svg-color('telegram', $color-blue-light)
                  }
               }
               &_whatsapp {
                  &:before {
                     svg-color('whatsapp', $color-blue-light)
                  }
               }
               &_mail {
                  &:before {
                     svg-color('mail', $color-blue-light)
                  }
               }
               &_skype {
                  &:before {
                     svg-color('skype', $color-blue-light)
                  }
               }
            }
         }
      }
   }
}