.depozit-cols {
  &__list {
    display flex
    flex-wrap wrap
    margin-right -10px
    margin-left -10px
    justify-content space-between
    margin-bottom -10px
    &-item {
      max-width 520px
      margin-right 10px
      margin-left 10px
      margin-bottom 10px
    }
  }
}

.depozit-col {
  &__icon {
    margin-bottom 40px
  }

  &__title {
    margin-bottom 40px
    font-size 20px
    font-weight 700
  }

  &__desc {

  }
}
