.develop-advantages {
  &__wrapper {
    padding-top 90px
    padding-bottom 90px
  }

  &__title {
    font-size 20px
    line-height (24 / 20)
    margin-bottom 80px
  }

  &__list {
    display flex
    flex-wrap wrap
    margin 0 -30px -80px -30px
  }

  &__item {
    flex-column(1, 3, 30px)
    margin 0 30px 80px 30px
  }
}

+do(750) {
  .develop-advantages {
    &__wrapper {
      padding-bottom 40px
    }

    &__title {
      font-size 18px
      margin-bottom 40px
    }

    &__list {
      margin 0 -20px -60px -20px
    }

    &__item {
      flex-column(1, 2, 20px)
      margin 0 20px 60px 20px
    }
  }
}

+do(500) {
  .develop-advantages {
    &__list {
      margin 0 -20px -40px -20px
    }

    &__item {
      flex-column(1, 1, 20px)
      margin 0 20px 40px 20px
    }
  }
}

.develop-advantages-card {
  text-align center
  font-size 14px
  line-height (26 / 14)

  &__wrapper {
    //
  }

  &__icon {
    margin-bottom 35px
    margin-left auto
    margin-right auto
  }

  &__content {
    max-width 300px
    margin-right auto
    margin-left auto
  }
}

+do(750) {
  .develop-advantages-card {
    &__icon {
      max-width 85px
      margin-bottom 10px
    }
  }
}

.develop-biz {
  margin-bottom -150px

  &__wrapper {
    padding-top 80px
    padding-bottom 235px
    position relative

    &::before {
      content ''
      position absolute
      background-color #FAFBFD
      top 0
      bottom 0
      left -120px
      right -100vw
      z-index -1
    }

    &_small {
      padding-bottom 0
    }
  }

  &__content {
    display flex
    flex-wrap wrap
    border-bottom 1px solid rgba(#CCCBCE, .3)
  }

  &__main {
    flex-column(1, 2)
    padding-bottom 90px
  }

  &__side {
    flex-column(1, 2)
    display flex
    align-items flex-end
  }

  &__side_end {
    justify-content flex-end
  }

  &__side-img {
    max-width 500px

    img {
      vertical-align middle
    }
  }

  &__side-img_wide {
    padding-left 30px
    max-width 700px
  }

  &__title {
    font-size 60px
    line-height (68 / 60)
    margin-bottom 48px
    font-weight 700
    font-family $font-title
  }

  &__description {
    font-size 14px
    line-height (26 / 14)

    span {
      opacity .6
    }
  }
}

+do(1000) {
  .develop-biz {
    &__wrapper {
      padding-top 60px
      padding-bottom 200px

      &_small {
        padding-bottom 0
      }
    }

    &__title {
      font-size 50px
      margin-bottom 35px
    }

    &__main {
      flex-column(1.2, 2)
      padding-bottom 50px
    }

    &__side {
      flex-column(0.8, 2)
    }
  }
}

+do(750) {
  .develop-biz {
    margin-bottom -100px

    &__wrapper {
      padding-top 40px
      padding-bottom 160px

      &_small {
        padding-bottom 0
      }
    }

    &__title {
      font-size 36px
      margin-bottom 25px
    }

    &__description {
      font-size 14px
    }

    &__main {
      flex-column(2, 2)
      padding-bottom 0
      margin-bottom 50px
    }

    &__side {
      flex-column(2, 2)
      max-width 80%
      margin-right auto
      margin-left auto
    }

    &__side-img_wide {
      padding-left 0
    }
  }
}

.develop-cap-grid {
  padding-bottom 90px

  &__wrapper {
    padding-bottom 40px
    border-bottom 1px solid rgba(#CCCBCE, .3)
  }

  &__title {
    font-size 20px
    line-height (28 / 20)
    margin-bottom 38px
  }

  &__content {
    padding .1px
  }

  &__list {
    display flex
    flex-wrap wrap
    margin 0 -15px -30px -15px
  }

  &__item {
    flex-column(1, 3, 15px)
    margin 0 15px 30px 15px
    display flex
  }
}

+do(1000) {
  .develop-cap-grid {
    &__list {
      margin 0 -10px -20px -10px
    }

    &__item {
      flex-column(1, 3, 10px)
      margin 0 10px 20px 10px
    }
  }
}

+do(750) {
  .develop-cap-grid {
    padding-bottom 60px

    &__item {
      flex-column(1, 1, 10px)
    }

    &__title {
      font-size 18px
    }
  }
}

.develop-cap-grid-card {
  flex 1
  background-color #fff
  border 2px solid #E2E3EA
  min-height 300px

  &__wrapper {
    padding 45px
  }

  &__header {
    display flex
    margin-bottom 25px
  }

  &__title {
    font-size 18px
    line-height (28 / 18)
    font-weight 600
    margin-right 20px
    flex 1
    min-height 56px
  }

  &__count {
    padding-top 7px
    color #1F4ABD
    font-size 16px
    line-height 1
  }

  &__count_grey {
    color #CDCDD3
  }

  &__content {
    font-size 14px
    line-height (26 / 14)

    span {
      opacity .6
    }
  }
}

+do(1000) {
  .develop-cap-grid-card {
    &__wrapper {
      padding 20px
    }

    &__header {
      margin-bottom 15px
    }

    &__title {
      min-height 0
    }
  }
}

+do(750) {
  .develop-cap-grid-card {
    min-height 200px

    &__title {
      font-size 15px
    }
  }
}

.develop-impl {
  color #fff
  position relative

  &__img {
    position absolute
    bottom -137px
    max-width 700px
    right -121px
  }

  &__wrapper {
    padding-top 90px
    padding-bottom 180px
    position relative

    &::before {
      content ''
      position absolute
      background-color #040724
      top 0
      bottom 0
      right -120px
      left -100vw
      z-index -1
    }
  }

  &__content {
    display flex
    flex-wrap wrap
  }

  &__main {
    flex-column(1, 2)
    position relative
  }

  &__number {
    position absolute
    left -40px
    top 5px
    svg('1xxx', 45px, #1F4ABD)
  }

  &__title {
    font-size 60px
    line-height (68 / 60)
    margin-bottom 85px
    font-weight 700
    font-family $font-title
  }

  &__subtitle {
    font-size 20px
    line-height (30 / 20)
    margin-bottom 30px
    font-weight 500
  }

  &__description {
    font-size 14px
    line-height (26 / 14)
  }
}

+do(1500) {
  .develop-impl {
    &__number {
      left 10px
      top 5px
      svg('1xxx', 25px, #1F4ABD)
    }
  }
}

+do(1200) {
  .develop-impl {
    &__img {
      bottom -101px
      max-width 500px
      right -30px
    }
  }
}

+do(1000) {
  .develop-impl {
    &__wrapper {
      padding-bottom 100px
    }

    &__main {
      padding-left 30px
      flex-column(1, 1)
    }

    &__img {
      display none
    }

    &__number {
      left 0
      svg('1xxx', 20px, #1F4ABD)
    }

    &__title {
      font-size 50px
      margin-bottom 50px
    }
  }
}

+do(750) {
  .develop-impl {

    &__wrapper {
      padding-top 60px
      padding-bottom 60px
    }

    &__main {
      padding-left 0
    }

    &__number {
      position static
      margin-left 11px
      margin-bottom 15px
    }

    &__title {
      font-size 36px
      margin-bottom 40px
    }

    &__subtitle {
      margin-bottom 20px
    }
  }
}

+do(500) {
  .develop-impl {
    &__number {
      margin-left 0
    }
  }
}

.develop-back {
  border-bottom 1px solid #F0EFF0

  &__wrapper {
    padding-top 162px
  }

  &__content {
    display flex
    flex-wrap wrap
  }

  &__main {
    position relative
    flex-column(.9, 2)
    padding-left 120px
    box-sizing border-box
    padding-bottom 50px
  }

  &__side {
    flex-column(1.1, 2)
    display flex
    align-items flex-end
  }

  &__number {
    position absolute
    left 0
    top 0
    svg('2xxx', 74px, #1F4ABD)
  }

  &__title {
    font-weight 500
    font-size 20px
    line-height (30 / 20)
    margin-bottom 30px
  }

  &__description {
    font-size 14x
    line-height (26 / 14)
  }

  &__side-img {
    img {
      vertical-align middle
    }
  }
}

+do(1500) {
  .develop-back {
    &__number {
      svg('2xxx', 40px, #1F4ABD)
    }

    &__main {
      padding-left 60px
    }
  }
}

+do(1200) {
  .develop-back {
    &__wrapper {
      padding-top 100px
    }

    &__main {
      order -1
      flex-column(1, 1)
    }

    &__side {
      flex-column(1, 1)
    }

    &__side-img {
      max-width 80%
      margin-left auto
      margin-right auto
      padding-left 8%
    }
  }
}

+do(1000) {
  .develop-back {
    &__wrapper {
      padding-top 60px
    }

    &__number {
      position static
      margin-bottom 15px
    }

    &__main {
      padding-left 20px
    }
  }
}

+do(750) {
  .develop-back {
    &__title {
      margin-bottom 20px
    }
  }
}

+do(500) {
  .develop-back {
    &__main {
      padding-left 0
    }
  }
}


.develop-cols {
  padding-top 117px
  margin-bottom 114px

  &__title {
    font-family $font-title
    font-size 60px
    line-height (68 / 60)
    font-weight 700
  }

  &__side {
    margin-bottom 85px
  }

  &__list {
    display flex
    flex-wrap wrap
    margin-right -10px
    margin-left -10px

    &-item {
      max-width calc(33.33% - 20px)
      margin-left 10px
      margin-right 10px
    }
  }
}

+do(1000) {
  .develop-cols {
    padding-top 80px
    margin-bottom 80px

    &__side {
      margin-bottom 50px
    }

    &__title {
      font-size 48px
    }

    &__list {
      &-item {
        max-width calc(50% - 20px)
      }
    }
  }
}

+do(700) {
  .develop-cols {
    padding-top 40px
    margin-bottom 40px

    &__side {
      margin-bottom 30px
    }

    &__title {
      font-size 24px
    }

    &__list {
      &-item {
        max-width calc(100% - 20px)
      }
    }
  }
}

.develop-col {
  font-size 14px
  line-height (26 / 14)

  &__title {
    margin-bottom 70px
    min-height 50px
    display flex
    align-items flex-end
  }
}

+do(1000) {
  .develop-col {
    &__title {
      margin-bottom 20px
    }
  }
}

+do(700) {
  .develop-col {
    &__title {
      margin-bottom 15px
    }
  }
}

.develop-application {
  padding-top 80px
  padding-bottom 80px
  box-sizing border-box
  position relative

  &:before {
    content ''
    display block
    left 0
    right 0
    top 0
    bottom 0
    background #FAFBFD
    position absolute
    z-index -1
    margin-right 160px
  }

  &__title {
    margin-bottom 50px
    font-size 60px
    font-family $font-title
    font-weight 700
  }
}

+do(1000) {
  .develop-application {
    &__title {
      font-size 48px
    }
  }
}

+do(700) {
  .develop-application {
    &__title {
      font-size 24px
    }
  }
}
