.error-404 {
   color white
   position relative
   &__content {
      display flex
      flex-wrap wrap
      margin-right -20px
      margin-left -20px
   }
   &__main {
      margin-right 20px
      margin-left 20px
      flex 1 0 auto
      +do(750) {
         margin-bottom 20px
      }
   }
   &__side {
      margin-right 20px
      margin-left 20px
      flex 0 0 auto
   }
   &__title {
      font-size 60px
      font-family $font-title
      font-weight 700
      line-height 1.2
      +do(1200) {
         font-size 48px
      }
      +do(750) {
         font-size 36px
         margin-bottom 15px
      }
   }
   &__action {
      &-link {
         font-weight 700
         position relative
         padding-right 40px
         font-size 18px
         line-height 1.2
         color white
         &:before {
            content ''
            position absolute
            display block
            top 3px
            right 0
            transition .3s ease
            svg('arrow-right-direction', 26px, $color-white)
         }
         &:hover {
            color white
            &:before {
               transform translateX(10px)
            }
         }
      }
   }
   &__img {
      width 705px
      height 1440px
      background-position center
      background-repeat no-repeat
      background-size contain
      background-image url('../images/404.png')
      position absolute
      left 50%
      transform translateX(-50%)
      margin-top -130px
      +do(1300) {
         width 683px
         height 800px
      }
      +do(750) {
         display none
      }
   }
}