.files {
  display: block;
  //min-width: 270px;
  position: relative;
  line-height: 1;
  font-size: 16px;
  padding: 8px 0 0 0;
  flex 0 0 auto
  margin-bottom  12px
  color white
}
.files__wrapper {
  display: inline-flex;
  align-items: center;
}
.files__content {
  margin-left: 5px;
  margin-right: 5px;
  display: block;
}
.files__content-wrapper {
  display: inline-flex;
  margin-left: -5px;
  margin-right: -5px;
  align-items: center;
  cursor: pointer;
}
.files__content-wrapper:hover {
  opacity: 0.8;
}
.files__side {
  margin-left: 5px;
  margin-right: 5px;
  box-flex: 1;
  flex: 0 0 auto;
}
.files__main {
  margin-left: 5px;
  margin-right: 5px;
}
.files__main-wrapper {
  display: flex;
  margin-right: -5px;
  margin-left: -5px;
  align-items: center;
}
.files__title {
  margin-left: 5px;
  margin-right: 5px;
  max-width: 220px;
  white-space nowrap
  overflow: hidden;
  text-overflow: ellipsis;
}
.files__close {
  display: none;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  box-flex: 1;
  flex: 0 0 auto;
  position: relative;
  opacity: 0.8;
  width: 14px;
  height: 14px;
}
.files__close:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.files__close:before {
  display block
  svg('cross', 10px, white)
}
.files__close:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
}
.files__close:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.files__icon_pin:before {
  content: '';
  display: block;
  width: 14px;
  height: 15px;
}
.files__icon_pin:before {
  svg('clip',20px,white)
}
.files__main {
  flex: 0 0 auto;
}
.files input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  width: 0.1px;
  height: 0.1px;
}
.files.is-filled .files__close {
  display: block;
}
.files.is-filled .files__side {
  display: none;
}
.files.is-filled .files__content {
  pointer-events none
}

.files {
  &__img {
    display none
    min-width 120px
    overflow hidden
    border-radius 5px
    box-shadow 0 10px 30px rgba(black, 0.1)
    min-height 80px
    background-position center
    background-repeat no-repeat
    background-size cover
  }
  &.is-load {
    padding-left 0
    & ^[0]__img {
      display block
    }
  }
}

.fields-list {
  display flex
  flex-wrap wrap
  align-items center
  margin-right -6px
  margin-left -6px
  margin-bottom -12px
}

+do(750) {
  .files {
    &__img {
      min-width 100px
    }
  }
}
.files_btn {
  .files {
    &__wrapper {
      box-sizing border-box
      padding 15px 20px 12px 20px
      background #fbe5d2
      border-radius 50px
      color #ec7b1f
      position relative
    }
    &__content {
      &:before {
        content ''
        position absolute
        display block
        top 0
        left 0
        right 0
        bottom 0
        cursor pointer
      }
    }
  }
}
