.footer {
   color #BBBBBE
   font-size 14px
   line-height 1.2
   padding-top 50px
   padding-bottom 50px
   box-sizing border-box
   background-color white
   border-top 1px solid rgba(204, 203, 206, 0.2)
   &__content {
      display flex
      flex-wrap wrap
   }
   &__main {
      flex 1 1 auto
      margin-right 10px
      margin-left 10px
      position relative
   }
   &__side {
      margin-right 10px
      margin-left 10px
      flex 0 0 auto
   }
}

+do(1400) {
   .footer {
      padding-top 30px
      padding-bottom 30px
   }
}

+do(1200) {
   .footer {
      padding-top 25px
      padding-bottom 25px
   }
}

+do(750) {
   .footer {
      font-size 12px
      padding-top 20px
      padding-bottom 20px
      text-align center
      &__content {
         display flex
         flex-direction column
         justify-content center
         align-items center
      }
      &__main {
         margin-bottom 10px
      }
   }
}

.footer-fixed {
   position fixed
   bottom 0
   left 0
   right 0
   z-index 400
   pointer-events none
   margin-bottom 80px
   &__wrapper {
      position relative
   }
   &__action {
      display flex
      justify-content flex-end
      &-main {
         size 40px
         background-color white
         border 2px solid rgba($color-blue-light, 1)
         position relative
         border-radius 50%
         opacity 0
         pointer-events none
         cursor pointer
         transition .3s ease opacity
         box-shadow 0 0 15px rgba(158, 158, 158, 0.4)
         &:before {
            content ''
            display block
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%) rotate(180deg)
            margin-top -1px
            svg('arrow-down-thick', 18px, $color-blue-light)
         }
         &.is-active {
            opacity 0.9
            pointer-events auto
            &:hover {
               opacity 1
            }
         }
      }
   }
}

+do(750) {
   .footer-fixed {
      margin-bottom 50px
   }
}
