.global-nav {
  position absolute
  right -60px
  bottom -2px
  opacity 0
  visibility hidden
  transition none
  &__wrapper {
    display flex
    flex-wrap nowrap
  }
  &__item {
    size 60px
    border 2px solid #CFD0DC
    box-sizing border-box
    background white
    position relative
    cursor pointer
    transition background .3s ease

    & + & {
      margin-left -2px
    }

    &:before {
      content ''
      position absolute
      top 50%
      left 50%
      display block
      transform translate(-50%, -50%)
      transition transform .1s linear
    }

    &_prev {
      &:before {
        svg('arrow-left-direction', 25px, $color-blue-light)
      }

      &:hover {
        &:before {
          svg-color('arrow-left-direction', white)
        }
      }

      &:active {
        &:before {
          transform translate(calc(-50% - 5px), -50%)
        }
      }
    }

    &_next {
      &:before {
        svg('arrow-right-direction', 25px, $color-blue-light)
      }

      &:hover {
        &:before {
          svg-color('arrow-right-direction', white)
        }
      }

      &:active {
        &:before {
          transform translate(calc(-50% + 5px), -50%)
        }
      }
    }

    &:active {
      background-color $color-blue
    }

    &:hover {
      background-color $color-blue-light
    }
  }

  &__count {
    position absolute
    top 50%
    transform translateY(-50%)
    margin-left -40px
  }
  &_visible {
    position relative
    opacity 1
    visibility visible
    right auto
    bottom auto
    left auto
    top auto
  }
}

.global-nav.global-nav_dark_purple {
  .global-nav {
    &__item {
      &_prev {
        &:before {
          svg('arrow-left-direction', 25px, #5B28C7)
        }

        &:hover {
          &:before {
            svg-color('arrow-left-direction', white)
          }
        }
      }

      &_next {
        &:before {
          svg('arrow-right-direction', 25px, #5B28C7)
        }

        &:hover {
          &:before {
            svg-color('arrow-right-direction', white)
          }
        }
      }
    }
  }
}

.global-nav.is-light {
  .global-nav {
    &__item {
      background-color rgba(white, 0)
      border-color rgba(white, 0.5)

      &_prev {
        &:before {
          svg('arrow-left-direction', 25px, $color-white)
        }

        &:hover {
          &:before {
            svg-color('arrow-left-direction', white)
          }
        }

        &:active {
          &:before {
            transform translate(calc(-50% - 5px), -50%)
          }
        }
      }

      &_next {
        &:before {
          svg('arrow-right-direction', 25px, $color-white)
        }

        &:hover {
          &:before {
            svg-color('arrow-right-direction', white)
          }
        }

        &:active {
          &:before {
            transform translate(calc(-50% + 5px), -50%)
          }
        }
      }
    }
  }
}

+do('miw', 1200) {
  +do('mah', 700) {
    .global-nav {
      &__item {
        size 40px

        &_prev {
          &:before {
            svg-size('arrow-left-direction', 18px)
          }
        }

        &_next {
          &:before {
            svg-size('arrow-right-direction', 18px)
          }
        }
      }
    }
  }
}

.header_2,
.header_3,
.header_4,
.header_5,
.header_6,
.header_7 {
  .global-nav {
    visibility visible
    opacity 1
    transition .3s linear
    transition-delay .3s
  }
}