.half-background:before {
   position absolute
   width 100%
   top 0
   bottom 0
   right 0
   content ''
   display block
   max-width 50%
   background $color-grey-dark
}

.half-left-border:after {
   content ''
   position absolute
   bottom 0px
   left 0px
   width 50%
   height 1px
   background-color $color-grey-xdark
   opacity .2
}

.full-background {
   background $color-grey-dark
}