.header {
  flex 1
  position fixed
  z-index 99
  top 0
  left 0
  right 0
  bottom 0
  display flex
  flex-direction column
  pointer-events none

  &__middle {
    flex 1 0 auto
    pointer-events none
    display flex
    align-items center
  }

  &__bottom {
    pointer-events none
    flex 0 0 auto
  }

  &__top {
    pointer-events none
    flex 0 0 auto
  }

  &.is-static {
    position static
    display block
  }
}

+do(1250) {
  .header {
    position absolute
    bottom auto
    z-index 100

    &.is-static {
      position static
      display block
    }
  }
}

+do('miw', 1250) {
  +do('mah', 600) {
    .header {
      position absolute
      bottom auto

      &.is-static {
        position static
        display block
      }
    }
  }
}

.header-top {
  pointer-events auto
  padding 40px 30px
  box-sizing border-box
  color white

  &__wrapper {
    display flex
    align-items center
    margin-right -10px
    margin-left -10px
  }

  &__main {
    flex 1
    display flex
    margin-right 10px
    margin-left 10px
  }

  &__menu {
    position relative
    animation pulse 3s infinite
  }

  &__logo {
    max-width 120px
    flex 0 0 auto
    position relative
    margin-right 120px
    display block
    transition .3s ease

    &:hover {
      opacity 0.5
    }

    &-img {
      &_colors {
        position absolute
        top 0
      }

      &_white {
        position relative
        z-index 5
      }
    }

    img {
      display block
      max-width 100%
    }
  }

  &__contacts {
    display flex
    margin-right -27px
    margin-left -27px
    align-items center
  }

  &__contact {
    flex 0 0 auto
    margin-right 27px
    margin-left 27px

    &-link {
      color currentColor
      position relative

      &:before {
        content ''
        position absolute
        bottom -4px
        width 0
        height 2px
        background-color white
        transition .3s ease
      }

      &:hover {
        color white

        &:before {
          width 100%
        }
      }
    }
  }

  &__side {
    z-index 1
    flex 0 0 auto
    margin-right 10px
    margin-left 10px
  }

  &__sections {
    display flex
    align-items center
    margin-right -18px
    margin-left -18px

    &_margin_none {
      margin-right 0
      margin-left 0
    }
  }

  &__btn {
    min-height 60px
    display inline-flex
    border 2px solid white
    padding 0 45px
    font-family $font-title
    font-weight 500
    font-size 14px
    line-height (24 / 14)
    letter-spacing 0.02em
    box-sizing border-box
    background rgba(white, 0)
    outline none
    position relative
    overflow hidden
    transition color .1s linear .2s
    color white

    &:before {
      content ''
      display block
      size 0
      position absolute
      background white
      border-radius 50%
      transition .4s linear
      transform: translate(-50%, -50%);
      top 50%
      left 50%
      margin-top 28px
      margin-left -50%
      visibility hidden
      will-change: width, height;
    }

    &-caption {
      padding 16px 0
      flex 0 0 auto
      box-sizing border-box
      position relative
      z-index 5
    }

    &:hover {
      color black
      transition-delay .1s

      &:before {
        visibility visible
        size 999px
      }
    }

    &:active {
      border-color rgba($color-black, 1)
    }

    &_dark {
      display none
      border-color $color-blue-light
      color $color-blue-light

      &:before {
        background-color $color-blue-light
      }

      &:hover {
        color white
      }
    }

    &_visible {
      display block
    }
  }

  &__menu {
    &-toggle {
      cursor pointer
      transition .3s ease

      &:before {
        content ''
        display block
        position relative
        svg('menu', 40px, white)
      }

      &:hover {
        opacity 0.5
      }
    }

    &_close {
      & ^[-1]-toggle {
        &:before {
          svg('cross', 30px, $color-blue-light)
        }
      }
    }
  }

  &__section {
    flex 0 0 auto
    margin-right 18px
    margin-left 18px
    max-height 60px

    &_locales {
    }

    &_callback {
    }

    &_menu {
      margin-left 30px
    }
  }

  &__locales {
    font-family $font-title
    font-weight 700
    display flex
    flex-wrap wrap
    margin-right -7px
    margin-left -7px
    position relative

    &:before {
      content ''
      position absolute
      top -8px
      left -8px
      right -8px
      bottom -8px
      display block
      background rgba($color-black, 0.3)
      +do(1275) {
        display none
      }

      /.header-top.is-dark & {
        display none
      }
    }

    &-item {
      flex 0 0 auto
      margin-right 7px
      margin-left 7px
    }

    &-link {
      display block
      color currentColor
      opacity 0.6
      transition .3s ease
      position relative

      &.is-active {
        opacity 1
        pointer-events none
      }

      &:before {
        content ''
        position absolute
        bottom -4px
        width 0
        height 2px
        background-color white
        transition .3s ease
      }

      &:hover {
        opacity 1
        color white

        &:before {
          width 100%
        }
      }
    }
  }
}

+do('miw', 2200) {
  .header-top {
    max-width 1920px
    margin 0 auto
  }
}

.header-top.is-dark {
  color #27262B

  .header-top {
    &__contact {
      &-link {
        color #27262B

        &:before {
          background-color #27262B
        }
      }
    }

    &__logo {
      &-img {
        transition .3s ease

        &_white {
          opacity 0
        }

        &_colors {
          opacity 1
        }
      }
    }

    &__locales {
      color black

      &-link {
        &:before {
          background-color black
        }

        &:hover {
          color black
        }

        &.is-active {
          color $color-blue-light
        }
      }
    }

    &__btn {
      &_light {
        display none
      }

      &_dark {
        display block
      }
    }

    &__menu {
      &-toggle {
        &:before {
          svg-color('menu', $color-blue-light)
        }
      }
    }
  }
}

.header-top.is-simple {
  .header-top {
    &__contacts {
      opacity 0
      visibility hidden
    }

    &__side {
      opacity 0
      visibility hidden
    }
  }
}

.header-top.is-side-light {
  .header-top {
    &__contacts {
      &-link {
        color white

        &:before {
          background-color white
        }
      }
    }

    &__locales {
      color white

      &-link {
        &:before {
          background-color white
        }

        &:hover {
          color white
        }

        &.is-active {
          color white
        }
      }
    }

    &__btn {
      &_light {
        display block
      }

      &_dark {
        display none
      }
    }

    &__menu {
      &-toggle {
        &:before {
          svg-color('menu', white)
        }
      }
    }
  }
}

+do(1250) {
  .header-top {
    &__logo {
      max-width 120px
      margin-right 30px
    }

    &__contacts {
      margin-right -12px
      margin-left -12px
    }

    &__contact {
      margin-right 12px
      margin-left 12px
    }
  }
}

+do(1100) {
  .header-top {
    &__logo {
      max-width 120px
      margin-right 30px
    }

    &__contacts {
      display none
    }
  }
}

+do(750) {
  .header-top {
    padding-top 15px
    padding-bottom 15px
    padding-right 20px
    padding-left 20px

    &__logo {
      max-width 90px
    }

    &__section {
      &_callback,
      &_locales {
        display none
      }
    }

    &__menu {
      &-toggle {
        &:before {
          svg-size('menu', 30px)
        }
      }
    }
  }
}

.header-middle {
  pointer-events auto
  padding 0 30px
  box-sizing border-box
}

+do(1680) {
  .header-middle {
    display none
  }
}

.body_col {
  .header {
    display flex
    flex-direction column

    &__top {
      flex 0 0 auto
    }

    &__middle {
      display flex
      align-items center
      flex 1 0 auto
    }

    &__bottom {
      flex 0 0 auto
    }
  }
}

.header-bottom {
  pointer-events auto
  box-sizing border-box
  color white

  &__loader {
    height 2px
    left 0
    display block
    right 0
    background-color white
    position absolute
    bottom -2px
    z-index 9
    width 0
  }

  &__major {
    box-sizing border-box
    position relative

    &-content {
      display flex
    }

    &-main {
      flex 1
      max-width calc(50%)
      flex-basis calc(50%)
      position relative
      border-bottom 2px solid rgba(white, 0.5)
    }

    &-side {
      flex 1
      max-width calc(50%)
      flex-basis calc(50%)
      position relative
      border-bottom 2px solid rgba(white, 0)

      /.header_1 & {
        border-bottom 2px solid rgba(white, 0.5)
      }
    }
  }

  &__minor {
    padding-top 60px
    padding-bottom 60px

    &-content {
      margin-right -10px
      margin-left -10px
      display flex
    }

    &-main {
      flex 1
      margin-right 10px
      margin-left 10px
    }

    &-side {
      flex 0 0 auto
      margin-right 10px
      margin-left 10px
    }
  }

  &__scroll {
    display flex
    flex-wrap wrap
    align-items center
    margin-right -8px
    margin-left -8px
    font-family $font-title
    font-size 14px
    line-height (24 / 14)
    padding-left 20px

    &-main {
      margin-right 8px
      margin-left 8px

      flex 0 0 auto
    }

    &-side {
      flex 0 0 auto
      margin-right 8px
      margin-left 8px
    }

    &-caption {
      transition max-width .3s linear
      overflow hidden
      text-overflow ellipsis
      max-width 130px
      white-space nowrap
    }

    &-icon {
      &:before {
        content ''
        display block
        svg('mouse', 18px, white)
        animation mouse .586s linear infinite alternate-reverse
      }
    }
  }
}

+do('miw', 1250) {
  +do('mah', 600) {
    .header-bottom {
      display none
    }
  }
}

+do(1250) {
  .header-bottom {
    display none
  }
}

+do('miw', 1250) {
  +do('mah', 900) {
    .header-bottom {
      &__minor {
        padding-top 45px
        padding-bottom 45px
      }
    }
  }

  +do('mah', 900) {
    .header-bottom {
      &__minor {
        padding-top 40px
        padding-bottom 40px
      }
    }
  }

  +do('mah', 810) {
    .header-bottom {
      &__minor {
        padding-top 34px
        padding-bottom 34px
      }
    }
  }

  +do('mah', 760) {
    .header-bottom {
      &__minor {
        padding-top 20px
        padding-bottom 20px
      }
    }
  }

}

.header-bottom.is-dark {
  .header-bottom {
    &__major {
      &-main {
        border-bottom 2px solid rgba(#CCCBCE, 0.2)
      }
    }

    &__scroll {
      &-icon {
        &:before {
          svg-color('mouse', #CFD0DC)
        }
      }
    }
  }
}

.header-bottom.is-simple {
  .header-bottom {
    &__scroll {
      &-caption {
        opacity 0
        max-width 0
      }
    }
  }
}

@keyframes mouse {
  0% {
    transform translateY(-5px)
  }
  100% {
    transform translateY(5px)
  }
}

.header-nav {
  &__item {
    margin-bottom 30px
    color rgba(white, 0.6)
    font-size 16px
    display block
    line-height (24 / 16)
    transition padding .156s linear
    position relative

    &:after {
      content ''
      position absolute
      display block
      top -5px
      left -5px
      right -5px
      bottom -5px
    }

    &:before {
      content ''
      position absolute
      top 50%
      left 0
      transform translateY(-50%)
      size 9px
      background-color rgba(#FFFFFF, 0.5)
      display none
      transition opacity .3s ease .2s
    }

    &-caption {
      opacity 1
      //transition opacity .3s ease .4s
    }

    &:hover {
      transition color 0s 0s
      color rgba(white, 1)
    }

    &.is-active {
      pointer-events none
      color rgba(white, 1)

      &:before {
        background-color rgba(#FFFFFF, 1)
      }
    }

    &:last-child {
      margin-bottom 0
    }
  }
}

.header-nav.is-hidden {
  display none
}

.header-nav.is-simple {
  .header-nav {
    &__item {
      padding-left 30px

      &:before {
        display block
      }

      &-caption {
        opacity 0
      }
    }
  }

  &:hover {
    .header-nav {
      &__item {
        &-caption {
          opacity 1
          transition .1s ease
        }
      }
    }
  }
}

.header-nav.is-dark {
  .header-nav {
    &__item {
      color #CBCBCE

      &:before {
        background-color #CBCBCE
      }

      &.is-active {
        color $color-blue-light

        &:before {
          background-color $color-blue-light
        }
      }

      &:hover {
        color $color-blue-light
        opacity 0.8

        &:before {
          transition-delay 0s
          background-color $color-blue-light
        }
      }
    }
  }
}

+do(1275) {
  .header-top.is-tablet-dark {
    .header-top {
      &__locales {
        color black

        &-link {
          &:before {
            background-color black
          }

          &:hover {
            color black
          }

          &.is-active {
            color $color-blue-light
          }
        }
      }

      &__btn {
        &_light {
          display none
        }

        &_dark {
          display block
        }
      }

      &__menu {
        &-toggle {
          &:before {
            display none
          }

          &:after {
            content ''
            display block
            svg('menu', 40px, $color-blue-light)
          }
        }
      }
    }
  }
}

+do(1100) {
  .header-top.is-mobile-dark {
    .header-top {
      &__locales {
        color black

        &-link {
          &:before {
            background-color black
          }

          &:hover {
            color black
          }

          &.is-active {
            color $color-blue-light
          }
        }
      }

      &__btn {
        &_light {
          display none
        }

        &_dark {
          display block
        }
      }

      &__menu {
        &-toggle {
          &:before {
            display none
          }

          &:after {
            content ''
            display block
            svg('menu', 40px, $color-blue-light)
          }
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform scale(1)
  }
  5% {
    transform scale(1.1)
  }
  10% {
    transform scale(1)
  }
  15% {
    transform scale(1.1)
  }
  20% {
    transform scale(1)
  }
}
