.info-box {
  &__wrapper {
    position relative

    &:before {
      content ''
      position absolute
      trbl 0 -100vw 50% -140px
      background #FAFBFD
      z-index 30
    }

    &:after {
      content ''
      position absolute
      trbl 50% -100vw 0 -140px
      background #F8F9FB
      z-index 30
    }
  }

  &__dots {
    position absolute
    top -70px
    left -(140 + 70) px
    z-index 30
  }

  &__content {
    padding 115px 20px
    position relative
    z-index 50

    &_small-offset {
      padding 75px 52px 20px
    }
  }

  &__title {
    font-size 60px
    line-height (68 / 60)
    font-weight 700
    margin-bottom 60px
    color $color-blue-xxdark
  }

  &__desc {
    font-family $font-roboto
    font-size 14px
    line-height (26 / 14)
    color #27262b
    padding-left 55px
  }
}

.info-box_bg-none {
  .info-box {
    &__wrapper {
      &:before,
      &:after {
        content ''
        display none
      }
    }
  }
}

+do(1000) {
  .info-box {
    &__content {
      padding 100px 0

      &_small-offset {
        padding 50px 0px
      }
    }

    &__title {
      font-size 48px
    }
  }
}

+do(750) {
  .info-box {
    &__content {
      padding 50px 0
    }

    &__title {
      font-size 36px
    }

    &__desc {
      padding-left 0px
    }
  }
}

+do(750) {
  .info-box {
    &__title {
      margin-bottom 50px
    }
  }
}

.info-list {
  &__wrapper {
    //
  }

  &__list {
    display flex
    flex-wrap wrap
    margin 0 -20px -250px -20px

    &_bottom-gap-none {
      margin-bottom 0px
    }

    &_between-gap-large {
      margin-left -50px
      margin-right -50px
    }
  }

  &__item {
    margin 0 20px 250px 20px
    flex-column(1, 3, 20px)
    display flex

    &_small-gap {
      margin-bottom 110px
    }

    &_between-gap-large {
      flex-column(1, 3, 50px)
      margin-left 50px
      margin-right 50px
    }
  }
}

.info-list_small {
  .info-list {
    &__list {
      margin 0 -20px -70px -20px
    }

    &__item {
      margin 0 20px 70px 20px
    }
  }
}

+do(1000) {
  .info-list {
    &__list {
      display flex
      flex-wrap wrap
      margin 0 -20px -100px -20px

      &_small-offset {
        margin 0 -20px 0px -20px
      }
    }

    &__item {
      margin 0 20px 100px 20px
      flex-column(1, 2, 20px)

      &_small-offset {
        margin 0 20px 20px 20px
      }
    }
  }
}

+do(750) {
  .info-list {
    &__list {
      display flex
      flex-wrap wrap
      margin 0 0 -40px 0
    }

    &__item {
      margin 0 0 40px 0
      flex-column(1, 1, 0px)
    }
  }
}

.info-card {
  flex 1 1 auto
  color #9D9DA1
  font-size 14px
  line-height (28 / 14)

  &__wrapper {
    //
  }

  &__img {
    margin-bottom 40px

    &_small-gap {
      margin-bottom 33px
    }

    &_xsmall-gap {
      margin-bottom 25px
    }
  }

  &__title {
    font-family $font-manrope
    margin-bottom 15px

    &_dark-blue {
      color $color-blue-xxdark
      font-family $font-roboto
    }
  }

  &__count {
    font-family $font-manrope
    font-size 60px
    line-height (94 / 60)
    font-weight 700
    color $color-blue-xxdark
    &_navi {

    }
  }
}

+do(750) {
  .info-card {
    &__img {
      margin-bottom 10px
      max-width 70px
    }

    &__count {
      font-size 40px
      line-height (74 / 40)
    }
  }
}

.info-card_complex {
  .info-card {
    &__img {
      margin-left -15px
      margin-bottom 28px
    }

    &__title {
      font-weight 700
      font-size 20px
      line-height (24 / 20)
      color $color-black
      margin-bottom 25px
    }

    &__description {
      color $color-black
      font-size 14px
      line-height (26 / 14)
    }
  }
}

+do(750) {
  .info-card_complex {
    .info-card {
      &__img {
        margin-left 0
        margin-bottom 20px
      }

      &__title {
        margin-bottom 18px
      }
    }
  }
}

.info-grid {
  &__wrapper {
  }

  &__list {
    display flex
    flex-wrap wrap
    margin 0 -10px -18px -10px
  }

  &__item {
    &_low {
      min-height 240px
    }
    margin 0 10px 18px 10px
    flex-column(1, 4, 10px)
    display flex
  }

  &__item_3x {
    flex-column(3, 4, 10px)

    .info-grid-card__title {
      max-width 900px
    }
  }
}

.info-grid {
  &_pos-rel {
    position relative
    z-index 99
  }
}

.info-grid.info-grid_gap-medium {
  .info-grid {
    &__list {
      margin 0 -15px -30px -15px
    }

    &__item {
      margin 0 15px 30px 15px
      flex-column(1, 3, 15px)
    }
  }
}

+do(1000) {
  .info-grid.info-grid_gap-medium {
    .info-grid {
      &__list {
        margin 0 -10px -20px -10px
      }

      &__item {
        margin 0 10px 20px 10px
        flex-column(1, 2, 10px)
      }
    }
  }
}

+do(750) {
  .info-grid.info-grid_gap-medium {
    .info-grid {
      &__item {
        flex-column(1, 1, 10px)
      }
    }
  }
}

.info-grid_2x {
  .info-grid {
    &__list {
      margin 0 -20px -18px -20px
    }

    &__item {
      min-height 240px
      margin 0 20px 18px 20px
      flex-column(1, 2, 20px)
    }
  }
}

.info-grid_2x.info-grid_gap-medium {
  .info-grid {
    &__list {
      margin 0 -15px -30px -15px
    }

    &__item {
      margin 0 15px 30px 15px
      flex-column(1, 2, 15px)
    }
  }
}

+do(1200) {
  .info-grid_2x.info-grid_gap-medium {
    .info-grid {
      &__list {
        margin 0 -10px -15px -10px
      }

      &__item {
        margin 0 10px 15px 10px
        flex-column(1, 2, 10px)
      }
    }
  }
}

+do(750) {
  .info-grid_2x.info-grid_gap-medium {
    .info-grid {
      &__item {
        flex-column(1, 1, 10px)
      }
    }
  }
}

.info-grid_3x {
  .info-grid {
    &__item {
      &_low {
        min-height 240px
      }
      flex-column(1, 3, 10px)

      &_2x {
        flex-column(2, 3, 10px)

        .info-grid-card__title {
          max-width 900px
        }
      }
    }
  }
}

+do(1200) {
  .info-grid {
    &__item {
      flex-column(1, 3, 10px)
    }
  }
  .info-grid {
    &__item {
      flex-column(1, 3, 10px)
    }

    &__item_3x {
      flex-column(2, 3, 10px)
    }
  }
}

+do(900) {
  .info-grid {
    &__item {
      flex-column(1, 2, 10px)
    }

    &__item_3x {
      flex-column(2, 2, 10px)
    }
  }
  .info-grid {
    &__item {
      flex-column(1, 2, 10px)
    }
  }
  .info-grid_3x {
    .info-grid {
      &__item {
        flex-column(1, 2, 10px)
      }
    }
  }
}

+do(750) {
  .info-grid {
    &__list {
      margin 0 0 -18px 0
    }

    &__item {
      margin 0 0 18px 0
      flex-column(1, 1, 0px)
    }
  }
  .info-grid_3x {
    .info-grid {
      &__item {
        flex-column(1, 1, 0px)
      }
    }
  }
  .info-grid_2x {
    .info-grid {
      &__list {
        margin 0 0 -18px 0
      }

      &__item {
        margin 0 0 18px 0
        flex-column(1, 1, 0px)
      }
    }
  }
}

.info-grid-card {
  flex 1 1 auto
  border 2px solid $color-grey-xxlight
  background $color-white
  color #27262B
  font-size 14px
  line-height (28 / 14)
  min-height 296px

  &_low {
    min-height 236px
  }

  &__wrapper {
    padding 27px 32px

    &_big-offset {
      padding 45px
    }
  }

  &__count {
    color $color-blue
    font-size 32px
    line-height 1
    font-weight 600
    font-family $font-manrope
    margin-bottom 25px

    &_bottom-gap {
      margin-bottom 45px
    }

    &_green {
      color #0DA19C
    }

    &_blue-light {
      color #2868C7
    }
  }

  &__icon {
    margin-bottom 30px
  }

  &__title {
    max-width 245px

    &_highlight {
      font-size 18px
      font-weight 700
      line-height (28 / 18)
      margin-bottom 30px
    }

    &_green {
      color #0DA19C
    }

    &_large {
      max-width 100%
    }

    &_max-width_none {
      max-width none
    }
  }
}

.info-grid-card_grey {
  background-color #FAFBFD
  border-color #FAFBFD
}

.info-grid-card_offset-top_none {
  .info-grid-card {
    &__wrapper {
      padding-top 0
    }
  }
}

.info-grid-card_dark {
  background #050824
  border-color #050824
  color white

  .info-grid-card {
    &__wrapper {
      padding 0
    }
  }
}

.info-grid-card_dark_green {
  background #050824
  border-color #050824
  color white
}

.info-grid-card_min-height_none {
  min-height 0 !important
}

.info-grid-card_yellow {
  .info-grid-card {
    &__count {
      color $color-yellow-like-orange-sun
    }
  }
}

.info-grid-card_snowy-blue {
  .info-grid-card {
    &__count {
      color $color-blue-like-postamat
    }
  }
}

.info-grid-card_light_green {
  .info-grid-card {
    &__count {
      color #37C497
    }
  }
}

.info-grid-card_orange {
  .info-grid-card {
    &__count {
      color #FA7A1D
    }
  }
}

.info-grid-card_orange-dark {
  .info-grid-card {
    &__count {
      color #F37021
    }
  }
}

.info-grid-card_purple {
  .info-grid-card {
    &__count {
      color #882DE2
    }
  }
}

.info-grid-card_dark_purple {
  .info-grid-card {
    &__count {
      color #5128C7 !important
    }
  }
}

.info-grid-card_color_black {
  color black !important
}

.info-grid-card_transparent {
  background transparent
  color $color-white
  border 2px solid rgba(255, 255, 255, 0.15)

  .info-grid-card {
    &__count {
      color #FA7A1D
    }
  }
}

.info-grid-card_white {
  background: #F67C33;
  color $color-white
  border none

  .info-grid-card {
    &__count {
      color $color-white
    }
  }
}

.info-grid-card_ticket-booth {
  .info-grid-card {
    &__count {
      color #EFBB35
    }
  }
}

.info-grid-card_ticket-transport {
  .info-grid-card {
    &__count {
      color #DC4A2F
    }
  }
}

.info-grid-card_simple {
  border none
  background transparent
  min-height 100px

  .info-grid-card {
    &__wrapper {
      padding-left 53px
      padding-right 53px
      padding-top 20px
    }

    &__img {
      margin-bottom 30px
    }
  }
}

.info-grid-card_simple-white {
  background transparent
  min-height 220px
  color $color-white
  border 2px solid rgba(255, 255, 255, 0.3)

  .info-grid-card {
    &__count {
      color $color-white
      margin-bottom 40px
    }
  }
}

+do(750) {
  .info-grid-card {
    min-height 250px

    &__wrapper {
      padding 20px 20px
    }

    &__title {
      max-width 100%
    }
  }
  .info-grid-card_simple {
    min-height 100px

    .info-grid-card {
      &__wrapper {
        padding 0 20px
      }
    }
  }
}

+do(500) {
  .info-grid-card_simple {
    .info-grid-card {
      &__wrapper {
        padding 0
      }
    }
  }
}

.info-grid-card_wide {
  .info-grid-card {
    &__title {
      max-width 100%
    }

    &__wrapper {
      padding-bottom 70px
    }
  }
}

.info-grid-card_min-small {
  min-height 210px
}

.info-desc {
  min-height 470px
  +do(750) {
    min-height 0
  }

  &__wrapper {
    max-width 580px
  }

  &__side {
    margin-bottom 45px
    +do(750) {
      margin-bottom 25px
    }
  }

  &__title {
    font-size 20px
    font-family $font-title
  }

  &_raspberry-pi {
    position relative

    &:after {
      content ''
      position absolute
      width 800px
      height 500px
      right -360px
      top 0
      background-position center
      background-repeat no-repeat
      background-size contain
      background-image url('../images/core/raspberry-pi.png')
      display block
      +do(1200) {
        position relative
        right 0
        display block
        max-width 100%
        padding-top 60px
      }
      +do(750) {
        height 210px
      }
    }
  }
}

.info-grid-card {
  &__title {
    &_blue {
      color #1F4ABD
      margin-bottom 60px
    }
  }

  &__count {
    &_green-light {
      color #65BDC6
    }
  }
}

.info-desc {
  &_pay-logic {
    min-height 330px
    position relative

    &:after {
      content ''
      position absolute
      width 1170px
      height 250px
      right -600px
      top: 50%;
      transform: translateY(-50%);
      background-position center
      background-repeat no-repeat
      background-size contain
      background-image url('../images/pay-logic-full.svg')
      display block
      max-width 100%
      +do(1400) {
        right -800px
      }
      +do(1200) {
        padding-top 30px
        position relative
        right 0
      }
      +do(750) {
        top 0
        transform none
        height 120px
      }
    }
  }
}

.info-grid-title {
  font-family $font-title
  font-size 20px
  margin-bottom 60px
}

+do(1200) {
  .info-grid-title {
    font-size 18px
    margin-bottom 40px
  }
}

+do(1000) {
  .info-grid-title {
    font-size 16px
    margin-bottom 30px
  }
}

+do(750) {
  .info-grid-title {
    margin-bottom 10px
  }
}

.info-table {
  overflow-x auto

  &__wrapper {
    min-width 900px
    border-bottom 1px solid rgba(#FFFFFF, .2)
  }

  &__list_start {
    border-bottom 1px solid rgba(#FFFFFF, .2)
  }

  &__list {
    display flex
    flex-wrap wrap
  }

  &__list:not(&__list_start):nth-child(odd) {
    background rgba(#FFFFFF, .06)
  }

  &__item {
    flex-column(1, 4)
    padding 40px 40px
    box-sizing border-box
  }

  &__text {
    font-size 14px
    line-height (20 / 14)
    color #fff
  }

  &__text_large {
    font-size 20px
    line-height (24 / 20)
    color rgba(#FFFFFF, .5)
    font-weight 500
  }

  &__text_orange {
    color #F19516
  }

  &__text_red {
    color #EB1A30
  }
}

+do(900) {
  .info-table {
    margin 0 -20px

    &__item {
      padding 20px 20px
    }

    &__text {
      font-size 13px
      line-height (18 / 13)
    }

    &__text_large {
      font-size 17px
      line-height (21 / 17)
    }
  }
}

.info-grid-complex {
  &__wrapper {
    display flex
    flex-wrap wrap
    margin 0 -15px -26px -15px
  }

  &__main {
    margin 0 15px 26px 15px
    flex-column(2, 3, 15px)
  }

  &__side {
    margin 0 15px 26px 15px
    flex-column(1, 3, 15px)
  }

  &__list {
    display flex
    flex-wrap wrap
    margin 0 -15px -26px -15px
  }

  &__item {
    margin 0 15px 26px 15px
    flex-column(1, 2, 15px)
  }

  &__item_mobile {
    display none
  }
}

+do(1200) {
  .info-grid-complex {
    &__wrapper {
      display flex
      flex-wrap wrap
      margin 0 -10px -20px -10px
    }

    &__main {
      margin 0 10px 20px 10px
      flex-column(2, 3, 10px)
    }

    &__side {
      margin 0 10px 20px 10px
      flex-column(1, 3, 10px)
    }

    &__list {
      display flex
      flex-wrap wrap
      margin 0 -10px -20px -10px
    }

    &__item {
      margin 0 10px 20px 10px
      flex-column(1, 2, 10px)
    }

    &__item_mobile {
      display none
    }
  }
}

+do(900) {
  .info-grid-complex {
    &__main {
      flex-column(1, 1, 10px)
    }

    &__side {
      display none
    }

    &__item_mobile {
      display block
      flex-column(1, 1, 10px)
    }
  }
}

+do(500) {
  .info-grid-complex {
    &__item {
      flex-column(1, 1, 10px)
    }
  }
}


.info-img {
  display flex
  justify-content center
}

.info-grid-card-complex {
  display block
  text-decoration none
  flex 1 1 auto
  position relative
  background linear-gradient(0deg, #FFFFFF, #FFFFFF)
  border 2px solid rgba(226, 227, 234, 0.5)
  box-sizing border-box

  &::before {
    content ''
    position absolute
    top 45px
    right 45px
    z-index 90
    display block
    transition $transition-main
    opacity 0
    transform translateX(-15px)
    svg('v-arrow-r', 25px, #fff)
  }

  &__bg {
    z-index 25
    position absolute
    trbl 0
    transition $transition-fast
    opacity 0
  }

  &__bg-img {
    position absolute
    trbl 0
    z-index 20
    opacity 0
    transition $transition-fast
  }

  &__wrapper {
    position relative
    z-index 50
    min-height 320px
    padding 40px 48px
    box-sizing border-box
  }

  &__icon {
    min-height 30px
    margin-bottom 35px

    &::before {
      content ''
      display block
    }

    &_pay-logic::before {
      svg('v-icon-1', 40px, #264DAB)
    }

    &_smart-keeper::before {
      svg('v-icon-2', 30px, #264DAB)
    }

    &_hub-pay-logic::before {
      svg('v-icon-3', 26px, #264DAB)
    }

    &_po-ksk::before {
      svg('v-icon-4', 18px, #264DAB)
    }

    &_service-fc::before {
      svg('v-icon-5', 23px, #264DAB)
    }

    &_air-pc::before {
      svg('v-icon-6', 30px, #264DAB)
    }
  }

  &__title {
    font-size 18px
    line-height (30 / 18)
    font-weight 700
    color #040724
    margin-bottom 25px
  }

  &__description {
    font-size 14px
    line-height (26 / 14)
    color rgba(39, 38, 43, 0.7)
  }

  &:hover::before {
    opacity 1
    transform none
  }

  &:hover:not(.info-grid-card-complex_vacancy) & {
    &__bg {
      opacity 1
    }

    &__bg-img {
      opacity .03
    }

    &__title {
      color #fff
    }

    &__description {
      color #fff
    }

    &__icon {
      &_pay-logic::before {
        svg-color('v-icon-1', #fff)
      }

      &_smart-keeper::before {
        svg-color('v-icon-2', #fff)
      }

      &_hub-pay-logic::before {
        svg-color('v-icon-3', #fff)
      }

      &_po-ksk::before {
        svg-color('v-icon-4', #fff)
      }

      &_service-fc::before {
        svg-color('v-icon-5', #fff)
      }

      &_air-pc::before {
        svg-color('v-icon-6', #fff)
      }
    }
  }
}

+do(750) {
  .info-grid-card-complex {
    &__wrapper {
      padding 30px 20px 40px 20px
      min-height auto
    }
  }
}

.info-grid-card-complex_vacancy {
  display flex

  &::before {
    svg('v-arrow-r', 25px, #274DAB)
  }
}

.info-grid-card-complex_vacancy .info-grid-card-complex {
  &__wrapper {
    flex 1 1 auto
    display flex
    flex-direction column
  }

  &__description {
    max-width 320px
    margin-bottom 50px

    span {
      color #27262B
    }
  }

  &__title-end {
    margin-top auto
    font-size 18px
    line-height (30 / 18)
    font-weight 500
    color #040724
  }
}

.info-grid-card-complex_vacancy:hover {
  .info-grid-card-complex__title {
    color #274DAB
  }
}

+do(750) {
  .info-grid-card-complex_vacancy .info-grid-card-complex {
    &__description {
      margin-bottom 30px
    }
  }
}

.info-grid-card.info-grid-card_dark-bg {
  background-color #040724
  color white !important
}
