.intro-slider {
   &__item {
      display flex
      flex 1 0 auto
   }
   &__nav {
      display none
      position relative
      z-index 100
   }
}

+do(1200) {
   .intro-slider {
      min-height 100vh
      &__nav {
         padding-top 20px
         display block
      }
   }
}
+do(1200) {
   .intro-slider {
      min-height 0
      &__nav {
         padding-top 20px
         display block
      }
   }
}

+do('miw', 1200) {
   +do('mah', 600) {
      .intro-slider {
         &__nav {
            display block
            padding-top 40px
         }
      }
   }
}