.intro-nav {
   position absolute
   left 0
   right 0
   bottom 0
   opacity 0
   transition .3s linear
   visibility hidden
   transform translate3d(0, 0, 30px)
   &__preview {
      width 360px
      height 202px
      background #000
      position absolute
      bottom 100%
      right 0
      overflow: hidden;
      &-poster {
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         background-position center
         background-repeat no-repeat
         background-size cover
         z-index 20
         opacity 1
         transition .3s ease
      }
      &-video {
         display none
         position absolute
         max-width 100%
         top 50%
         left 50%
         transform translate(-50%, -50%)
         background-position center
         background-size contain
         background-image url('../images/spinner.svg')
         background-repeat no-repeat
      }
      &-item {
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         opacity 0
         display none
         &.is-active {
            display block
            opacity 1
         }
      }
      &_hidden {
         display none
      }
   }
   &__wrapper {
      display flex
      justify-content space-between
   }
   &__prev {
      size 100px
      background-color $color-green
      position relative
      cursor pointer
      transition .3s ease
      will-change width
      &:before {
         content ''
         display block
         position absolute
         top 50%
         left 50%
         transform translate(-50%, -50%)
         svg('arrow-long-left', 34px, $color-white)
         transition transform .1s linear
      }
      &:hover {
         width 140px
      }
      &:active {
         &:before {
            transform translate(-50% - 15px, -50%)
         }
      }
   }
   &__next {
      size 100px
      position relative
      cursor pointer
      transition .3s ease
      will-change width
      box-sizing border-box
      border-left 1px solid rgba(#FFFFFF, 0.3)
      &:before {
         content ''
         display block
         position absolute
         top 50%
         left 50%
         transform translate(-50%, -50%)
         svg('arrow-long-right', 34px, $color-white)
         transition transform .1s linear
      }
   }
   &__action {
      position relative
      background-color $color-pink
      color white
      cursor pointer
      user-select none
      transition .256s ease
      &-counter {
         margin-right 20px
         position absolute
         right 100%
         top 50%
         transform translateY(-50%)
      }
      &-minor {
         display flex
         min-height 100px
         align-items center
      }
      &-main {
         padding 0 40px
         box-sizing border-box
         font-weight 700
         font-size 22px
         line-height (40 / 22)
         letter-spacing 0.03em
         min-width 260px
         text-align center
      }
      &:hover {
         & ^[0]__next {
            width 140px
         }
         & ^[0]__preview {
            &-poster {
               opacity 0
            }
         }
      }
      &:active {
         & ^[0]__next {
            &:before {
               transform translate(calc(-50% + 15px), -50%)
            }
         }
      }
   }
   &__main {
      &:hover {
         & ^[0]__preview {
            &-video {
               display block
            }
         }
      }
   }
}

+do(750) {
   .intro-nav {
      &__action {
         &-main {
            display none
         }
      }
   }
}

.intro-nav_visible {
   position relative
   opacity 1
   z-index 99
   visibility visible
   transform none
}

+do(1200) {
   .intro-nav {
      &__prev {
         size 75px
         &:before {
            svg-size('arrow-long-left', 25px)
         }
         &:hover {
            width 95px
         }
      }
      &__next {
         height 75px
         width 75px
         &:before {
            svg-size('arrow-long-right', 25px)
         }
      }
      &__preview {
         width 240px
         height 180px
         &-video {
            display none
         }
      }
      &__action {
         &-main {
            font-size 20px
            min-width 240px
            padding 0 30px
         }
         &-minor {
            min-height 75px
         }
         &:hover {
            & ^[0]__preview {
               &-poster {
                  opacity 1
               }
            }
            & ^[0]__next {
               width 95px
            }
         }
      }
   }
}

.header_1 {
   .intro-nav {
      opacity 1
      visibility visible
   }
}