.intro-item {
   color white
   top 0
   left 0
   right 0
   bottom 0
   transition .456s linear, opacity 0s
   opacity 0
   visibility hidden
   overflow hidden
   position absolute
   max-height 100%
   display none
   &__overlay-side {
      content ''
      position absolute
      max-width 50%
      display block
      width 0
      top 0
      bottom 0
      z-index 20
      margin-left -30px
      transition .456s linear
      transform translate3d(0, 0, 30px)
   }
   &__overlay-main {
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 19
      pointer-events none
      transition .3s linear
      transform translate3d(0, 0, 30px)
   }
   &__wrapper {
      display flex
      flex 1 1 100%
      position relative
      z-index 34
      transform translate3d(0, 0, 50px)
   }
   &__more {
      color white
   }
   &__billboard {
      position: absolute;
      transform: translateX(-50%);
      top 0
      left 50%
      min-width: 100%
      min-height: 100%
      background-position center
      background-repeat no-repeat
      background-size cover
      display none
   }
   &__video {
      position: absolute;
      transform: translate3d(-50%, 0, 5px);
      top 0
      left 50%
      min-width: 100%
      min-height: 100%
      display block
      opacity 0.8
      z-index -1
   }
   &__title {
      margin-bottom 83px
   }
   &__desc {
      box-sizing border-box
      padding-left 65px
      margin-bottom 60px
      font-size 14px
      line-height 1.5
      height (7 * 1.5) * 1em
      overflow hidden
      text-overflow ellipsis
   }
   &__action {
      margin-top auto
      box-sizing border-box
      padding-left 60px
   }
   &__cols {
      display flex
      flex 1
      &-item {
         flex 1
         display flex
         max-width calc(50%)
         flex-basis calc(50%)
         position relative
         &:before {
            content ''
            position absolute
            top 0
            left -50vw
            right 0
            bottom 0
            display block
         }
      }
   }
   &__main {
      opacity 0
      position relative
      z-index 120
      box-sizing border-box
      padding-right 60px
      flex 1
      transition .15s ease
      padding-top 200px
      transform translate3d(0, 0, 60px)
      &-wrapper {
         max-width 560px
         min-height 550px
         display flex
         flex-direction column
      }
      +do('mih', 1080) {
         //display flex
         //align-items center
         //padding-top 30px
         //padding-bottom 30px
      }
   }
   &.is-active {
      opacity 1
      visibility visible
      position absolute
      z-index 99
      display block
      & ^[0]__overlay-side {
         width 100%
      }

      & ^[0]__main {
         opacity 1
      }
   }
   &.is-animate-hidden {
      & ^[0]__overlay-side {
         width 0
      }
      & ^[0]__main {
         opacity 0
      }
   }
}

+do('miw', 1200) {
   +do('mah', 900) {
      .intro-item {
         &__main {
            padding-top 160px
            &-wrapper {
               min-height 0
            }
         }
         &__title {
            margin-bottom 25px
            font-size 64px
         }
      }
   }

   +do('mah', 800) {
      .intro-item {
         &__main {
            padding-top 185px
         }
         &__title {
            margin-bottom 20px
            font-size 60px
         }
      }
   }

   +do('mah', 700) {
      .intro-item {
         &__main {
            padding-top 160px
         }
         &__title {
            margin-bottom 20px
            font-size 48px
         }
      }
   }
   +do('mah', 600) {
      .intro-item {
         position static
      }
   }
}

+do(1200) {
   .intro-item {
      &__video {
         display none
         pointer-events none
         visibility hidden
      }
      &__billboard {
         display block
      }
      &__main {
         &-wrapper {
            min-height 0
         }
      }
      &__desc {
         padding-left 0
         height 102px
         overflow hidden
         text-overflow ellipsis
         margin-bottom 30px
      }
      &__action {
         padding-left 0
      }
      &__title {
         font-size 54px
      }
      &.is-active {
         position static
         top 0
         left 0
         right 0
         bottom 0
      }
   }
}

+do(1000) {
   .intro-item {
      &__overlay-side {
         margin-left 0
         left 0
         max-width 90%
      }
      &__main {
         padding-right 0
         &-wrapper {
            max-width none
            min-height 0
         }
      }
      &__title {
         max-width 600px
         margin-bottom 60px
      }
      &__desc {
         line-height 1.5
         max-width 550px
         margin-bottom 30px
         height ((10 * 1.5) * 1em)
         overflow hidden
         text-overflow ellipsis
      }
      &__cols {
         display block
         &-item {
            max-width none
         }
      }
   }
}

+do(750) {
   .intro-item {
      &__overlay-side {
         max-width 100%
      }
      &__main {
         padding-top 60px
      }
      &__action {
         min-height 50px
      }
      &__title {
         font-size 26px
         margin-bottom 20px
         line-height 1.2
         height (1.2 * 2em)
      }
   }
}