.iot-intro {
  &__title {
    font-family $font-title
    font-weight 900
    font-size 68px
    color #040724
    line-height 1.2
    margin-bottom 10px
  }

  &__img {
    &_1 {
      width 585px
      height 425px
      background-position center
      background-repeat no-repeat
      background-size contain
      position absolute
      top 50%
      transform translateY(-50%)
      margin-left -200px
      z-index 25
      margin-top -10px
      filter: drop-shadow(40px 60px 60px rgba(#040911, 0.15))
    }

    &_2 {
      width 290px
      height 200px
      background-position center
      background-repeat no-repeat
      background-size contain
      position absolute
      top 50%
      transform translateY(-50%)
      left 545px
      margin-top -110px
      filter drop-shadow(40px 60px 60px rgba(#040911, 0.15))
    }
  }

  &__desc {
    max-width 380px
    font-size 14px
    line-height (26 / 14)
    margin-bottom 30px
    padding-left 30px
  }

  &__content {
    display flex
    padding-top 40px
    position relative
    border-bottom 1px solid #CCCBCE

    &:before {
      content: ''
      position absolute
      width 1130px
      height 276px
      background-position center
      background-repeat no-repeat
      background-size contain
      background-image url('../images/soft-logic.svg')
      bottom -120px
      z-index 5
      right -425px
    }
  }

  &__main {
    flex 1
    max-width 875px
    box-sizing border-box
    padding-right 15px
    position relative
    z-index 50
  }

  &__side {
    flex 0 0 auto
    position relative
    padding-top calc(25% + 145px)

    &:before {
      content ''
      position absolute
      top -100vh
      left 0
      right -100vw
      bottom 0
      background-color #28AC75
      z-index -1
    }
  }
}

.iot-intro.iot-intro_gap {
  margin-bottom 80px
}

+do(1200) {
  .iot-intro.iot-intro_gap {
    margin-bottom 60px
  }
}

+do(1000) {
  .iot-intro.iot-intro_gap {
    margin-bottom 50px
  }
}

+do(750) {
  .iot-intro.iot-intro_gap {
    margin-bottom 30px
  }
}

+do(1800) {
  .iot-intro {
    &__img {
      &_2 {
        margin-left -130px
      }
    }
  }
}

+do(1500) {
  .iot-intro {
    &__img {
      &_2 {
        margin-left -160px
      }
    }
  }
}

+do(1400) {
  .iot-intro {
    &__main {
      max-width 665px
    }

    &__img {
      &_1 {
        width 420px
        height 300px
        margin-left -95px
        margin-top -40px
      }
    }
  }
}

+do(1200) {
  .iot-intro {
    &__title {
      font-size 40px
    }

    &__content {
      &:before {
        width 1025px
        height 190px
        bottom -20px
        z-index 5
        right -385px
      }
    }
  }
}

+do(1000) {
  .iot-intro {
    &__title {
      font-size 28px
    }

    &__main {
      max-width 585px
    }

    &__content {
      &:before {
        width 495px
        height 110px
        bottom 42px
        z-index 5
        right -105px
      }
    }
  }
}

+do(500) {
  .iot-intro {
    &__main {
      max-width 370px
    }

    &__content {
      padding-top 20px

      &:before {
        width 300px
        height 65px
        bottom -11px
        z-index 5
        right -160px
      }
    }

    &__img {
      &_1 {
        width 205px
        height 145px
        margin-left -90px
        margin-top -56px
      }
    }
  }
}

.iot-title-2 {
  font-size 60px
  font-weight 700
  font-family $font-title
  line-height 1.2
  color #040724
}

+do(1200) {
  .iot-title-2 {
    font-size 36px
  }
}

+do(750) {
  .iot-title-2 {
    font-size 26px
  }
}

.iot-steps {
  &__title {
    margin-bottom 35px
  }

  &__content {
    &-main {
      max-width 1520px
    }
  }

  &__desc {
    font-size 14px
    padding-left 25px
    box-sizing border-box
    max-width 480px
    margin-bottom 140px
    line-height (26 / 14)
  }

  &__list {
    &-item {
      margin-bottom 220px
      display flex

      &:nth-child(2n) {
        justify-content flex-end
      }
    }
  }
}

+do(1600) {
  .iot-steps {
    &__list {
      &-item {
        margin-bottom 60px
      }
    }
  }
}

.iot-step {
  &__wrapper {
    display flex
    margin-left -15px
    margin-right -15px
  }

  &__side {
    margin-left 15px
    margin-right 15px
  }

  &__main {
    margin-left 15px
    margin-right 15px
  }

  &__number {
    width 70px
    height 101px
    background-position center
    background-repeat no-repeat
    background-size contain

    &_1 {
      background-image url('../images/iot/iot-otline-number-1.svg')
    }

    &_2 {
      background-image url('../images/iot/iot-otline-number-2.svg')
    }

    &_3 {
      background-image url('../images/iot/iot-otline-number-3.svg')
    }

    &_4 {
      background-image url('../images/iot/iot-otline-number-4.svg')
    }

    &_5 {
      background-image url('../images/iot/iot-otline-number-5.svg')
    }

    &_6 {
      background-image url('../images/iot/iot-otline-number-6.svg')
    }

    &_7 {
      background-image url('../images/iot/iot-otline-number-7.svg')
    }
  }

  &__content {
    display flex
    margin-left -40px
    margin-right -40px

    &-side {
      margin-left 40px
      margin-right 40px
    }

    &-main {
      margin-left 40px
      margin-right 40px
    }

    &-title {
      font-size 20px
      font-weight 700
      margin-bottom 40px
    }

    &-desc {
      max-width 420px
      font-size 14px
      line-height (26 / 14)
    }

    &-img {
      background-position center
      background-repeat no-repeat
      background-size contain

      &_1 {
        width 415px
        height 240px
        background-image url('../images/iot/iot-step-1.png')
      }

      &_2 {
        width 294px
        height 280px
        background-image url('../images/iot/iot-step-2.png')
      }

      &_3 {
        width 378px
        height 239px
        background-image url('../images/iot/iot-step-3.png')
      }

      &_4 {
        width 315px
        height 207px
        background-image url('../images/iot/iot-step-4.png')
      }

      &_5 {
        width 296px
        height 255px
        background-image url('../images/iot/iot-step-5.png')
      }

      &_6 {
        width 329px
        height 222px
        background-image url('../images/iot/iot-step-6.png')
      }

      &_7 {
        width 448px
        height 439px
        background-image url('../images/iot/iot-step-7.png')
      }
    }
  }
}
.iot-step_depozit .iot-step {
  &__number {
    &_1 {
      background-image url('../images/depozit/n1.svg')
    }

    &_2 {
      background-image url('../images/depozit/n2.svg')
    }

    &_3 {
      background-image url('../images/depozit/n3.svg')
    }

    &_4 {
      background-image url('../images/depozit/n4.svg')
    }

    &_5 {
      background-image url('../images/depozit/n5.svg')
    }
  }

  &__content-img {
    &_1 {
      width (867 / 2)px
      height (813 / 2)px
      background-image url('../images/depozit/to1.png')
    }

    &_2 {
      width (609 / 2)px
      height (480 / 2)px
      background-image url('../images/depozit/to2.png')
    }

    &_3 {
      width (640 / 2)px
      height (543 / 2)px
      background-image url('../images/depozit/to3.png')
    }

    &_4 {
      width (520/2)px
      height (320/2)px
      background-image url('../images/depozit/to4.png')
    }

    &_5 {
      width (970/2)px
      height (372/2)px
      background-image url('../images/depozit/to5.png')
    }
  }
}


+do(1200) {
  .iot-steps {
    &__desc {
      margin-bottom 80px
    }
  }
  .iot-step {
    &__wrapper {
      margin-left -15px
      margin-right -15px
    }

    &__side {
      margin-left 15px
      margin-right 15px
    }

    &__main {
      margin-left 15px
      margin-right 15px
    }


    &__content {
      margin-left -20px
      margin-right -20px

      &-side {
        margin-left 20px
        margin-right 20px
      }

      &-main {
        margin-left 20px
        margin-right 20px
      }

      &-title {
        font-size 20px
        margin-bottom 20px
      }

      &-desc {
        max-width 320px
      }

      &-img {
        &_1 {
          width 415px
          height 240px
        }

        &_2 {
          width 294px
          height 280px
        }
      }
    }
  }

}

+do(1000) {
  .iot-step {
    &__wrapper {
      margin-left -15px
      margin-right -15px
    }

    &__side {
      margin-left 15px
      margin-right 15px
    }

    &__main {
      margin-left 15px
      margin-right 15px
    }


    &__content {
      display block

      &-desc {
        max-width 380px
      }

      &-side {
        margin-bottom 40px
      }

      &-img {
        &_1 {
          width 415px
          height 240px
        }

        &_2 {
          width 294px
          height 280px
        }
      }
    }
  }

}

+do(750) {
  .iot-steps {
    &__title {
      margin-bottom 20px
    }

    &__desc {
      margin-bottom 40px
    }

    &__list {
      &-item {
        display block
        margin-bottom 30px
      }
    }
  }

  .iot-step {
    &__side {
      margin-bottom 40px
    }

    &__main {
    }

    &__number {
      width 25px
      height 40px
    }

    &__content {
      display block

      &-desc {
        max-width 380px
      }

      &-side {
        margin-bottom 20px
      }

      &-main {
        display flex
        justify-content flex-end
      }

      &-img {
        &_1 {
          width 415px
          height 240px
        }

        &_2 {
          width 294px
          height 280px
        }
      }
    }
  }

}

.iot-utp {
  padding-bottom 60px
  margin-bottom 72px
  border-bottom 1px solid rgba(#CCCBCE, 0.3)

  &__side {
    margin-bottom 60px
  }
}

+do(1000) {
  .iot-utp {
    padding-bottom 20px
    margin-bottom 32px

    &__side {
      margin-bottom 20px
    }
  }
}

.iot-card {
  flex 1
  background white
  padding 40px
  display flex
  border 2px solid #E2E3EA
  min-height 430px
  box-sizing border-box
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__wrapper {
    flex 1
    display flex
    flex-direction column
  }

  &__header {
    margin-bottom 50px
    color #28AC75
    font-weight 600
    font-size 32px
    line-height 1.5
  }

  &__main {
    font-size 14px
    line-height 1.5
  }

  &__footer {
    margin-top auto
  }
}


+do(1200) {
  .iot-card {
    padding 20px 30px 40px 30px
    min-height 300px

    &__header {
      margin-bottom 15px
    }
  }
}

+do(1000) {
  .iot-card {
    padding 15px
    min-height 300px

    &__header {
      margin-bottom 15px
    }
  }
}

.iot-card.iot-card_link {
  min-height 300px
  transition .3s ease

  &:hover {
    opacity 0.8
  }
}

+do(1600) {
  .iot-card.iot-card_link {
    min-height 260px
  }
}

+do(1200) {
  .iot-card.iot-card_link {
    min-height 220px
  }
}

+do(1000) {
  .iot-card.iot-card_link {
    min-height 200px
  }
}

.iot-cards {
  &__list {
    margin-left -15px
    margin-right -15px
    margin-bottom -30px
    display flex
    flex-wrap wrap

    &-item {
      margin-left 15px
      margin-right 15px
      margin-bottom 30px
      max-width calc(33.33% - 30px)
      flex-basis calc(33.33% - 30px)
      display flex
    }
  }
}

+do(1000) {
  .iot-cards {
    &__list {
      margin-left -34px
      margin-right -34px
      padding-left 30px
      padding-right 30px
      display flex
      flex-wrap nowrap
      overflow-x auto
      -webkit-overflow-scrolling touch

      &-item {
        margin-left 4px
        margin-right 4px
        margin-bottom 30px
        display flex
        flex 0 0 260px
        max-width none
      }

      &:after {
        flex 0 0 34px
        content ''
        display block
      }
    }
  }
}

.iot-box {
  &__wrapper {
    position relative

    &:before {
      content ''
      position absolute
      top 160px
      left -120px
      right -120px
      bottom 160px
      background #FAFBFD
      z-index -1
    }
  }
}

.iot-ci {
  font-size 14px
  line-height 1.2
  margin-bottom 240px

  &__side {
    margin-bottom 30px
  }

  &__subtitle {
    font-size 20px
    font-family $font-title
    margin-bottom 60px
  }

  &__image {
    filter: drop-shadow(40px 60px 60px rgba(#040911, 0.15))
  }

  &__list {
    &-item {
      margin-bottom 40px
      padding-left 44px
      box-sizing border-box
      position relative

      &:before {
        content ''
        position absolute
        top 0
        left 0
        width 10px
        height 10px
        background-color #0DA19C
      }

      &:last-child {
        margin-bottom 0
      }
    }
  }

  &__content {
    &-side {
      padding-bottom 80px
      margin-bottom 80px
      border-bottom 1px solid rgba(#CCCBCE, 0.3)
    }

    &-main {

    }
  }

  &__desc {
    max-width 540px
  }

  &__cols {
    display flex
    flex-wrap wrap
    margin-left -32px
    margin-right -32px

    &-item {
      flex 1
      margin-left 32px
      margin-right 32px
    }
  }
}

+do(1000) {
  .iot-ci {
    margin-bottom 60px

    &__cols {
      display block

      &-item {
        &_side {
          margin-bottom 30px
        }
      }
    }

    &__content {
      &-side {
        padding-bottom 30px
        margin-bottom 30px
      }
    }

    &__subtitle {
      margin-bottom 30px
    }

    &__list {
      &-item {
        margin-bottom 15px
      }
    }
  }
}

.iot-work {
  margin-bottom 345px

  &__side {
    margin-bottom 60px
  }

  &__cols {
    margin-left -50px
    margin-right -50px
    display flex
    flex-wrap wrap
    padding-left 40px
    box-sizing border-box
    max-width 1280px

    &-item {
      flex 1
      margin-left 50px
      margin-right 50px
    }
  }
}

+do(1000) {
  .iot-work {
    margin-bottom 40px
    &__cols {
      display block
      padding-left 0
      &-item {
        &_side {
          margin-bottom 20px
        }
      }
    }
  }
}

.iot-fly-x {
  animation iotFlyX 1.5s linear alternate-reverse infinite
}

.iot-fly-y {
  animation iotFlyY 1.5s linear alternate-reverse infinite
}

@keyframes iotFlyY {
  0% {
    transform translateY(calc(-50% - 20px))
  }
  100% {
    transform translateY(calc(-50% + 20px))
  }
}

@keyframes iotFlyX {
  0% {
    transform translateY(-50%) translateX(-30px)
  }
  100% {
    transform translateY(-50%) translateX(30px)
  }
}