.link-list {
  &__list {
    display flex
    flex-wrap wrap
    margin-right -9px
    margin-left -9px

    &-item {
      margin-right 9px
      margin-left 9px
      padding-left 18px
      position relative
      &:before {
        content ''
        position absolute
        bottom 0
        width 1px
        height 30px
        background-color #F0F0F1
        left 0
        top 50%
        transform translateY(-50%)
      }
      &:first-child {
        padding-left 0
        &:before {
          display none
        }
      }
    }
  }
}

.link-item {
  padding-right 30px
  position relative

  &:before {
    content ''
    position absolute
    right 0
    top 0
    svg('link-color-arrow', 16px, #5B28C7)
  }

  &_dark-purple {
    color #5B28C7
  }
}