.list-metric {
   font-size 14px
   line-height (26 / 14)
   &__list {
      display flex
      flex-wrap wrap
      margin-right -30px
      margin-left -30px
      &-item {
         flex 1
         margin-right 30px
         margin-left 30px
         max-width calc(33.33% - 60px)
         flex-basis calc(33.33% - 60px)
      }
   }
   &__item {
      &-icon {
         display flex
         justify-content center
         align-items center
         margin-bottom 30px
         img {
            display block
            max-width 100%
         }
      }
      &-title {
         font-size 80px
         font-weight 700
         line-height 1
         &_small {
            font-size 48px
         }
      }
      &-side {
         margin-bottom 25px
      }
      &-desc {
         color #9D9DA1
      }
      &_align_center {
         text-align center
      }
   }
}

.list-metric_4x {
   .list-metric {
      &__list-item {
         flex-column(1, 4, 30px)
      }
   }
}

+do(1200) {
   .list-metric {
      &__item {
         &-title {
            font-size 60px
            font-weight 700
            line-height 1
         }
      }
   }

   .list-metric_4x {
      .list-metric {
         &__list-item {
            flex-column(1, 3, 30px)
         }
      }
   }

}

+do(1000) {
   .list-metric {
      &__list {
         display flex
         flex-wrap wrap
         margin-right -20px
         margin-left -20px
         &-item {
            flex 1
            margin-right 20px
            margin-left 20px
            max-width calc(50% - 40px)
            flex-basis calc(50% - 40px)
         }
      }
      &__item {
         &-side {
            margin-bottom 15px
         }
         &-title {
            font-size 60px
         }
      }
   }
   .list-metric_4x {
      .list-metric {
         &__list-item {
            flex-column(1, 2, 20px)
         }
      }
   }
}

+do(750) {
   .list-metric {
      &__list {
         &-item {
            margin-bottom 20px
            max-width calc(100% - 40px)
            flex-basis calc(100% - 40px)
            &_mobile-center {
               max-width calc(50% - 40px)
               flex-basis calc(50% - 40px)
            }
            &:last-child {
               margin-bottom 0
            }
         }
      }
      &__item {
         &-icon {
            justify-content flex-start
            &_mobile-center {
               justify-content center
            }
         }
         &-side {
            margin-bottom 10px
         }
         &-title {
            font-size 48px
         }
         &_align_center {
            text-align left
         }
      }
   }
   .list-metric_4x {
      .list-metric {
         &__list-item {
            flex-column(1, 1, 20px)
         }
      }
   }
}
+do(500) {
   .list-metric {
      &__list {
         &-item {
            &_mobile-center {
               max-width calc(100% - 40px)
               flex-basis calc(100% - 40px)
            }
         }
      }
   }
}

.list-metric_simple {
   .list-metric {
      &__side {
         margin-bottom 60px
      }
      &__list {
         margin-bottom -140px
      }
      &__list-item {
         margin-bottom 140px
      }
      &__item-desc {
         text-align center
         color #27262B
         span {
            color rgba(#27262B, .5)
         }
      }
   }
}
+do(1200) {
   .list-metric_simple {
      .list-metric {
         &__side {
            margin-bottom 50px
         }
         &__list {
            margin-bottom -110px
         }
         &__list-item {
            margin-bottom 110px
         }
      }
   }
}
+do(1000) {
   .list-metric_simple {
      .list-metric {
         &__side {
            margin-bottom 40px
         }
         &__list {
            margin-bottom -80px
         }
         &__list-item {
            margin-bottom 80px
         }
      }
   }
}
+do(750) {
   .list-metric_simple {
      .list-metric {
         &__side {
            margin-bottom 30px
         }
         &__list {
            margin-bottom -60px
         }
         &__list-item {
            margin-bottom 60px
         }
         &__item-desc {
            text-align left
            &_mobile-center {
               text-align center
            }
         }
      }
   }
}

.list-metric_fast-food {
   .list-metric {
      &__item-icon {
         height 120px
      }
   }
}
+do(750) {
   .list-metric_fast-food {
      .list-metric {
         &__item-icon {
            height auto
         }
      }
   }
}
