.list-icons {
   &__list {
      display flex
      flex-wrap wrap
      margin-right -40px
      margin-left -40px
      margin-bottom -70px
      &-item {
         flex 1
         max-width calc(33.33% - 80px)
         flex-basis calc(33.33% - 80px)
         margin-right 40px
         margin-left 40px
         margin-bottom 70px
         display flex
      }
   }
   &__item {
      flex 1
      display flex
      &-wrapper {
         flex 1
         display flex
         align-items flex-end
      }
      &-side {
         flex 0 0 auto
         margin-right 40px
         display flex
         align-items flex-end
         width 80px
      }
      &-main {
         flex 1
      }
      &-title {
         font-weight 700
         font-family $font-title
         font-size 18px
         line-height 1.2
      }
      img {
         display block
      }
   }
   &_offset-bottom_medium {
      margin-bottom 85px
   }
}

+do(1000) {
   .list-icons {
      &__list {
         &-item {
            max-width calc(50% - 80px)
            flex-basis calc(50% - 80px)
         }
      }
   }
}

+do(750) {
   .list-icons {
      &__list {
         &-item {
            max-width calc(100% - 80px)
            flex-basis calc(100% - 80px)
         }
      }
      &__item {
         &-side {
            margin-right 20px
         }
         &-title {
            font-size 16px
         }
      }
   }
}