.list-plus {
   &__item {
      margin-bottom 100px
      &-side {
         margin-bottom 20px
      }
      &-title {
         font-family $font-title
         font-size 80px
         font-weight 700
      }
      &:last-child {
         margin-bottom 0
      }
   }
}

+do('miw', 1200) {
   +do('mah', 900) {
      .list-plus {
         &__item {
            margin-bottom 40px
            &-side {
               margin-bottom 15px
            }
         }
      }
   }
   +do('mah', 800) {
      .list-plus {
         &__item {
            margin-bottom 30px
            &-side {
               margin-bottom 10px
            }
            &-title {
               font-size 60px
            }
         }
      }
   }
}

+do(1050) {
   .list-plus {
      &__item {
         margin-bottom 20px
         &-title {
            font-size 34px
         }
         &-side {
            margin-bottom 5px
         }
      }
   }
}

+do(1000) {
   .list-plus {
      font-size 14px
   }
}