.menu {
   -webkit-overflow-scrolling: touch;
   position fixed
   top 0
   left 0
   right 0
   bottom 0
   transform translateX(100%) translate3d(0, 0, 1200px)
   transition .8s cubic-bezier(0.86, 0, 0.07, 1)
   padding-left 220px
   overflow auto
   display flex
   background rgba(#040724, 0.4)
   min-height 100%
   z-index 1200
   flex 1 0 auto
   &:before {
      content ''
      position fixed
      top 0
      left 0
      right 0
      bottom 0
      width 100%
      z-index -1
      pointer-events none
      transition .6s ease
   }
   &__wrapper {
      flex 1
      display flex
      position relative
      z-index 1300
      transform translate3d(0, 0, 1300)
   }
   &__main {
      flex 1
      order 1
   }
   &__side {
      order 2
      flex 0 0 auto
      width 600px
      height 100vh
      overflow-y auto
      overflow-x visible
   }
   &.is-open {
      transform translateX(-0)
      &:before {
         left -100vw
      }
   }
   &.is-relative {
      position relative
   }
}

.menu-main {
   background-color white
   box-sizing border-box
   &__wrapper {
      display flex
      flex-wrap wrap
   }
   &__main {
      flex 1
      padding 80px
      padding-top 55px
      box-sizing border-box
      height 100vh
      overflow-y auto
      overflow-x visible
   }
   &__side {
      flex 1
      padding 80px
      padding-top 40px
      border-right 1px solid #F5F5F5
      height 100vh
      overflow-y auto
      overflow-x visible
      max-width 510px
      box-sizing border-box
   }
}

.menu-side {
   background-color #FAFBFD
   display flex
   &__presentation {
      padding-top 40px
   }
   &__contacts {
      flex 1
   }
   &__callback {
      flex 1
      padding 40px
      border-left 1px solid rgb(245, 245, 245)
      box-sizing border-box
      display none
      &-main {
         margin-bottom 30px
      }
      &-side {
         margin-bottom 20px
      }
      &-title {
         max-width 420px
         font-size 48px
         line-height 1
         font-weight 700
         font-family $font-title
      }
      &-desc {
         font-size 14px
         line-height 1.5
         max-width 380px
      }
      &-top {
         margin-bottom 30px
         position relative
      }
      &-close {
         position absolute
         cursor pointer
         top 15px
         right 7px
         &:before {
            content ''
            display block
            svg('cross', 30px, $color-blue-light)
         }
         &:hover {
            opacity 0.8
         }
      }
   }
   &.is-callback {
      background-color white
      & ^[0]__contacts {
         display none
      }
      & ^[0]__callback {
         display block
      }
   }
}

.menu-contacts {
   flex 1
   display flex
   flex-direction column
   box-sizing border-box
   padding-bottom 90px
   padding-top 40px
   padding-right 50px
   padding-left 50px
   &__side {
      margin-bottom 15px
      display flex
      justify-content flex-end
   }
   &__main {
      margin-top auto
      display flex
      justify-content center
   }
   &__logo {
      display none
      max-width 90px
      margin-right auto
      img {
         display block
         max-width 100%
      }
   }
   &__actions {
      display none
      &-item {
         position relative
         margin-bottom 20px
      }
   }
}

.menu-grouped {
   overflow hidden
   position relative
   &__list {
      position absolute
      opacity 0
      transition transform .257s linear, opacity .257s linear
      transform translate3d(0, 0, 0)
      left 0
      right 0
      top 0
      bottom 0
      &.is-active {
         position relative
         opacity 1
      }
   }
   &__item {
      margin-bottom 50px
      &-title {
         font-family $font-title
         font-size 20px
         line-height (24 / 20)
         font-weight 700
      }
      &-side {
         margin-bottom 40px
      }
      &:last-child {
         margin-bottom 0
      }
   }
   &__links {
      &-item {
         margin-bottom 25px
         &:last-child {
            margin-bottom 0
         }
      }
   }
   &__link {
      color #7B7B7F
   }
}

+do(1800) {
   .menu {
      padding-left 170px
   }
   .menu-main {
      &__side {
         padding-left 40px
         padding-right 40px
      }
      &__main {
         padding-left 40px
         padding-right 40px
      }
   }
}

+do(1600) {
   .menu {
      padding-left 0
      &__side {
         width 500px
      }
   }
   .menu-contacts {
      padding-left 20px
      padding-right 20px
   }
   .menu-main {
      &__side {
         padding-top 50px
         padding-right 30px
         padding-left 30px
         max-width 340px
      }
      &__main {
         padding-right 30px
         padding-left 30px
      }
   }
}

+do(1200) {
   .menu {
      justify-content flex-end
      &__wrapper {
         display block
         flex 1
         max-width 520px
      }
      &__side {
         width auto
         height auto
         max-width none
      }
      &__main {
         width auto
         height auto
         max-width none
      }
   }
   .menu-main {
      &__side {
         max-width none
         height auto
         overflow visible
         padding-top 40px
      }
      &__main {
         height auto
         display none
         overflow visible
      }
   }
   .menu-side {
      &__contacts {
         padding-bottom 40px
      }
   }
   .menu-contacts {
      padding-left 30px
      padding-right 40px
      &__side {
         margin-bottom 60px
      }
      &__main {
         justify-content flex-start
      }
   }
}

+do(750) {
   .menu {
      display none
      position relative
      top 0
      left 0
      right 0
      bottom 0
      transform none
      &__wrapper {
         max-width 100%
      }
      &.is-open {
         display block
      }
   }
   .menu-main {
      &__side {
         padding-top 30px
         padding-bottom 30px
         padding-left 20px
         padding-right 20px
      }
   }
   .menu-side {
      &__callback {
         padding-top 15px
         padding-right 20px
         padding-left 20px
         &-title {
            font-size 32px
         }
         &-close {
            top 7px
            right 0
         }
         &-main {
            margin-bottom 0
         }
         &-side {
            margin-bottom 20px
         }
      }
   }
   .menu-contacts {
      padding-top 15px
      padding-right 20px
      padding-left 20px
      &__logo {
         display block
      }
      &__actions {
         display block
      }
      &__main {
         display block
      }
      &__side {
         margin-bottom 20px
      }
   }
}

.menu.menu_callback {
   .menu {
      &__wrapper {
         justify-content flex-end
         flex 0 0 auto
         margin-left auto
      }
   }
   .menu-side {
      &__callback {
         min-height 100vh
      }
   }
}
