.menu-nav {
   font-family $font-title
   font-size 48px
   line-height (60 / 48)
   font-weight 700
   &__list {
      &-item {
         margin-bottom 60px
         &:last-child {
            margin-bottom 0
         }
      }
   }
   &__item {
      &-side {
      }
      &-main {
         display none
         padding-top 30px
      }
   }
   &__link {
      display block
      //&_arrow {
      //   box-sizing border-box
      //   padding-right 20px
      //   position relative
      //   &:before {
      //      content ''
      //      display block
      //      position absolute
      //      right 0
      //      top 50%
      //      transform translateY(-50%)
      //      svg('arrow-right', 8px, $color-black)
      //      transition .3s ease
      //   }
      //}
      //&:hover {
      //   &:before {
      //      transform translateY(-50%) translateX(15px)
      //      svg-color('arrow-right', $color-blue-light)
      //   }
      //}
   }
   &__children {
      font-size 16px
      font-weight 400
      &-side {
         margin-bottom 15px
      }
      &-main {
      }
      &-title {
         color $color-main
         font-weight 700
      }
      &-item {
         margin-bottom 40px
      }
      &-nav {
         margin-bottom 20px
         &:last-child {
            margin-bottom 0
         }
      }
      &-link {
         color #7b7b7f
      }
   }
}

+do(1800) {
   .menu-nav {
      font-size 36px
      &__list {
         &-item {
            margin-bottom 30px
         }
      }
   }
}

+do(1600) {
   .menu-nav {
      font-size 28px
      &__list {
         &-item {
            margin-bottom 30px
         }
      }
   }
}

+do(1200) {
   .menu-nav {
      font-size 36px
      &__item {
         &-main {
            display block
         }
      }
      &__list {
         &-item {
            margin-bottom 40px
         }
      }
      &__link {
         &_arrow {
            &:before {
               transform translateY(-50%) rotate(90deg) !important
            }
         }
      }
   }
}

+do(750) {
   .menu-nav {
      font-size 28px
      &__list {
         &-item {
            margin-bottom 15px
         }
      }
      &__children {
         &-item {
            margin-bottom 30px
         }
      }
   }
}