.nav-context {
   position relative
   &__more {
      &-list {
         display flex
         margin-right -30px
         margin-left -30px
         align-items center
      }
      &-item {
         flex 0 0 auto
         margin-right 30px
         margin-left 30px
         & + & {
            //box-sizing border-box
            //position relative
            //&:before {
            //   content ''
            //   position absolute
            //   left -30px
            //   height 40px
            //   width 1px
            //   z-index 9
            //   top 50%
            //   transform translateY(-50%)
            //   background-color rgba(white, 0.5)
            //}
         }
      }
   }
   &__item {
      box-sizing border-box
      padding-left 60px
      position absolute
      opacity 0
      top 0
      transition transform .6s cubic-bezier(0.86, 0, 0.07, 1), opacity .6s cubic-bezier(0.86, 0, 0.07, 1)
      transform translateX(-100%)
      &-main {
         font-size 14px
         line-height (26 / 14)
         margin-bottom 20px
         max-height 240px
         overflow hidden
         text-overflow ellipsis
         max-width 530px
         &_height_small {
            max-height 180px
         }
      }
      &-side {
         font-size 18px
         line-height (30 / 18)
      }
      &.is-active {
         opacity 1
         position relative
         z-index 99
         top auto
         transform translateX(0)
      }
   }
}

.nav-context_light {
   color white
   .nav-context {

   }
}

+do('miw', 1200) {
   +do('mah', 900) {
      .nav-context {
         &__item {
            margin-left 0
            &-main {
               margin-bottom 55px
            }
         }
      }
   }
   +do('mah', 800) {
      .nav-context {
         &__item {
            &-main {
               margin-bottom 25px
            }
         }
      }
   }

   +do('mah', 760) {
      .nav-context {
         &__item {
            &-main {
               margin-bottom 30px
            }
         }
      }
   }

   +do('mah', 700) {
      .nav-context {
         &__item {
            &-main {
               max-height 180px
            }
         }
      }
   }
}

+do(1200) {
   .nav-context {
      &__item {
         max-width none
         padding-left 0
         &-main {
            max-width none
            margin-bottom 20px
         }
      }
   }
}

+do(1050) {
   .nav-context {
      &__item {
         max-width none
         transition none
         &-main {
            margin-bottom 20px
            max-height none
         }
      }
   }
}

+do(750) {
   .nav-context {
      &__item {
         &-main {
            margin-bottom 15px
         }
      }
      &__more {
         &-list {
            display block
         }
         &-item {
            margin-bottom 5px
            &:last-child {
               margin-bottom 0
            }
         }
      }
   }
}