.nav-simple {
   font-size 20px
   line-height (26 / 20)
   font-weight 600
   font-family $font-title
   position relative
   z-index 15
   &__list {
      display flex
      flex-wrap wrap
      margin-right -15px
      margin-left -15px
      margin-bottom -10px
   }
   &__item {
      margin-right 15px
      margin-left 15px
      margin-bottom 10px
      flex 0 0 auto
      color #D8D8DA
      &-link {
         color currentColor
         &.is-active {
            pointer-events none
            color $color-blue-light
         }
      }
      &:hover {
         & ^[-1]-link {
            color $color-blue-light
         }
      }

   }
}

.nav-simple_light {
   .nav-simple {
      &__item {
         &-link {
            color rgba(white, 0.4)
            &.is-active {
               color white
            }
            &:hover {
               color white
            }
         }
      }
   }
}

+do('miw', 1200) {
   +do('mah', 900) {
      .nav-simple {
         font-size 16px
         &__list {
            margin-right -10px
            margin-left -10px
         }
         &__item {
            margin-right 10px
            margin-left 10px
         }
      }
   }
}

+do(1000) {
   .nav-simple {
      &__list {
         flex-wrap nowrap
         overflow-x auto
         overflow-y visible
         -webkit-overflow-scrolling touch
         margin-right -20px
         padding-left 20px
         margin-left -20px
         padding-bottom 10px
         padding-top 10px
         &:after {
            content ''
            width 20px
            flex 0 0 auto
            display block
         }
      }
      &__item {
         margin-right 8px
         margin-left 8px
         margin-bottom 0
         flex 0 0 auto
         &:first-child {
            margin-left 0
         }
      }
   }
}

+do(750) {
   .nav-simple {
      font-size 16px
   }
   .nav-simple_tablet-row {
      .nav-simple {
         &__list {
            display block
         }
         &__item {
            margin-bottom 10px
         }
      }
   }
}