.news {
   &-caption {
      font-size 60px
      line-height 94px
      color $color-blue-xxdark
      font-family $font-manrope
      font-weight 900
      position relative
      padding-bottom 30px
      transition .3s linear
   }
}

+do(1420) {
   .news {
      padding-left 30px
      padding-right 30px
      &-breadcrumbs {
         &__wrapper {
            padding-left 30px
            padding-right 30px
         }
      }
   }
}

+do(1200) {
   .news {
      &-caption {
         font-size 48px
      }
   }
}
+do(750) {
   .news {
      padding-left 20px
      padding-right 20px
      &-caption {
         font-size 38px
      }
      &-breadcrumbs {
         &__wrapper {
            padding-left 20px
            padding-right 20px
         }
      }
   }
}