.article .owl-carousel .owl-stage-outer {
   overflow visible
}
.article {
   &__wrapper {
      display flex
      margin-right -15px
      margin-left -15px
      margin-top 70px
      padding-bottom 87px
      flex-wrap wrap
      &_same {
         margin-right 0px
         margin-left 0px
         padding-bottom 27px
      }
   }
   &__item {
      display flex
      flex-direction column
      flex 1
      max-width calc(33.33% - 30px)
      flex-basis calc(33.33% - 30px)
      margin-right 15px
      margin-left 15px
      margin-bottom 30px
      min-height 385px
      box-sizing border-box
      background $color-white
      z-index 3
      border 2px solid $color-grey-xxlight
      transition .3s linear
      padding-top 40px
      padding-right 54px
      padding-bottom 48px
      padding-left 48px
      &_same {
         max-width 100%
         flex-basis 100%
         margin-right 0px
         margin-left 0px
      }
      &:hover {
         border-color $color-blue-nlight
         box-shadow 0 10px 40px rgba(5, 11, 36, .1)
      }

      &-caption {
         font-family $font-manrope
         font-size 18px
         line-height (30 / 18)
         font-weight 700
         margin-bottom 25px
         max-height (30 / 18) * 3em
         overflow hidden
         text-overflow ellipsis
         ^[1]:hover {
            color $color-blue-nlight
         }
      }
      &-text {
         font-family $font-roboto
         font-size 14px
         line-height (26 / 14)
         font-weight 400
         color $color-blue-ndark
         max-height (26 / 14) * 5em
         overflow hidden
         text-overflow ellipsis
      }
   }
   &__text-wrapper {
      flex-grow 1
   }
   &__tag-wrapper {
      display flex
      justify-content space-between
      padding-top 20px
      flex-wrap wrap
   }
   &__tag-name {
      font-family $font-manrope
      font-size 14px
      line-height (24 / 14)
      color $color-blue-hlight
   }
   &__tag-date {
      font-family $font-manrope
      font-size 16px
      line-height (24 / 16)
      color $color-grey-xdark
   }

   &__btn-wrapper {
      display flex
      justify-content center
      width 100%
      z-index 5
      margin-top 20px
      margin-right 15px
      margin-left 15px
   }
   &__btn {
      padding-right 70px
      padding-left 70px
      box-sizing border-box
      border 3px solid $color-blue-hlight
      color $color-blue-hlight
      background-color $color-white
      position relative
      overflow hidden
      transition color .1s linear .2s
      min-height 60px
      &:before {
         content ''
         display block
         size 0
         position absolute
         background $color-blue-hlight
         border-radius 50%
         transition .4s linear
         transform: translate(-50%, -50%);
         top 50%
         left 50%
         margin-top 28px
         margin-left -50%
         visibility hidden
         will-change: width, height;
      }
      &:active {
         border-color $color-white
      }
      &:hover {
         color $color-white
         transition-delay .1s
         &:before {
            visibility visible
            size 999px
         }
      }
      &-text {
         font-size 14px
         line-height (24 / 14)
         font-family $font-manrope
         z-index 5
         position relative
      }
   }
}

+do(1460) {
   .article {
      &__item {
         min-height 370px
         &-text {
            max-height (26 / 14) * 4em
         }
      }
   }
}

+do('maw', 1200) {
   +do('miw', 1000) {
      .article {
         &__tag-wrapper {
            flex-direction column
         }
      }
   }
}

+do(1200) {
   .article {
      &__item {
         padding 30px
         &-caption {
            margin-bottom 10px
         }
      }
   }
}

+do(1000) {
   .article {
      &__item {
         max-width calc(50% - 30px)
         flex-basis calc(50% - 30px)
         min-height 315px
         &_same {
            max-width 100%
            flex-basis 100%
         }
      }
   }
}
+do(750) {
   .article {
      &__tag-wrapper {
         flex-direction column
      }
   }
}
+do(500) {
   .article {
      &__wrapper {
         margin-top 50px
         padding-bottom 50px
         &_same {
            padding-bottom 20px
         }
      }
      &__item {
         max-width calc(100% - 30px)
         flex-basis calc(100% - 30px)
         &_same {
            max-width 100%
            flex-basis 100%
         }
      }
      &__btn {
         width 100%
      }
   }
}
