.notification {
   max-width 500px
   box-sizing border-box
   background-color #FFFFFF
   padding 30px
   font-size 14px
   line-height (26 / 14)
   border-radius 3px
   box-shadow 0 15px 30px rgba(#040621, 0.2)
   position absolute
   z-index 200
   width 100%
   left 50%
   transform translateX(-50%)
   bottom 150px
   padding-left 180px
   color #040724
   &__close {
      position absolute
      display block
      right -50px
      top 50%
      transform translateY(-50%)
      opacity 0.4
      transition .3s ease
      cursor pointer
      &:before {
         content ''
         display block
         svg('cross', 22px, $color-white)
      }
      &:after {
         position absolute
         top -10px
         left -10px
         right -10px
         bottom -10px
      }
      &:hover {
         opacity 1
      }
   }
}

.notification_hr {
   opacity 0
   transition-delay .3s
   transition .6s ease
   transform translateX(-50%) translateY(-120px)
   animation swimming 2s linear infinite alternate-reverse
   &:before {
      content ''
      background-image: url('../images/hr.png')
      width 145px
      height 166px
      display block
      position absolute
      left 15px
      bottom 0
      background-position center
      background-repeat no-repeat
      background-size contain
   }
   /.screen.active & {
      opacity 1
      transform translateX(-50%) translateY(0)
   }
}

+do('miw', 1200) {
   +do('mah', 800) {
      .notification {
         bottom 200px
      }
   }
   +do('mah', 800) {
      .notification {
         bottom 150px
      }
   }
   +do('mah', 700) {
      .notification {
         bottom 100px
      }
   }
}

+do(1400) {
   .notification {
      &__close {
         right 0
         top -50px
         transform none
      }
   }
}

+do(1200) {
   .notification_hr {
      opacity 1
   }
   .notification {
      max-width 390px
      padding-top 20px
      padding-bottom 20px
      padding-right 20px
      font-size 12px
      line-height 1.5
      &__close {
         opacity 1
      }
   }
}

+do(1050) {
   .notification {
      position relative
      transform none
      animation none
      left auto
      top auto
      bottom auto
      right auto
   }
}

+do(500) {
   .notification_hr {
      padding-left 20px
      &:before {
         display none
         left 0
         width: 87px;
         height: 100px;
      }
   }
   .notification {
      text-align center
      font-size 14px
      margin-top 15px
      &__close {
         top -25px
         &:before {
            content ''
            svg-size('cross', 15px)
         }
      }
   }
}

@keyframes swimming {
   0% {
      transform translateX(-50%) translateY(0)
   }
   100% {
      transform: translateX(-50%) translateY(60px)
   }

}