.offer {
   position relative
   padding-bottom .1px
   &:before {
      content ''
      display block
      background #FAFBFD
      trbl 0 -120px 35px -120px
      position absolute
      z-index -1
   }
   &__wrapper {
      position relative
      z-index 50
   }
}

.offer-list {
   &__list {
      display flex
      flex-wrap wrap
      margin 0 -20px -40px -20px
   }
   &__item {
      margin 0 20px 40px 20px
      flex-column(1, 2, 20px)
      display flex
   }
}
+do(1200) {
   .offer-list {
      &__list {
         margin 0 -10px -20px -10px
      }
      &__item {
         margin 0 10px 20px 10px
         flex-column(1, 2, 10px)
         display flex
      }
   }
}
+do(900) {
   .offer-list {
      &__item {
         flex-column(1, 1, 10px)
      }
   }
}

.offer-card {
   font-size 14px
   line-height (26/14)
   color #27262B
   border 2px solid #E2E3EA
   background $color-white
   min-height 236px
   flex 1 1 auto
   display flex
   &__wrapper {
      flex 1 1 auto
      display flex
      padding 0 50px
   }
   &__content {
      display flex
      flex-wrap wrap
      margin 0 -10px
   }
   &__main {
      padding 45px 0
      margin 0 10px
      flex-column(1.2, 2, 10px)
   }
   &__side {
      margin 0 10px
      flex-column(0.8, 2, 10px)
      display flex
      justify-content flex-end
      align-items flex-end
   }
   &__img {
      &_align-right {
         transform translateX(50px)
      }
      img {
         vertical-align bottom
      }
   }
   &__img_medium {
      max-width 180px
      img {
         max-width 100%
         width 100%
      }
   }
}
+do(1200) {
   .offer-card {
      &__wrapper {
         padding 0 40px
      }
      &__main {
         padding 35px 0
         margin 0 8px
         flex-column(1.2, 2, 8px)
      }
      &__side {
         margin 0 8px
         flex-column(0.8, 2, 8px)
      }
      &__img {
         &_align-right {
            transform translateX(40px)
         }
      }
   }
}
+do(750) {
   .offer-card {
      &__wrapper {
         padding 0 30px
      }
      &__main {
         padding 20px 0
         margin 0 6px
         flex-column(1.2, 2, 6px)
      }
      &__side {
         margin 0 6px
         flex-column(0.8, 2, 6px)
      }
      &__img {
         &_align-right {
            transform translateX(30px)
         }
      }
   }
}
+do(500) {
   .offer-card {
      &__wrapper {
         padding 0 30px
      }
      &__content {
         display block
      }
      &__main {
         padding 20px 0
         padding-bottom 0
         margin 0
         margin-bottom 30px
         flex-column(1, 1, 0px)
      }
      &__side {
         margin 0
         flex-column(1, 1, 0px)
         justify-content center
         &_align-right {
            justify-content flex-end
         }
      }
      &__img {
         &_align-right {
            transform translateX(20px)
         }
      }
   }
}