.office {
  &__wrapper {
    position relative
  }

  &__wrapper::before {
    content ''
    position absolute
    left 0
    top 60px
    right 0
    border-top 1px solid rgba(204, 203, 206, 0.2)
  }

  &__inner {
    display flex
    flex-wrap wrap
  }

  &__col {
    flex-column(1, 2)
    display flex
    position relative
  }

  &__main {
    flex 1 1 auto
    padding-top 135px
  }

  &__map {
    position absolute
    trbl 0
    flex 1 1 auto
    overflow hidden
  }

  &__description {
    margin-bottom 35px
    padding-right 20px
  }

  &__video {
    margin-right -145px
  }
}
+do(1000) {
  .office {
    &__inner {
      display block
    }

    &__col {
      flex-column(1, 1)
      margin-bottom 40px

      &:lst-child {
        margin-bottom 0
      }
    }

    &__main {
      padding-top 110px
    }

    &__description {
      padding-right 0
    }

    &__video {
      margin-right 0
    }

    &__map {
      position static
      height 300px
    }
  }
}
+do(750) {
  .office {
    &__wrapper::before {
      top 35px
    }

    &__main {
      padding-top 70px
    }

    &__col {
      margin-bottom 30px
    }

    &__map {
      height 200px
    }
  }
}

.office-video {
  display flex
  justify-content space-between
  align-items center
  font-size 18px
  line-height (24/18)
  color #193986

  &__title {
    margin-right 30px
  }

  &__video {
    width 290px
    height 150px
    position relative
    display flex
    align-items center
    justify-content center
    background-size cover
    background-repeat no-repeat
    background-position center

    &::before {
      content ''
      position absolute
      trbl 0
      z-index 30
      background-color rgba(#274DAC, .7)
    }

    &::after {
      content ''
      display block
      z-index 50
      svg('play', 36px, $color-white)
    }
  }
}
+do(1000) {
  .office-video {
    justify-content center
  }
}
+do(750) {
  .office-video {
    display block
    font-size 16px

    &__title {
      margin-bottom 20px
    }

    &__video {
      width 280px
    }
  }
}
