.page {
   position relative
   z-index 5
   &__header {
      margin-bottom 50px
   }
}

+do('miw', 1920) {
   .page {
      min-height 720px
      flex 1
   }
}

+do('miw', 1200) {
   +do('mah', 900) {
      .page {
         &__header {
            margin-bottom 30px
         }
      }
   }
}

+do(1200) {
   .page {
      &__header {
         margin-bottom 40px
      }
   }
}

+do(750) {
   .page {
      &__header {
         margin-bottom 20px
         &_tablet_row_large {
            margin-bottom 30px
         }
      }
   }
}

.page-header {
   &__wrapper {
      display flex
      flex-wrap wrap
      margin-right -10px
      margin-left -10px
      margin-bottom -5px
   }
   &__main {
      flex 1 0 auto
      margin-right 10px
      margin-left 10px
      margin-bottom 5px
   }
   &__title {
      display inline-flex
      transition .3s linear
      transition-delay .3s
      opacity 0
      will-change transform, opacity
      transform translateY(-100%)
      /.screen.active & {
         opacity 1
         transform translateY(0)
      }
      &_light {
         color #ffffff
      }
   }
   &__side {
      flex 0 0 auto
      margin-right 10px
      margin-left auto
      display flex
      align-items center
      margin-bottom 5px
   }
}

+do(1200) {
   .page-header {
      &__title {
         opacity 1
         transform none
      }
   }
}

+do('miw', 1200) {
   +do('mah', 800) {
      .page-header {
         &__title {
            font-size 55px
         }
      }
   }
   +do('mah', 700) {
      .page-header {
         &__title {
            font-size 48px
         }
      }
   }
   +do('mah', 600) {
      .page-header {
         &__title {
            opacity 1
            transform none
         }
      }
   }
}

+do(1200) {
   .page-header {
      &__title {
         font-size 48px
      }
   }
}

+do(750) {
   .page-header {
      &__title {
         font-size 38px
      }
   }
}

.page_present {
   padding-top 160px
}

.page-content {
   &__wrapper {
      display flex
      flex-wrap wrap
      margin-right -90px
      margin-left -90px
   }
   &__main {
      flex 1
      position relative
      margin-right 90px
      margin-left 90px
      max-width calc(50% - 180px)
      flex-basis calc(50% - 180px)
      &-major {
         margin-bottom 60px
      }
   }
   &__side {
      margin-right 90px
      margin-left 90px
      max-width calc(50% - 180px)
      flex-basis calc(50% - 180px)
   }
}

.page-content.page-content_simple {
   .page-content {
      &__wrapper {
         margin-right 0
         margin-left 0
         display block
      }
      &__main {
         max-width none
         margin-right 0
         margin-left 0
      }
      &__side {
         max-width none
         margin-right 0
         margin-left 0
      }
   }
}

.page-content.page-content_full {
   .page-content {
      &__wrapper {
         margin-right -20px
         margin-left -20px
      }
      &__main {
         margin-right 20px
         margin-left 20px
         max-width calc(73% - 40px)
         flex-basis calc(73% - 40px)
      }
      &__side {
         margin-right 20px
         margin-left 20px
         max-width calc(27% - 40px)
         flex-basis calc(27% - 40px)
      }
   }
}

.page-content.page-content_medium {
   .page-content {
      &__wrapper {
         margin-right -30px
         margin-left -30px
      }
      &__main {
         margin-right 30px
         margin-left 30px
         max-width calc(60% - 60px)
         flex-basis calc(60% - 60px)
      }
      &__side {
         margin-right 30px
         margin-left 30px
         max-width calc(40% - 60px)
         flex-basis calc(40% - 60px)
      }
   }
}

+do(1000) {
   .page-content.page-content_full {
      .page-content {
         &__wrapper {
            display block
         }
         &__main {
            max-width calc(100% - 40px)
            flex-basis calc(100% - 40px)
         }
         &__side {
            max-width calc(100% - 40px)
            flex-basis calc(100% - 40px)
         }
      }
   }
}

+do('miw', 1200) {
   +do('mah', 900) {
      .page-content {
         &__main {
            &-major {
               margin-bottom 30px
            }
         }
      }
   }
   +do('mah', 700) {
      .page-content {
         &__main {
            &-major {
               margin-bottom 25px
            }
         }
      }
   }
}

+do(1200) {
   .page-content {
      &__wrapper {
         margin-right -30px
         margin-left -30px
      }
      &__main {
         margin-left 30px
         margin-right 30px
         max-width calc(50% - 60px)
         flex-basis calc(50% - 60px)
         &-major {
            margin-bottom 40px
         }
      }
      &__side {
         margin-left 30px
         margin-right 30px
         max-width calc(50% - 60px)
         flex-basis calc(50% - 60px)
      }
   }
   .page-content.page-content_medium {
      .page-content {
         &__main {
            max-width calc(50% - 60px)
            flex-basis calc(50% - 60px)
         }
         &__side {
            max-width calc(50% - 60px)
            flex-basis calc(50% - 60px)
         }
      }
   }
}

+do(1050) {
   .page-content {
      &__tablet-overlay {
         position absolute
         top -30px
         left -100vw
         right -100vw
         bottom -30px
         background-color white
      }
      &__wrapper {
         display block
      }
      &__main {
         max-width none
         margin-bottom 30px
         &-major {
            margin-bottom 25px
         }
      }
      &__side {
         max-width none
      }
   }
   .page-content.page-content_medium {
      .page-content {
         &__main {
            max-width none
         }
         &__side {
            max-width none
         }
      }
   }
}

+do(750) {
   .page-content {
      &__main {
         margin-bottom 20px
         &-major {
            margin-bottom 20px
         }
      }
   }
}