.pages-list {
   position relative
   &__item {
      box-sizing border-box
      position absolute
      opacity 0
      top 0
      transition transform .6s cubic-bezier(0.86, 0, 0.07, 1), opacity .6s cubic-bezier(0.86, 0, 0.07, 1)
      transform translateX(100%)
      &.is-active {
         opacity 1
         position relative
         z-index 99
         top auto
         transform translateX(0)
      }
   }
}
+do(1050) {
   .pages-list {
      &__item {
         transition none
      }
   }
}