.pluses {
   &__wrapper {
      padding-top 57px
      padding-bottom 90px
   }
   &__title {
      font-family $font-title
      font-size 20px
      line-height (72 / 20)
      color $color-blue-xxdark
      margin-bottom 26px
   }
   &__list-wrapper {
      display flex
      flex-wrap wrap
      margin-top 77px
   }
}

.plus-item {
   box-sizing border-box
   position relative
   background-color $color-white

   max-width 25%
   flex-basis 25%
   min-height 240px
   max-height 240px
   margin-bottom 30px
   &__wrapper {
      display flex
      flex-wrap wrap
      justify-content center
      flex-direction column
   }
   &__desc {
      text-align center
      font-family $font-roboto
      font-size 14px
      line-height (26 / 14)
      color $color-blue-ndark
      text-overflow ellipsis
      overflow hidden
      max-height (26 / 14) * 3em
   }
   &__image-wrapper {
      position: relative
      margin-bottom 54px
      min-height 100px
   }
   &__image {
      position absolute
      &_alternative {
         svg('alternative', 80px, $color-yellow-like-sun, center center)
      }
      &_increase {
         svg('increase', 80px, $color-yellow-like-sun, center center)
      }
      &_recognizability {
         svg('recognizability', 80px, $color-yellow-like-sun, center center)
      }
      &_profitability {
         svg('profitability', 80px, $color-yellow-like-sun, center center)
      }
   }
}

+do(900) {
   .pluses {
      &__wrapper {
         padding-bottom 70px
      }
      &__list-wrapper {
         justify-content space-between
      }
   }
   .plus-item {
      max-width 50%
      flex-basis 50%
   }
}
+do(750) {
   .pluses {
      &__wrapper {
         padding-bottom 50px
      }
      &__title {
         font-size 16px
         line-height (24 / 16)
      }
   }
}
+do(500) {
   .pluses {
      &__wrapper {
         padding-top 50px
         padding-bottom 50px
      }
      &__list-wrapper {
         margin-top 50px
      }
   }
   .plus-item {
      max-width 100%
      flex-basis 100%
      &__image-wrapper {
         margin-bottom 24px
      }
   }
}