.presentation-link {
  min-height 140px
  display block
  background-position center
  background-size cover
  background-repeat no-repeat
  border-radius 5px
  box-shadow 0 10px 20px rgba(#02040F, .1)
  color #ABBADD !important
  box-sizing border-box
  padding 25px
  font-size 13px
  line-height 1.5

  .link {
    opacity 1
    color white
  }

  &__wrapper {
  }

  &__main {
    max-width 230px
  }

  &:hover {
    box-shadow 0 10px 20px rgba(#02040F, 0)

    .link {
      border-color rgba(white, 0) !important
    }
  }
}


+do(750) {
  .presentation-link {
    padding 15px
    &__main {
      max-width 175px
    }
  }
}
