.product-intro {
  &__wrapper {
    display flex
    flex-wrap wrap
    margin-right -60px
    margin-left -60px
    min-height 480px
  }

  &__main {
    flex 1
    padding-left 60px
    padding-right 60px
    max-width calc(50% - 120px)
    position relative

    &:before {
      content ''
      position absolute
      left 60px
      right -10px
      bottom 0
      border-bottom 1px solid rgba(#CCCBCE, .3)
    }
  }

  &__side {
    flex 1
    padding-left 60px
    padding-right 60px
    max-width calc(50% - 120px)
    position relative
  }

  &__tag {
    font-family $font-title
    font-size 20px
    margin-bottom 15px
  }

  &__title {
    font-family $font-title
    font-size 72px
    margin-bottom 45px

    &_medium {
      font-size 68px
    }

    &_small {
      font-size 58px
      +do(1300) {
        font-size 48px
      }
      +do(750) {
        font-size 28px
      }
    }

    &_tablet_small {
      margin-bottom 0
    }
  }

  &__desc {
    font-size 14px
    line-height (26 / 14)
    padding-left 50px
  }

  &__billboard {
    position absolute
    top -140px
    left 0
    right 0
    bottom 0
    width calc(50vw + 25px)
    background-size cover
    background-repeat no-repeat
    background-position bottom left
    z-index -1
  }

  &__logo {
    position absolute
    width calc(50vw)
    bottom -110px
    display flex
    justify-content flex-end

    img {
      display block
      max-width 100%
    }
  }

  &_software-fiscal {
    & ^[0]__title {
      font-size 55px
      +do(750) {
        font-size 36px
      }
    }
  }
}

+do(1000) {
  .product-intro {
    &__billboard {
      position static
      width 100%
      min-height 300px
      background-size contain
      background-position center
    }

    &__logo {
      right 0
    }

    &__wrapper {
      display block
      min-height 0
    }

    &__main {
      max-width none
      margin-bottom 25px

      &:before {
        display none
      }
    }

    &__title {
      &_tablet_small {
        font-size 48px
      }
    }

    &__desc {
      padding-left 0
      padding-bottom 25px
    }

    &__side {
      max-width none
    }
  }
}

+do(750) {
  .product-intro {
    &__billboard {
      min-height 170px
    }

    &__title {
      font-size 36px
      margin-bottom 15px

      &_tablet_small {
        font-size 26px
      }

      &_small {
        font-size 28px
      }
    }

    &__logo {
      right 0
    }
  }
}

.product-intro_pc {
  .product-intro {
    &__desc {
      max-width 420px
    }
  }
}

.product-intro_fiscal-farm {
  .product-intro {
    &__title {
      margin-right -30px
    }
  }
}

.product-intro_kiosks {
  .product-intro__billboard {
    left 150px
  }
}

+do(1400) {
  .product-intro_kiosks {
    .product-intro__title {
      font-size 60px
    }
  }
}

+do(750) {
  .product-intro_kiosks {
    .product-intro__title {
      font-size 40px
    }
  }
}

+do(750) {
  .product-intro_kiosks {
    .product-intro__title {
      font-size 25px
    }
  }
}


+do('min', 1920) {
  .product-intro.product-intro_ticket_transport {
    .product-intro {
      &__wrapper {
        min-height 690px
      }
    }
  }
}


.product-intro_develop .product-intro {
  &__title {
    margin-right -100px
  }
}

+do(1000) {
  .product-intro_develop .product-intro {
    &__title {
      margin-right 0
    }
  }
}

+do(750) {
  .product-intro_develop .product-intro {
    &__logo {
      bottom -60px
    }
  }
}

.product-intro_digital .product-intro {
  &__title {
    font-size 60px
    margin-right -40px
  }
}

+do(750) {
  .product-intro_digital .product-intro {
    &__title {
      font-size 36px
      margin-right 0
    }
  }
}

.product-intro_depozit .product-intro {
  &__billboard {
    background-color #65BDC6
  }

  &__image {
    position absolute
    bottom -110px
    left -120px
    z-index 100
    max-width 65%
  }
}

+do(1000) {
  .product-intro_depozit .product-intro {
    &__image {
      bottom -50px
      left 32vw
      max-width 35%
    }
  }
}

+do(1000) {
  .product-intro_depozit .product-intro {
    &__image {
      max-width 30%
      left 39vw
    }
  }
}

.product-intro.product-intro_queue {
  .product-intro {
    &__billboard {
      &:before {
        content ''
        position absolute
        left auto
        right 0
        bottom 0
        top 0
        background-color #274dac
        z-index -1
        width 80%
      }

      &-mask {
        position absolute
        left 0
        right 0
        bottom 0
        top 0
        background-position left bottom
        background-size contain
        background-repeat no-repeat
      }
    }
  }
}

+do(1250) {
  .product-intro.product-intro_queue {
    .product-intro {
      &__billboard {
        &:before {
          width 90%
        }
      }
    }
  }
}

+do(1100) {
  .product-intro.product-intro_queue {
    .product-intro {
      &__billboard {
        &:before {
          width 0
        }
      }
    }
  }
}


+do(1000) {
  .product-intro.product-intro_queue {
    .product-intro {
      &__billboard {
        &-mask {
          background-size 70%
          background-position center bottom
        }

        &:before {
          width 95%
        }
      }
    }
  }
}
