.products-sections {
   &__header {
      &-wrapper {
         display flex
         margin-right -10px
         margin-left -10px
         margin-bottom -10px
         align-items center
         flex-wrap wrap
      }
      &-main {
         flex 1 1 auto
         margin-right 10px
         margin-left 10px
         margin-bottom 10px
      }
      &-side {
         flex 0 0 auto
         margin-right 10px
         margin-left 10px
         margin-bottom 10px
      }
   }

   &__item {
      position relative
      &-side {
         margin-bottom 70px
      }
      &-title {
         font-family $font-title
         line-height (68 / 60)
         font-size 60px
         font-weight 700
         &_small {
            font-size 36px
            line-height 1.5
         }
      }
      &-subtitle {
         font-size 20px
         font-family $font-title
         &_white {
            color white
         }
      }
      &-img {
         img {
            display block
            max-width 100%
         }
      }
      &_negative-gap-large {
         margin-top -70px
      }
      &_gap-small {
         margin-bottom 35px
      }
      &_gap-medium {
         margin-bottom 50px
      }
      &_gap-large {
         margin-bottom 70px
      }
      &_gap-xlarge {
         margin-bottom 80px
      }
      &_gap-xllarge {
         margin-bottom 90px
      }
      &_gap-xxlarge {
         margin-bottom 120px
      }
      &_gap-xxxlarge {
         margin-bottom 160px
         +do(1200) {
            margin-bottom 90px
         }
         +do(1000) {
            margin-bottom 70px
         }
         +do(750) {
            margin-bottom 50px
         }
      }
      &_gap-xxxxlarge {
         margin-bottom 180px
      }
      &_boxed {
         position relative
         &:before {
            content ''
            position absolute
            top -80px
            width 100%
            right 0
            left 50px
            bottom 0
            background-color #FAFBFD
            z-index -1
         }
      }
      &_bg-half {
         position relative
         &:before {
            content ''
            position absolute
            top 0
            width 50%
            left 0
            bottom 0
            background-color #FAFBFD
            z-index -1
         }
      }
      &_bg_medium-size {
         position relative
         &:before {
            content ''
            position absolute
            top 0
            width 80%
            left 0
            bottom 0
            background-color #FAFBFD
            z-index -1
            +do(750) {
               width 100%
            }
         }
      }
      &_bg_small-size {
         position relative
         &:before {
            content ''
            position absolute
            top 0
            left 0
            right 180px
            bottom 0
            background-color #FAFBFD
            z-index -1
            +do(1400) {
               width 100%
               right 0
            }
         }
      }
      &_bg-left-offset-grey {
         position relative
         &:before {
            content ''
            position absolute
            top 0
            bottom 0
            right 0
            left 180px
            background-color #FAFBFD
            z-index -1
            +do(1400) {
               width 100%
               left 0
            }
         }
      }
      &_bg_blue {
         position relative
         color white
         &:before {
            content ''
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            background-position center
            background-repeat no-repeat
            background-size contain
            background-image url('../images/core/city.png')
            background-color #264DAB
            z-index -1
         }
         &:after {
            content ''
            position absolute
            width ((840 * 100) / 1920) * 1vw
            height 589px
            background-position bottom
            background-repeat no-repeat
            background-size contain
            background-image url('../images/core/terminal-cloud.png')
            z-index 99
            bottom 0
            right 0
            +do(750) {
               display none
            }
         }
      }
      &_server-api {
         position relative
         &:after {
            content ''
            position absolute
            display block
            width 1100px
            height 276px
            background-position bottom
            background-repeat no-repeat
            background-size contain
            background-image url('../images/core/server-api-half.svg')
            left 300px
            bottom 0
            +do(750) {
               left 0
               width 100%
               height 30px
            }
         }
      }
      &_vertical-padding {
         padding-top 80px
         padding-bottom 80px
      }
      &_suppliers {
         position relative
         & ^[0]__additions-image {
            &_1 {
               display block
               size 60px
               background-image url("../images/pay-logic-hub/circle-1.png")
               background-position center
               background-repeat no-repeat
               background-size contain
               left: 20px;
               position: absolute;
               top 50%
               transform translateY(-50%)
            }
            &_2 {
               size 140px
               background-image url("../images/pay-logic-hub/grid-1.png")
               background-position center
               background-repeat no-repeat
               background-size contain
               position absolute
               top -80px
               right 0
            }
         }
      }
      &_border-bottom {
         border-bottom 1px solid rgba(#CCCBCE, 0.3)
      }
      &_padding-bottom_none {
         padding-bottom 0 !important
      }
      &_dark {
         position relative
         &:before {
            content ''
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            background #050824
            z-index -1
         }
      }
      &_bg_black {
         position relative
         color white
         &:before {
            content ''
            z-index -1
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            background-color #050824
         }
      }
      &_bg_black_notebook {
         position relative
         color white
         &:before {
            display block
            content ''
            position absolute
            top 0
            left 0
            right 270px
            bottom 0
            z-index -1
            background-color #050824
            +do(1400) {
               right 0
            }
         }
         &:after {
            content ''
            position absolute
            width ((730 * 100) / 1920) * 1vw
            height 500px
            background-position bottom
            background-repeat no-repeat
            background-size contain
            background-image url('../images/core/notebook.png')
            z-index 99
            bottom 0
            right 0
            top 50%
            transform translate(50%, -50%)
            +do(1200) {
               display none
            }
         }
      }
      &_bg-center {
         position relative
         &:before {
            content ''
            position absolute
            top 0
            bottom 0
            left 0
            right 0
            max-width 1600px
            margin 0 auto
            z-index -1
            background-color #FAFBFD
         }
      }
   }
}

+do(1440) {
   .products-sections {
      &__item {
         &_boxed {
            position relative
            &:before {
               left 0
            }
         }
      }
   }
}

+do(1000) {
   .products-sections {
      &__item {
         &-title {
            font-size 36px
         }
         &-side {
            margin-bottom 40px
         }
         &_suppliers {
            & ^[0]__additions-image {
               &_1 {
                  display none
               }
               &_2 {
                  display none
               }
            }
         }
         &_gap-large {
            margin-bottom 30px
         }
         &_gap-xlarge {
            margin-bottom 40px
         }
         &_gap-xxlarge {
            margin-bottom 60px
         }
         &_gap-xxxxlarge {
            margin-bottom 140px
         }
      }
   }
}

+do(750) {
   .products-sections {
      &__item {
         &-title {
            &_phone_small {
               font-size 28px
            }
         }
         &_vertical-padding {
            padding-top 40px
            padding-bottom 40px
         }
         &_gap-xxxxlarge {
            margin-bottom 80px
         }
         &_gap-xllarge {
            margin-bottom 70px
         }
      }
   }
}

+do(500) {
   .products-sections {
      &__item {
         &-title {
            font-size 30px
         }
         &_gap-xllarge {
            margin-bottom 50px
         }
      }
   }
}

.products-img {
   img {
      display block
   }
}
