.products {
  &__wrapper {
    padding-top 77px

    &_top {
      padding-top 75px
      border-top 2px solid rgba(204, 203, 206, 0.2)
    }
  }

  &__content {
    position relative
    z-index 10
  }
}

+do(1420) {
  .products {
    &__wrapper {
      padding-right 30px
      padding-left 30px
    }
  }
}

+do(750) {
  .products {
    &__wrapper {
      padding-right 20px
      padding-left 20px
    }
  }
}

+do(500) {
  .products {
    &__wrapper {
      padding-top 50px
    }
  }
}

.products-header {
  &__wrapper {
    display flex
    flex-wrap wrap
    align-items flex-start
    justify-content space-between
    margin-bottom -10px
  }

  &__side {
    flex 0 0 auto
    margin-left auto
    margin-bottom 10px
  }

  &__main {
    flex 1 1 auto
    margin-right 20px
    margin-bottom 10px
  }

  &__title {
    font-size 32px
    line-height (36 / 32)
    font-family $font-manrope
    font-weight 500
    color $color-blue-pdark
    letter-spacing 0.008em
    transition .3s linear
    margin-bottom 40px
  }

  &__description {
    font-size 14px
    line-height (26 / 14)
    font-family $font-roboto
    font-weight 400
    color $color-blue-ndark
    margin-left 60px
    max-width 660px
  }
}

+do(500) {
  .products-header {
    &__description {
      margin-left 25px
    }
  }
}

.products-list {
  padding-top 50px
  padding-bottom 30px

  &_bottom-border {
    border-bottom 2px solid rgba(204, 203, 206, 0.2);
  }

  &__wrapper {
    display flex
    flex-wrap wrap
    margin-right -15px
    margin-left -15px
  }
}

.product-item {
  display flex
  max-width calc(33.33% - 30px)
  flex-basis calc(33.33% - 30px)
  margin-right 15px
  margin-left 15px
  margin-bottom 30px
  border 2px solid $color-grey-xxlight
  transition .3s linear
  box-sizing border-box
  min-height 380px
  position relative
  background-color $color-white

  &__background-image {
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    display block
    background-position center
    background-size cover
    background-repeat no-repeat
    opacity 0
    z-index 2
  }

  &__background {
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    display block
    opacity 0
    z-index 3
  }

  &:active,
  &:hover {
    & ^[0]__background-image {
      opacity 1
    }

    & ^[0]__background {
      opacity .95
    }

    & ^[0]__tags {
      color $color-white
    }

    & ^[0]__title {
      color $color-white
    }

    & ^[0]__description {
      color $color-white
    }

    & .item-header__icon {
      filter brightness(1000%)
    }
  }

  &:active {
    & ^[0]__header {
      .item-header {
        &__arrow {
          margin-right -25%
        }
      }
    }
  }

  &__wrapper {
    padding-top 40px
    padding-left 40px
    padding-bottom 60px
    padding-right 40px
    display flex
    flex-direction column
    z-index 5
  }

  &__header {
    margin-bottom 30px
  }

  &__title {
    font-size 18px
    line-height (30 / 18)
    font-family $font-manrope
    font-weight 700
    color $color-blue-xxdark
    max-height (30 / 18) * 2em
    text-overflow ellipsis
    overflow hidden
    margin-bottom 24px
  }

  &__description-wrapper {
    display flex
    flex-grow 1
  }

  &__description {
    font-size 14px
    line-height (26 / 14)
    max-height (26 / 14) * 5em
    text-overflow ellipsis
    overflow hidden
    font-family $font-roboto
    font-weight 400
    color $color-blue-ndark
  }

  &__tags {
    font-size 14px
    line-height (26 / 14)
    font-family $font-roboto
    font-weight 400
    color $color-grey-pdark
  }
}

+do(1420) {
  .product-item {
    &__wrapper {
      padding-right 49px
    }

    &__title {
      max-height (30 / 18) * 3em
    }
  }
}

+do(1200) {
  .product-item {
    min-height 350px

    &__wrapper {
      padding 30px
    }
  }
}

+do(1000) {
  .product-item {
    max-width calc(50% - 30px)
    flex-basis calc(50% - 30px)
  }
}

+do(750) {
  .product-item {
    &__title {
      margin-bottom 10px
    }

    &__description {
      max-height (30 / 18) * 3em
    }
  }
}

+do(650) {
  .product-item {
    &__header {
      display none
    }

    &__description {
      max-height (30 / 18) * 4.5em
    }
  }
}

+do(500) {
  .product-item {
    max-width calc(100% - 30px)
    flex-basis calc(100% - 30px)
    min-height 315px

    &__header {
      display block
    }
  }
}

.item-header {
  display flex
  justify-content space-between
  align-items center
  position relative

  &__icon {
    height 30px
    width 50px
    background-position left
    background-size auto
    background-repeat no-repeat
  }

  &__arrow {
    svg('arrow-long-right', 25px, $color-white)
    transition .1s linear
  }

  &__image {
    height 76px
    width 100%
    background-position left
    background-size auto
    background-repeat no-repeat
  }
}

+do(1420) {
  .item-header {
    &__arrow {
      margin-right 0
    }
  }
}

.products-blockchain {
  min-height 580px
  background-image url("../images/bg-blockchain.png")
  background-position center
  background-size cover
  background-repeat no-repeat
  background-color $color-blue-xxdark
  position relative

  &_top {
    margin-top -90px
  }

  &_bottom {
    margin-bottom 64px
  }
}

+do(1420) {
  .products-blockchain {
    &__wrapper {
      padding-right 30px
      padding-left 30px
    }
  }
}

+do(1000) {
  .products-blockchain {
    min-height auto
  }
}

+do(750) {
  .products-blockchain {
    &__wrapper {
      padding-right 20px
      padding-left 20px
    }
  }
}

+do(500) {
  .products-blockchain {
    &_bottom {
      margin-bottom: 50px;
    }
  }
}

.blockchain-content {
  &__wrapper {
    display flex
    flex-wrap wrap
    padding-top 151px
    padding-bottom 117px
    min-height 580px
    box-sizing border-box
  }

  &__main {
    max-width 40%
    flex-basis 40%
    display flex
    flex-direction column
  }

  &__parallax {
    max-width 60%
    flex-basis 60%
  }

  &__title {
    font-size 32px
    line-height (36 / 32)
    font-family $font-manrope
    font-weight 500
    color $color-white
    letter-spacing 0.008em
    transition .3s linear
    margin-bottom 50px
  }

  &__description {
    font-size 14px
    line-height (26 / 14)
    font-family $font-roboto
    font-weight 400
    color $color-white
    margin-left 60px
    max-width 330px
    display flex
    flex-grow 1
  }

  &__link {
    display flex
    margin-left 58px

    & a {
      letter-spacing 0.0008em
    }
  }
}

+do(1000) {
  .blockchain-content {
    &__wrapper {
      min-height auto
    }

    &__parallax {
      display none
    }

    &__description {
      margin-bottom 50px
    }

    &__main {
      max-width 100%
      flex-basis 100%
    }
  }
}

+do(500) {
  .blockchain-content {
    &__wrapper {
      padding-bottom 50px
    }

    &__description {
      margin-left 25px
    }

    &__link {
      margin-left 25px
    }
  }
}

.parallax-images {
  position relative

  &__image {
    position absolute

    &_cloud2 {
      z-index 16
      left 200px
      adaptive-bg('../images/cloud2.png')
    }

    &_chain {
      z-index 15
      top -85px
      left -76px
      adaptive-bg('../images/chain.png')
    }
  }
}

.product-list {
  &__wrapper {
    //
  }

  &__list {
    display flex
    flex-wrap wrap
    margin 0 -10px -20px -10px
  }

  &__item {
    margin 0 10px 20px 10px
    flex-column(1, 4, 10px)
  }
}

+do(1000) {
  .product-list {
    &__item {
      flex-column(1, 2, 10px)
    }
  }
}

+do(750) {
  .product-list {
    &__item {
      flex-column(1, 1, 10px)
    }
  }
}

.product-card {
  text-align center

  &__wrapper {
    //
  }

  &__title {
    color #9E9EA7
    margin-bottom 40px
  }

  &__img {
    max-width 205px
    width 100%
    margin 0 auto
    margin-bottom 40px
    min-height 180px
    display flex
    align-items center
  }

  &__link {
    color #241A94
    display inline-flex
    text-decoration none
    box-shadow none
    border none

    &:after {
      content ''
      display block
      margin-left 6px
      margin-top 1px
      svg('link-arrow', 16px)
    }

    &:hover {
      text-decoration none
      box-shadow none
      border none
      color #241A94
    }
  }
}
