.product-informer {
   max-width 900px
   &__side {
      margin-bottom 40px
   }
   &__title {
      margin-bottom 40px
      font-family $font-title
      font-size 20px
   }
   &__desc {
      max-width 540px
   }
   &_max-width_none {
     max-width none
   }
}