.products-slider {
   min-height 600px
   &__major {
      margin-bottom 47px
      +do(1200) {
         margin-bottom 40px
      }
   }
   &__options {
      margin-bottom 70px
      -webkit-overflow-scrolling touch
      font-family $font-title
      font-size 20px
      +do(1400) {
         font-size 18px
      }
      +do(1200) {
         margin-bottom 40px
         overflow-x scroll
      }
      +do(750) {
         margin-bottom 20px
         margin-right -20px
         margin-left -20px
         padding-left 20px
      }
      &-list {
         display flex
         flex wrap
         margin-right -15px
         margin-left -15px
         +do(750) {
            margin-right -10px
            margin-left -10px
            &:after {
               content ''
               display block
               width 20px
               flex 0 0 auto
            }
         }
      }
      &-item {
         margin-right 15px
         margin-left 15px
         flex 0 0 auto
         cursor pointer
         +do(750) {
            margin-right 10px
            margin-left 10px
         }
         &:hover {
            color #00B3E3
         }
         &.is-active {
            pointer-events none
            color #00B3E3
         }
      }
   }
   &__wrapper {
      display flex
      +do(1200) {
         display block
      }
   }
   &__main {
      +do(1200) {
         margin-bottom 40px
      }
   }
   &__side {
      position absolute
      right 0
      +do(1200) {
         position static
      }
   }
   &__desc {
      max-width 470px
      box-sizing border-box
      padding-left 50px
      position relative
      min-height 200px
      +do(1200) {
         min-height 0
         max-width none
         padding-left 20px
      }
      +do(750) {
         padding-left 0
      }
      &-item {
         position absolute
         opacity 0
         top 0
         transform translateX(-100%)
         transition transform .6s cubic-bezier(0.86, 0, 0.07, 1), opacity .6s cubic-bezier(0.86, 0, 0.07, 1)
         +do(1200) {
            transition none
         }
         &.is-active {
            opacity 1
            position relative
            top auto
            transform translateX(0)
         }
      }
   }
   &__images {
      &-item {
         position absolute
         opacity 0
         top 0
         transform translateX(100%)
         transition transform .6s cubic-bezier(0.86, 0, 0.07, 1), opacity .6s cubic-bezier(0.86, 0, 0.07, 1)
         &.is-active {
            opacity 1
            position relative
            top auto
            transform translateX(0)
         }
         +do(1200) {
            transition none
         }
         +do(1400) {
            max-width 500px
         }
      }
   }
}