.product-suppliers {
   &__brands {
      &-title {
         font-size 20px
         line-height (30 / 20)
         font-family $font-title
      }
      &-list {
         display flex
         flex-wrap wrap
         margin-right -80px
         margin-left -80px
         margin-bottom -50px
      }
      &-side {
         margin-bottom 30px
      }
      &-item {
         margin-right 80px
         margin-left 80px
         margin-bottom 50px
         flex 1
         max-width calc(25% - 160px)
         flex-basis @max-width
         &_bottom {
            padding-top 60px
         }
      }
   }
   &__brand {
      &-logo {
         margin-bottom 50px
         display flex
         justify-content center
         align-items center
         min-height 60px
         filter grayscale(100%);
         transform translate3d(0, 0, 0)
         img {
            display block
            max-width 100%
         }
      }
      &-caption {
         color #CBCBCE
         font-size 14px
         line-height (26 / 14)
         text-align center
         max-width 100%
         overflow hidden
         text-overflow ellipsis
      }
      &:hover {
         & ^[-1]-logo {
            filter grayscale(0);
         }
      }
   }
   &__top {
      margin-bottom 300px
   }
   &__bottom {
      margin-bottom 50px
   }
   &__middle {
      display flex
      justify-content center
      align-items center
      margin-bottom 300px
   }
   &__caption {
      position relative
      img {
         display block
         max-width 100%
      }
   }
   &__arrow {
      position absolute
      &:before {
         content ''
         display block
         svg('arrow-big-top', 8px)
         overflow hidden
      }
      &_1 {
         transform rotate(-45deg)
         top -215px
         left -90px
      }
      &_2 {
         top -270px
         right 70%
      }
      &_3 {
         top -270px
         right 25%
      }
      &_4 {
         top -320px
         transform rotate(45deg)
         top -215px
         right -80px
      }
      &_5 {
         top 140px
         transform rotate(45deg)
         left -80px
      }
      &_6 {
         left 27%
         top 200px
      }
      &_7 {
         top 200px
         right 25%
      }
      &_8 {
         top 140px
         right -80px
         transform rotate(-45deg)
      }
   }
}

+do(1200) {
   .product-suppliers {
      &__brands {
         &-list {
            margin-right -40px
            margin-left -40px
         }
         &-item {
            margin-right 40px
            margin-left 40px
            max-width calc(25% - 80px)
            flex-basis calc(25% - 80px)
            &_bottom {
               padding-top 30px
            }
         }
      }
   }
}

+do(1000) {
   .product-suppliers {
      &__brands {
         &-list {
            margin-right -20px
            margin-left -20px
         }
         &-item {
            margin-right 20px
            margin-left 20px
            max-width calc(33.33% - 40px)
            flex-basis calc(33.33% - 40px)
            &_bottom {
               padding-top 0
            }
         }
      }
      &__brand {
         &-logo {
            margin-bottom 20px
         }
      }
      &__arrow {
         display none
      }
      &__top {
         margin-bottom 80px
      }
      &__middle {
         margin-bottom 80px
      }
   }
}

+do(750) {
   .product-suppliers {
      &__top {
         margin-bottom 40px
      }
      &__middle {
         margin-bottom 40px
      }
      &__brands {
         &-list {
            margin-bottom -20px
         }
         &-item {
            margin-bottom 20px
            margin-right 20px
            margin-left 20px
            flex-basis calc(50% - 40px)
            max-width calc(50% - 40px)
            &_bottom {
               padding-top 0
            }
         }
      }
   }
}