.projects-images.projects-images_1 {
   position relative
   .projects-images {
      &__image {
         position absolute
         &_terminal {
            left -120px
            z-index 15
            top 30px
            adaptive-bg('../images/projects/project-1/terminal.png')
         }
         &_cloud {
            left -280px
            top -40px
            adaptive-bg('../images/projects/project-1/cloud.png')
         }
         &_title {
            top 180px
            left -290px
            adaptive-bg('../images/projects/project-1/title.png')
         }
      }
   }
}

+do('miw', 1200) {
   +do('mah', 800) {
      .projects-images.projects-images_1 {
         .projects-images {
            &__image {
               &_terminal {
                  max-width 270px
               }
            }
         }
      }
   }
}

+do('miw', 1920) {
   .projects-images.projects-images_1 {
      .projects-images {
         &__image {
            &_terminal {
               top 260px
            }
         }
      }
   }
}

.projects-images.projects-images_2 {
   position relative
   .projects-images {
      &__image {
         position absolute
         &_cloud-1 {
            left: -270px;
            top: -90px;
            z-index 15
            adaptive-bg('../images/projects/project-2/cloud-1.png')
         }
         &_cloud-2 {
            left: 120px;
            top: 210px;
            z-index 9
            adaptive-bg('../images/projects/project-2/cloud-2.png')
         }
         &_sl {
            top: -125px;
            left: -260px;
            z-index 18
            adaptive-bg('../images/projects/project-2/sl.png')
         }
      }
   }
}

+do(1200) {
   .projects-images {
      display none
   }
}