.queue-ssl {
  position relative

  &:before {
    content ''
    display block
    width 851px
    height 363px
    position absolute
    background-repeat no-repeat
    background-size contain
    background-position center
    background-image url('../../images/queue/SSO.svg')
    z-index -1
    right -220px
    top 240px
  }

  &__title {
    margin-bottom 55px
  }

  &__desc {
    max-width 500px
  }
}

.queue-title {
  font-size 60px
  line-height (68 / 60)
  margin-bottom 48px
  font-weight 700
  font-family $font-title
}

.queue-steps {
  &__side {
    margin-bottom 60px
  }

  &__main {
  }

  &__list {

  }
}

.queue-step {
  padding-bottom 50px
  padding-top 50px
  border-bottom 1px solid rgba(#CCCBCE, 0.2)

  &__cols {
    display flex
    margin-right -20px
    margin-left -20px
    justify-content space-between
    margin-bottom -20px

    &-item {
      margin-right 20px
      margin-left 20px
      margin-bottom 20px

      &_info {
        max-width 630px
        order 1
      }

      &_img {
        order 2
      }
    }
  }

  img {
    display block
    max-width 100%
  }

  &__side {
    margin-bottom 30px
  }

  &__main {
    font-size 14px
  }

  &__header {
    font-size 20px
    font-weight 700

    &-wrapper {
      display flex
    }

    &-main {
      flex 1
      margin-right 10px
    }

    &-side {
      flex 0 0 auto
      color #274DAC
    }
  }

  &:last-child {
    padding-bottom 0
  }
}

.queue-step.is-secondary {
  .queue-step {
    &__cols {
      &-item {
        &_info {
          order 2
        }

        &_img {
          order 1
        }
      }
    }
  }
}

+do(750) {
  .queue-step {
    padding-top 20px
    padding-bottom 20px

    &__cols {
      display block
    }
  }
  img {
    margin-left auto
    margin-right auto
  }
}

.queue-scale {
  &__side {
    margin-bottom 44px
  }

  &__cols {
    display flex
    flex-wrap wrap
    margin-left -10px
    margin-right -10px
    margin-bottom -20px

    &-item {
      flex 1
      margin-left 10px
      margin-right 10px
      margin-bottom 20px
    }
  }
}

+do(750) {
  .queue-scale {
    &__cols {
      display block
    }
  }
}

.queue-scale-item {
  .queue-scale-item {
    &__wrapper {
      display flex
      align-items flex-end
      flex-wrap wrap
      margin-bottom -10px
    }

    &__side {
      margin-right 30px
      margin-bottom 10px
    }

    &__main {
      margin-bottom 10px
    }
  }

  svg {
    max-width 100%
  }
}


.queue-arch {
  position relative
  padding-top 80px
  padding-bottom 80px
  color white

  &:before {
    content ''
    position absolute
    display block
    left -150px
    right -100vw
    top 0
    bottom 0
    background-color #274DAC
  }

  &:after {
    content ''
    position absolute
    background-image url('../../images/queue/sl.svg')
    width 895px
    height 210px
    background-size contain
    background-repeat no-repeat
    background-position center
    right: -460px;
    bottom: 0;
  }

  &__title {
    position relative
    z-index 5
  }

  &__desc {
    position relative
    z-index 5
    margin-bottom 96px
  }

  &__link {
    position relative
    z-index 5

    .link-arrow {
      font-size 18px !important
    }
  }
}


.queue-slider {
  &__titles {
    display flex
    margin-right -25px
    margin-left -25px

    &-item {
      font-size 20px
      color #C4C4CB
      margin-left 25px
      margin-right 25px
      cursor pointer
      flex 0 0 auto

      &:hover {
        opacity 0.8
      }

      &.is-active {
        color #1F4ABD
        pointer-events none
      }
    }
  }

  &__side {
    position relative
  }

  &__count {
    color #CFD0DC
  }

  &__controls {
    display flex
    justify-content flex-end
    align-items center
    margin-right -10px
    margin-left -10px
    position relative
    margin-bottom 15px

    &-item {
      margin-right 10px
      margin-left 10px
    }

    &:before {
      content ''
      position absolute
      bottom 0
      left -100vw
      right -100vw
      display block
      height 1px
      background-color rgba(#CCCBCE, 0.3)
    }
  }

  &__tabs {
    &-item {
      display none

      &.is-active {
        display block
      }
    }
  }

  &__arrows {
    display flex

    &-item {
      width 60px
      height 60px
      position relative
      border 2px solid #CFD0DC;
      cursor pointer

      svg {
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
      }

      &:last-child {
        margin-left -2px
      }

      &:hover {
        background-color #1F4ABD

        path {
          fill white
        }
      }

      &:active {
        opacity 0.8
      }
    }
  }

  img {
    display block
    max-width 100%
  }
}

+do(1000) {
  .queue-slider {
    &__titles {
      margin-bottom 10px
      overflow-x scroll
      -webkit-overflow-scrolling touch

      &:after {
        content ''
        width 40px
        flex 0 0 auto
      }
    }
  }
}

.queue-slider-desc {
  margin-bottom 30px

  &__wrapper {
    display flex
    flex 1
    font-size 14px
    padding-left 30px
    position relative

    &:before {
      content ''
      position absolute
      height 15px
      width 15px
      display block
      left 0
      background-color #1F4ABD
      top 5px
    }
  }
}
