.quote {
   color #FFFFFF
   font-family $font-title
   padding-top 60px
   position relative
   &:before {
      content ''
      position absolute
      left -40px
      top 0
      svg('quotes', 40px, white)
   }
   &__side {
      margin-bottom 60px
   }
   &__title {
      font-size 16px
      line-height (24 / 16)
   }
   &__desc {
      color rgba(#FFFFFF, 0.6)
      font-size 14px
      line-height (26 / 14)
   }
}

+do('miw', 1200) {
   +do('mah', 900) {
      .quote {
         padding-top 34px
         font-size 16px
         line-height 1.5
         &:before {
            svg-size('quotes', 25px)
         }
         &__side {
            padding-left 0
            margin-bottom 40px
            max-height 395px
            overflow hidden
            text-overflow ellipsis
         }
      }
   }
}

+do(1000) {
   .quote {
      font-size 16px
      padding-top 0
      &__side {
         padding-left 0
      }
      &:before {
         display none
      }
   }
}
+do(750) {
   .quote {
      font-size 14px
   }
}