.rows-info {
   &__main {
      margin-bottom 105px
      &_row_none {
         margin-bottom 0
      }
   }
   &__side {
      border-top 1px solid rgba(#CCCBCE, 0.3)
      padding-top 70px
   }
   &__actions {
      display flex
      align-items center
      flex-wrap wrap
      margin-right -20px
      margin-left -20px
      &-item {
         margin-right 20px
         margin-left 20px
         flex 0 0 auto
         & + & {
            position relative
            &:before {
               content ''
               position absolute
               left -20px
               height 30px
               top 50%
               transform translateY(-50%)
               width 1px
               display block
               background-color rgba(#CCCBCE, 0.3)
            }
         }
      }
   }
   &__content {
      &_max-width_large {
         max-width 930px
      }
      &_max-width_medium {
         max-width 1080px
      }
      &_max-width_xlarge {
         max-width 1200px
      }
      &_max-width_none {
         max-width none
      }
   }
}

+do(750) {
   .rows-info {
      &__main {
         margin-bottom 20px
      }
      &__side {
         padding-top 15px
      }
   }
}

.rows-list {
   font-size 14px
   line-height (26 / 14)
   box-sizing border-box
   padding-bottom 38px
   border-bottom 1px solid rgba(#CCCBCE, 0.3)
   margin-bottom 85px
   &__list {
      &-item {
         box-sizing border-box
         padding 40px 50px
         &_dark {
            background-color #F4F5F7
         }
      }
   }
}
+do(750) {
   .rows-list {
      margin-bottom 30px
      &__list {
         &-item {
            padding 20px
         }
      }
   }
}