.screen {
   min-height 100vh
   box-sizing border-box
   padding-top 160px
   transition background-color .6s cubic-bezier(0.86, 0, 0.07, 1)
}

.screen {
   &_services {
      ul {
         li {
            font-weight 400
            margin-bottom 10px
         }
      }
      +do('miw', 1920) {
         box-sizing border-box
         padding-top 20px
         padding-bottom 20px
         display flex
         align-items center
      }
   }
   &_company {
      ul {
         li {
            margin-bottom 10px
            font-weight 400
            &:before {
               background-color white
            }
         }
      }
      +do('miw', 1920) {
         box-sizing border-box
         padding-top 20px
         padding-bottom 20px
         display flex
         align-items center
      }
   }
   &_intro {
      +do('miw', 2200) {
         .block-wrapper {
            max-width 1860px
         }
      }
   }
   &:not(&_intro) {
      +do('miw', 1920) {
         +do('mih', 1080) {
            box-sizing border-box
            padding-top 20px
            padding-bottom 20px
            display flex
            align-items center
         }
      }
   }
}

+do('mih', 1080) {
   .screen {
      //padding-top 0
   }
}

.screen_project-1 {
   background-image: linear-gradient(to top, #21ADA8 0%, #30B6B1 100%)
   position relative
   overflow hidden
   &:before {
      position absolute
      content ''
      top 0
      bottom 0
      right 0
      width calc(34% - 40px)
      z-index 5
      background-position center
      background-repeat no-repeat
      background-size cover
      background-image url('../images/project-1.png') , linear-gradient(to top, #21ADA8 0%, #30B6B1 100%)
   }
}

.screen_project-2 {
   background-image: $gradient-blue
   position relative
   overflow hidden
   &:before {
      position absolute
      content ''
      top 0
      bottom 0
      right 0
      width calc(34% - 40px)
      z-index 5
      background-position center
      background-repeat no-repeat
      background-size cover
      background-image url('../images/project-2.png') , $gradient-blue
   }
}

+do('miw', 1200) {
   +do('mah', 600) {
      .screen {
         &_project-1,
         &_project-2 {
            min-height 100vh
            margin-top 60px
         }
      }
   }
}

+do(750) {
   .screen {
      padding-top 30px
   }
}

.screen_overflow_hidden {
   overflow hidden
}

.screen_intro {
   position relative
   overflow hidden
   padding-top 0
}

+do('mih', 1080) {
   .screen_intro {
      //padding-top 0
   }
}

+do('miw', 1200) {
   +do('mah', 800) {
      .screen {
         padding-top 140px
         min-height 0
      }
   }
   +do('mah', 700) {
      .screen {
         padding-top 140px
      }
      .screen_intro {
         padding-top 160px
      }
   }
   +do('mah', 600) {
      .screen {
         padding-top 80px
         min-height 0
      }
      .screen_company,
      .screen_products,
      .screen_news,
      .screen_contacts,
      .screen_cases,
      .screen_projects {
         padding-bottom 80px
      }
      .screen_news {
         padding-top 30px
      }
   }
}

.screen_striped {
   position relative
   &:before {
      position absolute
      top 0
      width 100%
      bottom 0
      right 0
      z-index -1
      content ''
      display block
      background #FBFCFE
      max-width calc(50%)
   }
}

+do(1050) {
   .screen_striped {
      position relative
      &:before {
         display none
      }
   }
}

.screen_case {
   .screen {
      &__case-image {
         position absolute
         top 0
         width 100%
         right 0
         bottom 0
         z-index 2
         background-position center left
         background-repeat no-repeat
         background-size cover
         max-width 42.5%
         display none
         +do('miw', 1920) {
            max-width 43.5%
         }
      }
   }
}

+do(1800) {
   .screen_case {
      .screen {
         &__case-image {
            max-width 40%
         }
      }
   }
}

.screen_case-1 {
   position relative
   .screen {
      &__case {
         &-image_1 {
            display block
         }
      }
   }
}

.screen_case-2 {
   position relative
   .screen {
      &__case {
         &-image_2 {
            display block
         }
      }
   }
}

.screen_case-3 {
   position relative
   .screen {
      &__case {
         &-image_3 {
            display block
         }
      }
   }
}

.screen_case-4 {
   position relative
   .screen {
      &__case {
         &-image_4 {
            display block
         }
      }
   }
}

.screen_company {
   background-image $gradient-blue
   position relative
   &:after {
      display block
      transition .6s cubic-bezier(0.86, 0, 0.07, 1)
      content ''
      position absolute
      top 0
      width 100%
      right 0
      bottom 0
      z-index 1
      max-width 42.5%
      background-position center left
      background-repeat no-repeat
      background-size cover
      background-image url("../images/company-wrapper.png")
   }
   .screen__notification {
      position absolute
      top 0
      width 100%
      right 0
      bottom 0
      max-width 42.5%
      z-index 5
   }
}

.screen_contacts {
   background-image $gradient-blue
   position relative
   overflow hidden
   .screen {
      &__map {
         display block
         z-index 99
         position absolute
         top 0
         bottom 0
         width 100%
         max-width 50%
         right 0
      }
   }
}

+do(1200) {
   .screen_intro {
      padding-top 0
   }
   .screen {
      padding-top 30px
      padding-bottom 60px
      min-height 0
   }
   .screen_services {
      padding-top 60px
      box-sizing border-box
      min-height 560px
      padding-bottom 30px
   }
   .screen_products {
      padding-top 0
   }
   .screen_projects {
      min-height 600px
   }
   .screen_contacts,
   .screen_company {
      min-height 600px
   }
   .screen_case {
      &:before {
         max-width 50%
      }
      &:after {
         max-width 50%
      }
   }
}

+do(1050) {
   .screen {
      padding-bottom 60px
   }
   .screen_case {
      .screen {
         &__case-image {
            max-width 100%
         }
      }
   }
   .screen_company {
      min-height 550px
      .screen {
         &__notification {
            position static
            max-width none
            padding-left 30px
            padding-right 30px
            display flex
            width auto
            justify-content flex-end
         }
      }
   }
}

+do(750) {
   .screen {
      min-height 0
   }
   .screen_projects {
      padding-bottom 20px
   }

   .screen_contacts {
      .screen {
         &__map {
            position static
            max-width none
            height 300px
            margin-top 40px
         }
      }
   }
   .screen_contacts {
      padding-bottom 0
   }
}