.scrolling-page {
   &__side {
      margin-bottom 75px
   }
   &__title {
      font-weight 700
      font-size 22px
   }
   &__main {
   }
   &__header {
      display flex
      align-items center
      margin-right -5px
      margin-left -5px
      &-main {
         flex 1
         margin-right 5px
         margin-left 5px
      }
      &-side {
         flex 0 0 auto
         margin-right 5px
         margin-left 5px
      }
   }

}

+do(1000) {
   .scrolling-page {
      &__header {
         &-side {
            display none
         }
      }
   }
}

+do(750) {
   .scrolling-page {
      &__side {
         margin-bottom 35px
      }
   }
}