.section {
  flex 1 0 auto
  position relative

  &_article-header {
    border-bottom 2px solid rgba(204, 203, 206, .2)
    padding-bottom 36px
  }

  &_article-widgets {
    padding-bottom 82px
    border-bottom 2px solid rgba(204, 203, 206, .2)
  }

  &_same-articles {
    padding-top 68px
  }
}

+do(1000) {
  .section {
    &_same-articles {
      padding-top 38px
    }
  }
}

+do(500) {
  .section {
    &_article-widgets {
      padding-bottom 38px
    }

    &_same-articles {
      padding-top 38px
    }
  }
}

.section {
  &__header {
    padding-bottom 50px
  }

  &__content {
    padding-bottom 57px
  }
}

+do(1420) {
  .section {
    &-header {
      &__wrapper {
        padding-left 30px
        padding-right 30px
      }
    }
  }
}

+do(750) {
  .section {
    &-header {
      &__wrapper {
        padding-left 20px
        padding-right 20px
      }
    }
  }
}

+do(500) {
  .section {
    &__content {
      padding-bottom 20px
    }
  }
}

.section-color {
  position relative
  background-image url("../images/pay-logic-pc/city.jpg")
  background-size cover
  background-position center
  background-repeat no-repeat

  &:before {
    content ''
    position absolute
    z-index 30
    trbl 0
    background-color rgba(#264DAB, .96)
  }

  &__wrapper {
    position relative
    z-index 50
  }

  &__list {
    margin-bottom 75px
  }

  &__description {
    max-width 1200px
    margin-bottom 120px
  }

  &__img {
    img {
      vertical-align bottom
    }
  }

  &__bg-image {
    z-index 33
    position absolute
    right -39%
    top -18%
  }

  &__dots-right {
    position absolute
    z-index 50 !important
    right 0
    top 0
  }

  &_bottom_medium {
    padding-bottom 310px
  }

  &_top_offset {
    &:before {
      content ''
      top -100px
    }
  }

  &_fiscal-online {
    &:before {
      content ''
      background-color #2868C7 !important
    }
  }
}


+do(1200) {
  .section-color {
    &__bg-image {
      display none
    }
  }
}

+do(750) {
  .section-color {
    &__list {
      margin-bottom 40px
    }

    &__description {
      margin-bottom 50px
    }
  }
}

+do(750) {
  .section-color {
    padding-top 30px !important
    padding-bottom 30px !important
  }
}

.section-color.section-color_dark-blue {
  background-image url("../images/taxi/variation.png")
  padding-top 120px

  &:before {
    background-color $color-blue-xxdark
    opacity .95
  }
}

+do(1000) {
  .section-color.section-color_dark-blue {
    padding-top 60px
  }
}

.section-color.section-color_light_blue {
  background-image url("../images/pay-logic-hub/city.png")
  padding-top 120px

  &:before {
    background-color rgba(#0083CA, .96)
  }

  .section-color {
    &__circle {
      &-side {
        size 58px
        background-size cover
        background-position center
        background-repeat no-repeat
        background-image url("../images/pay-logic-hub/circle-small-white.png")
        position absolute
        z-index 55
        left 0
        bottom 120px
        transform translateX(-50%)
      }

      &-main {
        position absolute
        size 80px
        background-size cover
        background-position center
        background-repeat no-repeat
        background-image url("../images/pay-logic-hub/circle-blue.png")
        right 105px
        top -30px
        z-index 55
      }
    }
  }

}

.section-color.section-color_navi {
  &:before {
      background-color #1F4ABD !important
  }
}

.section-color.section-color_orange {
  &:before {
    background-color #E54C37 !important
  }
}

.section-color.section-color_sea {
  &:before {
    background-color #65BDC6 !important
  }
}

+do(1000) {
  .section-color.section-color_light_blue {
    padding-top 60px

    .section-color {
      &__circle {
        &-side {
          display none
        }

        &-main {
          display none
        }
      }
    }

  }
}

.section-color.section-color_black {
  background-image url("../images/pay-logic-pc/code.jpg")
  padding-top 100px

  &:before {
    background-color rgba(#040724, .96)
  }

  .section-color {
    &__circle {
      &-side {
        size 58px
        background-size cover
        background-position center
        background-repeat no-repeat
        background-image url("../images/pay-logic-hub/circle-small-white.png")
        position absolute
        z-index 55
        left 0
        bottom 120px
        transform translateX(-50%)
      }

      &-main {
        position absolute
        size 80px
        background-size cover
        background-position center
        background-repeat no-repeat
        background-image url("../images/pay-logic-hub/circle-blue.png")
        right 105px
        top -30px
        z-index 55
      }
    }
  }

}

.section-color.section-color_blue-dark {
  background-image none
  color $color-white

  &:before {
    background-color #040724
    opacity 1
  }

  .section-color__line {
    padding-top 50px
    margin-bottom 45px
    border-bottom 1px solid rgba(204, 203, 206, 0.15)

    &_gap-offset {
      padding-top 45px
      margin-bottom 70px
    }
    +do(750) {
      padding-top 35px
      margin-bottom 27px
    }
  }
}

.section-color_blue-dark.section-color_bg-right {
  &:before {
    background-color #040724
    opacity 1
    right -100vw
    left -117px
  }
}

.section-color_blue-light.section-color_bg-right {
  &:before {
    background-color #2868C7
    opacity 1
    right -100vw
    left -117px
  }
}

.section-color_blue-xlight.section-color_bg-right {
  &:before {
    background-color #0E8ACD
    opacity 1
    right -100vw
    left -117px
  }
}

.section-color_fiscal-farm.section-color_bg-right {
  &:before {
    background-color #241A94
    opacity 1
    right -100vw
    left -117px
  }
}

.section-color_fast-food.section-color_bg-right {
  &:before {
    background-color #F37021
    opacity 1
    right -100vw
    left -117px
  }
}

.section-color_purple {
  &:before {
    background-color #882DE2
    opacity 1
    right -100vw
    left -117px
  }
}

.section-color_black_simple {
  &:before {
    background-color #00011f
    opacity 1
    right -100vw
    left -117px
  }
}

.section-color_kiosks {
  &:before {
    background-color #040724
  }
}

.section-color_blue-dark.section-color_bg-full {
  &:before {
    background-color #040724
    opacity 1
    right -100vw
    left -100vw
  }
}

.section-color_padding-bottom_none {
  padding-bottom 0 !important
}

.section-color_mobile-pay {
  color $color-white

  .section-color {
    &__circle {
      position absolute
      top -150px
      left -170px
      width 122px !important
      height 125px !important
      z-index 55 !important
    }

    &__wrapper {
      padding-bottom 150px
    }

    &__main {
      max-width 40%
    }

    &__description {
      font-size 14px
      line-height (26 / 14)
      margin-bottom 0
    }

    &__description-item {
      margin-bottom 50px
    }

    &__img {
      z-index 40
      position absolute
      top -80px
      bottom 0
      left 50%
      width 60%
      overflow hidden
    }
  }
}

+do(1400) {
  .section-color_mobile-pay {
    .section-color {
      &__wrapper {
        padding-bottom 70px
      }

      &__main {
        max-width 50%
      }

      &__img {
        width 65%
      }
    }
  }
}

+do(1200) {
  .section-color_mobile-pay {
    .section-color {
      &__wrapper {
        padding-bottom 0
      }

      &__main {
        max-width 800px
      }

      &__description-item {
        margin-bottom 30px
      }

      &__img {
        position relative
        trbl auto
        margin-right auto
        margin-left auto
        max-width 800px
        width 100%
      }
    }
  }
}

.section-color_fast-food {
  &:before {
    background-color #F37021
  }
}

.section-color_fiscal-farm {
  color $color-white
}

+do(750) {
  .section-color_padding-foxed {
    padding-top 70px !important
  }
  .section-color_fiscal-farm {
    padding-top 70px !important
  }
}

.section-color_ticket .section-color {
  &__wrapper {
    display flex
    flex-wrap wrap
  }

  &__main {
    flex-column(1.1, 2, 0px)
  }

  &__side {
    flex-column(0.9, 2, 0px)
    display flex
    align-items center
  }

  &__img {
    flex 1 1 auto
    margin-right -300px
  }
}

+do(900) {
  .section-color_ticket .section-color {
    &__wrapper {
      display block
    }

    &__main {
      flex-column(1, 1, 0px)
      margin-bottom 50px
    }

    &__side {
      flex-column(1, 1, 0px)
      display block
    }

    &__img {
      margin-right auto
      margin-left auto
    }
  }
}

.section-desc {
  padding-top 60px
  font-size 14px
  line-height (26 / 14)

  &__wrapper {
    max-width 630px
    padding-left 50px

    &_white {
      color $color-white
      max-width 450px
      margin-bottom 50px
    }
  }

  &_row_large {
    margin-bottom 90px
  }

  &_fonts-size_large {
    font-size 20px
    line-height (30 / 20)
  }

  &_padding-top_none {
    padding-top 0
  }

  &_max-width_none {
    & ^[0]__wrapper {
      max-width none
    }
  }
}

.section-desc_offset-top_small {
  padding-top 40px
}

+do(1200) {
  .section-desc {
    padding-top 40px
  }
}

+do(1000) {
  .section-desc {
    padding-top 30px
  }
}

+do(750) {
  .section-desc {
    padding-top 20px

    &__wrapper {
      padding-left 0
    }
  }
}

+do(500) {
  .section-desc {
    &__wrapper {
      padding-left 0
    }
  }
}

.section-delimiter {
  margin-top 64px
  margin-bottom 64px
  height 1px
  display block
  background-color #CCCBCE

  &_row-top_none {
    margin-top 0
  }

  &_opacity3 {
    opacity .3
  }

  &_opacity0 {
    opacity .0
  }

  &_pos-rel {
    position relative
    z-index 99
  }
}

+do(1200) {
  .section-delimiter {
    margin-top 30px
    margin-bottom 30px
  }
}

+do(1000) {
  .section-delimiter {
    margin-top 20px
    margin-bottom 20px
  }
}

.section-cols {
  &__list {
    display flex
    margin-right -90px
    margin-left -90px

    &-item {
      flex 1
      padding-left 90px
      padding-right 90px
      max-width calc(50% - 180px)

      &_align_center {
        display flex
        align-items center
      }

      &_align_bottom {
        display flex
        align-items flex-end
        justify-content center
      }
    }
  }
}

.section-cols.section-cols_stretches {
  padding-top 30px
}

.section-cols.section-cols_bg_grey {
  position relative

  &:before {
    content ''
    position absolute
    top -160px
    left -115px
    right -115px
    bottom 0
    background #FAFBFD
    display block
    z-index -1
  }
}

.section-cols.section-cols_border-bottom {
  border-bottom 1px solid rgba(#CCCBCE, 0.3)
}

+do(1200) {
  .section-cols {
    &__list {
      display flex
      margin-right -45px
      margin-left -45px

      &-item {
        flex 1
        padding-left 45px
        padding-right 45px
        max-width calc(50% - 90px)
      }
    }
  }
}

+do(1000) {
  .section-cols {
    &__list {
      display flex
      margin-right -20px
      margin-left -20px

      &-item {
        flex 1
        padding-left 20px
        padding-right 20px
        max-width calc(50% - 40px)
      }
    }
  }
}

+do(750) {
  .section-cols {
    &__list {
      display block

      &-item {
        max-width none
      }
    }
  }
  .section-cols.section-cols_offset {
    .section-cols {
      &__list {
        margin-bottom 0
        border-bottom 1px solid rgba(white, 0)

        &-item {
          margin-bottom 30px
        }
      }
    }
  }
}

.section-solution {
  position relative

  &__bg {
    position absolute
    z-index 30
    top 0
    right 0
    bottom 0
    width 30%
    background #FAFBFD
  }

  &__wrapper {
    z-index 50
    position relative
    display flex
    flex-wrap wrap
  }

  &__main {
    flex-column(1, 2, 0px)
  }

  &__side {
    position relative
    flex-column(1, 2, 0px)
  }

  &__subtitle {
    //
  }

  &__content {
    margin-bottom 350px
    max-width 500px
  }

  &__number {
    z-index 40
    position absolute
    top 25%
    right 10%
    svg('1xxx', 145px, #EAEAEB)
  }

  &__img {
    z-index 50
    position absolute
    bottom 150px
    left -100px

    img {
      vertical-align bottom
    }
  }
}

+do(1200) {
  .section-solution {
    &__main {
      flex-column(1.1, 2, 0px)
    }

    &__side {
      position relative
      flex-column(0.9, 2, 0px)
    }

    &__subtitle {
      //
    }

    &__content {
      margin-bottom 300px
    }

    &__number {
      position absolute
      top 25%
      svg('1xxx', 125px, #EAEAEB)
    }

    &__img {
      z-index 50
      position absolute
      bottom 150px
      left -50px
    }
  }
}

+do(1000) {
  .section-solution {
    &__content {
      margin-bottom 100px
    }

    &__number {
      position absolute
      top 25%
      svg('1xxx', 80px, #EAEAEB)
    }

    &__img {
      z-index 50
      position absolute
      bottom 150px
      left -50px
    }
  }
}

+do(750) {
  .section-solution {
    &__bg {
      width 50%
    }

    &__wrapper {
      display block
    }

    &__side {
      display none
    }

    &__main {
      flex-column(1, 1, 0px)
    }

    &__subtitle {
      //
    }

    &__content {
      margin-bottom 40px
    }

    &__number {
      svg('1xxx', 60px, #EAEAEB)
    }
  }
}

.section-solution_2,
.section-solution_3 {
  .section-solution {
    &__wrapper {
      position relative
    }

    &__bg {
      width auto
      left 0
      top 30%
      right -100vw
      bottom 13%
    }

    &__wrapper {
      display block
    }

    &__side {
      position relative
      z-index 50
      flex-column(1, 1, 0px)
    }

    &__img {
      position static
      max-width 1360px
      margin-left auto
      margin-right auto
    }

    &__number {
      trbl auto
      top 30%
      left 75%
      svg('2xxx', 270px, #EAEAEB)
    }

    &__dots {
      position absolute
      top 17%
      right 0
    }

    &__line {
      position absolute
      z-index 70
      top 8%
      left 75%
    }
  }
}

+do(1200) {
  .section-solution_2 {
    .section-solution {
      &__number {
        trbl auto
        top 30%
        left 80%
        svg('2xxx', 180px, #EAEAEB)
      }
    }
  }
}

+do(750) {
  .section-solution_2 {
    .section-solution {
      &__side {
        display block
      }

      &__number {
        trbl auto
        top 30%
        left 80%
        svg('2xxx', 60px, #EAEAEB)
      }

      &__line {
        display none
      }
    }
  }
}

.section-solution_3 {
  .section-solution {
    &__wrapper {
      padding-top 80px
    }

    &__img {
      max-width 1240px
      margin-right auto
      margin-left auto
    }

    &__number {
      trbl auto
      top 0
      left 85%
      svg('3xxx', 235px, #EAEAEB)
    }
  }
}

+do(1200) {
  .section-solution_3 {
    .section-solution {
      &__wrapper {
        padding-top 60px
      }

      &__number {
        trbl auto
        top 0
        left 85%
        svg('3xxx', 180px, #EAEAEB)
      }
    }
  }
}

+do(750) {
  .section-solution_3 {
    .section-solution {
      &__wrapper {
        padding-top 10px
      }

      &__side {
        display block
      }

      &__number {
        trbl auto
        top -45px
        left 83%
        svg('3xxx', 60px, #EAEAEB)
      }
    }
  }
}

.section-map {
  position relative
  padding-top 125px
  padding-bottom 116px

  &:before {
    content ''
    position absolute
    top 0
    right 280px
    bottom 0
    background-color #0082C9
    width 100%
  }

  &__circle {
    display block
    size 80px
    background-position center
    background-repeat no-repeat
    background-image url('../images/pay-logic-hub/circle-1.png')
    background-size contain
    position absolute
    right 240px
    top -40px
  }

  &__grid {
    display block
    height 280px
    width 140px
    background-position center
    background-repeat repeat-y
    background-image url('../images/pay-logic-hub/grid-1.png')
    background-size contain
    position absolute
    right 0
    top 0
  }

  &__img {
    display flex
    justify-content center
    align-items center
    position relative
    z-index 98

    &-box {
      position relative
      z-index 105
    }

    img {
      display block
      max-width 100%
    }
  }

  &__side {
    margin-bottom 90px
  }

  &__title {
    font-size 60px
    color white
    font-family $font-title
    font-weight 700
    position relative
    z-index 99
    max-width 900px
  }

  &_dark {
    &:before {
      background-color #050824
    }
  }

  svg {
    position absolute
    top 0
    left 0
    right 0
    bottom 0
  }
}

+do(1800) {
  .section-map {
    &:before {
      right 0
    }

    &__grid {
      display none
    }
  }
}

+do(1600) {
  .section-map {
    padding-top 80px
    padding-bottom 80px

    &__title {
      font-size 48px
    }
  }
}

+do(1200) {
  .section-map {
    padding-top 80px
    padding-bottom 80px

    &__title {
      font-size 36px
    }
  }
}

+do(750) {
  .section-map {
    padding-top 40px
    padding-bottom 40px

    &__side {
      margin-bottom 40px
    }

    &__title {
      font-size 22px
    }
  }
}

.section-stack {
  &__wrapper {
    position relative

    &:before {
      content ''
      position absolute
      trbl 0 -100vw 0 -120px
      background #FAFBFD
      z-index 30
    }
  }

  &__content {
    position relative
    z-index 50
  }

  &__title {
    margin-bottom 75px
  }

  &__list {
    margin-bottom 60px
  }

  &__link {
    border-top 1px solid rgba(#CCCBCE, .3)
    font-size 18px
    line-height (30 / 18)

    a {
      font-weight normal
    }
  }
}

+do(750) {
  .section-stack {
    &__title {
      margin-bottom 20px
    }

    &__list {
      margin-bottom 40px
    }

    &__link {
      padding-top 0
      border none
    }
  }
}

.section-stack_fiscal-farm {
  .section-stack {
    &__wrapper {
      &:before {
        content none
        display none
      }

      &:after {
        content ''
        display block
        background url("../images/fiscal-farm/JavaSer.svg")
        width 825px
        height 160px
        position absolute
        background-repeat no-repeat
        background-size cover
        bottom 170px
        left 70%
      }
    }
  }
}

+do(900) {
  .section-stack_fiscal-farm {
    .section-stack {
      &__wrapper {
        &:after {
          content none
          display none
        }
      }
    }
  }
}

.section {
  &__link {
    padding-left 52px

    &_top-gap {
      margin-top 100px
    }
  }

  &__link-arrow {
    color $color-yellow-like-sun
    position relative
    padding-right 43px
    font-size 18px
    line-height (30 / 18)
    font-family $font-title
    font-weight 600
    opacity 1
    transition .3s ease

    &:before {
      content ''
      position absolute
      right 0
      top 6px
      svg('arrow-long-right', 25px, $color-yellow-like-sun)
      transition .1s linear
    }

    &:hover {
      opacity 0.8
      color $color-yellow-like-sun

      &:before {
        transform translateX(5px)
      }
    }
  }
}

+do(750) {
  .section {
    &__link {
      padding-left 0px

      &_top-gap {
        margin-top 70px
      }

      &-arrow {
        font-size 14px
        padding-right 33px
        display inline-block

        &:before {
          width 18px
          height 12px
          top 5px
        }
      }
    }
  }
}

+do(500) {
  .section {
    &__link {
      &_top-gap {
        margin-top 50px
      }
    }
  }
}

.section-workplace {
  position relative
  padding-bottom .1px

  &:before {
    content ''
    position absolute
    z-index 30
    trbl 145px 0 0 -100vw
    background #FAFBFD
  }

  &__wrapper {
    position relative
    z-index 50
  }

  &__info {
    display flex
    flex-wrap wrap
  }

  &__info-main {
    flex-column(1.3, 2, 0px)
  }

  &__info-side {
    position relative
    flex-column(0.7, 2, 0px)
  }

  &__img {
    position absolute
    trbl -145px -370px -35px -85px

    img {
      max-width 100%
      width auto
      height 100%
    }
  }

  &__seporate {
    padding-top 70px
    margin-bottom 70px
    border-bottom 1px solid rgba(#CCCBCE, .3)
  }

  &__dots {
    position absolute
    size 140px
    bottom -175px
    right -140px
    z-index 50 !important
  }
}

+do(1200) {
  .section-workplace {
    &__img {
      trbl -50px -300px 40px -62px
    }
  }
}

+do(1000) {
  .section-workplace {
    &__info-side {
      flex-column(1, 1, 0px)
    }

    &__info-main {
      flex-column(1, 1, 0px)
    }

    &__seporate-side {
      display none
    }

    &__img {
      position static
      padding-left 50px
      padding-right 50px
      max-width 900px
      margin-left auto
      margin-right auto
      margin-bottom 60px

      img {
        max-width 100%
        width 100%
        height auto
      }
    }

    &__list {
      margin-bottom 40px
    }
  }
}

+do(750) {
  .section-workplace {
    &__title {
      margin-bottom 0
    }

    &__img {
      padding 0
    }

    &__seporate {
      padding-top 0
      margin-bottom 40px
    }
  }
}

.section-why {
  color $color-white

  &__wrapper {
    position relative
    padding-bottom 20px

    &:before {
      content ''
      z-index -1
      position absolute
      trbl 0 -120px 0 -120px
      background #173B93
    }
  }

  &__content {
    display flex
    flex-wrap wrap
  }

  &__main {
    flex-column(2, 3, 0px)
    display flex
  }

  &__side {
    position relative
    flex-column(1, 3, 0px)
  }

  &__img {
    position absolute
    top - 170px
    bottom -170x
    left 100px
    width 240%

    img {
      max-width 100%
      width 100%
      height auto
    }
  }

  &__list {
    display flex
    flex-wrap wrap
    margin 0 -30px -30px -30px
  }

  &__item {
    margin 0 30px 30px 30px
    flex-column(1, 2, 30px)
  }

  &__line {
    padding-top 80px
    margin-bottom 75px
    border-bottom 1px solid rgba($color-white, .15)
  }

  .support-item {
    li:before {
      opacity .2
    }
  }
}

+do(1300) {
  .section-why {
    &__img {
      left 0
    }

    &__list {
      display flex
      flex-wrap wrap
      margin 0 -20px -30px -20px
    }

    &__item {
      margin 0 20px 30px 20px
      flex-column(1, 2, 20px)
    }

    &__line {
      padding-top 60px
      margin-bottom 55px
    }
  }
}

+do(1000) {
  .section-why {
    &__img {
      top 0
      bottom 0
    }
  }
}

+do(750) {
  .section-why {
    &__item {
      flex-column(1, 1, 20px)
    }

    &__content {
      display block
    }

    &__main {
      margin-bottom 30px
    }

    &__side {
      flex-column(1, 1, 0px)
    }

    &__line {
      padding-top 30px
      margin-bottom 35px
    }

    &__img {
      width 100%
      position static
    }
  }
}

.section-color.section-color_red {
  &:before {
    background-color #DC4A2F
  }
}
