.section-image {
   position relative
   &_bg-b {
      &:before {
         content ''
         position absolute
         top 0
         left 0
         bottom 100px
         right 0
         z-index -1
         background-color $color-grey-dark
      }
   }
   &_bg-lb {
      &:before {
         content ''
         position absolute
         top 0
         left 160px
         bottom 100px
         right 0
         z-index -1
         background-color $color-grey-dark
      }
   }
   &_bg-lb_s {
      &:before {
         bottom 60px
      }
   }
   &__wrapper {
      padding-top 40px
   }
   &__subtitle {
      font-family $font-title
      font-size 18px
      line-height (72 / 18)
      color $color-blue-xxdark
      margin-left 52px
      margin-bottom 44px
   }
   &__image-list {
      display flex
      flex-wrap wrap
      margin-left -25px
      margin-right -25px
   }
   &__image {
      display flex
      flex 1
      max-width calc(33.33% - 50px)
      flex-basis calc(33.33% - 50px)
      flex-direction column
      margin-left 25px
      margin-right 25px
      margin-bottom 50px
      img {
         display block
         box-shadow 0 10px 40px rgba(10, 3, 31, .12)
      }
   }
   &__delimiter {
      width 100%
      height 1px
      background-color $color-grey-xdark
      opacity .3
   }
}
.section-image_gap-none {
   .section-image {
      &__wrapper {
         padding-bottom .1px
      }
      &__image-list {
         margin-bottom -50px
      }
   }
}

+do(750) {
   .section-image {
      &__wrapper {}
      &__subtitle {
         font-size 16px
         line-height (27 / 18)
         margin-left 0
      }
      &__image {
         min-width 240px
         margin-right 10px
         margin-left 10px
         &-list {
            margin-right -20px
            margin-left -20px
            padding-left 10px
            flex-wrap nowrap
            overflow-x auto
            overflow-y visible
            -webkit-overflow-scrolling touch
            &:after {
               content ''
               display block
               width 20px
               flex 0 0 20px
            }
         }
      }
   }
}

.section-image_messenger {
   .section-image {
      &__wrapper {
         display flex
         flex-wrap wrap
      }
      &__main {
         flex-column(1, 2, 0px)
      }
      &__side {
         flex-column(1, 2, 0px)
         margin-bottom -100px
         padding-left 30px
         box-sizing border-box
         display flex
         align-items flex-end
         img {
            vertical-align bottom
         }
      }
   }
}
+do(1200) {
   .section-image_messenger {
      .section-image {
         &__side {
            margin-bottom -80px
         }
      }
   }
}
+do(750) {
   .section-image_messenger {
      .section-image {
         &__wrapper {
            display block
         }
         &__main {
            flex-column(1, 1, 0px)
         }
         &__side {
            justify-content center
            padding 0
            flex-column(1, 1, 0px)
            margin-bottom -50px
         }
      }
   }
}
