.section-with-image {
  position relative

  &_padding-bottom {
    padding-bottom 232px
  }

  &:before {
    content ''
    position absolute
    background $color-grey-dark
    left 0
    top 0
    right 0
    bottom 0
    width 1761px
    margin-left auto
    z-index -1
  }

  &_bg-center {
    &:before {
      content ''
      position absolute
      background $color-grey-dark
      left 0
      top 0
      right 0
      bottom 0
      width 1600px
      margin-left auto
      margin-right auto
      z-index -1
    }
  }

  &_bg-none {
    &:before {
      content none
      display none
    }
  }

  &_top-offset-large {
    padding-top 80px
  }

  &_top-out-gap {
    margin-top -145px
  }

  &__wrapper {
    padding-top 88px
    padding-bottom 85px
    min-height 718px
    display flex
    flex-direction column

    &_border-bottom {
      border-bottom 1px solid rgba(204, 203, 206, 0.3)
    }

    &_told {
      min-height 880px
    }
  }

  &__content-wrapper {
    display flex
    flex-wrap wrap
    box-sizing border-box
    flex-grow 1
  }

  &__main {
    display flex
    flex-direction column
    max-width 65%
    flex-basis 65%
  }

  &__delimiter {
    width 100%
    position relative
    margin-top 20px
    margin-bottom 90px

    &:before {
      content ''
      position absolute
      top 0
      width 100%
      height 1px
      background-color $color-grey-xdark
      opacity .3
    }

    &_mobile {
      display none
    }
  }

  &__side {
    position relative
    max-width 35%
    flex-basis 35%

    &-image {
      position absolute
      z-index 16

      &_terminal {
        left 24%
        top 30px
        adaptive-bg('../images/taxi/terminal.png')
      }

      &_postmat {
        left -14%
        top 50px
        adaptive-bg('../images/taxi/postmat.png')
      }

      &_postmat-ff {
        left -14%
        top 100px
        adaptive-bg('../images/fast-food/postmat.png')
        +do(1300) {
          top: 50px
          left 10%
        }
      }

      &_postmat-fit {
        left -35%
        top auto
        bottom 100px
        adaptive-bg('../images/fitness/postmat.png')
      }

      &_blue-postmat {
        left 43%
        top 50px
        adaptive-bg('../images/postamat/big-blue-postamat.png')
      }

      &_postmat-retail {
        left -14%
        top auto
        bottom -22.5%
        adaptive-bg('../images/retail/postmat-2.png')
      }

      &_half-postmat {
        left 10%
        top 21%
        adaptive-bg('../images/postamat/half-postamat.png')
      }

      &_fitness {
        left 10%
        top 34%
        adaptive-bg('../images/fitness/f-right.png')
      }

      &_ticket-booth-mac {
        left 0
        top 40%
        adaptive-bg('../images/ticket-booth/mac.png')
      }
    }
  }

  &__title {
    font-size 60px
    font-family $font-title
    color $color-blue-xxdark
    line-height (68 / 60)
    font-weight 600
    margin-bottom 67px
  }

  &__desc-wrapper {
    display flex
    flex-grow 1
  }

  &__desc {
    max-width 570px
    font-family $font-roboto
    font-size 14px
    line-height (26 / 14)
    color $color-blue-ndark
    padding-left 55px

    &_medium {
      max-width 450px
    }
  }

  &__link {
    padding-left 52px
  }

  &__link-arrow {
    color $color-yellow-like-sun
    position relative
    padding-right 43px
    font-size 18px
    line-height (30 / 18)
    font-family $font-title
    font-weight 600
    opacity 1
    transition .3s ease

    &:before {
      content ''
      position absolute
      right 0
      top 6px
      svg('arrow-long-right', 25px, $color-yellow-like-sun)
      transition .1s linear
    }

    &:hover {
      opacity 0.8
      color $color-yellow-like-sun

      &:before {
        transform translateX(5px)
      }
    }

    &_snowy-blue {
      color $color-blue-like-postamat

      &:hover {
        color $color-blue-like-postamat
      }

      &:before {
        svg-color('arrow-long-right', $color-blue-like-postamat)
      }
    }
  }
}

.section-with-image_orange {
  overflow hidden

  .section-with-image {
    &__side-image {
      &_postmat {
        left -14%
        top 50px
        adaptive-bg('../images/retail/postmat.png')
      }
    }

    &__link-arrow {
      color #FA7A1D

      &:before {
        svg-color('arrow-long-right', #FA7A1D)
      }
    }
  }
}

.section-with-image_navi {
  overflow hidden

  .section-with-image {
    &__link-arrow {
      color #1f4abd

      &:before {
        svg-color('arrow-long-right', #1f4abd)
      }
    }
  }
}

.section-with-image_sea {
  overflow hidden

  .section-with-image {
    &__link-arrow {
      color #65BDC6

      &:before {
        svg-color('arrow-long-right', #65BDC6)
      }
    }
  }
}

+do(1650) {
  .section-with-image {
    &__side {
      &-image {
        &_blue-postmat {
          left -15%
        }
      }
    }
  }
}

+do(1200) {
  .section-with-image {
    &__title {
      font-size 48px
    }

    &__main {
      max-width 55%
      flex-basis 55%
    }

    &__side {
      max-width 45%
      flex-basis 45%

      &-image {
        &_terminal {
          left 24%
        }

        &_postmat {
          left -25%
        }

        &_postmat-retail {
          width 100%
          left auto
          right 0
        }

        &_blue-postmat {
          left 15%
        }

        &_postmat-fit {
          left 15%
        }
      }
    }
  }
}

+do(1000) {
  .section-with-image {
    &__side {
      &-image {
        &_terminal {
          left 24%
        }

        &_postmat {
          left -30%
        }
      }
    }

    &__delimiter {
      margin-bottom 50px
    }
  }
}

+do(900) {
  .section-with-image {
    &__main {
      max-width 100%
      flex-basis 100%
      margin-bottom 20px
    }

    &__side {
      display block
      max-width 100%
      flex-basis 100%
      margin-bottom 20px

      &-image {
        position relative
        max-width 100%

        &_terminal {
          top 0px
          left unset
          right -50%
          max-width 200px
        }

        &_postmat {
          top 0px
          left unset
          right -25%
        }

        &_postmat-retail {
          max-width 600px
          width 100%
          left auto
          right auto
          bottom 0
        }

        &_half-postmat {
          left 10%
          right 0px
          margin-left auto
          top 21%
        }

        &_blue-postmat {
          left unset
          margin-left auto
          margin-right auto
          top 0px
        }

        &_fitness {
          left auto
          right auto
          top 0
          adaptive-bg('../images/fitness/f-right.png')
        }

        &_postmat-fit {
          left unset
          margin-left auto
          margin-right auto
          top 0
          right -30px
        }
      }
    }

    &__delimiter {
      &_mobile {
        display block
        margin-top -20px
      }
    }
  }
}

+do(750) {
  .section-with-image {
    &__wrapper {
      padding-top 60px
      padding-bottom 60px
    }

    &__title {
      font-size 36px
    }

    &__desc {
      padding-left 0px
    }

    &__link {
      padding-left 0px

      &-arrow {
        display inline-block
        font-size 14px
        padding-right 33px

        &:before {
          width 18px
          height 12px
          top 5px
        }
      }
    }
  }
}

+do(500) {
  .section-with-image {
    &__wrapper {
      padding-top 50px
      padding-bottom 50px
    }

    &__title {
      margin-bottom 50px
      font-size 30px
    }
  }
}

.section-with-image_bg-none {
  &:before {
    background none
  }
}

.section-with-image_orange-dark {
  .section-with-image__link-arrow {
    color #F37021

    &:before {
      svg-color('arrow-long-right', #F37021)
    }
  }
}

+do(750) {
  .section-with-image_house {
    .section-with-image__side {
      margin-bottom -30px
      margin-top 30px
    }
  }
}


.section-with-image_purple {
  .section-with-image__link-arrow {
    color #882DE2

    &:before {
      svg-color('arrow-long-right', #882DE2)
    }
  }
}

.section-with-image_yellow {
  .section-with-image__link-arrow {
    color #EFBB35

    &:before {
      svg-color('arrow-long-right', #EFBB35)
    }
  }
}

.section-with-image_red {
  .section-with-image__link-arrow {
    color #DC4A2F

    &:before {
      svg-color('arrow-long-right', #DC4A2F)
    }
  }
}

.section-with-image_min-height_none {
  .section-with-image {
    &__wrapper {
      min-height auto
    }
  }
}

.section-with-image_kiosks {
  .section-with-image__link-arrow {
    color #0E8ACD

    &:before {
      svg-color('arrow-long-right', #0E8ACD)
    }
  }
}

.section-with-image_dark-green {
  .section-with-image__link-arrow {
    color #37C497

    &:before {
      svg-color('arrow-long-right', #37C497)
    }
  }
}

.section-with-image_mac .section-with-image {
  &__wrapper {
    padding-top 0
  }
}

+do(900) {
  .section-with-image_mac .section-with-image {
    &__desc-wrapper {
      margin-bottom 30px
    }

    &__main {
      margin-bottom 80px
    }

    &__side-image {
      top 0
      margin 0 auto
    }
  }
}
