.section-scenario {
  position relative

  &_dark-blue {
    &:before {
      background-color $color-blue-xxdark
    }
  }

  &:before {
    content ''
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    width 1760px
    margin-right auto
    z-index -1
  }

  &__image {
    z-index -1
    position absolute
    bottom 150px
    left 100px
  }

  &__wrapper {
    display flex
    flex-direction column
  }

  &__delimiter {
    width 100%
    height 1px
    background-color $color-grey-xdark
    opacity .3
    margin-top 90px
    margin-bottom 90px

    &_gap-top-small {
      margin-top 45px
    }
  }

  &__title {
    font-family $font-title
    font-size 60px
    line-height (68 / 60)
    color $color-white
    font-weight 900
    margin-bottom 78px

    &_dark-blue {
      color $color-blue-xxdark
    }
  }

  &__item-wrapper {

  }
}

.scenario-item {
  position relative

  &--one {
    &:before {
      content: ''
      svg('1xxx', 40px, $color-yellow-like-orange-sun)
      position absolute
      top -3px
      left -40px
    }
  }

  &--two {
    &:before {
      content: ''
      svg('2xxx', 75px, $color-yellow-like-orange-sun)
      position absolute
      top -3px
      left -70px
    }

    &-right {
      padding-top 150px
      padding-bottom 150px

      &:before {
        display none
      }

      .scenario-item {
        &__side {
          padding-left 0
        }

        &__main {
          padding-left 110px
          position relative
          margin-left auto

          &:before {
            content: ''
            svg('2xxx', 75px, #DC4A2F)
            position absolute
            top -3px
            left -0
            display block
          }
        }
      }
      +do(750) {
        padding-top 0
        padding-bottom 0
        margin-left 0
        .scenario-item {
          &__main {
            margin-left 0
            padding-left 55px

            &:before {
              width 34px
              height 55px
            }
          }

          &__wrapper {
            margin-left 0
          }
        }

      }
    }
  }

  &--three {
    &:before {
      content: ''
      svg('3xxx', 75px, $color-yellow-like-orange-sun)
      position absolute
      top -3px
      left -70px
    }
  }

  &--four {
    &:before {
      content: ''
      svg('4xxx', 75px, $color-yellow-like-orange-sun)
      position absolute
      top -3px
      left -70px
    }

    &-right {
      padding-top 150px
      padding-bottom 150px

      &:before {
        display none
      }

      .scenario-item {
        &__side {
          padding-left 0
        }

        &__main {
          padding-left 110px
          position relative
          margin-left auto

          &:before {
            content: ''
            svg('4xxx', 75px, #DC4A2F)
            position absolute
            top -3px
            left -0
            display block
          }
        }
      }
      +do(750) {
        padding-top 0
        padding-bottom 0
        margin-left 0
        .scenario-item {
          &__main {
            margin-left 0
            padding-left 55px

            &:before {
              width 34px
              height 55px
            }
          }

          &__wrapper {
            margin-left 0
          }
        }

      }
    }
  }

  &--five {
    &:before {
      content: ''
      svg('5xxx', 75px, $color-yellow-like-orange-sun)
      position absolute
      top -3px
      left -70px
    }
  }

  &__wrapper {
    margin-left 52px
  }

  &__title {
    font-family $font-title
    font-size 20px
    line-height (30 / 20)
    color $color-white
    margin-bottom 34px

    &_dark-blue {
      color $color-blue-xxdark
    }
  }

  &__subtitle {
    font-family $font-title
    font-size 18px
    line-height (72 / 18)
    color $color-white
    opacity .6

    &_dark-blue {
      color $color-blue-ndark
      opacity .6
    }
  }

  &__desc-wrapper {
    display flex
    flex-wrap wrap
    margin-left -70px
    margin-right -70px
  }

  &__desc {
    display flex
    flex 1
    max-width calc(50% - 140px)
    flex-basis calc(50% - 140px)
    flex-direction column
    margin-left 70px
    margin-right 70px
    margin-bottom 60px

    &_wide {
      max-width 100%
      flex-basis 100%
    }
  }

  &__desc_gap-none {
    margin-bottom 0 !important
  }

  &__text {
    font-family $font-roboto
    font-size 14px
    line-height (26 / 14)
    color $color-white

    &_dark-blue {
      color $color-blue-xxdark
    }

    &_numeric {
      font-weight 700
      color $color-blue-xxdark
      position relative

      &_1 {
        &:before {
          color $color-white
          content '1'
          position absolute
          top -3px
          left -50px
          width 30px
          height 30px
          border-radius 50%
          background-color $color-yellow-like-orange-sun
          display flex
          align-content center
          align-items center
          justify-content center
          font-size 20px
        }
      }

      &_2 {
        &:before {
          color $color-white
          content '2'
          position absolute
          top -3px
          left -50px
          width 30px
          height 30px
          border-radius 50%
          background-color $color-yellow-like-orange-sun
          display flex
          align-content center
          align-items center
          justify-content center
          font-size 20px
        }
      }
    }
  }

  &__address-wrapper {
    display flex
    flex-direction row
    margin-top 118px
    margin-bottom 55px

    &_large {
      width 700px
    }
  }

  &__address {
    font-family $font-roboto
    font-size 14px
    line-height (26 / 14)
    color $color-white
    position relative
    padding-left 40px
    padding-right 30px
    margin-right 31px

    &:after {
      content: ''
      position absolute
      top 0px
      right 0px
      height 30px
      width 1px
      background-color $color-grey-xdark
      opacity .3
    }

    &:last-child {
      &:after {
        content none
      }
    }

    &_one {
      &:before {
        content: ''
        svg('a1', 20px, $color-yellow-like-orange-sun)
        position absolute
        top 0px
        left 0px
      }
    }

    &_two {
      &:before {
        content: ''
        svg('a2', 20px, $color-yellow-like-orange-sun)
        position absolute
        top 0px
        left 0px
      }
    }

    &_three {
      &:before {
        content: ''
        svg('a3', 20px, $color-yellow-like-orange-sun)
        position absolute
        top 0px
        left 0px
      }
    }
  }
}

+do(1520) {
  .scenario-item {
    &--two {
      &:before {
        left -35px
      }
    }
  }
}

+do(1450) {
  .scenario-item {
    &--one {
      &:before {
        left -20px
      }
    }

    &--two {
      &:before {
        svg('2xxx', 55px, $color-yellow-like-orange-sun)
        left -18px
      }
    }
  }
}

+do(1200) {
  .scenario-item {
    &__address-wrapper {
      margin-top 50px
      margin-bottom 50px
    }
  }
}

+do(1000) {
  .section-scenario {
    &__title {
      font-size 48px
    }
  }
}

+do(750) {
  .section-scenario {
    &__image {
      display none
    }

    &__delimiter {
      margin-bottom 60px
    }

    &__title {
      font-size 36px
    }
  }
  .scenario-item {
    &__desc-wrapper {
      margin-left 0px
      margin-right 0px
    }

    &__desc {
      max-width 100%
      flex-basis 100%
      margin-left 0px
      margin-right 0px
      margin-bottom 50px
    }

    &__address-wrapper {
      margin-top 20px
      margin-bottom 0px
      flex-direction column
    }

    &__address {
      margin-bottom 20px

      &:last-child {
        margin-bottom 0px
      }
    }

    &--one {
      &:before {
        left -10px
      }
    }
  }
}

+do(500) {
  .section-scenario {
    &__delimiter {
      margin-top 45px
      margin-bottom 45px
    }
  }
}

.scenario-item_color-dark {
  .scenario-item {
    &__title {
      color #040724
    }

    &__subtitle {
      color rgba(4, 7, 36, 0.6)
    }

    &__text {
      color #27262B
    }
  }
}

.scenario-item_number-orange {
  &.scenario-item {
    &--one {
      &:before {
        svg-color('1xxx', #FA7A1D)
      }
    }

    &--two {
      &:before {
        svg-color('2xxx', #FA7A1D)
      }
    }

    &--three {
      &:before {
        svg-color('3xxx', #FA7A1D)
      }
    }

    &--four {
      &:before {
        svg-color('4xxx', #FA7A1D)
      }
    }
  }
}

.scenario-item_number-orange-dark {
  &.scenario-item {
    &--one {
      &:before {
        svg-color('1xxx', #F37021)
      }
    }

    &--two {
      &:before {
        svg-color('2xxx', #F37021)
      }
    }

    &--three {
      &:before {
        svg-color('3xxx', #F37021)
      }
    }

    &--four {
      &:before {
        svg-color('4xxx', #F37021)
      }
    }
  }
}

.scenario-item_number-purple {
  &.scenario-item {
    &--one {
      &:before {
        svg-color('1xxx', #882DE2)
      }
    }

    &--two {
      &:before {
        svg-color('2xxx', #882DE2)
      }
    }

    &--three {
      &:before {
        svg-color('3xxx', #882DE2)
      }
    }

    &--four {
      &:before {
        svg-color('4xxx', #882DE2)
      }
    }
  }
}

.scenario-item_number-green {
  &.scenario-item {
    &--one {
      &:before {
        svg-color('1xxx', #37C497)
      }
    }

    &--two {
      &:before {
        svg-color('2xxx', #37C497)
      }
    }

    &--three {
      &:before {
        svg-color('3xxx', #37C497)
      }
    }

    &--four {
      &:before {
        svg-color('4xxx', #37C497)
      }
    }
  }
}

.scenario-item_ticket-transport {
  &.scenario-item {
    &--one {
      &:before {
        svg-color('1xxx', #DC4A2F)
      }
    }

    &--two {
      &:before {
        svg-color('2xxx', #DC4A2F)
      }
    }

    &--three {
      &:before {
        svg-color('3xxx', #DC4A2F)
        +do(1650) {
          width 50px
          height 74px
          top -3px
          left -16px
        }
        +do(1200) {
          width 35px
          height 45px
          left 0
        }
      }
    }

    &--four {
      &:before {
        svg-color('4xxx', #DC4A2F)
      }
    }
  }
}

.scenario-item_kiosks {
  &.scenario-item {
    &--one {
      &:before {
        svg-color('1xxx', #0E8ACD)
      }
    }

    &--two {
      &:before {
        svg-color('2xxx', #0E8ACD)
      }
    }

    &--three {
      &:before {
        svg-color('3xxx', #0E8ACD)
      }
    }

    &--four {
      &:before {
        svg-color('4xxx', #0E8ACD)
      }
    }

    &--five {
      &:before {
        svg-color('5xxx', #0E8ACD)
      }
    }
  }
}

+do(1600) {
  .scenario-item_number-orange, .scenario-item_number-orange-dark, .scenario-item_number-purple, .scenario-item_number-green, .scenario-item_ticket-booth, .scenario-item_kiosks {
    .scenario-item__wrapper {
      margin-left 70px
    }

    &.scenario-item {
      &--one {
        &:before {
          left 11px
          top 6px
          svg-size('1xxx', 27px)
        }
      }

      &--two {
        &:before {
          left 8px
          top 6px
          svg-size('2xxx', 40px)
        }
      }

      &--three {
        &:before {
          left 8px
          top 6px
          svg-size('3xxx', 40px)
        }
      }

      &--four {
        &:before {
          left 8px
          top 6px
          svg-size('4xxx', 40px)
        }
      }

      &--five {
        &:before {
          left 8px
          top 6px
          svg-size('4xxx', 40px)
        }
      }
    }
  }
}

+do(750) {
  .scenario-item_number-orange, .scenario-item_number-orange-dark, .scenario-item_number-purple, .scenario-item_number-green, .scenario-item_ticket-booth, .scenario-item_kiosks {
    .scenario-item__title {
      margin-bottom 20px
    }

    .scenario-item__subtitle {
      font-size 16px
      line-height (20 / 16)
      margin-bottom 10px
    }
  }
}

+do(500) {
  .scenario-item_number-orange, .scenario-item_number-orange-dark, .scenario-item_number-purple, .scenario-item_number-green, .scenario-item_ticket-booth, .scenario-item_kiosks {
    .scenario-item__wrapper {
      margin-left 0
    }

    &.scenario-item {
      &:before {
        margin-bottom 10px
        position static
        display block
      }
    }
  }
}

.scenario-item_number-white {
  &.scenario-item {
    &--one {
      &:before {
        svg-color('1xxx', #ffffff)
      }
    }

    &--two {
      &:before {
        svg-color('2xxx', #ffffff)
      }
    }

    &--three {
      &:before {
        svg-color('3xxx', #ffffff)
      }
    }

    &--four {
      &:before {
        svg-color('4xxx', #ffffff)
      }
    }
  }
}

+do(1600) {
  .scenario-item_number-white {
    .scenario-item__wrapper {
      margin-left 70px
    }

    &.scenario-item {
      &--one {
        &:before {
          left 11px
          top 6px
          svg-size('1xxx', 27px)
        }
      }

      &--two {
        &:before {
          left 8px
          top 6px
          svg-size('2xxx', 40px)
        }
      }

      &--three {
        &:before {
          left 8px
          top 6px
          svg-size('3xxx', 40px)
        }
      }

      &--four {
        &:before {
          left 8px
          top 6px
          svg-size('4xxx', 40px)
        }
      }
    }
  }
}

+do(750) {
  .scenario-item_number-white {
    .scenario-item__title {
      margin-bottom 20px
    }

    .scenario-item__subtitle {
      font-size 16px
      line-height (20 / 16)
      margin-bottom 10px
    }
  }
}

+do(500) {
  .scenario-item_number-white {
    .scenario-item__wrapper {
      margin-left 0
    }

    &.scenario-item {
      &:before {
        margin-bottom 10px
        position static
        display block
      }
    }
  }
}

.scenario-item_fast-food, .scenario-item_fitness, .scenario-item_parking {
  .scenario-item {
    &__wrapper {
      display flex
      flex-wrap wrap
    }

    &__desc {
      flex-column(1, 1, 0px)
    }

    &__main {
      flex-column(1, 2, 0px)
    }

    &__side {
      padding-left 40px
      box-sizing border-box
      flex-column(1, 2, 0px)
      display flex
      align-items flex-end
      margin-bottom -100px

      img {
        vertical-align bottom
      }

      &_auto {
        margin-bottom -80px
      }

      &_phone {
        margin-bottom -80px
      }

      &_nfc {
        margin-top -30px
        margin-bottom -50px
      }

      &_code {
        margin-bottom -80px
      }

      &_auto {
        margin-bottom -80px
      }

      &_bus {
        position absolute
        left -396px
        width 1344px
        height 516px
        max-width none
        top 50%
        transform translateY(-50%)
        +do('miw', 1920) {
          left -747px
        }
        +do(1200) {
          left -580px
        }
        +do(750) {
          display none
        }
      }

      &_terminal {
        position absolute
        left -396px
        max-width none
        top 50%
        transform translateY(-50%)
        left 0
        width 400px
        height 500px
        margin-top 30px
        +do(1200) {
          left: -180px;
        }
        +do(750) {
          display none
        }
      }

      &_metro {
        position absolute
        right -396px
        width 1035px
        height 335px
        max-width none
        top 50%
        transform translateY(-50%)
        +do('min', 1920) {
          right -815px
        }
        +do(1200) {
          right -720px
        }
        +do(750) {
          display none
        }
      }

      &_fly {
        position absolute
        right -396px
        top 50%
        transform translateY(-50%)
        right: -286px
        width: 1061px
        height: 477px
        +do('miw', 1920) {
          right -700px
        }
        +do(1200) {
          right -120px
        }
        +do(750) {
          display none
        }
      }

      &_qr {
        display flex
        justify-content flex-start
        align-items flex-start
      }
    }
  }
}

.scenario-item_parking {
  .scenario-item {
    &__side {
    }
  }
}

+do(1200) {
  .scenario-item_fast-food, .scenario-item_fitness, .scenario-item_parking {
    .scenario-item {
      &__side {
        margin-bottom 0

        &_auto {
          margin-bottom -80px
        }

        &_phone {
          margin-bottom -80px
        }

        &_phone-large {
          margin-bottom -80px
        }
      }

      &__img {
        margin-right -40px
      }
    }
  }
}

+do(1000) {
  .scenario-item_fast-food, .scenario-item_fitness, .scenario-item_parking {
    .scenario-item {
      &__side {
        &_auto {
          margin-bottom -40px
        }

        &_phone {
          margin-bottom -40px
        }
      }
    }
  }
}

+do(750) {
  .scenario-item_fast-food, .scenario-item_fitness, .scenario-item_parking {
    .scenario-item {
      &__desc {
        margin-bottom 0
      }

      &__wrapper {
        display block
      }

      &__main {
        flex-column(1, 1, 0px)
      }

      &__side {
        flex-column(1, 1, 0px)
        margin-bottom 0
        justify-content center
        padding 0

        &_auto {
          padding-top 40px
          margin-bottom -40px
        }

        &_phone {
          padding-top 40px
          margin-bottom -40px
        }

        &_boxes {
          padding-top 40px
          margin-bottom 0
        }

        &_phone-large {
          padding-top 40px
          margin-bottom -30px
        }

        &_code {
          padding-top 45px
          margin-bottom -30px
        }
      }

      &__img {
        margin-right 0
        margin-left -70px
      }
    }
  }
}

+do(500) {
  .scenario-item_fast-food, .scenario-item_fitness, .scenario-item_parking {
    .scenario-item {
      &__desc {
        margin-bottom 0
      }

      &__img {
        margin-right 0
        margin-left 0
      }
    }
  }
}


.scenario-item_terminal {
  +do(750) {
    padding-top 40px
    padding-bottom 40px
  }
}

.scenario-item_digital {
  padding-top 0

  .scenario-item__wrapper {
    position relative
  }

  .scenario-item__side_bus {
    width 600px
    height auto
    transform none
    left auto
    right 65%
    top auto
    bottom 0
  }
}

+do(750) {
  .scenario-item_digital {
    .scenario-item__wrapper {
      margin 0
    }
  }
}

+do(500) {
  .scenario-item_digital {
    .scenario-item__main:before {
      display none
      content none
    }

    .scenario-item__main {
      padding 0
    }
  }
}


.scenario-item_invert {
  &:before {
    filter invert(1)
  }

  .scenario-item {
    &__main {
      &:before {
        filter invert(1)
      }
    }
  }
}

.scenario-item_queue_site {
  padding-bottom 130px
  padding-top 90px
}


.scenario-item-queue-1 {
  &:before {
    display none !important
  }

  .scenario-item__number {
    position absolute
    left -15px
    top 0
  }
}

.scenario-item-queue-2 {
  &:before {
    display none !important
  }
  .scenario-item {
    &__main {
      &:before {
        display none !important
      }
    }
  }

  .scenario-item__number {
    position absolute
    left 15px
    top 0
  }
}

.scenario-item-queue-3 {
  &:before {
    display none !important
  }

  .scenario-item__number {
    position absolute
    left -30px
    top 0
  }
}

.scenario-item-queue-4 {
  &:before {
    display none !important
  }
  .scenario-item {
    &__main {
      &:before {
        display none !important
      }
    }
  }

  .scenario-item__number {
    position absolute
    left 15px
    top 0
  }
}

.scenario-item__number {
  svg {
    max-width 100%
  }
}

+do(1200) {
  .scenario-item-queue-1 {

    .scenario-item__number {
      position relative
      left auto
      top auto
    }
  }

  .scenario-item-queue-2 {
    padding-top 0
    .scenario-item {
      &__main {
        &:before {
          display none !important
        }
      }
    }

    .scenario-item__number {
      position relative
      left auto
      top auto
    }
  }
  .scenario-item-queue-3 {
    .scenario-item__number {
      position relative
      left auto
      top auto
    }
  }
  .scenario-item-queue-4 {
    .scenario-item__number {
      position relative
      left auto
      top auto
    }
  }

}
