.section-set {
  flex 1

  &__wrapper {
    display flex
    flex-wrap wrap
    +do(1000) {
      display block
    }
  }

  &__side {
    flex 1
    overflow hidden
    +do(1000) {
      margin-bottom 30px
    }

    &_seven {
      position relative
      margin-right -70px

      &:before {
        content ''
        display block
        right 0
        position absolute
        background-image url('../images/software-fiscal/7.png')
        width 215px
        height 462px
        background-position center
        background-repeat no-repeat
        background-size contain
        z-index -1
        +do(1000) {
          display none
        }
      }
    }
  }

  &__main {
    flex 1
  }
  &__slide {
    display none
    &.is-active {
      display block
    }
  }
  &__slider {
    position relative
    z-index 99

    &-item {
      position absolute
      opacity 0
      transform translateX(100%)
      transition .3s ease
      top 0

      &.is-active {
        position static
        opacity 1
        transform translateX(0)
      }
    }
  }

  &__title {
    font-family $font-title
    font-size 72px
    color #040724
    font-weight 700
    margin-bottom 50px
    +do(1000) {
      margin-bottom 40px
      font-size 48px
    }
    +do(750) {
      margin-bottom 30px
      font-size 26px
    }
  }

  &__subtitle {
    font-size 18px
    font-weight 900
  }

  &__desc {
    font-size 14px
    line-height 1.5
    position relative

    &-side {
      &_gap_small {
        margin-bottom 50px
      }
    }

    &-main {
      margin-bottom 150px
      +do(1000) {
        margin-bottom 60px
      }
      +do(750) {
        margin-bottom 40px
      }

      &_gap_large {
        margin-bottom 212px
        +do(1000) {
          margin-bottom 60px
        }
        +do(750) {
          margin-bottom 40px
        }
      }
    }

    &_border {
      &:before {
        display block
        position absolute
        content ''
        left -100vw
        right -100vw
        height 1px
        bottom 0
        background-color rgba(#CCCBCE, 0.3)
      }
    }

    &_width_small {
      max-width 320px
      +do(1000) {
        max-width none
      }
    }

    &_padding-left_large {
      padding-left 50px
      +do(1000) {
        padding-left 0
      }
    }
  }

  &__img {
    img {
      display block
    }
  }
}
