.section-header {
   &__wrapper {

   }
   &__breadcrumbs {
      margin-bottom 14px
   }
   &__title {
      font-size 60px
      line-height (94 / 60)
      font-family $font-manrope
      font-weight 900
      color $color-blue-xxdar
      transition .3s linear
      position relative
      &_with-border {
         padding-bottom 30px
      }
   }
}

+do(1200) {
   .section-header {
      &__title {
         font-size 48px
      }
   }
}
+do(750) {
   .section-header {
      &__title {
         font-size 38px
      }
   }
}