.services-item {
   padding-bottom 150px
   &__wrapper {
      display flex
      flex-wrap wrap
      margin-right -75px
      margin-left -75px
   }
   &__main {
      flex 1
      padding-left 75px
      padding-right 75px
      border-top 1px solid rgba(204, 203, 206, 0.2)
      max-width calc(50% - 150px)
      padding-top 50px
   }

   &__side {
      flex 1
      padding-left 75px
      padding-right 75px
      max-width calc(50% - 150px)
      padding-top 60px

   }
   &__title {
      font-family $font-title
      font-size 32px
      font-weight 700
      margin-bottom 36px
   }
   &__desc {
      font-size 14px
      line-height (26 / 14)
      box-sizing border-box
      padding-left 60px
   }
}

.services-item.is-dark {
   position relative
   &:before {
      content ''
      position absolute
      top 0
      left -100vw
      right -100vw
      bottom 0
      z-index -1
      background-color $color-blue-light
   }
   color white
   .cols-list {
      &__item-desc {
         color: rgba(255, 255, 255, 0.4);
      }
   }
}

.services-item.services-item_brand {
   position relative
   margin-bottom 160px
   .services-item {
      &__brand {
         position absolute
         bottom: -130px;
         right: -260px;
         adaptive-bg('../images/soft-logic.svg')
      }
   }
}

+do(1200) {
   .services-item {
      &__wrapper {
         margin-right -50px
         margin-left -50px
      }
      &__main {
         padding-left 50px
         padding-right 50px
         border-top 1px solid rgba(204, 203, 206, 0.2)
         max-width calc(50% - 100px)
         padding-top 50px
      }

      &__side {
         padding-left 50px
         padding-right 50px
         max-width calc(50% - 100px)
         padding-top 60px
      }
   }
}

+do(1000) {
   .services-item {
      padding-bottom 60px
      &__desc {
         padding-left 0
      }
      &__wrapper {
         margin-right 0
         margin-left 0
         display block
      }
      &__main {
         padding-left 0
         padding-right 0
         max-width none
         padding-top 40px
      }

      &__side {
         padding-left 0
         padding-right 0
         padding-top 20px
         max-width none
      }
      &__title {
         margin-bottom 20px
         font-size 36px
      }
      &__main {
         padding-top 25px
      }
   }

   .services-item.services-item_brand {
      margin-bottom 100px
      .services-item {
         &__brand {
            bottom -85px
            right -260px
            max-width 600px
         }
      }
   }
}

+do(750) {
   .services-item {
      padding-bottom 30px
      &__title {
         margin-bottom 10px
         font-size 22px
      }
      &__main {
         padding-top 15px
      }
   }
   .services-item.services-item_brand {
      .services-item {
         &__brand {
            max-width 445px
         }
      }
   }
}