.simple-nav {
   &__wrapper {
      display flex
      flex-wrap nowrap
   }
   &__item {
      size 60px
      border 2px solid #CFD0DC
      box-sizing border-box
      background white
      position relative
      cursor pointer
      transition background .3s ease
      & + & {
         margin-left -2px
      }
      &:before {
         content ''
         position absolute
         top 50%
         left 50%
         display block
         transform translate(-50%, -50%)
         transition transform .1s linear
      }
      &_prev {
         &:before {
            svg('arrow-left-direction', 25px, $color-blue-light)
         }
         &:hover {
            &:before {
               svg-color('arrow-left-direction', white)
            }
         }
         &:active {
            &:before {
               transform translate(calc(-50% - 5px), -50%)
            }
         }
      }
      &_next {
         &:before {
            svg('arrow-right-direction', 25px, $color-blue-light)
         }
         &:hover {
            &:before {
               svg-color('arrow-right-direction', white)
            }
         }
         &:active {
            &:before {
               transform translate(calc(-50% + 5px), -50%)
            }
         }
      }
      &:active {
         background-color $color-blue
      }
      &:hover {
         background-color $color-blue-light
      }
   }
}