.social {
   &__list {
      display flex
      flex-wrap wrap
      margin-bottom -6px
      margin-right -15px
      margin-left -15px
      &-item {
         margin-right 15px
         margin-left 15px
         margin-bottom 6px
      }
   }
}

.social-item {
   size 30px
   border-radius 50%
   background rgba(white, 0)
   display block
   position relative
   cursor pointer
   transition .3s
   &:before {
      content ''
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
   }
   &:active {
      opacity 0.8
   }
   &_vk {
      &:before {
         svg('vk', 16px, white)
      }
      &:hover {
         background #45668e
      }
   }
   &_facebook {
      &:before {
         svg('facebook', 14px, white)
      }
      &:hover {
         background #3b5998
      }
   }
   &_youtube {
      &:before {
         svg('youtube', 16px, white)
      }
      &:hover {
         background #ff0000
      }
   }
   &_twitter {
      &:before {
         svg('twitter', 16px, white)
      }
      &:hover {
         background #1da1f2
      }
   }
   &_ok {
      &:before {
         svg('ok', 12px, white)
      }
      &:hover {
         background #ed812b
      }
   }
   &_skype {
      &:before {
         svg('skype', 16px, white)
      }
      &:hover {
         background #00aff0
      }
   }
   &_instagram {
      &:before {
         svg('instagram', 16px, white)
      }
      &:hover {
         background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      }
   }
}

.social_dark,
.header-bottom.is-dark {
   .social-item {
      &_vk {
         &:before {
            svg-color('vk', $color-blue-light)
         }
         &:hover:before {
            svg-color('vk', white)
         }
      }
      &_facebook {
         &:before {
            svg-color('facebook', $color-blue-light)
         }
         &:hover:before {
            svg-color('facebook', white)
         }
      }
      &_youtube {
         &:before {
            svg-color('youtube', $color-blue-light)
         }
         &:hover:before {
            svg-color('youtube', white)
         }
      }
      &_twitter {
         &:before {
            svg-color('twitter', $color-blue-light)
         }
         &:hover:before {
            svg-color('twitter', white)
         }
      }
      &_ok {
         &:before {
            svg-color('ok', $color-blue-light)
         }
         &:hover:before {
            svg-color('ok', white)
         }
      }
      &_skype {
         &:before {
            svg-color('skype', $color-blue-light)
         }
         &:hover:before {
            svg-color('skype', white)
         }
      }
      &_instagram {
         &:before {
            svg-color('instagram', $color-blue-light)
         }
         &:hover:before {
            svg-color('instagram', white)
         }
      }
   }

}

.header-bottom.is-social-light {
   .social-item {
      &_vk {
         &:before {
            svg-color('vk', white)
         }
         &:hover:before {
            svg-color('vk', $color-blue-light)
         }
      }
      &_facebook {
         &:before {
            svg-color('facebook', white)
         }
         &:hover:before {
            svg-color('facebook', $color-blue-light)
         }
      }
      &_youtube {
         &:before {
            svg-color('youtube', white)
         }
         &:hover:before {
            svg-color('youtube', $color-blue-light)
         }
      }
      &_twitter {
         &:before {
            svg-color('twitter', white)
         }
         &:hover:before {
            svg-color('twitter', $color-blue-light)
         }
      }
      &_ok {
         &:before {
            svg-color('ok', white)
         }
         &:hover:before {
            svg-color('ok', $color-blue-light)
         }
      }
      &_skype {
         &:before {
            svg-color('skype', white)
         }
         &:hover:before {
            svg-color('skype', $color-blue-light)
         }
      }
      &_instagram {
         &:before {
            svg-color('instagram', white)
         }
         &:hover:before {
            svg-color('instagram', $color-blue-light)
         }
      }
   }

}
.header-bottom.is-social-hidden {
   .social-item {
      opacity 0
      visibility hidden
   }

}