.socials-badge {
   position fixed
   bottom 0
   left 0
   right 0
   margin-bottom 80px
   z-index 99
   pointer-events none
   &__main {
      width 60px
      display flex
      justify-content center
      margin-bottom 15px
      opacity 0
      visibility hidden
      transform translateY(15px)
      transition .3s ease0
      pointer-events none
   }
   &__icon {
      pointer-events auto
      cursor pointer
      size 60px
      display block
      background-color #3f51b5
      position relative
      border-radius 50%
      box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
      animation: pulseSocial 3s infinite;
      box-sizing border-box
      transform translate3d(0, 0, 0)
      &:before {
         content: ''
         display block
         position absolute
         top 50%
         left 50%
         transform translate(-50%, -50%)
         svg('share', 30px, $color-white)
      }
   }
   .ya-share2 {
      margin 0 !important
      &__item {
         display block !important
         margin 0 !important
         margin-bottom 10px !important
         &:last-child {
            margin-bottom 0 !important
         }
      }
   }
   &.is-open {
      & ^[0]__icon {
         animation none
         &:before {
            svg('cross', 20px, $color-white)
         }
      }
      & ^[0]__main {
         opacity 1
         transform translateY(0)
         visibility visible
         pointer-events auto
      }
   }
}

+do(750) {
   .socials-badge {
      margin-bottom 50px
      &__main {
         width 45px
      }
      &__icon {
         size 45px
         &:before {
            svg-size('share', 20px)
         }
      }
      &.is-open {
         & ^[0]__icon {
            &:before {
               svg-size('cross', 15px)
            }
         }
      }
   }
}

@keyframes pulseSocial {

0% {
      box-shadow: 0 0 0 0 rgba(#3f51b5, 0.4)
   }
70% {
      box-shadow: 0 0 0 30px rgba(#3f51b5, 0)
   }
100% {
      box-shadow: 0 0 0 0 rgba(#3f51b5, 0)
   }
}