.stack-list {
  &__wrapper {
    padding-bottom .1px
  }

  &__list {
    display flex
    flex-wrap wrap
    margin 0 -20px -80px -20px
  }
  &__item {
    margin 0 20px 80px 20px
    flex-column(1, 3, 20px)
    display flex
  }
}
+do(1200) {
  .stack-list {
    &__list {
      margin 0 -15px -60px -15px
    }
    &__item {
      margin 0 15px 60px 15px
      flex-column(1, 3, 15px)
    }
  }
}
+do(900) {
  .stack-list {
    &__list {
      margin 0 -15px -40px -15px
    }
    &__item {
      margin 0 15px 40px 15px
      flex-column(1, 2, 15px)
    }
  }
}
+do(750) {
  .stack-list {
    &__list {
      margin 0 -15px -35px -15px
    }
    &__item {
      margin 0 15px 35px 15px
      flex-column(1, 1, 15px)
    }
  }
}

.stack-card {
  flex 1 1 auto
  &__wrapper {
    padding-bottom 20px
  }
  &__title {
    font-size 18px
    line-height (24/18)
    margin-bottom 27px
  }
  &__description {
    font-size 14px
    line-height (26/14)
  }
}
+do(750) {
  .stack-card {
    &__wrapper {
      border-bottom 1px solid rgba(#CCCBCE, .2)
    }
    &__title {
      margin-bottom 15px
    }
  }
}

.stack-box {
  position relative
  &:before {
    content ''
    position absolute
    trbl 0 -100vw 0 -120px
    background #FAFBFD
  }
  &__wrapper {
    z-index 50
    position relative
    padding-top 100px
    padding-bottom 160px
  }
  &__content {
    position relative
  }
  &__seporate {
    margin-bottom 55px
    border-top 1px solid rgba(#CCCBCE, .3)
  }
  &__title {
    margin-bottom 80px
  }
  &__img {
    position absolute
    z-index 40
    width 45%
    right -20px
    bottom 115px
  }
}

+do(1000) {
  .stack-box {
    &__wrapper {
      padding-top 85px
      padding-bottom 100px
    }
    &__seporate {
      margin-bottom 45px
    }
    &__title {
      margin-bottom 60px
    }
  }
}
+do(750) {
  .stack-box {
    &__wrapper {
      padding-top 60px
      padding-bottom 40px
    }
    &__title {
      margin-bottom 0
    }
    &__seporate {
      margin-bottom 30px
    }
    &__img {
      position relative
      top auto
      right 0
      bottom auto
      left auto
      width 70%
      padding-bottom 30px
    }
  }
}

.stack-box_android {
  .stack-box {
    &__img {
      max-width 60%
      right -8%
    }
  }
}
+do(1200) {
  .stack-box_android {
    .stack-box {
      &__img {
        width 65%
      }
    }
  }
}
+do(750) {
  .stack-box_android {
    .stack-box {
      &__img {
        position relative
        top auto
        right 0
        bottom auto
        left auto
        width 80%
        max-width 80%
        padding-bottom 30px
      }
    }
  }
}

.stack-items {
  &__wrapper {
    padding-bottom .1px
  }

  &__list {
    display flex
    flex-wrap wrap
    justify-content space-between
    margin 0 -20px -30px -20px
  }

  &__item {
    margin 0 20px 30px 20px
  }
}
+do(750) {
  .stack-items {
    &__list {
      display block
    }
  }
}

.stack-item {
  font-size 60px
  line-height 1
  font-weight 700
  color #040724
  display flex
  align-items center

  &::before {
    content ''
    display block
    margin-right 25px
  }

  &_java::before {
    svg('java', 44px, #274EAD)
  }

  &_sql::before {
    width 58px
    height 60px
    background url(../images/vacancies/sql.png)
    background-size cover
    background-repeat no-repeat
  }

  &_linux::before {
    width 50px
    height 60px
    background url(../images/vacancies/linux.png)
    background-size cover
    background-repeat no-repeat
  }
}
+do(1100) {
  .stack-item {
    font-size 35px
  }
}

.stack-section {
  font-size 14px
  line-height (26/14)
  color #27262B

  &__wrapper {
    position relative
    z-index 50
    padding 100px 60px 0 60px

    &::before {
      content ''
      position absolute
      trbl 0 -100vw 0 -100px
      background-color #FAFBFD
      z-index -1
    }
  }

  &__inner {
    max-width 1080px
    margin-bottom 80px

    &:last-child {
        margin-bottom 0
    }
  }

  &__columns {
    display flex
    flex-wrap wrap
    margin 0 -80px
  }

  &__col {
    margin 0 80px
    flex-column(1, 2, 80px)
  }

  &__link {
    padding-top 20px
    padding-bottom 50px
  }

  &__img {
    display flex
    align-items flex-end
    text-align left
    img {
      vertical-align middle
    }
  }
}
+do(1000) {
  .stack-section {
    &__wrapper {
      padding 60px 30px 0 30px
    }

    &__columns {
      margin 0 -40px
    }

    &__col {
      margin 0 40px
      flex-column(1, 2, 40px)
    }
  }
}
+do(750) {
  .stack-section {
    &__wrapper {
      padding 30px 0
    }

    &__inner {
      margin-bottom 50px
    }

    &__columns {
      display block
      margin 0
    }

    &__col {
      margin 0 0 30px 0
      flex-column(1, 1, 0px)

      &:last-child {
        margin-bottom 0
      }
    }

    &__link {
      padding 0
    }
  }
}

.stack-internship {
  color $color-white

  &__wrapper {
    display flex
    flex-wrap wrap
    position relative
    &::before {
      content ''
      position absolute
      trbl 0 -100px 0 -100vw
      background-color #274DAB
      z-index -1
    }
  }

  &__main {
    padding-top 110px
    padding-bottom 90px
    flex-column(1, 2)
  }

  &__side {
    position relative
    flex-column(1, 2)
    display flex
    align-items flex-end
    justify-content flex-end
    &::before {
      content ''
      position absolute
      trbl 0 -100px 0 50px
      background-color darken(#274DAB, 8%)
    }
  }

  &__description {
    use-size(14)
    max-width 480px
    margin-bottom 90px
  }

  &__img {
    margin-right -100px
    position relative
    z-index 50
    img {
      vertical-align middle
    }
  }
}
+do(1000) {
  .stack-internship {
    &__main {
      padding-top 80px
      padding-bottom 50px
    }
  }
}
+do(750) {
  .stack-internship {
    &__wrapper {
      display block
    }

    &__main {
      padding-top 60px
      padding-bottom 30px
      flex-column(1, 1)
    }

    &__description {
      font-size 13px
      margin-bottom 40px
    }

    &__side {
      flex-column(1, 1)
      &::before {
        content none
        display none
      }
    }
  }
}
