.stage-item {
   flex 1
   &__wrapper {
      display flex
      margin-right -20px
      margin-left -20px
   }
   &__side {
      margin-right 20px
      margin-left 20px
      flex 0 0 auto
   }
   &__main {
      flex 1
      margin-right 20px
      margin-left 20px
   }
   &__icon {
   }
}

.stage-item_1 {
   .stage-item {
      &__icon {
         &:before {
            content ''
            display block
            svg('outline-1', 55px, #0DA19C)
         }
      }
   }
}

.stage-item_2 {
   .stage-item {
      &__icon {
         &:before {
            content ''
            display block
            svg('outline-2', 84px, #0DA19C)
         }
      }
   }
}

.stage-item.stage-item_offset_1 {
   position relative
   .stage-item {
      &__icon {
         position absolute
         top -40px
         left 0
         +do(750) {
            display block
            position relative
            top auto
         }
         &:before {
            content ''
            display block
            svg('outline-1', 45px, #0DA19C)
            +do(1400) {
               svg-size('outline-1', 30px)
            }
         }
      }
   }
}

.stage-item.stage-item_offset_2 {
   position relative
   .stage-item {
      &__icon {
         position absolute
         top -40px
         left 0
         &:before {
            content ''
            display block
            svg('outline-2', 65px, #0DA19C)
            +do(1400) {
               svg-size('outline-2', 40px)
            }
         }
      }
   }
}

.stage-item.stage-item_offset_3 {
   position relative
   .stage-item {
      &__icon {
         position absolute
         top -40px
         left 0
         &:before {
            content ''
            display block
            svg('outline-3', 65px, #0DA19C)
            +do(1400) {
               svg-size('outline-3', 40px)
            }
         }
      }
   }
}

.stage-item.stage-item_offset_4 {
   position relative
   .stage-item {
      &__icon {
         position absolute
         top -40px
         left 0
         &:before {
            content ''
            display block
            svg('outline-4', 65px, #0DA19C)
            +do(1400) {
               svg-size('outline-4', 40px)
            }
         }
      }
   }
}

.stage-item.stage-item_offset_5 {
   position relative
   .stage-item {
      &__icon {
         position absolute
         top -40px
         left 0
         &:before {
            content ''
            display block
            svg('outline-5', 65px, #0DA19C)
            +do(1400) {
               svg-size('outline-5', 40px)
            }
         }
      }
   }
}

.stage-item_orange {
   &.stage-item {
      min-height 240px
      box-sizing border-box
      +do(900) {
         min-height 200px
      }
   }
   &.stage-item.stage-item_offset_1 {
      .stage-item {
         &__icon {
            &:before {
               svg-color('outline-1', #FA7A1D)
               +do(750) {
                  margin-left -20px
               }
            }
         }
      }
   }

   &.stage-item.stage-item_offset_2 {
      .stage-item {
         &__icon {
            &:before {
               svg-color('outline-2', #FA7A1D)
            }
         }
      }
   }

   &.stage-item.stage-item_offset_3 {
      .stage-item {
         &__icon {
            &:before {
               svg-color('outline-3', #FA7A1D)
            }
         }
      }
   }

   &.stage-item.stage-item_offset_4 {
      .stage-item {
         &__icon {
            &:before {
               svg-color('outline-4', #FA7A1D)
            }
         }
      }
   }

   &.stage-item.stage-item_offset_5 {
      .stage-item {
         &__icon {
            &:before {
               svg-color('outline-5', #FA7A1D)
            }
         }
      }
   }
}

.stages-list {
   &__list {
      display flex
      flex-wrap wrap
      margin-right -50px
      margin-left -50px
      margin-bottom -70px
      &-item {
         flex 1
         margin-left 50px
         margin-right 50px
         margin-bottom 70px
         max-width calc(33.33% - 100px)
         flex-basis calc(33.33% - 100px)
         display flex
         &_1 {
            flex 1
            max-width 100%
            flex-basis 100%
         }
         &_2 {
            flex 1
            max-width calc(33.33% - 100px)
            flex-basis calc(33.33% - 100px)
            +do(1200) {
               max-width calc(50% - 100px)
               flex-basis calc(50% - 100px)
            }
            +do(750) {
               max-width calc(100% - 100px)
               flex-basis calc(100% - 100px)
            }
         }
         &_3 {
            max-width calc(66.66% - 100px)
            flex-basis calc(66.66% - 100px)
            +do(1200) {
               max-width calc(50% - 100px)
               flex-basis calc(50% - 100px)
            }
            +do(750) {
               max-width calc(100% - 100px)
               flex-basis calc(100% - 100px)
            }
         }
         &_4 {
            max-width calc(50% - 100px)
            flex-basis calc(50% - 100px)
            +do(750) {
               max-width calc(100% - 100px)
               flex-basis calc(100% - 100px)
            }
         }
         &_5 {
            max-width calc(50% - 100px)
            flex-basis calc(50% - 100px)
            +do(750) {
               max-width calc(100% - 100px)
               flex-basis calc(100% - 100px)
            }
         }
      }
   }
   &_between {
      & ^[0]__list {
         justify-content space-between
      }
   }
   &_2x {
      & ^[0]__list-item {
         max-width calc(50% - 100px)
         +do(1000) {
            flex-basis calc(100% - 100px)
            max-width calc(100% - 100px)
         }
      }
   }
}

.stages-list_gap-small {
   .stages-list__list {
      margin-right -10px
      margin-left -10px
   }
   .stages-list__list-item {
      margin-left 10px
      margin-right 10px
      flex-column(1, 3, 10px)
   }
}
+do(1000) {
   .stages-list_gap-small {
      .stages-list__list {
         justify-content center
      }
      .stages-list__list-item {
         flex-column(1, 2, 10px)
      }
   }
}
+do(750) {
   .stages-list_gap-small {
      .stages-list__list-item {
         flex-column(1, 1, 10px)
      }
   }
}

.stage-item_offset {
   padding 60px
   background-color #0D102A
   .stage-item {
      &__side {
         margin-right 0
      }
   }
}

+do(1400) {
   .stage-item_offset {
      padding 30px
   }
}
+do(750) {
   .stage-item_offset {
      padding 20px
      .stage-item {
         &__wrapper {
            display block
         }
         &__side {
            margin-bottom 20px
         }
      }
   }
}