.steps-line {
   position relative
   &__list {
      display flex
      flex-wrap nowrap
      margin-right -75px
      margin-left 0
   }
   &__item {
      position relative
      z-index 5
      flex 0 0 auto
      padding-left 0
      padding-right 150px
      box-sizing border-box
      max-width 300px
      overflow hidden
      transition max-width .3s linear, opacity .1s ease .1s, padding-right .3s linear
      &:before {
         content ''
         position absolute
         left 0
         right -100vw
         top 30px
         height 2px
         background-color #E2E3EA
      }
   }
}

+do('miw', 1000) {
   .steps-line {
      &__item {
         &.is-hidden {
            opacity 0
            max-width 0
            padding-right 0
         }
         &:last-child {
            overflow visible
            &:before {
               right -100vh
            }
         }
      }
   }
}

.steps-item {
   position relative
   z-index 9
   transition .3s ease
   &__number {
      size 60px
      border-radius 50%
      border 1px solid #E2E3EA
      display flex
      align-items center
      justify-content center
      background-color #fbfbfd
      font-size 22px
      font-family $font-title
      font-weight 700
      color #CBCBCE
      &-caption {
         flex 0 0 auto
      }
   }
   &__title {
      font-family $font-title
      font-weight 700
      white-space nowrap
   }
   &__side {
   }
   &__main {
      margin-bottom 30px
   }
   &.is-active {
      & ^[0]__number {
         background-color $color-blue-light
         border-color $color-blue-light
         color white
      }
   }
}

+do(1000) {
   .steps-item {
      &__number {
         background-color $color-blue-light
         border-color $color-blue-light
         color white
      }
   }
}

+do(1000) {
   .steps-line {
      &__list {
         margin-right -30px
         margin-left -30px
         padding-left 30px
         overflow scroll
         -webkit-overflow-scrolling touch
      }
   }
}

+do(750) {
   .steps-line {
      &__item {
         padding-right 80px
      }
   }
}