.toggle-tag input:checked ~ .tags__item:before {
   opacity .7
}

.toggle-tag input:checked ~ .tags__item {
   background $color-blue-tlight
   color $color-white
}

.tags {
   position relative
   &__wrapper {
      margin-top 30px
      display flex
      flex-wrap wrap
      margin-bottom 20px
      margin-left -10px
      margin-right -10px
      .toggle-tag {
         margin-right 5px
         margin-left 5px
         margin-bottom 10px
      }
      .tags__item {
         border 1px solid $color-grey-xxlight
         padding 12px 0
         font-family $font-title
         font-size 14px
         line-height (24 / 14)
         box-sizing border-box
         background-color $color-white
         position relative
         overflow hidden
         transition all 0.1s linear, color 0.1s linear 0.25s
         color $color-blue-hlight
         cursor pointer
         width max-content
         padding-left 39px
         padding-right 39px
         &:after {
            content ''
            display block
            size 0
            position absolute
            background $color-blue-tlight
            border-radius 50%
            transition .4s linear
            transform: translate(-50%, -50%);
            top 50%
            left 50%
            margin-top 28px
            margin-left -50%
            visibility hidden
            will-change: width, height;
         }

         &:hover {
            color $color-white
            transition-delay .1s
            &:after {
               visibility visible
               size 999px
            }
         }
         &-caption {
            box-flex 1
            flex 0 0 auto
            box-sizing border-box
            position relative
            z-index 5
         }
      }
   }
}

+do(1000) {
   .toggle-tag input:checked ~ .tags__item {
      background $color-blue-tlight
      color $color-white
   }
   .tags {
      flex-wrap nowrap
      overflow-x auto
      overflow-y visible
      margin-right -20px
      margin-left -20px
      padding-left 20px
      -webkit-overflow-scrolling touch
   }
   .tags__wrapper {
      min-width max-content
      min-width -moz-max-content
      min-width -o-max-content
      min-width -webkit-max-content

      .tags__item {
         padding-left 29px
         padding-right 43px
      }
   }
}