.target {
   position relative
   padding-bottom 232px
   &:before {
      content ''
      position absolute
      background $color-grey-dark
      left 0
      right 0
      top 0
      bottom 0
      max-width 1761px
      margin-left auto
      z-index -1
   }
   &__wrapper {
      padding-top 88px
      display flex
      flex-wrap wrap
      box-sizing border-box
      min-height 512px
      &_border-bottom {
         border-bottom 1px solid rgba(204, 203, 206, 0.3)
      }
   }
   &__main {
      max-width 35%
      flex-basis 35%
   }
   &__side {
      position relative
      max-width 65%
      flex-basis 65%
      &-image {
         position absolute
         z-index 16
         left 50%
         top -38%
         adaptive-bg('../images/taxi/car.png')
      }
   }
   &__title {
      font-size 60px
      font-family $font-title
      color $color-blue-xxdark
      line-height (68 / 60)
      font-weight 600
      margin-bottom 47px
   }
   &__desc {
      font-family $font-roboto
      font-size 14px
      line-height (26 / 14)
      color $color-blue-ndark
      padding-left 55px
   }
   &_padding-bottom_none {
      padding-bottom 0
   }
   &_bg_none {
      &:before {
         display none
      }
   }
   &_wide_bg {
      &:before {
         left -120px
         right -120px
         top 30px
         bottom 70px
      }

   }
}

+do(1450) {
   .target {
      &__side {
         &-image {
            left 40%
         }
      }
   }
}

+do(1250) {
   .target {
      &__main {
         max-width 50%
         flex-basis 50%
      }
      &__side {
         max-width 50%
         flex-basis 50%
         &-image {
            left 5%
         }
      }
   }
}

+do(1000) {
   .target {
      &__title {
         font-size 48px
      }
   }
}

+do(750) {
   .target {
      &__title {
         font-size 26px
      }
      &__desc {
         padding-left 0px
      }
      &__main {
         max-width 100%
         flex-basis 100%
      }
      &__side {
         max-width 100%
         flex-basis 100%
         display block
         &-image {
            max-width inherit
            position unset
         }
      }
   }
}

+do(500) {
   .target {
      &__wrapper {
         padding-top 50px
      }
   }
}

.target_retail {
   .target {
      &__side {
         display flex
         align-items flex-end
      }
      &__desc {
         padding-left 0
      }
      &__side-image {
         position static
         background none
         padding-left 30px
         width 100%
         &:before {
            content ''
            display none
         }
         img {
            vertical-align bottom
         }
      }
   }
}

+do(1200) {
   .target_retail {
      padding-bottom 180px
   }
}

+do(1000) {
   .target_retail {
      padding-bottom 140px
   }
}

+do(750) {
   .target_retail {
      padding-bottom 100px
      .target {
         &__wrapper {
            padding-top 40px
         }
         &__title {
            margin-bottom 24px
         }
         &__main {
            margin-bottom 30px
         }
         &__side-image {
            padding-left 0
         }
      }
   }
}

.target_fast-food {
   .target {
      &__side {
         display flex
         align-items flex-end
      }
      &__desc {
         padding-left 0
      }
      &__side-image {
         position static
         background none
         padding-left 30px
         margin-bottom -2px
         width 100%
         margin-top -175px
         &:before {
            content ''
            display none
         }
         img {
            vertical-align bottom
         }
      }
   }
}

+do(1200) {
   .target_fast-food {
      padding-bottom 180px
   }
}

+do(1000) {
   .target_fast-food {
      padding-bottom 140px
   }
}

+do(750) {
   .target_fast-food {
      padding-bottom 100px
      .target {
         &__wrapper {
            padding-top 40px
         }
         &__title {
            margin-bottom 24px
         }
         &__main {
            margin-bottom 30px
         }
         &__side-image {
            margin-top 0
            padding-left 0
         }
      }
   }
}

.target_parking {
   padding-bottom 131px
   .target {
      &__side {
         display flex
         align-items flex-end
      }
      &__main {
         margin-bottom 160px
      }
      &__desc {
         padding-left 0
      }
      &__side-image {
         position static
         background none
         padding-left 300px
         margin-bottom -2px
         width 100%
         margin-top -175px
         &:before {
            content ''
            display none
         }
         img {
            vertical-align bottom
         }
      }
   }
}

+do(1200) {
   .target_parking {
      padding-bottom 180px
   }
}

+do(1000) {
   .target_parking {
      padding-bottom 140px
   }
}

+do(750) {
   .target_parking {
      padding-bottom 100px
      .target {
         &__wrapper {
            padding-top 40px
         }
         &__title {
            margin-bottom 24px
         }
         &__main {
            margin-bottom 30px
         }
         &__side-image {
            margin-top 0
            padding-left 0
         }
      }
   }
}

.target_fiscal-farm {
   padding-bottom 40px
   &:before {
      content ''
      position absolute
      top 40px
      bottom 0
      left -((1600 - 1360) / 2)px
      right -((1600 - 1360) / 2)px
      background $color-grey-dark
      z-index -1
   }
   .target {
      &__side {
         display flex
         align-items flex-end
      }
      &__wrapper {
         position relative
      }
      &__desc {
         padding-left 0
      }
      &__side-image {
         position static
         background none
         padding-left 0
         margin-bottom -40px
         width 100%
         margin-top 0px
         text-align right
         &:before {
            content none
            display none
         }
         img {
            vertical-align bottom
         }
      }
   }
}
.target_fiscal-farm_2 {
   &:before {
      display none
      content none
   }
   .target__side-image {
      margin-bottom 0
   }
}
+do(750) {
   .target_fiscal-farm {
      padding-bottom 20px
      .target {
         &__side {
            display flex
            align-items flex-end
         }
         &__title {
            margin-bottom 24px
         }
         &__wrapper {
            position relative
         }
         &__desc {
            padding-left 0
            margin-bottom 30px
         }
         &__side-image {
            margin-bottom -20px
         }
      }
   }
   .target_fiscal-farm_2 {
      padding-bottom 0
      .target__side-image {
         margin-bottom 0
      }
   }
}
