.taxi-advantages {
   &__wrapper {
      margin-top 70px
      &_margin-top {
         margin-top -150px
      }
      &_border-bottom {
         border-bottom 1px solid rgba(204,203,206,0.3)
      }
   }
   &__title {
      font-size 20px
      line-height (72 / 20)
      font-family $font-title
      color $color-blue-xxdark
   }
   &__list {
      display flex
      flex-wrap wrap
      margin-top 34px
      margin-bottom 40px
   }
}
+do(750) {
   .taxi-advantages {
      &__title {
         font-size 16px
         line-height (24 / 16)
      }
   }
}