.team-slider {
   position relative
   &__title {
      font-family $font-title
      font-weight 700
      line-height 1
      font-size 32px
      margin-bottom 55px
   }
   &__desc {
      font-size 14px
      line-height (26 / 14)
      padding-left 60px
      box-sizing border-box
   }
   &__wrapper {
      display flex
      flex-wrap wrap
      margin-right -60px
      margin-left -60px
      min-height 545px
      box-sizing border-box
   }
   &__main {
      flex 1
      padding-right 60px
      padding-left 60px
      max-width calc(50% - 120px)
   }
   &__side {
      flex 1
      padding-right 60px
      padding-left 60px
      max-width calc(50% - 120px)
      position relative
   }
   &__person {
      position absolute
      opacity 0
      visibility hidden
      &-info {
         padding-top 80px
         max-width 260px
         box-sizing border-box
         opacity 0
         transform translateY(-100%)
         transition .286s linear

      }
      &-title {
         font-family $font-title
         font-weight 600
         font-size 16px
         line-height (24 / 16)
         margin-bottom 15px
      }
      &-desc {
         color rgba(39, 38, 43, 0.6)
         line-height 1.2
         font-size 14px
         box-sizing border-box
      }
      &-image {
         position absolute
         width 310px
         height 525px
         right 145px
         bottom 0
         opacity 0
         transform translateX(100%)
         transform-origin 50% 50%
         transition .286s linear
         background-repeat no-repeat
         background-size contain
         background-position center
      }
      &.is-active {
         position static
         visibility visible
         opacity 1
         & ^[-1]-image {
            opacity 1
            transform translateX(0)
         }
         & ^[-1]-info {
            opacity 1
            transform translateY(0)
         }
      }
   }
   &__nav {
      position absolute
      bottom 0
      left 0
      right 0
      display flex
      justify-content center
      align-items center
   }
}
+do(1200) {
   .team-slider {
      &__desc {
         padding-left 0
      }
      &__person {
         &-image {
            width 310px
            height 340px
         }
      }
   }
}

+do(750) {
   .team-slider {
      &__title {
         margin-bottom 30px
      }
      &__wrapper {
         display block
      }
      &__main {
         max-width none
      }
      &__side{
         max-width none
         min-height 490px
      }
      &__person {
         &-info {
            padding-top 30px
         }
         &-image {

         }
      }
   }
}