.technology-list {
  position relative

  &:before {
    content ''
    position absolute
    top 160px
    left -60px
    right -60px
    bottom 160px
    z-index -1
    background-color #FAFBFD
  }

  &__list {
    &-item {
      margin-bottom 60px
    }
  }
}

.technology-item {
  &__title {
    font-size 36px
    font-weight 700
    margin-bottom 30px
    font-family $font-title
  }
}

.technology-grid {
  &__item {
    flex 1
    background-color white
    border 2px solid #E2E3EA
    background-position center
    background-repeat no-repeat
    box-sizing border-box

    &:hover {
      border-color $color-blue
    }
  }
}

.technology-grid.technology-grid_backend {
  .technology-grid {
    &__list {
      display: grid;
      grid-template-rows: repeat(12, 85px)
      grid-template-columns: repeat(12, 1fr)
      grid-gap: 30px;
    }

    &__item {
      &_java {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1
        grid-row-end: 7
      }

      &_encache {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 4;
      }

      &_java-ee {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 4;
        grid-row-end: 7;
      }

      &_jsf {
        grid-column-start 9
        grid-column-end 13
        grid-row-start 1
        grid-row-end: 5
      }

      &_spring {
        grid-column-start 9
        grid-column-end 13
        grid-row-start 5
        grid-row-end 7
      }

      &_hibernate {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 7;
        grid-row-end: 9;
      }

      &_prime-faces {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 9;
        grid-row-end: 11;
      }

      &_node-js {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 11;
        grid-row-end: 13;
      }

      &_netty {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 7;
        grid-row-end: 11;
      }

      &_jdbc {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 11;
        grid-row-end: 13;
      }

      &_express {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 7;
        grid-row-end: 9;
      }

      &_php {
        grid-column-start: 9;
        grid-column-end: 11;
        grid-row-start: 9;
        grid-row-end: 11;
      }

      &_delta-spike {
        grid-column-start: 11;
        grid-column-end: 13;
        grid-row-start: 9;
        grid-row-end: 11;
      }

      &_spring-boot {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 11;
        grid-row-end: 13;
      }
    }
  }
}

.technology-grid.technology-grid_frontend {
  .technology-grid {
    &__list {
      display: grid;
      grid-template-rows: repeat(8, 85px)
      grid-template-columns: repeat(12, 1fr)
      grid-gap: 30px;
    }

    &__item {
      &_vue {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
      }

      &_react {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 7;
      }

      &_bootstrap {
        grid-column-start: 5;
        grid-column-end: 1;
        grid-row-start: 7;
        grid-row-end: 9;
      }

      &_stylus {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 3;
      }

      &_sass {
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 3;
      }
      &_angular {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 5;
      }
      &_css {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 9;
      }

      &_js {
        grid-column-start: 13;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 5;
      }

      &_html {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 5;
        grid-row-end: 9;
      }
    }
  }
}

.technology-grid.technology-grid_desktop {
  .technology-grid {
    &__list {
      display: grid;
      grid-template-rows: repeat(6, 85px)
      grid-template-columns: repeat(12, 1fr)
      grid-gap: 30px;
    }

    &__item {
      &_electron {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 3;
      }

      &_java {
        grid-column-start: 13;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 7;
      }

      &_java-fx {
        grid-column-start: 5;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 5;
      }

      &_java-swing {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 5;
      }

      &_node-js {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 7;
        grid-row-end: 5;
      }
      &_printing {
        grid-column-start: 5;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 7;
      }
    }
  }
}
.technology-grid.technology-grid_testing {
  .technology-grid {
    &__list {
      display: grid;
      grid-template-rows: repeat(6, 85px)
      grid-template-columns: repeat(12, 1fr)
      grid-gap: 30px;
    }

    &__item {
      &_selenium {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 3;
      }

      &_spectron {
        grid-column-start: 13;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 7;
      }

      &_jest {
        grid-column-start: 5;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 5;
      }

      &_allure {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 5;
      }

      &_junit {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 7;
        grid-row-end: 5;
      }
      &_spock {
        grid-column-start: 5;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 7;
      }
    }
  }
}

.technology-grid.technology-grid_data-exchange {
  .technology-grid {
    &__list {
      display: grid;
      grid-template-rows: repeat(6, 85px)
      grid-template-columns: repeat(12, 1fr)
      grid-gap: 30px;
    }

    &__item {
      &_json {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 7;
      }

      &_web-soket {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 3;
      }

      &_ssl {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 5;
      }

      &_java-rs {
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 7;
      }

      &_java-ws {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 7;
      }
      &_xml {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 5;
      }
      &_ecp {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 5;
        grid-row-end: 7;
      }
    }
  }
}


.technology-grid.technology-grid_ci {
  .technology-grid {
    &__list {
      display: grid;
      grid-template-rows: repeat(6, 85px)
      grid-template-columns: repeat(12, 1fr)
      grid-gap: 30px;
    }

    &__item {
      &_jenkins {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 7;
      }

      &_subversion {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 5;
      }

      &_jfrog {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 7;
      }

      &_sonar {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 3;
      }

      &_git {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 3;
        grid-row-end: 5;
      }
      &_eslint {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 5;
        grid-row-end: 7;
      }
    }
  }
}

.technology-grid.technology-grid_build-tools {
  .technology-grid {
    &__list {
      display: grid;
      grid-template-rows: repeat(6, 85px)
      grid-template-columns: repeat(12, 1fr)
      grid-gap: 30px;
    }

    &__item {
      &_webpack {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 7;
      }

      &_maven {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 3;
      }

      &_gradle {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 5;
      }

      &_ant {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 7;
      }
      &_prog {
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 7;
      }

      &_gulp {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 5;
      }
      &_babel {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 5;
        grid-row-end: 7;
      }
    }
  }
}

.technology-grid.technology-grid_business-tools {
  .technology-grid {
    &__list {
      display: grid;
      grid-template-rows: repeat(12, 85px)
      grid-template-columns: repeat(12, 1fr)
      grid-gap: 30px;
    }

    &__item {
      &_you-track {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 5;
      }

      &_ij {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 7;
      }

      &_dg {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 7;
      }

      &_wiremock {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 7;
        grid-row-end: 9;
      }
      &_drawio {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 9;
        grid-row-end: 11;
      }

      &_xcode {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 11;
        grid-row-end: 13;
      }
      &_postman {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 11;
        grid-row-end: 13;
      }
      &_mattermost {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 3;
      }
      &_vp {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 5;
      }
      &_trello {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 7;
      }
      &_ws {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 7;
        grid-row-end: 11;
      }
      &_as {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 11;
        grid-row-end: 13;
      }
      &_redmine {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 5;
      }
      &_jira {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 5;
        grid-row-end: 7;
      }
      &_zeplin {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 7;
        grid-row-end: 9;
      }
      &_in {
        grid-column-start: 9;
        grid-column-end: 11;
        grid-row-start: 9;
        grid-row-end: 11;
      }
      &_soapui {
        grid-column-start: 11;
        grid-column-end: 13;
        grid-row-start: 9;
        grid-row-end: 11;
      }
      &_swagger {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 11;
        grid-row-end: 13;
      }
    }
  }
}

.technology-grid.technology-grid_os {
  .technology-grid {
    &__list {
      display: grid;
      grid-template-rows: repeat(12, 85px)
      grid-template-columns: repeat(12, 1fr)
      grid-gap: 30px;
    }

    &__item {
      &_apache {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 7;
      }

      &_sqlite {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 7;
        grid-row-end: 9;
      }

      &_wild-fly {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 9;
        grid-row-end: 11;
      }

      &_kvm {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 11;
        grid-row-end: 13;
      }
      &_windows {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 11;
        grid-row-end: 13;
      }

      &_ngix {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 3;
      }
      &_sql {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 7;
      }
      &_glass-fish {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 7;
        grid-row-end: 11;
      }
      &_linux {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 11;
        grid-row-end: 13;
      }
      &_tomcat {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 5;
      }
      &_mysql {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 5;
        grid-row-end: 7;
      }
      &_oracle {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 7;
        grid-row-end: 9;
      }
      &_gnu {
        grid-column-start: 9;
        grid-column-end: 11;
        grid-row-start: 9;
        grid-row-end: 11;
      }
      &_xen {
        grid-column-start: 11;
        grid-column-end: 13;
        grid-row-start: 9;
        grid-row-end: 11;
      }
      &_docker {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 11;
        grid-row-end: 13;
      }
    }
  }
}

.technology-grid.technology-grid_mobile {
  .technology-grid {
    &__list {
      display: grid;
      grid-template-rows: repeat(6, 85px)
      grid-template-columns: repeat(12, 1fr)
      grid-gap: 30px;
    }

    &__item {
      &_android {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 5;
      }

      &_android-sdk {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 5;
        grid-row-end: 7;
      }

      &_cocoa-touch {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 7;
      }

      &_kotlin {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 5;
      }

      &_objective-c {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 7;
      }
      &_swift {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 3;
      }
    }
  }
}

+do(1000) {
  .technology-grid {
    &__item {
      background-size contain
    }
  }
  .technology-grid.technology-grid_testing,
  .technology-grid.technology-grid_frontend,
  .technology-grid.technology-grid_mobile,
  .technology-grid.technology-grid_data-exchange,
  .technology-grid.technology-grid_desktop,
  .technology-grid.technology-grid_ci,
  .technology-grid.technology-grid_os,
  .technology-grid.technology-grid_business-tools,
  .technology-grid.technology-grid_build-tools,
  .technology-grid.technology-grid_backend {
    .technology-grid {
      &__list {
        display flex
        margin-left -10px
        margin-right -10px
        flex-wrap wrap
      }

      &__item {
        padding-top (50 * 100 / 380) %
        margin-right 10px
        margin-left 10px
        margin-bottom 20px
        max-width calc(20% - 20px)
        flex-basis calc(20% - 20px)
      }
    }
  }
}
+do(750) {


  .technology-list {
    &__list {
      &-item {
        margin-bottom 20px
      }
    }
  }

  .technology-grid.technology-grid_testing,
  .technology-grid.technology-grid_frontend,
  .technology-grid.technology-grid_mobile,
  .technology-grid.technology-grid_data-exchange,
  .technology-grid.technology-grid_desktop,
  .technology-grid.technology-grid_ci,
  .technology-grid.technology-grid_business-tools,
  .technology-grid.technology-grid_os,
  .technology-grid.technology-grid_build-tools,
  .technology-grid.technology-grid_backend {
    .technology-grid {
      &__item {
        padding-top (80 * 100 / 380) %
        margin-right 10px
        margin-left 10px
        margin-bottom 20px
        max-width calc(50% - 20px)
        flex-basis calc(50% - 20px)
      }
    }
  }
}
