.terminal-list {
   padding-top 120px
   box-sizing border-box
   &__list {
      display flex
      flex-wrap nowrap
      overflow auto
      margin-right -70px
      margin-left -70px
      -webkit-overflow-scrolling touch
      &-item {
         flex 0 0 auto
         margin-right 70px
         margin-left 70px
         display flex
      }
   }
   &__item {
      flex 1
      display flex
      margin-right -8px
      margin-left -8px
      &-img {
         flex 0 0 auto
      }
      &-main {
         margin-right 8px
         margin-left 8px
         display flex
         align-items flex-end
         padding-bottom 30px
      }
      &-side {
         margin-right 8px
         margin-left 8px
         align-items flex-end
         display flex
      }
      &-img {
         img {
            display block
            max-width 100%
         }
      }
      &-caption {
         color rgba(white, 0.4)
      }
      &_3 {
         & ^[-1]-img {
            position relative
            &:before {
               content ''
               display block
               position absolute
               size 140px
               background-position center
               background-repeat no-repeat
               background-size contain
               background-image url('../images/core/grid.png')
               right -70px
               z-index -1
               top 100px
            }
         }
      }
   }
}

+do(1000) {
   .terminal-list {
      padding-top 80px
      box-sizing border-box
      &__list {
         margin-right -30px
         margin-left -30px
         &-item {
            margin-right 30px
            margin-left 30px
         }
      }
      &__item {
         &-img {
            max-width 300px
         }
         &_3 {
            & ^[-1]-img {
               &:before {
                  right -70px
                  top 100px
               }
            }
         }
      }
   }
}

+do(750) {
   .terminal-list {
      padding-top 60px
      box-sizing border-box
      &__list {
         margin-right -20px
         margin-left -20px
         &-item {
            margin-right 20px
            margin-left 20px
         }
      }
      &__item {
         &-img {
            max-width 90px
         }
         &_3 {
            & ^[-1]-img {
               &:before {
                  display none
               }
            }
         }
      }
   }
}