.ticket-transport-title-2 {
  font-size 60px
  font-weight 700
  font-family $font-title
  line-height 1.2
  color #040724
}

+do(1200) {
  .ticket-transport-title-2 {
    font-size 36px
  }
}

+do(750) {
  .ticket-transport-title-2 {
    font-size 26px
  }
}

.ticket-transport-steps {
  &__title {
    margin-bottom 35px
  }

  &__content {
    &-main {
      max-width 1520px
    }
  }

  &__desc {
    font-size 14px
    padding-left 25px
    box-sizing border-box
    max-width 480px
    margin-bottom 140px
    line-height (26 / 14)
  }

  &__list {
    &-item {
      margin-bottom 70px
      display flex

      &:nth-child(2n) {
        justify-content flex-end
      }

      &:last-child {
        margin-bottom 0
      }
    }
  }
}

+do(1600) {
  .ticket-transport-steps {
    &__list {
      &-item {
        margin-bottom 60px
      }
    }
  }
}

.ticket-transport-step {
  &__wrapper {
    display flex
    margin-left -15px
    margin-right -15px
  }

  &__side {
    margin-left 15px
    margin-right 15px
  }

  &__main {
    margin-left 15px
    margin-right 15px
  }

  &__number {
    width 70px
    height 101px
    background-position center
    background-repeat no-repeat
    background-size contain

    &_1 {
      background-image url('../images/ticket-transport/number-1.svg')
    }

    &_2 {
      background-image url('../images/ticket-transport/number-2.svg')
    }
  }

  &__content {
    display flex
    margin-left -40px
    margin-right -40px

    &-side {
      margin-left 40px
      margin-right 40px
    }

    &-main {
      margin-left 40px
      margin-right 40px
    }

    &-title {
      font-size 20px
      font-weight 700
      margin-bottom 40px
    }

    &-desc {
      max-width 420px
      font-size 14px
      line-height (26 / 14)
    }

    &-img {
      background-position center
      background-repeat no-repeat
      background-size contain

      &_1 {
        width 415px
        height 240px
        background-image url('../images/ticket-transport/utp-pic-1.png')
      }

      &_2 {
        width 294px
        height 280px
        background-position bottom
        background-image url('../images/ticket-transport/utp-pic-2.png')
      }
    }
  }
}


+do(1200) {
  .ticket-transport-steps {
    &__desc {
      margin-bottom 80px
    }
  }
  .ticket-transport-step {
    &__wrapper {
      margin-left -15px
      margin-right -15px
    }

    &__side {
      margin-left 15px
      margin-right 15px
    }

    &__main {
      margin-left 15px
      margin-right 15px
    }


    &__content {
      margin-left -20px
      margin-right -20px

      &-side {
        margin-left 20px
        margin-right 20px
      }

      &-main {
        margin-left 20px
        margin-right 20px
      }

      &-title {
        font-size 20px
        margin-bottom 20px
      }

      &-desc {
        max-width 320px
      }

      &-img {
        &_1 {
          width 415px
          height 240px
        }

        &_2 {
          width 294px
          height 280px
        }
      }
    }
  }

}

+do(1000) {
  .ticket-transport-step {
    &__wrapper {
      margin-left -15px
      margin-right -15px
    }

    &__side {
      margin-left 15px
      margin-right 15px
    }

    &__main {
      margin-left 15px
      margin-right 15px
    }


    &__content {
      display block

      &-desc {
        max-width 380px
      }

      &-side {
        margin-bottom 40px
      }

      &-img {
        &_1 {
          width 415px
          height 240px
        }

        &_2 {
          width 294px
          height 280px
        }
      }
    }
  }

}

+do(750) {
  .ticket-transport-steps {
    &__title {
      margin-bottom 20px
    }

    &__desc {
      margin-bottom 40px
    }

    &__list {
      &-item {
        display block
        margin-bottom 30px
      }
    }
  }

  .ticket-transport-step {
    &__side {
      margin-bottom 40px
    }

    &__main {
    }

    &__number {
      width 25px
      height 40px
    }

    &__content {
      display block

      &-desc {
        max-width 380px
      }

      &-side {
        margin-bottom 20px
      }

      &-main {
        display flex
        justify-content flex-end
      }

      &-img {
        &_1 {
          width 415px
          height 240px
        }

        &_2 {
          width 294px
          height 280px
        }
      }
    }
  }

}

.ticket-transport-utp {
  padding-bottom 60px
  margin-bottom 72px
  border-bottom 1px solid rgba(#CCCBCE, 0.3)

  &__side {
    margin-bottom 60px
  }
}

+do(1000) {
  .ticket-transport-utp {
    padding-bottom 20px
    margin-bottom 32px

    &__side {
      margin-bottom 20px
    }
  }
}

.ticket-transport-card {
  flex 1
  background white
  padding 40px
  display flex
  border 2px solid #E2E3EA
  min-height 260px
  box-sizing border-box
  background-position center
  background-size cover
  background-repeat no-repeat
  position relative

  &__wrapper {
    flex 1
    display flex
    flex-direction column
  }

  &__number {
    opacity 0.5
    position absolute
    right 0
    top 0
  }

  &__header {
    margin-bottom 24px
    font-weight 600
    line-height 1.5
    position relative
    font-size 16px
  }

  &__main {
    font-size 14px
    line-height 1.5
  }

  &__footer {
    margin-top auto
  }
}


.ticket-transport-card.ticket-transport-card_fill {
  background-color #DC4A2F
  color white
}

+do(1200) {
  .ticket-transport-card {
    padding 20px 30px 40px 30px

    &__header {
      margin-bottom 15px
    }
  }
}

+do(1000) {
  .ticket-transport-card {
    padding 15px

    &__header {
      margin-bottom 15px
    }
  }
}

.ticket-transport-card.ticket-transport-card_link {
  min-height 300px
  transition .3s ease

  &:hover {
    opacity 0.8
  }
}

+do(1600) {
  .ticket-transport-card.ticket-transport-card_link {
    min-height 260px
  }
}

+do(1200) {
  .ticket-transport-card.ticket-transport-card_link {
    min-height 220px
  }
}

+do(1000) {
  .ticket-transport-card.ticket-transport-card_link {
    min-height 200px
  }
}

.ticket-transport-cards {
  &__list {
    margin-left -15px
    margin-right -15px
    margin-bottom -30px
    display flex
    flex-wrap wrap

    &-item {
      margin-left 15px
      margin-right 15px
      margin-bottom 30px
      max-width calc(25% - 30px)
      flex-basis calc(25% - 30px)
      display flex
    }
  }
}

+do(1000) {
  .ticket-transport-cards {
    &__list {
      margin-left -34px
      margin-right -34px
      padding-left 30px
      padding-right 30px
      display flex
      flex-wrap nowrap
      overflow-x auto
      -webkit-overflow-scrolling touch

      &-item {
        margin-left 4px
        margin-right 4px
        margin-bottom 30px
        display flex
        flex 0 0 260px
        max-width none
      }

      &:after {
        flex 0 0 34px
        content ''
        display block
      }
    }
  }
}

.ticket-transport-box {
  &__wrapper {
    position relative

    &:before {
      content ''
      position absolute
      top 160px
      left -120px
      right -120px
      bottom 160px
      background #FAFBFD
      z-index -1
    }
  }
}

.ticket-transport-ci {
  font-size 14px
  line-height 1.2
  margin-bottom 240px

  &__side {
    margin-bottom 30px
  }

  &__subtitle {
    font-size 20px
    font-family $font-title
    margin-bottom 60px
  }

  &__image {
    filter: drop-shadow(40px 60px 60px rgba(#040911, 0.15))
  }

  &__list {
    &-item {
      margin-bottom 40px
      padding-left 44px
      box-sizing border-box
      position relative

      &:before {
        content ''
        position absolute
        top 0
        left 0
        width 10px
        height 10px
        background-color #0DA19C
      }

      &:last-child {
        margin-bottom 0
      }
    }
  }

  &__content {
    &-side {
      padding-bottom 80px
      margin-bottom 80px
      border-bottom 1px solid rgba(#CCCBCE, 0.3)
    }

    &-main {

    }
  }

  &__desc {
    max-width 540px
  }

  &__cols {
    display flex
    flex-wrap wrap
    margin-left -32px
    margin-right -32px

    &-item {
      flex 1
      margin-left 32px
      margin-right 32px
    }
  }
}

+do(1000) {
  .ticket-transport-ci {
    margin-bottom 60px

    &__cols {
      display block

      &-item {
        &_side {
          margin-bottom 30px
        }
      }
    }

    &__content {
      &-side {
        padding-bottom 30px
        margin-bottom 30px
      }
    }

    &__subtitle {
      margin-bottom 30px
    }

    &__list {
      &-item {
        margin-bottom 15px
      }
    }
  }
}

.ticket-transport-work {
  margin-bottom 70px

  &__side {
    margin-bottom 60px
  }

  &__cols {
    margin-left -50px
    margin-right -50px
    display flex
    flex-wrap wrap
    padding-left 40px
    box-sizing border-box
    max-width 1280px

    &-item {
      flex 1
      margin-left 50px
      margin-right 50px
    }
  }

  &__image {
    padding-top 90px
    border-bottom 1px solid rgba(#CCCBCE, 0.3)

    img {
      display block
      max-width 100%
      margin 0 auto
    }
  }
}

+do(1000) {
  .ticket-transport-work {
    margin-bottom 40px

    &__cols {
      display block
      padding-left 0

      &-item {
        &_side {
          margin-bottom 20px
        }
      }
    }
  }
}

.ticket-transport-fly-x {
  animation ticket-transportFlyX 1.5s linear alternate-reverse infinite
}

.ticket-transport-fly-y {
  animation ticket-transportFlyY 1.5s linear alternate-reverse infinite
}

@keyframes ticket-transportFlyY {
  0% {
    transform translateY(calc(-50% - 20px))
  }
  100% {
    transform translateY(calc(-50% + 20px))
  }
}

@keyframes ticket-transportFlyX {
  0% {
    transform translateY(-50%) translateX(-30px)
  }
  100% {
    transform translateY(-50%) translateX(30px)
  }
}