.ul-list {
   &__list {
      display flex
      flex-wrap wrap
      margin-right -40px
      margin-left -40px
      margin-bottom -60px
      &-item {
         flex 1
         margin-right 40px
         margin-left 40px
         max-width calc(33.33% - 80px)
         flex-basis calc(33.33% - 80px)
         margin-bottom 60px
      }
   }
   &__item {
      &-side {
         margin-bottom 30px
      }
      &-title {
         font-size 14px
         line-height (26 / 14)
         padding-left 30px
         box-sizing border-box
         position relative
         &:before {
            content ''
            position absolute
            size 10px
            background-color #0DA19C
            left 0
            top 7px
         }
      }
   }
   &__children {
      padding-left 40px
      box-sizing border-box
      &-item {
         opacity 0.7
         margin-bottom 20px
         &:last-child {
            margin-bottom 0
         }
      }
   }
}

+do(1000) {
   .ul-list {
      &__list {
         &-item {
            max-width calc(50% - 80px)
            flex-basis calc(50% - 80px)
         }
      }
   }
}

+do(750) {
   .ul-list {
      &__list {
         &-item {
            max-width calc(100% - 80px)
            flex-basis calc(100% - 80px)
         }
      }
   }
}

.ul-line {
   li {
      font-size 14px
      line-height (26/14)
      font-weight 400
      margin-bottom 30px
      &:before {
         top 13px
         width 12px
         height 1px
         background #A9A9AB
      }
   }
}
