.update-system {
  &__wrapper {
    display flex
    margin 0 -10px
    margin-bottom -10px
    flex-wrap wrap
  }
  &__side {
    margin-left 30px
    margin-right 30px
    margin-bottom 10px
  }
  &__main {
    margin-left 30px
    margin-right 30px
    margin-bottom 10px
  }
  img {
    max-width 100%
  }
}
