.vacancies {
   &__list {
      display flex
      flex-wrap wrap
      margin-right -10px
      margin-left -10px
      margin-bottom -20px
      &-item {
         margin-right 10px
         margin-left 10px
         margin-bottom 20px
         flex 1
         max-width calc(25% - 20px)
         flex-basis calc(25% - 20px)
         display flex
      }
   }
   &_row_top {
      margin-top -34px
      position relative
      z-index 20
   }
}

.vacancy {
   box-sizing border-box
   padding 34px
   border: 2px solid #E2E3EA
   background-color white
   min-height 400px
   display flex
   font-size 14px
   line-height (26 / 14)
   &__wrapper {
      display flex
      flex 1
      flex-direction column
   }
   &__title {
      flex 0 1 auto
      max-height (2 * (28 / 18)) * 1em
      overflow hidden
      text-overflow ellipsis
      font-weight 600
      line-height (28 / 18)
      font-size 18px
      margin-bottom 20px
   }
   &__desc {
      flex 1
      margin-bottom 30px
      max-height 100%
      overflow hidden
   }
   &__tag {
      flex 0 1 auto
      color rgba(39, 38, 43, 0.6);
   }
}

+do(1200) {
   .vacancies {
      &__list {
         &-item {
            max-width calc(33.33% - 20px)
            flex-basis calc(33.33% - 20px)
         }
      }
   }
   .vacancy {
      min-height 340px
   }
}

+do(1000) {
   .vacancies {
      &__list {
         &-item {
            max-width calc(50% - 20px)
            flex-basis calc(50% - 20px)
         }
      }
   }
   .vacancy {
      min-height 340px
   }
}

+do(750) {
   .vacancies {
      &__list {
         &-item {
            max-width calc(100% - 20px)
            flex-basis calc(100% - 20px)
         }
      }
   }
   .vacancy {
      min-height 0
      padding 20px
   }
}