.owl-carousel .owl-nav {
   position absolute
   top 35%
   left 0
   width 100%
   z-index 10
   display flex
   flex-wrap wrap
   justify-content space-between
   z-index -1
   button.owl-next, button.owl-prev {
      size 60px
      border 2px solid #CFD0DC
      box-sizing border-box
      background $color-white
      position relative
      cursor pointer
      outline none
      &:before {
         content ''
         position absolute
         top 50%
         left 50%
         display block
         transform translate(-50%, -50%)
         transition transform .1s linear
      }
      &:active {
         background-color $color-blue
      }
      &:hover {
         background-color $color-blue-light
         border-color $color-blue-light
      }
   }
   button.owl-next {
      margin-right -15%
      &:before {
         svg('arrow-right-direction', 25px, $color-blue-light)
      }
      &:hover {
         &:before {
            svg-color('arrow-right-direction', white)
         }
      }
      &:active {
         &:before {
            transform translate(calc(-50% + 5px), -50%)
         }
      }
   }
   button.owl-prev {
      margin-left -15%
      &:before {
         svg('arrow-left-direction', 25px, $color-blue-light)
      }
      &:hover {
         &:before {
            svg-color('arrow-left-direction', white)
         }
      }
      &:active {
         &:before {
            transform translate(calc(-50% - 5px), -50%)
         }
      }
   }
}

+do(1350) {
   .owl-carousel .owl-nav {
      button.owl-next {
         margin-right -80px
      }
      button.owl-prev {
         margin-left -80px
      }
   }
}
+do(900) {
   .owl-carousel .owl-nav {
      display none
   }
}


