
.article-widgets {
   box-sizing border-box
   margin-left auto
   margin-right auto
   min-width 280px
   max-width 960px
   & p {
      font-family $font-roboto
      font-size 14px
      line-height (26 / 14)
      color $color-blue-ndark
      margin-bottom 26px
      &:last-child {
         margin-bottom 12px
      }
   }
   & ul {
      & li {
         position relative
         margin-bottom 35px
         margin-top 35px
         padding-left 50px
         font-family $font-roboto
         font-size 14px
         line-height (26 / 14)
         color $color-blue-ndark
         font-weight 400
         &:before {
            content ''
            display block
            position absolute
            left 0
            top 13px
            width 10px
            height 10px
            background-color $color-blue-tlight
         }
      }
   }
   & h3 {
      margin-bottom 34px
      font-family $font-manrope
      font-size 22px
      line-height (30 / 22)
      color $color-blue-xxdark
      font-weight 500
      letter-spacing 0.0025em
      margin-top 60px
   }
   & h2 {
      margin-bottom 34px
      font-family $font-manrope
      font-size 32px
      line-height (36 / 32)
      color $color-blue-xxdark
      font-weight 700
      letter-spacing 0.0025em
      margin-top 60px
   }
}
.article-widget {
   flex 1
   box-sizing border-box
   &_image {
      margin-top 50px
      margin-bottom 68px
      display flex
      flex-direction column
      .article-img {
         box-shadow 0 20px 40px rgba(5, 11, 36, .06)
         display inline-grid
         &_photo {
            width 100%
            height auto
            border 0
         }
      }
      .article-explanation {
         font-family $font-roboto
         font-size 14px
         line-height (24 / 14)
         color $color-grey-idark
         margin-top 46px
         padding-bottom 40px
         border-bottom 2px solid rgba(204, 203, 206, .2)
         margin-bottom -4px
      }
   }
   //&_text {
   //   margin-bottom 62px
   //   & p {
   //      font-family $font-roboto
   //      font-size 14px
   //      line-height (26 / 14)
   //      color $color-blue-ndark
   //      margin-bottom 26px
   //      &:last-child {
   //         margin-bottom 12px
   //      }
   //   }
   //   & ul {
   //      & li {
   //         position relative
   //         margin-bottom 35px
   //         margin-top 35px
   //         padding-left 50px
   //         font-family $font-roboto
   //         font-size 14px
   //         line-height (26 / 14)
   //         color $color-blue-ndark
   //         font-weight 400
   //         &:before {
   //            content ''
   //            display block
   //            position absolute
   //            left 0
   //            top 13px
   //            width 10px
   //            height 10px
   //            background-color $color-blue-tlight
   //         }
   //      }
   //   }
   //}
   &_explanation {
      font-family $font-roboto
      font-size 14px
      line-height (24 / 14)
      color $color-grey-idark
      margin-top 6px
   }
   &_slider {
      margin-top 60px
      .article-slider {
         &__wrapper {
            position relative
         }
         &__list {
            padding-bottom 40px
            border-bottom 2px solid rgba(204, 203, 206, .2)
            margin-bottom 50px
         }
         &__item {
            //box-shadow 0 20px 40px rgba(5, 11, 36, .06)
            &-slide {
               margin-bottom 40px
               & img {
                  width 100%
                  height auto
                  border 0
               }
            }
         }
         &__description {
            display flex
            &-counter {
               font-family $font-manrope
               font-size 22px
               line-height (24 / 22)
               font-weight 500
               color $color-blue-tlight
               min-width 50px
               background-color $color-white
               padding-top 5px
            }
            &-text {
               padding-left 38px
               font-family $font-roboto
               font-size 14px
               line-height (24 / 14)
               color $color-grey-idark
               font-weight 400
               min-height (24 / 14) * 2em
            }
         }
      }
   }
   &_video {
      margin-bottom 45px
      margin-top 50px
      iframe {
         position absolute
         top 0
         left 0
         width 100%
         height 100%
      }
   }
   &_quote {
       padding-bottom 40px
       margin-bottom 47px
       margin-top 60px
       border-bottom 2px solid rgba(204, 203, 206, .2)
       .article-quote {
          &_text {
             margin-bottom 34px
             font-family $font-manrope
             font-size 18px
             line-height (30 / 18)
             color $color-blue-ndark
             font-weight 700
             padding-left 50px
             position relative
             letter-spacing 0.003em
             transition .3s linear
             &:before {
                content '«'
                position absolute
                top -36px
                left -45px
                font-family $font-manrope
                font-size 80px
                line-height (94 / 80)
                color $color-blue-tlight
                transition .3s linear
             }
          }
          &_author {
             padding-left 50px
             font-family $font-manrope
             font-size 16px
             line-height (24 / 16)
             color $color-blue-ndark
             font-weight 400
             margin-bottom 4px
          }
          &_description {
             padding-left 50px
             font-family $font-roboto
             font-size 14px
             line-height (26 / 14)
             color $color-grey-idark
             font-weight 400
          }
       }
    }
}
+do(1420) {
   .article-widgets {
      padding-left 30px
      padding-right 30px
   }
}
+do(1350) {
   .article-widget {
      &_slider {
         margin-left 80px
         margin-right 80px
      }
      &_quote {
         .article-quote {
            &_text {
               font-size 16px
               &:before {
                  left -20px
               }
            }
         }
      }
   }
}
+do(900) {
   .article-widget {
      &_slider {
         margin-left 0px
         margin-right 0px
      }
   }
}
+do(750) {
   .article-widgets {
      padding-left 20px
      padding-right 20px
   }
   .article-widget {
      &_quote {
         .article-quote {
            &_text {
               padding-left 25px
               &:before {
                  font-size 40px
                  top -20px
                  left -15px
               }
            }
         }
      }
   }
}
+do(500) {
   .article-widget {
      &_slider {
         .article-slider {
            &__description {
               &-counter {
                  display none
               }
               &-text {
                  padding-left 0px
               }
            }
         }
      }
   }
   .article-widgets {
      & h3 {
         margin-top 50px
      }
      & h2 {
         font-size 30px
         margin-top 50px
      }
      & ul {
         & li {
            margin-bottom 20px
            margin-top 20px
            padding-left 25px
            &:before {
               width 5px
               height 5px
            }
         }
      }
   }
   .article-widget {
      &_slider {
         margin-top 50px
      }
      &_image {
         margin-bottom 50px
      }
      &_text {
         margin-bottom 50px
      }
      &_quote {
         .article-quote {
            margin-top 50px
            &_text {
               padding-left 25px
               &:before {
                  font-size 40px
                  top -20px
               }
            }
            &_author {
               padding-left 25px
            }
            &_description {
               padding-left 25px
            }
         }
      }
   }
}