.ya-share2 {
   &__item {
      padding-left 0px
      &:before {
         display: none;
         width 0px
         height 0px
         left 0px
         top 0px
      }
   }
}

.ya-share2.ya-share2_inited {
   margin-right -10px
}

.ya-share2 .ya-share2__badge {
   width 40px
   height 40px
   border-radius 50%
   transition background .1s linear
}

.ya-share2 .ya-share2__item_service_facebook {
   .ya-share2__badge {
      background $color-facebook
   }
   .ya-share2__icon {
      svg('facebook', 17px, white, center center)
   }
}

.ya-share2 .ya-share2__item_service_twitter {
   .ya-share2__badge {
      background $color-twitter
   }
   .ya-share2__icon {
      svg('twitter', 18px, $color-white, center center)
   }
}

.ya-share2 .ya-share2__item_service_vkontakte {
   .ya-share2__badge {
      background $color-vk
   }
   .ya-share2__icon {
      svg('vk', 20px, $color-white, center center)
   }
}

.ya-share2 .ya-share2__item_service_odnoklassniki {
   .ya-share2__badge {
      background $color-ok
   }
   .ya-share2__icon {
      svg('odnoklassniki', 18px, $color-white, center center)
   }
}
.ya-share2 .ya-share2__item_service_moimir{
   .ya-share2__icon {
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
   }
}

.ya-share2 .ya-share2__item_service_linkedin {
   .ya-share2__badge {
      background #0077b5
   }
   .ya-share2__icon {
      svg('linkedin', 15px, white, center center)
   }
}

.ya-share2 .ya-share2__item_service_viber {
   .ya-share2__badge {
      background #59267c
   }
   .ya-share2__icon {
      svg('viber', 18px, white, center center)
   }
}

.ya-share2 .ya-share2__item_service_whatsapp {
   .ya-share2__badge {
      background #075e54
   }
   .ya-share2__icon {
      svg('whatsapp', 20px, white, center center)
   }
}

.ya-share2 .ya-share2__item_service_skype {
   .ya-share2__badge {
      background #00aff0
   }
   .ya-share2__icon {
      svg('skype', 20px, white, center center)
   }
}

.ya-share2 .ya-share2__item_service_telegram {
   .ya-share2__badge {
      background #0088cc
   }
   .ya-share2__icon {
      svg('telegram', 20px, white, center center)
   }
}

+do(1000) {
   .ya-share2.ya-share2_inited {
      margin-right 0
   }
}
